.nco-scheduler-component {
    .nco-scheduler-list {
        table th {
            font-size: 1.2em;
            border: 1px solid gray;
            padding: 5px;
            background: white;
        }
        table td {
            border: 1px solid gray;
            border-top: none;
            padding: 5px;
            margin-bottom: 5px;
            background: #eee;
        }
        .date-start .date-end {
            width: 7%;
        }
        .event-title-prj {
            width: 43%;
        }
        .event-desc {
            width: 43%;
        }
    }
}
