<div ng-if="data.notifications">
    <div class="alert alert-info">
      <h4>Coming soon!</h4>
      <p>
        Notifications will have action links to be able to jump to relevant pages to
        act on the notification.
      </p>
    </div>

    <ul class="list-group">
      <!-- {% for x in notifications %} -->
        <li class="list-group-item {% if x.read %} text-muted {% else %} text-info {% endif %}"
            ng-repeat="x in data.notifications"
            ng-class="{
              'text-muted': x.read===true,
              'text-info': x.read===false
            }">
            {{x}}
        <form id="delete_{{x.id}}" method="post" action ="{% url 'designsafe_notifications:delete_notification' %}">
          {% csrf_token %}
          <input name="id" type="hidden" value="{{x.pk}}">
          <button name="delete" value="delete" type="submit">Delete</button>
        </form>
          <dl class="dl-horizontal">
            <dt>Type</dt>
            <dd>{{ x.fields.event_type }}</dd>
            <dt>Time</dt>
            <dd>{{x.fields.notification_time|date:'Y-m-d H:i'}}</dd>

            <div ng-if="x.fields.event_type=='job'">
              <dt>Job name</dt>
              <dd>{{x.fields.body.job_name}}</dd>

              <dt>Status</dt>
              <dd>{{x.fields.body.status}}</dd>

              <dt>Archive path</dt>
              <dd>{{x.fields.body.archive_path}}</dd>
            </div>

            <dt>Raw message</dt>
            <dd>
              <p><button type="button" name="toggle-raw-message" class="btn btn-xs btn-default">Click to view</button></p>
              <p class="hide">{{x}}</p>
            </dd>
          </dl>
        </li>
      {% endfor %}
    </ul>
</div>

<div ng-if="!data.notifications" class="jumbotron text-center">
  <i class="fa fa-bell fa-2x text-muted"></i>
  <h2>No unread notifications.</h2>
  <p>
    You have no unread notifications.
    <a href="{% url 'designsafe_accounts:manage_notifications' %}">Click here</a>
    to manage you notification settings.
  </p>
</div>
