<div ng-if="data.notifications.length">
    <div class="alert alert-info">
      <h4>Coming soon!</h4>
      <p>
        Notifications will have action links to be able to jump to relevant pages to
        act on the notification.
      </p>
    </div>

    <a name="delete_all" ng-click="delete('all')">Delete All</a>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="x in data.notifications">
          <a name="delete" ng-click="delete(x.pk)">Delete</a>
          <div ng-class="(x.fields.read) ? 'text-muted' : 'text-info'">
            <dl class="dl-horizontal">
              <dt>Type</dt>
              <dd>{{ x.fields.event_type }}</dd>
              <dt>Time</dt>
              <dd>{{x.fields.notification_time| date:'yyyy-MM-dd HH:mm:ss Z'}}</dd>
              <div ng-repeat="item in x.fields.body.html">
                <div ng-repeat="(key, val) in item">
                  <dt>{{key}}</dt>
                  <dd>{{val}}</dd>
                </div>
              </div>

              <!--
              <div ng-if="x.fields.event_type=='job'">
                <dt>Job name</dt>
                <dd>{{x.fields.body.job_name}}</dd>

                <dt>Status</dt>
                <dd>{{x.fields.body.status}}</dd>

                <dt>Archive path</dt>
                <dd>{{x.fields.body.archive_path}}</dd>
              </div>
                -->
              <dt>Raw message</dt>
              <dd>
                <p><button ng-click="showRawMessage = !showRawMessage" type="button" name="toggle-raw-message" class="btn btn-xs btn-default">Click to view</button></p>
                <p ng-show="showRawMessage">{{x}}</p>
              </dd>
            </dl>
            <div ng-if="x.fields.body.action_link">
              <a href="{{x.fields.body.action_link.value}}" target="_blank" class="btn btn-primary">{{x.fields.body.action_link.label}}</a>
            </div>
          </div>
        </li>
    </ul>
</div>

<div ng-if="!data.notifications.length" class="jumbotron text-center">
  <i class="fa fa-bell fa-2x text-muted"></i>
  <h2>No unread notifications.</h2>
  <p>
    You have no unread notifications.
    <a href="{% url 'designsafe_accounts:manage_notifications' %}">Click here</a>
    to manage you notification settings.
  </p>
</div>
