.top-row { display: flex; }

.title-intro-box { flex: 1; }

.title-intro-box h1 { margin-bottom: 5px; }

.title-intro-box h3 {
    margin-top: 0px;
    margin-bottom: 25px;
}

.top-action-box {
    margin-left: 100px;
    margin-top: 75px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h3.top-action-title {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 25px;
}

a.top-action {
    margin: 25px !important;
    font-size: 1.1em;
}

div.top-action-icon {
    width: 60px;
    height: 60px;
    float: left;
    margin: 0px 7px 3px 0px;
}

hr.top-line { margin-top: 40px; }

hr.mid-line { margin-top: 100px; }

.phase-diagram {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block; }

.phase-title:first-of-type { margin-top: 25px; }

.phase-text {
    margin-left: 40px;
    margin-bottom: 25px;
}

hr.bottom-line {
    margin-top: 25px;
    margin-bottom: 25px;
}

.pdf-link { margin-top: 25px; }

.bottom-row { display: flex; }

.bottom-left {
    flex: 1;
    margin-right: 25px;
}