<div class="row">
        <div class="col-sm-3">
            <h3> Refine By: </h3>
            <div class="list-group">
                <a class="list-group-item" 
                    uib-tooltip="Search in Published Projects, Community Data, and Web Content."
                    ng-class='{"active": $ctrl.data.type_filter == "all"}' 
                    ng-click='$ctrl.filter("all")'> All Results
                    <span class="badge" ng-show='$ctrl.data.search_results.all_total'> {{ $ctrl.data.search_results.all_total }}</span>
                </a>
                <a class="list-group-item" 
                    uib-tooltip="Search projects published on DesignSafe."
                    ng-class='{"active": $ctrl.data.type_filter == "published"}' 
                    ng-click='$ctrl.filter("published")'> Published Projects
                    <span class="badge" ng-show='$ctrl.data.search_results.published_total'> {{ $ctrl.data.search_results.published_total }}</span>
                </a>
                <a class="list-group-item" 
                    uib-tooltip="Search files published on DesignSafe."
                    ng-class='{"active": $ctrl.data.type_filter == "published_files"}' 
                    ng-click='$ctrl.filter("published_files")'> Published Files
                    <span class="badge" ng-show='$ctrl.data.search_results.published_files_total'> {{ $ctrl.data.search_results.published_files_total }}</span>
                </a>
                <a class="list-group-item" 
                    uib-tooltip="Search all publicly available files."
                    ng-class='{"active": $ctrl.data.type_filter == "public_files"}' ng-click='$ctrl.filter("public_files")'> Public Files
                    <span class="badge" ng-show='$ctrl.data.search_results.public_files_total'> {{ $ctrl.data.search_results.public_files_total }}</span>
                </a>
                <a class="list-group-item" 
                    uib-tooltip="Search DesignSafe web content (news, tutorials, etc.)"
                    ng-class='{"active": $ctrl.data.type_filter == "cms"}' ng-click='$ctrl.filter("cms")'> Web Content
                    <span class="badge" ng-show='$ctrl.data.search_results.cms_total'> {{ $ctrl.data.search_results.cms_total }}</span>
                </a>
            </div>
            <div style="text-align:center;">
                <a ng-click="$ctrl.help()">
                    <i role="none" class="fa fa-question-circle"></i> Help with Search
                </a>
            </div>
        </div>
        <div class="col-sm-9">
            <form ng-submit='$ctrl.search_browse()' role="search">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                    <span ng-show="!$ctrl.searching"><i class="fa fa-search" role="none" ng-show="!$ctrl.searching"> </i></span>
                    <span ng-show="$ctrl.searching"><i class="fa fa-spinner fa-spin" > </i></span>
                    </span>
    
                    <input ng-model="$ctrl.data.search_text"
                           placeholder="Search Designsafe"
                           aria-label="Search Designsafe"
                           class="form-control"
                           id="main_search_input"
                          >
                          
                </div>
            </form>
            <br>
            <!-- <div class="well well-sm">
                Sort by:
               <button class="btn btn-xs btn-primary"> Relevance </button>
               <button class="btn btn-xs"> Date: High to Low </button>
               <button class="btn btn-xs"> Date: Low to High </button>
               <div class="button-group pull-right">
                 <label class="btn btn-xs btn-default" ng-model='filetype_filter' uib-btn-radio="'all'"> All  </label>
                 <label class="btn btn-xs btn-default" ng-model='filetype_filter' uib-btn-radio="'image'"> Images  </label>
                 <label class="btn btn-xs btn-default" ng-model='filetype_filter' uib-btn-radio="'video'"> Video  </label>
              </div>
            </div> -->
            <div ng-show = '$ctrl.data.search_results.hits.length === 0'>
              <div class="alert alert-danger">
                <h3> Nothing found in {{$ctrl.prettyFilterName[$ctrl.data.type_filter]}}! </h3>
              </div>
            </div>
            <div ng-show = '$ctrl.data.search_results.hits.length'>
                <div ng-repeat = "hit in $ctrl.data.search_results.hits">
                    <search-listing data="hit"></search-listing>
                </div>
            </div>
            <div class="row" ng-if="$ctrl.data.search_results.all_total > $ctrl.results_per_page">
                <div class="col-md-3">
                  <button class="btn btn-default pull-left"
                    ng-click="$ctrl.prev()"
                    ng-disabled="$ctrl.page_num === 0">
                    <i role="none" class="fa fa-chevron-left"></i> Prev
                  </button>
                </div>
                <div class="col-md-6">
                  <div class="text-center">
                    <span class="badge"> {{$ctrl.page_num + 1}} / {{ $ctrl.max_pages }} </span>
                  </div>
                </div>
                <div class="col-md-3">
                  <button class="btn btn-default pull-right"
                    ng-click="$ctrl.next()"
                    ng-disabled="$ctrl.page_num + 1 === $ctrl.max_pages">
                    <i role="none" class="fa fa-chevron-right"></i> More
                  </button>
                </div>
            </div>
        </div>
    </div>
    