<div class="project">
    <div ng-if="data.project" class="project-detail" style="background:white;">
      <!-- Project Header Start -->
      <div>
        <span class="prj-head">{{data.project.value.projectId}} | <strong>{{ data.project.value.title }}</strong></span>
        <a ng-click="editProject($event)">Edit Project</a>
        <div class="prj-row">
          <span class="prj-label">PI</span>
          <ds-user class="prj-data" username="data.project.value.pi" format="lname">{{ data.project.value.pi }}</ds-user>
        </div>
        <div class="prj-row">
          <span class="prj-label" ng-if="data.project.value.coPis.length">CoPI</span>
          <span class="prj-data" format="lname" ng-repeat="copi in data.project.value.coPis">
            <ds-user class="prj-data" username="copi" format="lname">{{ copi }}</ds-user>
          </span>
          <span ng-repeat="user in publicationCtrl.filterUsers(data.project.value.coPis) | orderBy: ['_ui.order', 'last_name']"></span>
        </div>
        <div class="prj-row">
          <span class="prj-label">Project Type</span>
          <span class="prj-data">{{ data.project.value.projectType.replace('_', ' ') }}</span>
        </div>
        <table class="tg" style="table-layout: fixed; width: 100%;">
          <colgroup>
            <col style="width: 15%">
            <col style="width: 84%">
          </colgroup>
          <!-- older projects will have awards listed as strings -->
          <tr ng-if="isSingle(data.project.value.awardNumber)">
            <td class="tg-0lax">Awards</td>
            <td class="tg-0lax"><strong>{{ data.project.value.awardNumber }}</strong></td>
          </tr>
          <tr ng-if="!isSingle(data.project.value.awardNumber)" ng-repeat="award in data.project.value.awardNumber track by $index">
            <td class="tg-0lax" ng-if="$first">Awards</td>
            <td class="tg-0lax" ng-if="!$first"></td>
            <td class="tg-0lax"><strong>{{ award.name }} - {{ award.number }}</strong></td>
          </tr>
          <tr ng-repeat="work in data.project.value.associatedProjects">
            <td class="tg-0lax" ng-if="$first">Related Work</td>
            <td class="tg-0lax" ng-if="!$first"></td>
            <td class="tg-0lax"><strong>{{ work.title }} | <a>{{ work.href }}</a></strong></td>
          </tr>
        </table>
        <div class="prj-row">
          <span class="prj-label" ng-if="data.project.value.keywords">Keywords</span>
          <span class="prj-data">{{ data.project.value.keywords }}</span>
        </div>
        <div ng-if="data.project.value.description">
          <p>{{ data.project.value.description }}</p>
        </div>
      </div>
      <!-- Project Header End -->
      <div style="width:100%; max-width: 100%;" role="group" aria-label="Listing views" ng-if="!state.publishPipeline">
        <table class="tg" style="table-layout: fixed; width: 100%;">
          <colgroup>
            <col style="width: 49%">
            <col style="width: 50%">
          </colgroup>
          <tr>
            <td class="tg-0lax">
              <button class="btn btn-project-l" ng-click="showListing()" ng-class="{'grayed-out': !state.showMainListing}">
                Working Directory</button>
              <button class="btn btn-project-m" ng-click="_()" ng-class="{'grayed-out': !state.showCurationListing}" ng-disabled="data._">
                Curation Directory*</button>
              <button class="btn btn-project-r" ng-click="showPreview()" ng-class="{'grayed-out': !state.showPreviewListing}"
                ng-disabled="data.loadingEntities">
                Publication Preview</button>
            </td>
            <td class="tg-0lax">
              <div ng-hide="state.showPreviewListing && !state.publishPipeline">
                <span style="padding:10px; font-weight:bold;">1
                  <a  ng-disabled="data.loadingEntities"
                      ng-click="manageExperiments($event)"
                      ng-if="data.project.value.projectType === 'experimental'"> Add Experiments</a>
                  <a  ng-disabled="data.loadingEntities"
                      ng-click="manageSimulations($event)"
                      ng-if="data.project.value.projectType === 'simulation'"> Add Simulations</a>
                  <a  ng-disabled="data.loadingEntities"
                      ng-click="manageHybridSimulations($event)"
                      ng-if="data.project.value.projectType === 'hybrid_simulation'"> Add Hybrid Simulations</a>
                </span>
                <span style="padding:10px; font-weight:bold;">|</span>
                <span style="padding:10px; font-weight:bold;">2
                  <a ng-disabled="data.loadingEntities" ng-click="manageCategories($event)"> Add Categories</a>
                </span>
                <span style="padding:10px; font-weight:bold;">|</span>
                <span style="padding:10px; font-weight:bold;">3 <a>Construct Tree</a></span>
              </div>
              <div  class="btn-group pull-right"
                    role="group"
                    aria-label="Publish buttons"
                    ng-if="state.showPreviewListing && !state.publishPipeline">
                <button class="btn btn-add" ng-click="publishPipeline_start()">
                  Prepare to Publish <i class="fa fa-arrow-right"></i>
                </button>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <br>
      <button ng-click="workingDirectory()">
        TEST | Working Directory
      </button>
      <button ng-click="curationDirectory()">
        TEST | Curation Directory
      </button>
      <button ng-click="publicationPreview()">
        TEST | Publication Preview
      </button>
      <div class="alert alert-danger" ng-if="(state.publishPipeline == 'select' || state.publishPipeline == 'review') && state.missing.length > 0">
        <strong>The following categories do not have associated data:</strong>
        <div ng-repeat="missing in state.missing">
          <span ng-if="missing.model">The category "{{missing.model}}" within the {{missing.type}} "{{missing.title}}" has no
            categorized files.</span>
          <span ng-if="!missing.model"> A category for {{missing.missingSet}} has not been created. </span>
        </div>
        <a href="https://www.youtube.com/watch?v=AZFwNNRj-MI&list=PL2GxvrdFrBlkwHBgQ47pZO-77ZLrJKYHV" target="_blank">
          <i class="fa fa-question-circle"></i> Learn More
        </a>
      </div>

        <div style="text-align:center;"
             ng-class="{'pull-right': !state.publishPipeline}">
          <div class="btn-group pull-left" role="group" aria-label="Exit Publish"
               ng-if="state.publishPipeline">
            <button class="btn btn-danger"
                  ng-click="publishPipeline_exit()">
                  <i class="fa fa-sign-out"></i>Exit Publishing
            </button>
          </div>
          <div style="width:50%; margin:auto; display:inline-block;" ng-if="state.publishPipeline">
            <button class="btn btn-default"
                    ng-click="publishPipeline_prev(state.publishPipeline)"
                    ng-if="state.publishPipeline!='select'">
             <i class="fa fa-arrow-left"></i> Previous
            </button>
            <div class="wizard-steps" style="display:inline-block;">
              <span class="steps"
                    ng-class="{'active': state.publishPipeline=='select'}">
                    Selection</span>
              <span class="line">
               --
              </span>
              <span class="review"
                    ng-class="{'active': state.publishPipeline=='review'}">
                    Review
              </span>
              <span class="line">
               --
              </span>
              <span class="edit-info"
                    ng-class="{'active': state.publishPipeline=='meta'}">
                    Metadata
              </span>
               --
              <span class="edit-info"
                    ng-class="{'active': state.publishPipeline=='agreement'}">
                    Agreement
              </span>
            </div>
            <button class="btn btn-default pull-right"
                    ng-click="publishPipeline_next(state.publishPipeline)"
                    ng-if="state.publishPipeline!='agreement'">
             Next <i class="fa fa-arrow-right"></i>
            </button>
          </div>
          <div class="btn-group pull-right" role="group" aria-label="Publish buttons"
               ng-if="state.publishPipeline == 'agreement'">
            <button id="requestAndPublish" class="btn btn-danger"
                    ng-click="publishPipeline_publish()"
                    ng-disabled="!state.publishAgreement ||
                                 state.project.publicationStatus === 'publishing' ||
                                 data.project.publicationStatus == 'published'">
                Request DOI & Publish <i class="fa fa-check"></i>
            </button>
          </div>
        </div>
        <div class="alert alert-danger"
             style="margin-top:20px;"
             ng-if="data.project.publicationStatus == 'publishing' ||
                    data.project.publicationStatus == 'published'">
          <p>This project has been published. The project and all its selected files have been copied to the read-only Published area of the Data Depot.</p>
        </div>
        <div class="alert alert-warning"
             style="margin-top:20px;"
             ng-if="ui.publicationMessages.length">
          <ul>
            <li ng-repeat="message in ui.publicationMessages">
              Error in {{message.title}}: {{message.message}}
            </li>
          </ul>
          <p>{{ui.publicationMessage}}</p>
        </div>
    </div>

    <div ng-if="! data.project">
        <p class="lead text-center">
            <i class="fa fa-spinner fa-spin"></i> Loading Project Details...
        </p>
    </div>
    <ui-view class="project-data"></ui-view>
</div>
