<div class="project">
  <div ng-if="$ctrl.browser.project" class="project-detail" style="background:white;">
    <!-- Project Header Start -->
    <div>
      <div>
        <span class="prj-head">{{$ctrl.browser.project.value.projectId}} | <strong>{{ $ctrl.browser.project.value.title }}</strong></span>
        <a class="edit-link" ng-click="$ctrl.editProject($event)">Edit Project</a>
      </div>
      <table style="table-layout: fixed; width: 100%; margin-top: 10px; margin-bottom: 10px;">
        <colgroup>
          <col style="width: 15%">
          <col style="width: 84%">
        </colgroup>
        <tr class="prj-row">
          <td>PI</td>
          <td><ds-user class="prj-data" username="$ctrl.browser.project.value.pi" format="lname">{{ $ctrl.browser.project.value.pi }}</ds-user></td>
        </tr>
        <tr ng-if="$ctrl.browser.project.value.coPis.length">
          <td>CoPIs</td>
          <td class="prj-data">
            <ds-user-list usernames="$ctrl.browser.project.value.coPis"></ds-user-list>
          </td>
        </tr>
        <tr class="prj-row" ng-hide="$ctrl.browser.project.value.projectType === 'other' && $ctrl.browser.project.value.dataType">
          <td>Project Type</td>
          <td class="prj-data">{{ $ctrl.browser.project.value.projectType.replace('_', ' ') }}</td>
        </tr>
        <tr class="prj-row" ng-if="$ctrl.browser.project.value.projectType === 'other' && $ctrl.browser.project.value.dataType">
          <td>Data Type</td>
          <td class="prj-data">{{ $ctrl.browser.project.value.dataType }}</td>
        </tr>
        <!-- older projects will have awards listed as strings -->
        <tr ng-if="$ctrl.isSingle($ctrl.browser.project.value.awardNumber) && $ctrl.browser.project.value.awardNumber.length">
          <td>Awards</td>
          <td><strong>{{ $ctrl.browser.project.value.awardNumber.join("") }}</strong></td>
        </tr>
        <tr ng-if="!$ctrl.isSingle($ctrl.browser.project.value.awardNumber)" ng-repeat="award in $ctrl.browser.project.value.awardNumber track by $index">
          <td ng-if="$first">Awards</td>
          <td ng-if="!$first"></td>
          <td><strong>{{ award.name }} - {{ award.number }}</strong></td>
        </tr>
        <tr ng-repeat="work in $ctrl.browser.project.value.associatedProjects">
          <td ng-if="$first">Related Work</td>
          <td ng-if="!$first"></td>
          <td><strong>{{ work.title }} | <a href="{{ work.href }}" target=”_blank”>{{ work.href }}</a></strong></td>
        </tr>
        <tr class="prj-row">
          <td ng-if="$ctrl.browser.project.value.keywords">Keywords</td>
          <td class="prj-data">{{ $ctrl.browser.project.value.keywords }}</td>
        </tr>
      </table>
      <div ng-if="$ctrl.browser.project.value.description">
        <p>{{ $ctrl.browser.project.value.description }}</p>
      </div>
    </div>
    <!-- Project Header End -->
    <div style="width:100%; max-width: 100%;" role="group" aria-label="Listing views">
      <table class="tg" style="table-layout: fixed; width: 100%;">
        <colgroup>
          <col style="width: 46%">
          <col style="width: 50%">
        </colgroup>
        <tr>
          <td>
            <button class="btn btn-project-l" ng-click="$ctrl.workingDirectory()">
              Working Directory</button>
            <button class="btn btn-project-m grayed-out"
                    ng-click="$ctrl.curationDirectory()"
                    ng-if="$ctrl.browser.project.value.projectType !== 'other'">
              Curation Directory</button>
            <button class="btn btn-project-r grayed-out" ng-click="$ctrl.publicationPreview()">
              Publication Preview</button>
          </td>
          <td>
          </td>
        </tr>
      </table>
    </div>
    <br>
  </div>
    <ui-view class="project-data"></ui-view>
</div>
