
#map_container {
  display: flex;
  min-height: 100vh;
}

#geo_sidebar {
  width: 20%;
  float: left;
  flex: 0 0 230px;
  background: #364251;
  color: #d0d0d0;
  border-right: 1px solid #d3d3d3;
  flex-direction: column;
  display: flex;
}

#geo_map {
  width: 80%;
  flex: 1;
  background: grey;
}

#geo_sidebar .list-group-item {
  background-color: #364251;
  border-bottom: 1px solid #707070;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  margin-top: 1px;
  cursor: pointer;
}

#geo_sidebar .list-group-item.save {
  background-color: #379ba0;
}

#geo_sidebar .current-layer-details {
  bottom: 0;
  flex-grow: 1;
  vertical-align: bottom;
  display: flex;
  flex-direction: column-reverse;
}

.current-layer-details table {
  background: #f0f0f0;
  color: #6b6a6a;
  margin-bottom: 0px;
}
