.session-modal-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  min-height: 225px;
  & > * {
    margin: 0.4rem;
  }
}

.url {
  color: grey;
  font-style: italic;
}

.icon {
  margin-left: 10px;
}
