{% load cms_tags static sekizai_tags menu_tags recaptcha2 %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="google-site-verification" content="GIow5qfMulVcOVKJqGss0mSkxwycFBzgCk2aouypsfo" />
      <title>{% block title %}{% page_attribute "page_title" %}{% endblock %} | DesignSafe-CI</title>
      <meta name="viewport" content="width=device-width">
      <meta name="description" content="{{description}}">
      {% if ds_environment != 'default' %}
      <meta name="robots" content="noindex">
      {% endif %}

      <link rel="icon" href="{% static 'favicon.ico' %}">
      {% if 'designsafe.storage.published' in request.get_full_path %}
      <link rel="canonical" href="https://www.designsafe-ci.org/data/browser/public/designsafe.storage.published/{{projectId}}">
      {% elif 'nees.public' in request.get_full_path %}
      <link rel="canonical" href="https://www.designsafe-ci.org/data/browser/public/nees.public/{{neesId}}">
      {% else %}
      <link rel="canonical" href="https://www.designsafe-ci.org{{request.get_full_path}}">
      {% endif %}
      {% block head_extra %}{% endblock %}
      <!-- styles -->
      <link href="{% static 'vendor/bootstrap-ds/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'vendor/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'vendor/angular-toastr/dist/angular-toastr.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'vendor/slick-carousel/slick/slick.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'vendor/slick-carousel/slick/slick-theme.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'styles/typekit.css' %}" rel="stylesheet" type="text/css">
      <!--<link href="{% static 'styles/main.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'styles/corner-ribbon.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'styles/base.css' %}" rel="stylesheet" type="text/css"> -->
      <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
      <link href="{% static 'vendor/angular-material/angular-material.css' %}" rel="stylesheet">
      <link href="{% static 'styles/ng-designsafe.css' %}" rel="stylesheet">
      <link href="{% static 'styles/app-card.css' %}" rel="stylesheet" type="text/css">
      {% block styles %}{% endblock %}
      {% render_block "css" %}
      {% render_block "react_assets" %}
      <base href="/">
      {% recaptcha_init 'en' %}

      <!-- used in general search -->
      <meta name="keywords" content=""> <!-- related experiements, subject; used in search -->
      <meta name="author" content=""> <!-- author names -->

      <!-- used in google citation -->
      {% block google_citation_meta %}
      <meta name="citation_title" content=""> <!-- project title -->
      <meta name="citation_author" content=""> <!-- author; can have multiple lines -->
      <meta name="citation_author_institution" content=""> <!-- example: University of Texas at Austin-->
      <meta name="citation_publication_date" content=""> <!-- year of publication -->
      <meta name="citation_doi" content=""> <!-- project doi, example: 10.17603/DS28382 -->
      <meta name="citation_keywords" content=""> <!-- project keywords -->
      <meta name="citation_pdf_url" content=""> <!-- pdf url -->
      <meta name="citation_abstract_html_url" content=""> <!-- project url -->
      <meta name="citation_publisher" content="DesignSafe-CI">
      <meta name="citation_language" content="en">
      <meta name="identifier" content="">
      <!--Dublin Core Metatags-->
      <meta name="DC.identifier" content="">
      <meta name="DC.publisher" content="DesignSafe-CI">
      <meta name="DC.title" content="">
      <meta name="DC.date" content="">
      <meta name="DC.language" content="en">
      <meta name="DC.creator" content="">
      <meta name="DC.type" content="dataset">
      {% endblock %}
  </head>
  <body ng-app="designsafe.portal" class="o-site {% block page_class %}{% endblock page_class %}">
    {% cms_toolbar %}
    <div>
        {% include 'includes/header.html' %}
        {% include 'includes/navigation.html' %}
    </div>
    <main class="o-site__body">
        {% include 'includes/messages.html' %}
        {% block breadcrumb %}{% endblock %}
        {% block content %}{% endblock %}
    </main>

    {% block footer %}{% endblock %}
    <div id="toast-container"></div>
    <!-- scripts -->
    <script src="https://www.google.com/recaptcha/api.js"></script>

    <script src="{% static 'vendor/modernizr/modernizr.js' %}"></script>
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-ds/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'vendor/d3/dist/d3.min.js' %}"></script>

    <script src="{% static 'scripts/utils.js' %}"></script>
    <script src="{% static 'scripts/dateinput.js' %}"></script>

    <script src="{% static 'vendor/angular/angular.min.js' %}"></script>
    <script src="{% static 'vendor/js-custom-select/js/customSelect.js' %}"></script>

    <script type="text/javascript" src="{% static 'scripts/ng-modernizr/ng-modernizr.js' %}"></script>
    <script src="<%= htmlWebpackPlugin.files.js %>"></script>

    <script type="text/javascript" src="{% static 'scripts/logging/logger.js' %}"></script>

    <script src="{% static 'vendor/httpi/build/httpi.min.js' %}"></script>
    <script src="{% static 'vendor/d3plus/d3plus.full.min.js' %}"></script>

    {% block scripts %}{% endblock %}
    {% render_block "js" %}
        <script type="text/javascript" src="{% static 'nbviewer/lib/nbv.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/prismjs/prism.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/marked/marked.min.js' %}"></script>
        <script src="{% static 'scripts/navbar.js' %}"></script>


    <script type="text/javascript">
        (function(angular) {
            var django = angular.module('django.context', []);
            django.constant('Django', {
                user: "{{ request.user.username }}",
                first_name: "{{ request.user.first_name }}",
                last_name: "{{ request.user.last_name }}",
                email: "{{ request.user.email }}",
                context: {{ angular_init|default:"{}"|safe }}
            });
        })(angular);

        var userAgent = navigator.userAgent
        if(!(userAgent.includes("Chrome") || userAgent.includes("Firefox") || userAgent.includes("FxiOS") || userAgent.includes("CriOS"))) {
            $("#agentMessage").append("\
                <div class='alert alert-warning'>\
                    <button type='button' class='close' data-dismiss='alert' aria-label='Close'>\
                        <span aria-hidden='true'>&times;</span>\
                    </button>\
                    <p><h4>Unsupported Browser</h4>\
                        Your browser is not supported by DesignSafe.\
                        Please switch to <a href='https://www.google.com/chrome'>Chrome</a>\
                        or <a href='https://www.mozilla.org/en-US/firefox/new/'>Firefox</a>\
                        if you experience issues.\
                    </p>\
                </div>")
        }
    </script>
    <script type="module">
        window.__authenticatedUser__ = "{{request.user.is_authenticated}}" === 'True' && {
            username: "{{request.user.username}}",
            firstName: "{{ request.user.first_name }}",
            lastName: "{{ request.user.last_name }}",
            email: "{{ request.user.email }}",
        };
    </script>

    <script type="module" id="js-open-pdfs-ext-links-new-window">
    import findLinksAndSetTargets from 'https://cdn.jsdelivr.net/gh/TACC/Core-CMS@v3.11.0-alpha.1/taccsite_cms/static/site_cms/js/modules/setTargetForExternalLinks.js';

    const pathsToRedirectsToExternal = [
        '/facilities/simcenter/',
        '/facilities/rapid-facility/',
        '/rw/simcenter-research-tools/',
        '/learning-center/simcenter-learning-tools/',
        '/community/mechs/',
        '/rw/user-guides/',
        '/help/user-guides/',
        '/help/getting-started/',
        '/rw/use-cases/',
        '/faq/',
    ];
    const pathsToPDFs = [
        /\.pdf/
    ];
    // NOTE: Some links have `target="_blank"` even though they should not
    const pathsOfManualNewTabLinks = document.querySelectorAll(
        '[target="_blank"]:not([aria-describedby])'
    );

    /** Adds accessibility attribute to links that open in new tab */
    function supportA11y( link ) {
        const hasA11yNote = link.querySelector('span.sr-only');
        const hasA11yDesc = link.hasAttribute('aria-describedby');

        if ( ! hasA11yNote && ! hasA11yDesc ) {
            link.setAttribute('aria-describedby', 'msg-open-new-window');
            if (window.DEBUG) {
                console.debug(`Link ${link} now has "aria-describedby"`);
            }
        }
    }

    /* To make certain links open in new window, and apply a11y attribute */
    findLinksAndSetTargets({
        pathsToForceSetTarget: [
            ...pathsToRedirectsToExternal,
            ...pathsToPDFs
        ],
        setTargetCallback: supportA11y,
    });

    /* To apply a11y attribute to manual new tab links */
    [ ...pathsOfManualNewTabLinks ].forEach( supportA11y );
</script><!-- https://medium.com/@svinkle/why-let-someone-know-when-a-link-opens-a-new-window-8699d20ed3b1#79b2 -->

    {% include 'includes/analytics.html' %}
  </body>
</html>

<script> window.debug = {{debug|yesno:'true,false'}}; </script>

