{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags pipeline %}

{% block scripts %}

    {% addtoblock "js" %}

        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/directives/data-browser.js' %}"></script>

        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/filters/data-browser-filters.js' %}"></script>

        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/services/data-service.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/services/user-service.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/services/data-browser-service.js' %}"></script>

    {% endaddtoblock %}
{% endblock %}
