{% load cms_tags staticfiles sekizai_tags menu_tags pipeline %}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="google-site-verification" content="GIow5qfMulVcOVKJqGss0mSkxwycFBzgCk2aouypsfo" />
      <title>{% block title %}{% page_attribute "page_title" %}{% endblock %} | DesignSafe-CI</title>
      <meta name="viewport" content="width=device-width">
      <meta name="description" content="{{ site.description }}">
      <link rel="icon" href="{% static 'favicon.ico' %}">
      <link rel="canonical" href="{{request.get_full_path}}">
      {% block head_extra %}{% endblock %}
      <!-- styles -->
      {% stylesheet 'vendor' %}
      {% stylesheet 'main' %}
      <link href="{% static 'vendor/angular-material/angular-material.css' %}" rel="stylesheet">
      <link href="{% static 'styles/ng-designsafe.css' %}" rel="stylesheet">
      <link href="{% static 'styles/nested-list-group.scss' %}" rel="stylesheet">
      {% block styles %}{% endblock %}
      {% render_block "css" %}
      <base href="/">
  </head>
  <body ng-app="designsafe">
    {% cms_toolbar %}

    {% include 'includes/header.html' %}
    {% include 'includes/navigation.html' %}

    {% include 'includes/messages.html' %}

    {% block breadcrumb %}{% endblock %}

    {% block content %}{% endblock %}

    {% include 'includes/footer.html' %}
    <!-- scripts -->
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="{% static 'vendor/underscore/underscore.js' %}"></script>
    {% javascript 'vendor' %}
    {% javascript 'main' %}

    <script src="{% static 'vendor/angular/angular.js' %}"></script>
    <script src="{% static 'vendor/angular-cookies/angular-cookies.min.js' %}"></script>
    <script src="{% static 'vendor/tether/dist/js/tether.min.js' %}"></script>
    <script src="{% static 'vendor/angular-bootstrap/ui-bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/angular-sanitize/angular-sanitize.min.js' %}"></script>
    <script src="{% static 'vendor/angular-toastr/dist/angular-toastr.tpls.min.js' %}"></script>
    <script src="{% static 'vendor/angular-aria/angular-aria.min.js' %}"></script>
    <script src="{% static 'vendor/angular-material/angular-material.min.js' %}"></script>
    <script src="{% static 'vendor/angular-messages/angular-messages.min.js' %}"></script>
    <script src="{% static 'vendor/angular-animate/angular-animate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'djng/js/django-angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/slick-carousel/slick/slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/angular-slick-carousel/dist/angular-slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/angular-cookies/angular-cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/angular-bootstrap/ui-bootstrap.js' %}"></script>

    <script type="text/javascript" src="{% static 'scripts/ng-modernizr/ng-modernizr.js' %}"></script>

    <script type="text/javascript" src="{% static 'scripts/ng-designsafe/ng-designsafe.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/ng-designsafe/directives/ng-designsafe-directives.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/ng-designsafe/filters/ng-designsafe-filters.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/ng-designsafe/services/logging-service.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/ng-designsafe/services/tickets-service.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/ng-designsafe/modules/ws-module.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/ng-designsafe/providers/ws-provider.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/ng-designsafe/modules/notifications-module.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/ng-designsafe/providers/notifications-provider.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/ng-designsafe/controllers/notifications.js' %}"></script>

    <script type="text/javascript" src="{% static 'scripts/logging/logger.js' %}"></script>

    <script src="{% static 'vendor/angular-httpi/build/httpi.min.js' %}"></script>

    {% block scripts %}{% endblock %}
    {% render_block "js" %}

        <!-- DATA BROWSER DIRECTIVES/SREVICES -->
        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/directives/dd-listing.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/directives/dd-search-listing.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/directives/dd-shared-listing.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/directives/dd-public-listing.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/directives/dd-public-search-listing.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/directives/dd-box-listing.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/directives/dd-dropbox-listing.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/directives/dd-googledrive-listing.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/directives/dd-breadcrumb.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/directives/metadata-listing.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/directives/my-data-browser.js' %}"></script>
        <!-- -->

        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/filters/data-browser-filters.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/filters/ng-designsafe-filters.js' %}"></script>

        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/services/data-service.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/services/user-service.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/services/logging-service.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/services/file-listing.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/services/data-browser-service.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/models/project.entity.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/models/project.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/services/project-entity-service.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/services/project-service.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/ng-designsafe/services/systems-service.js' %}"></script>

        <script type="text/javascript" src="{% static 'nbviewer/lib/nbv.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/prismjs/prism.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/marked/lib/marked.js' %}"></script>
		<!-- DATA BROWSER DIRECTIVES/SERVICES -->

    <script type="text/javascript">
        (function(angular) {
            var django = angular.module('django.context', []);
            django.constant('Django', {
                user: "{{ request.user }}",
                context: {{ angular_init|default:"{}"|safe }}
            });
        })(angular);
    </script>

    {% include 'includes/analytics.html' %}
  </body>
</html>

<script> window.debug = {{debug|yesno:'true,false'}}; </script>
