{# @var className #}
{% load menu_tags sekizai_tags %}

{% addtoblock "css" %}
<style id="cms_breadcrumbs">
  @import url("https://cdn.jsdelivr.net/gh/TACC/Core-Styles@feat/DES-2806-breadcrumbs-sans-class-s-prefix/dist/components/bootstrap3.breadcrumb.css");

  {# To negate `.navbar-ds` padding bottom #}
  {# https://github.com/DesignSafe-CI/portal/blob/v7.0.0--tapis-v3-20240607/designsafe/static/vendor/bootstrap-ds/css/bootstrap.css#L4769 #}
  div:has(.navbar-ds) + main .breadcrumb {
    margin-top: -20px;
  }
  .breadcrumb a:not([href]) {
    {# https://github.com/TACC/Core-Styles/blob/v2.26.0/dist/elements/links.css #}
    pointer-events: none;

    {# https://github.com/TACC/tup-ui/blob/v1.1.10/apps/tup-cms/src/taccsite_custom/tup_cms/static/tup_cms/css/for-tup-cms/trumps/s-breadcrumbs.css #}
    opacity: 0.75;
    color: unset;
  }
</style>
{% endaddtoblock %}

<nav class="{{className}}" id="cms-breadcrumbs">
  <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">

    {# To include pages marked to not show in menu, attributes are added #}
    {# SEE: https://docs.django-cms.org/en/release-3.6.x/reference/navigation.html#show-breadcrumb #}
    {% show_breadcrumb 0 "menu/breadcrumb.html" 0 %}

  </ol>
</nav>

{# To disable 2nd-level breadcrumb #}
{# NOTE: Not using `block`, so markup is loaded first #}
{# NOTE: Not using `block` nor `type="module"`, so effect is quicker #}
<script>
  {# FAQ: Attempts to do this server-side failed cuz useful props are blank #}
  {# https://docs.django-cms.org/en/release-3.11.x/reference/navigation.html#properties-of-navigation-nodes-in-templates #}
  document
    .getElementById('cms-breadcrumbs')
    .querySelector('li:nth-of-type(2) > a')
    .removeAttribute('href');
</script>
