{# @var className #}
{% load menu_tags sekizai_tags %}

{% addtoblock "css" %}
<style id="cms_breadcrumbs">
  @import url("https://cdn.jsdelivr.net/gh/TACC/core-styles@v2.26.0/dist/trumps/s-breadcrumbs.css");

  {# To negate `.navbar-ds` padding bottom #}
  {# https://github.com/DesignSafe-CI/portal/blob/8048436/designsafe/static/styles/main.css#L168 #}
  div:has(.navbar-ds) + main > .s-breadcrumbs {
    margin-top: -2.5em;
  }
  {# https://github.com/TACC/Core-Styles/blob/v2.26.0/dist/elements/links.css #}
  .s-breadcrumbs a:not([href]) {
    pointer-events: none;
  }
  {# https://github.com/TACC/tup-ui/blob/v1.1.10/apps/tup-cms/src/taccsite_custom/tup_cms/static/tup_cms/css/for-tup-cms/trumps/s-breadcrumbs.css #}
  .s-breadcrumbs:is(nav) a:not([href]) {
    opacity: 0.75;
    color: unset;
  }
</style>
{% endaddtoblock %}

<nav class="s-breadcrumbs  {{className}}" id="cms-breadcrumbs">

  {# To support structured data, item* attributes are used #}
  {# SEE: https://confluence.tacc.utexas.edu/x/5yMFDg #}
  <ol itemscope itemtype="https://schema.org/BreadcrumbList">

    {# To include pages marked to not show in menu, attributes are added #}
    {# SEE: https://docs.django-cms.org/en/release-3.6.x/reference/navigation.html#show-breadcrumb #}
    {% show_breadcrumb 0 "menu/breadcrumb.html" 0 %}

  </ol>

</nav>

{# To disable 2nd-level breadcrumb #}
{# NOTE: Not using `block`, so markup is loaded first #}
{# NOTE: Not using `block` nor `type="module"`, so effect is quicker #}
<script>
  {# FAQ: Attempts to do this server-side failed cuz useful props are blank #}
  {# https://docs.django-cms.org/en/release-3.11.x/reference/navigation.html#properties-of-navigation-nodes-in-templates #}
  document
    .getElementById('cms-breadcrumbs')
    .querySelector('li:nth-of-type(2) > a')
    .removeAttribute('href');
</script>
