{% load cms_tags staticfiles sekizai_tags menu_tags%}
<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% page_attribute "page_title" %}{% endblock %} | DesignSafe-CI</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="canonical" href="{{request.get_full_path}}">
    <!-- styles -->
    <link href="{% static 'vendor/bootstrap-ds/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' %}" rel="stylesheet"
      type="text/css">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/angular-toastr/dist/angular-toastr.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/slick-carousel/slick/slick.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/slick-carousel/slick/slick-theme.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/typekit.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/branding_logos.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/c-footer.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/corner-ribbon.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/base.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/angular-material/angular-material.css' %}" rel="stylesheet">
    <link href="{% static 'styles/ng-designsafe.css' %}" rel="stylesheet">
    {% render_block "css" %}
  </head>

  <body class="o-site">
    {% cms_toolbar %}
    <div>
      {% include 'includes/branding.html' %}
      <header class="site-banner site-banner-ef">
        <div class="site-banner-left">
          <div class="ef-site-title">
            <a href="/">
              {% static_placeholder 'ef_site_title' site or %}
                <h1>
                    Edit EF Site Name<br>
                    <small>Experimental Facility</small>
                </h1>
              {% endstatic_placeholder %}
            </a>
          </div>
        </div>
        <div class="site-banner-right logo">
          <a href="https://www.designsafe-ci.org/">
            <h1 class="sr-only">DesignSafe-CI: A Natural Hazards Engineering Community</h1>
            <img alt="DesignSafe-CI" src="{% static 'images/org_logos/Horizontal-DS.jpg' %}" width="100%">
          </a>
        </div>
      </header>
      {% include 'includes/ef_navigation.html' %}
    </div>
    <div class="o-site__body">
      {% include 'includes/messages.html' %}
      {% block content %}{% endblock %}
    </div>
    {% include 'includes/footer.html' %}
    <!-- scripts -->
    <script src="{% static 'vendor/modernizr/modernizr.js' %}"></script>
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-ds/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'vendor/d3/dist/d3.min.js' %}"></script>
    <script src="{% static 'scripts/utils.js' %}"></script>
    <script src="{% static 'scripts/dateinput.js' %}"></script>
    <script src="{% static 'scripts/navbar.js' %}"></script>
    {% render_block "js" %}
    {% block scripts %}{% endblock %}
    {% include 'includes/analytics.html' %}
  </body>

</html>
