{% extends "base.html" %}
{% block title %}Maintenance{% endblock %}
{% block content %}
<div class="container">
    <!-- Jumbotron -->
    <div class="jumbotron">
        <div class="text-center">
            <img src="/static/images/ds-logo-horiz.png" alt="DesignSafe-CI: Temporarily Unavailable">
        </div>
        <p class="lead">
            DesignSafe-CI is temporarily unavailable due to maintenance.
            We apologize for the inconvenience. Please try again later.
        </p>
        <a href="javascript:document.location.reload(true);" class="btn btn-default btn-lg text-center"><span
                class="green">Try This Page Again</span></a>
    </div>
</div>
{% endblock content %}
