{# https://github.com/django-cms/django-cms/blob/release/3.11.x/menus/templates/menu/breadcrumb.html #}
{% load cms_tags %}

{% for ance in ancestors %}
{% page_attribute "slug" ance.parent_id as parent_slug %}
{% if not parent_slug == "tools-applications" %}

  <li itemscope itemprop="itemListElement"
      itemtype="https://schema.org/ListItem"
      {% if not forloop.last %}
      class="active"
      {% endif %}>
  {% if not forloop.last %}

    <a href="{{ ance.get_absolute_url }}" itemprop="item">
      <span itemprop="name">{{ ance.get_menu_title }}</span>
    </a>

  {% else %}

    <span itemprop="name">{{ ance.get_menu_title }}</span>

  {% endif %}

    <meta itemprop="position" content="{{ forloop.counter }}" />
  </li>

{% endif %}
{% endfor %}
