{# https://github.com/django-cms/django-cms/blob/release/3.11.x/menus/templates/menu/breadcrumb.html #}
{% for ance in ancestors %}

  <li itemscope itemprop="itemListElement"
      itemtype="https://schema.org/ListItem"
      class="breadcrumb-item{% if forloop.last %} active{% endif %}">
  {% if not forloop.last %}

    <a href="{{ ance.get_absolute_url }}" itemprop="item">
      <span itemprop="name">{{ ance.get_menu_title }}</span>
    </a>

  {% else %}

    <span itemprop="name">{{ ance.get_menu_title }}</span>

  {% endif %}

    <meta itemprop="position" content="{{ forloop.counter }}" />
  </li>

{% endfor %}
