<ul class="breadcrumb">
    <li ng-repeat="path_item in data.folder.path_collection.entries">
        <a href="" ng-click="itemClick($event, path_item)">
            {{ path_item.name }}
        </a>
    </li>
    <li class="active">{{ data.folder.name }}</li>
</ul>

<table class="table table-bordered table-striped" style="background-color: white">
    <thead>
    <th>Name</th>
    <th>Info</th>
    </thead>
    <tbody>
    <tr ng-repeat="item in data.item_collection.entries">
        <td>
            <a href="{{ data.folder | itemurlpath:true }}/{{ item.name }}{{ item.type === 'folder' ? '/' : '' }}"
               ng-click="itemClick($event, item)">
                <i class="fa fa-{{ icon(item) }}"></i> {{ item.name }}
            </a>
        </td>
        <td>
            <a href="{{ data.folder | itemurlpath:true }}/{{ item.name }}{{ item.type === 'folder' ? '/' : '' }}#info"
               ng-click="previewItem($event, item)" class="btn btn-info">
                <i class="fa fa-info-circle"></i>
                <span class="sr-only">Item Information</span>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<script type="text/ng-template" id="designsafe/apps/box_integration/html/preview-modal.html">
    <div class="modal-header">
        <h3 class="modal-title">File Preview</h3>
    </div>
    <div class="modal-body">
        <div class="thumbnail">
            <div ng-if="! (data.expiring_embed_link && data.expiring_embed_link.url)" class="text-center">
                <i class="fa fa-{{ data.item|icon }}" style="font-size: 150px;"></i>
            </div>

            <div class="embed-responsive embed-responsive-4by3"
                 ng-if="data.expiring_embed_link && data.expiring_embed_link.url">
                <iframe class="embed-responsive-item" src="{{ data.expiring_embed_link.url }}"></iframe>
            </div>

            <div class="caption text-center">
                <h4>{{ data.item.name }}</h4>
                <p>
                    <span>{{ data.item.size|bytes }}</span><br>
                    <span ng-if="data.item.type === 'folder'">{{ data.item.item_collection.entries.length }} items</span><br  ng-if="data.item.type === 'folder'">
                    <span>Created on {{ data.item.created_at|date:'short' }}</span>

                </p>
            </div>
        </div>
        <div class="actions text-center">
            <a class="btn btn-info" href="#copy:{{ data.item.name }}" ng-click="copyToMyData($event, data.item)">
                <i class="fa fa-copy"></i> Copy to My Data
            </a>
            <a ng-if="data.download_url" class="btn btn-default" href="{{ data.download_url }}">
                <i class="fa fa-cloud-download"></i> Download
            </a>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="cancel()">Close</button>
    </div>

</script>
