<div id="rapid_main">
  <div id="show_sidebar_handle">
    <div class="sidebar-handle"
         ng-click="vm.show_sidebar = !vm.show_sidebar"
         tooltip="Expand sidebar"
         tooltip-placement="right">
      <i class="fa fa-chevron-right"> </i>
    </div>
  </div>
  <div id="sidebar" ng-show="vm.show_sidebar">
    <div class="sidebar-handle"
         ng-click="vm.show_sidebar = !vm.show_sidebar"
         tooltip="Collapse sidebar"
         tooltip-placement="right">
      <i class="fa fa-chevron-left"> </i>
    </div>
    <div class="sidebar-content">
      <div class="sidebar-header">
        <h3> Rapid Logo </h3>
      </div>
      <div ng-show="vm.active_rapid_event">
        <div class="text-center">
          <span class="filter-options-button" ng-click="vm.active_rapid_event=null"> Back to results </span>
        </div>
        <event-listing-detailed event="vm.active_rapid_event"></event-listing-detailed>
      </div>
      <div class="search-container" ng-show="!vm.active_rapid_event">
        <div class="event-search">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="vm.filter_options.search_text" ng-change="vm.search()"></input>
            <span class="input-group-btn">
              <button class="btn btn-default"> <i class="fa fa-trash"></i></button>
            </span>
          </div>
        </div>
        <div class="text-center" ng-show="!vm.show_filter_options">
          <span class="filter-options-button" ng-click="vm.show_filter_options=true"> Show filter options </span>
        </div>
        <div class="filter-options" ng-show="vm.show_filter_options">
          <div class="form-group">
            <label> Event Type </label>
            <select class="form-control"
                    ng-options="et.display for et in vm.event_types track by et.event_type"
                    ng-change="vm.search()"
                    ng-model="vm.filter_options.event_type"></select>
          </div>
          <div class="form-group">
            <label> Start date </label>
            <input type="date" class="form-control">
          </div>
          <div class="form-group">
            <label> End date </label>
            <input type="date" class="form-control">
          </div>
          <button class="btn btn-xs btn-info" ng-click="vm.clear_filters()"> Clear </button>
          <button class="btn btn-xs btn-default" ng-click="vm.show_filter_options=false"> Hide </button>
        </div>
        <div class="events-results">
          <div ng-show="vm.filtered_events">
            <event-listing ng-repeat="event in vm.filtered_events" event=event ng-click="vm.select_event(event)"></event-listing>
          </div>
          <div ng-show="!vm.filtered_events">
            <event-listing ng-repeat="event in vm.events" event=event ng-click="vm.select_event(event)"></event-listing>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- ends sidebar -->
  <div id="map"></div>
</div>
