<div class="nco-ttc-grants">
    <span class="bg-info text-info" data-ng-if="$ctrl._ui.loading">
        <i class="fa fa-spinner fa-spin">&nbsp;</i> Loading...
    </span>

    <!-- Legend row -->
    <div class="ttc-grant-item ttc-header">
        <!-- row1 items -->
        <div class="ttc-row">
            <div class="ttc-award-number-title ttc-data-cell ttc-left">[Award Number] Title</div>
            <div class="ttc-timespan ttc-data-cell ttc-right">Start Date - End Date</div>
        </div>

        <!-- row2 items -->
        <div class="ttc-row">
            <div class="ttc-pi-name ttc-data-cell ttc-left">
                PI / Co-PI
                <br />
                Grant Org - State
            </div>
            <div class="ttc-facility ttc-data-cell ttc-right">NHERI Facility</div>
        </div>

        <!-- row3 items -->
        <div class="ttc-row">
            <div class="ttc-abstract ttc-data-cell ttc-left">Abstract</div>
            <div class="ttc-labels ttc-data-cell ttc-right">Category Labels</div>
        </div>

        <!-- for gap between grants-->
        <br />
    </div>
    <!-- end Legend row -->

    <!-- Data from DB table -->
    <div class="ttc-grant-item" ng-repeat="grant in $ctrl.grantList">
        <!-- row1 items -->
        <div class="ttc-row">
            <div class="ttc-award-number-title ttc-data-cell ttc-left">[{{grant.AwardNumber}}] {{grant.Title}}</div>
            <div class="ttc-timespan ttc-data-cell ttc-right" ng-if="grant.StartDate.$date">{{grant.StartDate.$date | date}} - {{grant.EndDate.$date | date}}</div>
            <div class="ttc-timespan ttc-data-cell ttc-right" ng-if="!grant.StartDate.$date">{{grant.StartDate}} - {{grant.EndDate}}</div>
        </div>

        <!-- row2 items -->
        <div class="ttc-row">
            <div class="ttc-pi-name ttc-data-cell ttc-left">
                {{grant.PiName}} <span ng-if="grant.CoPiNames"> / {{grant.CoPiNames}}</span>
                <br />
                {{grant.Org}} - {{grant.OrgState}}
            </div>
            <div class="ttc-facility ttc-data-cell ttc-right" ng-if="grant.NheriFacility">{{grant.NheriFacility}}</div>
            <div class="ttc-facility ttc-data-cell ttc-right" ng-if="!grant.NheriFacility">No Facility Listed</div>
        </div>

        <!-- row3 items -->
        <div class="ttc-row">
            <a class="ttc-abstract ttc-data-cell ttc-left" ng-click="$ctrl.showAbstract(grant.Abstract)">View Abstract</a>
            <div class="ttc-labels ttc-data-cell ttc-right">No Category or Labels</div>
        </div>

        <!-- for gap between grants-->
        <br />
    </div>
</div>
