<div class="nco-ttc-grants">
    <span class="bg-info text-info" data-ng-if="$ctrl._ui.loading">
        <i class="fa fa-spinner fa-spin">&nbsp;</i> Loading...
    </span>

    <div class="ttc-grant-item" ng-repeat="grant in $ctrl.grantList">
        <!-- row1 items -->
        <div class="ttc-row">
            <div class="ttc-award-number-title ttc-data-cell ttc-left">[{{grant.AwardNumber}}] {{grant.Title}}</div>
            <div class="ttc-timespan ttc-data-cell ttc-right">{{grant.StartDate.$date | date}} - {{grant.EndDate.$date | date}}</div>
        </div>

        <!-- row2 items -->
        <div class="ttc-row">
            <div class="ttc-pi-name ttc-data-cell ttc-left">
                {{grant.PiName}}
                <br />
                {{grant.Org}}
            </div>
            <div class="ttc-facility ttc-data-cell ttc-right" ng-if="grant.NheriFacility">{{grant.NheriFacility}}</div>
            <div class="ttc-facility ttc-data-cell ttc-right" ng-if="!grant.NheriFacility">No Facility Listed</div>
        </div>

        <!-- row3 items -->
        <div class="ttc-row">
            <!-- <nco-expand class="ttc-abstract">really really long abstract goes here and hopefully i can make it wrap to make sure this will work as expected but i don't remember how long it needs to be so i'm just going to creat a runon sentence for forever becuase that's what i do to test</nco-expand> -->
            <div class="ttc-abstract ttc-data-cell ttc-left"> </div>
            <div class="ttc-labels ttc-data-cell ttc-right">category labels go here</div>
        </div>

        <!-- row4 items -->
        <div class="ttc-row">
            <div colspan="2" class="ttc-abstract ttc-data-cell">{{grant.Abstract}}</div>
        </div>
        <br /><br />
    </div>
</div>
