<div style="background:white; padding-top: 20px">
        <!-- progression map -->
        <div class="pull-right" style="padding-bottom: 20px;">
            <a ng-click="$ctrl.goWork()">
                <i role="none" class="fa fa-times"></i> Exit Prepare to Publish
            </a>
        </div>
        <table class="tg" style="table-layout: fixed; width: 100%; padding-bottom: 15px;">
            <tr style="text-align: center">
                <td class="tg-0lax">
                    <strong>Selection</strong>
                    <div>
                        <i role="none" class="fa fa-circle" style="color:#1CB500;"></i>
                    </div>
                </td>
                <td class="tg-0lax">
                    <strong>Proofread Project</strong>
                    <div>
                        <i role="none" class="fa fa-circle" style="color:#1CB500;"></i>
                    </div>
                </td>
                <td class="tg-0lax" ng-hide="$ctrl.project.value.projectType === 'other'">
                    <strong>Proofread {{$ctrl.placeholder}}</strong>
                    <div>
                        <i role="none" class="fa fa-circle" style="color:#1CB500;"></i>
                    </div>
                </td>
                <td class="tg-0lax">
                        <strong ng-if="$ctrl.project.value.projectType === 'other'">Proofread Data</strong>
                        <strong ng-if="$ctrl.project.value.projectType === 'field_recon'">Proofread Collections</strong>
                        <strong ng-if="$ctrl.project.value.projectType != 'other' && $ctrl.project.value.projectType != 'field_recon'">Proofread Categories</strong>
                    <div>
                        <i role="none" class="fa fa-circle" style="color:#1CB500;"></i>
                    </div>
                </td>
                <td class="tg-0lax">
                    <strong>Order Authors</strong>
                    <div>
                        <i role="none" class="fa fa-circle" style="color:#1CB500;"></i>
                    </div>
                </td>
                <td class="tg-0lax">
                    <strong>Licenses</strong>
                    <div>
                        <i role="none" class="fa fa-circle" style="color:#1CB500;"></i>
                    </div>
                </td>
            </tr>
        </table>
        <br>
        <div>
            <a class="pull-left" ng-click="$ctrl.goAuthors()" ng-if="$ctrl.project.value.projectType !== 'other'">
                <i role="none" class="fa fa-arrow-left"></i> Back to Order Authors
            </a>
            <a class="pull-left" ng-click="$ctrl.goTeam()" ng-if="$ctrl.project.value.projectType === 'other'">
                <i role="none" class="fa fa-arrow-left"></i> Back to Order Authors
            </a>
            <button class="btn btn-small btn-add pull-right" ng-click="$ctrl.prepareModal()" ng-disabled="!$ctrl.validSelection()">
                <i role="none" class="fa fa-globe"></i> Request DOI & Publish
            </button>
        </div>
        <!-- progression map -->
        <div style="padding-top: 40px; padding-bottom: 40px;">
            <p>
                <h3 style="text-align: center">Select License(s)</h3>
                <li>Consider the terms of each license carefully.</li>
                <li>If you want to use a different license than the following, <a href="/help/new-ticket/" target="_blank">submit a ticket</a>.</li>
                <li>If you need help, attend <a href="/facilities/virtual-office-hours/" target="_blank">Curation office hours</a> for help with publishing.</li>
            </p>
        </div>
        <div ng-if="!$ctrl.ui.loading">
            <h3>Datasets</h3>
            <p>
                If you are publishing data, such as simulation or experimental data, choose between:
            </p>
            <table class="tg" style="table-layout: fixed; width: 100%; padding-bottom: 15px;">
                <colgroup>
                    <col style="width: 16.5%">
                    <col style="width: 16.5%">
                </colgroup>
                <tr>
                    <td class="tg-0lax" valign="top">
                        <table>
                            <tr>
                                <td>
                                    <input type="radio"
                                            name="license"
                                            ng-model="$ctrl.selectedLicense"
                                            value="Open Data Commons Attribution"
                                            style="margin-top: -18px; vertical-align: middle;"
                                    >
                                    <span class="curation-odc" style="margin-right:10px; margin-left:10px;"></span>
                                </td>
                                <td>
                                    <strong>Open Data Commons Attribution</strong>
                                    <div style="color:#158600;">
                                        Recommended
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <p>
                            <li>You allow others to freely share, reuse, and adapt your data/database.</li>
                            <li>You expect to be attributed for any public use of the data/database.</li>
                        </p>
                        <div>Please read the <a href="https://opendatacommons.org/licenses/by/" target="_blank">License Website</a></div>
                    </td>
                    <td class="tg-0lax" valign="top">
                        <table>
                            <tr>
                                <td>
                                    <input type="radio"
                                            name="license"
                                            ng-model="$ctrl.selectedLicense"
                                            value="Open Data Commons Public Domain Dedication"
                                            style="margin-top: -18px; vertical-align: middle;"
                                    >
                                    <span class="curation-odc" style="margin-right:10px; margin-left:10px;"></span>
                                </td>
                                <td>
                                    <strong>Open Data Commons Public Domain Dedication</strong>
                                    <div style="color:orange;">
                                        Consider and read carefully
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <p>
                            <li>You allow others to freely share, modify, and use this data/database for any purpose without any
                                restrictions.</li>
                            <li>You do not expect to be attributed for it.</li>
                        </p>
                        <div>Please read the <a href="https://opendatacommons.org/licenses/pddl/1-0/" target="_blank">License Website</a></div>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <h3>Works</h3>
            <p>
                If you are publishing papers, presentations, learning objects, workflows, designs, etc, choose between:
            </p>
            <table class="tg" style="table-layout: fixed; width: 100%; padding-bottom: 15px;">
                <colgroup>
                    <col style="width: 16.5%">
                    <col style="width: 16.5%">
                </colgroup>
                <tr>
                    <td class="tg-0lax" valign="top">
                        <table>
                            <tr>
                                <td>
                                    <input type="radio"
                                            name="license"
                                            ng-model="$ctrl.selectedLicense"
                                            value="Creative Commons Attribution"
                                            style="margin-top: -18px; vertical-align: middle;"
                                    >
                                    <span class="curation-cc-share" style="margin-right:10px; margin-left:10px;"></span>
                                </td>
                                <td>
                                    <strong>Creative Commons Attribution</strong>
                                    <div style="color:#158600;">
                                        Recommended
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <p>
                            <li>You allow others to freely share, reuse, and adapt your work.</li>
                            <li>You expect to be attributed for any public use of your work.</li>
                            <li>You retain your copyright.</li>
                        </p>
                        <div>Please read the <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">License Website</a></div>
                    </td>
                    <td class="tg-0lax" valign="top">
                        <table>
                            <tr>
                                <td>
                                    <input type="radio"
                                            name="license"
                                            ng-model="$ctrl.selectedLicense"
                                            value="Creative Commons Public Domain Dedication"
                                            style="margin-top: -18px; vertical-align: middle;"
                                    >
                                    <span class="curation-cc-zero" style="margin-right:10px; margin-left:10px;"></span>
                                </td>
                                <td>
                                    <strong>Creative Commons Public Domain Dedication</strong>
                                    <div style="color:orange;">
                                        Consider and read carefully
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <p>
                            <li>You allow others to freely share, modify, and use this work for any purpose without any
                                restrictions.</li>
                            <li>You do not expect to be attributed for it.</li>
                            <li>You give all of your rights away.</li>
                        </p>
                        <div>Please read the <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">License Website</a></div>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <h3>Software</h3>
            <p>
                If you are publishing community software, scripts, libraries, applications, etc, choose the following:
            </p>
            <table>
                <tr>
                    <td>
                        <input type="radio"
                                name="license"
                                ng-model="$ctrl.selectedLicense"
                                value="GNU General Public License"
                                style="margin-top: -18px; vertical-align: middle;"
                        >
                        <span class="curation-gpl" style="margin-right:10px; margin-left:10px;"></span>
                    </td>
                    <td>
                        <strong>GNU General Public License</strong>
                    </td>
                </tr>
            </table>
            <p>
                <li>You give permission to modify, copy, and redistribute the work or any derivative version.</li>
                <li>The licensee is free to choose whether or not to charge a fee for services that use this work.</li>
                <li>They cannot impose further restrictions on the rights imposed by this license.</li>
            </p>
            <div>Please read the <a href="http://www.gnu.org/licenses/gpl.html" target="_blank">License Website</a></div>
        </div>

    </div>
