/* You can add global styles to this file, and also import other style files */
@import './styles/modal.css';
@import './styles/button.css';
@import './styles/link.css';

.ant-spin-nested-loading {
  height: 100%;
}

.ant-spin.ant-spin.ant-spin {
  max-height: 100%;
}

.table--pull-spinner-bottom .ant-spin.ant-spin {
  height: fit-content;
  top: calc(100% - 20px);
}

.ant-spin-container {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.ant-table {
  overflow: auto;
}

.ant-table .ant-table-body .ant-table-placeholder > td {
  border-bottom-color: transparent;
}
.ant-table .ant-table-tbody .ant-table-placeholder > td {
  border-bottom-color: transparent;
}

.ant-table-container {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.ant-table-header th {
  border-bottom: 1px solid #333333 !important;
}

.ant-table-header {
  flex: none;
}

.ant-table-body {
  overflow: scroll;
}

.ant-table-pagination {
  flex: none;
}

.ant-layout-sider-collapsed {
  margin-right: 30px;
}
.ant-layout-sider-collapsed .ant-layout-sider-zero-width-trigger {
  right: -20px !important;
}

.ant-layout-sider-children {
  border-right: 2px solid var(--global-color-primary--light) !important;
  overflow: auto;
}

.ant-table-tbody tr:nth-child(odd) td {
  background-color: #f9f9f9;
}

.ant-layout-sider-zero-width-trigger {
  right: 0px !important;
  top: 20px !important;
}

.listing-nav-link {
  text-decoration: none !important;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.inner-form-item {
  margin-bottom: 0;
}

.ant-collapse-header:focus-visible {
  outline: -webkit-focus-ring-color auto 1px !important;
}
