
<div class="table-responsive" data-ng-class="{'preview-wrapper': $ctrl.browser.showPreviewListing}">
    <div
        data-ng-class="{'ds-table-display-wrapper' : $ctrl.listing.listing.length > 10}"
        ds-infinite-scroll
        data-scroll-bottom="$ctrl.handleScroll()"
        data-scroll-top="$ctrl.scrollToTop()"
        data-bottom-height="0"
        id="listing-scroll"
    >
        <table class="files-listing-table table table-bordered table-striped"
               style="background-color: #fff;">
            <thead>
                <tr>
                    <th>
                        <span ng-if="$ctrl.showSelect">
                            <i class="fa fa-lg fa-check-square" style="color:#337ab7;" ng-click="$ctrl.FileListingService.selectAll($ctrl.listing.params.section)"></i>
                            <span>Name</span>
                        </span>
                        <span ng-if="!$ctrl.showSelect">Name</span>
                    </th>
                    <th>Size</th>
                    <th>Last modified</th>
                    <th ng-if="$ctrl.operationLabel">Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    data-ng-repeat="item in $ctrl.listing.listing"
                    ng-class="{highlight: item.selected}"
                >
                    <td class="unselectable">
                        <span ng-if="$ctrl.showSelect">
                            <span class="fa-stack fa-lg" style="margin: -8px;" ng-if="item.selected" data-ng-click="$ctrl.onSelect($index)">
                                <i class="fa fa-square fa-stack-1x" style="color: white;"></i>
                                <i class="fa fa-check-square fa-stack-1x" style="color:#1CB500;"></i>
                            </span>
                            <span class="fa-stack fa-lg" style="margin: -8px;" ng-if="!item.selected" data-ng-click="$ctrl.onSelect($index)">
                                <i class="fa fa-square fa-stack-1x" style="color: white;"></i>
                                <i class="fa fa-square-o fa-stack-1x" style="color:lightgray;"></i>
                            </span>
                        </span>
                        <i class="fa {{ $ctrl.icon(item.name, item.type) }} test-file-icon">&nbsp;</i>
                        <a data-ng-href="{{$ctrl.href(item.system, item.path)}}" data-ng-click="$ctrl.browse($event, item)" class="test-file-name">
                            {{ item.name }}
                        </a>
                        <!-- <a data-ng-href="https://www.dropbox.com/home{{item.path}}">
                            {{ item.name }}
                        </a> -->
                        <div class="project-categories">
                            <div class="file-categories"
                                 data-ng-if="item.name != '.Trash' && $ctrl.editTags || $ctrl.showTags">
                                <file-categories 
                                                 data-file="item"
                                                 data-show-tags="$ctrl.showTags"
                                                 data-edit-tags="$ctrl.editTags"
                                                 section="$ctrl.listing.params.section"
                                >
                                </file-categories>
                            </div>
                            <div class="file-categories-selector"
                                 data-ng-if="item.name != '.Trash' && $ctrl.editTags">
                            
                                <file-category-selector data-project="$ctrl.browser.project"
                                                        data-file="item"
                                                        section="$ctrl.listing.params.section"
                                >
                                </file-category-selector>
          
                            </div>
                            <div data-ng-if="$ctrl.browser.loadingEntities">
                                <i class="fa fa-spinner fa-spin">&nbsp;</i> Loading ...
                            </div>
                        </div>
                    </td>
                    <td data-ng-if="item.format== 'folder'" class="test-length-folder">--</td>
                    <td data-ng-if="item.format== 'raw'" class="test-length-file">{{ item.length|bytes }}</td>
                    <td data-ng-if="item.lastModified" class="test-date">{{ item.lastModified|date:"short" }}</td>
                    <td data-ng-if="!item.lastModified"class="test-date-missing">--</td>
                    <td data-ng-if="$ctrl.operationLabel" class="test-op-label">
                        <button class="btn btn-primary test-op-btn" ng-if="item.type==='dir'" ng-click="$ctrl.operation({file: item})">{{$ctrl.operationLabel}}
                        </button>
                    </td>
                </tr>
                <tr >
                    <td ng-if="$ctrl.listing.loadingScroll" colspan="4" style="height: 37px;">
                        <span class="bg-info text-info" >
                            <i class="fa fa-spinner fa-spin">&nbsp;</i>
                            Loading...
                        </span>
                    </td>
                </tr>
                <tr ng-if="$ctrl.nested">
                    <td colspan="4">
                        <ng-transclude></ng-transclude>
                    </td>
                </tr>
            </tbody>
            <caption style="padding:0px;">
                <div data-ng-if="$ctrl.isInTrash()">
                    <div class="alert alert-warning text-center">
                        Trashed items will be kept a maximum of 90 days.
                    </div>
                </div>
                <div data-ng-if="$ctrl.listing.loading"
                     style="padding:10px; font-size:large; width:100%;"
                     class="bg-info"
                 >
                    <span>
                        <i class="fa fa-spinner fa-spin">&nbsp;</i>
                        Loading...
                    </span>
                </div>
                <div data-ng-if="!$ctrl.listing.loading && $ctrl.listing.error" class="text-center">
                    <div class="alert alert-danger">
                        <div data-ng-if="$ctrl.listing.error.message"
                             data-ng-bind-html="$ctrl.listing.error.message">
                            {{$ctrl.listing.error.message}}
                        </div>
                        <div data-ng-if="!$ctrl.listing.error.message">
                            Something went wrong.
                        </div>
                    </div>
                </div>
                <div data-ng-if="! $ctrl.listing.loading &&
                                 ! $ctrl.listing.error &&
                                 ($ctrl.listing.listing.length) === 0"
                     style="background-color: #fff;border: 1px solid #ddd;padding:8px;"
                     class="text-center"
                >
                    <p class="lead" style="margin-top:20px" ng-if="!($ctrl.listing.params.system.includes('project-') && $ctrl.editTags)">
                        This folder is empty! <br />
                        <i class="fa fa-folder-open-o">&nbsp;</i><br/>
                        <a data-ng-if="$ctrl.listing.params.system.includes('project-')"
                           href="https://www.youtube.com/watch?v=ITf4hlBamGU&list=PL2GxvrdFrBlkwHBgQ47pZO-77ZLrJKYHV"
                           target="_blank"
                        >
                            <i class="fa fa-question-circle" style="font-size: 18px;">&nbsp;</i>
                            Learn how to move files to a project
                        </a>
                    </p>
                    <p class="lead" style="margin-top:20px" ng-if="$ctrl.editTags">
                        <i class="fa fa-file-text-o">&nbsp;</i><br/>
                        <a href="https://www.youtube.com/watch?v=lfBe04ihQUs&list=PL2GxvrdFrBlkwHBgQ47pZO-77ZLrJKYHV" target="_blank">
                            <i class="fa fa-question-circle" style="font-size: 18px;">&nbsp;</i>
                            Learn how to assign files to categories<br/>
                        </a>
                    </p>
                </div>
            </caption>
        </table>
    </div>
</div>
