<div class="modal-header">
    <h3 class="modal-title">Select the destination to copy the following files</h3>
</div>
<div class="modal-body">
    <ul>
        <li ng-repeat="file in data.files">
            {{ file.name }}
        </li>
    </ul>


    <div class="row">
        <div class="col-sm-3">
            <form>
                <label for="id_currentOption" class="sr-only">Jump to</label>
                <select class="form-control" 
                    id="id_currentOption" 
                    name="currentOption" 
                    ng-model="currentOption" 
                    ng-options="option as option.label for option in options"></select>
            </form>
        </div>
        <div class="col-sm-9">
            <dd-breadcrumb skip-root="true" custom-root="customRoot" listing="listing" on-browse="onBrowse"></dd-breadcrumb>
        </div>
    </div>
    <div class="table-responsive" style="height: 500px" ng-if="!state.listingProjects" ds-infinite-scroll
    data-scroll-bottom="!state.reachedEnd && scrollToBottom()"
    data-scroll-top="scrollToTop()"
    data-bottom-height="0">
        <table class="table table-bordered table-striped" style="background-color: #fff;">
            <thead>
            <th>Name</th>
            <th>Action</th>
            </thead>

            <tbody ng-if="!state.busy">
            <tr ng-repeat="item in listing.children">
                <td>
                    <i class="fa {{ item.icon() }}"></i>
                    <a ng-href="{{ item.href || '#' }}" ng-click="onBrowse($event, item)">
                        {{ item.name }}
                    </a>
                </td>
                <td>
                    <a class="btn btn-primary btn-xs"
                       ng-if="validDestination(item)"
                       ng-click="chooseDestination(item)">
                        Copy to {{ item.name }}
                    </a>
                </td>
            </tr>
            <tr>
                <td ng-if="state.loadingMore" colspan=2>
                    <span class="bg-info text-info">
                        <i class="fa fa-spinner fa-spin"></i> Loading...
                    </span>
                </td>
            </tr>
            </tbody>
            <caption style="padding:0">

                <div ng-if="state.busy" style="margin-bottom:-38px" class="text-right">
                    <span style="display:inline-block;padding: 9px;" class="bg-info text-info">
                        <i class="fa fa-spinner fa-spin"></i> Loading...
                    </span>
                </div>

                <div ng-if="! state.busy && state.error" class="text-center">
                    <p class="alert alert-danger">
                        {{ browser.error.message || browser.error }}
                    </p>
                </div>

                <div ng-if="! state.busy && ! state.error && (listing.children|length) === 0" style="background-color: #fff;border: 1px solid #ddd;padding:8px;" class="text-center">
                    <p class="lead">
                        This folder is empty!
                        <br><i class="fa fa-folder-open-o"></i>
                    </p>
                </div>
            </caption>
        </table>
    </div>

    <div class="table-responsive" ng-if="state.listingProjects" style="height: 500px"
    ds-infinite-scroll
    data-scroll-bottom="!state.reachedEnd && scrollToBottom()"
    data-scroll-top="scrollToTop()"
    data-bottom-height="0">
      <table class="table table-bordered tables-striped" style="background-color: #fff;">
        <thead>
         <th>Name</th>
         <th>PI</th>
        </thead>
        <tbody ng-if="!state.busy">
          <tr ng-repeat="item in projects">
            <td>
              <i class="fa fa-briefcase"></i>
              <a ng-href="{{ item.href || '#' }}" ng-click = "onBrowse($event, item)">
                {{item.value.title}}
              </a>
            </td>
            <td>
                {{ data.names[item.value.pi] }}
            </td>
          </tr>
          <tr>
            <td ng-if="state.loadingMore" colspan=2>
                <span class="bg-info text-info">
                    <i class="fa fa-spinner fa-spin"></i> Loading...
                </span>
            </td>
        </tr>
        </tbody>
      </table>
      <caption style="padding:0">

          <div ng-if="state.busy" style="margin-bottom:-38px" class="text-right">
              <span style="display:inline-block;padding: 9px;" class="bg-info text-info">
                  <i class="fa fa-spinner fa-spin"></i> Loading...
              </span>
          </div>

          <div ng-if="! state.busy && state.error" class="text-center">
              <p class="alert alert-danger">
                  {{ browser.error.message || browser.error }}
              </p>
          </div>

          <div ng-if="! state.busy && ! state.error && (projects|length) === 0" style="background-color: #fff;border: 1px solid #ddd;padding:8px;" class="text-center">
              <p class="lead">
                  This folder is empty!
                  <br><i class="fa fa-folder-open-o"></i>
              </p>
          </div>
      </caption>
    </div>


</div>
<div class="modal-footer">
    <div class="text-right">
        <button class="btn btn-primary" type="button"
                ng-disabled="! validDestination(listing)"
                ng-click="chooseDestination(listing)"
                ng-if="!state.listingProjects"
        >
            Copy to {{ listing.name }}
        </button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>
