<div class="modal-header" style="border:none;">
    <!--<h3 class="modal-title">Categorize File(s) or Folder(s)</h3>-->
</div>
<div class="modal-body">
    <h4 style="border:none;">Select from your inventory to assign a category</h4>
    <div ng-if="ui.busy">
        <span style="display:inline-block;padding: 9px;" class="bg-info text-info">
            <i class="fa fa-spinner fa-spin"></i> Loading...
        </span>
    </div>   
    <div ng-if="!ui.busy">

      <div ng-repeat="entity in ui.parentEntities" class="col-xs-12"
           style="padding-bottom:10px; border-bottom:1px solid lightgray;">
        <div class="manage-sub-tags" style="overflow: auto; vertical-align:top; margin-bottom:10px;">
          <div class="mange-sub-tags-files">
            <table class="simple-table">
              <tbody>
                <tr>
                  <th></th>
                  <th></th>
                  <th>Choose a description (optional)</th>
                  <th>Custom Description (optional)</th>
                </tr>
                <tr ng-repeat="file in data.files">
                  <td style="word-break:break-all;">
                    <i class="fa {{ file.icon() }}"
                       style="background:light-gray"></i>
                    {{file.name}}
                  </td>
                  <td>
                    <span class="label selected"
                           ng-class="{'tag-blue': entity.name === 'designsafe.project.model_config', 'tag-green': entity.name === 'designsafe.project.sensor_list', 'tag-red': entity.name === 'designsafe.project.event', 'tag-light-blue': entity.name === 'designsafe.project.analysis', 'tag-black': entity.name === 'designsafe.project.report'}">{{ entity._displayName }}                          </span> 
                    <span class="tag-title">{{entity.value.title}}</span>
                  </td>
                  <td>
                    <select class="control-form"
                            ng-if="!isFileSubTagValid(file, entity)"
                            data-options="opt.name as opt.label for opt in ui.labels[entity.name]"
                            ng-options="tag.label group by tag.tagType
                                        for tag in entity.tagsAsOptions"
                            ng-model="data.fileSubTags[entity.uuid][file.uuid()]">
                    </select>
                    <span style="font-weight:bold;"
                          ng-if="isFileSubTagValid(file, entity)">{{entity.getFileSubTag(file).tag}}</span>
                  </td>
                  <td>
                      <input type="text" class="control-form" 
                             ng-if="!isFileSubTagValid(file, entity)"
                             ng-model="data.fileSubTagsDesc[entity.uuid][file.uuid()]"/>
                    <span style="font-weight:bold;"
                          ng-if="isFileSubTagValid(file, entity)">{{entity.getFileSubTag(file).desc}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <div>
        <button class="pull-left btn btn-sm btn-info"
                ng-click="saveFileTags()">
                <i class="fa fa-check"></i> Save
        </button>
      </div>
      </div>
    <div ng-if="!ui.parentEntities.length"
         style="margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid lightgrey;">
        <table class="simple-table">
          <tbody>
         <tr ng-repeat="file in data.files">
         <td>
           <i class="fa {{ file.icon()}}"></i>
           {{file.name}}
         </td>
         <td >
         <strong>Unassigned</strong>
         </td>
         </tr>
         </tbody>
        </table>
    </div>
    <div class="add-project-labels" style="border-bottom: 1px solid lightgray; padding-bottom:10px;">
       <h4>Inventory</h4>
        <div class="project-label-inventory" style="overflow:auto; width:100%; margin: 13px 0;">
          <div class="col-xs-3">
              <div ng-repeat="modelConfig in data.project.modelconfiguration_set"
                   style="width:100%; padding-bottom:5px;">
                <button class="btn" style="background:none;"
                        ng-click="toggleProjectTag(modelConfig)">
                <span ng-class="{'selected': isProjectTagSel(modelConfig)}"
                      class="label tag-blue">Model Config</span>
                <span class="tab-title">{{modelConfig.value.title}}</span>
                <i data-toggle="tooltip" title="This category has been inherited from a parent directory. This category can only be removed in the parent directory"
                   ng-class="{'fa-lock': isEntityLocked(modelConfig)}" class="fa"></i>
                </button>
              </div>
          </div>
          <div class="col-xs-3">
              <div ng-repeat="sensor in data.project.sensorlist_set"
                   style="width:100%; padding-bottom:5px;">
                <button class="btn" style="background:none;"
                        ng-click="toggleProjectTag(sensor)">
                <span ng-class="{'selected': isProjectTagSel(sensor)}"
                      class="label tag-green">Sensor Info</span>
                <span class="tab-title">{{sensor.value.title}}</span>
                <i data-toggle="tooltip" title="This category has been inherited from a parent directory. This category can only be removed in the parent directory"
                   ng-class="{'fa-lock': isEntityLocked(sensor)}" class="fa"></i>
                </button>
              </div>
          </div>
          <div class="col-xs-3">
              <div ng-repeat="event in data.project.event_set"
                   style="width:100%; padding-bottom:5px;">
                <button class="btn" style="background:none;"
                        ng-click="toggleProjectTag(event)">
                <span ng-class="{'selected': isProjectTagSel(event)}" 
                      class="label tag-red">Events</span>
                <span class="tab-title">{{event.value.title}}</span>
                <i data-toggle="tooltip" title="This category has been inherited from a parent directory. This category can only be removed in the parent directory"
                   ng-class="{'fa-lock': isEntityLocked(event)}" class="fa"></i>
                </button>
              </div>
          </div>
          <div class="col-xs-3">
              <div ng-repeat="analysis in data.project.analysis_set"
                   style="width:100%; padding-bottom:5px;">
                <button class="btn" style="background:none;"
                        ng-click="toggleProjectTag(analysis)">
                <span ng-class="{'selected': isProjectTagSel(analysis)}" 
                      class="label tag-light-blue">Analysis</span>
                <span class="tab-title">{{analysis.value.title}}</span>
                <i data-toggle="tooltip" title="This category has been inherited from a parent directory. This category can only be removed in the parent directory"
                   ng-class="{'fa-lock': isEntityLocked(analysis) }" class="fa"></i>
                </button>
              </div>
          </div>
        </div>
        <div class="project-label-inventory" style="overflow:auto; width:100%; margin: 13px 0;">
          <div class="col-xs-3">
              <div ng-repeat="report in data.project.report_set"
                   style="width:100%; padding-bottom:5px;">
                <button class="btn" style="background:none;"
                        ng-click="toggleProjectTag(report)">
                <span ng-class="{'selected': isProjectTagSel(report)}" 
                      class="label tag-black">Report</span>
                <span class="tab-title">{{report.value.title}}</span>
                <i data-toggle="tooltip" title="This category has been inherited from a parent directory. This category can only be removed in the parent directory"
                   ng-class="{'fa-lock': isEntityLocked(report) }" class="fa"></i>
                </button>
              </div>
          </div>
        </div>

      <div>
        <button class="btn btn-sm btn-info"
                ng-disabled = "(data.newFileProjectTags.length == 0 &&
                               data.projectTagsToUnrelate.length == 0)"
                ng-click="saveRelations()">
                <i class="fa fa-check"></i> Categorize
        </button>
        <button class="btn btn-sm btn-danger"
                ng-disabled="data.newFileProjectTags.length == 0"
                ng-click="deleteCategory()">
                <i class="fa fa-times"></i> Delete Category
        </button>
        <span> {{data.newFileProjectTags[0]._displayName}} {{data.newFileProjectTags[0].value.title}}</span>
        <button class="btn btn-sm btn-link"
                ng-if="data.newFileProjectTags.length > 0"
                ng-click="openEditCategory()">
                <i class="fa fa-pencil-square-o"></i> Edit
        </button>


    <div class="manage-project-labels well well-sm"
         ng-if="ui.showEditCategory"
         style="margin-top:10px; margin-bottom:10px; padding-bottom:20px; border-bottom:1px solid lightgray">
         <div class="pull-right">
         <button class="btn btn-sm btn-link"
                 title="Close"
                 ng-click="ui.showEditCategory = false"><i class="fa fa-times"></i></button>
         </div>
      <h3>Edit Category</h3>
      <form>
        <div style="display:inline-block; width:20%">
          <label for="id-tag-type" style="display:block">Type</label>
          <input type="text"
                 class="form-control"disabled value="{{data.catForm.type}}"/>
        </div>
        <div style="display:inline-block; width:45%;">
          <label for="id-tag-title" style="display:block">Title</label>
          <input class="form-control" style="width:90%; display:inline-block;"
                 name="tag-title" id="id-tag-title"
                 ng-model="data.catForm.title"/>
        </div>
        <div style="display:inline-block; width:90%; padding-top:5px;">
          <textarea style="width:100%;" placeholder="Description"
        ng-model="data.catForm.description">
        </textarea>
        </div>
      <button class="btn btn-info"
              ng-click="saveEditCategory()"
              ng-disabled="ui.editFormSaving">
        <span ng-if="!ui.editFormSaving">
              <i class="fa fa-check"></i> Update
        </span>
        <span style="padding: 9px;"
              class="bg-info text-info"
              ng-if="ui.editFormSaving">
            <i class="fa fa-spinner fa-spin"></i> Loading...
        </span>
      </button>
    </form>
  </div>
      <!--
      </div>
      -->
      </div>
      <!--
      <div class="list-custom-tags" ng-if="data.file && data.files.length == 1">
      <h4>Custom tags</h4>
        <div ng-if="!data.file.keywords.length && !ui.busy">
            <p class="alert alert-info">There is no metadata to show. Please add tags separated by commas.</p>
        </div>

        <div ng-if="ui.busy">
            <span style="display:inline-block;padding: 9px;" class="bg-info text-info">
                <i class="fa fa-spinner fa-spin"></i> Loading...
            </span>
        </div>

        <div class="tags-wrapper" ng-if="!ui.busy">
          <ul class="tags-list">
             <li ng-repeat="tag in data.file.keywords" 
                 class="tag-item"
                 ng-class="{'deleted': isMarkedDeleted(tag)}">
               <button class="btn btn-sm"  
                       ng-if="!isMarkedDeleted(tag)"
                       title="Mark as deleted"
                       ng-click="toggleTag(tag)">
                       <span>&times;</span>
               </button>
               <button class="btn btn-sm"  
                       ng-if="isMarkedDeleted(tag)"
                       title="Mark as deleted"
                       ng-click="toggleTag(tag)">
                       <span><i class="fa fa-reply"></i></span>
               </button>
               <span ng-class="{'deleted': isMarkedDeleted(tag)}">{{tag}}</span>
             </li>
          </ul>
        </div>
      </div>
      -->
    </div>
    <div style="margin-top:10px;">
    <button class="btn btn-info"
            ng-click="ui.showAddCategory = true;"
            alt="Add Category"
            ng-if="!ui.showAddCategory">
            <i class="fa fa-plus"></i>Add Category
    </button>
    </div>

    <div class="manage-project-labels well well-sm"
         ng-if="ui.showAddCategory"
         style="margin-top:10px; margin-bottom:10px; padding-bottom:20px; border-bottom:1px solid lightgray">
      <h3>Add Category</h3>
      <form>
        <div style="display:inline-block; width:20%">
          <label for="id-tag-type" style="display:block">Type</label>
          <div custom-select="item.name as item.label for item in ui.tagTypes | filter: { label: $searchTerm}"
               ng-model="data.form.projectTagToAdd.tagType">
            <yamz-term term-id="{{item.yamzId}}">
              <i class="fa fa-question-circle"></i>
            </yamz-term><span>{{item.label}}</span>
          </div>
        </div>
        <div style="display:inline-block; width:45%;">
          <label for="id-tag-title" style="display:block">Title</label>
          <input class="form-control" style="width:90%; display:inline-block;"
                 name="tag-title" id="id-tag-title"
                 ng-model="data.form.projectTagToAdd.tagTitle"/>
        </div>
        <div style="display:inline-block; width:90%; padding-top:5px;">
          <textarea style="width:100%;" placeholder="Description"
        ng-model="data.form.projectTagToAdd.tagDescription">
        </textarea>
        </div>
        <!--
        <div ng-if="data.form.projectTagToAdd.tagType">
          <div ng-if="data.form.projectTagToAdd.tagType === 'designsafe.project.model_config'">
            <h4>Location</h4>
            <div style="display: inline-block; width:30%; padding:0px 3px;">
              <label for="id-model-config-spatial" style="display:block">
              Spatial:
              </label>
              <input type="text" class="form-control"
                     ng-model="data.form.projectTagToAdd.optional.spatial"></input>
            </div>
            <div style="display: inline-block; width:30%; padding:0px 3px;">
              <label for="id-model-config-lat" style="display:block">
              Lat:
              </label>
              <input type="text" class="form-control"
                     ng-model="data.form.projectTagToAdd.optional.lat"></input>
            </div>
            <div style="display: inline-block; width:30%; padding:0px 3px;">
              <label for="id-model-config-long" style="display:block">
              Long:
              </label>
              <input type="text" class="form-control"
                     ng-model="data.form.projectTagToAdd.optional.lon"></input>
            </div>
          </div>
          <div ng-if="data.form.projectTagToAdd.tagType === 'designsafe.project.sensor_list'">
            <div style="display: inline-block; width:30%; padding:0px 3px;">
              <label for="id-sensor-type" style="display:block">
              Sensor Type:
              </label>
              <input type="text" class="form-control"
                     id="id-sensor-type"
                     ng-model="data.form.projectTagToAdd.optional.sensorListType"></input>
            </div>
          </div>

          <div ng-if="data.form.projectTagToAdd.tagType === 'designsafe.project.analysis'">
            <div style="display: inline-block; width:30%; padding:0px 3px;">
              <label for="id-analysis-data" style="display:block">
              Analysis Data:
              </label>
              <select ng-options="el.name as el.label for el in ui.analysisData"
                     class="form-control"
                     id="id-analysis-data"
                     ng-model="data.form.projectTagToAdd.optional.analysisData"></select>
            </div>
            <div style="display: inline-block; width:30%; padding:0px 3px;">
              <label for="id-analysis-application" style="display:block">
              Application:
              </label>
              <select ng-options="el.name as el.label for el in ui.analysisApplication"
                     class="form-control"
                     id="id-analysis-application"
                     ng-model="data.form.projectTagToAdd.optional.application"></select>
            </div>
            <div style="display: inline-block; width:30%; padding:0px 3px;">
              <label for="id-referenced-data" style="display:block">
              Referenced Data:
              </label>
              <input type="text" class="form-control" id="id-referenced-data"
                     ng-model="data.form.projectTagToAdd.optional.referencedData">
            </div>
          </div>

        </div>
        -->
        <div style="width:100%; height:20px">
          <button class="btn btn-sm btn-info"
                  ng-click="addProjectTag()"
                  ng-disabled="ui.addingTag">
                <i class="fa fa-plus"></i>
                    Save Category

        <span style="display:block;padding: 9px;"
              class="bg-info text-info"
              ng-if="ui.addingTag">
            <i class="fa fa-spinner fa-spin"></i> Loading...
        </span>
          </button>
        </div>
          <div class="alert alert-danger" ng-if="ui.error">
            {{data.error}}
          </div>
      </form>
    </div>
    <div style="text-align:center;">
    <h4> Relate Categories in Manage Experiments </h4>
    </div>
    <!--
    <div class="custom-labels" ng-if="data.file && data.files.length == 1">
      <h4>Custom Tags</h4>
    <form>
        <div class="form-group">
            <label for="id-new-folder-name">Tags: </label>
            <input type="text" class="form-control" id="id-metadata-tags" name="metadata-tags" placeholder="tag1, tag2, tag three" ng-model="data.form.metadataTags" autofocus select-on-focus>
        </div>
    </form>
    </div>
    -->
    <div style="padding:10px; margin-top:10px;" class="text-right">
        <button class="btn btn-default" type="button" ng-click="cancel()">Close</button>
        <!-- <button class="btn btn-primary" type="submit" ng-click="doSaveMetadata($event)">Save</button> -->
    </div>
    </div>
</div>
