<div class="modal-header">
    <h3 class="modal-title">Select the destination to move the following files</h3>
</div>
<div class="modal-body">
    <ul>
        <li ng-repeat="file in data.files">
            {{ file.name }}
        </li>
    </ul>


    <dd-breadcrumb listing="listing" on-browse="onBrowse"></dd-breadcrumb>
    <div class="table-responsive">
        <table class="table table-bordered table-striped" style="background-color: #fff;">
            <thead>
            <th>Name</th>
            <th>Action</th>
            </thead>

            <tbody>
            <tr ng-repeat="item in listing.children">
                <td>
                    <i class="fa {{ item.icon() }}"></i>
                    <a ng-href="{{ item.href || '#' }}" ng-click="onBrowse($event, item)">
                        {{ item.name }}
                    </a>
                </td>
                <td>
                    <a class="btn btn-primary btn-xs"
                       ng-if="validDestination(item)"
                       ng-click="chooseDestination(item)">
                        Move to {{ item.name }}
                    </a>
                </td>
            </tr>
            </tbody>
            <caption class="text-center" ng-if="state.busy">
                <i class="fa fa-spinner fa-spin"></i> Loading...
            </caption>
            <caption class="text-center" ng-if="! state.busy && state.error">
                <p class="alert alert-danger">
                    {{ state.error }}
                </p>
            </caption>
            <caption class="text-center" ng-if="! state.busy && ! state.error && (listing.children|length) === 0">
                <p class="lead">
                    This folder is empty!
                    <br><i class="fa fa-folder-open-o"></i>
                </p>
            </caption>
        </table>
    </div>


</div>
<div class="modal-footer">
    <div class="text-right">
        <button class="btn btn-primary" type="button"
                ng-disabled="! validDestination(listing)"
                ng-click="chooseDestination(listing)"
        >
            Move to {{ listing.name }}
        </button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>
