<div class="modal-header">
    <h3 class="modal-title">
        <span ng-if="! form.uuid">Create a New Project</span>
        <span ng-if="form.uuid">Edit Project</span>
    </h3>
</div>
<div class="modal-body">
    <form>
      <div class="pull-left" sytle="width:50%;">
        <div class="form-group">
            <label for="id_title">Project title</label>
            <input type="text" required class="form-control" id="id_title" name="title" placeholder="Project title" ng-model="form.title" autofocus select-on-focus>

        </div>
        <div class="form-group">
            <label for="id_pi">PI</label>
            <input type="text" class="form-control" id="id_pi" ng-model="form.pi"
                   placeholder="Lookup PI by name or email address"
                   autocomplete="off" uib-typeahead="user for user in searchUsers($viewValue)"
                   typeahead-loading="searching"
                   typeahead-no-results="noResults"
                   typeahead-input-formatter="formatSelection($result)"
                   typeahead-template-url="local/share_user_search_result.html"
            >
            <span class="text-muted" ng-show="searching"><i class="fa fa-spinner fa-spin"></i> Searching for PI...</span>
            <div ng-show="noResults">
                <i class="fa fa-remove"></i> No results.
            </div>
            <p class="help-block">
                If you cannot find the person you are looking for, simply leave this field
                blank. You can edit the Project's details later.
            </p>
        </div>
      </div>
      <div class="pull-right" stlye="width:49%">
        <div class="form-group">
          <label for="award-number-id">Award Number:</label>
          <input type="text" class="form-control" id="award-number-id" ng-model="form.awardNumber" />
        </div>
        <div class="form-group">
          <label for="identifier-id">Identifier:</label>
          <input type="text" class="form-control" id="identifier-id" ng-model="form.identifier" />
        </div>
      </div>
      <div class="form-group">
        <label for="description-id">Description:</label>
        <textarea class="form-control" id="description-id" ng-model="form.description" />
      </div>
        <div class="text-right" ng-if="!ui.busy">
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" type="submit" ng-click="save($event)">Save Project</button>
        </div>
        <div ng-if="ui.busy">
            <p class="lead">
                <i class="fa fa-spinner fa-spin"></i>
                Saving project...
            </p>
        </div>
    </form>
</div>
<script type="text/ng-template" id="local/share_user_search_result.html">
    <a>{{ match.model.first_name }} {{ match.model.last_name }} ({{ match.model.username }})</a>
</script>
