<div class="modal-header">
    <h3 class="modal-title">
        <span ng-if="!form.uuid">Create a New Project</span>
        <span ng-if="form.uuid">Edit Project</span>
    </h3>
    <a class="" href="https://youtu.be/0iR_mg71tx4?list=PL2GxvrdFrBlkwHBgQ47pZO-77ZLrJKYHV&t=22" target="_blank"><i class="fa fa-question-circle"></i> Learn More</a>
</div>
<div class="modal-body">
    <form>
      <div class="pull-left" style="width:49%;">
        <div class="form-group required">
            <yamz-term term-id="h1551"><i class="fa fa-question-circle"></i></yamz-term>
            <label for="id_title">Project title</label>
            <input type="text" required class="form-control" id="id_title" name="title" placeholder="Project title" ng-model="form.title" autofocus select-on-focus>

        </div>
        <div class="form-group required">
            <label for="id_pi">PI</label>
            <input type="text" class="form-control" id="id_pi" ng-model="form.pi"
                   placeholder="Lookup PI by name or email address"
                   autocomplete="off" uib-typeahead="user for user in searchUsers($viewValue)"
                   typeahead-loading="searching"
                   typeahead-no-results="noResults"
                   typeahead-input-formatter="formatSelection($result)"
                   typeahead-template-url="local/share_user_search_result.html"
            >
            <span class="text-muted" ng-show="searching"><i class="fa fa-spinner fa-spin"></i> Searching for PI...</span>
            <div ng-show="noResults">
                <i class="fa fa-remove"></i> No results.
            </div>
            <p class="help-block">
                This value can be updated later on.
            </p>
        </div>
      </div>
      <div class="pull-right" style="width:49%">
        <div class="form-group">
          <label for="identifier-id">Project Identifier:</label>
          <input type="text" class="form-control" id="identifier-id" ng-model="form.projectId" disabled/>
        </div>
        <div class="form-group">
          <yamz-term term-id="h1264"><i class="fa fa-question-circle"></i></yamz-term>
          <label for="award-number-id">Award Number:</label>
          <input type="text" class="form-control" id="award-number-id" ng-model="form.awardNumber" />
        </div>
      </div>
      <div style="clear:both;">
        <div class="form-group required">
          <yamz-term term-id="h1550"><i class="fa fa-question-circle"></i></yamz-term>
          <label for="projecttype-id">Project Type:</label>
          <p class="alert alert-info">
            Only <strong>Experimental</strong> and <strong>Other</strong> project types can be published.<br />
            We are working on implementing publication pipelines for the rest of the project types.<br/>
            We can answer any questions through our <a href="/help">Ticketing system</a> or <a href="/community/slack-online-collaboration/"> Slack </a>.
          </p>
          <select ng-options="projectType.label for projectType in projectTypes"
                  ng-model="form.projectType"
                  class="form-control"
                  id="projecttype-id"/>
        </div>
        <!--
        <div class="form-group"
             ng-if="form.projectType">
          <label for="porjectef-id">Experimental Facility:</label>
          <select ng-options="ef.name as ef.label for ef in efs[form.projectType.id]"
                  class="form-control"
                  ng-model="form.experimentalFacility"
                  id="projectef-id">
          </select>
        </div>
        -->
            <p class="help-block">
                Your project is tailored based on Project Type choice.
            </p>
      </div>
      <div style="clear:both;">
        <div class="well well-sm">
          <div ng-if="form.associatedProjects.length">
          <yamz-term term-id="h1554"><i class="fa fa-question-circle"></i></yamz-term>
          <p> Associated Project - Link to Project <p>
          <div ng-repeat="associatedProject in form.associatedProjects">
              <div>
                <input type="checkbox" ng-model="associatedProject.delete" /><span> {{associatedProject.title}} </span> - <span> <a href="{{associatedProject.href}}">{{associatedProject.href}}</a> </span>
              </div>
          </div>
          <p class="help-block">Check associated projects to delete.</p>
          </div>
          <p> Associated Project - Link to Project <p>
          <div class="form-group" ng-repeat="associatedProject in form.associatedProjectsAdded">
              <input class="form-control" value="{{associatedProject.title}}" style="width:40%; display:inline-block;" ng-model="associatedProject.title"/> - <input class="form-control" value="{{associatedProject.href}}" style="width:40%; display:inline-block;" ng-model="associatedProject.href"/>
          </div>
          <button class="btn btn-info btn-sm" ng-click="addAssociatedProject()">
            <i class="fa fa-plus"></i> Add another
          </button>
        </div>
      </div>
      <div style="clear:both;">
        <div class="form-group">
          <label for="id-keywords">Keywords</label>
          <input class="form-control" type="text" id="id-keywords" ng-model="form.keywords" />
          <p class="help-block">
            Add keywords separated by commas. e.g. keyword 1, keyword 2, keyword 3
          </p>
        </div>
        <div class="form-group">
          <yamz-term term-id="h1552"><i class="fa fa-question-circle"></i></yamz-term>
          <label for="description-id">Description:</label>
          <textarea class="form-control" id="description-id" ng-model="form.description" />
        </div>
        <div class="form-group">
            <label for="image-id">Image:</label> <code>projectimage.jpg</code>
            <p class="help-text">
                Upload an image in the root of the project with the name <code>projectimage.jpg</code> and it will be rendered when the project is published.
            </p>
        </div>
      </div>
        <div class="text-right" ng-if="!ui.busy">
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" type="submit" ng-click="save($event)">Save Project</button>
        </div>
        <div ng-if="ui.busy">
            <p class="lead">
                <i class="fa fa-spinner fa-spin"></i>
                Saving project...
            </p>
        </div>
    </form>
</div>
<script type="text/ng-template" id="local/share_user_search_result.html">
    <a>{{ match.model.first_name }} {{ match.model.last_name }} ({{ match.model.username }})</a>
</script>
