{
    "extends": ["eslint:recommended", "google"],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jquery": true,
        "mocha": true,
        "jasmine": true,
    },
    "rules": {
        "semi"              : [1, "always"],
        "consistent-return" : 2,
        "indent"            : [1, 4, { "SwitchCase": 1 }],
        "no-else-return"    : 1,
        "space-unary-ops"   : 2,
        "max-len"           : 0,
        "arrow-parens"      : [1, "as-needed"],
        "quote-props"       : [1, "as-needed"],
        "quotes"            : [1, "single", {"avoidEscape": true}],
    },
    "globals": {
        "_": false,
        "moment": false,
        "angular": false,
        "inject": false,
    }
}
