{
    "root": true,
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jquery": true,
        "mocha": true,
        "jasmine": true
    },
    "extends": [
        "airbnb-base",
        "standard",
        "prettier",
        "prettier/standard"
    ],
    "globals": {
        "moment": false,
        "angular": false,
        "inject": false,
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "prettier"
    ],
    "parser": "babel-eslint",
    "ignorePatterns": [
        "*.test.js"
    ],
    "rules": {
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": [
                    "**/webpack.*.js",
                    "**/*.test.js",
                    "**/*.spec.js",
                    "**/utils/testing.js"
                ]
            }
        ],
        "semi": [
            1,
            "always"
        ],
        "no-underscore-dangle": 0,
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true
            }
        ],
       "space-unary-ops"       : 2,
       "arrow-parens"          : 1,
       "quote-props"           : [1, "as-needed"],
       "quotes"                : [1, "single", {"avoidEscape": true}],
       "brace-style"           : [1, "1tbs", { "allowSingleLine": true }],
       "object-curly-spacing"  : [1, "always"]
    }
}
