# ignore intellij IDE things
.idea/

# OsX DS_Store nonsense
.DS_Store

# ignore the populated environment file so as not to commit secrets!
designsafe.env

# don't commit certs
certs/

# no node modules
node_modules/

# in case you leave that here
datadump.json

# no development databases
db.sqlite3*

# ignore various Python things
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.mo
*.pot
*.log
docs/_build/
target/
