# ignore intellij IDE things
.idea/

i# ignore vsCode things
settings.json

# OsX DS_Store nonsense
.DS_Store

# don't track webpack's bundles
designsafe/apps/rapid/static/designsafe/apps/rapid/build/bundle.*
designsafe/apps/geo/static/designsafe/apps/geo/build/bundle.*
designsafe/static/build/
# designsafe/static/styles/base.*
/static

# ignore the populated environment file so as not to commit secrets!
designsafe.env
mysql.env
rabbitmq.env
rabbitmq.conf
mysql.cnf

# ignore templated html files
designsafe/templates/base.html
designsafe/apps/applications/templates/designsafe/apps/applications/index.html
designsafe/apps/data/templates/data/data_depot.html
designsafe/apps/rapid/templates/designsafe/apps/rapid/rapid_base.html
designsafe/apps/workspace/templates/designsafe/apps/workspace/index.html
designsafe/apps/geo/templates/designsafe/apps/geo/index.html
designsafe/apps/search/templates/designsafe/apps/search/index.html
designsafe/apps/dashboard/templates/designsafe/apps/dashboard/index.html
designsafe/apps/notifications/templates/designsafe/apps/notifications/index.html
designsafe/apps/nco/templates/designsafe/apps/nco/nco_index.html
designsafe/apps/nco/templates/designsafe/apps/nco/ttc_grants.html

# local config files
conf/elasticsearch/logging.yml
conf/redis.conf
settings.json

# don't commit certs
certs/

# data directories
data/redis/
data/mysql/
data/elasticsearch/
data/static/
data/media/
data/NEHRI/

# stats
stats/

# no node modules
node_modules/

# in case you leave that here
datadump.json

# no development databases
db.sqlite3*

# ignore various Python things
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
coverage/
.cache
nosetests.xml
coverage.xml
*,cover
*.mo
*.pot
*.log
docs/_build/
.docs/build
target/
venv/
metrics/
.python-version

# ignore Google Drive API secrets
*secrets.json
*secrets.py

# vscode
.vscode/
