###
# Set to "True" to enable Django DEBUG mode.
# https://docs.djangoproject.com/en/1.8/ref/settings/#debug
#
DJANGO_DEBUG=False

###
# https://docs.djangoproject.com/en/1.8/ref/settings/#std:setting-SECRET_KEY
#
DJANGO_SECRET_KEY=kvke34tgin6@r#_^*p8lj#1n7lj#m+v&1er@3v!!jk3s8!k2kz

###
# Sets the cookie domain to enable shared authentication across
# the main site and ef sites
# https://docs.djangoproject.com/en/1.8/ref/settings/#session-cookie-domain
#
# SESSION_COOKIE_DOMAIN=.designsafe-ci.org

###
# DATABASE
# Uncomment and set these variables to use an external MySQL database
#
# DATABASE_HOST=
# DATABASE_PORT=
# DATABASE_NAME=
# DATABASE_USER=
# DATABASE_PASSWORD=

###
# TAS API
#
TAS_CLIENT_KEY=
TAS_CLIENT_SECRET=
TAS_URL=

###
# EMAIL
#
SMTP_HOST=smtp.designsafe-ci.org
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
DEFAULT_FROM_EMAIL=no-reply@designsafe-ci.org

###
# Google Analytics
#
# GOOGLE_ANALYTICS_PROPERTY_ID=

###
# Opbeat Performance Metrics
#
# OPBEAT_ORGANIZATION_ID=
# OPBEAT_APP_ID=
# OPBEAT_SECRET_TOKEN=