###
# Set to "True" to enable Django DEBUG mode.
# https://docs.djangoproject.com/en/1.8/ref/settings/#debug
#
DJANGO_DEBUG=False

###
# https://docs.djangoproject.com/en/1.8/ref/settings/#std:setting-SECRET_KEY
#
DJANGO_SECRET_KEY=kvke34tgin6@r#_^*p8lj#1n7lj#m+v&1er@3v!!jk3s8!k2kz

###
# Sets the cookie domain to enable shared authentication across
# the main site and ef sites
# https://docs.djangoproject.com/en/1.8/ref/settings/#session-cookie-domain
#
# SESSION_COOKIE_DOMAIN=.designsafe-ci.org

###
# DATABASE
# Uncomment and set these variables to use an external MySQL database
#
# DATABASE_HOST=
# DATABASE_PORT=
# DATABASE_NAME=
# DATABASE_USER=
# DATABASE_PASSWORD=

###
# TAS API
#
# For TAS API integration you will need to obtain a set of TAS client credentials. Submit
# a ticket to TACC Staff to obtain these credentials (or see @mrhanlon).
#
TAS_CLIENT_KEY=
TAS_CLIENT_SECRET=
TAS_URL=

###
# EMAIL
#
SMTP_HOST=smtp.designsafe-ci.org
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
DEFAULT_FROM_EMAIL=no-reply@designsafe-ci.org

###
# Google Analytics
#
# GOOGLE_ANALYTICS_PROPERTY_ID=

###
# Opbeat Performance Metrics
#
# OPBEAT_ORGANIZATION_ID=
# OPBEAT_APP_ID=
# OPBEAT_SECRET_TOKEN=

###
# Agave Tenant Configuration
#
# To configure Agave Authentication for DesignSafe-CI Portal, you need to
# generate a set of API client keys. The client MUST be configured with a `callbackUrl`
# which should be the URL path to the `designsafe.apps.auth.views.agave_oauth_callback`
# view. In production, this would be `https://www.designsafe-ci.org/auth/agave/callback/`.
# If you are following the "First time setup" from the README, this would be
# `http://$DOCKER_HOST_IP:8000/auth/agave/callback/`, where `$DOCKER_HOST_IP` is either
# `localhost` or the result of the `docker-machine ip <machine-name>` command.
#
# See http://agaveapi.co/documentation/beginners-guides/#getting-your-client-api-keys
# for more information
#
AGAVE_TENANT_ID=designsafe
AGAVE_TENANT_BASEURL=https://agave.designsafe-ci.org

# API Keys used in token generation, etc.
AGAVE_CLIENT_KEY=
AGAVE_CLIENT_SECRET=
AGAVE_TOKEN_SESSION_ID=

# Long-lived token used by the portal for "admin" actions; obtain from API store interface
AGAVE_SUPER_TOKEN=

AGAVE_STORAGE_SYSTEM=designsafe.storage.default

# djangoRT
RT_HOST=https://hostname.example.com/REST/1.0/
RT_USERNAME=username
RT_PASSWORD=password
RT_DEFAULT_QUEUE=Helpdesk
