agavepy==0.9.3
# -e git+git://github.com/TACC/agavepy@v0.9.0#egg=agavepy
alabaster==0.7.10
amqp==2.2.1
appnope==0.1.0
asn1crypto==0.24.0
astroid==1.6.5
Babel==2.4.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.5.3
billiard==3.5.0.3
boxsdk==1.5.2
cachetools==2.0.1
celery==4.1.0
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
codecov==2.0.15
configparser==3.5.0
cookies==2.2.1
coverage==4.5.1
cryptography==2.3.1
decorator==4.1.2
Django==1.10.7
django-angular==0.8.4
django-appconf==1.0.2
django-bootstrap3==9.0.0
django-classy-tags==0.8.0
django-cms==3.4.4
django-filer==1.2.8
django-formtools==2.0
django-haystack==2.6.0
django-impersonate==1.1
django-ipware==1.1.6
django-mptt==0.8.7
django-pipeline==1.6.0
django-polymorphic==1.0.2
django-recaptcha2==1.0.3
django-redis-cache==1.7.1
django-redis-sessions==0.5.6
django-reversion==1.10.0
django-sekizai==0.10.0
Django-Select2==4.3.1
django-termsandconditions==1.1.2
django-treebeard==4.1.2
django-websocket-redis==0.5.0
djangocms-admin-style==1.2.7
djangocms-attributes-field==0.3.0
djangocms-cascade==0.14.1
djangocms-column==1.7.0
djangocms-file==2.0.2
djangocms-flash==0.3.0
djangocms-forms==0.2.5
djangocms-googlemap==1.1.1
djangocms-inherit==0.2.2
djangocms-link==2.1.2
djangocms-picture==2.0.5
djangocms-style==2.0.2
djangocms-teaser==0.2.0
djangocms-text-ckeditor==3.5.0
djangocms-video==2.0.3
docutils==0.14
dropbox==7.1.1
dumb-init==1.2.2
easy-thumbnails==2.3
elasticsearch==5.4.0
elasticsearch-dsl==5.3.0
enum34==1.1.6
et-xmlfile==1.0.1
flake8==3.5.0
flower==0.9.2
funcsigs==0.4
future==0.16.0
futures==3.1.1
gevent==1.2.2
google-api-python-client==1.6.4
google-auth==1.1.1
google-auth-httplib2==0.0.2
google-auth-oauthlib==0.1.1
greenlet==0.4.12
hashids==1.2.0
html5lib==0.999
httplib2==0.11.3
idna==2.5
imagesize==0.7.1
ipaddress==1.0.18
ipdb==0.9.4
ipython==5.4.1
ipython-genutils==0.2.0
isort==4.3.4
jdcal==1.3
Jinja2==2.7.3
jsonfield==2.0.2
jsonpickle==0.9.6
kombu==4.1.0
lazy-object-proxy==1.3.1
MarkupSafe==1.0
mccabe==0.6.1
mock==1.3.0
MySQL-python==1.2.5
newrelic==2.90.0.75
oauth2client==4.1.2
oauthlib==2.0.7
odfpy==1.3.5
olefile==0.44
openpyxl==2.4.8
pathlib2==2.3.0
pbr==1.8.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.2.1
ply==3.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.4.26
pyasn1==0.3.2
pyasn1-modules==0.2.1
pycodestyle==2.3.1
pycparser==2.18
pydocstyle==2.1.1
pyflakes==1.6.0
Pygments==2.2.0
PyJWT==1.4.2
pylint==1.9.3
pyOpenSSL==17.2.0
-e git+https://bitbucket.org/taccaci/pytas.git@492202b5d8dd010164996bbb76f01b46e9efb70e#egg=pytas
pytest==2.7.0
python-dateutil==2.4.2
python-magic==0.4.13
python-memcached==1.58
pytz==2015.4
PyYAML==3.12
redis==2.10.5
requests==2.18.3
requests-mock==1.0.0
requests-oauthlib==0.8.0
requests-toolbelt==0.6.2
responses==0.5.0
rsa==3.4.2
rt==1.0.8
scandir==1.5
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
slimit==0.8.1
snowballstemmer==1.2.1
Sphinx==1.6.3
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1
suds==0.4
tablib==0.11.5
tornado==4.5.1
traitlets==4.3.2
typing==3.6.2
unicodecsv==0.14.1
Unidecode==0.4.21
uritemplate==3.0.0
urllib3==1.22
vine==1.1.4
virtualenv==13.0.1
wcwidth==0.1.7
websocket-client==0.29.0
wrapt==1.10.11
xlrd==1.0.0
xlwt==1.2.0
