<div style="background:white;">
    <!-- Project Header Start -->
    <div ng-if="!$ctrl.ui.loading">
        <div class="prj-head-container">
            <span class="prj-head-title">
                {{$ctrl.browser.project.value.projectId}} | <strong>{{ $ctrl.browser.project.value.title }}</strong>
                <a class="prj-head-edit" ng-click="$ctrl.manageProject($event)" ng-if="!$ctrl.readOnly"><strong>Edit Project</strong></a>
            </span>
            <div class="prj-head-buttons">
                <button class="btn-sm btn-secondary prj-head-download" ng-click="$ctrl.download()" ng-if="$ctrl.readOnly">
                    <span class="curation-download"></span>
                    &nbsp;&nbsp;Download Dataset
                </button>
            </div>
        </div>
        <table style="table-layout: fixed; width: 100%; margin-top: 10px; margin-bottom: 10px;">
            <colgroup>
                <col style="width: 15%">
                <col style="width: 84%">
            </colgroup>
            <tr class="prj-row">
                <td>PI</td>
                <td class="prj-data">
                    <ds-user-list usernames="[$ctrl.browser.project.value.pi]"></ds-user-list>
                </td>
            </tr>
            <tr ng-if="$ctrl.browser.project.value.coPis.length">
                <td>Co-PIs</td>
                <td class="prj-data">
                    <ds-user-list usernames="$ctrl.browser.project.value.coPis"></ds-user-list>
                </td>
            </tr>
            <tr class="prj-row" ng-if="$ctrl.readOnly && $ctrl.browser.publication.project.value.dois.length">
                <td>
                    <span>DOI</span>
                    <button class="btn btn-info btn-sm btn-cite" data-ng-click="$ctrl.showCitation()">
                        Citation
                    </button>
                </td>
                <td>
                    <strong>{{ $ctrl.browser.publication.project.value.dois[0] }}</strong>
                </td>
            </tr>
            <tr class="prj-row" ng-hide="$ctrl.browser.project.value.projectType === 'other' && $ctrl.browser.project.value.dataType">
                <td>Project Type</td>
                <td class="prj-data" ng-if="$ctrl.browser.project.value.projectType !== 'field_recon'">
                    {{ $ctrl.browser.project.value.projectType.replace('_', ' ') }}
                </td>
                <td class="prj-data" ng-if="$ctrl.browser.project.value.projectType === 'field_recon'">
                    Field Research
                    <span ng-if="$ctrl.browser.project.value.frTypes.length">
                        |
                        <span ng-repeat="frType in $ctrl.browser.project.value.frTypes">
                            <span ng-if="!$last">{{ frType }},</span>
                            <span ng-if="$last">{{ frType }}</span>
                        </span>
                    </span>
                </td>
            </tr>
            <tr class="prj-row" ng-if="$ctrl.browser.project.value.projectType === 'other' && $ctrl.browser.project.value.dataType">
                <td>Data Type</td>
                <td class="prj-data">{{ $ctrl.browser.project.value.dataType }}</td>
            </tr>
            <tr class="prj-row"
                ng-if="$ctrl.browser.project.value.projectType === 'field_recon' && $ctrl.browser.project.value.nhTypes.length">
                <td>Natural Hazard Type</td>
                <td class="prj-data">
                    <span ng-repeat="nhtype in $ctrl.browser.project.value.nhTypes">
                        <span ng-if="!$last">{{ nhtype }},</span>
                        <span ng-if="$last">{{ nhtype }}</span>
                    </span>
                </td>
            </tr>
            <!-- FR -->
            <tr class="prj-row" ng-if="$ctrl.browser.project.value.projectType === 'field_recon' && $ctrl.browser.project.value.nhEvent">
                <td>Event</td>
                <td class="prj-data">
                    {{ $ctrl.browser.project.value.nhEvent }} |
                    <span ng-if="$ctrl.browser.project.value.nhLocation">{{ $ctrl.browser.project.value.nhLocation }} |</span>
                    {{$ctrl.browser.project.value.nhEventStart | date:'MM-dd-yyyy'}}
                    <span ng-if="$ctrl.browser.project.value.nhEventEnd && $ctrl.browser.project.value.nhEventStart !== $ctrl.browser.project.value.nhEventEnd">
                        ― {{$ctrl.browser.project.value.nhEventEnd | date:'MM-dd-yyyy'}}
                    </span>
                    <span ng-if="$ctrl.browser.project.value.nhLatitude && $ctrl.browser.project.value.nhLatitude">|</span>
                    <a href="http://www.google.com/maps/place/{{ $ctrl.browser.project.value.nhLatitude }},{{ $ctrl.browser.project.value.nhLongitude }}"
                        rel="noopener noreferrer" target=”_blank” ng-if="$ctrl.browser.project.value.nhLatitude && $ctrl.browser.project.value.nhLatitude">
                        Lat {{ $ctrl.browser.project.value.nhLatitude }} Long {{ $ctrl.browser.project.value.nhLongitude }}
                    </a>
                </td>
            </tr>
            <!-- FR -->
            <tr ng-repeat="award in $ctrl.browser.project.value.awardNumber | orderBy:'order' track by $index"
                ng-if="!$ctrl.readOnly">
                <td ng-if="$first">Awards</td>
                <td ng-if="!$first"></td>
                <td><strong>{{ award.name }} - {{ award.number }}</strong></td>
            </tr>
            <tr ng-repeat="award in $ctrl.browser.project.value.awardNumbers | orderBy:'order' track by $index"
                ng-if="$ctrl.readOnly">
                <td ng-if="$first">Awards</td>
                <td ng-if="!$first"></td>
                <td><strong>{{ award.name }} - {{ award.number }}</strong></td>
            </tr>
            <tr ng-repeat="doi in $ctrl.frDOIList">
                <td ng-if="$first">DOI(s) in Project</td>
                <td ng-if="!$first"></td>
                <td>
                    <strong>
                        <a
                            ng-click="$ctrl.goToHash(doi.hash)"
                            data-toggle="collapse"
                            data-target="{{ doi.type === 'mission' ? '#data-' : '#files-' }}{{doi.uuid}}"
                        >
                            {{ doi.value }}
                        </a>
                    </strong>
                </td>
            </tr>
            <tr ng-repeat="work in $ctrl.browser.project.value.associatedProjects | orderBy:'order' track by $index">
                <td ng-if="$first">Related Work</td>
                <td ng-if="!$first"></td>
                <td><strong><a href="{{ work.href }}" rel="noopener noreferrer" target=”_blank”>{{ work.title }}</a></strong></td>
            </tr>
            <tr class="prj-row">
                <td ng-if="$ctrl.browser.project.value.keywords">Keywords</td>
                <td class="prj-data">{{ $ctrl.browser.project.value.keywords }}</td>
            </tr>
            <tr ng-if="$ctrl.browser.project.value.hazmapperMaps.length">
                <td>Hazmapper Maps</td>
                <td>
                    <hazmapper-maps maps="$ctrl.browser.project.value.hazmapperMaps" on-browse="$ctrl.onBrowse(file)">
                    </hazmapper-maps>
                </td>
            </tr>
        </table>
        <div class="prj-center-bar">
            <a ng-click="$ctrl.treeDiagram()">
                <strong>View Data Diagram</strong>
            </a>
            <span ng-if="$ctrl.readOnly">
                |<a ng-click="$ctrl.metrics()">
                    &nbsp;<img src='/static/images/ds-icons/icon-metrics.svg' style="height: 12px;">
                    <strong>&nbsp;View Data Metrics</strong>
                </a>
                |<a ng-click="$ctrl.leaveFeedback()">
                    &nbsp;<img src='/static/images/ds-icons/icon-feedback.svg' style="width: 12px;">
                    <strong>&nbsp;Leave Feedback</strong>
                </a>
            </span>
        </div>
        <div ng-if="$ctrl.browser.project.value.description">
            <p>
                <show-more
                    label="'Description'"
                    content="$ctrl.browser.project.value.description"
                >
                </show-more>
            </p>
        </div>
    </div>
    <!-- Project Header End -->
    <table class="tg" style="table-layout: fixed; width: 100%;" data-ng-if="!$ctrl.readOnly && !$ctrl.ui.loading">
        <colgroup>
            <col style="width: 46%">
            <col style="width: 50%">
        </colgroup>
        <tr>
            <td class="tg-0lax">
                <button class="btn btn-project-l grayed-out" ng-click="$ctrl.goWork()">
                    Working Directory</button>
                <button class="btn btn-project-m grayed-out" ng-click="$ctrl.goCuration()">
                    Curation Directory</button>
                <button class="btn btn-project-r" ng-click="publicationPreview()">
                    Publication Preview</button>
            </td>
            <td class="tg-0lax">
                <div class="btn-group pull-right" role="group" aria-label="Publish buttons">
                    <button class="btn btn-add" ng-click="$ctrl.prepareModal()">
                        Prepare to Publish <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </td>
        </tr>
    </table>
    <br>
    <div style="margin-bottom: 2px;" ng-if="!$ctrl.ui.fileNav && !$ctrl.ui.loading">
        <breadcrumb
            path="$ctrl.breadcrumbParams.path"
            system="$ctrl.FileListingService.listings.main.params.path"
            on-browse="$ctrl.onBrowse(file)"
            custom-root="$ctrl.breadcrumbParams.root"
            skip-root="$ctrl.breadcrumbParams.skipRoot"
        ></breadcrumb>
    </div>
    <div ng-show="$ctrl.ui.loading">
        <h3 class="text-center">
            <i class="fa fa-spinner fa-spin"></i> Loading...
        </h3>
    </div>
    <div ng-if="$ctrl.ui.fileNav && !$ctrl.ui.loading">
        <breadcrumb
            path="$ctrl.breadcrumbParams.path"
            system="$ctrl.FileListingService.listings.main.params.path"
            on-browse="$ctrl.onBrowse(file)"
            custom-root="$ctrl.breadcrumbParams.root"
            skip-root="$ctrl.breadcrumbParams.skipRoot"
        ></breadcrumb>
        <files-listing show-select="true" show-tags="true"
            on-scroll="$ctrl.scrollToBottom()"
            listing="$ctrl.FileListingService.listings.main"
            on-browse="$ctrl.onBrowse(file)"
        >&nbsp;</files-listing>
    </div>
    <div ng-if="!$ctrl.ui.fileNav && !$ctrl.ui.loading">
        <!-- Root Sets -->
        <div ng-repeat="mission in $ctrl.orderedPrimary">
            <!-- Reports -->
            <div ng-if="mission.name == 'designsafe.project.field_recon.report' && !$ctrl.ui.loading">
                <div class="dropdown dropdown-spacer-sm" id="details-{{mission.uuid}}">
                    <button class="btn collapsed tab-report" data-toggle="collapse" data-target="#files-{{mission.uuid}}"
                        style="width:100%;">
                        <table style="width:100%" id="anchor-{{ mission.uuid }}">
                            <tr>
                                <td class="tab-cell">
                                    <span>Documents | <strong>{{mission.value.title}}</strong></span>
                                </td>
                                <td style="text-align: right;">
                                    <span class="curation-chevron" style="font-size: 18px;"></span>
                                </td>
                            </tr>
                        </table>
                    </button>
                    <div id="files-{{mission.uuid}}" class="collapse">
                        <div class="well">
                            <div class="entity-meta-field">
                                <div class="entity-meta-label-multi" data-ng-if="mission.value.authors.length">
                                    Author(s)
                                </div>
                                <div class="entity-meta-data" data-ng-if="mission.value.authors.length">
                                    <span ng-if="$ctrl.readOnly">
                                        <span ng-repeat="author in $ctrl.sortAuthors(mission.authors) | filter: { authorship: true }">
                                            <a href="javascript:;" ng-click="$ctrl.showAuthor(author)">{{ author.lname }}, {{ author.fname }}</a><span ng-if="!$last">;</span>
                                        </span>
                                    </span>
                                    <span ng-if="!$ctrl.readOnly">
                                        <ds-author-list authors="mission.value.authors"></ds-author-list>
                                    </span>
                                </div>
                            </div>
                            <div class="entity-meta-field" ng-if="mission.value.referencedData.length">
                                <div class="entity-meta-label-multi">
                                    Referenced Data
                                </div>
                                <div class="entity-meta-data">
                                    <ul class="collection-list">
                                        <li data-ng-repeat="data in mission.value.referencedData">
                                            <a href="{{ data.url }}" rel="noopener noreferrer" target=”_blank”>{{ data.title }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="entity-meta-field">
                                <div class="entity-meta-label">Date of Publication</div>
                                <div class="entity-meta-data" ng-if="!$ctrl.readOnly">
                                    <span>(Appears when published)</span>
                                </div>
                                <div class="entity-meta-data" ng-if="$ctrl.readOnly">
                                    <span>{{ $ctrl.browser.publication.created | date:'MM-dd-yyyy' }}</span>
                                </div>
                            </div>
                            <div class="entity-meta-field">
                                <div class="entity-meta-label">
                                    DOI
                                    <button class="btn btn-info btn-sm btn-cite"
                                            ng-disabled="!$ctrl.readOnly"
                                            data-ng-click="$ctrl.showCitation(mission)">
                                        Citation
                                    </button>
                                </div>
                                <div class="entity-meta-data" ng-if="!$ctrl.readOnly">
                                    <span>(Appears when published)</span>
                                </div>
                                <div class="entity-meta-data" ng-if="$ctrl.readOnly">
                                    <span>{{mission.doi}}</span>
                                </div>
                            </div>
                            <div class="entity-meta-field">
                                <div class="entity-meta-label-multi">License(s)</div>
                                <div class="entity-meta-data" ng-if="!$ctrl.readOnly">
                                    <span>(Appears when published)</span>
                                </div>
                                <div class="entity-meta-data" ng-if="$ctrl.readOnly">
                                    <div data-ng-if="$ctrl.browser.publication.licenses.datasets">
                                        {{ $ctrl.browser.publication.licenses.datasets }}
                                    </div>
                                    <div data-ng-if="$ctrl.browser.publication.licenses.works">
                                        {{ $ctrl.browser.publication.licenses.works }}
                                    </div>
                                    <div data-ng-if="$ctrl.browser.publication.licenses.software">
                                        {{ $ctrl.browser.publication.licenses.software }}
                                    </div>
                                </div>
                            </div>
                            <div class="entity-meta-field" ng-if="mission.value.description">
                                <p>{{ mission.value.description }}</p>
                            </div>
                        </div>
                        <files-listing show-select="true" show-tags="true"
                        on-scroll="$ctrl.scrollToBottom()"
                        listing="$ctrl.FileListingService.listings[mission.uuid]"
                        on-browse="$ctrl.onBrowse(file)"
                    >&nbsp;</files-listing>                    </div>
                </div>
            </div>
            <!-- Missions -->
            <div ng-if="!$ctrl.ui.fileNav && !$ctrl.ui.loading && mission.name == 'designsafe.project.field_recon.mission'">
                <div class="dropdown dropdown-spacer-sm" id="details-{{mission.uuid}}">
                    <button class="btn tab-experiment collapsed" data-toggle="collapse" data-target="#data-{{mission.uuid}}" style="width:100%;">
                        <table style="width:100%" id="anchor-{{ mission.uuid }}">
                            <tr>
                                <td class="tab-cell">
                                    <span>Mission | <strong>{{mission.value.title}}</strong></span>
                                </td>
                                <td style="text-align: right;">
                                    <span class="curation-chevron" style="font-size: 18px;"></span>
                                </td>
                            </tr>
                        </table>
                    </button>
                    <div id="data-{{mission.uuid}}" class="collapse dropdown-spacer-lg">
                        <div class="well">
                            <div class="entity-meta-field" ng-if="mission.value.event">
                                <div class="entity-meta-label">Event</div>
                                <div class="entity-meta-data">
                                    <span>{{ mission.value.event }}</span>
                                </div>
                            </div>
                            <div class="entity-meta-field">
                                <div class="entity-meta-label-multi" data-ng-if="mission.value.authors.length">
                                    Author(s)
                                </div>
                                <div class="entity-meta-data" data-ng-if="mission.value.authors.length">
                                    <span ng-if="$ctrl.readOnly">
                                        <span ng-repeat="author in $ctrl.sortAuthors(mission.authors) | filter: { authorship: true }">
                                            <a href="javascript:;" ng-click="$ctrl.showAuthor(author)">{{ author.lname }}, {{ author.fname }}</a><span ng-if="!$last">;</span>
                                        </span>
                                    </span>
                                    <span ng-if="!$ctrl.readOnly">
                                        <ds-author-list authors="mission.value.authors"></ds-author-list>
                                    </span>
                                </div>
                            </div>
                            <div class="entity-meta-field">
                                <div class="entity-meta-label">
                                    Date(s) of Mission
                                </div>
                                <div class="entity-meta-data">
                                    <span>{{mission.value.dateStart | date:'MM-dd-yyyy'}}</span>
                                    <span data-ng-if="mission.value.dateEnd && mission.value.dateEnd !== mission.value.dateStart">
                                        &#8213; {{mission.value.dateEnd | date:'MM-dd-yyyy' }}
                                    </span>
                                </div>
                            </div>
                            <div class="entity-meta-field">
                                <div class="entity-meta-label">
                                    Site Location
                                </div>
                                <div class="entity-meta-data">
                                    <span>{{mission.value.location}} |</span>
                                    <a href="http://www.google.com/maps/place/{{ mission.value.latitude }},{{ mission.value.longitude }}"
                                        rel="noopener noreferrer" target=”_blank” ng-if="mission.value.latitude && mission.value.longitude">
                                        Lat {{mission.value.latitude}} Long {{mission.value.longitude}}
                                    </a>
                                </div>
                            </div>
                            <div class="entity-meta-field">
                                <div class="entity-meta-label">Date of Publication</div>
                                <div class="entity-meta-data" ng-if="!$ctrl.readOnly">
                                    <span>(Appears when published)</span>
                                </div>
                                <div class="entity-meta-data" ng-if="$ctrl.readOnly">
                                    <span>{{ $ctrl.browser.publication.created | date:'MM-dd-yyyy' }}</span>
                                </div>
                            </div>
                            <div class="entity-meta-field">
                                <div class="entity-meta-label">
                                    DOI
                                    <button class="btn btn-info btn-sm btn-cite"
                                            ng-disabled="!$ctrl.readOnly"
                                            data-ng-click="$ctrl.showCitation(mission)">
                                        Citation
                                    </button>
                                </div>
                                <div class="entity-meta-data" ng-if="!$ctrl.readOnly">
                                    <span>(Appears when published)</span>
                                </div>
                                <div class="entity-meta-data" ng-if="$ctrl.readOnly">
                                    <span>{{mission.doi}}</span>
                                </div>
                            </div>
                            <div class="entity-meta-field">
                                <div class="entity-meta-label-multi">License(s)</div>
                                <div class="entity-meta-data" ng-if="!$ctrl.readOnly">
                                    <span>(Appears when published)</span>
                                </div>
                                <div class="entity-meta-data" ng-if="$ctrl.readOnly">
                                    <div data-ng-if="$ctrl.browser.publication.licenses.datasets">
                                        {{ $ctrl.browser.publication.licenses.datasets }}
                                    </div>
                                    <div data-ng-if="$ctrl.browser.publication.licenses.works">
                                        {{ $ctrl.browser.publication.licenses.works }}
                                    </div>
                                    <div data-ng-if="$ctrl.browser.publication.licenses.software">
                                        {{ $ctrl.browser.publication.licenses.software }}
                                    </div>
                                </div>
                            </div>
                            <p>
                                <br>{{ mission.value.description }}
                            </p>
                            <!-- Old Collections -->
                            <div ng-repeat="collection in $ctrl.browser.project.collection_set | orderBy: 'value.title'" ng-if="$ctrl.matchingGroup(mission, collection)">
                                <div class="dropdown dropdown-spacer-sm" id="details-{{collection.uuid}}">
                                    <button class="btn collapsed tab-collection-conf" data-toggle="collapse" data-target="#files-{{collection.uuid}}-{{mission.uuid}}"
                                        style="width:100%;">
                                        <div class="collapse-tab">
                                            <span class="collapse-tab-content-left">Collection | <strong>{{collection.value.title}}</strong></span>
                                            <span class="collapse-tab-content-right curation-chevron"></span>
                                        </div>
                                    </button>
                                    <div id="files-{{collection.uuid}}-{{mission.uuid}}" class="collapse dropdown-spacer-lg">
                                        <div class="well">
                                            <div style="display: inline-block; width:20%;">Observation Type</div>
                                            <div style="display: inline-block; width: 78%; font-weight:bold;">
                                                <ul style="list-style: none; padding-left: 0;">
                                                    <li data-ng-repeat="ot in collection.value.observationTypes">
                                                        {{ot}}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div style="display: inline-block; width:20%;">Date(s) of Collection</div>
                                            <div style="display: inline-block; width: 78%; font-weight:bold;">
                                                <span>{{collection.value.dateStart | date:'MM-dd-yyyy'}}</span>
                                                <span data-ng-if="collection.value.dateEnd && collection.value.dateEnd !== collection.value.dateStart">
                                                    &#8213; {{collection.value.dateEnd | date:'MM-dd-yyyy' }}
                                                </span>
                                            </div>
                                            <div style="display: inline-block; width:20%; vertical-align: top;">
                                                Data Collector(s)
                                            </div>
                                            <div style="display: inline-block; width:78%; font-weight: bold;">
                                                <ds-author-list authors="collection.value.dataCollectors"></ds-author-list>
                                            </div>
                                            <div style="display: inline-block; width:20%; vertical-align: top;">
                                                Site Location
                                            </div>
                                            <div style="display: inline-block; width: 78%; font-weight:bold;">
                                                <ul style="list-style:none; padding-left:0;">
                                                    <li>{{collection.value.location}} | Lat {{collection.value.latitude}} Long {{collection.value.longitude}}</li>
                                                </ul>
                                            </div>
                                            <div style="display: inline-block; width:20%; vertical-align: top;">
                                                Instrument
                                            </div>
                                            <div style="display: inline-block; width: 78%; font-weight:bold;">
                                                <ul style="list-style:none; padding-left:0;">
                                                    <li data-ng-repeat="instrument in collection.value.instruments">
                                                        {{instrument.name}} | {{instrument.model}}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div ng-if="$ctrl.emptyCheck(collection.value.referencedDatas)">
                                                <div style="display: inline-block; width:20%; vertical-align: top;">
                                                    Referenced Data
                                                </div>
                                                <div style="display: inline-block; width: 78%; font-weight:bold;">
                                                    <ul style="list-style:none; padding-left:0;">
                                                        <li data-ng-repeat="data in collection.value.referencedDatas">
                                                            <a href="{{ data.url }}" rel="noopener noreferrer" target=”_blank”>{{ data.title }}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div ng-if="collection.value.description">
                                                <p>{{ collection.value.description }}</p>
                                            </div>
                                        </div>
                                            <files-listing show-select="true" show-tags="true"
                                                on-scroll="$ctrl.scrollToBottom()"
                                                listing="$ctrl.FileListingService.listings[collection.uuid]"
                                                on-browse="$ctrl.onBrowse(file)"
                                            >&nbsp;</files-listing>
                                    </div>
                                </div>
                            </div>
                            <div ng-repeat="collection in $ctrl.orderedSecondary[mission.uuid]">
                                <!-- Social Science -->
                                <div ng-if="$ctrl.matchingGroup(mission, collection) && collection.name == 'designsafe.project.field_recon.social_science'">
                                    <div class="dropdown dropdown-spacer-sm" id="details-{{collection.uuid}}">
                                        <button class="btn collapsed tab-collection-conf" data-toggle="collapse" data-target="#files-{{collection.uuid}}-{{mission.uuid}}"
                                            style="width:100%;">
                                            <div class="collapse-tab">
                                                <span class="collapse-tab-content-left">Social Sciences Collection | <strong>{{collection.value.title}}</strong></span>
                                                <span class="collapse-tab-content-right curation-chevron"></span>
                                            </div>
                                        </button>
                                        <div id="files-{{collection.uuid}}-{{mission.uuid}}" class="collapse">
                                            <div class="well">
                                                <div class="entity-meta-field" ng-if="collection.value.unit">
                                                    <div class="entity-meta-label">Unit of Analysis</div>
                                                    <div class="entity-meta-data">
                                                        <span>{{collection.value.unit}}</span>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field" ng-if="collection.value.modes.length">
                                                    <div class="entity-meta-label-multi">Mode(s) of Collection</div>
                                                    <div class="entity-meta-data">
                                                        <ul class="collection-list">
                                                            <li data-ng-repeat="mode in collection.value.modes">
                                                                {{mode}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field" ng-if="collection.value.sampleApproach.length">
                                                    <div class="entity-meta-label-multi">Sampling Approach(es)</div>
                                                    <div class="entity-meta-data">
                                                        <ul class="collection-list">
                                                            <li data-ng-repeat="sample in collection.value.sampleApproach">
                                                                {{sample}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field" ng-if="collection.value.sampleSize">
                                                    <div class="entity-meta-label">Sample Size</div>
                                                    <div class="entity-meta-data">
                                                        <span>{{collection.value.sampleSize}}</span>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field">
                                                    <div class="entity-meta-label">Date(s) of Collection</div>
                                                    <div class="entity-meta-data">
                                                        <span>{{collection.value.dateStart | date:'MM-dd-yyyy'}}</span>
                                                        <span data-ng-if="collection.value.dateEnd && collection.value.dateEnd !== collection.value.dateStart"></span>
                                                            &#8213; {{collection.value.dateEnd | date:'MM-dd-yyyy' }}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field">
                                                    <div class="entity-meta-label-multi" data-ng-if="collection.value.dataCollectors.length">
                                                        Data Collector(s)
                                                    </div>
                                                    <div class="entity-meta-data" data-ng-if="collection.value.dataCollectors.length">
                                                        <ds-author-list authors="collection.value.dataCollectors"></ds-author-list>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field">
                                                    <div class="entity-meta-label-multi" data-ng-if="collection.value.location">
                                                        Site Location
                                                    </div>
                                                    <div class="entity-meta-data"
                                                            data-ng-if="collection.value.location">
                                                        <ul class="collection-list">
                                                            <li>
                                                                <span>{{collection.value.location}} |</span>
                                                                <a href="http://www.google.com/maps/place/{{ collection.value.latitude }},{{ collection.value.longitude }}"
                                                                    rel="noopener noreferrer" target=”_blank” ng-if="collection.value.latitude && collection.value.longitude">
                                                                    Lat {{collection.value.latitude}} Long {{collection.value.longitude}}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field">
                                                    <div class="entity-meta-label-multi">Equipment</div>
                                                    <div class="entity-meta-data">
                                                        <ul class="collection-list">
                                                            <li data-ng-repeat="eqp in collection.value.equipment">
                                                                {{eqp}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field" ng-if="collection.value.restriction">
                                                    <div class="entity-meta-label">Restriction</div>
                                                    <div class="entity-meta-data">
                                                        <span>{{collection.value.restriction}}</span>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field" ng-if="collection.value.referencedData.length">
                                                    <div class="entity-meta-label-multi">
                                                        Referenced Data
                                                    </div>
                                                    <div class="entity-meta-data">
                                                        <ul class="collection-list">
                                                            <li data-ng-repeat="data in collection.value.referencedData">
                                                                <a href="{{ data.url }}" rel="noopener noreferrer" target=”_blank”>{{ data.title }}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field" ng-if="collection.value.description">
                                                    <p>{{ collection.value.description }}</p>
                                                </div>
                                            </div>
                                                <files-listing show-select="true" show-tags="true"
                                                    on-scroll="$ctrl.scrollToBottom()"
                                                    listing="$ctrl.FileListingService.listings[collection.uuid]"
                                                    on-browse="$ctrl.onBrowse(file)"
                                                >&nbsp;</files-listing>
                                            </div>
                                    </div>
                                </div>
                                <!-- GeoscienceEngineering -->
                                <div ng-if="$ctrl.matchingGroup(mission, collection) && collection.name == 'designsafe.project.field_recon.geoscience'">
                                    <div class="dropdown dropdown-spacer-sm" id="details-{{collection.uuid}}">
                                        <button class="btn collapsed tab-collection-conf" data-toggle="collapse" data-target="#files-{{collection.uuid}}-{{mission.uuid}}"
                                            style="width:100%;">
                                            <div class="collapse-tab">
                                                <span class="collapse-tab-content-left">Engineering/Geosciences Collection | <strong>{{collection.value.title}}</strong></span>
                                                <span class="collapse-tab-content-right curation-chevron"></span>
                                            </div>
                                        </button>
                                        <div id="files-{{collection.uuid}}-{{mission.uuid}}" class="collapse">
                                            <div class="well">
                                                <div class="entity-meta-field" ng-if="collection.value.observationTypes.length">
                                                    <div class="entity-meta-label-multi">Observation Type(s)</div>
                                                    <div class="entity-meta-data">
                                                        <ul class="collection-list">
                                                            <li data-ng-repeat="obs in collection.value.observationTypes">
                                                                {{obs}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field">
                                                    <div class="entity-meta-label">Date(s) of Collection</div>
                                                    <div class="entity-meta-data">
                                                        <span>{{collection.value.dateStart | date:'MM-dd-yyyy'}}</span>
                                                        <span data-ng-if="collection.value.dateEnd && collection.value.dateEnd !== collection.value.dateStart"></span>
                                                            &#8213; {{collection.value.dateEnd | date:'MM-dd-yyyy' }}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field">
                                                    <div class="entity-meta-label-multi" data-ng-if="collection.value.dataCollectors.length">
                                                        Data Collector(s)
                                                    </div>
                                                    <div class="entity-meta-data" data-ng-if="collection.value.dataCollectors.length">
                                                        <ds-author-list authors="collection.value.dataCollectors"></ds-author-list>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field">
                                                    <div class="entity-meta-label-multi" data-ng-if="collection.value.location">
                                                        Site Location
                                                    </div>
                                                    <div class="entity-meta-data" data-ng-if="collection.value.location">
                                                        <ul class="collection-list">
                                                            <li>
                                                                <span>{{collection.value.location}} |</span>
                                                                <a href="http://www.google.com/maps/place/{{ collection.value.latitude }},{{ collection.value.longitude }}"
                                                                    rel="noopener noreferrer" target=”_blank” ng-if="collection.value.latitude && collection.value.longitude">
                                                                    Lat {{collection.value.latitude}} Long {{collection.value.longitude}}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field">
                                                    <div class="entity-meta-label-multi">Equipment</div>
                                                    <div class="entity-meta-data">
                                                        <ul class="collection-list">
                                                            <li data-ng-repeat="eqp in collection.value.equipment">
                                                                {{eqp}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field" ng-if="collection.value.referencedData.length">
                                                    <div class="entity-meta-label-multi">
                                                        Referenced Data
                                                    </div>
                                                    <div class="entity-meta-data">
                                                        <ul class="collection-list">
                                                            <li data-ng-repeat="data in collection.value.referencedData">
                                                                <a href="{{ data.url }}" rel="noopener noreferrer" target=”_blank”>{{ data.title }}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field" ng-if="collection.value.description">
                                                    <p>{{ collection.value.description }}</p>
                                                </div>
                                            </div>
                                                <files-listing show-select="true" show-tags="true"
                                                on-scroll="$ctrl.scrollToBottom()"
                                                listing="$ctrl.FileListingService.listings[collection.uuid]"
                                                on-browse="$ctrl.onBrowse(file)"
                                        >       &nbsp;</files-listing>
                                          </div>
                                    </div>
                                </div>
                                <!-- Research Planning Collection -->
                                <div ng-if="$ctrl.matchingGroup(mission, collection) && collection.name == 'designsafe.project.field_recon.planning'">
                                    <div class="dropdown dropdown-spacer-sm" id="details-{{collection.uuid}}">
                                        <button class="btn collapsed tab-sensor-info" data-toggle="collapse" data-target="#files-{{collection.uuid}}-{{mission.uuid}}"
                                            style="width:100%;">
                                            <div class="collapse-tab">
                                                <span class="collapse-tab-content-left">Research Planning Collection | <strong>{{collection.value.title}}</strong></span>
                                                <span class="collapse-tab-content-right curation-chevron"></span>
                                            </div>
                                        </button>
                                        <div id="files-{{collection.uuid}}-{{mission.uuid}}" class="collapse">
                                            <div class="well">
                                                <div class="entity-meta-field">
                                                    <div class="entity-meta-label-multi" data-ng-if="collection.value.dataCollectors.length">
                                                        Data Collector(s)
                                                    </div>
                                                    <div class="entity-meta-data" data-ng-if="collection.value.dataCollectors.length">
                                                        <ds-author-list authors="collection.value.dataCollectors"></ds-author-list>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field" ng-if="collection.value.referencedData.length">
                                                    <div class="entity-meta-label-multi">
                                                        Referenced Data
                                                    </div>
                                                    <div class="entity-meta-data">
                                                        <ul class="collection-list">
                                                            <li data-ng-repeat="data in collection.value.referencedData">
                                                                <a href="{{ data.url }}" rel="noopener noreferrer" target=”_blank”>{{ data.title }}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field" ng-if="collection.value.description">
                                                    <p>{{ collection.value.description }}</p>
                                                </div>
                                            </div>
                                            <files-listing show-select="true" show-tags="true"
                                            on-scroll="$ctrl.scrollToBottom()"
                                            listing="$ctrl.FileListingService.listings[collection.uuid]"
                                            on-browse="$ctrl.onBrowse(file)"
                                             >&nbsp;</files-listing>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
