<div style="background:white;">
    <!-- Project Header Start -->
    <div>
        <div>
            <span class="prj-head">{{$ctrl.browser.project.value.projectId}} | <strong>{{ $ctrl.browser.project.value.title }}</strong></span>
            <a class="edit-link" ng-click="$ctrl.editProject($event)">Edit Project</a>
        </div>
        <table style="table-layout: fixed; width: 100%; margin-top: 10px; margin-bottom: 10px;">
            <colgroup>
                <col style="width: 15%">
                <col style="width: 84%">
            </colgroup>
            <tr class="prj-row">
                <td>PI</td>
                <td>
                    <ds-user class="prj-data" username="$ctrl.browser.project.value.pi" format="lname">{{ $ctrl.browser.project.value.pi }}
                    </ds-user>
                </td>
            </tr>
            <tr ng-if="$ctrl.browser.project.value.coPis.length">
                <td>CoPIs</td>
                <td format="lname" class="prj-data">
                    <span ng-repeat="copi in $ctrl.browser.project.value.coPis">
                        <span ng-if="!$last">
                            <ds-user username="copi" format="lname">{{ copi }}</ds-user>;
                        </span>
                        <ds-user ng-if="$last" username="copi" format="lname">{{ copi }}</ds-user>
                    </span>
                </td>
            </tr>
            <tr class="prj-row" ng-hide="$ctrl.browser.project.value.projectType === 'other' && $ctrl.browser.project.value.dataType">
                <td>Project Type</td>
                <td class="prj-data">{{ $ctrl.browser.project.value.projectType.replace('_', ' ') }}</td>
            </tr>
            <tr class="prj-row" ng-if="$ctrl.browser.project.value.projectType === 'other' && $ctrl.browser.project.value.dataType">
                <td>Data Type</td>
                <td class="prj-data">{{ $ctrl.browser.project.value.dataType }}</td>
            </tr>
            <!-- older projects will have awards listed as strings -->
            <tr ng-if="isSingle($ctrl.browser.project.value.awardNumber)">
                <td>Awards</td>
                <td><strong>{{ $ctrl.browser.project.value.awardNumber }}</strong></td>
            </tr>
            <tr ng-if="!isSingle($ctrl.browser.project.value.awardNumber)"
                ng-repeat="award in $ctrl.browser.project.value.awardNumber track by $index">
                <td ng-if="$first">Awards</td>
                <td ng-if="!$first"></td>
                <td><strong>{{ award.name }} - {{ award.number }}</strong></td>
            </tr>
            <tr ng-repeat="work in $ctrl.browser.project.value.associatedProjects">
                <td ng-if="$first">Related Work</td>
                <td ng-if="!$first"></td>
                <td><strong>{{ work.title }} | <a href="{{ work.href }}" target=”_blank”>{{ work.href }}</a></strong></td>
            </tr>
            <tr class="prj-row">
                <td ng-if="$ctrl.browser.project.value.keywords">Keywords</td>
                <td class="prj-data">{{ $ctrl.browser.project.value.keywords }}</td>
            </tr>
        </table>
        <div ng-if="$ctrl.browser.project.value.description">
            <p>{{ $ctrl.browser.project.value.description }}</p>
        </div>
    </div>
    <!-- Project Header End -->
    <table class="tg" style="table-layout: fixed; width: 100%;">
        <colgroup>
            <col style="width: 46%">
            <col style="width: 50%">
        </colgroup>
        <tr>
            <td class="tg-0lax">
                <button class="btn btn-project-l grayed-out" ng-click="$ctrl.goWork()">
                    Working Directory</button>
                <button class="btn btn-project-m grayed-out" ng-click="$ctrl.goCuration()">
                    Curation Directory</button>
                <button class="btn btn-project-r" ng-click="publicationPreview()">
                    Publication Preview</button>
            </td>
            <td class="tg-0lax">
                <div class="btn-group pull-right" role="group" aria-label="Publish buttons">
                    <button class="btn btn-add" ng-click="$ctrl.prepareModal()">
                        Prepare to Publish <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </td>
        </tr>
    </table>
    <br>
    <a>breadcrumbs</a> / <a>go</a> / <a>here</a>

    <!-- Experiments -->
    <div ng-show="$ctrl.loading">
        <h3 class="text-center">
            <i class="fa fa-spinner fa-spin"></i> Loading...
        </h3>
    </div>
    <!-- Project Reports -->
    <div ng-hide="$ctrl.loading" ng-repeat="report in $ctrl.browser.project.report_set | orderBy: 'value.title'">
        <div class="dropdown dropdown-spacer-sm" id="details-{{report.uuid}}" ng-if="$ctrl.matchingGroup(experiment, report)">
            <button class="btn collapsed tab-report" data-toggle="collapse" data-target="#files-{{report.uuid}}" style="width:100%;">
                <table style="width:100%">
                    <tr>
                        <td style="text-align: left;">
                            <span>Report | <strong>{{report.value.title}}</strong></span>
                        </td>
                        <td style="text-align: right;">
                            <span class="curation-chevron" style="font-size: 18px;"></span>
                        </td>
                    </tr>
                </table>
            </button>
            <div id="files-{{report.uuid}}" class="collapse">
                <div class="well" ng-if="report.value.description">
                    <p>{{ report.value.description }}</p>
                </div>
                <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[report.uuid]" category-listing="true"></files-listing>
            </div>
        </div>
    </div>
    <div ng-hide="$ctrl.loading" ng-repeat="experiment in $ctrl.browser.project.experiment_set">
        <div class="dropdown dropdown-spacer-sm" id="details-{{experiment.uuid}}">
            <button class="btn collapsed tab-experiment" data-toggle="collapse" data-target="#data-{{experiment.uuid}}" style="width:100%;">
                <table style="width:100%">
                    <tr>
                        <td style="text-align: left;">
                            <span>Experiment | <strong>{{experiment.value.title}}</strong></span>
                        </td>
                        <td style="text-align: right;">
                            <span class="curation-chevron" style="font-size: 18px;"></span>
                        </td>
                    </tr>
                </table>
            </button>
            <div id="data-{{experiment.uuid}}" class="collapse dropdown-spacer-lg" ng-class="{'in': $ctrl.singleExperiment()}">
                <div class="well">
                    <div style="display:inline-block; width:20%;">Experiment Type</div>
                    <strong ng-if="!$ctrl.isValid(experiment.value.experimentalFacilityOther)" style="text-transform:capitalize; display:inline-block; width:78%;">
                        {{ experiment.value.experimentType.replace('_', ' ') }}
                    </strong>
                    <strong ng-if="$ctrl.isValid(experiment.value.experimentalFacilityOther)" style="text-transform:capitalize; display:inline-block; width:78%;">
                        {{ experiment.value.experimentTypeOther }}
                    </strong>
                    <div style="display:inline-block; width:20%; vertical-align: top;">Authors</div>
                    <div style="display:inline-block; width:78%; font-weight: bold;">
                        <div ng-repeat="author in experiment.value.authors | orderBy: 'order'" ng-if="!author.length && author.authorship">
                            <span ng-if="!author.guest">
                                <ds-user username="author.name" format="lname">{{ author.name }}</ds-user>
                            </span>
                            <span ng-if="author.guest">{{ author.lname }}, {{ author.fname }}</span>
                        </div>
                        <!-- support older author list -->
                        <div ng-repeat="author in experiment.value.authors" ng-if="author.length">
                            <ds-user username="author" format="lname">{{ author }}</ds-user>
                        </div>
                    </div>
                    <div style="display:inline-block; width:20%;">Experimental Facility</div>
                    <strong ng-if="!$ctrl.isValid(experiment.value.experimentalFacilityOther)" style="text-transform:capitalize; display:inline-block; width:78%;">
                        {{ experiment.value.experimentalFacility.replace('_', ' ') }}
                    </strong>
                    <strong ng-if="$ctrl.isValid(experiment.value.experimentalFacilityOther)" style="text-transform:capitalize; display:inline-block; width:78%;">
                        {{ experiment.value.experimentalFacilityOther }}
                    </strong>
                    <div style="display:inline-block; width:20%;">Equipment Type</div>
                    <strong ng-if="!$ctrl.isValid(experiment.value.experimentalFacilityOther)" style="text-transform:capitalize; display:inline-block; width:78%;">
                        {{ experiment.value.equipmentType.replace('_', ' ') }}
                    </strong>
                    <strong ng-if="$ctrl.isValid(experiment.value.experimentalFacilityOther)" style="text-transform:capitalize; display:inline-block; width:78%;">
                        {{ experiment.value.equipmentTypeOther }}
                    </strong>
                    <div ng-show="experiment.value.procedureStart">
                        <div style="display:inline-block; width:20%;">Date of Experiment</div>
                        <strong style="display:inline-block; width:78%;" ng-if="$ctrl.hasEndDate(experiment.value.procedureEnd)">
                            {{ experiment.value.procedureStart | date:'MM-dd-yyyy' }} &#8213;
                            {{ experiment.value.procedureEnd | date:'MM-dd-yyyy' }}
                        </strong>
                        <strong style="display:inline-block; width:78%;" ng-if="!$ctrl.hasEndDate(experiment.value.procedureEnd)">
                            {{ experiment.value.procedureStart | date:'MM-dd-yyyy' }}
                        </strong>
                    </div>
                    <div style="display:inline-block; width:20%;">Date of Publication</div>
                    <strong style="display:inline-block; width:78%;">
                        (Appears when published)
                    </strong>
                    <div style="display:inline-block; width:20%;">DOI <button class="btn btn-info btn-sm">Citation</button></div>
                    <strong style="display:inline-block; width:78%;">
                        (Appears when published)
                    </strong>
                    <div style="display:inline-block; width:20%;">License</div>
                    <strong style="display:inline-block; width:78%;">
                        (Appears when published)
                    </strong>
                    <p>
                        <br>{{ experiment.value.description }}
                    </p>
            <!-- Experiment Reports -->
                    <div ng-repeat="report in $ctrl.browser.project.report_set | orderBy: 'value.title'">
                        <div class="dropdown dropdown-spacer-sm" id="details-{{report.uuid}}" ng-if="$ctrl.matchingGroup(experiment, report)">
                            <button class="btn collapsed tab-report" data-toggle="collapse" data-target="#files-{{report.uuid}}" style="width:100%;">
                                <table style="width:100%">
                                    <tr>
                                        <td style="text-align: left;">
                                            <span>Report | <strong>{{report.value.title}}</strong></span>
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="curation-chevron" style="font-size: 18px;"></span>
                                        </td>
                                    </tr>
                                </table>
                            </button>
                            <div id="files-{{report.uuid}}" class="collapse">
                                <div class="well" ng-if="report.value.description">
                                    <p>{{ report.value.description }}</p>
                                </div>
                                <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[report.uuid]" category-listing="true"></files-listing>
                            </div>
                        </div>
                    </div>
            <!-- Model Configs -->
                    <div ng-repeat="modelConfig in $ctrl.browser.project.modelconfig_set | orderBy: 'value.title'">
                        <div class="dropdown dropdown-spacer-sm" id="details-{{modelConfig.uuid}}" ng-if="$ctrl.matchingGroup(experiment, modelConfig)">
                            <button class="btn collapsed tab-model-conf" data-toggle="collapse" data-target="#files-{{modelConfig.uuid}}"
                                style="width:100%;">
                                <table style="width:100%">
                                    <tr>
                                        <td style="text-align: left;">
                                            <span>Model Configuration | <strong>{{modelConfig.value.title}}</strong></span>
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="curation-chevron" style="font-size: 18px;"></span>
                                        </td>
                                    </tr>
                                </table>
                            </button>
                            <div id="files-{{modelConfig.uuid}}" class="collapse">
                                <div class="well" ng-if="modelConfig.value.description">
                                    <p>{{ modelConfig.value.description }}</p>
                                </div>
                                <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[modelConfig.uuid]" category-listing="true"></files-listing>
                            </div>
                        </div>
                        <!-- Sensors -->
                        <div ng-repeat="sensorList in $ctrl.browser.project.sensorlist_set | orderBy: 'value.title'">
                            <div    class="dropdown dropdown-spacer-sm"
                                    id="details-{{sensorList.uuid}}"
                                    ng-if="$ctrl.matchingGroup(modelConfig, sensorList)"
                                    style="margin-left: 10px"
                            >
                                <table>
                                    <tr>
                                        <td style="padding-right: 10px;" valign="top">
                                            <span style="font-size: 20px; color: #1568C9">
                                                <i class="fa fa-level-up fa-rotate-90"></i>
                                            </span>
                                        </td>
                                        <td style="width: 100%;">
                                            <button class="btn collapsed tab-sensor-info dropdown-spacer-sm" data-toggle="collapse" data-target="#files-{{sensorList.uuid}}{{modelConfig.uuid}}"
                                            style="width:100%;">
                                            <table style="width:100%">
                                                <tr>
                                                    <td style="text-align: left;">
                                                        <span>Sensor Information | <strong>{{sensorList.value.title}}</strong></span>
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <span class="curation-chevron" style="font-size: 18px;"></span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </button>
                                        <div id="files-{{sensorList.uuid}}{{modelConfig.uuid}}" class="collapse">
                                            <div class="well" ng-if="sensorList.value.description">
                                                <p>{{ sensorList.value.description }}</p>
                                            </div>
                                            <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[sensorList.uuid]" category-listing="true"></files-listing>
                                        </div>
                                        </td>
                                    </tr>
                                </table>
                                <!-- Events -->
                                <div ng-repeat="event in $ctrl.browser.project.event_set | orderBy: 'value.title'">
                                    <div    class="dropdown dropdown-spacer-sm"
                                            id="details-{{event.uuid}}"
                                            ng-if="$ctrl.matchingGroup(modelConfig, event) && $ctrl.matchingGroup(sensorList, event)"
                                            style="margin-left: 30px"
                                    >
                                        <table>
                                            <tr>
                                                <td style="padding-right: 10px" valign="top">
                                                    <span style="font-size: 20px; color: #43A59D">
                                                        <i class="fa fa-level-up fa-rotate-90"></i>
                                                    </span>
                                                </td>
                                                <td style="width: 100%;">
                                                    <button class="btn collapsed tab-event" data-toggle="collapse" data-target="#files-{{event.uuid}}{{modelConfig.uuid}}" style="width:100%;">
                                                        <table style="width:100%">
                                                            <tr>
                                                                <td style="text-align: left;">
                                                                    <span>Event | <strong>{{event.value.title}}</strong></span>
                                                                </td>
                                                                <td style="text-align: right;">
                                                                    <span class="curation-chevron" style="font-size: 18px;"></span>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </button>
                                                    <div id="files-{{event.uuid}}{{modelConfig.uuid}}" class="collapse">
                                                        <div class="well" ng-if="event.value.description">
                                                            <p>{{ event.value.description }}</p>
                                                        </div>
                                                        <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[event.uuid]" category-listing="true"></files-listing>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!-- Events -->
                            </div>
                        </div>
                        <!-- Sensors -->
                    </div>
            <!-- Model Configs -->
            <!-- Analysis -->
                    <div ng-repeat="analysis in $ctrl.browser.project.analysis_set | orderBy: 'value.title'">
                        <div class="dropdown dropdown-spacer-sm" id="details-{{analysis.uuid}}" ng-if="$ctrl.matchingGroup(experiment, analysis)">
                            <button class="btn collapsed tab-analysis" data-toggle="collapse" data-target="#files-{{analysis.uuid}}"
                                style="width:100%;">
                                <table style="width:100%">
                                    <tr>
                                        <td style="text-align: left;">
                                            <span>Analysis | <strong>{{analysis.value.title}}</strong></span>
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="curation-chevron" style="font-size: 18px;"></span>
                                        </td>
                                    </tr>
                                </table>
                            </button>
                            <div id="files-{{analysis.uuid}}" class="collapse">
                                <div class="well" ng-if="analysis.value.refs && analysis.value.description">
                                    <table class="tg" style="table-layout: fixed; width: 100%;">
                                        <colgroup>
                                            <col style="width: 15%">
                                            <col style="width: 84%">
                                        </colgroup>
                                        <tr ng-repeat="ref in analysis.value.refs">
                                            <td class="tg-0lax" ng-if="$first">Referenced Work</td>
                                            <td class="tg-0lax" ng-if="!$first"></td>
                                            <td class="tg-0lax"><strong>{{ ref.reference }} | <a href="{{ ref.referencedoi }}" target=”_blank”>{{ ref.referencedoi }}</a></strong></td>
                                        </tr>
                                    </table>
                                    <p ng-if="analysis.value.description">{{ analysis.value.description }}</p>
                                </div>
                                <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[analysis.uuid]" category-listing="true"></files-listing>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
