<div style="background:white;">
    <!-- Project Header Start -->
    <div ng-if="!$ctrl.ui.loading">
        <!-- pub preview metadata -->
        <prj-pub-preview-metadata></prj-pub-preview-metadata>
        <!-- Project Nav -->
        <span class="project-preview-nav" ng-if="!$ctrl.readOnly && !$ctrl.ui.loading">
            <button class="btn btn-project-l grayed-out" ng-click="$ctrl.goWork()">
                Working Directory
            </button>
            <button class="btn btn-project-m grayed-out" ng-click="$ctrl.goCuration()">
                Curation Directory
            </button>
            <button class="btn btn-project-r" ng-click="$ctrl.goPreview()">
                Publication Preview
            </button>
            <div style="flex-grow: 1"></div>
            <button class="btn btn-add" ng-click="$ctrl.prepareModal()">
                Publish / Amend / Version
            </button>
        </span>
    </div>
    <br>
    <div style="margin-bottom: 2px;" ng-if="!$ctrl.ui.fileNav && !$ctrl.ui.loading">
        <breadcrumb
        path="$ctrl.breadcrumbParams.path"
        system="$ctrl.FileListingService.listings.main.params.path"
        on-browse="$ctrl.onBrowse(file)"
        custom-root="$ctrl.breadcrumbParams.root"
        skip-root="$ctrl.breadcrumbParams.skipRoot"
    ></breadcrumb>
    </div>
    <!-- Simulations -->
    <div ng-show="$ctrl.ui.loading">
        <h3 class="text-center">
            <i class="fa fa-spinner fa-spin"></i> Loading...
        </h3>
    </div>
    <!-- Project Reports -->
    <div ng-if="$ctrl.matchingGroup(simulation, report) && !$ctrl.ui.fileNav && !$ctrl.ui.loading"
         ng-repeat="report in $ctrl.project.report_set | orderBy: 'value.title'"
    >
        <div class="dropdown dropdown-spacer-sm" id="details-{{report.uuid}}">
            <button class="btn collapsed tab-gray" data-toggle="collapse" data-target="#files-{{report.uuid}}" style="width:100%;">
                <div class="collapse-tab">
                    <span class="collapse-tab-content-left">Report | <strong>{{report.value.title}}</strong></span>
                    <span class="collapse-tab-content-right curation-chevron"></span>
                </div>
            </button>
            <div id="files-{{report.uuid}}" class="collapse">
                <div class="well" ng-if="report.value.description">
                    <p>{{ report.value.description }}</p>
                </div>
                <files-listing show-select="true" show-tags="true" published="true"
                    on-scroll="$ctrl.scrollToBottom()"
                    listing="$ctrl.FileListingService.listings[report.uuid]"
                    on-browse="$ctrl.onBrowse(file)"
                >&nbsp;</files-listing>
            </div>
        </div>
    </div>
    <div ng-if="$ctrl.ui.fileNav && !$ctrl.ui.loading">
        <breadcrumb
        path="$ctrl.breadcrumbParams.path"
        system="$ctrl.FileListingService.listings.main.params.path"
        on-browse="$ctrl.onBrowse(file)"
        custom-root="$ctrl.breadcrumbParams.root"
        skip-root="$ctrl.breadcrumbParams.skipRoot"
    ></breadcrumb>
        <files-listing show-select="true" show-tags="true" published="true"
            on-scroll="$ctrl.scrollToBottom()"
            listing="$ctrl.FileListingService.listings.main"
            on-browse="$ctrl.onBrowse(file)"
        >&nbsp;</files-listing>
    </div>
    <div ng-if="!$ctrl.ui.fileNav && !$ctrl.ui.loading" ng-repeat="simulation in $ctrl.project.simulation_set" style="margin-bottom:20px">
        <div class="dropdown dropdown-spacer-sm" id="details-{{simulation.uuid}}">
            <div class="citation-gray" id="anchor-{{simulation.uuid}}">    
                <tr>
                    <td class="tab-cell">
                        <div>
                            Simulation | <strong>{{simulation.value.title}}</strong>
                        </div>
                        <div ng-if="!$ctrl.readOnly">
                            <span ng-if="simulation.value.dois.toString() === ''" class="unpublished-grey">
                                 Unpublished
                             </span>
                             <span ng-if="simulation.value.dois.toString() !== ''" class="published-green">
                                 Published
                             </span> 
                         </div>
                    </td>
                </tr>
            </div>
            <div class="citation-blue">
                <div class="entity-meta-data" style="line-height: 1.6;">
                    <span ng-if="simulation.value.dois.toString() === ''">
                        Draft Citation. Authors can be reordered before publication. 
                    </span>
                    <span ng-if="simulation.value.dois.toString() !== ''">
                        Cite this Data: 
                    </span>
                </div>
                <!-- Refer to publication-citation.template.html to see how projectGen is handled/used -->
                <div ng-if="$ctrl.projectGen === 1" style="padding-bottom: 5px; line-height: 1.6;"> 
                    {{ $ctrl.listAuthors(simulation.authors) }}
                    ({{ $ctrl.doiList[simulation.uuid].created | date:'yyyy' }}) "{{ simulation.value.title }}", in <i>{{ $ctrl.project.value.title }}</i>. DesignSafe-CI.
                    <a href="https://doi.org/{{simulation.value.dois.toString()}}">https://doi.org/{{simulation.value.dois.toString()}}</a>
                </div>
                <div ng-if="$ctrl.projectGen > 1" style="padding-bottom: 5px;  line-height: 1.6;"> 
                    {{ $ctrl.listAuthors(simulation.authors) }}
                    ({{ $ctrl.doiList[simulation.uuid].created | date:'yyyy' }}) "{{ simulation.value.title }}", in <i>{{ $ctrl.project.value.title }}</i>. DesignSafe-CI.
                    <a href="https://doi.org/{{simulation.value.dois.toString()}}">https://doi.org/{{simulation.value.dois.toString()}}</a>
                    v{{$ctrl.version}}
                </div>
                <div ng-if="!$ctrl.readOnly" style="padding-bottom: 5px; line-height: 1.6;"> 
                    <ds-author-list format="citation" authors="simulation.value.authors"></ds-author-list>
                    <span ng-if="simulation.value.dois.toString() === ''">
                        (Year of Publication) "{{ simulation.value.title }}", in <i>{{ $ctrl.project.value.title }}</i>. DesignSafe-CI.
                        (DOI)
                    </span>
                    <span ng-if="simulation.value.dois.toString() !== ''">
                        (Year appears in Published) "{{ simulation.value.title }}", in <i>{{ $ctrl.project.value.title }}</i>. DesignSafe-CI.
                        <a href="https://doi.org/{{simulation.value.dois.toString()}}">https://doi.org/{{simulation.value.dois.toString()}}</a>
                    </span>
                </div>
                
                <div class="entity-meta-data" style="padding-bottom: 5px; padding-top: 5px;">
                    <span ng-if="simulation.value.dois.toString() !== ''">
                        Download Citation: 
                        <a href="https://data.datacite.org/application/vnd.datacite.datacite+xml/{{simulation.value.dois.toString()}}">DataCite XML</a> |
                        <a href="https://data.datacite.org/application/x-research-info-systems/{{simulation.value.dois.toString()}}">RIS</a> |
                        <a href="https://data.datacite.org/application/x-bibtex/{{simulation.value.dois.toString()}}">BibTeX</a>
                    </span>
                    <span ng-if="simulation.value.dois.toString() === ''">
                        Download Citation: <span style="color:#9f9f9f"> DataCite XML | RIS | BibTeX</span>
                    </span>
                </div>
                <div style="padding-bottom: 5px;"> 
                    <span ng-if="$ctrl.readOnly">
                        <span style="background-color: #ECE4BF;">
                            {{ $ctrl.cumDoiMetrics[simulation.value.dois].fileDownloads || 0 }} Downloads
                        </span>
                        &nbsp;&nbsp;
                        <span style="background-color: #ECE4BF;">        
                            {{ $ctrl.cumDoiMetrics[simulation.value.dois].filePreviews || 0}} Views
                        </span>
                        &nbsp;&nbsp;
                        <span style="background-color: #ECE4BF;">        
                            {{ $ctrl.citationCounts[simulation.value.dois] || 0}} Citations
                        </span>
                        &nbsp;&nbsp;
                        <span>
                            <a ng-click="$ctrl.entityMetrics(simulation.doi, 'Simulation')">
                                <strong>Details</strong>
                            </a>
                        </span>
                    </span>
                </div>
            </div> 
            <button ng-init="toggle = true" ng-click="$ctrl.logEntity(simulation, 'simulations'); toggle = !toggle" class="btn-view tab-gray collapsed" data-toggle="collapse" data-target="#data-{{simulation.uuid}}" style="width:100%;">
                <table style="width:100%" id="anchor-{{ simulation.uuid }}">
                    <tr>
                        <td style="text-align: center;">  
                            <span class="curation-chevron">{{toggle ? ' View Data' : ' Hide Data'}}</span>
                        </td>
                    </tr>
                </table>
            </button>
            <div id="data-{{simulation.uuid}}" class="collapse dropdown-spacer-lg">
                <div class="well">
                    <!-- Tombstone Banner -->
                    <div class="alert alert-warning flex-container" ng-if="$ctrl.publication.tombstone.includes(simulation.uuid)">
                        <i class="fa fa-warning notification-icon"></i>
                        <div>
                            <strong>The following Dataset does not exist anymore</strong><br>
                            The Dataset with DOI:
                            <a href="https://doi.org/{{simulation.value.dois[0]}}">https://doi.org/{{simulation.value.dois[0]}}</a>
                            was incomplete and removed. The metadata is still available.
                        </div>
                    </div>
                    <div class="entity-meta-field">
                        <div class="entity-meta-label">Simulation Type</div>
                        <span ng-if="!$ctrl.isValid(simulation.value.simulationTypeOther)" class="entity-meta-data-cap">
                            {{ simulation.value.simulationType.replace('_', ' ') }}
                        </span>
                        <span ng-if="$ctrl.isValid(simulation.value.simulationTypeOther)" class="entity-meta-data-cap">
                            {{ simulation.value.simulationTypeOther }}
                        </span>
                    </div>
                    <div class="entity-meta-field">
                        <div class="entity-meta-label-multi">Author(s)</div>
                        <div class="entity-meta-data">
                            <span ng-if="$ctrl.readOnly">
                                <span ng-repeat="author in $ctrl.sortAuthors(simulation.authors) | filter: { authorship: true }">
                                    <a href="javascript:;" ng-click="$ctrl.showAuthor(author)">{{ author.lname }}, {{ author.fname }}</a><span ng-if="!$last">;</span>
                                </span>
                            </span>
                            <span ng-if="!$ctrl.readOnly">
                                <ds-author-list authors="simulation.value.authors"></ds-author-list>
                            </span>
                        </div>
                    </div>
                    <div class="entity-meta-field" ng-if="simulation.value.relatedWork.length">
                        <div class="entity-meta-label-multi">Related Work</div>
                        <div class="entity-meta-data">
                            <div ng-repeat="work in simulation.value.relatedWork track by $index">
                                <related-work></related-work>
                            </div>
                        </div>
                    </div>
                    <div class="entity-meta-field" ng-if="simulation.value.referencedData.length">
                        <div class="entity-meta-label-multi">Referenced Data and Software</div>
                        <div class="entity-meta-data">
                            <div ng-repeat="reference in simulation.value.referencedData track by $index">
                                <referenced-data></referenced-data>
                            </div>
                        </div>
                    </div>
                    <div class="entity-meta-field">
                        <div class="entity-meta-label">Date of Publication</div>
                        <div class="entity-meta-data" ng-if="!$ctrl.readOnly && simulation.value.dois.toString() === ''">
                            <span>(Appears when published)</span>
                        </div>
                        <div class="entity-meta-data" ng-if="!$ctrl.readOnly && simulation.value.dois.toString() !== ''">  
                            <span>(Appears in Published)</span>
                        </div>
                        <div class="entity-meta-data" ng-if="$ctrl.readOnly && simulation.value.dois.toString() !== ''">
                            <span>{{ $ctrl.doiList[simulation.uuid].created | date:'MM-dd-yyyy' }}</span>
                        </div>
                    </div>
                    <div class="entity-meta-field">
                        <div class="entity-meta-label">
                            DOI
                        </div>
                        <div class="entity-meta-data" ng-if="!$ctrl.readOnly && simulation.value.dois.toString() === ''">
                            <span>(Appears when published)</span>
                        </div>
                        <div class="entity-meta-data" ng-if="$ctrl.readOnly || simulation.value.dois.toString() !== ''">
                            <span>{{simulation.value.dois.toString()}}</span>
                        </div>
                    </div>
                    <div class="entity-meta-field">
                        <div class="entity-meta-label-multi" ng-if="(!$ctrl.readOnly && simulation.value.dois.toString() === '') || $ctrl.readOnly">License(s)</div>
                        <div class="entity-meta-data" ng-if="!$ctrl.readOnly && simulation.value.dois.toString() === ''">
                            <span>(Appears when published)</span>
                        </div>
                        <div class="entity-meta-data" ng-if="$ctrl.readOnly">
                            <strong>
                                <div class="license-element">
                                    <span ng-class="$ctrl.ui.licenseType"></span>
                                    &nbsp;{{$ctrl.ui.license}}
                                </div>
                            </strong>
                        </div>
                    </div>
                    <p>
                        <br>{{ simulation.value.description }}
                    </p>
                    <div>
                        <!-- Simulation Reports -->
                        <div ng-repeat="report in $ctrl.project.report_set | orderBy: 'value.title'"
                            ng-if="$ctrl.matchingGroup(simulation, report)"
                        >
                            <div class="dropdown dropdown-spacer-sm" id="details-{{report.uuid}}">
                                <button ng-click="$ctrl.logEntity(report, 'reportsList')" class="btn collapsed tab-gray" data-toggle="collapse" data-target="#files-{{report.uuid}}-{{simulation.uuid}}" style="width:100%;">
                                    <div class="collapse-tab">
                                        <span class="collapse-tab-content-left">Report | <strong>{{report.value.title}}</strong></span>
                                        <span class="collapse-tab-content-right curation-chevron"></span>
                                    </div>
                                </button>
                                <div id="files-{{report.uuid}}-{{simulation.uuid}}" class="collapse">
                                    <div class="well" ng-if="report.value.description">
                                        <p>{{ report.value.description }}</p>
                                    </div>
                                    <div ng-if="!$ctrl.publication.tombstone.includes(simulation.uuid)">
                                        <files-listing show-select="true"
                                                       show-tags="true"
                                                       published="true"
                                                       on-scroll="$ctrl.scrollToBottom()"
                                                       listing="$ctrl.FileListingService.listings[report.uuid]"
                                                       doi="simulation.doi"
                                                       on-browse="$ctrl.onBrowse(file, simulation.doi)">&nbsp;
                                        </files-listing>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Models -->
                        <div ng-repeat="model in $ctrl.project.model_set | orderBy: 'value.title'" ng-if="$ctrl.matchingGroup(simulation, model)">
                            <div class="dropdown dropdown-spacer-sm" id="details-{{model.uuid}}">
                                <button class="btn collapsed tab-blue"
                                        data-toggle="collapse"
                                        data-target="#files-{{model.uuid}}-{{simulation.uuid}}"
                                        style="width:100%;">
                                    <div class="collapse-tab">
                                        <span class="collapse-tab-content-left">Simulation Model | <strong>{{model.value.title}}</strong></span>
                                        <span class="collapse-tab-content-right curation-chevron"></span>
                                    </div>
                                </button>
                                <div id="files-{{model.uuid}}-{{simulation.uuid}}" class="collapse">
                                    <div class="well" ng-if="model.value.description">
                                        <p>{{ model.value.description }}</p>
                                    </div>
                                    <div ng-if="!$ctrl.publication.tombstone.includes(simulation.uuid)">
                                        <files-listing show-select="true"
                                                       show-tags="true"
                                                       published="true"
                                                       on-scroll="$ctrl.scrollToBottom()"
                                                       listing="$ctrl.FileListingService.listings[model.uuid]"
                                                       doi="simulation.doi"
                                                       on-browse="$ctrl.onBrowse(file, simulation.doi)">&nbsp;
                                        </files-listing>
                                    </div>
                                </div>
                            </div>
                            <!-- Inputs -->
                            <div ng-repeat="input in $ctrl.project.input_set | orderBy: 'value.title'"
                                ng-if="$ctrl.matchingGroup(simulation, input) && $ctrl.matchingGroup(model, input)"
                            >
                                <div class="dropdown dropdown-spacer-sm"
                                    id="details-{{input.uuid}}"
                                    style="margin-left: 10px"
                                >
                                    <table>
                                        <tr>
                                            <td style="padding-right: 10px;" valign="top">
                                                <span style="font-size: 20px; color: #1568C9">
                                                    <i class="fa fa-level-up fa-rotate-90"></i>
                                                </span>
                                            </td>
                                            <td style="width: 100%;">
                                                <button class="btn collapsed tab-teal dropdown-spacer-sm"
                                                        data-toggle="collapse"
                                                        data-target="#files-{{input.uuid}}-{{model.uuid}}-{{simulation.uuid}}"
                                                        style="width:100%;">
                                                <div class="collapse-tab">
                                                    <span class="collapse-tab-content-left">Simulation Input | <strong>{{input.value.title}}</strong></span>
                                                    <span class="collapse-tab-content-right curation-chevron"></span>
                                                </div>
                                            </button>
                                            <div id="files-{{input.uuid}}-{{model.uuid}}-{{simulation.uuid}}" class="collapse">
                                                <div class="well" ng-if="input.value.description">
                                                    <p>{{ input.value.description }}</p>
                                                </div>
                                                <div ng-if="!$ctrl.publication.tombstone.includes(simulation.uuid)">
                                                    <files-listing show-select="true"
                                                                   show-tags="true"
                                                                   published="true"
                                                                   on-scroll="$ctrl.scrollToBottom()"
                                                                   listing="$ctrl.FileListingService.listings[input.uuid]"
                                                                   doi="simulation.doi"
                                                                   on-browse="$ctrl.onBrowse(file, simulation.doi)">&nbsp;
                                                    </files-listing>
                                                </div>
                                            </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- Output -->
                                    <div ng-repeat="output in $ctrl.project.output_set | orderBy: 'value.title'"
                                        ng-if="$ctrl.matchingGroup(simulation, output) && $ctrl.matchingGroup(model, output) && $ctrl.matchingGroup(input, output)"
                                    >
                                        <div class="dropdown dropdown-spacer-sm"
                                            id="details-{{output.uuid}}"
                                            style="margin-left: 30px"
                                        >
                                            <table>
                                                <tr>
                                                    <td style="padding-right: 10px" valign="top">
                                                        <span style="font-size: 20px; color: #43A59D">
                                                            <i class="fa fa-level-up fa-rotate-90"></i>
                                                        </span>
                                                    </td>
                                                    <td style="width: 100%;">
                                                        <button class="btn collapsed tab-yellow"
                                                                data-toggle="collapse"
                                                                data-target="#files-{{output.uuid}}-{{input.uuid}}-{{model.uuid}}-{{simulation.uuid}}"
                                                                style="width:100%;">
                                                            <div class="collapse-tab">
                                                                <span class="collapse-tab-content-left">Simulation Output | <strong>{{output.value.title}}</strong></span>
                                                                <span class="collapse-tab-content-right curation-chevron"></span>
                                                            </div>
                                                        </button>
                                                        <div id="files-{{output.uuid}}-{{input.uuid}}-{{model.uuid}}-{{simulation.uuid}}" class="collapse">
                                                            <div class="well" ng-if="output.value.description">
                                                                <p>{{ output.value.description }}</p>
                                                            </div>
                                                            <div ng-if="!$ctrl.publication.tombstone.includes(simulation.uuid)">
                                                                <files-listing show-select="true"
                                                                               show-tags="true"
                                                                               published="true"
                                                                               on-scroll="$ctrl.scrollToBottom()"
                                                                               listing="$ctrl.FileListingService.listings[output.uuid]"
                                                                               doi="simulation.doi"
                                                                               on-browse="$ctrl.onBrowse(file, simulation.doi)">&nbsp;
                                                                </files-listing>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- Outputs -->
                                </div>
                            </div>
                            <!-- Inputs -->
                        </div>
                        <!-- Models -->
                        <!-- Analysis -->
                        <div ng-repeat="analysis in $ctrl.project.analysis_set | orderBy: 'value.title'" ng-if="$ctrl.matchingGroup(simulation, analysis)">
                            <div class="dropdown dropdown-spacer-sm" id="details-{{analysis.uuid}}">
                                <button class="btn collapsed tab-light-blue"
                                        data-toggle="collapse"
                                        data-target="#files-{{analysis.uuid}}-{{simulation.uuid}}"
                                        style="width:100%;">
                                    <div class="collapse-tab">
                                        <span class="collapse-tab-content-left">Analysis | <strong>{{analysis.value.title}}</strong></span>
                                        <span class="collapse-tab-content-right curation-chevron"></span>
                                    </div>
                                </button>
                                <div id="files-{{analysis.uuid}}-{{simulation.uuid}}" class="collapse">
                                    <div class="well" ng-if="analysis.value.refs && analysis.value.description">
                                        <table class="tg" style="table-layout: fixed; width: 100%;">
                                            <colgroup>
                                                <col style="width: 15%">
                                                <col style="width: 84%">
                                            </colgroup>
                                            <tr ng-repeat="ref in analysis.value.refs">
                                                <td class="tg-0lax" ng-if="$first">Referenced Work</td>
                                                <td class="tg-0lax" ng-if="!$first"></td>
                                                <td class="tg-0lax"><strong><a href="{{ ref.referencedoi }}" rel="noopener noreferrer" target=”_blank”>{{ ref.reference }}</a></strong></td>
                                            </tr>
                                        </table>
                                        <p ng-if="analysis.value.description">{{ analysis.value.description }}</p>
                                    </div>
                                    <div ng-if="!$ctrl.publication.tombstone.includes(simulation.uuid)">
                                        <files-listing show-select="true"
                                                       show-tags="true"
                                                       published="true"
                                                       on-scroll="$ctrl.scrollToBottom()"
                                                       listing="$ctrl.FileListingService.listings[analysis.uuid]"
                                                       doi="simulation.doi"
                                                       on-browse="$ctrl.onBrowse(file, simulation.doi)">&nbsp;
                                        </files-listing>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
