<div style="background:white;">
    <!-- Project Header Start -->
    <div>
        <div>
            <span class="prj-head">{{$ctrl.browser.project.value.projectId}} | <strong>{{ $ctrl.browser.project.value.title }}</strong></span>
            <a class="edit-link" ng-click="$ctrl.editProject($event)">Edit Project</a>
        </div>
        <table style="table-layout: fixed; width: 100%; margin-top: 10px; margin-bottom: 10px;">
            <colgroup>
                <col style="width: 15%">
                <col style="width: 84%">
            </colgroup>
            <tr class="prj-row">
                <td>PI</td>
                <td>
                    <ds-user class="prj-data" username="$ctrl.browser.project.value.pi" format="lname">{{ $ctrl.browser.project.value.pi }}
                    </ds-user>
                </td>
            </tr>
            <tr ng-if="$ctrl.browser.project.value.coPis.length">
                <td>CoPIs</td>
                <td class="prj-data">
                    <ds-user-list usernames="$ctrl.browser.project.value.coPis"></ds-user-list>
                </td>
            </tr>
            <tr class="prj-row" ng-hide="$ctrl.browser.project.value.projectType === 'other' && $ctrl.browser.project.value.dataType">
                <td>Project Type</td>
                <td class="prj-data">{{ $ctrl.browser.project.value.projectType.replace('_', ' ') }}</td>
            </tr>
            <tr class="prj-row" ng-if="$ctrl.browser.project.value.projectType === 'other' && $ctrl.browser.project.value.dataType">
                <td>Data Type</td>
                <td class="prj-data">{{ $ctrl.browser.project.value.dataType }}</td>
            </tr>
            <!-- older projects will have awards listed as strings -->
            <tr ng-if="$ctrl.isSingle($ctrl.browser.project.value.awardNumber) && $ctrl.browser.project.value.awardNumber.length">
                <td>Awards</td>
                <td><strong>{{ $ctrl.browser.project.value.awardNumber.join("") }}</strong></td>
            </tr>
            <tr ng-if="!$ctrl.isSingle($ctrl.browser.project.value.awardNumber)"
                ng-repeat="award in $ctrl.browser.project.value.awardNumber track by $index">
                <td ng-if="$first">Awards</td>
                <td ng-if="!$first"></td>
                <td><strong>{{ award.name }} - {{ award.number }}</strong></td>
            </tr>
            <tr ng-repeat="work in $ctrl.browser.project.value.associatedProjects">
                <td ng-if="$first">Related Work</td>
                <td ng-if="!$first"></td>
                <td><strong>{{ work.title }} | <a href="{{ work.href }}" target=”_blank”>{{ work.href }}</a></strong></td>
            </tr>
            <tr class="prj-row">
                <td ng-if="$ctrl.browser.project.value.keywords">Keywords</td>
                <td class="prj-data">{{ $ctrl.browser.project.value.keywords }}</td>
            </tr>
        </table>
        <div ng-if="$ctrl.browser.project.value.description">
            <p>{{ $ctrl.browser.project.value.description }}</p>
        </div>
    </div>
    <!-- Project Header End -->
    <table class="tg" style="table-layout: fixed; width: 100%;">
        <colgroup>
            <col style="width: 46%">
            <col style="width: 50%">
        </colgroup>
        <tr>
            <td class="tg-0lax">
                <button class="btn btn-project-l grayed-out" ng-click="$ctrl.goWork()">
                    Working Directory</button>
                <button class="btn btn-project-m grayed-out" ng-click="$ctrl.goCuration()">
                    Curation Directory</button>
                <button class="btn btn-project-r" ng-click="publicationPreview()">
                    Publication Preview</button>
            </td>
            <td class="tg-0lax">
                <div class="btn-group pull-right" role="group" aria-label="Publish buttons">
                    <button class="btn btn-add" ng-click="$ctrl.prepareModal()">
                        Prepare to Publish <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </td>
        </tr>
    </table>
    <br>
    <!-- Hybrid Sims -->
    <div ng-show="$ctrl.loading">
        <h3 class="text-center">
            <i class="fa fa-spinner fa-spin"></i> Loading...
        </h3>
    </div>
    <!-- Project Reports -->
    <div ng-hide="$ctrl.loading"
         ng-repeat="report in $ctrl.browser.project.report_set | orderBy: 'value.title'"
         ng-if="$ctrl.matchingGroup(hybsim, report)"
    >
        <div class="dropdown dropdown-spacer-sm" id="details-{{report.uuid}}">
            <button class="btn collapsed tab-report" data-toggle="collapse" data-target="#files-{{report.uuid}}" style="width:100%;">
                <table style="width:100%">
                    <tr>
                        <td style="text-align: left;">
                            <span>Report | <strong>{{report.value.title}}</strong></span>
                        </td>
                        <td style="text-align: right;">
                            <span class="curation-chevron" style="font-size: 18px;"></span>
                        </td>
                    </tr>
                </table>
            </button>
            <div id="files-{{report.uuid}}" class="collapse">
                <div class="well" ng-if="report.value.description">
                    <p>{{ report.value.description }}</p>
                </div>
                <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[report.uuid]" category-listing="true"></files-listing>
            </div>
        </div>
    </div>
    <div ng-hide="$ctrl.loading" ng-repeat="hybsim in $ctrl.browser.project.hybridsimulation_set">
        <div class="dropdown dropdown-spacer-sm" id="details-{{hybsim.uuid}}">
            <button class="btn tab-experiment" ng-class="{'collapsed': !$ctrl.singleExperiment()}" data-toggle="collapse" data-target="#data-{{hybsim.uuid}}" style="width:100%;">
                <table style="width:100%">
                    <tr>
                        <td style="text-align: left;">
                            <span>Hybrid Simulation | <strong>{{hybsim.value.title}}</strong></span>
                        </td>
                        <td style="text-align: right;">
                            <span class="curation-chevron" style="font-size: 18px;"></span>
                        </td>
                    </tr>
                </table>
            </button>
            <div id="data-{{hybsim.uuid}}" class="collapse dropdown-spacer-lg" ng-class="{'in': $ctrl.singleExperiment()}">
                <div class="well">
                    <div style="display:inline-block; width:20%;">Simulation Type</div>
                    <strong ng-if="!$ctrl.isValid(hybsim.value.experimentalFacilityOther)" style="text-transform:capitalize; display:inline-block; width:78%;">
                        {{ hybsim.value.simulationType.replace('_', ' ') }}
                    </strong>
                    <strong ng-if="$ctrl.isValid(hybsim.value.experimentalFacilityOther)" style="text-transform:capitalize; display:inline-block; width:78%;">
                        {{ hybsim.value.simulationTypeOther }}
                    </strong>
                    <div style="display:inline-block; width:20%; vertical-align: top;">Authors</div>
                    <div style="display:inline-block; width:78%; font-weight: bold;">
                        <div ng-repeat="author in hybsim.value.authors | orderBy: 'order'" ng-if="!author.length && author.authorship">
                            <span ng-if="!author.guest">
                                <ds-user username="author.name" format="lname">{{ author.name }}</ds-user>
                            </span>
                            <span ng-if="author.guest">{{ author.lname }}, {{ author.fname }}</span>
                        </div>
                        <!-- support older author list -->
                        <div ng-repeat="author in hybsim.value.authors" ng-if="author.length">
                            <ds-user username="author" format="lname">{{ author }}</ds-user>
                        </div>
                    </div>
                    <div style="display:inline-block; width:20%;">Date of Publication</div>
                    <strong style="display:inline-block; width:78%;">
                        (Appears when published)
                    </strong>
                    <div style="display:inline-block; width:20%;">DOI <button class="btn btn-info btn-sm">Citation</button></div>
                    <strong style="display:inline-block; width:78%;">
                        (Appears when published)
                    </strong>
                    <div style="display:inline-block; width:20%;">License</div>
                    <strong style="display:inline-block; width:78%;">
                        (Appears when published)
                    </strong>
                    <p>
                        <br>{{ hybsim.value.description }}
                    </p>
                    <div class="preview-tree-btn-wrapper">
                        <button class="btn btn-link"
                                data-ng-click="$ctrl.treeDiagram(hybsim)">
                            View Tree Diagram
                        </button>
                    </div>
            <!-- Hybrid Reports -->
                    <div ng-repeat="report in $ctrl.browser.project.report_set | orderBy: 'value.title'"
                         ng-if="$ctrl.matchingGroup(hybsim, report)"
                    >
                        <div class="dropdown dropdown-spacer-sm" id="details-{{report.uuid}}">
                            <button class="btn collapsed tab-report" data-toggle="collapse" data-target="#files-{{report.uuid}}" style="width:100%;">
                                <table style="width:100%">
                                    <tr>
                                        <td style="text-align: left;">
                                            <span>Report | <strong>{{report.value.title}}</strong></span>
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="curation-chevron" style="font-size: 18px;"></span>
                                        </td>
                                    </tr>
                                </table>
                            </button>
                            <div id="files-{{report.uuid}}" class="collapse">
                                <div class="well" ng-if="report.value.description">
                                    <p>{{ report.value.description }}</p>
                                </div>
                                <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[report.uuid]" category-listing="true"></files-listing>
                            </div>
                        </div>
                    </div>
                    <!-- Models -->
                    <div ng-repeat="model in $ctrl.browser.project.globalmodel_set | orderBy: 'value.title'"
                         ng-if="$ctrl.matchingGroup(hybsim, model)"
                    >
                        <div class="dropdown dropdown-spacer-sm" id="details-{{model.uuid}}">
                            <button class="btn collapsed tab-model-conf" data-toggle="collapse" data-target="#files-{{model.uuid}}"
                                style="width:100%;">
                                <table style="width:100%">
                                    <tr>
                                        <td style="text-align: left;">
                                            <span>Global Model | <strong>{{model.value.title}}</strong></span>
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="curation-chevron" style="font-size: 18px;"></span>
                                        </td>
                                    </tr>
                                </table>
                            </button>
                            <div id="files-{{model.uuid}}" class="collapse">
                                <div class="well" ng-if="model.value.description">
                                    <p>{{ model.value.description }}</p>
                                </div>
                                <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[model.uuid]" category-listing="true"></files-listing>
                            </div>
                        </div>
                        <!-- Coordinator -->
                        <div ng-repeat="coordinator in $ctrl.browser.project.coordinator_set | orderBy: 'value.title'"
                             ng-if="$ctrl.matchingGroup(hybsim, coordinator) && $ctrl.matchingGroup(model, coordinator)"
                        >
                            <div class="dropdown dropdown-spacer-sm"
                                 id="details-{{coordinator.uuid}}"
                                 style="margin-left: 10px"
                            >
                                <table>
                                    <tr>
                                        <td style="padding-right: 10px;" valign="top">
                                            <span style="font-size: 20px; color: #1568C9">
                                                <i class="fa fa-level-up fa-rotate-90"></i>
                                            </span>
                                        </td>
                                        <td style="width: 100%;">
                                            <button class="btn collapsed tab-sensor-info dropdown-spacer-sm" data-toggle="collapse" data-target="#files-{{coordinator.uuid}}{{model.uuid}}"
                                            style="width:100%;">
                                            <table style="width:100%">
                                                <tr>
                                                    <td style="text-align: left;">
                                                        <span>Coordinator | <strong>{{coordinator.value.title}}</strong></span>
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <span class="curation-chevron" style="font-size: 18px;"></span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </button>
                                        <div id="files-{{coordinator.uuid}}{{model.uuid}}" class="collapse">
                                            <div class="well" ng-if="coordinator.value.description">
                                                <p>{{ coordinator.value.description }}</p>
                                            </div>
                                            <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[coordinator.uuid]" category-listing="true"></files-listing>
                                        </div>
                                        </td>
                                    </tr>
                                </table>
                                <!-- Coordinator Output -->
                                <div ng-repeat="cout in $ctrl.browser.project.coordinatoroutput_set | orderBy: 'value.title'"
                                     ng-if="$ctrl.matchingGroup(hybsim, cout) && $ctrl.matchingGroup(model, cout) && $ctrl.matchingGroup(coordinator, cout)"
                                >
                                    <div class="dropdown dropdown-spacer-sm"
                                         id="details-{{cout.uuid}}"
                                         style="margin-left: 30px"
                                    >
                                        <table>
                                            <tr>
                                                <td style="padding-right: 10px" valign="top">
                                                    <span style="font-size: 20px; color: #43A59D">
                                                        <i class="fa fa-level-up fa-rotate-90"></i>
                                                    </span>
                                                </td>
                                                <td style="width: 100%;">
                                                    <button class="btn collapsed tab-event" data-toggle="collapse" data-target="#files-{{cout.uuid}}{{model.uuid}}" style="width:100%;">
                                                        <table style="width:100%">
                                                            <tr>
                                                                <td style="text-align: left;">
                                                                    <span>Coordinator Output | <strong>{{cout.value.title}}</strong></span>
                                                                </td>
                                                                <td style="text-align: right;">
                                                                    <span class="curation-chevron" style="font-size: 18px;"></span>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </button>
                                                    <div id="files-{{cout.uuid}}{{model.uuid}}" class="collapse">
                                                        <div class="well" ng-if="cout.value.description">
                                                            <p>{{ cout.value.description }}</p>
                                                        </div>
                                                        <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[cout.uuid]" category-listing="true"></files-listing>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!-- Coordinator Output -->
                                <!-- Simulation Substructure -->
                                <div ng-repeat="simsub in $ctrl.browser.project.simsubstructure_set | orderBy: 'value.title'"
                                     ng-if="$ctrl.matchingGroup(hybsim, simsub) && $ctrl.matchingGroup(model, simsub)"
                                >
                                    <div class="dropdown"
                                         id="details-{{simsub.uuid}}"
                                         style="margin-left: 30px"
                                    >
                                        <table>
                                            <tr>
                                                <td style="padding-right: 10px;" valign="top">
                                                    <span style="font-size: 20px; color: #43A59D">
                                                        <i class="fa fa-level-up fa-rotate-90"></i>
                                                    </span>
                                                </td>
                                                <td style="width: 100%;">
                                                    <button class="btn collapsed tab-sim-subst dropdown-spacer-sm"
                                                            data-toggle="collapse"
                                                            data-target="#files-{{simsub.uuid}}{{model.uuid}}"
                                                            style="width:100%;"
                                                    >
                                                        <table style="width:100%">
                                                            <tr>
                                                                <td style="text-align: left;">
                                                                    <span>Simulation Substructure | <strong>{{simsub.value.title}}</strong></span>
                                                                </td>
                                                                <td style="text-align: right;">
                                                                    <span class="curation-chevron" style="font-size: 18px;"></span>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </button>
                                                    <div id="files-{{simsub.uuid}}{{model.uuid}}" class="collapse">
                                                        <div class="well" ng-if="simsub.value.description">
                                                            <p>{{ simsub.value.description }}</p>
                                                        </div>
                                                        <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[simsub.uuid]" category-listing="true"></files-listing>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- Simulation Output -->
                                        <div ng-repeat="sout in $ctrl.browser.project.simoutput_set | orderBy: 'value.title'"
                                             ng-if="$ctrl.matchingGroup(hybsim, sout) &&
                                                    $ctrl.matchingGroup(model, sout) &&
                                                    $ctrl.matchingGroup(coordinator, sout) &&
                                                    $ctrl.matchingGroup(simsub, sout)"
                                        >
                                            <div class="dropdown"
                                                 id="details-{{sout.uuid}}"
                                                 style="margin-left: 30px"
                                            >
                                                <table>
                                                    <tr>
                                                        <td style="padding-right: 10px;" valign="top">
                                                            <span style="font-size: 20px; color: #BD5717">
                                                                <i class="fa fa-level-up fa-rotate-90"></i>
                                                            </span>
                                                        </td>
                                                        <td style="width: 100%;">
                                                            <button class="btn collapsed tab-event dropdown-spacer-sm"
                                                                    data-toggle="collapse"
                                                                    data-target="#files-{{sout.uuid}}{{model.uuid}}{{simsub.uuid}}"
                                                                    style="width:100%;"
                                                            >
                                                                <table style="width:100%">
                                                                    <tr>
                                                                        <td style="text-align: left;">
                                                                            <span>Simulation Output | <strong>{{sout.value.title}}</strong></span>
                                                                        </td>
                                                                        <td style="text-align: right;">
                                                                            <span class="curation-chevron" style="font-size: 18px;"></span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </button>
                                                            <div id="files-{{sout.uuid}}{{model.uuid}}{{simsub.uuid}}" class="collapse">
                                                                <div class="well" ng-if="sout.value.description">
                                                                    <p>{{ sout.value.description }}</p>
                                                                </div>
                                                                <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[sout.uuid]" category-listing="true"></files-listing>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- Simulation Output -->
                                    </div>
                                </div>
                                <!-- Simulation Substructure -->
                                <!-- Experimental Substrucutre -->
                                <div ng-repeat="expsub in $ctrl.browser.project.expsubstructure_set | orderBy: 'value.title'"
                                     ng-if="$ctrl.matchingGroup(hybsim, expsub) && $ctrl.matchingGroup(model, expsub)"
                                >
                                    <div class="dropdown dropdown-spacer-sm"
                                         id="details-{{expsub.uuid}}"
                                         style="margin-left: 30px"
                                    >
                                        <table>
                                            <tr>
                                                <td style="padding-right: 10px;" valign="top">
                                                    <span style="font-size: 20px; color: #43A59D">
                                                        <i class="fa fa-level-up fa-rotate-90"></i>
                                                    </span>
                                                </td>
                                                <td style="width: 100%;">
                                                    <button class="btn collapsed tab-exp-subst dropdown-spacer-sm"
                                                            data-toggle="collapse"
                                                            data-target="#files-{{expsub.uuid}}{{model.uuid}}"
                                                            style="width:100%;"
                                                    >
                                                        <table style="width:100%">
                                                            <tr>
                                                                <td style="text-align: left;">
                                                                    <span>Experimental Substrucutre | <strong>{{expsub.value.title}}</strong></span>
                                                                </td>
                                                                <td style="text-align: right;">
                                                                    <span class="curation-chevron" style="font-size: 18px;"></span>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </button>
                                                    <div id="files-{{expsub.uuid}}{{model.uuid}}" class="collapse">
                                                        <div class="well" ng-if="expsub.value.description">
                                                            <p>{{ expsub.value.description }}</p>
                                                        </div>
                                                        <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[expsub.uuid]"></files-listing>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- Experiment Output -->
                                        <div ng-repeat="eout in $ctrl.browser.project.expoutput_set | orderBy: 'value.title'"
                                             ng-if="$ctrl.matchingGroup(hybsim, eout) &&
                                                    $ctrl.matchingGroup(model, eout) &&
                                                    $ctrl.matchingGroup(coordinator, eout)&&
                                                    $ctrl.matchingGroup(expsub, eout)"
                                        >
                                            <div class="dropdown dropdown-spacer-sm"
                                                 id="details-{{eout.uuid}}"
                                                 style="margin-left: 30px"
                                            >
                                                <table>
                                                    <tr>
                                                        <td style="padding-right: 10px;" valign="top">
                                                            <span style="font-size: 20px; color: #4B3181">
                                                                <i class="fa fa-level-up fa-rotate-90"></i>
                                                            </span>
                                                        </td>
                                                        <td style="width: 100%;">
                                                            <button class="btn collapsed tab-event"
                                                                    data-toggle="collapse"
                                                                    data-target="#files-{{eout.uuid}}{{model.uuid}}{{expsub.uuid}}"
                                                                    style="width:100%;"
                                                            >
                                                                <table style="width:100%">
                                                                    <tr>
                                                                        <td style="text-align: left;">
                                                                            <span>Experimental Output | <strong>{{eout.value.title}}</strong></span>
                                                                        </td>
                                                                        <td style="text-align: right;">
                                                                            <span class="curation-chevron" style="font-size: 18px;"></span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </button>
                                                            <div id="files-{{eout.uuid}}{{model.uuid}}{{expsub.uuid}}" class="collapse">
                                                                <div class="well" ng-if="eout.value.description">
                                                                    <p>{{ eout.value.description }}</p>
                                                                </div>
                                                                <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[eout.uuid]"></files-listing>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Experimental Output -->
                                </div>
                                <!-- Experimental Substrucutre -->
                            </div>
                        </div>
                        <!-- Coordinator -->
                    </div>
                    <!-- Models -->
                    <!-- Analysis -->
                    <div ng-repeat="analysis in $ctrl.browser.project.analysis_set | orderBy: 'value.title'"
                         ng-if="$ctrl.matchingGroup(hybsim, analysis)"
                    >
                        <div class="dropdown dropdown-spacer-sm" id="details-{{analysis.uuid}}">
                            <button class="btn collapsed tab-analysis" data-toggle="collapse" data-target="#files-{{analysis.uuid}}"
                                style="width:100%;">
                                <table style="width:100%">
                                    <tr>
                                        <td style="text-align: left;">
                                            <span>Analysis | <strong>{{analysis.value.title}}</strong></span>
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="curation-chevron" style="font-size: 18px;"></span>
                                        </td>
                                    </tr>
                                </table>
                            </button>
                            <div id="files-{{analysis.uuid}}" class="collapse">
                                <div class="well" ng-if="analysis.value.refs && analysis.value.description">
                                    <table class="tg" style="table-layout: fixed; width: 100%;">
                                        <colgroup>
                                            <col style="width: 15%">
                                            <col style="width: 84%">
                                        </colgroup>
                                        <tr ng-repeat="ref in analysis.value.refs">
                                            <td class="tg-0lax" ng-if="$first">Referenced Work</td>
                                            <td class="tg-0lax" ng-if="!$first"></td>
                                            <td class="tg-0lax"><strong>{{ ref.reference }} | <a href="{{ ref.referencedoi }}" target=”_blank”>{{ ref.referencedoi }}</a></strong></td>
                                        </tr>
                                    </table>
                                    <p ng-if="analysis.value.description">{{ analysis.value.description }}</p>
                                </div>
                                <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[analysis.uuid]" category-listing="true"></files-listing>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
