<div style="background:white;">
    <!-- Project Header Start -->
    <div ng-if="!$ctrl.ui.loading">
        <!-- pub preview metadata -->
        <prj-pub-preview-metadata></prj-pub-preview-metadata>
        <!-- Project Nav -->
        <span class="project-preview-nav" ng-if="!$ctrl.readOnly && !$ctrl.ui.loading">
            <button class="btn btn-project-l grayed-out" ng-click="$ctrl.goWork()">
                Working Directory
            </button>
            <button class="btn btn-project-m grayed-out" ng-click="$ctrl.goCuration()">
                Curation Directory
            </button>
            <button class="btn btn-project-r" ng-click="$ctrl.goPreview()">
                Publication Preview
            </button>
            <div style="flex-grow: 1"></div>
            <button class="btn btn-add" ng-click="$ctrl.prepareModal()">
                Publish / Version / Amend
            </button>
        </span>
    </div>
    <br>
    <div style="margin-bottom: 2px;" ng-if="!$ctrl.ui.fileNav && !$ctrl.ui.loading">
        <breadcrumb
            path="$ctrl.breadcrumbParams.path"
            system="$ctrl.FileListingService.listings.main.params.path"
            on-browse="$ctrl.onBrowse(file)"
            custom-root="$ctrl.breadcrumbParams.root"
            skip-root="$ctrl.breadcrumbParams.skipRoot"
        ></breadcrumb>
    </div>
    <div ng-show="$ctrl.ui.loading">
        <h3 class="text-center">
            <i class="fa fa-spinner fa-spin"></i> Loading...
        </h3>
    </div>
    <!-- Project Reports -->
    <div ng-if="$ctrl.matchingGroup(experiment, report) && !$ctrl.ui.fileNav && !$ctrl.ui.loading" ng-repeat="report in $ctrl.project.report_set | orderBy: 'value.title'">
        <div class="dropdown dropdown-spacer-sm" id="details-{{report.uuid}}">
            <button class="btn tab-gray" data-toggle="collapse" data-target="#files-{{report.uuid}}" style="width:100%;">
                <div class="collapse-tab">
                    <span class="collapse-tab-content-left">Report | <strong>{{report.value.title}}</strong></span>
                    <span class="collapse-tab-content-right curation-chevron"></span>
                </div>
            </button>
            <div id="files-{{report.uuid}}" class="collapse">
                <div class="well" ng-if="report.value.description">
                    <p>{{ report.value.description }}</p>
                </div>
                <files-listing show-select="true" show-tags="true" published="true"
                on-scroll="$ctrl.scrollToBottom()"
                listing="$ctrl.FileListingService.listings[report.uuid]"
                on-browse="$ctrl.onBrowse(file)"
            >&nbsp;</files-listing>            </div>
        </div>
    </div>
    <div ng-if="$ctrl.ui.fileNav && !$ctrl.ui.loading">
        <breadcrumb
            path="$ctrl.breadcrumbParams.path"
            system="$ctrl.FileListingService.listings.main.params.path"
            on-browse="$ctrl.onBrowse(file)"
            custom-root="$ctrl.breadcrumbParams.root"
            skip-root="$ctrl.breadcrumbParams.skipRoot"
        ></breadcrumb>
        <files-listing show-select="true" show-tags="true" published="true"
        on-scroll="$ctrl.scrollToBottom()"
        listing="$ctrl.FileListingService.listings.main"
        on-browse="$ctrl.onBrowse(file)"
    >&nbsp;</files-listing>    </div>
    <!-- Experiments -->
    <div ng-if="!$ctrl.ui.fileNav" ng-hide="$ctrl.ui.loading" ng-repeat="experiment in $ctrl.project.experiment_set" style="margin-bottom:20px">
        <div class="dropdown dropdown-spacer-sm" id="details-{{experiment.uuid}}">
            <div class="citation-gray" id="anchor-{{ experiment.uuid }}">
                <tr>
                    <td class="tab-cell">
                        <div>
                            Experiment | <strong>{{experiment.value.title}}</strong>
                        </div>
                        <div ng-if="!$ctrl.readOnly">
                            <span ng-if="experiment.value.dois.toString() === ''" class="unpublished-grey">
                                 Unpublished
                             </span>
                             <span ng-if="experiment.value.dois.toString() !== ''" class="published-green">
                                 Published
                             </span> 
                         </div>
                    </td>
                </tr>
            </div>
            <div class="citation-blue">
                <div class="entity-meta-data" style="line-height: 1.6;">
                    <span ng-if="experiment.value.dois.toString() === ''">
                        Draft Citation. Authors can be reordered before publication. 
                    </span>
                    <span ng-if="experiment.value.dois.toString() !== ''">
                        Cite this Data: 
                    </span>
                </div>
                <!-- Refer to publication-citation.template.html to see how projectGen is handled/used -->
                <div ng-if="$ctrl.projectGen === 1"> ===1
                    <span ng-if="$ctrl.readOnly" style="padding-bottom: 5px; line-height: 1.6;">
                        {{ $ctrl.listAuthors(experiment.authors) }}
                    </span>
                    <span ng-if="!$ctrl.readOnly">
                        <ds-author-list format="citation" authors="experiment.value.authors"></ds-author-list>
                    </span> 
                    <span style="padding-bottom: 5px;">
                        <span ng-if="experiment.value.dois.toString() === ''">
                            (Year of Publication) "{{ experiment.value.title }}", in <i>{{ $ctrl.project.value.title }}</i>. DesignSafe-CI.
                            (DOI)
                        </span>
                        <span ng-if="experiment.value.dois.toString() !== ''">
                            ({{ $ctrl.createdYear }}) "{{ experiment.value.title }}", in <i>{{ $ctrl.project.value.title }}</i>. DesignSafe-CI.
                            <a href="https://doi.org/{{experiment.value.dois.toString()}}">https://doi.org/{{experiment.value.dois.toString()}}</a>
                        </span>
                    </span>
                </div>
                <div ng-if="$ctrl.publication.experiment && $ctrl.projectGen > 1"> >>>1
                    <span ng-if="$ctrl.readOnly" style="padding-bottom: 5px;  line-height: 1.6;">
                        {{ $ctrl.listAuthors(experiment.authors) }}
                    </span> 
                    <span ng-if="!$ctrl.readOnly">
                        <ds-author-list format="citation" authors="experiment.value.authors"></ds-author-list>
                    </span>
                    <span style="padding-bottom: 5px;  line-height: 1.6;">
                        <span ng-if="experiment.value.dois.toString() === ''">
                            (Year of Publication) "{{ experiment.value.title }}", in <i>{{ $ctrl.project.value.title }}</i>. DesignSafe-CI.
                            (DOI)
                        </span>
                        <span ng-if="experiment.value.dois.toString() !== ''">
                            ({{ $ctrl.createdYear }}) "{{ experiment.value.title }}", in <i>{{ $ctrl.project.value.title }}</i>. DesignSafe-CI.
                            <a href="https://doi.org/{{experiment.value.dois.toString()}}">https://doi.org/{{experiment.value.dois.toString()}}</a>
                            v{{$ctrl.version}}
                        </span>
                    </span>
                </div>
                <div ng-if="!$ctrl.publication.experiment"> ???? 
                    <span style="padding-bottom: 5px;">
                        <span ng-if="$ctrl.readOnly" style="padding-bottom: 5px;  line-height: 1.6;">
                            {{ $ctrl.listAuthors(experiment.authors) }}
                        </span> 
                        <span ng-if="!$ctrl.readOnly">
                            <ds-author-list format="citation" authors="experiment.value.authors"></ds-author-list>
                        </span>
                    </span>
                    <span style="padding-bottom: 5px;">
                        <span ng-if="experiment.value.dois.toString() === ''">
                            (Year of Publication) "{{ experiment.value.title }}", in <i>{{ $ctrl.project.value.title }}</i>. DesignSafe-CI.
                            (DOI)
                        </span>
                        <span ng-if="miexperimentssion.value.dois.toString() !== ''">
                            ({{ $ctrl.createdYear }}) "{{ experiment.value.title }}", in <i>{{ $ctrl.project.value.title }}</i>. DesignSafe-CI.
                            <a href="https://doi.org/{{experiment.value.dois.toString()}}">https://doi.org/{{experiment.value.dois.toString()}}</a>
                        </span>
                    </span>
                </div>
                <div class="entity-meta-data" style="padding-bottom: 5px; padding-top: 5px;">
                    <span ng-if="experiment.value.dois.toString() !== ''">
                        Download Citation: 
                        <a href="https://data.datacite.org/application/vnd.datacite.datacite+xml/{{experiment.value.dois.toString()}}">Plain Text</a> |
                        <a href="https://data.datacite.org/application/x-research-info-systems/{{experiment.value.dois.toString()}}">RIS</a> |
                        <a href="https://data.datacite.org">EndNote</a> |
                        <a href="https://data.datacite.org/application/x-bibtex/{{experiment.value.dois.toString()}}">Bibtex</a>
                    </span>
                    <span ng-if="experiment.value.dois.toString() === ''">
                        Download Citation: <span style="color:#9f9f9f"> Plain Text | RIS | EndNote | Bibtex</span>
                    </span>
                </div>
                <div style="padding-bottom: 5px;"> 
                    <span ng-if="$ctrl.readOnly">
                        <span style="background-color: #ECE4BF;">
                            {{ $ctrl.cumDoimMetrics[experiment.value.dois].fileDownloads || 0 }} Downloads
                        </span>
                        &nbsp;&nbsp;
                        <span style="background-color: #ECE4BF;">        
                            {{ $ctrl.cumDoimMetrics[experiment.value.dois].filePreviews || 0}} Views
                        </span>
                    </span>
                </div>
            </div> 
            <button ng-init="toggle = true" ng-click="$ctrl.logEntity(experiment, 'experimentsList'); toggle = !toggle" class="btn citation-gray collapsed" data-toggle="collapse" data-target="#data-{{experiment.uuid}}" style="width:100%; padding: 6px">
                <table style="width:100%" id="anchor-{{ experiment.uuid }}">
                    <tr>
                        <td style="text-align: center;">  
                            <span class="curation-chevron">{{toggle ? ' View Data' : ' Hide Data'}}</span>
                        </td>
                    </tr>
                </table>
            </button>
            <div id="data-{{experiment.uuid}}" class="collapse dropdown-spacer-lg">
                <div class="well">
                    <!-- Tombstone Banner -->
                    <div class="alert alert-warning flex-container" ng-if="$ctrl.publication.tombstone.includes(experiment.uuid)">
                        <i class="fa fa-warning notification-icon"></i>
                        <div>
                            <strong>The following Dataset does not exist anymore</strong><br>
                            The Dataset with DOI:
                            <a href="https://doi.org/{{experiment.value.dois[0]}}">https://doi.org/{{experiment.value.dois[0]}}</a>
                            was incomplete and removed. The metadata is still available.
                        </div>
                    </div>
                    <div class="entity-meta-field">
                        <div class="entity-meta-label">Experiment Type</div>
                        <span ng-if="!$ctrl.isValid(experiment.value.experimentTypeOther)" class="entity-meta-data">
                            {{ $ctrl.getET(experiment) }}
                        </span>
                        <span ng-if="$ctrl.isValid(experiment.value.experimentTypeOther)" class="entity-meta-data">
                            {{ experiment.value.experimentTypeOther }}
                        </span>
                    </div>
                    <div class="entity-meta-field">
                        <div class="entity-meta-label-multi">Author(s)</div>
                        <div class="entity-meta-data">
                            <span ng-if="$ctrl.readOnly">
                                <span ng-repeat="author in $ctrl.sortAuthors(experiment.authors) | filter: { authorship: true }">
                                    <a href="javascript:;" ng-click="$ctrl.showAuthor(author)">{{ author.lname }}, {{ author.fname }}</a><span ng-if="!$last">;</span>
                                </span>
                            </span>
                            <span ng-if="!$ctrl.readOnly">
                                <ds-author-list authors="experiment.value.authors"></ds-author-list>
                            </span>
                        </div>
                    </div>
                    <div class="entity-meta-field">
                        <div class="entity-meta-label">Experimental Facility</div>
                        <span ng-if="!$ctrl.isValid(experiment.value.experimentalFacilityOther)" class="entity-meta-data">
                            {{ $ctrl.getEF(experiment.value.experimentalFacility) }}
                        </span>
                        <span ng-if="$ctrl.isValid(experiment.value.experimentalFacilityOther)" class="entity-meta-data">
                            {{ experiment.value.experimentalFacilityOther }}
                        </span>
                    </div>
                    <div class="entity-meta-field">
                        <div class="entity-meta-label">Equipment Type</div>
                        <span ng-if="!$ctrl.isValid(experiment.value.equipmentTypeOther)" class="entity-meta-data">
                            {{ $ctrl.getEQ(experiment) }}
                        </span>
                        <span ng-if="$ctrl.isValid(experiment.value.equipmentTypeOther)" class="entity-meta-data">
                            {{ experiment.value.equipmentTypeOther }}
                        </span>
                    </div>
                    <div class="entity-meta-field" ng-if="experiment.value.relatedWork.length">
                        <div class="entity-meta-label-multi">Related Work</div>
                        <div class="entity-meta-data">
                            <div ng-repeat="work in experiment.value.relatedWork track by $index">
                                <a href="{{work.href}}" target=”_blank”>{{ work.title }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="entity-meta-field" ng-if="experiment.value.referencedData.length">
                        <div class="entity-meta-label-multi">Referenced Data</div>
                        <div class="entity-meta-data">
                            <div ng-repeat="reference in experiment.value.referencedData track by $index">
                                <span ng-if="reference.type">
                                    {{ reference.type }} | 
                                  </span>
                                  <a href="{{reference.doi}}" target=”_blank”>{{ reference.title }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="entity-meta-field" ng-show="experiment.value.procedureStart">
                        <div class="entity-meta-label">Date of Experiment</div>
                        <span class="entity-meta-data" ng-if="experiment.value.procedureEnd && experiment.value.procedureStart !== experiment.value.procedureEnd">
                            {{ experiment.value.procedureStart | date:'MM-dd-yyyy' }} &#8213; {{ experiment.value.procedureEnd | date:'MM-dd-yyyy' }}
                        </span>
                        <span class="entity-meta-data" ng-if="!experiment.value.procedureEnd || experiment.value.procedureStart === experiment.value.procedureEnd">
                            {{ experiment.value.procedureStart | date:'MM-dd-yyyy' }}
                        </span>
                    </div>
                    <div class="entity-meta-field">
                        <div class="entity-meta-label">Date of Publication</div>
                        <div class="entity-meta-data" ng-if="!$ctrl.readOnly && experiment.value.dois.toString() === ''">
                            <span>(Appears when published)</span>
                        </div>
                        <div class="entity-meta-data" ng-if="$ctrl.readOnly || experiment.value.dois.toString() !== ''">
                            <span>{{ $ctrl.dateCreated | date:'MM-dd-yyyy' }}</span>
                        </div>
                    </div>
                    <div class="entity-meta-field">
                        <div class="entity-meta-label">
                            DOI
                        </div>
                        <div class="entity-meta-data" ng-if="!$ctrl.readOnly && experiment.value.dois.toString() === ''">
                            <span>(Appears when published)</span>
                        </div>
                        <div class="entity-meta-data" ng-if="$ctrl.readOnly || experiment.value.dois.toString() !== ''">
                            <span>{{experiment.value.dois.toString()}}</span>
                        </div>
                    </div>
                    <div class="entity-meta-field">
                        <div class="entity-meta-label-multi">License(s)</div>
                        <div class="entity-meta-data" ng-if="!$ctrl.readOnly && experiment.value.dois.toString() === ''">
                            <span>(Appears when published)</span>
                        </div>
                        <div class="entity-meta-data" ng-if="!$ctrl.readOnly && experiment.value.dois.toString() !== ''">
                            <span>Information not available</span>
                        </div>
                        <div class="entity-meta-data" ng-if="$ctrl.readOnly">
                            <strong>
                                <div class="license-element">
                                    <span ng-class="$ctrl.ui.licenseType"></span>
                                    &nbsp;{{$ctrl.ui.license}}
                                </div>
                            </strong>
                        </div>
                    </div>
                    <p>
                        <br>{{ experiment.value.description }}
                    </p>
                    <div>
                        <!-- Experiment Reports -->
                        <div ng-repeat="report in $ctrl.project.report_set | orderBy: 'value.title'" ng-if="$ctrl.matchingGroup(experiment, report)">
                            <div class="dropdown dropdown-spacer-sm" id="details-{{report.uuid}}">
                                <button
                                    ng-click="$ctrl.logEntity(report, 'reportsList')"
                                    class="btn collapsed tab-gray"
                                    data-toggle="collapse"
                                    data-target="#files-{{report.uuid}}-{{experiment.uuid}}"
                                    style="width:100%;"
                                >
                                    <div class="collapse-tab">
                                        <span class="collapse-tab-content-left">Report | <strong>{{report.value.title}}</strong></span>
                                        <span class="collapse-tab-content-right curation-chevron"></span>
                                    </div>
                                </button>
                                <div id="files-{{report.uuid}}-{{experiment.uuid}}" class="collapse">
                                    <div class="well" ng-if="report.value.description">
                                        <p>{{ report.value.description }}</p>
                                    </div>
                                    <div ng-if="!$ctrl.publication.tombstone.includes(experiment.uuid)">
                                        <files-listing show-select="true"
                                                       show-tags="true"
                                                       published="true"
                                                       on-scroll="$ctrl.scrollToBottom()"
                                                       listing="$ctrl.FileListingService.listings[report.uuid]"
                                                       on-browse="$ctrl.onBrowse(file)">&nbsp;
                                        </files-listing>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Model Configs -->
                        <div ng-repeat="modelConfig in $ctrl.project.modelconfig_set | orderBy: 'value.title'"
                            ng-if="$ctrl.matchingGroup(experiment, modelConfig)"
                        >
                            <div class="dropdown dropdown-spacer-sm" id="details-{{modelConfig.uuid}}">
                                <button class="btn collapsed tab-blue"
                                        data-toggle="collapse"
                                        data-target="#files-{{modelConfig.uuid}}-{{experiment.uuid}}"
                                        style="width:100%;">
                                    <div class="collapse-tab">
                                        <span class="collapse-tab-content-left">Model Configuration | <strong>{{modelConfig.value.title}}</strong></span>
                                        <span class="collapse-tab-content-right curation-chevron"></span>
                                    </div>
                                </button>
                                <div id="files-{{modelConfig.uuid}}-{{experiment.uuid}}" class="collapse">
                                    <div class="well" ng-if="modelConfig.value.description">
                                        <p>{{ modelConfig.value.description }}</p>
                                    </div>
                                    <div ng-if="!$ctrl.publication.tombstone.includes(experiment.uuid)">
                                        <files-listing show-select="true"
                                                       show-tags="true"
                                                       published="true"
                                                       on-scroll="$ctrl.scrollToBottom()"
                                                       listing="$ctrl.FileListingService.listings[modelConfig.uuid]"
                                                       on-browse="$ctrl.onBrowse(file)">&nbsp;
                                        </files-listing>
                                    </div>
                                </div>
                            </div>
                            <!-- Sensors -->
                            <div ng-repeat="sensorList in $ctrl.project.sensorlist_set | orderBy: 'value.title'"
                                ng-if="$ctrl.matchingGroup(experiment, sensorList) && $ctrl.matchingGroup(modelConfig, sensorList)"
                            >
                                <div class="dropdown dropdown-spacer-sm"
                                    id="details-{{sensorList.uuid}}"
                                    style="margin-left: 10px"
                                >
                                    <table>
                                        <tr>
                                            <td style="padding-right: 10px;" valign="top">
                                                <span style="font-size: 20px; color: #1568C9">
                                                    <i class="fa fa-level-up fa-rotate-90"></i>
                                                </span>
                                            </td>
                                            <td style="width: 100%;">
                                                <button class="btn collapsed tab-teal dropdown-spacer-sm"
                                                        data-toggle="collapse"
                                                        data-target="#files-{{sensorList.uuid}}-{{modelConfig.uuid}}-{{experiment.uuid}}"
                                                        style="width:100%;"
                                                >
                                                    <div class="collapse-tab">
                                                        <span class="collapse-tab-content-left">Sensor Information | <strong>{{sensorList.value.title}}</strong></span>
                                                        <span class="collapse-tab-content-right curation-chevron"></span>
                                                    </div>
                                            </button>
                                            <div id="files-{{sensorList.uuid}}-{{modelConfig.uuid}}-{{experiment.uuid}}" class="collapse">
                                                <div class="well" ng-if="sensorList.value.description">
                                                    <p>{{ sensorList.value.description }}</p>
                                                </div>
                                                <div ng-if="!$ctrl.publication.tombstone.includes(experiment.uuid)">
                                                    <files-listing show-select="true"
                                                                   show-tags="true"
                                                                   published="true"
                                                                   on-scroll="$ctrl.scrollToBottom()"
                                                                   listing="$ctrl.FileListingService.listings[sensorList.uuid]"
                                                                   on-browse="$ctrl.onBrowse(file)">&nbsp;
                                                    </files-listing>
                                                </div>
                                            </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- Events -->
                                    <div ng-repeat="event in $ctrl.project.event_set | orderBy: 'value.title'"
                                        ng-if="$ctrl.matchingGroup(experiment, event) && $ctrl.matchingGroup(modelConfig, event) && $ctrl.matchingGroup(sensorList, event)"
                                    >
                                        <div class="dropdown dropdown-spacer-sm"
                                            id="details-{{event.uuid}}"
                                            style="margin-left: 30px"
                                        >
                                            <table>
                                                <tr>
                                                    <td style="padding-right: 10px" valign="top">
                                                        <span style="font-size: 20px; color: #43A59D">
                                                            <i class="fa fa-level-up fa-rotate-90"></i>
                                                        </span>
                                                    </td>
                                                    <td style="width: 100%;">
                                                        <button class="btn collapsed tab-yellow"
                                                                data-toggle="collapse"
                                                                data-target="#files-{{event.uuid}}-{{sensorList.uuid}}-{{modelConfig.uuid}}-{{experiment.uuid}}"
                                                                style="width:100%;">
                                                            <div class="collapse-tab">
                                                                <span class="collapse-tab-content-left">Event | <strong>{{event.value.title}}</strong></span>
                                                                <span class="collapse-tab-content-right curation-chevron"></span>
                                                            </div>
                                                        </button>
                                                        <div id="files-{{event.uuid}}-{{sensorList.uuid}}-{{modelConfig.uuid}}-{{experiment.uuid}}" class="collapse">
                                                            <div class="well" ng-if="event.value.description">
                                                                <p>{{ event.value.description }}</p>
                                                            </div>
                                                            <div ng-if="!$ctrl.publication.tombstone.includes(experiment.uuid)">
                                                                <files-listing show-select="true"
                                                                               show-tags="true"
                                                                               published="true"
                                                                               on-scroll="$ctrl.scrollToBottom()"
                                                                               listing="$ctrl.FileListingService.listings[event.uuid]"
                                                                               on-browse="$ctrl.onBrowse(file)">&nbsp;
                                                                </files-listing>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- Events -->
                                </div>
                            </div>
                            <!-- Sensors -->
                        </div>
                        <!-- Model Configs -->
                        <!-- Analysis -->
                        <div ng-repeat="analysis in $ctrl.project.analysis_set | orderBy: 'value.title'" ng-if="$ctrl.matchingGroup(experiment, analysis)">
                            <div class="dropdown dropdown-spacer-sm" id="details-{{analysis.uuid}}">
                                <button class="btn collapsed tab-light-blue" data-toggle="collapse" data-target="#files-{{analysis.uuid}}-{{experiment.uuid}}" style="width:100%;">
                                    <div class="collapse-tab">
                                        <span class="collapse-tab-content-left">Analysis | <strong>{{analysis.value.title}}</strong></span>
                                        <span class="collapse-tab-content-right curation-chevron"></span>
                                    </div>
                                </button>
                                <div id="files-{{analysis.uuid}}-{{experiment.uuid}}" class="collapse">
                                    <div class="well" ng-if="analysis.value.refs && analysis.value.description">
                                        <table class="tg" style="table-layout: fixed; width: 100%;">
                                            <colgroup>
                                                <col style="width: 15%">
                                                <col style="width: 84%">
                                            </colgroup>
                                            <tr ng-repeat="ref in analysis.value.refs">
                                                <td class="tg-0lax" ng-if="$first">Referenced Work</td>
                                                <td class="tg-0lax" ng-if="!$first"></td>
                                                <td class="tg-0lax"><strong><a href="{{ ref.referencedoi }}" rel="noopener noreferrer" target=”_blank”>{{ ref.reference }}</a></strong></td>
                                            </tr>
                                        </table>
                                        <p ng-if="analysis.value.description">{{ analysis.value.description }}</p>
                                    </div>
                                    <div ng-if="!$ctrl.publication.tombstone.includes(experiment.uuid)">
                                        <files-listing show-select="true"
                                                       show-tags="true"
                                                       published="true"
                                                       on-scroll="$ctrl.scrollToBottom()"
                                                       listing="$ctrl.FileListingService.listings[analysis.uuid]"
                                                       on-browse="$ctrl.onBrowse(file)">&nbsp;
                                        </files-listing>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
