.dropdown-spacer-lg .well {
    position: relative;
    .preview-tree-btn-wrapper {
        position: absolute;
        left: -175px;
        border-bottom: 3px solid gray;
    }
}

.tab-experiment {
  background-color: #f5f5f5;
  border-color: #cccccc;
  white-space: normal;
}

.category-model-conf {
  font-weight: bold;
  color: #1568C9;
}

.tab-model-conf {
  background-color: #C4D9F2;
  border-color: #1568C9;
  white-space: normal;
}
.tab-cell {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
}

.category-sensor-info {
  font-weight: bold;
  color: #43A59D;
}

.tab-sensor-info {
  background-color: #CAE9E6;
  border-color: #43A59D;
  white-space: normal;
}

.category-event {
  font-weight: bold;
  color: #B59300;
}

.tab-event {
  background-color: #ECE4BF;
  border-color: #B59300;
  white-space: normal;
}

.category-sim-subst {
  font-weight: bold;
  color: #BD5717;
}

.tab-sim-subst {
  background-color: #EBCCB9;
  border-color: #BD5717;
  white-space: normal;
}

.category-exp-subst {
  font-weight: bold;
  color: #4B3181;
}

.tab-exp-subst {
  background-color: #C8C0D9;
  border-color: #4B3181;
  white-space: normal;
}

.category-outpt {
  font-weight: bold;
  color: #D04348;
}

.tab-outpt {
  background-color: #ECE4BF;
  border-color: #B59300;
  white-space: normal;
}

.category-analysis {
  font-weight: bold;
  color: #56C0E0;
}

.tab-analysis {
  background-color: #CCECF6;
  border-color: #56C0E0;
  white-space: normal;
}

.category-report {
  font-weight: bold;
  color: #3E3E3E;
}

.tab-report {
  background-color: #C4C4C4;
  border-color: #3E3E3E;
  white-space: normal;
}

.tab-collection-conf {
  background-color: #ECE4BF;
  border-color: #B59300;
  white-space: normal;
}

.tab-old-collection {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  white-space: normal;
}

td {
  vertical-align: top;
}
.license-element {
  display: flex; 
  flex-direction: row; 
  align-items: center;
}
