<div style="background:white;">
    <!-- Project Header Start -->
    <div>
        <div>
            <span class="prj-head">{{$ctrl.browser.project.value.projectId}} | <strong>{{ $ctrl.browser.project.value.title }}</strong></span>
            <a class="edit-link" ng-click="$ctrl.editProject($event)">Edit Project</a>
        </div>
        <table style="table-layout: fixed; width: 100%; margin-top: 10px; margin-bottom: 10px;">
            <colgroup>
                <col style="width: 15%">
                <col style="width: 84%">
            </colgroup>
            <tr class="prj-row">
                <td>PI</td>
                <td>
                    <ds-user class="prj-data" username="$ctrl.browser.project.value.pi" format="lname">{{ $ctrl.browser.project.value.pi }}
                    </ds-user>
                </td>
            </tr>
            <tr ng-if="$ctrl.browser.project.value.coPis.length">
                <td>CoPIs</td>
                <td class="prj-data">
                    <ds-user-list usernames="$ctrl.browser.project.value.coPis"></ds-user-list>
                </td>
            </tr>
            <tr class="prj-row" ng-hide="$ctrl.browser.project.value.projectType === 'other' && $ctrl.browser.project.value.dataType">
                <td>Project Type</td>
                <td class="prj-data">{{ $ctrl.browser.project.value.projectType.replace('_', ' ') }}</td>
            </tr>
            <tr class="prj-row" ng-if="$ctrl.browser.project.value.projectType === 'other' && $ctrl.browser.project.value.dataType">
                <td>Data Type</td>
                <td class="prj-data">{{ $ctrl.browser.project.value.dataType }}</td>
            </tr>
            <!-- older projects will have awards listed as strings -->
            <tr ng-if="isSingle($ctrl.browser.project.value.awardNumber)">
                <td>Awards</td>
                <td><strong>{{ $ctrl.browser.project.value.awardNumber }}</strong></td>
            </tr>
            <tr ng-if="!isSingle($ctrl.browser.project.value.awardNumber)"
                ng-repeat="award in $ctrl.browser.project.value.awardNumber track by $index">
                <td ng-if="$first">Awards</td>
                <td ng-if="!$first"></td>
                <td><strong>{{ award.name }} - {{ award.number }}</strong></td>
            </tr>
            <tr ng-repeat="work in $ctrl.browser.project.value.associatedProjects">
                <td ng-if="$first">Related Work</td>
                <td ng-if="!$first"></td>
                <td><strong>{{ work.title }} | <a href="{{ work.href }}" target=”_blank”>{{ work.href }}</a></strong></td>
            </tr>
            <tr class="prj-row">
                <td ng-if="$ctrl.browser.project.value.keywords">Keywords</td>
                <td class="prj-data">{{ $ctrl.browser.project.value.keywords }}</td>
            </tr>
        </table>
        <div ng-if="$ctrl.browser.project.value.description">
            <p>{{ $ctrl.browser.project.value.description }}</p>
        </div>
    </div>
    <!-- Project Header End -->
    <table class="tg" style="table-layout: fixed; width: 100%;">
        <colgroup>
            <col style="width: 46%">
            <col style="width: 50%">
        </colgroup>
        <tr>
            <td class="tg-0lax">
                <button class="btn btn-project-l grayed-out" ng-click="$ctrl.goWork()">
                    Working Directory</button>
                <button class="btn btn-project-r" ng-click="publicationPreview()">
                    Publication Preview</button>
            </td>
            <td class="tg-0lax">
                <div class="btn-group pull-right" role="group" aria-label="Publish buttons">
                    <button class="btn btn-add" ng-click="$ctrl.prepareModal()">
                        Prepare to Publish <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </td>
        </tr>
    </table>
    <br>
    <p>
        <h3 style="text-align: center;">You will select the data to be published in the next step</h3>
    </p>
</div>
