<div style="background:white;">
    <!-- Project Header Start -->
    <div ng-if="!$ctrl.ui.loading">
        <div>
            <span class="prj-head">{{$ctrl.browser.project.value.projectId}} | <strong>{{ $ctrl.browser.project.value.title }}</strong></span>
            <a class="edit-link" ng-click="$ctrl.editProject($event)">Edit Project</a>
            <!-- <a class="curation-download" data-ng-if="$ctrl.readOnly" ng-click="$ctrl.download()"></a> -->
        </div>
        <table style="table-layout: fixed; width: 100%; margin-top: 10px; margin-bottom: 10px;">
            <colgroup>
                <col style="width: 15%">
                <col style="width: 84%">
            </colgroup>
            <tr class="prj-row">
                <td>PI</td>
                <td class="prj-data">
                    <ds-user-list usernames="[$ctrl.browser.project.value.pi]"></ds-user-list>
                </td>
            </tr>
            <tr ng-if="$ctrl.browser.project.value.coPis.length">
                <td>CoPIs</td>
                <td class="prj-data">
                    <ds-user-list usernames="$ctrl.browser.project.value.coPis"></ds-user-list>
                </td>
            </tr>
            <tr class="prj-row" ng-if="$ctrl.readOnly">
                <td>
                    <span>DOI</span>
                    <button class="btn btn-info btn-sm"
                            style="padding: 0px 8px; border-radius: 4px;"
                            data-ng-click="$ctrl.showCitation()">
                        Citation
                    </button>
                </td>
                <td>
                    <strong>{{ $ctrl.browser.project.doi }}</strong>
                </td>
            </tr>
            <tr class="prj-row" ng-hide="$ctrl.browser.project.value.projectType === 'other' && $ctrl.browser.project.value.dataType">
                <td>Project Type</td>
                <td class="prj-data" ng-if="$ctrl.browser.project.value.projectType !== 'field_recon'">
                    {{ $ctrl.browser.project.value.projectType.replace('_', ' ') }}
                </td>
                <!-- FR -->
                <td class="prj-data" ng-if="$ctrl.browser.project.value.projectType === 'field_recon'">Field Research</td>
            </tr>
            <tr class="prj-row" ng-if="$ctrl.browser.project.value.projectType === 'other' && $ctrl.browser.project.value.dataType">
                <td>Data Type</td>
                <td class="prj-data">{{ $ctrl.browser.project.value.dataType }}</td>
            </tr>
            <tr class="prj-row"
                ng-if="$ctrl.browser.project.value.projectType === 'field_recon' && $ctrl.browser.project.value.nhEvent">
                <td>Natural Hazard</td>
                <td class="prj-data">
                    {{ $ctrl.browser.project.value.nhEvent }} | {{$ctrl.browser.project.value.nhEventStart | date:'MM-dd-yyyy'}}
                    <span ng-if="$ctrl.browser.project.value.nhEventEnd">―
                        {{$ctrl.browser.project.value.nhEventEnd | date:'MM-dd-yyyy'}}</span>
                </td>
            </tr>
            <tr class="prj-row"
                ng-if="$ctrl.browser.project.value.projectType === 'field_recon' && $ctrl.browser.project.value.nhType">
                <td>Natural Hazard Type</td>
                <td class="prj-data">
                    <span ng-if="!$ctrl.browser.project.value.nhTypeOther">{{ $ctrl.browser.project.value.nhType }}</span>
                    <span ng-if="$ctrl.browser.project.value.nhTypeOther">{{ $ctrl.browser.project.value.nhTypeOther }}</span>
                </td>
            </tr>
            <tr ng-repeat="award in $ctrl.browser.project.value.awardNumber | orderBy:'order' track by $index"
                ng-if="!$ctrl.readOnly">
                <td ng-if="$first">Awards</td>
                <td ng-if="!$first"></td>
                <td><strong>{{ award.name }} - {{ award.number }}</strong></td>
            </tr>
            <tr ng-repeat="award in $ctrl.browser.project.value.awardNumbers | orderBy:'order' track by $index"
                ng-if="$ctrl.readOnly">
                <td ng-if="$first">Awards</td>
                <td ng-if="!$first"></td>
                <td><strong>{{ award.name }} - {{ award.number }}</strong></td>
            </tr>
            <tr ng-repeat="work in $ctrl.browser.project.value.associatedProjects | orderBy:'order' track by $index">
                <td ng-if="$first">Related Work</td>
                <td ng-if="!$first"></td>
                <td><strong><a href="{{ work.href }}" rel="noopener noreferrer" target=”_blank”>{{ work.title }}</a></strong></td>
            </tr>
            <tr class="prj-row">
                <td ng-if="$ctrl.browser.project.value.keywords">Keywords</td>
                <td class="prj-data">{{ $ctrl.browser.project.value.keywords }}</td>
            </tr>
        </table>
        <div ng-if="$ctrl.browser.project.value.description">
            <p>{{ $ctrl.browser.project.value.description }}</p>
        </div>
    </div>
    <!-- Project Header End -->
    <table class="tg" style="table-layout: fixed; width: 100%;" data-ng-if="!$ctrl.readOnly && !$ctrl.ui.loading">
        <colgroup>
            <col style="width: 46%">
            <col style="width: 50%">
        </colgroup>
        <tr>
            <td class="tg-0lax">
                <button class="btn btn-project-l grayed-out" ng-click="$ctrl.goWork()">
                    Working Directory</button>
                <button class="btn btn-project-m grayed-out" ng-click="$ctrl.goCuration()">
                    Curation Directory</button>
                <button class="btn btn-project-r" ng-click="publicationPreview()">
                    Publication Preview</button>
            </td>
            <td class="tg-0lax">
                <div class="btn-group pull-right" role="group" aria-label="Publish buttons">
                    <button class="btn btn-add" ng-click="$ctrl.prepareModal()">
                        Prepare to Publish <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </td>
        </tr>
    </table>
    <br>
    <!-- Missions -->
    <div ng-show="$ctrl.ui.loading">
        <h3 class="text-center">
            <i class="fa fa-spinner fa-spin"></i> Loading...
        </h3>
    </div>
    <div ng-if="$ctrl.ui.fileNav && !$ctrl.ui.loading">
        <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listing" params="$ctrl.fl"></files-listing>
    </div>
    <div ng-if="!$ctrl.ui.fileNav">
        <!-- Project Reports -->
        <div ng-hide="$ctrl.ui.loading"
            ng-repeat="report in $ctrl.browser.project.report_set | orderBy: 'value.title'"
            ng-if="$ctrl.isProjectReport(report)"
        >
            <div class="dropdown dropdown-spacer-sm" id="details-{{report.uuid}}">
                <button class="btn collapsed tab-report" data-toggle="collapse" data-target="#files-{{report.uuid}}" style="width:100%;">
                    <table style="width:100%">
                        <tr>
                            <td style="text-align: left;">
                                <span>Report | <strong>{{report.value.title}}</strong></span>
                            </td>
                            <td style="text-align: right;">
                                <span class="curation-chevron" style="font-size: 18px;"></span>
                            </td>
                        </tr>
                    </table>
                </button>
                <div id="files-{{report.uuid}}" class="collapse">
                    <div style="display: inline-block;
                                width:20%;
                                vertical-align: top;">
                        Data Collectors
                    </div>
                    <div style="display: inline-block;
                                width:78%;
                                font-weight: bold;">
                        <!-- <div data-ng-repeat="author in
                            report.value.authors |
                            orderBy: 'order'"
                            data-ng-if="!author.length &&
                            author.authorship">
                            <span data-ng-if="!author.guest">
                                <ds-user-list class="prj-data" usernames="author.name"></ds-user-list>
                            </span>
                            <span data-ng-if="author.guest">
                                {{author.lname}}, {{author.fname}}
                            </span>
                        </div> -->
                        <ds-user-list authors="report.value.authors"></ds-user-list>
                        <ds-author-list authors="[$ctrl.browser.project.value.pi]"></ds-author-list>
                    </div>
                    <div style="display: inline-block;
                                width: 20%;
                                vertical-align: top;">
                        Referenced Data
                    </div>
                    <div style="display: inline-block;
                                width: 78%;
                                font-weight: bold;">
                        <ul style="list-style: none;
                                padding-left: 0;">
                            <li data-ng-repeat="referencedData in
                                report.value.referencedDatas">
                                {{referencedData.title}} | {{referencedData.url}}
                            </li>
                        </ul>
                    </div>
                    <div class="well" ng-if="report.value.description">
                        <p>{{ report.value.description }}</p>
                    </div>
                    <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[report.uuid]" params="$ctrl.fl"></files-listing>
                </div>
            </div>
        </div>
        <div ng-if="!$ctrl.ui.fileNav" ng-hide="$ctrl.ui.loading" ng-repeat="mission in $ctrl.browser.project.mission_set">
            <div style="margin-bottom: 2px;">
                <a data-ng-click="$ctrl.treeDiagram(mission)">
                    <strong>View Data Diagram</strong>
                </a>
            </div>
            <div class="dropdown dropdown-spacer-sm" id="details-{{hybsim.uuid}}">
                <button class="btn tab-experiment collapsed" data-toggle="collapse" data-target="#data-{{mission.uuid}}" style="width:100%;">
                    <table style="width:100%">
                        <tr>
                            <td style="text-align: left;">
                                <span>Mission | <strong>{{mission.value.title}}</strong></span>
                            </td>
                            <td style="text-align: right;">
                                <span class="curation-chevron" style="font-size: 18px;"></span>
                            </td>
                        </tr>
                    </table>
                </button>
                <div id="data-{{mission.uuid}}" class="collapse dropdown-spacer-lg">
                    <div class="well">
                        <div style="display: inline-block; width:20%; vertical-align: top;">
                            Authors
                        </div>
                        <div style="display: inline-block; width:78%; font-weight: bold;">
                            <!-- <div data-ng-repeat="author in mission.value.authors | orderBy: 'order'"
                                data-ng-if="!author.length && author.authorship">
                                <span data-ng-if="!author.guest">
                                    <ds-user-list class="prj-data" usernames="author.name"></ds-user-list>
                                </span>
                                <span data-ng-if="author.guest">
                                    {{author.lname}}, {{author.fname}}
                                </span>
                            </div> -->
                            <ds-user-list authors="mission.value.authors"></ds-user-list>
                        </div>
                        <div style="display: inline-block; width:20%;">Date of Mission</div>
                        <div style="display: inline-block; width: 78%; font-weight:bold;">
                            <span>{{mission.value.dateStart | date:'MM-dd-yyyy'}}</span>
                            <span data-ng-if="mission.value.dateEnd">
                                &#8213; {{mission.value.dateEnd | date:'MM-dd-yyyy' }}
                            </span>
                        </div>
                        <div style="display: inline-block; width:20%; vertical-align: top;">
                            Site Location
                        </div>
                        <div style="display: inline-block; width: 78%; font-weight:bold;">
                            <ul style="list-style:none; padding-left:0;">
                                <li> Place: {{mission.value.location}} </li>
                                <li> Lat: {{mission.value.latitude}} </li>
                                <li> Lon: {{mission.value.longitude}} </li>
                                <li> Elevation: {{mission.value.elevation}} </li>
                            </ul>
                        </div>
                        <div style="display:inline-block; width:20%;">Date of Publication</div>
                        <strong style="display:inline-block; width:78%;"
                                data-ng-if="!$ctrl.readOnly">
                            (Appears when published)
                        </strong>
                        <strong style="display:inline-block; width:78%;"
                                data-ng-if="$ctrl.readOnly">
                            {{ $ctrl.browser.publication.created | date:'MM-dd-yyyy' }}
                        </strong>
                        <div style="display:inline-block; width:20%;">
                            DOI 
                            <button class="btn btn-info btn-sm"
                                    style="padding: 0px 8px; border-radius: 4px;"
                                    ng-disabled="!$ctrl.readOnly"
                                    data-ng-click="$ctrl.showCitation(missino)">
                                Citation
                            </button>
                        </div>
                        <strong style="display:inline-block; width:78%;"
                                data-ng-if="!$ctrl.readOnly">
                            (Appears when published)
                        </strong>
                        <strong style="display:inline-block; width:78%;"
                                data-ng-if="$ctrl.readOnly">
                            {{ experiment.doi }}
                        </strong>
                        <div style="display:inline-block; width:20%;">License(s)</div>
                        <strong style="display:inline-block; width:78%;"
                                data-ng-if="!$ctrl.readOnly">
                            (Appears when published)
                        </strong>
                        <strong style="display:inline-block; width:78%;"
                                data-ng-if="$ctrl.readOnly">
                                <div data-ng-if="$ctrl.browser.publication.licenses.datasets">
                                    {{ $ctrl.browser.publication.licenses.datasets }}
                                </div>
                                <div data-ng-if="$ctrl.browser.publication.licenses.works">
                                    {{ $ctrl.browser.publication.licenses.works }}
                                </div>
                                <div data-ng-if="$ctrl.browser.publication.licenses.software">
                                    {{ $ctrl.browser.publication.licenses.software }}
                                </div>
                        </strong>
                        <p>
                            <br>{{ mission.value.description }}
                        </p>
                        <div class="preview-tree-btn-wrapper">
                            <button class="btn btn-link"
                                    data-ng-click="$ctrl.treeDiagram(mission)">
                                View Related Diagram
                            </button>
                        </div>
                <!-- Research Reports -->
                        <div ng-repeat="report in $ctrl.browser.project.report_set | orderBy: 'value.title'" ng-if="$ctrl.matchingGroup(mission, report)">
                            <div class="dropdown dropdown-spacer-sm" id="details-{{report.uuid}}">
                                <button class="btn collapsed tab-report" data-toggle="collapse" data-target="#files-{{report.uuid}}" style="width:100%;">
                                    <table style="width:100%">
                                        <tr>
                                            <td style="text-align: left;">
                                                <span>Report | <strong>{{report.value.title}}</strong></span>
                                            </td>
                                            <td style="text-align: right;">
                                                <span class="curation-chevron" style="font-size: 18px;"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </button>
                                <div id="files-{{report.uuid}}" class="collapse">
                                    <div class="well" ng-if="report.value.description">
                                        <p>{{ report.value.description }}</p>
                                    </div>
                                    <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[report.uuid]" params="$ctrl.fl"></files-listing>
                                </div>
                            </div>
                        </div>
                        <!-- Research Models -->
                        <div ng-repeat="collection in $ctrl.browser.project.collection_set | orderBy: 'value.title'" ng-if="$ctrl.matchingGroup(mission, collection)">
                            <div class="dropdown dropdown-spacer-sm" id="details-{{collection.uuid}}">
                                <button class="btn collapsed tab-collection-conf" data-toggle="collapse" data-target="#files-{{collection.uuid}}"
                                    style="width:100%;">
                                    <table style="width:100%">
                                        <tr>
                                            <td style="text-align: left;">
                                                <span>Collection | <strong>{{collection.value.title}}</strong></span>
                                            </td>
                                            <td style="text-align: right;">
                                                <span class="curation-chevron" style="font-size: 18px;"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </button>
                                <div id="files-{{collection.uuid}}" class="collapse dropdown-spacer-lg">
                                    <div class="well">
                                        <div style="display: inline-block; width:20%;">Observation Type</div>
                                        <div style="display: inline-block; width: 78%; font-weight:bold;">
                                            <ul style="list-style: none; padding-left: 0;">
                                                <li data-ng-repeat="ot in collection.value.observationTypes">
                                                    {{ot}}
                                                </li>
                                            </ul>
                                        </div>
                                        <div style="display: inline-block; width:20%;">Date of Collection</div>
                                        <div style="display: inline-block; width: 78%; font-weight:bold;">
                                            <span>{{collection.value.dateStart | date:'MM-dd-yyyy'}}</span>
                                            <span data-ng-if="mission.value.dateEnd">
                                                &#8213; {{collection.value.dateEnd | date:'MM-dd-yyyy' }}
                                            </span>
                                        </div>
                                        <div style="display: inline-block; width:20%; vertical-align: top;">
                                            Data Collectors
                                        </div>
                                        <div style="display: inline-block; width:78%; font-weight: bold;">
                                            <div data-ng-repeat="author in collection.value.dataCollectors | orderBy: 'order'"
                                                data-ng-if="!author.length && author.authorship">
                                                <span data-ng-if="!author.guest">
                                                    <ds-user data-username="author.name" data-format="lname">
                                                        {{author}}
                                                    </ds-user>
                                                </span>
                                                <span data-ng-if="author.guest">
                                                    {{author.lname}}, {{author.fname}}
                                                </span>
                                            </div>
                                        </div>
                                        <div style="display: inline-block; width:20%; vertical-align: top;">
                                            Site Location
                                        </div>
                                        <div style="display: inline-block; width: 78%; font-weight:bold;">
                                            <ul style="list-style:none; padding-left:0;">
                                                <li> Place: {{collection.value.location}} </li>
                                                <li> Lat: {{collection.value.latitude}} </li>
                                                <li> Lon: {{collection.value.longitude}} </li>
                                                <li> Elevation: {{collection.value.elevation}} </li>
                                            </ul>
                                        </div>
                                        <div style="display: inline-block; width:20%; vertical-align: top;">
                                            Instrument
                                        </div>
                                        <div style="display: inline-block; width: 78%; font-weight:bold;">
                                            <ul style="list-style:none; padding-left:0;">
                                                <li data-ng-repeat="instrument in collection.value.instruments">
                                                    {{instrument.name}} | {{instrument.model}}
                                                </li>
                                            </ul>
                                        </div>
                                        <div ng-if="$ctrl.emptyCheck(collection.value.referencedDatas)">
                                            <div style="display: inline-block; width:20%; vertical-align: top;">
                                                Referenced Data
                                            </div>
                                            <div style="display: inline-block; width: 78%; font-weight:bold;">
                                                <ul style="list-style:none; padding-left:0;">
                                                    <li data-ng-repeat="data in collection.value.referencedDatas">
                                                        <a href="{{ data.url }}" rel="noopener noreferrer" target=”_blank”>{{ data.title }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div ng-if="collection.value.description">
                                            <p>{{ collection.value.description }}</p>
                                        </div>
                                    </div>
                                    <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[collection.uuid]" params="$ctrl.fl"></files-listing>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
