<div style="background:white;">
    <!-- Project Header Start -->
    <div>
        <div>
            <span class="prj-head">{{$ctrl.browser.project.value.projectId}} | <strong>{{ $ctrl.browser.project.value.title }}</strong></span>
            <a class="edit-link" data-ng-if="!$ctrl.readOnly" ng-click="$ctrl.editProject($event)">Edit Project</a>
            <!-- <a class="curation-download" data-ng-if="$ctrl.readOnly" ng-click="$ctrl.download()"></a> -->
        </div>
        <table style="table-layout: fixed; width: 100%; margin-top: 10px; margin-bottom: 10px;">
            <colgroup>
                <col style="width: 15%">
                <col style="width: 84%">
            </colgroup>
            <tr class="prj-row">
                <td>Author</td>
                <td class="prj-data" ng-if="!$ctrl.readOnly">
                    <ds-user-list usernames="[$ctrl.browser.publication.project.value.pi]"></ds-user-list>
                </td>
                <td ng-if="$ctrl.readOnly">
                    <span ng-repeat="member in $ctrl.browser.publication.project.value.teamOrder | orderBy: 'order'">
                        <strong>
                            <span ng-if="!$last">{{ member.lname }}, {{ member.fname }}; </span>
                            <span ng-if="$last">{{ member.lname }}, {{ member.fname }}</span>
                        </strong>
                    </span>
                </td>
            </tr>
            <tr ng-if="$ctrl.browser.project.value.coPis.length">
                <td>CoPIs</td>
                <td class="prj-data">
                    <ds-user-list usernames="$ctrl.browser.publication.project.value.coPis"></ds-user-list>
                </td>
            </tr>
            <tr class="prj-row" ng-hide="$ctrl.browser.project.value.projectType === 'other' && $ctrl.browser.project.value.dataType">
                <td>Project Type</td>
                <td class="prj-data">{{ $ctrl.browser.project.value.projectType.replace('_', ' ') }}</td>
            </tr>
            <tr class="prj-row" ng-if="$ctrl.browser.project.value.projectType === 'other' && $ctrl.browser.project.value.dataType">
                <td>Data Type</td>
                <td class="prj-data">{{ $ctrl.browser.project.value.dataType }}</td>
            </tr>
            <tr ng-repeat="award in $ctrl.browser.project.value.awardNumber track by $index"
                ng-if="!$ctrl.readOnly">
                <td ng-if="$first">Awards</td>
                <td ng-if="!$first"></td>
                <td><strong>{{ award.name }} - {{ award.number }}</strong></td>
            </tr>
            <tr ng-repeat="award in $ctrl.browser.project.value.awardNumbers track by $index"
                ng-if="$ctrl.readOnly">
                <td ng-if="$first">Awards</td>
                <td ng-if="!$first"></td>
                <td><strong>{{ award.name }} - {{ award.number }}</strong></td>
            </tr>
            <tr ng-repeat="work in $ctrl.browser.project.value.associatedProjects">
                <td ng-if="$first">Related Work</td>
                <td ng-if="!$first"></td>
                <td><strong>{{ work.title }} | <a href="{{ work.href }}" rel="noopener noreferrer" target=”_blank”>{{ work.href }}</a></strong></td>
            </tr>
            <tr class="prj-row">
                <td ng-if="$ctrl.browser.project.value.keywords">Keywords</td>
                <td class="prj-data">{{ $ctrl.browser.project.value.keywords }}</td>
            </tr>
            <tr class="prj-row" ng-if="$ctrl.readOnly">
                <td ng-if="$ctrl.browser.project.value.keywords">Date of Publication</td>
                <td class="prj-data">{{ $ctrl.browser.publication.created | date:'MM-dd-yyyy' }}</td>
            </tr>
            <tr class="prj-row" ng-if="$ctrl.readOnly">
                <td ng-if="$ctrl.browser.project.value.keywords">DOI</td>
                <td class="prj-data">
                    <button class="btn btn-info btn-sm" data-ng-click="$ctrl.showCitation()">
                        Citation
                    </button>
                </td>
            </tr>
            <tr class="prj-row" ng-if="$ctrl.readOnly">
                <td ng-if="$ctrl.browser.project.value.keywords">License(s)</td>
                <td class="prj-data">
                    <strong>
                        <div data-ng-if="$ctrl.browser.publication.licenses.datasets">
                            {{ $ctrl.browser.publication.licenses.datasets }}
                        </div>
                        <div data-ng-if="$ctrl.browser.publication.licenses.works">
                            {{ $ctrl.browser.publication.licenses.works }}
                        </div>
                        <div data-ng-if="$ctrl.browser.publication.licenses.software">
                            {{ $ctrl.browser.publication.licenses.software }}
                        </div>
                    </strong>
                </td>
            </tr>
        </table>
        <div ng-if="$ctrl.browser.project.value.description">
            <p>{{ $ctrl.browser.project.value.description }}</p>
        </div>
    </div>
    <!-- Project Header End -->
    <table class="tg" style="table-layout: fixed; width: 100%;"
           data-ng-if="!$ctrl.readOnly">
        <colgroup>
            <col style="width: 46%">
            <col style="width: 50%">
        </colgroup>
        <tr>
            <td class="tg-0lax">
                <button class="btn btn-project-l grayed-out"
                        ng-click="$ctrl.goWork()"
                >
                    Working Directory
                </button>
                <button class="btn btn-project-m grayed-out"
                        ng-click="$ctrl.goCuration()"
                >
                    Curation Directory
                </button>
                <button class="btn btn-project-r"
                        ng-click="publicationPreview()"
                >
                    Publication Preview
                </button>
            </td>
            <td class="tg-0lax">
                <div class="btn-group pull-right" role="group" aria-label="Publish buttons">
                    <button class="btn btn-add" ng-click="$ctrl.prepareModal()">
                        Prepare to Publish <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </td>
        </tr>
    </table>
    <br>
    <div ng-if="!$ctrl.readOnly">
        <p>
            <h3 style="text-align: center;">You will select the data to be published in the next step</h3>
        </p>
    </div>
    <div ng-if="$ctrl.readOnly">
        <div ng-show="this.ui.loading">
            <h3 class="text-center">
                <i class="fa fa-spinner fa-spin"></i> Loading...
            </h3>
        </div>
        <div ng-hide="this.ui.loading">
            <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listing" category-listing="true"></files-listing>
        </div>
    </div>
</div>
