<div style="background:white;">
    <!-- Project Header Start -->
    <div>
        <div>
            <span class="prj-head">{{$ctrl.browser.project.value.projectId}} | <strong>{{ $ctrl.browser.project.value.title }}</strong></span>
            <a class="edit-link" ng-click="editProject($event)">Edit Project</a>
        </div>
        <table style="table-layout: fixed; width: 100%; margin-top: 10px; margin-bottom: 10px;">
            <colgroup>
                <col style="width: 15%">
                <col style="width: 84%">
            </colgroup>
            <tr class="prj-row">
                <td>PI</td>
                <td>
                    <ds-user class="prj-data" username="$ctrl.browser.project.value.pi" format="lname">{{ $ctrl.browser.project.value.pi }}
                    </ds-user>
                </td>
            </tr>
            <tr ng-if="$ctrl.browser.project.value.coPis.length">
                <td>CoPI</td>
                <td format="lname" class="prj-data">
                    <span ng-repeat="copi in $ctrl.browser.project.value.coPis">
                        <span ng-if="!$last">
                            <ds-user username="copi" format="lname">{{ copi }}</ds-user>;
                        </span>
                        <ds-user ng-if="$last" username="copi" format="lname">{{ copi }}</ds-user>
                    </span>
                </td>
            </tr>
            <tr class="prj-row" ng-hide="$ctrl.browser.project.value.projectType === 'other' && $ctrl.browser.project.value.dataType">
                <td>Project Type</td>
                <td class="prj-data">{{ $ctrl.browser.project.value.projectType.replace('_', ' ') }}</td>
            </tr>
            <tr class="prj-row" ng-if="$ctrl.browser.project.value.projectType === 'other' && $ctrl.browser.project.value.dataType">
                <td>Data Type</td>
                <td class="prj-data">{{ $ctrl.browser.project.value.dataType }}</td>
            </tr>
            <!-- older projects will have awards listed as strings -->
            <tr ng-if="isSingle($ctrl.browser.project.value.awardNumber)">
                <td>Awards</td>
                <td><strong>{{ $ctrl.browser.project.value.awardNumber }}</strong></td>
            </tr>
            <tr ng-if="!isSingle($ctrl.browser.project.value.awardNumber)"
                ng-repeat="award in $ctrl.browser.project.value.awardNumber track by $index">
                <td ng-if="$first">Awards</td>
                <td ng-if="!$first"></td>
                <td><strong>{{ award.name }} - {{ award.number }}</strong></td>
            </tr>
            <tr ng-repeat="work in $ctrl.browser.project.value.associatedProjects">
                <td ng-if="$first">Related Work</td>
                <td ng-if="!$first"></td>
                <td><strong>{{ work.title }} | <a>{{ work.href }}</a></strong></td>
            </tr>
            <tr class="prj-row">
                <td ng-if="$ctrl.browser.project.value.keywords">Keywords</td>
                <td class="prj-data">{{ $ctrl.browser.project.value.keywords }}</td>
            </tr>
        </table>
        <div ng-if="$ctrl.browser.project.value.description">
            <p>{{ $ctrl.browser.project.value.description }}</p>
        </div>
    </div>
    <!-- Project Header End -->
    <table class="tg" style="table-layout: fixed; width: 100%;">
        <colgroup>
            <col style="width: 46%">
            <col style="width: 50%">
        </colgroup>
        <tr>
            <td class="tg-0lax">
                <button class="btn btn-project-l grayed-out" ng-click="$ctrl.goWork()">
                    Working Directory</button>
                <button class="btn btn-project-m grayed-out" ng-click="$ctrl.goCuration()">
                    Curation Directory</button>
                <button class="btn btn-project-r" ng-click="publicationPreview()">
                    Publication Preview</button>
            </td>
            <td class="tg-0lax">
                <div class="btn-group pull-right" role="group" aria-label="Publish buttons">
                    <button class="btn btn-add" ng-click="$ctrl.prepareModal()">
                        Prepare to Publish <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </td>
        </tr>
    </table>
    <br>
    <a>breadcrumbs</a> / <a>go</a> / <a>here</a>

    <!-- Simulations -->
    <div ng-show="$ctrl.loading">
        <h3 class="text-center">
            <i class="fa fa-spinner fa-spin"></i> Loading...
        </h3>
    </div>
    <!-- Project Reports -->
    <div ng-hide="$ctrl.loading" ng-repeat="report in $ctrl.browser.project.report_set | orderBy: 'value.title'">
        <div class="dropdown dropdown-spacer-sm" id="details-{{report.uuid}}" ng-if="$ctrl.matchingGroup(simulation, report)">
            <button class="btn collapsed tab-report" data-toggle="collapse" data-target="#files-{{report.uuid}}" style="width:100%;">
                <table style="width:100%">
                    <tr>
                        <td style="text-align: left;">
                            <span>Report | <strong>{{report.value.title}}</strong></span>
                        </td>
                        <td style="text-align: right;">
                            <span class="curation-chevron" style="font-size: 18px;"></span>
                        </td>
                    </tr>
                </table>
            </button>
            <div id="files-{{report.uuid}}" class="collapse">
                <div class="well">
                    <p>{{ report.value.description }}</p>
                </div>
                <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[report.uuid]" category-listing="true"></files-listing>
            </div>
        </div>
    </div>
    <div ng-hide="$ctrl.loading" ng-repeat="simulation in $ctrl.browser.project.simulation_set">
        <div class="dropdown dropdown-spacer-sm" id="details-{{simulation.uuid}}">
            <button class="btn collapsed tab-experiment" data-toggle="collapse" data-target="#data-{{simulation.uuid}}" style="width:100%;">
                <table style="width:100%">
                    <tr>
                        <td style="text-align: left;">
                            <span>Simulation | <strong>{{simulation.value.title}}</strong></span>
                        </td>
                        <td style="text-align: right;">
                            <span class="curation-chevron" style="font-size: 18px;"></span>
                        </td>
                    </tr>
                </table>
            </button>
            <div id="data-{{simulation.uuid}}" class="collapse dropdown-spacer-lg" ng-class="{'in': $ctrl.singleExperiment()}">
                <div class="well">
                    <div style="display:inline-block; width:20%;">Simulation Type</div>
                    <strong ng-if="!$ctrl.isValid(simulation.value.experimentalFacilityOther)" style="text-transform:capitalize; display:inline-block; width:78%;">
                        {{ simulation.value.simulationType.replace('_', ' ') }}
                    </strong>
                    <strong ng-if="$ctrl.isValid(simulation.value.experimentalFacilityOther)" style="text-transform:capitalize; display:inline-block; width:78%;">
                        {{ simulation.value.simulationTypeOther }}
                    </strong>
                    <div style="display:inline-block; width:20%; vertical-align: top;">Authors</div>
                    <div style="display:inline-block; width:78%; font-weight: bold;">
                        <span ng-repeat="author in simulation.value.authors | orderBy: 'order'" ng-if="!author.length">
                            <div>
                                <ds-user username="author.name" format="lname" ng-if="author.authorship">{{ author.name }}</ds-user>
                            </div>
                        </span>
                        <!-- support older author list -->
                        <div ng-repeat="author in simulation.value.authors" ng-if="author.length">
                            <ds-user username="author" format="lname">{{ author }}</ds-user>
                        </div>
                    </div>
                    <div style="display:inline-block; width:20%;">Date of Publication</div>
                    <strong style="display:inline-block; width:78%;">
                        (Appears when published)
                    </strong>
                    <div style="display:inline-block; width:20%;">DOI <button class="btn btn-info btn-sm">Citation</button></div>
                    <strong style="display:inline-block; width:78%;">
                        (Appears when published)
                    </strong>
                    <div style="display:inline-block; width:20%;">License</div>
                    <strong style="display:inline-block; width:78%;">
                        (Appears when published)
                    </strong>
                    <p>
                        <br>{{ simulation.value.description }}
                    </p>
            <!-- Simulation Reports -->
                    <div ng-repeat="report in $ctrl.browser.project.report_set | orderBy: 'value.title'">
                        <div class="dropdown dropdown-spacer-sm" id="details-{{report.uuid}}" ng-if="$ctrl.matchingGroup(simulation, report)">
                            <button class="btn collapsed tab-report" data-toggle="collapse" data-target="#files-{{report.uuid}}" style="width:100%;">
                                <table style="width:100%">
                                    <tr>
                                        <td style="text-align: left;">
                                            <span>Report | <strong>{{report.value.title}}</strong></span>
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="curation-chevron" style="font-size: 18px;"></span>
                                        </td>
                                    </tr>
                                </table>
                            </button>
                            <div id="files-{{report.uuid}}" class="collapse">
                                <div class="well">
                                    <p>{{ report.value.description }}</p>
                                </div>
                                <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[report.uuid]" category-listing="true"></files-listing>
                            </div>
                        </div>
                    </div>
            <!-- Model -->
                    <div ng-repeat="model in $ctrl.browser.project.model_set | orderBy: 'value.title'">
                        <div class="dropdown dropdown-spacer-sm" id="details-{{model.uuid}}" ng-if="$ctrl.matchingGroup(simulation, model)">
                            <button class="btn collapsed tab-model-conf" data-toggle="collapse" data-target="#files-{{model.uuid}}"
                                style="width:100%;">
                                <table style="width:100%">
                                    <tr>
                                        <td style="text-align: left;">
                                            <span>Model Configuration | <strong>{{model.value.title}}</strong></span>
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="curation-chevron" style="font-size: 18px;"></span>
                                        </td>
                                    </tr>
                                </table>
                            </button>
                            <div id="files-{{model.uuid}}" class="collapse">
                                <div class="well">
                                    <p>{{ model.value.description }}</p>
                                </div>
                                <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[model.uuid]" category-listing="true"></files-listing>
                            </div>
                        </div>
                    </div>
            <!-- Inputs -->
                    <div ng-repeat="input in $ctrl.browser.project.input_set | orderBy: 'value.title'">
                        <div class="dropdown dropdown-spacer-sm" id="details-{{input.uuid}}" ng-if="$ctrl.matchingGroup(simulation, input)">
                            <button class="btn collapsed tab-sensor-info" data-toggle="collapse" data-target="#files-{{input.uuid}}" style="width:100%;">
                                <table style="width:100%">
                                    <tr>
                                        <td style="text-align: left;">
                                            <span>Input | <strong>{{input.value.title}}</strong></span>
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="curation-chevron" style="font-size: 18px;"></span>
                                        </td>
                                    </tr>
                                </table>
                            </button>
                            <div id="files-{{input.uuid}}" class="collapse">
                                <div class="well">
                                    <p>{{ input.value.description }}</p>
                                </div>
                                <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[input.uuid]" category-listing="true"></files-listing>
                            </div>
                        </div>
                    </div>
            <!-- Output -->
                    <div ng-repeat="output in $ctrl.browser.project.output_set | orderBy: 'value.title'">
                        <div class="dropdown dropdown-spacer-sm" id="details-{{output.uuid}}" ng-if="$ctrl.matchingGroup(simulation, output)">
                            <button class="btn collapsed tab-event" data-toggle="collapse" data-target="#files-{{output.uuid}}"
                                style="width:100%;">
                                <table style="width:100%">
                                    <tr>
                                        <td style="text-align: left;">
                                            <span>Sensor Information | <strong>{{output.value.title}}</strong></span>
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="curation-chevron" style="font-size: 18px;"></span>
                                        </td>
                                    </tr>
                                </table>
                            </button>
                            <div id="files-{{output.uuid}}" class="collapse">
                                <div class="well">
                                    <p>{{ output.value.description }}</p>
                                </div>
                                <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[output.uuid]" category-listing="true"></files-listing>
                            </div>
                        </div>
                    </div>
            <!-- Analysis -->
                    <div ng-repeat="analysis in $ctrl.browser.project.analysis_set | orderBy: 'value.title'">
                        <div class="dropdown dropdown-spacer-sm" id="details-{{analysis.uuid}}" ng-if="$ctrl.matchingGroup(simulation, analysis)">
                            <button class="btn collapsed tab-analysis" data-toggle="collapse" data-target="#files-{{analysis.uuid}}"
                                style="width:100%;">
                                <table style="width:100%">
                                    <tr>
                                        <td style="text-align: left;">
                                            <span>Analysis | <strong>{{analysis.value.title}}</strong></span>
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="curation-chevron" style="font-size: 18px;"></span>
                                        </td>
                                    </tr>
                                </table>
                            </button>
                            <div id="files-{{analysis.uuid}}" class="collapse">
                                <div class="well">
                                    <p>{{ analysis.value.description }}</p>
                                </div>
                                <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[analysis.uuid]" category-listing="true"></files-listing>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
