<div style="background:white;">
    <!-- Project Header Start -->
    <div ng-if="!$ctrl.ui.loading">
        <!-- pub preview metadata -->
        <prj-pub-preview-metadata></prj-pub-preview-metadata>
        <!-- Project Nav -->
        <span class="project-preview-nav" ng-if="!$ctrl.readOnly && !$ctrl.ui.loading">
            <button class="btn btn-project-l grayed-out" ng-click="$ctrl.goWork()">
                Working Directory
            </button>
            <button class="btn btn-project-m grayed-out" ng-click="$ctrl.goCuration()">
                Curation Directory
            </button>
            <button class="btn btn-project-r" ng-click="$ctrl.goPreview()">
                Publication Preview
            </button>
            <div style="flex-grow: 1"></div>
            <button class="btn btn-add" ng-click="$ctrl.prepareModal()">
                Publish
            </button>
        </span>
    </div>
    <br>
    <div style="margin-bottom: 2px;" ng-if="!$ctrl.ui.fileNav && !$ctrl.ui.loading">
        <breadcrumb
        path="$ctrl.breadcrumbParams.path"
        system="$ctrl.FileListingService.listings.main.params.path"
        on-browse="$ctrl.onBrowse(file)"
        custom-root="$ctrl.breadcrumbParams.root"
        skip-root="$ctrl.breadcrumbParams.skipRoot"
    ></breadcrumb>
    </div>
    <!-- Hybrid Sims -->
    <div ng-show="$ctrl.ui.loading">
        <h3 class="text-center">
            <i role="none" class="fa fa-spinner fa-spin"></i> Loading...
        </h3>
    </div>
    <!-- Project Reports -->
    <div ng-if="$ctrl.matchingGroup(hybsim, report) && !$ctrl.ui.fileNav && !$ctrl.ui.loading" ng-repeat="report in $ctrl.project.report_set | orderBy: 'value.title'">
        <div class="dropdown dropdown-spacer-sm" id="details-{{report.uuid}}">
            <button class="btn collapsed tab-gray" data-toggle="collapse" data-target="#files-{{report.uuid}}" style="width:100%;">
                <div class="collapse-tab">
                    <span class="collapse-tab-content-left">Report | <strong>{{report.value.title}}</strong></span>
                    <span class="collapse-tab-content-right curation-chevron"></span>
                </div>
            </button>
            <div id="files-{{report.uuid}}" class="collapse">
                <div class="well" ng-if="report.value.description">
                    <p>{{ report.value.description }}</p>
                </div>
                <files-listing show-select="true" show-tags="true" published="true"
                on-scroll="$ctrl.scrollToBottom()"
                listing="$ctrl.FileListingService.listings[report.uuid]"
                on-browse="$ctrl.onBrowse(file)"
                >&nbsp;</files-listing
            >
            </div>
        </div>
    </div>
    <div ng-if="$ctrl.ui.fileNav && !$ctrl.ui.loading">
        <breadcrumb
        path="$ctrl.breadcrumbParams.path"
        system="$ctrl.FileListingService.listings.main.params.path"
        on-browse="$ctrl.onBrowse(file)"
        custom-root="$ctrl.breadcrumbParams.root"
        skip-root="$ctrl.breadcrumbParams.skipRoot"
    ></breadcrumb>
        <files-listing show-select="true" show-tags="true" published="true"
            on-scroll="$ctrl.scrollToBottom()"
            listing="$ctrl.FileListingService.listings.main"
            on-browse="$ctrl.onBrowse(file)"
        >&nbsp;</files-listing>
    </div>
    <div ng-if="!$ctrl.ui.fileNav" ng-hide="$ctrl.ui.loading" ng-repeat="hybsim in $ctrl.project.hybridsimulation_set" style="margin-bottom:20px">
        <div class="dropdown dropdown-spacer-sm" id="details-{{hybsim.uuid}}">
            <div class="citation-gray" id="anchor-{{hybsim.uuid}}">
                <tr>
                    <td class="tab-cell">
                        <div>
                            Hybrid Simulation | <strong>{{hybsim.value.title}}</strong> 
                        </div>
                        <div ng-if="!$ctrl.readOnly">
                            <span ng-if="hybsim.value.dois.toString() === ''" class="unpublished-grey">
                                 Unpublished
                             </span>
                             <span ng-if="hybsim.value.dois.toString() !== ''" class="published-green">
                                 Published
                             </span> 
                         </div>
                    </td>
                </tr>
            </div>
            <div class="citation-blue">
                <div class="entity-meta-data" style="line-height: 1.6;">
                    <span ng-if="hybsim.value.dois.toString() === ''">
                        Draft Citation. Authors can be reordered before publication. 
                    </span>
                    <span ng-if="hybsim.value.dois.toString() !== ''">
                        Cite this Data: 
                    </span>
                </div>
                <!-- Refer to publication-citation.template.html to see how projectGen is handled/used -->
                <div ng-if="$ctrl.projectGen === 1" style="padding-bottom: 5px; line-height: 1.6;"> 
                    {{ $ctrl.listAuthors(hybsim.authors) }}
                    ({{ $ctrl.doiList[hybsim.uuid].created | date:'yyyy' }}) "{{ hybsim.value.title }}", in <i>{{ $ctrl.project.value.title }}</i>. DesignSafe-CI.
                    <a href="https://doi.org/{{hybsim.value.dois.toString()}}">https://doi.org/{{hybsim.value.dois.toString()}}</a>
                </div>
                <div ng-if="$ctrl.projectGen > 1" style="padding-bottom: 5px;  line-height: 1.6;"> 
                    {{ $ctrl.listAuthors(hybsim.authors) }}
                    ({{ $ctrl.doiList[hybsim.uuid].created | date:'yyyy' }}) "{{ hybsim.value.title }}", in <i>{{ $ctrl.project.value.title }}</i>. DesignSafe-CI.
                    <a href="https://doi.org/{{hybsim.value.dois.toString()}}">https://doi.org/{{hybsim.value.dois.toString()}}</a>
                    v{{$ctrl.version}}
                </div>
                <div ng-if="!$ctrl.readOnly" style="padding-bottom: 5px; line-height: 1.6;"> 
                    <ds-author-list format="citation" authors="hybsim.value.authors"></ds-author-list>
                    <span ng-if="hybsim.value.dois.toString() === ''">
                        (Year of Publication) "{{ hybsim.value.title }}", in <i>{{ $ctrl.project.value.title }}</i>. DesignSafe-CI.
                        (DOI)
                    </span>
                    <span ng-if="hybsim.value.dois.toString() !== ''">
                        (Year appears in Published) "{{ hybsim.value.title }}", in <i>{{ $ctrl.project.value.title }}</i>. DesignSafe-CI.
                        <a href="https://doi.org/{{hybsim.value.dois.toString()}}">https://doi.org/{{hybsim.value.dois.toString()}}</a>
                    </span>
                </div>
                
                <div class="entity-meta-data" style="padding-bottom: 5px; padding-top: 5px;">
                    <span ng-if="hybsim.value.dois.toString() !== ''">
                        Download Citation: 
                        <a href="https://data.datacite.org/application/vnd.datacite.datacite+xml/{{hybsim.value.dois.toString()}}">DataCite XML</a> |
                        <a href="https://data.datacite.org/application/x-research-info-systems/{{hybsim.value.dois.toString()}}">RIS</a> |
                        <a href="https://data.datacite.org/application/x-bibtex/{{hybsim.value.dois.toString()}}">BibTeX</a>
                    </span>
                    <span ng-if="hybsim.value.dois.toString() === ''">
                        Download Citation: <span style="color:#9f9f9f"> DataCite XML | RIS | BibTeX</span>
                    </span>
                </div>
                <div style="padding-bottom: 5px;"> 
                    <span ng-if="$ctrl.readOnly">
                        <span style="background-color: #ECE4BF;">
                            {{ $ctrl.cumDoiMetrics[hybsim.value.dois].fileDownloads || 0 }} Downloads
                        </span>
                        &nbsp;&nbsp;
                        <span style="background-color: #ECE4BF;">        
                            {{ $ctrl.cumDoiMetrics[hybsim.value.dois].filePreviews || 0}} Views
                        </span>
                        &nbsp;&nbsp;
                        <span style="background-color: #ECE4BF;">        
                            {{ $ctrl.citationCounts[hybsim.value.dois] || 0}} Citations
                        </span>
                        &nbsp;&nbsp;
                        <span>
                            <a ng-click="$ctrl.entityMetrics(hybsim.doi, 'Hybrid Simulation')">
                                <strong>Details</strong>
                            </a>
                        </span>
                    </span>
                </div>
            </div> 
            <button ng-init="toggle = true" ng-click="$ctrl.logEntity(hybsim, 'hybsimsList'); toggle = !toggle" class="btn-view tab-gray collapsed" data-toggle="collapse" data-target="#data-{{hybsim.uuid}}" style="width:100%;">
                <table style="width:100%" id="anchor-{{ hybsim.uuid }}">
                    <tr>
                        <td style="text-align: center;">  
                            <span class="curation-chevron">{{toggle ? ' View Data' : ' Hide Data'}}</span>
                        </td>
                    </tr>
                </table>
            </button>
            <div id="data-{{hybsim.uuid}}" class="collapse dropdown-spacer-lg">
                <div class="well">
                    <!-- Tombstone Banner -->
                    <div class="alert alert-warning flex-container" ng-if="$ctrl.publication.tombstone.includes(hybsim.uuid)">
                        <i role="none" class="fa fa-warning notification-icon"></i>
                        <div>
                            <strong>The following Dataset does not exist anymore</strong><br>
                            The Dataset with DOI:
                            <a href="https://doi.org/{{hybsim.value.dois[0]}}">https://doi.org/{{hybsim.value.dois[0]}}</a>
                            was incomplete and removed. The metadata is still available.
                        </div>
                    </div>
                    <div class="entity-meta-field">
                        <div class="entity-meta-label">Simulation Type</div>
                        <span ng-if="!$ctrl.isValid(hybsim.value.simulationTypeOther)" class="entity-meta-data-cap">
                            {{ hybsim.value.simulationType.replace('_', ' ') }}
                        </span>
                        <span ng-if="$ctrl.isValid(hybsim.value.simulationTypeOther)" class="entity-meta-data-cap">
                            {{ hybsim.value.simulationTypeOther }}
                        </span>
                    </div>
                    <div class="entity-meta-field">
                        <div class="entity-meta-label-multi">Author(s)</div>
                        <div class="entity-meta-data">
                            <span ng-if="$ctrl.readOnly">
                                <span ng-repeat="author in $ctrl.sortAuthors(hybsim.authors) | filter: { authorship: true }">
                                    <a href="#" ng-click="$ctrl.showAuthor(author)">{{ author.lname }}, {{ author.fname }}</a><span ng-if="!$last">;</span>
                                </span>
                            </span>
                            <span ng-if="!$ctrl.readOnly">
                                <ds-author-list authors="hybsim.value.authors"></ds-author-list>
                            </span>
                        </div>
                    </div>
                    <div class="entity-meta-field" ng-if="hybsim.value.relatedWork.length">
                        <div class="entity-meta-label-multi">Related Work</div>
                        <div class="entity-meta-data">
                            <div ng-repeat="work in hybsim.value.relatedWork track by $index">
                                <related-work></related-work>
                            </div>
                        </div>
                    </div>
                    <div class="entity-meta-field" ng-if="hybsim.value.referencedData.length">
                        <div class="entity-meta-label-multi">Referenced Data and Software</div>
                        <div class="entity-meta-data">
                            <div ng-repeat="reference in hybsim.value.referencedData track by $index">
                                <referenced-data></referenced-data>
                            </div>
                        </div>
                    </div>
                    <div class="entity-meta-field">
                        <div class="entity-meta-label">Date of Publication</div>
                        <div class="entity-meta-data" ng-if="!$ctrl.readOnly && hybsim.value.dois.toString() === ''">
                            <span>(Appears when published)</span>
                        </div>
                        <div class="entity-meta-data" ng-if="!$ctrl.readOnly && hybsim.value.dois.toString() !== ''">
                            <span>(Appears in Published)</span>
                        </div>
                        <div class="entity-meta-data" ng-if="$ctrl.readOnly && hybsim.value.dois.toString() !== ''">
                            <span>{{ $ctrl.doiList[hybsim.uuid].created | date:'MM-dd-yyyy' }}</span>
                        </div>
                    </div>
                    <div class="entity-meta-field">
                        <div class="entity-meta-label">
                            DOI
                        </div>
                        <span class="entity-meta-data" data-ng-if="!$ctrl.readOnly && hybsim.value.dois.toString() === ''">
                            (Appears when published)
                        </span>
                        <span class="entity-meta-data" data-ng-if="$ctrl.readOnly || hybsim.value.dois.toString() !== ''">
                            {{ hybsim.value.dois.toString() }}
                        </span>
                    </div>
                    <div class="entity-meta-field">
                        <div class="entity-meta-label-multi" ng-if="(!$ctrl.readOnly && mission.value.dois.toString() === '') || $ctrl.readOnly">License(s)</div>
                        <div class="entity-meta-data" ng-if="!$ctrl.readOnly && hybsim.value.dois.toString() === ''">
                            <span>(Appears when published)</span>
                        </div>
                        <div class="entity-meta-data" ng-if="$ctrl.readOnly">
                            <strong>
                                <div class="license-element">
                                    <span ng-class="$ctrl.ui.licenseType"></span>
                                    &nbsp;{{$ctrl.ui.license}}
                                </div>
                            </strong>
                        </div>
                        <p>
                            <br>{{ hybsim.value.description }}
                        </p>
                    </div>
                    <div>
                        <!-- Hybrid Reports -->
                        <div ng-repeat="report in $ctrl.project.report_set | orderBy: 'value.title'"
                            ng-if="$ctrl.matchingGroup(hybsim, report)"
                        >
                            <div class="dropdown dropdown-spacer-sm" id="details-{{report.uuid}}">
                                <button ng-click="$ctrl.logEntity(report, 'reportsList')" class="btn collapsed tab-gray" data-toggle="collapse" data-target="#files-{{report.uuid}}-{{hybsim.uuid}}" style="width:100%;">
                                    <div class="collapse-tab">
                                        <span class="collapse-tab-content-left">Report | <strong>{{report.value.title}}</strong></span>
                                        <span class="collapse-tab-content-right curation-chevron"></span>
                                    </div>
                                </button>
                                <div id="files-{{report.uuid}}-{{hybsim.uuid}}" class="collapse">
                                    <div class="well" ng-if="report.value.description">
                                        <p>{{ report.value.description }}</p>
                                    </div>
                                    <div ng-if="!$ctrl.publication.tombstone.includes(hybsim.uuid)">
                                        <files-listing show-select="true"
                                                       show-tags="true"
                                                       published="true"
                                                       on-scroll="$ctrl.scrollToBottom()"
                                                       listing="$ctrl.FileListingService.listings[report.uuid]"
                                                       on-browse="$ctrl.onBrowse(file)">&nbsp;
                                        </files-listing>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Models -->
                        <div ng-repeat="model in $ctrl.project.globalmodel_set | orderBy: 'value.title'"
                            ng-if="$ctrl.matchingGroup(hybsim, model)"
                        >
                            <div class="dropdown dropdown-spacer-sm" id="details-{{model.uuid}}">
                                <button class="btn collapsed tab-blue" data-toggle="collapse" data-target="#files-{{model.uuid}}-{{hybsim.uuid}}"
                                    style="width:100%;">
                                    <div class="collapse-tab">
                                        <span class="collapse-tab-content-left">Global Model | <strong>{{model.value.title}}</strong></span>
                                        <span class="collapse-tab-content-right curation-chevron"></span>
                                    </div>
                                </button>
                                <div id="files-{{model.uuid}}-{{hybsim.uuid}}" class="collapse">
                                    <div class="well" ng-if="model.value.description">
                                        <p>{{ model.value.description }}</p>
                                    </div>
                                    <div ng-if="!$ctrl.publication.tombstone.includes(hybsim.uuid)">
                                        <files-listing show-select="true"
                                                       show-tags="true"
                                                       published="true"
                                                       on-scroll="$ctrl.scrollToBottom()"
                                                       listing="$ctrl.FileListingService.listings[model.uuid]"
                                                       on-browse="$ctrl.onBrowse(file)">&nbsp;
                                        </files-listing>
                                    </div>
                                </div>
                            </div>
                            <!-- Coordinator -->
                            <div ng-repeat="coordinator in $ctrl.project.coordinator_set | orderBy: 'value.title'"
                                ng-if="$ctrl.matchingGroup(hybsim, coordinator) && $ctrl.matchingGroup(model, coordinator)"
                            >
                                <div class="dropdown dropdown-spacer-sm"
                                    id="details-{{coordinator.uuid}}"
                                    style="margin-left: 10px"
                                >
                                    <table>
                                        <tr>
                                            <td style="padding-right: 10px;" valign="top">
                                                <span style="font-size: 20px; color: #1568C9">
                                                    <i role="none" class="fa fa-level-up fa-rotate-90"></i>
                                                </span>
                                            </td>
                                            <td style="width: 100%;">
                                                <button class="btn collapsed tab-teal dropdown-spacer-sm" data-toggle="collapse" data-target="#files-{{coordinator.uuid}}-{{model.uuid}}-{{hybsim.uuid}}"
                                                style="width:100%;">
                                                <div class="collapse-tab">
                                                    <span class="collapse-tab-content-left">Coordinator | <strong>{{coordinator.value.title}}</strong></span>
                                                    <span class="collapse-tab-content-right curation-chevron"></span>
                                                </div>
                                            </button>
                                            <div id="files-{{coordinator.uuid}}-{{model.uuid}}-{{hybsim.uuid}}" class="collapse">
                                                <div class="well" ng-if="coordinator.value.description">
                                                    <p>{{ coordinator.value.description }}</p>
                                                </div>
                                                <div ng-if="!$ctrl.publication.tombstone.includes(hybsim.uuid)">
                                                    <files-listing show-select="true"
                                                                   show-tags="true"
                                                                   published="true"
                                                                   on-scroll="$ctrl.scrollToBottom()"
                                                                   listing="$ctrl.FileListingService.listings[coordinator.uuid]"
                                                                   on-browse="$ctrl.onBrowse(file)">&nbsp;
                                                    </files-listing>
                                                </div>
                                            </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- Coordinator Output -->
                                    <div ng-repeat="cout in $ctrl.project.coordinatoroutput_set | orderBy: 'value.title'"
                                        ng-if="$ctrl.matchingGroup(hybsim, cout) && $ctrl.matchingGroup(model, cout) && $ctrl.matchingGroup(coordinator, cout)"
                                    >
                                        <div class="dropdown dropdown-spacer-sm"
                                            id="details-{{cout.uuid}}"
                                            style="margin-left: 30px"
                                        >
                                            <table>
                                                <tr>
                                                    <td style="padding-right: 10px" valign="top">
                                                        <span style="font-size: 20px; color: #43A59D">
                                                            <i role="none" class="fa fa-level-up fa-rotate-90"></i>
                                                        </span>
                                                    </td>
                                                    <td style="width: 100%;">
                                                        <button class="btn collapsed tab-yellow" data-toggle="collapse" data-target="#files-{{cout.uuid}}-{{coordinator.uuid}}-{{model.uuid}}-{{hybsim.uuid}}" style="width:100%;">
                                                            <div class="collapse-tab">
                                                                <span class="collapse-tab-content-left">Coordinator Output | <strong>{{cout.value.title}}</strong></span>
                                                                <span class="collapse-tab-content-right curation-chevron"></span>
                                                            </div>
                                                        </button>
                                                        <div id="files-{{cout.uuid}}-{{coordinator.uuid}}-{{model.uuid}}-{{hybsim.uuid}}" class="collapse">
                                                            <div class="well" ng-if="cout.value.description">
                                                                <p>{{ cout.value.description }}</p>
                                                            </div>
                                                            <div ng-if="!$ctrl.publication.tombstone.includes(hybsim.uuid)">
                                                                <files-listing show-select="true"
                                                                               show-tags="true"
                                                                               published="true"
                                                                               on-scroll="$ctrl.scrollToBottom()"
                                                                               listing="$ctrl.FileListingService.listings[cout.uuid]"
                                                                               on-browse="$ctrl.onBrowse(file)">&nbsp;
                                                                </files-listing>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- Coordinator Output -->
                                    <!-- Simulation Substructure -->
                                    <div ng-repeat="simsub in $ctrl.project.simsubstructure_set | orderBy: 'value.title'"
                                        ng-if="$ctrl.matchingGroup(hybsim, simsub) && $ctrl.matchingGroup(model, simsub)"
                                    >
                                        <div class="dropdown"
                                            id="details-{{simsub.uuid}}"
                                            style="margin-left: 30px"
                                        >
                                            <table>
                                                <tr>
                                                    <td style="padding-right: 10px;" valign="top">
                                                        <span style="font-size: 20px; color: #43A59D">
                                                            <i role="none" class="fa fa-level-up fa-rotate-90"></i>
                                                        </span>
                                                    </td>
                                                    <td style="width: 100%;">
                                                        <button class="btn collapsed tab-orange dropdown-spacer-sm"
                                                                data-toggle="collapse"
                                                                data-target="#files-{{simsub.uuid}}-{{coordinator.uuid}}-{{model.uuid}}-{{hybsim.uuid}}"
                                                                style="width:100%;"
                                                        >
                                                            <div class="collapse-tab">
                                                                <span class="collapse-tab-content-left">Simulation Substructure | <strong>{{simsub.value.title}}</strong></span>
                                                                <span class="collapse-tab-content-right curation-chevron"></span>
                                                            </div>
                                                        </button>
                                                        <div id="files-{{simsub.uuid}}-{{coordinator.uuid}}-{{model.uuid}}-{{hybsim.uuid}}" class="collapse">
                                                            <div class="well" ng-if="simsub.value.description">
                                                                <p>{{ simsub.value.description }}</p>
                                                            </div>
                                                            <div ng-if="!$ctrl.publication.tombstone.includes(hybsim.uuid)">
                                                                <files-listing show-select="true"
                                                                               show-tags="true"
                                                                               published="true"
                                                                               on-scroll="$ctrl.scrollToBottom()"
                                                                               listing="$ctrl.FileListingService.listings[simsub.uuid]"
                                                                               on-browse="$ctrl.onBrowse(file)">&nbsp;
                                                                </files-listing>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- Simulation Output -->
                                            <div ng-repeat="sout in $ctrl.project.simoutput_set | orderBy: 'value.title'"
                                                ng-if="$ctrl.matchingGroup(hybsim, sout) &&
                                                        $ctrl.matchingGroup(model, sout) &&
                                                        $ctrl.matchingGroup(coordinator, sout) &&
                                                        $ctrl.matchingGroup(simsub, sout)"
                                            >
                                                <div class="dropdown"
                                                    id="details-{{sout.uuid}}"
                                                    style="margin-left: 30px"
                                                >
                                                    <table>
                                                        <tr>
                                                            <td style="padding-right: 10px;" valign="top">
                                                                <span style="font-size: 20px; color: #BD5717">
                                                                    <i role="none" class="fa fa-level-up fa-rotate-90"></i>
                                                                </span>
                                                            </td>
                                                            <td style="width: 100%;">
                                                                <button class="btn collapsed tab-yellow dropdown-spacer-sm"
                                                                        data-toggle="collapse"
                                                                        data-target="#files-{{sout.uuid}}-{{simsub.uuid}}-{{coordinator.uuid}}-{{model.uuid}}-{{hybsim.uuid}}"
                                                                        style="width:100%;"
                                                                >
                                                                    <div class="collapse-tab">
                                                                        <span class="collapse-tab-content-left">Simulation Output | <strong>{{sout.value.title}}</strong></span>
                                                                        <span class="collapse-tab-content-right curation-chevron"></span>
                                                                    </div>
                                                                </button>
                                                                <div id="files-{{sout.uuid}}-{{simsub.uuid}}-{{coordinator.uuid}}-{{model.uuid}}-{{hybsim.uuid}}" class="collapse">
                                                                    <div class="well" ng-if="sout.value.description">
                                                                        <p>{{ sout.value.description }}</p>
                                                                    </div>
                                                                    <div ng-if="!$ctrl.publication.tombstone.includes(hybsim.uuid)">
                                                                        <files-listing show-select="true"
                                                                                       show-tags="true"
                                                                                       published="true"
                                                                                       on-scroll="$ctrl.scrollToBottom()"
                                                                                       listing="$ctrl.FileListingService.listings[sout.uuid]"
                                                                                       on-browse="$ctrl.onBrowse(file)">&nbsp;
                                                                        </files-listing>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- Simulation Output -->
                                        </div>
                                    </div>
                                    <!-- Simulation Substructure -->
                                    <!-- Experimental Substructure -->
                                    <div ng-repeat="expsub in $ctrl.project.expsubstructure_set | orderBy: 'value.title'"
                                        ng-if="$ctrl.matchingGroup(hybsim, expsub) && $ctrl.matchingGroup(model, expsub)"
                                    >
                                        <div class="dropdown dropdown-spacer-sm"
                                            id="details-{{expsub.uuid}}"
                                            style="margin-left: 30px"
                                        >
                                            <table>
                                                <tr>
                                                    <td style="padding-right: 10px;" valign="top">
                                                        <span style="font-size: 20px; color: #43A59D">
                                                            <i role="none" class="fa fa-level-up fa-rotate-90"></i>
                                                        </span>
                                                    </td>
                                                    <td style="width: 100%;">
                                                        <button class="btn collapsed tab-purple dropdown-spacer-sm"
                                                                data-toggle="collapse"
                                                                data-target="#files-{{expsub.uuid}}-{{coordinator.uuid}}-{{model.uuid}}-{{hybsim.uuid}}"
                                                                style="width:100%;"
                                                        >
                                                            <div class="collapse-tab">
                                                                <span class="collapse-tab-content-left">Experimental Substructure | <strong>{{expsub.value.title}}</strong></span>
                                                                <span class="collapse-tab-content-right curation-chevron"></span>
                                                            </div>
                                                        </button>
                                                        <div id="files-{{expsub.uuid}}-{{coordinator.uuid}}-{{model.uuid}}-{{hybsim.uuid}}" class="collapse">
                                                            <div class="well" ng-if="expsub.value.description">
                                                                <p>{{ expsub.value.description }}</p>
                                                            </div>
                                                            <div ng-if="!$ctrl.publication.tombstone.includes(hybsim.uuid)">
                                                                <files-listing show-select="true"
                                                                               show-tags="true"
                                                                               published="true"
                                                                               on-scroll="$ctrl.scrollToBottom()"
                                                                               listing="$ctrl.FileListingService.listings[expsub.uuid]"
                                                                               on-browse="$ctrl.onBrowse(file)">&nbsp;
                                                                </files-listing>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- Experiment Output -->
                                            <div ng-repeat="eout in $ctrl.project.expoutput_set | orderBy: 'value.title'"
                                                ng-if="$ctrl.matchingGroup(hybsim, eout) &&
                                                        $ctrl.matchingGroup(model, eout) &&
                                                        $ctrl.matchingGroup(coordinator, eout)&&
                                                        $ctrl.matchingGroup(expsub, eout)"
                                            >
                                                <div class="dropdown dropdown-spacer-sm"
                                                    id="details-{{eout.uuid}}"
                                                    style="margin-left: 30px"
                                                >
                                                    <table>
                                                        <tr>
                                                            <td style="padding-right: 10px;" valign="top">
                                                                <span style="font-size: 20px; color: #4B3181">
                                                                    <i role="none" class="fa fa-level-up fa-rotate-90"></i>
                                                                </span>
                                                            </td>
                                                            <td style="width: 100%;">
                                                                <button class="btn collapsed tab-yellow"
                                                                        data-toggle="collapse"
                                                                        data-target="#files-{{eout.uuid}}-{{expsub.uuid}}-{{coordinator.uuid}}-{{model.uuid}}-{{hybsim.uuid}}"
                                                                        style="width:100%;"
                                                                >
                                                                    <div class="collapse-tab">
                                                                        <span class="collapse-tab-content-left">Experimental Output | <strong>{{eout.value.title}}</strong></span>
                                                                        <span class="collapse-tab-content-right curation-chevron"></span>
                                                                    </div>
                                                                </button>
                                                                <div id="files-{{eout.uuid}}-{{expsub.uuid}}-{{coordinator.uuid}}-{{model.uuid}}-{{hybsim.uuid}}" class="collapse">
                                                                    <div class="well" ng-if="eout.value.description">
                                                                        <p>{{ eout.value.description }}</p>
                                                                    </div>
                                                                    <div ng-if="!$ctrl.publication.tombstone.includes(hybsim.uuid)">
                                                                        <files-listing show-select="true"
                                                                                       show-tags="true"
                                                                                       published="true"
                                                                                       on-scroll="$ctrl.scrollToBottom()"
                                                                                       listing="$ctrl.FileListingService.listings[eout.uuid]"
                                                                                       on-browse="$ctrl.onBrowse(file)">&nbsp;
                                                                        </files-listing>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Experimental Output -->
                                    </div>
                                    <!-- Experimental Substructure -->
                                </div>
                            </div>
                            <!-- Coordinator -->
                        </div>
                        <!-- Models -->
                        <!-- Analysis -->
                        <div ng-repeat="analysis in $ctrl.project.analysis_set | orderBy: 'value.title'"
                            ng-if="$ctrl.matchingGroup(hybsim, analysis)"
                        >
                            <div class="dropdown dropdown-spacer-sm" id="details-{{analysis.uuid}}">
                                <button class="btn collapsed tab-light-blue" data-toggle="collapse" data-target="#files-{{analysis.uuid}}-{{hybsim.uuid}}"
                                    style="width:100%;">
                                    <div class="collapse-tab">
                                        <span class="collapse-tab-content-left">Analysis | <strong>{{analysis.value.title}}</strong></span>
                                        <span class="collapse-tab-content-right curation-chevron"></span>
                                    </div>
                                </button>
                                <div id="files-{{analysis.uuid}}-{{hybsim.uuid}}" class="collapse">
                                    <div class="well" ng-if="analysis.value.refs && analysis.value.description">
                                        <table class="tg" style="table-layout: fixed; width: 100%;">
                                            <colgroup>
                                                <col style="width: 15%">
                                                <col style="width: 84%">
                                            </colgroup>
                                            <tr ng-repeat="ref in analysis.value.refs">
                                                <td class="tg-0lax" ng-if="$first">Referenced Work</td>
                                                <td class="tg-0lax" ng-if="!$first"></td>
                                                <td class="tg-0lax"><strong><a href="{{ ref.referencedoi }}" rel="noopener noreferrer" target=”_blank”>{{ ref.reference }}</a></strong></td>
                                            </tr>
                                        </table>
                                        <p ng-if="analysis.value.description">{{ analysis.value.description }}</p>
                                    </div>
                                    <div ng-if="!$ctrl.publication.tombstone.includes(hybsim.uuid)">
                                        <files-listing show-select="true"
                                                       show-tags="true"
                                                       published="true"
                                                       on-scroll="$ctrl.scrollToBottom()"
                                                       listing="$ctrl.FileListingService.listings[analysis.uuid]"
                                                       on-browse="$ctrl.onBrowse(file)">&nbsp;
                                        </files-listing>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
