<div class="modal-header" style="background: #e6e6e6;">
    <h4 class="modal-title" style="border:none;">
        <span>Delete</span>
        <span class="pull-right" ng-click="$ctrl.cancel()">
            <i role="none" class="fa fa-times"></i>
        </span>
    </h4>
</div>
<div class="modal-body" style="text-align: center; padding: 30px;">
    <div style="padding-bottom: 20px;">
        {{$ctrl.message}}
    </div>
    <button class="btn btn-sm btn-add" style="width: 30%; margin-right: 10px;" ng-click="$ctrl.delete()">Yes</button>
    <button class="btn btn-sm btn-danger" style="width: 30%; margin-left: 10px;" ng-click="$ctrl.cancel()">No</button>
</div>
