<div class="files-listing">
    <div
        class="table-responsive ds-table-display-wrapper"
        ds-infinite-scroll
        data-scroll-bottom="$ctrl.scrollToBottom()"
        data-scroll-top="scrollToTop()"
        data-bottom-height="0"
    >
        <table class="table table-striped">
            <thead>
                <th>Project Name</th>
                <th>Project ID</th>
            </thead>
            <tbody>
                <tr data-ng-repeat="project in $ctrl.listing.projects">
                    <td>
                        <button ng-if="$ctrl.requestKey"
                                    type="button"
                                    class="btn btn-xs btn-info"
                                    ng-click="$ctrl.chooseFile(project)">Select</button>
                        <a
                            ng-click="$ctrl.onBrowse({project})"
                            class="btn btn-xs btn-link"
                            ds-data-draggable
                            data-ds-data="agave://project-{{project.uuid}}"
                        >
                            <i class="fa fa-folder"></i>
                            <span>{{project.value.projectId}}</span>
                        </a>
                    </td>
                    <td>{{project.value.title}}</td>
                </tr>
                <tr ng-if="$ctrl.listing.loading"><td colspan="3"><p class="lead"><i class="fa fa-spin fa-circle-o-notch"></i> Loading files...</p></td></tr>
                <tr ng-if="$ctrl.listing.loadingScroll">
                    <td>
                            <span class="bg-info text-info">
                            <i class="fa fa-spinner fa-spin"></i> Loading...
                            </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
