<script type="text/ng-template" id="itemTmpl.html">
    <a href>
        <span ng-bind-html="match.label.last_name | uibTypeaheadHighlight:query"></span>,
        <span ng-bind-html="match.label.first_name | uibTypeaheadHighlight:query"></span> :  
        ( <span ng-bind-html="match.label.email | uibTypeaheadHighlight:query"></span> )
    </a>
</script>
<div class="modal-header" style="background: #e6e6e6;">
    <h4 class="modal-title" style="border:none;">
        <span>Amend Project</span>
        <span class="pull-right" ng-click="$ctrl.close()">
            <i class="fa fa-times"></i>
        </span>
    </h4>
</div>
<div class="modal-body" style="padding: 30px;">
    <div ng-if="$ctrl.ui.loading">
        <h3 class="text-center">
            <i class="fa fa-spinner fa-spin"></i> Loading...
        </h3>
    </div>
    <form name="projForm" autocomplete="off" ng-if="!$ctrl.ui.loading">
        <!-- Amend Project Section -->
        <div>
            <!-- Natural Hazard Type -->
            <div class="form-group" style="width:100%;">
                <label for="id-nh-event-type">
                    <div>
                        <span class="pull-left">Natural Hazard Type(s)</span>
                        <span class="label label-danger" style="margin-left: 5px">Required</span>
                    </div>
                    <div style="font-weight:normal; display:inline-block;">
                        Specify the natural hazard being researched.
                    </div>
                </label>
                <div ng-repeat="nhType in $ctrl.form.nhTypes track by $index">
                    <select class="form-control"
                            id="id-nh-event-type"
                            style="margin-bottom: 5px;"
                            ng-options="item for item in $ctrl.naturalHazardTypes"
                            ng-model="$ctrl.form.nhTypes[$index]"
                            ng-required="$first"
                            ng-if="!$ctrl.isOther($ctrl.form.nhTypes[$index], $ctrl.naturalHazardTypes)">
                        <option value="">-- Select Natural Hazard Type --</option>
                    </select>
                    <div ng-if="$ctrl.isOther($ctrl.form.nhTypes[$index], $ctrl.naturalHazardTypes)">
                        <input type="text"
                            ng-model="$ctrl.form.nhTypes[$index]"
                            class="form-control"
                        />
                    </div>
                </div>
                <button class="btn-project-add-rm"
                        ng-click="$ctrl.addField($ctrl.form.nhTypes)">
                        &#x2b; Add another Natural Hazard Type
                </button>
                |
                <button class="btn-project-add-rm"
                        ng-click="$ctrl.dropField($ctrl.form.nhTypes)"
                        ng-disabled="$ctrl.checkEmpty($ctrl.form.nhTypes)">
                        &#x2212; Remove Natural Hazard Type
                </button>
            </div>
            <!-- Project Other Data Types -->
            <div class="form-group" style="width:100%; display:inline-block;" ng-if="$ctrl.form.projectType === 'other'">
                <label class="label-form">
                    <div>
                        <span class="label-form-name">Data Type</span>
                        <span class="label label-danger">Required</span>
                    </div>
                    <span class="label-form-desc">
                        The nature or genre of the content.
                    </span>
                </label>
                <div>
                    <select ng-options="type as type for type in $ctrl.otherTypes"
                            ng-model="$ctrl.form.dataType"
                            ng-if="!$ctrl.isOther($ctrl.form.dataType, $ctrl.otherTypes)"
                            required
                    >
                        <option value="" disabled selected>--Data Type--</option>
                    </select>
                    <input type="text"
                           class="project-form-input"
                           ng-model="$ctrl.form.dataType"
                           ng-if="$ctrl.isOther($ctrl.form.dataType, $ctrl.otherTypes)"
                           required
                    />
                </div>
            </div>
            <!-- Project Awards -->
            <div class="form-group" style="width:100%; display:inline-block;">
                <table class="tg" style="table-layout: fixed; width: 100%;">
                    <colgroup>
                        <col style="width: 70%">
                        <col style="width: 28%">
                    </colgroup>
                    <tr>
                        <label for="id-project-awards">
                            <div class="label-form">
                                <div>
                                    <span class="label-form-name">Award Info</span>
                                </div>
                                <span class="label-form-desc">
                                    Recommended for funded projects.
                                </span>
                            </div>
                        </label>
                    </tr>
                    <tr>
                        <td class="tg-0lax">
                            Award Name
                        </td>
                        <td class="tg-0lax">
                            Award Number
                        </td>
                    </tr>
                    <tr ng-repeat="award in $ctrl.form.awardNumber | orderBy:'order' track by $index">
                        <td class="tg-0lax">
                            <input  class="project-form-input"
                                    type="text"
                                    id="id_awardName"
                                    name="awardName"
                                    style="width:94%;"
                                    ng-model="award.name">
                        </td>
                        <td class="tg-0lax">
                            <input  class="project-form-input"
                                    type="text"
                                    id="id_awardNumber"
                                    name="awardNumber"
                                    style="width:100%;"
                                    ng-model="award.number">
                        </td>
                    </tr>
                </table>
                <div>
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.addAwardField($ctrl.form.awardNumber)">
                            &#x2b; Add another Award
                    </button>
                    |
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.dropField($ctrl.form.awardNumber, true)"
                            ng-disabled="$ctrl.checkEmpty($ctrl.form.awardNumber)">
                            &#x2212; Remove Award
                    </button>
                </div>
            </div>
            <!-- Related Works -->
            <div class="form-group" style="width:100%; display:inline-block;">
                <table class="tg" style="table-layout: fixed; width: 100%;">
                    <colgroup>
                        <col style="width: 48%">
                        <col style="width: 50%">
                    </colgroup>
                    <tr>
                        <label for="id-project-works">
                            <div class="label-form">
                                <div>
                                    <span class="label-form-name">Related Work</span>
                                </div>
                                <span class="label-form-desc">
                                    Other projects, publications, or datasets related to this project.
                                </span>
                            </div>
                        </label>
                    </tr>
                    <tr>
                        <td class="tg-0lax">
                            Title
                        </td>
                        <td class="tg-0lax" valign="top">
                            Related Work DOI or URL
                        </td>
                    </tr>
                    <tr ng-repeat="work in $ctrl.form.associatedProjects | orderBy:'order' track by $index">
                        <td class="tg-0lax">
                            <input  class="project-form-input"
                                    type="text"
                                    id="id_workTitle"
                                    name="workTitle"
                                    style="width:94%;"
                                    ng-model="work.title">
                        </td>
                        <td class="tg-0lax">
                            <input  class="project-form-input"
                                    type="text"
                                    id="id_workHref"
                                    name="workHref"
                                    style="width:100%;"
                                    ng-model="work.href">
                        </td>
                    </tr>
                </table>
                <div>
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.addWorkField($ctrl.form.associatedProjects)">
                            &#x2b; Add another Related Work
                    </button>
                    |
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.dropField($ctrl.form.associatedProjects, true)"
                            ng-disabled="$ctrl.checkEmpty($ctrl.form.associatedProjects)">
                            &#x2212; Remove Related Work
                    </button>
                </div>
            </div>
            <!-- FR Fields -->
            <div ng-if="$ctrl.form.projectType === 'field_recon'">
                <div style="width: 100%;">
                    <!-- Event -->
                    <div style="width:45%; display:inline-block;" class="pull-left form-group">
                        <label for="id-nh-event">
                            <span class="pull-left">Event</span>
                            <span class="label label-danger" style="margin-left: 5px">Required</span>
                            <br>
                            <span style="font-weight:normal;">
                                Name given to the natural hazard event (ex. Hurricane Katrina).
                            </span>
                        </label>
                        <input class="project-form-input"
                                type="text"
                                id="id-nh-event"
                                name="nh-event"
                                style="width:100%"
                                ng-model="$ctrl.form.nhEvent"
                                ng-required="true"/>
                    </div>
                    <!-- Event Dates -->
                    <div style="width:50%;" class="form-group">
                        <label for="id-nh-event-date">
                            <span class="pull-left">Event Date(s)</span>
                            <span class="label label-danger" style="margin-left: 5px">Required</span>
                            <br>
                            <span style="font-weight:normal;">
                                If you only want to enter a single date, fill in the first field.
                            </span>
                        </label>
                        <div style="display:flex;">
                            <input  class="form-control"
                                    type="date"
                                    ng-model="$ctrl.form.nhEventStart"
                                    ng-required="true">
                            <span style="padding:6px;">&#8213;</span>
                            <input  class="form-control"
                                    type="date"
                                    ng-model="$ctrl.form.nhEventEnd"
                                    ng-required="false">
                        </div>
                    </div>
                </div>
                <!-- Event Location -->
                <div class="form-group">
                    <label for="id-location">
                        <div class="label-form">
                            <div>
                                <span class="label-form-name pull-left">Event Location</span>
                                <span class="label label-danger">Required</span>
                            </div>
                        </div>
                    </label>
                    <div>
                        <div style="width: 55%; display:inline-block;">
                            <label for="id-location" class="label-secondary">
                                Location
                            </label>
                            <input type="text"
                                    id="id-location"
                                    ng-model="$ctrl.form.nhLocation"
                                    ng-required="true"
                                    class="form-control"/>
                        </div>
                        <div style="width: 21%; display:inline-block; margin-left:5px;">
                            <label for="id-location" class="label-secondary">
                                Latitude
                            </label>
                            <input type="text"
                                    id="id-latitude"
                                    ng-model="$ctrl.form.nhLatitude"
                                    ng-required="true"
                                    class="form-control"/>
                        </div>
                        <div style="width: 21%; display:inline-block; margin-left:5px;">
                            <label for="id-location" class="label-secondary">
                                Longitude
                            </label>
                            <input type="text"
                                    id="id-longitude"
                                    ng-model="$ctrl.form.nhLongitude"
                                    ng-required="true"
                                    class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Keywords -->
            <div class="form-group" style="width:100%; display:inline-block;">
                <label for="id-project-keywords">
                    <div class="label-form">
                        <div>
                            <span class="label-form-name">Keywords</span>
                            <span class="label label-danger">Required</span>
                        </div>
                        <span class="label-form-desc">
                            Choose informative words that indicate the content of the project.
                        </span>
                    </div>
                </label>
                <div>
                    <input  class="project-form-input"
                            type="text"
                            style="width:100%;"
                            id="id_keywords"
                            ng-model="$ctrl.form.keywords"
                            ng-required="$ctrl.project && $ctrl.ui.hasType"><br>
                </div>
            </div>
            <!-- Project Description -->
            <div class="form-group" style="width:100%; display:inline-block;">
                <label for="id-project-description">
                    <div class="label-form">
                        <div>
                            <span class="label-form-name">Project Description</span>
                            <span class="label label-danger">Required</span>
                        </div>
                        <span class="label-form-desc">
                            Make sure this is understandable to a wider audience.
                            Answer questions such as what, how, and why. Define all acronyms.
                        </span>
                    </div>
                </label>
                <div>
                    <textarea type="text"
                              class="form-textbox"
                              id="id_description"
                              ng-model="$ctrl.form.description"
                    >
                    </textarea>
                </div>
            </div>
        </div>
        <!-- update, save, and help buttons -->
        <div class="form-group">
            <table class="tg" style="table-layout: fixed; width: 100%; margin-top:20px;">
                <colgroup>
                    <col style="width: 48%">
                    <col style="width: 50%">
                </colgroup>
                <tr style="height: 40px;">
                    <td class="tg-0lax" valign="center">
                    </td>
                    <td class="tg-0lax" valign="center" style="text-align: right;">
                        <div ng-if="!$ctrl.ui.loading">
                            <button class="btn btn-add"
                                    type="submit"
                                    ng-click="projForm.$valid && $ctrl.update($event)"
                            >
                                Save Changes
                            </button>
                        </div>
                        <div>
                            <span ng-if="$ctrl.ui.loading">
                                <i class="fa fa-spinner fa-spin"></i>
                                Saving project...
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
