<script type="text/ng-template" id="itemTmpl.html">
    <a href>
        <span ng-bind-html="match.label.last_name | uibTypeaheadHighlight:query"></span>,
        <span ng-bind-html="match.label.first_name | uibTypeaheadHighlight:query"></span> :  
        ( <span ng-bind-html="match.label.email | uibTypeaheadHighlight:query"></span> )
    </a>
</script>
<div class="modal-header manage-prj-header">
    <h4 class="modal-title">
        <span ng-if="!$ctrl.project">Add New Project</span>
        <span ng-if="$ctrl.project">Edit Project</span>
        <span class="pull-right" ng-click="$ctrl.close()">
            <i class="fa fa-times"></i>
        </span>
    </h4>
</div>
<div class="modal-body" style="padding: 30px;">
    <div ng-if="$ctrl.ui.loading">
        <h3 class="text-center">
            <i class="fa fa-spinner fa-spin"></i> Loading...
        </h3>
    </div>
    <form name="projForm" autocomplete="off" ng-if="!$ctrl.ui.loading">
        <input autocomplete="false" name="hidden" type="text" style="display:none;">
        <fieldset ng-disabled="$ctrl.ui.submitting">
            <!-- Project Title -->
            <div class="form-group">
                <label for="id-project-title">
                    <div class="label-form">
                        <div>
                            <span class="label-form-name">Project Title</span>
                            <span class="label label-danger">Required</span>
                        </div>
                        <span class="label-form-desc">
                            Incorporate the project's focus with words indicating the
                            hazard, model, system, and research approach. Define all acronyms.
                        </span>
                    </div>
                </label>
                <input  class="project-form-input"
                        type="text"
                        id="id_title"
                        name="title"
                        ng-model="$ctrl.form.title"
                        ng-required="true">
            </div>
            <!-- Project Type -->
            <div class="form-group" ng-if="$ctrl.project">
                <label for="id-project-type">
                    <div class="label-form">
                        <div>
                            <span class="label-form-name">Project Type</span>
                            <span class="label label-danger">Required</span>
                        </div>
                    </div>
                </label>
                <table class="manage-prj-types">
                    <colgroup>
                        <col style="width: 16.5%">
                        <col style="width: 16.5%">
                    </colgroup>
                    <tr>
                        <table ng-if="$ctrl.form.projectType === 'experimental'">
                            <tr>
                                <td class="manage-prj-td">
                                    <span class="curation-experiment manage-prj-types-icon"></span>
                                </td>
                                <td>
                                    <strong>Experimental Project</strong>
                                    <div>
                                        For physical work, typically done at an experimental facility or in the field.
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table ng-if="$ctrl.form.projectType === 'simulation'">
                            <tr>
                                <td class="manage-prj-td">
                                    <span class="curation-simulation manage-prj-types-icon"></span>
                                </td>
                                <td>
                                    <strong>Simulation Project</strong>
                                    <div>
                                        For numerical and/or analytical work, done with software.
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table ng-if="$ctrl.form.projectType === 'hybrid_simulation'">
                            <tr>
                                <td class="manage-prj-td">
                                    <span class="curation-hybrid manage-prj-types-icon"></span>
                                </td>
                                <td>
                                    <strong>Hybrid Simulation Project</strong>
                                    <div>
                                        For work using both physical and numerical components.
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table ng-if="$ctrl.form.projectType === 'field_recon'">
                            <tr>
                                <td class="manage-prj-td">
                                    <span class="curation-recon manage-prj-types-icon"></span>
                                </td>
                                <td>
                                    <strong>Field Research Project</strong>
                                    <div>
                                        For work done in areas affected by natural hazards.
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table ng-if="$ctrl.form.projectType === 'other'">
                            <tr>
                                <td class="manage-prj-td">
                                    <span class="curation-other manage-prj-types-icon"></span>
                                </td>
                                <td>
                                    <strong>Other Project</strong>
                                    <div>
                                        For work that is not an experiment, simulation, or observation.
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table ng-if="$ctrl.form.projectType === 'None'">
                            <tr>
                                <td class="manage-prj-td">
                                    <span class="curation-close-window manage-prj-types-icon"></span>
                                </td>
                                <td>
                                    <strong>None</strong>
                                    <div>
                                        You have not selected a project type.
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </tr>
                </table>
                <!-- check end of pipeline to disable anchor -->
                <button class="btn-project-add-rm"
                        ng-if="$ctrl.ui.editType"
                        ng-click="$ctrl.changeProjectType($ctrl.ui.hasType)"
                >
                    Change Project Type
                </button>
            </div>
            <!-- Field Research Type -->
            <div class="form-group"
                style="width:100%;"
                ng-if="$ctrl.project && $ctrl.form.projectType === 'field_recon'"
            >
                <label for="id-nh-event-type">
                    <div>
                        <span class="pull-left">Field Research Type</span>
                        <span class="label label-danger" style="margin-left: 5px">Required</span>
                    </div>
                    <div style="font-weight:normal; display:inline-block;">
                        Specify the Field Research being researched.
                    </div>
                </label>
                <div ng-repeat="frType in $ctrl.form.frTypes track by $index">
                    <select class="form-control"
                            id="id-fr-type"
                            style="margin-bottom: 5px;"
                            ng-options="item for item in $ctrl.fieldResearchTypes"
                            ng-model="$ctrl.form.frTypes[$index]"
                            ng-required="$first">
                        <option value="">-- Select Field Research Type --</option>
                    </select>
                </div>
                <button class="btn-project-add-rm"
                        ng-click="$ctrl.addField($ctrl.form.frTypes)">
                        &#x2b; Add another Field Research Type
                </button>
                |
                <button class="btn-project-add-rm"
                        ng-click="$ctrl.form.frTypes.pop()"
                        ng-disabled="$ctrl.checkEmpty($ctrl.form.frTypes)">
                        &#x2212; Remove Field Research Type
                </button>
            </div>
            <!-- Natural Hazard Type -->
            <div class="form-group" style="width:100%;" ng-if="$ctrl.project && $ctrl.ui.hasType">
                <label for="id-nh-event-type">
                    <div>
                        <span class="pull-left">Natural Hazard Type(s)</span>
                        <span class="label label-danger" style="margin-left: 5px">Required</span>
                    </div>
                    <div style="font-weight:normal; display:inline-block;">
                        Specify the natural hazard being researched.
                    </div>
                </label>
                <div ng-repeat="nhType in $ctrl.form.nhTypes track by $index">
                    <select class="form-control"
                            id="id-nh-event-type"
                            style="margin-bottom: 5px;"
                            ng-options="item for item in $ctrl.naturalHazardTypes"
                            ng-model="$ctrl.form.nhTypes[$index]"
                            ng-required="$first"
                            ng-if="!$ctrl.isOther($ctrl.form.nhTypes[$index], $ctrl.naturalHazardTypes)">
                        <option value="">-- Select Natural Hazard Type --</option>
                    </select>
                    <div ng-if="$ctrl.isOther($ctrl.form.nhTypes[$index], $ctrl.naturalHazardTypes)">
                        <input type="text"
                            ng-model="$ctrl.form.nhTypes[$index]"
                            class="form-control"
                        />
                    </div>
                </div>
                <button class="btn-project-add-rm"
                        ng-click="$ctrl.addField($ctrl.form.nhTypes)">
                        &#x2b; Add another Natural Hazard Type
                </button>
                |
                <button class="btn-project-add-rm"
                        ng-click="$ctrl.dropField($ctrl.form.nhTypes)"
                        ng-disabled="$ctrl.checkEmpty($ctrl.form.nhTypes)">
                        &#x2212; Remove Natural Hazard Type
                </button>
            </div>
            <!-- Add user Errors -->
            <div class="form-group" ng-if="$ctrl.ui.invalidUserError">
                <div class="alert alert-danger flex-container">
                    <i class="fa fa-exclamation notification-icon"></i>
                    <div>
                        The name: <strong>{{$ctrl.ui.invalidUser}}</strong> could not be found.
                        Please make sure that you select each user from the dropdown listing
                        of your search results.
                    </div>
                </div>
            </div>
            <!-- PI and Co-PI -->
            <div class="form-group">
                <table class="manage-prj-table">
                    <colgroup>
                        <col style="width: 60%">
                        <col style="width: 40%">
                    </colgroup>
                    <tr>
                        <label for="id-project-pis">
                            <div class="label-form">
                                <div>
                                    <span class="label-form-name">Principal Investigators (PI)</span>
                                    <span class="label label-danger">Required</span>
                                </div>
                                <span class="label-form-desc">
                                    These users can view, edit, curate, and publish. Include Co-PI(s).
                                </span>
                            </div>
                        </label>
                    </tr>
                    <tr>
                        <td class="manage-prj-td">
                            <input  class="project-form-input"
                                    type="text"
                                    id="id_pi"
                                    name="pi"
                                    ng-model="$ctrl.form.pi"
                                    placeholder="Lookup user by name or email address"
                                    uib-typeahead="user for user in $ctrl.searchUsers($viewValue)"
                                    typeahead-loading="searching"
                                    typeahead-no-results="noResults"
                                    typeahead-input-formatter="$ctrl.formatSelection($ctrl.form.pi)"
                                    typeahead-template-url="itemTmpl.html"
                                    ng-required="true"
                            >
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr ng-repeat="(i, coPi) in $ctrl.form.coPis track by $index">
                        <td class="manage-prj-td">
                            <!-- ng-style="{'float': $even ? 'right' : 'none'}" -->
                            <input  class="project-form-input"
                                    type="text"
                                    id="copi{{$index}}"
                                    name="copi"
                                    placeholder="Lookup user by name or email address"
                                    uib-typeahead="user for user in $ctrl.searchUsers($viewValue)"
                                    typeahead-loading="searching"
                                    typeahead-input-formatter="$ctrl.formatSelection(coPi)"
                                    typeahead-template-url="itemTmpl.html"
                                    ng-model="$ctrl.form.coPis[i]"
                                    ng-disabled="!$ctrl.ui.require.coPis"
                                    ng-required="$ctrl.ui.require.coPis"
                                    required
                            >
                        </td>
                        <td class="manage-prj-td-last">
                            <button class="btn btn-danger btn-xs"
                                    ng-if="$ctrl.ui.require.coPis"
                                    ng-click="$ctrl.dropUserField('coPis', $index)">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                </table>
                <div>
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.addUserField('coPis')">
                            &#x2b; Add another PI
                    </button>
                    |
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.dropUserField('coPis')"
                            ng-disabled="!$ctrl.ui.require.coPis">
                            &#x2212; Remove PI
                    </button>
                </div>
            </div>
            <!-- Project Members -->
            <div class="form-group">
                <table class="manage-prj-table">
                    <colgroup>
                        <col style="width: 60%">
                        <col style="width: 40%">
                    </colgroup>
                    <tr>
                        <label for="id-project-pis">
                            <div class="label-form">
                                <div>
                                    <span class="label-form-name">Project Members</span>
                                </div>
                                <span class="label-form-desc">
                                    These users can view, edit, curate, and publish.
                                </span>
                            </div>
                        </label>
                    </tr>
                    <tr ng-repeat="(i, member) in $ctrl.form.teamMembers track by $index">
                        <td class="manage-prj-td">
                            <input  class="project-form-input"
                                    type="text"
                                    id="member{{$index}}"
                                    name="member"
                                    placeholder="Lookup user by name or email address"
                                    uib-typeahead="user for user in $ctrl.searchUsers($viewValue)"
                                    typeahead-loading="searching"
                                    typeahead-input-formatter="$ctrl.formatSelection(member)"
                                    typeahead-template-url="itemTmpl.html"
                                    ng-model="$ctrl.form.teamMembers[i]"
                                    ng-disabled="!$ctrl.ui.require.teamMembers"
                                    ng-required="$ctrl.ui.require.teamMembers"
                                    required
                            >
                        </td>
                        <td class="manage-prj-td-last">
                            <button class="btn btn-danger btn-xs"
                                    ng-if="$ctrl.ui.require.teamMembers"
                                    ng-click="$ctrl.dropUserField('teamMembers', $index)">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                </table>
                <div>
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.addUserField('teamMembers')">
                            &#x2b; Add <span ng-if="$ctrl.ui.require.teamMembers">another</span>
                            Project Member
                    </button>
                    |
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.dropUserField('teamMembers')"
                            ng-disabled="!$ctrl.ui.require.teamMembers">
                            &#x2212; Remove Project Member
                    </button>
                </div>
            </div>
            <div class="expAuthorsAssign form-group" ng-if="$ctrl.project && $ctrl.ui.hasType">
                <label for="id-project-guest">
                    <div class="label-form">
                        <div>
                            <span class="label-form-name">Unregistered Members</span>
                        </div>
                        <span class="label-form-desc">
                                Add members without a DesignSafe account. These names
                                can be selected as authors during the publication process.
                        </span>
                    </div>
                </label>
                <table class="manage-prj-table">
                    <colgroup>
                        <col span="3" style="width: 20%">
                        <col style="width: 38%">
                        <col style="width: 2%">
                    </colgroup>
                    <tr>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Email</td>
                        <td>Institution</td>
                    </tr>
                    <tr ng-repeat="usr in $ctrl.form.guestMembers track by $index">
                        <td class="manage-prj-td">
                            <input class="project-form-input"
                                    type="text"
                                    id="guest-fname{{$index}}"
                                    name="guest-fname"
                                    ng-model="usr.fname"
                                    autocomplete="additional-name"
                                    ng-disabled="!$ctrl.ui.require.guestMembers"
                                    ng-required="$ctrl.ui.require.guestMembers"
                                    required>
                        </td>
                        <td class="manage-prj-td">
                            <input class="project-form-input"
                                    type="text"
                                    id="guest-lname{{$index}}"
                                    name="guest-lname"
                                    ng-model="usr.lname"
                                    autocomplete="additional-name"
                                    ng-disabled="!$ctrl.ui.require.guestMembers"
                                    ng-required="$ctrl.ui.require.guestMembers"
                                    required>
                        </td>
                        <td class="manage-prj-td">
                            <input class="project-form-input"
                                    type="email"
                                    id="guest-email{{$index}}"
                                    name="guest-email"
                                    ng-model="usr.email"
                                    autocomplete="email"
                                    ng-disabled="!$ctrl.ui.require.guestMembers"
                                    ng-required="$ctrl.ui.require.guestMembers"
                                    required>
                        </td>
                        <td class="manage-prj-td">
                            <input class="project-form-input"
                                    type="text"
                                    id="guest-inst{{$index}}"
                                    name="guest-inst"
                                    ng-model="usr.inst"
                                    autocomplete="organization"
                                    ng-disabled="!$ctrl.ui.require.guestMembers"
                                    ng-required="$ctrl.ui.require.guestMembers"
                                    required>
                        </td>
                        <td class="manage-prj-td-last">
                            <button class="btn btn-danger btn-xs"
                                    ng-if="$ctrl.ui.require.guestMembers"
                                    ng-click="$ctrl.dropObjField('guestMembers', $index)">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                </table>
                <button class="btn-project-add-rm"
                        ng-click="$ctrl.addObjField('guestMembers')">
                        &#x2b; Add <span ng-if="$ctrl.ui.require.guestMembers">another</span>
                        Unregistered Project Member
                </button>
                |
                <button class="btn-project-add-rm"
                        ng-click="$ctrl.dropObjField('guestMembers')"
                        ng-disabled="!$ctrl.ui.require.guestMembers">
                        &#x2212; Remove Unregistered Project Member
                </button>
            </div>
            <!-- Edit Project Section -->
            <div ng-if="$ctrl.project && $ctrl.ui.hasType">
                <!-- Project Other Data Types -->
                <div class="form-group" ng-if="$ctrl.form.projectType === 'other'">
                    <label class="label-form">
                        <div>
                            <span class="label-form-name">Data Type</span>
                            <span class="label label-danger">Required</span>
                        </div>
                        <span class="label-form-desc">
                            The nature or genre of the content.
                        </span>
                    </label>
                    <div>
                        <select ng-options="type as type for type in $ctrl.otherTypes"
                                ng-model="$ctrl.form.dataType"
                                ng-if="!$ctrl.isOther($ctrl.form.dataType, $ctrl.otherTypes)"
                                required
                        >
                            <option value="" disabled selected>--Data Type--</option>
                        </select>
                        <input type="text"
                            class="project-form-input"
                            ng-model="$ctrl.form.dataType"
                            ng-if="$ctrl.isOther($ctrl.form.dataType, $ctrl.otherTypes)"
                            required
                        />
                    </div>
                </div>
                <!-- Project Awards -->
                <div class="form-group">
                    <table class="manage-prj-table">
                        <colgroup>
                            <col style="width: 60%">
                            <col style="width: 38%">
                            <col style="width: 2%">
                        </colgroup>
                        <tr>
                            <label for="id-project-awards">
                                <div class="label-form">
                                    <div>
                                        <span class="label-form-name">Award Info</span>
                                    </div>
                                    <span class="label-form-desc">
                                        Recommended for funded projects.
                                    </span>
                                </div>
                            </label>
                        </tr>
                        <tr>
                            <td>
                                Award Name
                            </td>
                            <td>
                                Award Number
                            </td>
                        </tr>
                        <tr ng-repeat="award in $ctrl.form.awardNumber track by $index">
                            <td class="manage-prj-td">
                                <input  class="project-form-input"
                                        type="text"
                                        id="award-name{{$index}}"
                                        name="award-name"
                                        ng-model="award.name"
                                        ng-disabled="!$ctrl.ui.require.awardNumber"
                                        ng-required="$ctrl.ui.require.awardNumber"
                                        required>
                            </td>
                            <td class="manage-prj-td">
                                <input  class="project-form-input"
                                        type="text"
                                        id="award-number{{$index}}"
                                        name="award-number"
                                        ng-model="award.number"
                                        ng-disabled="!$ctrl.ui.require.awardNumber"
                                        ng-required="$ctrl.ui.require.awardNumber"
                                        required>
                            </td>
                            <td class="manage-prj-td-last">
                                <button class="btn btn-danger btn-xs"
                                        ng-if="$ctrl.ui.require.awardNumber"
                                        ng-click="$ctrl.dropObjField('awardNumber', $index)">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <button class="btn-project-add-rm"
                                ng-click="$ctrl.addObjField('awardNumber')">
                                &#x2b; Add <span ng-if="$ctrl.ui.require.awardNumber">another</span> Award
                        </button>
                        |
                        <button class="btn-project-add-rm"
                                ng-click="$ctrl.dropObjField('awardNumber')"
                                ng-disabled="!$ctrl.ui.require.awardNumber">
                                &#x2212; Remove Award
                        </button>
                    </div>
                </div>
                <!-- Project Referenced Data -->
                <div class="form-group" ng-if="$ctrl.form.projectType === 'other'">
                    <table class="manage-prj-table">
                        <colgroup>
                            <col style="width: 60%">
                            <col style="width: 38%">
                            <col style="width: 2%">
                        </colgroup>
                        <tr>
                            <label for="id-project-referenced-data">
                                <div class="label-form">
                                    <div>
                                        <span class="label-form-name">Referenced Data</span>
                                    </div>
                                    <span class="label-form-desc">
                                        Citations for data used in this project.
                                    </span>
                                </div>
                            </label>
                        </tr>
                        <tr>
                            <td>
                                Title
                            </td>
                            <td>
                                DOI
                            </td>
                        </tr>
                        <tr ng-repeat="reference in $ctrl.form.referencedData track by $index">
                            <td class="manage-prj-td">
                                <input  class="project-form-input"
                                        type="text"
                                        id="reference-name{{$index}}"
                                        name="reference-name"
                                        ng-model="reference.title"
                                        ng-disabled="!$ctrl.ui.require.referencedData"
                                        ng-required="$ctrl.ui.require.referencedData"
                                        required>
                            </td>
                            <td class="manage-prj-td">
                                <input  class="project-form-input"
                                        type="text"
                                        id="reference-number{{$index}}"
                                        name="reference-number"
                                        ng-model="reference.doi"
                                        ng-disabled="!$ctrl.ui.require.referencedData"
                                        ng-required="$ctrl.ui.require.referencedData"
                                        required>
                            </td>
                            <td class="manage-prj-td-last">
                                <button class="btn btn-danger btn-xs"
                                        ng-if="$ctrl.ui.require.referencedData"
                                        ng-click="$ctrl.dropObjField('referencedData', $index)">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <button class="btn-project-add-rm"
                                ng-click="$ctrl.addObjField('referencedData')">
                                &#x2b; Add <span ng-if="$ctrl.ui.require.referencedData">another</span> Reference
                        </button>
                        |
                        <button class="btn-project-add-rm"
                                ng-click="$ctrl.dropObjField('referencedData')"
                                ng-disabled="!$ctrl.ui.require.referencedData">
                                &#x2212; Remove Reference
                        </button>
                    </div>
                </div>
                <!-- Related Works -->
                <div class="form-group" ng-if="$ctrl.form.projectType === 'other'">
                    <table class="manage-prj-table">
                        <colgroup>
                            <col style="width: 20%">
                            <col style="width: 40%">
                            <col style="width: 38%">
                            <col style="width: 2%">
                        </colgroup>
                        <tr>
                            <label for="id-project-works">
                                <div class="label-form">
                                    <div>
                                        <span class="label-form-name">Related Work</span>
                                    </div>
                                    <span class="label-form-desc">
                                        Data from published projects or an external repository.
                                    </span>
                                </div>
                            </label>
                        </tr>
                        <tr>
                            <td>
                                Type
                            </td>
                            <td>
                                Title
                            </td>
                            <td valign="top">
                                URL or DOI for the reference data, in URL format
                            </td>
                        </tr>
                        <tr ng-repeat="work in $ctrl.form.associatedProjects track by $index">
                            <td class="manage-prj-td align-top">
                                <select class="project-form-input"
                                        id="work-type{{$index}}"
                                        name="related-work"
                                        ng-options="item for item in $ctrl.relatedWorkTypes"
                                        ng-model="work.type"
                                        ng-disabled="!$ctrl.ui.require.associatedProjects"
                                        ng-required="$ctrl.ui.require.associatedProjects">
                                        <option value="">-- Type --</option>
                                </select>
                            </td>
                            <td class="manage-prj-td align-top">
                                <input  class="project-form-input"
                                        type="text"
                                        id="work-title{{$index}}"
                                        name="related-work"
                                        ng-model="work.title"
                                        ng-disabled="!$ctrl.ui.require.associatedProjects"
                                        ng-required="$ctrl.ui.require.associatedProjects">
                            </td>
                            <td class="manage-prj-td align-top">
                                <input  class="project-form-input"
                                        type="text"
                                        id="work-href{{$index}}"
                                        name="related-work"
                                        ng-model="work.href"
                                        ng-disabled="!$ctrl.ui.require.associatedProjects"
                                        ng-required="$ctrl.ui.require.associatedProjects">
                                <input type="radio"
                                        id="work-href-type-doi{{$index}}"
                                        name="related-work{{$index}}"
                                        value="DOI"
                                        ng-model="work.hrefType"
                                        ng-disabled="!$ctrl.ui.require.associatedProjects"
                                        ng-required="$ctrl.ui.require.associatedProjects">
                                <label for="DOI">DOI</label>
                                <input type="radio"
                                        id="work-href-type-url{{$index}}"
                                        name="related-work{{$index}}"
                                        value="URL"
                                        ng-model="work.hrefType"
                                        ng-disabled="!$ctrl.ui.require.associatedProjects"
                                        ng-required="$ctrl.ui.require.associatedProjects">
                                <label for="URL">URL</label>
                            </td>
                            <td class="manage-prj-td-last">
                                <button class="btn btn-danger btn-xs"
                                        ng-if="$ctrl.ui.require.associatedProjects"
                                        ng-click="$ctrl.dropObjField('associatedProjects', $index)">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <button class="btn-project-add-rm"
                                ng-click="$ctrl.addObjField('associatedProjects')">
                                &#x2b; Add <span ng-if="$ctrl.ui.require.associatedProjects">another</span> Related Work
                        </button>
                        |
                        <button class="btn-project-add-rm"
                                ng-click="$ctrl.dropObjField('associatedProjects')"
                                ng-disabled="!$ctrl.ui.require.associatedProjects">
                                &#x2212; Remove Related Work
                        </button>
                    </div>
                </div>
                <!-- FR Fields -->
                <div ng-if="$ctrl.form.projectType === 'field_recon'">
                    <div style="width: 100%;">
                        <!-- Event -->
                        <div style="width:45%; display:inline-block;" class="pull-left form-group">
                            <label for="id-nh-event">
                                <span class="pull-left">Event</span>
                                <span class="label label-danger" style="margin-left: 5px">Required</span>
                                <br>
                                <span style="font-weight:normal;">
                                    Name given to the natural hazard event (ex. Hurricane Katrina).
                                </span>
                            </label>
                            <input class="project-form-input"
                                    type="text"
                                    id="id-nh-event"
                                    name="nh-event"
                                    ng-model="$ctrl.form.nhEvent"
                                    ng-required="true"/>
                        </div>
                        <!-- Event Dates -->
                        <div style="width:50%;" class="form-group">
                            <label for="id-nh-event-date">
                                <span class="pull-left">Event Date(s)</span>
                                <span class="label label-danger" style="margin-left: 5px">Required</span>
                                <br>
                                <span style="font-weight:normal;">
                                    If you only want to enter a single date, fill in the first field.
                                </span>
                            </label>
                            <div style="display:flex;">
                                <input  class="form-control"
                                        type="date"
                                        ng-model="$ctrl.form.nhEventStart"
                                        ng-required="true">
                                <span style="padding:6px;">&#8213;</span>
                                <input  class="form-control"
                                        type="date"
                                        ng-model="$ctrl.form.nhEventEnd"
                                        ng-required="false">
                            </div>
                        </div>
                    </div>
                    <!-- Event Location -->
                    <div class="form-group">
                        <label for="id-location">
                            <div class="label-form">
                                <div>
                                    <span class="label-form-name pull-left">Event Location</span>
                                    <span class="label label-danger">Required</span>
                                </div>
                            </div>
                        </label>
                        <div>
                            <div style="width: 55%; display:inline-block;">
                                <label for="id-location" class="label-secondary">
                                    Location
                                </label>
                                <input type="text"
                                        id="id-location"
                                        ng-model="$ctrl.form.nhLocation"
                                        ng-required="true"
                                        class="form-control"/>
                            </div>
                            <div style="width: 21%; display:inline-block; margin-left:5px;">
                                <label for="id-location" class="label-secondary">
                                    Latitude
                                </label>
                                <input type="text"
                                        id="id-latitude"
                                        ng-model="$ctrl.form.nhLatitude"
                                        ng-required="true"
                                        class="form-control"/>
                            </div>
                            <div style="width: 21%; display:inline-block; margin-left:5px;">
                                <label for="id-location" class="label-secondary">
                                    Longitude
                                </label>
                                <input type="text"
                                        id="id-longitude"
                                        ng-model="$ctrl.form.nhLongitude"
                                        ng-required="true"
                                        class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Keywords -->
                <div class="form-group">
                    <label for="id-project-keywords">
                        <div class="label-form">
                            <div>
                                <span class="label-form-name">Keywords</span>
                                <span class="label label-danger">Required</span>
                            </div>
                            <span class="label-form-desc">
                                Choose informative words that indicate the content of the project.
                            </span>
                        </div>
                    </label>
                    <div>
                        <input  class="project-form-input"
                                type="text"
                                id="id_keywords"
                                ng-model="$ctrl.form.keywords"
                                ng-required="$ctrl.project && $ctrl.ui.hasType"><br>
                    </div>
                </div>
                <!-- Project Description -->
                <div class="form-group">
                    <label for="id-project-description">
                        <div class="label-form">
                            <div>
                                <span class="label-form-name">Project Description</span>
                                <span class="label label-danger">Required</span>
                            </div>
                            <span class="label-form-desc">
                                What is this project about? How can data in this project be reused?
                                How is this project unique? Who is the audience?
                            </span>
                        </div>
                    </label>
                    <div>
                        <textarea   type="text"
                                    class="form-textbox"
                                    id="id_description"
                                    ng-model="$ctrl.form.description"
                                    ng-required="$ctrl.project && $ctrl.ui.hasType"></textarea>
                    </div>
                </div>
            </div>
            <!-- update, save, and help buttons -->
            <div class="form-group">
                <table class="manage-prj-table">
                    <colgroup>
                        <col style="width: 50%">
                        <col style="width: 50%">
                    </colgroup>
                    <tr style="height: 40px;">
                        <td valign="center">
                        </td>
                        <td valign="center" style="text-align: right;">
                            <button class="btn btn-add"
                                    type="submit"
                                    ng-click="projForm.$valid && $ctrl.create($event)"
                                    ng-if="!$ctrl.project"
                            >
                                <span ng-if="$ctrl.ui.submitting">
                                    <i class="fa fa-spinner fa-spin"></i>
                                    Creating Project...
                                </span>
                                <span ng-if="!$ctrl.ui.submitting">
                                    &#x2b; Add Project
                                </span>
                            </button>
                            <button class="btn btn-add"
                                    type="submit"
                                    ng-click="projForm.$valid && $ctrl.update($event)"
                                    ng-if="$ctrl.project"
                            >
                                <span ng-if="$ctrl.ui.submitting">
                                    <i class="fa fa-spinner fa-spin"></i>
                                    Saving Project...
                                </span>
                                <span ng-if="!$ctrl.ui.submitting">
                                    Update Project
                                </span>
                            </button>
                            <button ng-click="$ctrl.warn(projForm.$error)">
                                TEST
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </fieldset>
    </form>
</div>
