<script type="text/ng-template" id="itemTmpl.html">
    <a href>
        <span ng-bind-html="match.label.last_name | uibTypeaheadHighlight:query"></span>,
        <span ng-bind-html="match.label.first_name | uibTypeaheadHighlight:query"></span> :  
        ( <span ng-bind-html="match.label.email | uibTypeaheadHighlight:query"></span> )
    </a>
</script>
<div class="modal-header" style="background: #e6e6e6;">
    <h4 class="modal-title" style="border:none;">
        <span ng-if="!$ctrl.project">Add New Project</span>
        <span ng-if="$ctrl.project">Edit Project</span>
        <span class="pull-right" ng-click="$ctrl.close()">
            <i class="fa fa-times"></i>
        </span>
    </h4>
</div>
<div class="modal-body" style="padding: 30px;">
    <div ng-if="$ctrl.ui.loading">
        <h3 class="text-center">
            <i class="fa fa-spinner fa-spin"></i> Loading...
        </h3>
    </div>
    <form name="projForm" autocomplete="off" ng-if="!$ctrl.ui.loading">
        <fieldset ng-disabled="$ctrl.ui.submitting">
            <!-- Project Title -->
            <div class="form-group">
                <label for="id-project-title">
                    <div class="label-form">
                        <div>
                            <span class="label-form-name">Project Title</span>
                            <span class="label label-danger">Required</span>
                        </div>
                        <span class="label-form-desc">
                            Incorporate the project's focus with words indicating the
                            hazard, model, system, and research approach. Define all acronyms.
                        </span>
                    </div>
                </label>
                <input  class="project-form-input"
                        type="text"
                        id="id_title"
                        name="title"
                        style="width:100%;"
                        ng-model="$ctrl.form.title"
                        ng-required="true">
            </div>
            <!-- Project Type -->
            <div class="form-group" ng-if="$ctrl.project">
                <label for="id-project-type">
                    <div class="label-form">
                        <div>
                            <span class="label-form-name">Project Type</span>
                            <span class="label label-danger">Required</span>
                        </div>
                    </div>
                </label>
                <table class="tg" style="table-layout: fixed; width: 100%; padding-bottom: 15px;">
                    <colgroup>
                        <col style="width: 16.5%">
                        <col style="width: 16.5%">
                    </colgroup>
                    <tr>
                        <table style="width: 100%;" ng-if="$ctrl.form.projectType === 'experimental'">
                            <tr>
                                <td style="width: 9%;">
                                    <span class="curation-experiment" style="font-size:32px; margin-right:10px; margin-left:10px;"></span>
                                </td>
                                <td style="width: 80%;">
                                    <strong>Experimental Project</strong>
                                    <div>
                                        For physical work, typically done at an experimental facility or in the field.
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%;"  ng-if="$ctrl.form.projectType === 'simulation'">
                            <tr>
                                <td style="width: 9%;">
                                    <span class="curation-simulation" style="font-size:32px; margin-right:10px; margin-left:10px;"></span>
                                </td>
                                <td style="width: 80%;">
                                    <strong>Simulation Project</strong>
                                    <div>
                                        For numerical and/or analytical work, done with software.
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%;"  ng-if="$ctrl.form.projectType === 'hybrid_simulation'">
                            <tr>
                                <td style="width: 9%;">
                                    <span class="curation-hybrid" style="font-size:32px; margin-right:10px; margin-left:10px;"></span>
                                </td>
                                <td style="width: 80%;">
                                    <strong>Hybrid Simulation Project</strong>
                                    <div>
                                        For work using both physical and numerical components.
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%;" ng-if="$ctrl.form.projectType === 'field_recon'">
                            <tr>
                                <td style="width: 9%;">
                                    <span class="curation-recon" style="font-size:32px; margin-right:10px; margin-left:10px;"></span>
                                </td>
                                <td style="width: 80%;">
                                    <strong>Field Research Project</strong>
                                    <div>
                                        For work done in areas affected by natural hazards.
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%;" ng-if="$ctrl.form.projectType === 'other'">
                            <tr>
                                <td style="width: 9%;">
                                    <span class="curation-other" style="font-size:32px; margin-right:10px; margin-left:10px;"></span>
                                </td>
                                <td style="width: 80%;">
                                    <strong>Other Project</strong>
                                    <div>
                                        For work that is not an experiment, simulation, or observation.
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table style="width: 100%;" ng-if="$ctrl.form.projectType === 'None'">
                            <tr>
                                <td style="width: 9%;">
                                    <span class="curation-close-window" style="font-size:32px; margin-right:10px; margin-left:10px;"></span>
                                </td>
                                <td style="width: 80%;">
                                    <strong>None</strong>
                                    <div>
                                        You have not selected a project type.
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </tr>
                </table>
                <!-- check end of pipeline to disable anchor -->
                <button class="btn-project-add-rm"
                        ng-if="$ctrl.ui.editType"
                        ng-click="$ctrl.changeProjectType($ctrl.ui.hasType)"
                >
                    Change Project Type
                </button>
            </div>
            <!-- Field Research Type -->
            <div class="form-group"
                style="width:100%;"
                ng-if="$ctrl.project && $ctrl.form.projectType === 'field_recon'"
            >
                <label for="id-nh-event-type">
                    <div>
                        <span class="pull-left">Field Research Type</span>
                        <span class="label label-danger" style="margin-left: 5px">Required</span>
                    </div>
                    <div style="font-weight:normal; display:inline-block;">
                        Specify the Field Research being researched.
                    </div>
                </label>
                <div ng-repeat="frType in $ctrl.form.frTypes track by $index">
                    <select class="form-control"
                            id="id-fr-type"
                            style="margin-bottom: 5px;"
                            ng-options="item for item in $ctrl.fieldResearchTypes"
                            ng-model="$ctrl.form.frTypes[$index]"
                            ng-required="$first">
                        <option value="">-- Select Field Research Type --</option>
                    </select>
                </div>
                <button class="btn-project-add-rm"
                        ng-click="$ctrl.addField($ctrl.form.frTypes)">
                        &#x2b; Add another Field Research Type
                </button>
                |
                <button class="btn-project-add-rm"
                        ng-click="$ctrl.form.frTypes.pop()"
                        ng-disabled="$ctrl.checkEmpty($ctrl.form.frTypes)">
                        &#x2212; Remove Field Research Type
                </button>
            </div>
            <!-- Natural Hazard Type -->
            <div class="form-group" style="width:100%;" ng-if="$ctrl.project && $ctrl.ui.hasType">
                <label for="id-nh-event-type">
                    <div>
                        <span class="pull-left">Natural Hazard Type(s)</span>
                        <span class="label label-danger" style="margin-left: 5px">Required</span>
                    </div>
                    <div style="font-weight:normal; display:inline-block;">
                        Specify the natural hazard being researched.
                    </div>
                </label>
                <div ng-repeat="nhType in $ctrl.form.nhTypes track by $index">
                    <select class="form-control"
                            id="id-nh-event-type"
                            style="margin-bottom: 5px;"
                            ng-options="item for item in $ctrl.naturalHazardTypes"
                            ng-model="$ctrl.form.nhTypes[$index]"
                            ng-required="$first"
                            ng-if="!$ctrl.isOther($ctrl.form.nhTypes[$index], $ctrl.naturalHazardTypes)">
                        <option value="">-- Select Natural Hazard Type --</option>
                    </select>
                    <div ng-if="$ctrl.isOther($ctrl.form.nhTypes[$index], $ctrl.naturalHazardTypes)">
                        <input type="text"
                            ng-model="$ctrl.form.nhTypes[$index]"
                            class="form-control"
                        />
                    </div>
                </div>
                <button class="btn-project-add-rm"
                        ng-click="$ctrl.addField($ctrl.form.nhTypes)">
                        &#x2b; Add another Natural Hazard Type
                </button>
                |
                <button class="btn-project-add-rm"
                        ng-click="$ctrl.dropField($ctrl.form.nhTypes)"
                        ng-disabled="$ctrl.checkEmpty($ctrl.form.nhTypes)">
                        &#x2212; Remove Natural Hazard Type
                </button>
            </div>
            <!-- Add PI and PRJ Members -->
            <div class="form-group" style="width:100%; display:inline-block;">
                <table class="tg" style="table-layout: fixed; width: 100%;">
                    <colgroup>
                        <col style="width: 48%">
                        <col style="width: 50%">
                    </colgroup>
                    <tr class="tg-0lax">
                        <label for="id-project-pis">
                            <div class="label-form">
                                <div>
                                    <span class="label-form-name">Principal Investigators (PI)</span>
                                    <span class="label label-danger">Required</span>
                                </div>
                                <span class="label-form-desc">
                                    These users can view, edit, curate, and publish. Include Co-PI(s).
                                </span>
                            </div>
                        </label>
                    </tr> 
                    <tr class="tg-0lax">
                        <div style="margin-bottom: 20px;">
                                <input  class="project-form-input project-form-name"
                                        type="text"
                                        id="id_pi"
                                        name="pi"
                                        autocomplete="chrome-off"
                                        ng-model="$ctrl.form.pi"
                                        placeholder="Lookup user by name or email address"
                                        uib-typeahead="user for user in $ctrl.searchUsers($viewValue)"
                                        typeahead-loading="searching"
                                        typeahead-no-results="noResults"
                                        typeahead-input-formatter="$ctrl.formatSelection($ctrl.form.pi)"
                                        typeahead-template-url="itemTmpl.html"
                                        ng-required="true"
                                >
                                <span ng-repeat="(i, usr) in $ctrl.form.coPis track by $index">
                                    <input  class="project-form-input project-form-name"
                                            type="text"
                                            id="id_copi"
                                            name="copi"
                                            autocomplete="chrome-off"
                                            ng-model="$ctrl.form.coPis[i]"
                                            ng-style="{'float': $even ? 'right' : 'none'}"
                                            placeholder="Lookup user by name or email address"
                                            uib-typeahead="user for user in $ctrl.searchUsers($viewValue)"
                                            typeahead-loading="searching"
                                            typeahead-input-formatter="$ctrl.formatSelection(usr)"
                                            typeahead-template-url="itemTmpl.html"
                                    >
                                </span>
                                <div>
                                    <button class="btn-project-add-rm"
                                            ng-click="$ctrl.addField($ctrl.form.coPis)">
                                            &#x2b; Add another PI
                                    </button>
                                    |
                                    <button class="btn-project-add-rm"
                                            ng-click="$ctrl.dropField($ctrl.form.coPis)"
                                            ng-disabled="$ctrl.checkEmpty($ctrl.form.coPis)">
                                            &#x2212; Remove PI
                                    </button>
                                </div>
                        </div>
                    </tr>
                    <tr class="tg-0lax" valign="top">
                        <div style="margin-bottom: 5px;">
                            <strong>Project Members</strong>
                            <div>These users can view, edit, curate, and publish.</div>
                        </div>
                    </tr>
                    <tr class="tg-0lax">
                        <span ng-repeat="(i, usr) in $ctrl.form.teamMembers track by $index">
                            <input  class="project-form-input project-form-name"
                                    type="text"
                                    id="id_user"
                                    name="user"
                                    autocomplete="chrome-off"
                                    ng-style="{'float': $odd ? 'right' : 'none'}"
                                    ng-model="$ctrl.form.teamMembers[i]"
                                    placeholder="Lookup user by name or email address"
                                    uib-typeahead="user for user in $ctrl.searchUsers($viewValue)"
                                    typeahead-loading="searching"
                                    typeahead-input-formatter="$ctrl.formatSelection(usr)"
                                    typeahead-template-url="itemTmpl.html"
                            >
                        </span>
                        <div>
                            <button class="btn-project-add-rm"
                                    ng-click="$ctrl.addField($ctrl.form.teamMembers)">
                                    &#x2b; Add another Project Member
                            </button>
                            |
                            <button class="btn-project-add-rm"
                                    ng-click="$ctrl.dropField($ctrl.form.teamMembers)"
                                    ng-disabled="$ctrl.checkEmpty($ctrl.form.teamMembers)">
                                    &#x2212; Remove Project Member
                            </button>
                        </div>
                    </tr>
                </table>
            </div>
            <div class="expAuthorsAssign form-group" ng-if="$ctrl.project && $ctrl.ui.hasType">
                <label for="id-project-guest">
                    <div class="label-form">
                        <div>
                            <span class="label-form-name">Unregistered Members</span>
                        </div>
                        <span class="label-form-desc">
                                Add members without a DesignSafe account. These names
                                can be selected as authors during the publication process.
                        </span>
                    </div>
                </label>
                <table style="table-layout: fixed; width: 100%;">
                    <colgroup>
                        <col span="3" style="width: 20%">
                    </colgroup>
                    <tr>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Email</td>
                        <td>Institution</td>
                    </tr>
                    <tr ng-repeat="(i, usr) in $ctrl.form.guestMembers track by $index">
                        <td>
                            <input class="project-form-input" style="width: 95%" type="text" name="guestFName" id="id_guest_fname" ng-model="$ctrl.form.guestMembers[i].fname" autocomplete="additional-name">
                        </td>
                        <td>
                            <input class="project-form-input" style="width: 95%" type="text" name="guestLName" id="id_guest_lname" ng-model="$ctrl.form.guestMembers[i].lname" autocomplete="additional-name">
                        </td>
                        <td>
                            <input class="project-form-input" style="width: 95%" type="text" name="guestEmail" id="id_guest_email" ng-model="$ctrl.form.guestMembers[i].email" autocomplete="email">
                        </td>
                        <td>
                            <input class="project-form-input" style="width: 100%" type="text" name="ExpAuthorInst" id="id_guest_inst" ng-model="$ctrl.form.guestMembers[i].inst" autocomplete="organization">
                        </td>
                    </tr>
                </table>
                <button class="btn-project-add-rm"
                        ng-click="$ctrl.addField($ctrl.form.guestMembers)">
                        &#x2b; Add another Unregistered Project Member
                </button>
                |
                <button class="btn-project-add-rm"
                        ng-click="$ctrl.dropField($ctrl.form.guestMembers)"
                        ng-disabled="$ctrl.checkEmpty($ctrl.form.guestMembers)">
                        &#x2212; Remove Unregistered Project Member
                </button>
            </div>
            <!-- Edit Project Section -->
            <div ng-if="$ctrl.project && $ctrl.ui.hasType">
                <!-- Project Other Data Types -->
                <div class="form-group" style="width:100%; display:inline-block;" ng-if="$ctrl.form.projectType === 'other'">
                    <label class="label-form">
                        <div>
                            <span class="label-form-name">Data Type</span>
                            <span class="label label-danger">Required</span>
                        </div>
                        <span class="label-form-desc">
                            The nature or genre of the content.
                        </span>
                    </label>
                    <div>
                        <select ng-options="type as type for type in $ctrl.otherTypes"
                                ng-model="$ctrl.form.dataType"
                                ng-if="!$ctrl.isOther($ctrl.form.dataType, $ctrl.otherTypes)"
                                required
                        >
                            <option value="" disabled selected>--Data Type--</option>
                        </select>
                        <input type="text"
                            class="project-form-input"
                            ng-model="$ctrl.form.dataType"
                            ng-if="$ctrl.isOther($ctrl.form.dataType, $ctrl.otherTypes)"
                            required
                        />
                    </div>
                </div>
                <!-- Project Awards -->
                <div class="form-group" style="width:100%; display:inline-block;">
                    <table class="tg" style="table-layout: fixed; width: 100%;">
                        <colgroup>
                            <col style="width: 70%">
                            <col style="width: 28%">
                        </colgroup>
                        <tr>
                            <label for="id-project-awards">
                                <div class="label-form">
                                    <div>
                                        <span class="label-form-name">Award Info</span>
                                    </div>
                                    <span class="label-form-desc">
                                        Recommended for funded projects.
                                    </span>
                                </div>
                            </label>
                        </tr>
                        <tr>
                            <td class="tg-0lax">
                                Award Name
                            </td>
                            <td class="tg-0lax">
                                Award Number
                            </td>
                        </tr>
                        <tr ng-repeat="award in $ctrl.form.awardNumber | orderBy:'order' track by $index">
                            <td class="tg-0lax">
                                <input  class="project-form-input"
                                        type="text"
                                        id="id_awardName"
                                        name="awardName"
                                        style="width:94%;"
                                        ng-model="award.name">
                            </td>
                            <td class="tg-0lax">
                                <input  class="project-form-input"
                                        type="text"
                                        id="id_awardNumber"
                                        name="awardNumber"
                                        style="width:100%;"
                                        ng-model="award.number">
                            </td>
                        </tr>
                    </table>
                    <div>
                        <button class="btn-project-add-rm"
                                ng-click="$ctrl.addAwardField($ctrl.form.awardNumber)">
                                &#x2b; Add another Award
                        </button>
                        |
                        <button class="btn-project-add-rm"
                                ng-click="$ctrl.dropField($ctrl.form.awardNumber, true)"
                                ng-disabled="$ctrl.checkEmpty($ctrl.form.awardNumber)">
                                &#x2212; Remove Award
                        </button>
                    </div>
                </div>
                <!-- Related Works -->
                <div class="form-group" style="width:100%; display:inline-block;">
                    <table class="tg" style="table-layout: fixed; width: 100%;">
                        <colgroup>
                            <col style="width: 48%">
                            <col style="width: 50%">
                        </colgroup>
                        <tr>
                            <label for="id-project-works">
                                <div class="label-form">
                                    <div>
                                        <span class="label-form-name">Related Work</span>
                                    </div>
                                    <span class="label-form-desc">
                                        Other projects, publications, or datasets related to this project.
                                    </span>
                                </div>
                            </label>
                        </tr>
                        <tr>
                            <td class="tg-0lax">
                                Title
                            </td>
                            <td class="tg-0lax" valign="top">
                                Related Work DOI or URL
                            </td>
                        </tr>
                        <tr ng-repeat="work in $ctrl.form.associatedProjects | orderBy:'order' track by $index">
                            <td class="tg-0lax">
                                <input  class="project-form-input"
                                        type="text"
                                        id="id_workTitle"
                                        name="workTitle"
                                        style="width:94%;"
                                        ng-model="work.title">
                            </td>
                            <td class="tg-0lax">
                                <input  class="project-form-input"
                                        type="text"
                                        id="id_workHref"
                                        name="workHref"
                                        style="width:100%;"
                                        ng-model="work.href">
                            </td>
                        </tr>
                    </table>
                    <div>
                        <button class="btn-project-add-rm"
                                ng-click="$ctrl.addWorkField($ctrl.form.associatedProjects)">
                                &#x2b; Add another Related Work
                        </button>
                        |
                        <button class="btn-project-add-rm"
                                ng-click="$ctrl.dropField($ctrl.form.associatedProjects, true)"
                                ng-disabled="$ctrl.checkEmpty($ctrl.form.associatedProjects)">
                                &#x2212; Remove Related Work
                        </button>
                    </div>
                </div>
                <!-- NH Fields -->
                <div>
                    <div style="width: 100%;">
                        <!-- Event -->
                        <div style="width:45%; display:inline-block;" class="pull-left form-group">
                            <label for="id-nh-event">
                                <span class="pull-left">Event</span>
                                <div ng-if="$ctrl.form.projectType === 'field_recon'">
                                    <span class="label label-danger" style="margin-left: 5px">Required</span>
                                </div>
                                <br>
                                <span style="font-weight:normal;">
                                    Name given to the natural hazard event (ex. Hurricane Katrina).
                                </span>
                            </label>
                            <input class="project-form-input"
                                    type="text"
                                    id="id-nh-event"
                                    name="nh-event"
                                    style="width:100%"
                                    ng-model="$ctrl.form.nhEvent"
                                    ng-required="$ctrl.nhRequired()"/>
                        </div>
                        <!-- Event Dates -->
                        <div style="width:50%;" class="form-group">
                            <label for="id-nh-event-date">
                                <span class="pull-left">Event Date(s)</span>
                                <div ng-if="$ctrl.form.projectType === 'field_recon'">
                                    <span class="label label-danger" style="margin-left: 5px">Required</span>
                                </div>
                                <br>
                                <span style="font-weight:normal;">
                                    If you only want to enter a single date, fill in the first field.
                                </span>
                            </label>
                            <div style="display:flex;">
                                <input  class="form-control"
                                        type="date"
                                        ng-model="$ctrl.form.nhEventStart"
                                        ng-required="$ctrl.nhRequired()">
                                <span style="padding:6px;">&#8213;</span>
                                <input  class="form-control"
                                        type="date"
                                        ng-model="$ctrl.form.nhEventEnd"
                                        ng-required="false">
                            </div>
                        </div>
                    </div>
                    <!-- Event Location -->
                    <div class="form-group">
                        <label for="id-location">
                            <div class="label-form">
                                <div>
                                    <span class="label-form-name pull-left">Event Location</span>
                                    <div ng-if="$ctrl.nhRequired()">
                                        <span class="label label-danger" style="margin-left: 5px">Required</span>
                                    </div>
                                </div>
                            </div>
                        </label>
                        <div>
                            <div style="width: 55%; display:inline-block;">
                                <label for="id-location" class="label-secondary">
                                    Location
                                </label>
                                <input type="text"
                                        id="id-location"
                                        ng-model="$ctrl.form.nhLocation"
                                        ng-required="$ctrl.nhRequired()"
                                        class="form-control"/>
                            </div>
                            <div style="width: 21%; display:inline-block; margin-left:5px;">
                                <label for="id-location" class="label-secondary">
                                    Latitude
                                </label>
                                <input type="text"
                                        id="id-latitude"
                                        ng-model="$ctrl.form.nhLatitude"
                                        ng-required="$ctrl.nhRequired()"
                                        class="form-control"/>
                            </div>
                            <div style="width: 21%; display:inline-block; margin-left:5px;">
                                <label for="id-location" class="label-secondary">
                                    Longitude
                                </label>
                                <input type="text"
                                        id="id-longitude"
                                        ng-model="$ctrl.form.nhLongitude"
                                        ng-required="$ctrl.nhRequired()"
                                        class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Keywords -->
                <div class="form-group" style="width:100%; display:inline-block;">
                    <label for="id-project-keywords">
                        <div class="label-form">
                            <div>
                                <span class="label-form-name">Keywords</span>
                                <span class="label label-danger">Required</span>
                            </div>
                            <span class="label-form-desc">
                                Choose informative words that indicate the content of the project.
                            </span>
                        </div>
                    </label>
                    <div>
                        <input  class="project-form-input"
                                type="text"
                                style="width:100%;"
                                id="id_keywords"
                                ng-model="$ctrl.form.keywords"
                                ng-required="$ctrl.project && $ctrl.ui.hasType"><br>
                    </div>
                </div>
                <!-- Project Description -->
                <div class="form-group" style="width:100%; display:inline-block;">
                    <label for="id-project-description">
                        <div class="label-form">
                            <div>
                                <span class="label-form-name">Project Description</span>
                                <span class="label label-danger">Required</span>
                            </div>
                            <span class="label-form-desc">
                                What is this project about? How can data in this project be reused?
                                How is this project unique? Who is the audience?
                            </span>
                        </div>
                    </label>
                    <div>
                        <textarea   type="text"
                                    class="form-textbox"
                                    id="id_description"
                                    ng-model="$ctrl.form.description"
                                    ng-required="$ctrl.project && $ctrl.ui.hasType"></textarea>
                    </div>
                </div>
            </div>
            <!-- update, save, and help buttons -->
            <div class="form-group">
                <table class="tg" style="table-layout: fixed; width: 100%; margin-top:20px;">
                    <colgroup>
                        <col style="width: 48%">
                        <col style="width: 50%">
                    </colgroup>
                    <tr style="height: 40px;">
                        <td class="tg-0lax" valign="center">
                        </td>
                        <td class="tg-0lax" valign="center" style="text-align: right;">
                            <button class="btn btn-add"
                                    type="submit"
                                    ng-click="projForm.$valid && $ctrl.create($event)"
                                    ng-if="!$ctrl.project"
                            >
                                <span ng-if="$ctrl.ui.submitting">
                                    <i class="fa fa-spinner fa-spin"></i>
                                    Creating Project...
                                </span>
                                <span ng-if="!$ctrl.ui.submitting">
                                    &#x2b; Add Project
                                </span>
                            </button>
                            <button class="btn btn-add"
                                    type="submit"
                                    ng-click="projForm.$valid && $ctrl.update($event)"
                                    ng-if="$ctrl.project"
                            >
                                <span ng-if="$ctrl.ui.submitting">
                                    <i class="fa fa-spinner fa-spin"></i>
                                    Saving Project...
                                </span>
                                <span ng-if="!$ctrl.ui.submitting">
                                    Update Project
                                </span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </fieldset>
    </form>
</div>
