.spinner {
  position: absolute;
  top: 50%;
  width: 100%;
}

.modalContentContainer {
  min-height: 200px;
  max-height: 75vh;
  padding-top: 10px;
  position: relative;
}

.previewContainer {
  position: relative;
  max-height: 50vh;
  min-height: 200px;
  overflow: auto;
}

.previewContainer iframe {
  width: 100%;
  height: 50vh;
  border: 0;
}
.previewContainer video,
.previewContainer img {
  width: 100%;
}

.metadataCollapse {
  background-color: 'black';
}

.metadataCollapse :global(.ant-collapse-content-box) {
  padding: 0px !important;
}
.metadataCollapse :global(.ant-table-thead) {
  display: none;
}

.metadataCollapse :global(.ant-table-tbody) tr:nth-child(odd) td {
  background-color: white;
}
