<div class="clearfix btn-toolbar-ds dd-toolbar">
        <div class="btn-toolbar btn-toolbar-left"
             role="toolbar"
             aria-label="Data Browser Search"
             style="width:160px; float:left; margin-left:15px;"
             ng-if="apiParams.searchState">
        </div>
        <div class="btn-toolbar btn-toolbar-left" role="toolbar" aria-label="Data Browser Toolbar">
            <form class="navbar-form navbar-left" ng-submit="$ctrl.ddSearch()" style="display:flex" 
            ng-hide="['Dropbox', 'Box', 'Google Drive', 'Project View', 'NEES Published'].includes($ctrl.placeholder())">
                <input class="form-control" style="width:240px;" placeholder="Find in {{ $ctrl.placeholder() }}" ng-model="$ctrl.search.queryString">
                <button class="btn btn-default" style="clear: right;"> <i class="fa fa-search"></i> </button>
            </form>
            <div class="btn-toolbar-right">
                <div class="btn-group-data-depot-toolbar btn-group">
                    <button class="btn btn-sm btn-default" title="Rename" ng-click="$ctrl.rename()"
                            ng-disabled="!$ctrl.browser.tests.canRename ||
                                        $ctrl.browser.project.publicationStatus === 'publishing'">
                        <i class="fa fa-pencil"></i><span style="display:block;">Rename</span>
                    </button>
                </div>
                <div class="btn-group-data-depot-toolbar btn-group">
                    <button class="btn btn-sm btn-default" title="Move" ng-click="$ctrl.move()"
                            ng-disabled="!$ctrl.browser.tests.canMove ||
                                        $ctrl.browser.project.publicationStatus === 'publishing'">
                        <i class="fa fa-arrows"></i><span style="display:block;">Move</span>
                    </button>
                    <button class="btn btn-sm btn-default" title="Copy" ng-click="$ctrl.copy()"
                            ng-disabled="!$ctrl.browser.tests.canCopy ||
                                        $ctrl.browser.project.publicationStatus === 'publishing'">
                        <i class="fa fa-copy"></i><span style="display:block;">Copy</span>
                    </button>
                    <button class="btn btn-sm btn-default" title="Preview" ng-click="$ctrl.preview()"
                            ng-disabled="!$ctrl.browser.tests.canPreview ||
                                        $ctrl.browser.project.publicationStatus === 'publishing'">
                        <i class="fa fa-binoculars"></i><span style="display:block;">Preview</span>
                    </button>
                    <!-- <button class="btn btn-sm btn-default" title="Preview Images" ng-click="$ctrl.previewImages()" ng-disabled="!$ctrl.browser.tests.canPreviewImages">
                        <i class="fa fa-photo"></i><span style="display:block;">Preview Images</span>
                    </button> -->
                    <!-- <button class="btn btn-sm btn-default" title="Preview Citation" ng-if="$ctrl.browser.listing.system.startsWith('nees')" ng-click="$ctrl.showCitation()" ng-disabled="!$ctrl.browser.tests.canViewCitation || $ctrl.browser.selected[0].name.includes('NEES')">
                        <i class="fa fa-book" style="color:#5bc0de;"></i><span style="display:block;">Citation</span>
                    </button> -->
                </div>
                <div class="btn-group-data-depot-toolbar btn-group">
        
                    <button class="btn btn-sm btn-default" title="Download" ng-click="$ctrl.download()"
                            ng-disabled="!$ctrl.browser.tests.canDownload">
                        <i class="fa fa-cloud-download"></i><span style="display:block;">Download</span>
                    </button>
                </div>
                <div class="btn-group-data-depot-toolbar btn-group">
                    <button class="btn btn-sm btn-default" title="Move to trash" ng-click="$ctrl.trash()"
                            ng-disabled="!$ctrl.browser.tests.canTrash ||
                                        $ctrl.browser.project.publicationStatus === 'publishing'"
                            ng-if="!$ctrl.browser.tests.canDelete">
                        <i class="fa fa-trash"></i><span style="display:block;">Move to Trash</span>
                    </button>
                    <button class="btn btn-sm btn-danger" title="Delete selected files" ng-click="$ctrl.rm()" ng-disabled="!$ctrl.browser.tests.canDelete" ng-if="$ctrl.browser.tests.canDelete">
                        <i class="fa fa-trash"></i><span style="display:block;">Delete selected files</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

<div class="alert alert-warning" ng-show="['Google Drive', 'Box'].includes($ctrl.placeholder())">
    <p>Please be aware that {{$ctrl.placeholder()}} has data transfer rate limits. For additional information and questions, please refer to the documentation   
        <a href="https://box.dev/en/guides/api-calls/permissions-and-errors/rate-limits/" target="_blank" ng-if="$ctrl.placeholder() === 'Box'">here. </a>
        <a href="https://developers.google.com/admin-sdk/data-transfer/v1/limits" ng-if="$ctrl.placeholder() === 'Google Drive'" target="_blank">here.</a>
    </p>
</div>
