#RabbitMQ env file
#More info: https://hub.docker.com/_/rabbitmq/
#Use this to configure rabbitmq container
#RABBIT_ERLANG_COOKIE=
RABBITMQ_DEFAULT_USER=designsafe
RABBITMQ_DEFAULT_PASS=dev
RABBITMQ_DEFAULT_VHOST=designsafe