<div style="background:white; padding-top: 20px">
    <!-- progression map -->
    <div class="pull-right" style="padding-bottom: 20px;">
        <a ng-click="$ctrl.goWork()">
            <i class="fa fa-times"></i> Exit Prepare to Publish
        </a>
    </div>
    <table class="tg" style="table-layout: fixed; width: 100%; padding-bottom: 15px;">
        <colgroup>
            <col style="width: 16.5%">
            <col style="width: 16.5%">
            <col style="width: 16.5%">
            <col style="width: 16.5%">
            <col style="width: 16.5%">
            <col style="width: 16.5%">
        </colgroup>
        <tr style="text-align: center">
            <td>
                <strong>Selection</strong>
                <div>
                    <i class="fa fa-circle" style="color:#1CB500;"></i>
                </div>
            </td>
            <td>
                <strong>Proofread Project</strong>
                <div>
                    <i class="fa fa-circle" style="color:#1CB500;"></i>
                </div>
            </td>
            <td>
                <strong>Proofread {{$ctrl.placeholder}}</strong>
                <div>
                    <i class="fa fa-circle" style="color:#1CB500;"></i>
                </div>
            </td>
            <td>
                <strong ng-if="$ctrl.projType != 'field_recon'">Proofread Categories</strong>
                <strong ng-if="$ctrl.projType === 'field_recon'">Proofread Collections</strong>
                <div>
                    <i class="fa fa-circle" style="color:#1CB500;"></i>
                </div>
            </td>
            <td>
                <strong>Order Authors</strong>
                <div>
                    <i class="fa fa-circle" style="color:#1CB500;"></i>
                </div>
            </td>
            <td>
                <strong>Licenses</strong>
                <div>
                    <i class="fa fa-circle-thin"></i>
                </div>
            </td>
        </tr>
    </table>
    <br>
    <div>
        <a class="pull-left" ng-click="$ctrl.goCategories()">
            <i class="fa fa-arrow-left"></i> Back to Proofread Categories
        </a>
        <button class="btn btn-add pull-right" ng-click="$ctrl.goLicenses()" ng-disabled="!$ctrl.validAuths || $ctrl.loading">Continue</button>
    </div>
    <!-- progression map -->
    <div style="padding-top: 40px; padding-bottom: 40px;">
        <!-- Error Messages -->
        <div class="alert alert-danger" ng-if="$ctrl.missing.length">
            <p class="lead" style="text-align:center;">Your Project is Incomplete!</p>
            <p>
                Your project has missing data or incomplete requirements. You may have removed or modified a requirement in your project.
                Please review the following fields:
            </p>
            <div ng-repeat="entity in $ctrl.missing">
                <div ng-if="entity.missing.length">
                    In the {{entity.type}} <strong>{{entity.title}}</strong>, the following requirements are missing or incomplete:
                    <li ng-if="entity.missing.length" ng-repeat="err in entity.missing">{{ err }}</li>
                </div>
            </div>
        </div>
        <p>
            <h3 style="text-align: center">Order the Authors of the {{$ctrl.placeholder}}</h3>
            <li>In order to add or remove authors, go back to Proofread {{$ctrl.placeholder}} and click Edit.</li>
            <li>If you need help, attend <a href="/facilities/virtual-office-hours/" target="_blank" aria-describedby="msg-open-new-window">Curation office hours</a> for help with publishing.</li>
        </p>
    </div>
    <div ng-repeat="primEnt in $ctrl.primaryEntities | orderBy: primEnt.value.title" style="margin-bottom: 40px;">
        <!-- Order Authors -->
        <div class="well">
            <div class="prj-head-title" style="padding-bottom:20px">
                {{$ctrl.placeholder}} | <strong>{{ primEnt.value.title }}</strong>
            </div>
            <!-- Success Alert -->
            <div class="alert alert-success text-center" ng-if="$ctrl.savedStatus[primEnt.uuid].saved">
                <h4>Success</h4>
                The author order for this {{$ctrl.placeholder}} has been saved.
            </div>
            <div ng-hide="$ctrl.validAuths">
                Your authors need to be updated. Edit your {{$ctrl.placeholder}} and select which users are authors for the {{$ctrl.placeholder}}.
            </div>
            <div ng-show="$ctrl.loading">
                <h3 class="text-center">
                    <i class="fa fa-spinner fa-spin"></i> Loading...
                </h3>
            </div>
            <!-- Citation Preview -->
            <h5 style="font-family: Helvetica Neue">Citation Preview</h5>
            <div class="well" style="margin-bottom:20px; background-color: white;">
                <div>
                    <ds-author-list format="citation" authors="primEnt.value.authors"></ds-author-list>
                    <span style="background: #f5f5f5;">
                        ({{ $ctrl.curDate }}) “{{ primEnt.value.title }}”, in <i>{{ $ctrl.project.value.title }}</i>. DesignSafe-CI. <a>https://doi.org/10.12345/ABCDEF</a>.
                    </span>
                </div>
            </div>
            <table class="tg" style="table-layout: fixed; width: 100%;" ng-show="$ctrl.validAuths && !$ctrl.loading">
                <tr>
                    <td>
                        <div ng-repeat="author in primEnt.value.authors | orderBy: 'order'">
                            <input type="radio" name="author" format="lname" ng-model="$ctrl.selectedAuthor" ng-value="author"
                                ng-if="author.authorship">
                            <span ng-if="!author.guest">
                                <ds-user    username="author.name"
                                            format="lname"
                                            ng-style="!author.authorship && {'text-decoration':'line-through'}"
                                >
                                    {{ author.name }}
                                </ds-user>
                            </span>
                            <span   ng-if="author.guest"
                                    ng-style="!author.authorship && {'text-decoration':'line-through'}"
                            >
                                {{ author.lname }}, {{ author.fname }}
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-arrow-up fa-lg sort-arrows" ng-click="$ctrl.orderAuthors(true, primEnt)"></i>
                        <i class="fa fa-arrow-down fa-lg sort-arrows" ng-click="$ctrl.orderAuthors(false, primEnt)"></i>
                        <a class="sort-arrows" ng-click="$ctrl.saveAuthors(primEnt)">Save</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-repeat="secEnt in $ctrl.secondaryEntities | orderBy: secEnt.value.title" style="margin-bottom: 40px;">
        <!-- Order Authors -->
        <div class="well">
            <div class="prj-head-title" style="padding-bottom:20px">
                {{$ctrl.placeholderSecondary}} | <strong>{{ secEnt.value.title }}</strong>
            </div>
            <!-- Success Alert -->
            <div class="alert alert-success text-center" ng-if="$ctrl.savedStatus[secEnt.uuid].saved">
                <h4>Success</h4>
                The author order for this {{$ctrl.placeholder}} has been saved.
            </div>
            <div ng-hide="$ctrl.validAuths">
                Your authors need to be updated. Edit your {{$ctrl.placeholder}} and select which users are authors for the {{$ctrl.placeholder}}.
            </div>
            <div ng-show="$ctrl.loading">
                <h3 class="text-center">
                    <i class="fa fa-spinner fa-spin"></i> Loading...
                </h3>
            </div>
            <!-- Citation Preview -->
            <h5 style="font-family: Helvetica Neue">Citation Preview</h5>
            <div class="well" style="margin-bottom:20px; background-color: white;">
                <div>
                    <ds-author-list format="hname" authors="secEnt.value.authors"></ds-author-list>
                    <span style="background: #f5f5f5;">
                        ({{ $ctrl.curDate }}) “{{ secEnt.value.title }}”, in <i>{{ $ctrl.project.value.title }}</i>. DesignSafe-CI. <a>https://doi.org/10.12345/ABCDEF</a>.
                    </span>
                </div>
            </div>
            <table class="tg" style="table-layout: fixed; width: 100%;" ng-show="$ctrl.validAuths && !$ctrl.loading">
                <tr>
                    <td>
                        <div ng-repeat="author in secEnt.value.authors | orderBy: 'order'">
                            <input type="radio" name="author" format="lname" ng-model="$ctrl.selectedAuthor" ng-value="author"
                                ng-if="author.authorship">
                            <span ng-if="!author.guest">
                                <ds-user    username="author.name"
                                            format="lname"
                                            ng-style="!author.authorship && {'text-decoration':'line-through'}"
                                >
                                    {{ author.name }}
                                </ds-user>
                            </span>
                            <span   ng-if="author.guest"
                                    ng-style="!author.authorship && {'text-decoration':'line-through'}"
                            >
                                {{ author.lname }}, {{ author.fname }}
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-arrow-up fa-lg sort-arrows" ng-click="$ctrl.orderAuthors(true, secEnt)"></i>
                        <i class="fa fa-arrow-down fa-lg sort-arrows" ng-click="$ctrl.orderAuthors(false, secEnt)"></i>
                        <a class="sort-arrows" ng-click="$ctrl.saveAuthors(secEnt)">Save</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
