

<div class="row">
  <div class="col-sm-4">
    <div class="dashboard-stat blue">
      <div class="visual">
        <i class="fa fa-rocket"></i>
      </div>
      <div class="details">
        <div class="number"> {{jobs.length}} </div>
        <div class="desc"> Recent Jobs </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-sm-3">
    <div class="dashboard-stat red">
      <div class="visual">
        <i class="fa fa-database"></i>
      </div>
      <div class="details">
        <div class="number"> {{storage_count | bytes}} </div>
        <div class="desc"> Data Stored </div>
      </div>
    </div>
  </div> -->
  <div class="col-sm-4">
    <div class="dashboard-stat purple">
      <div class="visual">
        <i class="fa fa-cogs"></i>
      </div>
      <div class="details">
        <div class="number"> {{apps.length}} </div>
        <div class="desc"> Applications Available </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="dashboard-stat cyan">
      <div class="visual">
        <i class="fa fa-database"></i>
      </div>
      <div class="details">
        <div class="number"> {{usage.total_storage_bytes | bytes}} </div>
        <div class="desc"> Total storage in Designsafe </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading dashboard">
        <h3 class="panel-title">Quick Links</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="/account"> Account Profile </a>
        </li>
        <li class="list-group-item">
          <a href="/data"> Data Depot </a>
        </li>
        <li class="list-group-item">
          <a href="/rw/discovery-workspace"> Workspace </a>
        </li>
        <li class="list-group-item">
          <a href="/learning-center/overview"> Training </a>
        </li>
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading dashboard">
        <h3 class="panel-title">Recent Apps</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="app in recent_apps">
          <a href="/rw/workspace/#/{{app}}"> {{app}} </a>
        </li>
      </ul>
    </div>

  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading dashboard">
        <h3 class="panel-title">My Jobs</h3>
      </div>
      <div ng-show="!jobs.length">
        <h3> No recent jobs! </h3>
      </div>
      <div id="ds_jobs_chart" class="ds-chart"></div>
      <ul class="list-group" ng-show="display_job_details">
        <li class="list-group-item" ng-repeat="job in jobs_details">
          <div class="row">
            <div class="col-md-3">
              <span class="label label-default"> {{job.appId}} </span>
            </div>
            <div class="col-md-6 text-center">
              <a ng-href="{{ job._links.archiveData.href | agave2ds }}"> Link to output </a>
            </div>
            <div class="col-md-3 text-right">
              <span class="label label-info"> {{ job.status }} </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-default">
    <div class="panel-heading dashboard">
      <h3 class="panel-title">Notifications</h3>
    </div>
      <ul class="list-group">
        <li class="list-group-item" ng-show="!notifications.length">
          No new notifications!
        </li>
        <li class="list-group-item" ng-repeat="note in notifications">
          <div class="row">
            <div class="col-md-4">
              <span class="label label-default"> {{note.datetime | date}} </span>
            </div>
            <div class="col-md-8">
              {{note.message}}
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading clearfix dashboard">
        <h3 class="panel-title pull-left">My Tickets</h3>
        <a class="button btn-xs btn-primary pull-right" href="#"> Create New </a>
      </div>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="ticket in my_tickets">
            <a ng-href="/help/tickets/{{ ticket.id }}"> {{ticket.id}} </a> {{ticket.Subject}}
          </li>
        </ul>

        <div ng-show="loading_tickets" class="text-center">
          <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        </div>
    </div>
  </div>
</div>

<div class="row">

</div>
