{% extends "base.html" %}

{% block title %}Google Drive Integration{% endblock %}

{% block content %}
<div class="container">
    <h1>DesignSafe-CI Google Drive Privacy Policy</h1>

    <p class="lead">
        By connecting your Google Drive account to DesignSafe, you consent to giving DesignSafe <strong>read</strong>
        access to your Google Drive account. DesignSafe makes a secure connection to
        your Google Drive account to list your data in the Data Depot, and to copy data to and from the DesignSafe's
        data servers.
    </p>
    <p class="alert alert-warning">
        We request this level of scope access to give you the best user experience,
        allowing you to view and use files from your Google Drive account in experimental
        workflows by copying data from Google Drive to a directory you own in the Data Depot.
    </p>

    <p class="alert alert-info">
        We do not store any personal or identifying information from your Google Drive account, other than an access
        token
        and related file metadata, which is limited to mimeType, name, id, modifiedTime, fileExtension, size, and
        parents.
    </p>
    <!-- <hr> -->
</div>
{% endblock %}