.line-clamped {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }

.line-unclamped {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

th {
  vertical-align: top;
}