<div class="modal-header" style="background-color: #c6c6c6; display: flex; justify-content: space-between;">
    <strong>{{ $ctrl.last }}, {{ $ctrl.first }}</strong>
    <strong ng-click="$ctrl.close()" class="fa fa-times"></strong>
</div>
<div class="modal-body">
    <div data-ng-if="$ctrl.loading">
        <i class="fa fa-spinner fa-spin">&nbsp;</i> Loading ...
    </div>
    <table ng-if="!$ctrl.loading" style="width: 95%">
        <tbody>
            <tr>
                <td style="width: 45%"><p>Name</p></td>
                <td><p style="font-weight: bold">{{ $ctrl.first }} {{ $ctrl.last }}</p></td>
            </tr>
            <tr>
                <td style="width: 45%"><p>Email</p></td>
                <td><p style="font-weight: bold">{{ $ctrl.email }}</p></td>
            </tr>
            <tr>
                <td style="width: 45%"><p>Institution</p></td>
                <td><p style="font-weight: bold">{{ $ctrl.institution }}</p></td>
            </tr>
            <tr ng-if="$ctrl.orcid">
                <td style="width: 45%"><p>ORCID ID</p></td>
                <td><p style="font-weight: bold">{{ $ctrl.orcid }}</p></td>
            </tr>
        </tbody>
    </table>
</div>
