<dd-breadcrumb listing="browser.listing" skip-root="true" custom-root="data.customRoot" on-browse="onBrowse" item-href="resolveBreadcrumbHref"></dd-breadcrumb>
<dd-public-listing ng-if="browser.listing.path==='/' || browser.listing.path==='/$SEARCH'"
            browser="browser"
            on-browse="onBrowse"
            on-select="onSelect"
            on-detail="onDetail"
            on-metadata="onMetadata"
            render-path="renderPath"
            render-name="renderName"
            scroll-to-bottom="scrollToBottom"
            scroll-to-top="scrollToTop">
</dd-public-listing>

<dd-listing ng-if="browser.listing.path !== '/' && browser.listing.path !== '/$SEARCH'"
            browser="browser"
            on-browse="onBrowse"
            on-select="onSelect"
            on-detail="onDetail"
            scroll-to-top="scrollToTop"
            scroll-to-bottom="scrollToBottom">
</dd-listing>
