<dd-breadcrumb listing="$ctrl.browser.listing" skip-root="true" custom-root="$ctrl.data.customRoot" on-browse="$ctrl.onBrowse" item-href="$ctrl.resolveBreadcrumbHref"></dd-breadcrumb>
<dd-publication-listing-component ng-if="$ctrl.browser.listing.path==='/' || $ctrl.browser.listing.path==='/$SEARCH'"
            browser="$ctrl.browser"
            query-string="$ctrl.$stateParams.query_string"
            on-browse="$ctrl.onBrowse"
            on-select="$ctrl.onSelect"
            render-path="$ctrl.renderPath"
            render-name="$ctrl.renderName"
            scroll-to-bottom="$ctrl.scrollToBottom"
            scroll-to-top="$ctrl.scrollToTop">
</dd-publication-listing-component>