.queueTable {
    width: 100%;
    border-collapse: collapse;
    /* table-layout: fixed; */
    margin-top: 0;
  }
  
  /*
  .queueTable th,
  .queueTable td {
    padding: 8px 12px;
    text-align: left;
    vertical-align: middle;
  }
    */
  
  .queueTable th {
      /* padding: 15px 20px; */
      padding-left: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 50px;
      text-align: left;
      vertical-align: middle;
      white-space: nowrap;
      border-bottom: 1px solid #707070;
  }
  
  .queueTable td {
      /* padding: 5px 20px; */
      padding-left: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 50px;
      text-align: left;
      vertical-align: middle;
  }
  
  
  
  
  
  .queueTable tbody tr:nth-child(even) {
      background-color: #F4F4F4; 
  }
    
  .queueTable tbody tr:nth-child(odd) {
      background-color: #ffffff;
  }
  
  .statusBadge {
    display: inline-flex;
    align-items: center;
    padding: 2px 8px;
    font-size: 12px;
    border-radius: 4px;
    color: white;
    text-align: center;
  }
  
  .open {
   background-color: #48A69C; 
  }
  
  .closed {
  background-color: #EB6E6E; 
  }
  
  .queueTable th {
    border-bottom: 1px solid #707070;
  }
  
  
  .queueTable td {
      border-bottom: 1px solid rgba(112, 112, 112, 0.25);
    }
  
  .queueUnavailable {
      padding-top: 20px;
      text-align: center;
  }
  
  