<div class="modal-header">
    <h3 class="modal-title">Upload {{ $ctrl.resolve.directory && $ctrl.directoryUploadSupported ? 'folder' : 'files' }}</h3>
</div>
<div class="modal-body">
    <p ng-if="$ctrl.directory && ! $ctrl.directoryUploadSupported" class="alert alert-warning">
        <i class="fa fa-warning"></i>
        This browser does not support folder upload. You can still upload multiple files.
    </p>
    <p>
        Uploading to <code><i class="fa fa-folder"></i> {{ $ctrl.resolve.path }}</code>:
    </p>
    <form>
        <div class="form-group">
            <label for="id-choose-files">Select {{ $ctrl.resolve.directory && $ctrl.directoryUploadSupported ? 'folder' : 'files' }} (for more than 100 MB or 25 files, please use Globus to upload)</label>
            <input type="file" multiple class="form-control" id="id-choose-files" name="choose-files"
                   ng-disabled="state.uploading || state.retry"
                   ng-attr-directory="{{ $ctrl.resolve.directory && 'true' || undefined }}"
                   ng-attr-webkitdirectory="{{ $ctrl.resolve.directory && 'true' || undefined }}"
                   accessfiles="$ctrl.selectedFiles">
        </div>
        <p ng-if="!$ctrl.uploadInProgress()">{{ $ctrl.uploads|length }} files staged for upload</p>
        <p ng-if="$ctrl.uploadInProgress()">{{ $ctrl.uploads|length }} files uploading</p>
        <div class="form-group" style="max-height:400px;overflow-y:scroll">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="upload in $ctrl.uploads">
                    <div class="row">
                        <div class="col-sm-6 col-xs-9">{{  upload.webkitRelativePath || upload.name }}</div>
                        <div class="col-sm-3 hidden-xs">({{ upload.size|bytes }})</div>
                        <div class="col-sm-3 col-xs-3">
                            <span ng-if="$ctrl.FileOperationService.operations.upload.status[upload.key] === 'pending'" class="text-muted">
                                <i class="fa fa-clock-o"></i> <span class="sr-only">Pending</span>
                                <button ng-click="$ctrl.removeUpload($index)" class="btn btn-default btn-xs">Remove</button>
                            </span>
                            <span ng-if="$ctrl.FileOperationService.operations.upload.status[upload.key] === 'uploading'" class="text-info">
                                <i class="fa fa-refresh fa-spin"></i> <span class="sr-only">Upload in progress</span>
                            </span>
                            <span ng-if="$ctrl.FileOperationService.operations.upload.status[upload.key] === 'success'" class="text-success">
                                <i class="fa fa-check-circle"></i> <span class="sr-only">Uploaded</span>
                            </span>
                            <span ng-if="$ctrl.FileOperationService.operations.upload.status[upload.key] === 'error'" class="text-danger">
                                <i class="fa fa-times-circle"></i> <span>{{ upload.error }}</span>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="actions clearfix">
            <div class="pull-left">
                <button class="btn btn-default" ng-disabled="$ctrl.uploadInProgress() || ($ctrl.uploads|length) === 0" type="button" ng-click="$ctrl.reset()">Reset </button>
            </div>
            <div class="pull-right">
                <button class="btn btn-primary" ng-disabled="($ctrl.uploadInProgress() || state.retry || ($ctrl.uploads|length) === 0 ) || state.ui.tagFiles" type="button" ng-click="$ctrl.upload()">
                    <span ng-if="! $ctrl.uploadInProgress()">{{$ctrl.hasFailedUploads() ? 'Retry' : 'Begin upload'}}</span>
                    <span ng-if="$ctrl.uploadInProgress()"><i class="fa fa-refresh fa-spin"></i> Uploading</span>
                </button>
                <button class="btn btn-default" ng-disabled="$ctrl.uploadInProgress()" type="button" ng-click="$ctrl.cancel()">Close</button>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer"></div>
