<div style="background:white; padding-top: 20px">
        <!-- progression map -->
        <div class="pull-right" style="padding-bottom: 20px;">
            <a ng-click="$ctrl.goWork()">
                <i class="fa fa-times"></i> Exit Prepare to Publish
            </a>
        </div>
        <table class="tg" style="table-layout: fixed; width: 100%; padding-bottom: 15px;">
            <colgroup>
                <col style="width: 16.5%">
                <col style="width: 16.5%">
                <col style="width: 16.5%">
                <col style="width: 16.5%">
                <col style="width: 16.5%">
                <col style="width: 16.5%">
            </colgroup>
            <tr style="text-align: center">
                <td class="tg-0lax">
                    <strong>Selection</strong>
                    <div>
                        <i class="fa fa-circle" style="color:#1CB500;"></i>
                    </div>
                </td>
                <td class="tg-0lax">
                    <strong>Proofread Project</strong>
                    <div>
                        <i class="fa fa-circle" style="color:#1CB500;"></i>
                    </div>
                </td>
                <td class="tg-0lax">
                    <strong>Proofread Experiment</strong>
                    <div>
                        <i class="fa fa-circle" style="color:#1CB500;"></i>
                    </div>
                </td>
                <td class="tg-0lax">
                    <strong>Proofread Categories</strong>
                    <div>
                        <i class="fa fa-circle" style="color:#1CB500;"></i>
                    </div>
                </td>
                <td class="tg-0lax">
                    <strong>Order Authors</strong>
                    <div>
                        <i class="fa fa-circle-thin"></i>
                    </div>
                </td>
                <td class="tg-0lax">
                    <strong>Licenses</strong>
                    <div>
                        <i class="fa fa-circle-thin"></i>
                    </div>
                </td>
            </tr>
        </table>
        <br>
        <div>
            <a class="pull-left" ng-click="$ctrl.goExperiment()">
                <i class="fa fa-arrow-left"></i> Back to Proofread Experiment
            </a>
            <a class="pull-right" ng-click="$ctrl.goAuthors()"><i class="fa fa-arrow-right"></i> Continue</a>
        </div>
        <!-- progression map -->
        <div style="padding-top: 40px; padding-bottom: 40px;">
            <p>
                <h3 style="text-align: center">Proofread your Category Metadata</h3>
                <h3 style="text-align: center; color: orange;">
                    <i class="fa fa-exclamation-triangle"></i>You cannot make changes after publishing.
                </h3>
                <li>In order to remove categories from publication, go back to Selection and deselect the files in the category.</li>
                <li>If you need help, attend <a>Curation office hours</a> for help with publishing.</li>
            </p>
        </div>
        <!-- Experiment Header Start -->
        <!-- Experiment Header End -->
    </div>