.root {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
}

.action {
  padding-bottom: 0;
  padding-top: 0;
  font-weight: bold;
}
.onboarding-action__loading {
  display: inline-block;
  width: auto;
}

.onboarding-action__loading .inline {
  width: 16px;
  height: 16px;
}
