<div class="modal-header">
        <h3 class="modal-title">Search Help</h3>
    </div>
    <div class="modal-body">
        <p>To query on multiple terms, use the <b>AND</b>, <b>OR</b>, and <b>NOT</b> operators. For example:</p> 
        <p>
            <ul>
            <li>hurricane <b>AND</b> Nate</li>
            <li>hurricane <b>AND NOT</b> Maria</li>
            <li>earthquake <b>OR</b> tsunami</li>
            </ul>
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.dismiss()">Close</button>
    </div>