<div class="pipeline-nav">
    <a ng-click="$ctrl.goBack()">
        <i class="fa fa-arrow-left"></i> Back
    </a>
</div>
<div class="pipeline-page">
    <div class="pipeline-header">
        <h3>Publish, Amend, or Version</h3>
        If you need help, attend <a href="/facilities/virtual-office-hours/" target="_blank">curation office hours</a>.
        <div ng-if="$ctrl.ui.loading">
            <h3 class="text-center">
                <i class="fa fa-spinner fa-spin"></i> Loading...
            </h3>
        </div>
    </div>
    <!-- Notifications -->
    <div class="pipeline-notification">
        <div class="alert alert-warning" ng-if="$ctrl.ui.isProcessing">
            <span>
                <i class="fa fa-exclamation-triangle"></i>
            </span>
            <span>
                Your publication request is processing. Please allow 24 hours for this process to complete.
                If your publication does not appear in the "Published" section of the Data Depot or if you
                are still seeing this message after 24 hours, please
                <a href="/help/new-ticket/?category=DATA_CURATION_PUBLICATION&subject=Publication+submission+has+not+resolved:+{{$ctrl.project.value.projectId}}"
                target="_blank">submit a ticket</a>.
            </span>
        </div>
    </div>
    <div ng-if="!$ctrl.ui.loading">
        <div class="pipeline-section">
            <h3>Publishing</h3>
            <hr>
            <ul>
                <!-- This section will need to display information based on the type of project -->
                <!-- This section will need to be disabled if project has been published -->
                <li>Publish a new project.</li>
                <li>The project will recieve a new citation and DOI to include any new authors.</li>
                <li>The updated project will display as a new version.</li>
            </ul>
            <button class="btn btn-small btn-add"
                    ng-click="$ctrl.goPublish()"
                    ng-disabled="$ctrl.ui.isPublished"
            >
                Publish
            </button>
        </div>
        <div ng-if="$ctrl.ui.showAmendVersion">
            <div class="pipeline-section">
                <h3>Amend Metadata</h3>
                <hr>
                <ul>
                    <li>
                        You can add related work, awards, keywords, and referenced data, or change author
                        order and descriptions in published metadata without adding a new version
                    </li>
                </ul>
                <button class="btn btn-small btn-add"
                        ng-click="$ctrl.goAmend()"
                        ng-disabled="!$ctrl.ui.isPublished || $ctrl.ui.isProcessing"
                >
                    Amend
                </button>
            </div>
            <div class="pipeline-section">
                <h3>Versioning</h3>
                <hr>
                <ul>
                    <li>Any changes to published files/data requires a new version.</li>
                    <li>Change the files/data in the curation directory before this step.</li>
                    <li>You will be required to explain the reason for a new version.</li>
                    <li>The DOI will not change, but the citation will include a version number.</li>
                </ul>
                <button class="btn btn-small btn-add"
                        ng-click="$ctrl.goVersion()"
                        ng-disabled="!$ctrl.ui.isPublished || $ctrl.ui.isProcessing"
                >
                    Version
                </button>
            </div>
            <div class="pipeline-section">
                <h3>Add/Remove Authors</h3>
                <hr>
                <div>
                    If you need to add or remove authors to/from a publication,
                    <a href="/help/new-ticket/?category=DATA_CURATION_PUBLICATION&subject=Request+to+Update+or+Remove+Authors+for+{{$ctrl.project.value.projectId}}" target="_blank">
                        submit a ticket
                    </a>.
                </div>
                <br>
            </div>
        </div>
    </div>
</div>