<script type="text/ng-template" id="itemTmpl.html">
    <a href>
        <span ng-bind-html="match.label.last_name | uibTypeaheadHighlight:query"></span>,
        <span ng-bind-html="match.label.first_name | uibTypeaheadHighlight:query"></span> :  
        ( <span ng-bind-html="match.label.email | uibTypeaheadHighlight:query"></span> )
    </a>
</script>
<div class="modal-header" style="background: #e6e6e6;">
    <h4 class="modal-title" style="border:none;">
        <span ng-if="!$ctrl.form.uuid">Add New Project</span>
        <span ng-if="$ctrl.form.uuid">Edit Project</span>
        <span class="pull-right" ng-click="$ctrl.cancel()">
            <i class="fa fa-times"></i>
        </span>
    </h4>
</div>
<div class="modal-body" style="padding: 30px;">
    <form name="projForm">
        <!-- Project Title -->
        <div class="form-group">
            <label for="id-project-title">
                <div class="label-form">
                    <div>
                        <span class="label-form-name">Project Title</span>
                        <span class="label label-danger">Required</span>
                    </div>
                    <span class="label-form-desc">
                        Incorporate the project's focus with words indicating the
                        hazard, model, system, and research approach. Define all acronyms.
                    </span>
                </div>
            </label>
            <input  class="project-form-input"
                    type="text"
                    id="id_title"
                    name="title"
                    style="width:100%;"
                    ng-model="$ctrl.form.title"
                    ng-required="true">
        </div>
        <!-- Project Type -->
        <div class="form-group" ng-if="$ctrl.form.uuid">
            <label for="id-project-type">
                <div class="label-form">
                    <div>
                        <span class="label-form-name">Project Type</span>
                        <span class="label label-danger">Required</span>
                    </div>
                </div>
            </label>
            <table class="tg" style="table-layout: fixed; width: 100%; padding-bottom: 15px;">
                <colgroup>
                    <col style="width: 16.5%">
                    <col style="width: 16.5%">
                </colgroup>
                <tr>
                    <table style="width: 100%;" ng-if="$ctrl.project.value.projectType === 'experimental'">
                        <tr>
                            <td style="width: 9%;">
                                <span class="curation-experiment" style="font-size:32px; margin-right:10px; margin-left:10px;"></span>
                            </td>
                            <td style="width: 80%;">
                                <strong>Experimental Project</strong>
                                <div>
                                    For physical work, typically done at an experimental facility or in the field.
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%;"  ng-if="$ctrl.project.value.projectType === 'simulation'">
                        <tr>
                            <td style="width: 9%;">
                                <span class="curation-simulation" style="font-size:32px; margin-right:10px; margin-left:10px;"></span>
                            </td>
                            <td style="width: 80%;">
                                <strong>Simulation Project</strong>
                                <div>
                                    For numerical and/or analytical work, done with software.
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%;"  ng-if="$ctrl.project.value.projectType === 'hybrid_simulation'">
                        <tr>
                            <td style="width: 9%;">
                                <span class="curation-hybrid" style="font-size:32px; margin-right:10px; margin-left:10px;"></span>
                            </td>
                            <td style="width: 80%;">
                                <strong>Hybrid Simulation Project</strong>
                                <div>
                                    For work using both physical and numerical components.
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%;" ng-if="$ctrl.project.value.projectType === 'field_recon'">
                        <tr>
                            <td style="width: 9%;">
                                <span class="curation-recon" style="font-size:32px; margin-right:10px; margin-left:10px;"></span>
                            </td>
                            <td style="width: 80%;">
                                <strong>Field Research Project</strong>
                                <div>
                                    For work done by observation in areas affected by a natural hazard.
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%;" ng-if="$ctrl.project.value.projectType === 'other'">
                        <tr>
                            <td style="width: 9%;">
                                <span class="curation-other" style="font-size:32px; margin-right:10px; margin-left:10px;"></span>
                            </td>
                            <td style="width: 80%;">
                                <strong>Other Project</strong>
                                <div>
                                    For work that is not an experiment, simulation, or observation.
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%;" ng-if="$ctrl.project.value.projectType === 'None'">
                        <tr>
                            <td style="width: 9%;">
                                <span class="curation-close-window" style="font-size:32px; margin-right:10px; margin-left:10px;"></span>
                            </td>
                            <td style="width: 80%;">
                                <strong>None</strong>
                                <div>
                                    You have not selected a project type.
                                </div>
                            </td>
                        </tr>
                    </table>
                </tr>
            </table>
            <a ng-click="$ctrl.type($ctrl.form.uuid && $ctrl.form.projectType)">Change Project Type</a>
        </div>
        <!-- Add PI and PRJ Members -->
        <div class="form-group" style="width:100%; display:inline-block;">
            <table class="tg" style="table-layout: fixed; width: 100%;">
                <colgroup>
                    <col style="width: 48%">
                    <col style="width: 50%">
                </colgroup>
                <tr class="tg-0lax">
                    <label for="id-project-pis">
                        <div class="label-form">
                            <div>
                                <span class="label-form-name">Principal Investigators (PI)</span>
                                <span class="label label-danger">Required</span>
                            </div>
                            <span class="label-form-desc">
                                These users can view, edit, curate, and publish. Include Co-PI(s).
                            </span>
                        </div>
                    </label>
                </tr> 
                <tr class="tg-0lax">
                    <div style="margin-bottom: 20px;">
                            <input  class="project-form-input project-form-name"
                                    type="text"
                                    id="id_pi"
                                    name="pi"
                                    autocomplete="username"
                                    ng-model="$ctrl.form.pi"
                                    placeholder="Lookup user by name or email address"
                                    uib-typeahead="user for user in $ctrl.searchUsers($viewValue)"
                                    typeahead-loading="searching"
                                    typeahead-no-results="noResults"
                                    typeahead-input-formatter="$ctrl.formatSelection($ctrl.form.pi)"
                                    typeahead-template-url="itemTmpl.html"
                                    ng-required="true"
                            >
                            <span ng-repeat="(i, usr) in $ctrl.form.copi track by $index">
                                <input  class="project-form-input project-form-name"
                                        type="text"
                                        id="id_copi"
                                        name="copi"
                                        autocomplete="username"
                                        ng-model="$ctrl.form.copi[i]"
                                        ng-style="{'float': $even ? 'right' : 'none'}"
                                        placeholder="Lookup user by name or email address"
                                        uib-typeahead="user for user in $ctrl.searchUsers($viewValue)"
                                        typeahead-loading="searching"
                                        typeahead-input-formatter="$ctrl.formatSelection(usr)"
                                        typeahead-template-url="itemTmpl.html"
                                >
                            </span>
                            <div>
                                <button class="btn-project-add-rm"
                                        ng-click="$ctrl.addField($ctrl.form.copi)">
                                        &#x2b; Add another PI
                                </button>
                                |
                                <button class="btn-project-add-rm"
                                        ng-click="$ctrl.dropField($ctrl.form.copi)"
                                        ng-disabled="$ctrl.checkEmpty($ctrl.form.copi)">
                                        &#x2212; Remove PI
                                </button>
                            </div>
                    </div>
                </tr>
                <tr class="tg-0lax" valign="top">
                    <div style="margin-bottom: 5px;">
                        <strong>Project Members</strong>
                        <div>These users can view, edit, curate, and publish.</div>
                    </div>
                </tr>
                <tr class="tg-0lax">
                    <span ng-repeat="(i, usr) in $ctrl.form.team track by $index">
                        <input  class="project-form-input project-form-name"
                                type="text"
                                id="id_user"
                                name="user"
                                autocomplete="username"
                                ng-style="{'float': $odd ? 'right' : 'none'}"
                                ng-model="$ctrl.form.team[i]"
                                placeholder="Lookup user by name or email address"
                                uib-typeahead="user for user in $ctrl.searchUsers($viewValue)"
                                typeahead-loading="searching"
                                typeahead-input-formatter="$ctrl.formatSelection(usr)"
                                typeahead-template-url="itemTmpl.html"
                        >
                    </span>
                    <div>
                        <button class="btn-project-add-rm"
                                ng-click="$ctrl.addField($ctrl.form.team)">
                                &#x2b; Add another Project Member
                        </button>
                        |
                        <button class="btn-project-add-rm"
                                ng-click="$ctrl.dropField($ctrl.form.team)"
                                ng-disabled="$ctrl.checkEmpty($ctrl.form.team)">
                                &#x2212; Remove Project Member
                        </button>
                    </div>
                </tr>
            </table>
        </div>
        <div class="expAuthorsAssign form-group" ng-if="$ctrl.form.uuid && $ctrl.form.projectType">
            <label for="id-project-guest">
                <div class="label-form">
                    <div>
                        <span class="label-form-name">Unregistered Members</span>
                    </div>
                    <span class="label-form-desc">
                            Add members without a DesignSafe account. These names
                            can be selected as authors during the publication process.
                    </span>
                </div>
            </label>
            <table style="table-layout: fixed; width: 100%;">
                <colgroup>
                    <col span="3" style="width: 20%">
                </colgroup>
                <tr>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Email</td>
                    <td>Institution</td>
                </tr>
                <tr ng-repeat="(i, usr) in $ctrl.form.guests track by $index">
                    <td>
                        <input class="project-form-input" style="width: 95%" type="text" name="guestFName" id="id_guest_fname" ng-model="$ctrl.form.guests[i].fname" autocomplete="additional-name">
                    </td>
                    <td>
                        <input class="project-form-input" style="width: 95%" type="text" name="guestLName" id="id_guest_lname" ng-model="$ctrl.form.guests[i].lname" autocomplete="additional-name">
                    </td>
                    <td>
                        <input class="project-form-input" style="width: 95%" type="text" name="guestEmail" id="id_guest_email" ng-model="$ctrl.form.guests[i].email" autocomplete="email">
                    </td>
                    <td>
                        <input class="project-form-input" style="width: 100%" type="text" name="ExpAuthorInst" id="id_guest_inst" ng-model="$ctrl.form.guests[i].inst" autocomplete="organization">
                    </td>
                </tr>
            </table>
            <button class="btn-project-add-rm"
                    ng-click="$ctrl.addGuests()">
                    &#x2b; Add another Unregistered Project Member
            </button>
            |
            <button class="btn-project-add-rm"
                    ng-click="$ctrl.dropField($ctrl.form.guests)"
                    ng-disabled="$ctrl.checkEmpty($ctrl.form.guests)">
                    &#x2212; Remove Unregistered Project Member
            </button>
        </div>
        <!-- Edit Project Section -->
        <div ng-if="$ctrl.form.uuid && $ctrl.form.projectType">
            <!-- Project Other Data Types -->
            <div class="form-group" style="width:100%; display:inline-block;" ng-if="$ctrl.project.value.projectType === 'other'">
                <label class="label-form">
                    <div>
                        <span class="label-form-name">Data Type(s)</span>
                        <span class="label label-danger">Required</span>
                    </div>
                    <span class="label-form-desc">
                        The nature or genre of the content.
                    </span>
                </label>
                <div>
                    <select ng-options="type as type for type in $ctrl.otherTypes"
                            ng-model="$ctrl.form.dataType"
                            required
                    >
                        <option value="" disabled selected>--Data Type--</option>
                    </select>
                    <input type="text"
                           class="project-form-input"
                           ng-model="$ctrl.form.dataTypeCustom"
                           ng-if="$ctrl.form.dataType === 'Custom'"
                    />
                </div>
            </div>
            <!-- Project Awards -->
            <div class="form-group" style="width:100%; display:inline-block;">
                <table class="tg" style="table-layout: fixed; width: 100%;">
                    <colgroup>
                        <col style="width: 70%">
                        <col style="width: 28%">
                    </colgroup>
                    <tr>
                        <label for="id-project-awards">
                            <div class="label-form">
                                <div>
                                    <span class="label-form-name">Award Info</span>
                                </div>
                                <span class="label-form-desc">
                                    Recommended for funded projects.
                                </span>
                            </div>
                        </label>
                    </tr>
                    <tr>
                        <td class="tg-0lax">
                            Award Name
                        </td>
                        <td class="tg-0lax">
                            Award Number
                        </td>
                    </tr>
                    <tr ng-repeat="award in $ctrl.form.awardNumber | orderBy:'order' track by $index">
                        <td class="tg-0lax">
                            <input  class="project-form-input"
                                    type="text"
                                    id="id_awardName"
                                    name="awardName"
                                    style="width:94%;"
                                    ng-model="award.name">
                        </td>
                        <td class="tg-0lax">
                            <input  class="project-form-input"
                                    type="text"
                                    id="id_awardNumber"
                                    name="awardNumber"
                                    style="width:100%;"
                                    ng-model="award.number">
                        </td>
                    </tr>
                </table>
                <div>
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.addAwardField($ctrl.form.awardNumber)">
                            &#x2b; Add another Award
                    </button>
                    |
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.dropField($ctrl.form.awardNumber, true)"
                            ng-disabled="$ctrl.checkEmpty($ctrl.form.awardNumber)">
                            &#x2212; Remove Award
                    </button>
                </div>
            </div>
            <!-- Related Works -->
            <div class="form-group" style="width:100%; display:inline-block;">
                <table class="tg" style="table-layout: fixed; width: 100%;">
                    <colgroup>
                        <col style="width: 48%">
                        <col style="width: 50%">
                    </colgroup>
                    <tr>
                        <label for="id-project-works">
                            <div class="label-form">
                                <div>
                                    <span class="label-form-name">Related Work</span>
                                </div>
                                <span class="label-form-desc">
                                    Other projects, publications, or datasets related to this project.
                                </span>
                            </div>
                        </label>
                    </tr>
                    <tr>
                        <td class="tg-0lax">
                            Title
                        </td>
                        <td class="tg-0lax" valign="top">
                            Related Work DOI or URL
                        </td>
                    </tr>
                    <tr ng-repeat="work in $ctrl.form.associatedProjects | orderBy:'order' track by $index">
                        <td class="tg-0lax">
                            <input  class="project-form-input"
                                    type="text"
                                    id="id_workTitle"
                                    name="workTitle"
                                    style="width:94%;"
                                    ng-model="work.title">
                        </td>
                        <td class="tg-0lax">
                            <input  class="project-form-input"
                                    type="text"
                                    id="id_workHref"
                                    name="workHref"
                                    style="width:100%;"
                                    ng-model="work.href">
                        </td>
                    </tr>
                </table>
                <div>
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.addWorkField($ctrl.form.associatedProjects)">
                            &#x2b; Add another Related Work
                    </button>
                    |
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.dropField($ctrl.form.associatedProjects, true)"
                            ng-disabled="$ctrl.checkEmpty($ctrl.form.associatedProjects)">
                            &#x2212; Remove Related Work
                    </button>
                </div>
            </div>
            <!-- FR Fields -->
            <div data-ng-if="$ctrl.project.value.projectType === 'field_recon'">
                <div style="width: 100%;">
                    <!-- Event -->
                    <div style="width:45%; display:inline-block;" class="pull-left form-group">
                        <label for="id-nh-event">
                            <span class="pull-left">Event</span>
                            <span class="label label-danger" style="margin-left: 5px">Required</span>
                            <br>
                            <span style="font-weight:normal;">
                                Name given to the event (ex. Hurricane Katrina)
                            </span>
                        </label>
                        <input class="project-form-input"
                                type="text"
                                id="id-nh-event"
                                name="nh-event"
                                style="width:100%"
                                data-ng-model="$ctrl.form.nhEvent"
                                data-ng-required="true"/>
                    </div>
                    <!-- Event Dates -->
                    <div style="width:50%;" class="form-group">
                        <label for="id-nh-event-date">
                            <span class="pull-left">Event Date(s)</span>
                            <span class="label label-danger" style="margin-left: 5px">Required</span>
                            <br>
                            <span style="font-weight:normal;">
                                If you only want to enter a single date, fill in the first field.
                            </span>
                        </label>
                        <div style="display:flex;">
                            <span class="input-group" style="width:45%;">
                            <input  class="project-form-input"
                                    type="text" 
                                    uib-datepicker-popup="MM-dd-yyyy"
                                    ng-model="$ctrl.form.nhEventDateStart"
                                    is-open="isStartOpen"
                                    placeholder="mm-dd-yyyy"
                                    datepicker-options="dateOptions"
                                    date-disabled="disabled(date, mode)"
                                    ng-required="true"
                                    close-text="Close"
                                    class="form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="isStartOpen = !isStartOpen">
                                <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                            </span>
                            <span style="padding:6px;">
                            &#8213;
                            </span>
                            <span class="input-group" style="width:45%;">
                            <input  type="text"
                                    uib-datepicker-popup="MM-dd-yyyy"
                                    ng-model="$ctrl.form.nhEventDateEnd"
                                    is-open="isEndOpen"
                                    placeholder="mm-dd-yyyy"
                                    datepicker-options="dateOptions"
                                    date-disabled="disabled(date, mode)"
                                    ng-required="false"
                                    close-text="Close"
                                    class="form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="isEndOpen = !isEndOpen">
                                <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Event Location -->
                <div class="form-group">
                    <label for="id-location">
                        <div class="label-form">
                            <div>
                                <span class="label-form-name pull-left">Event Location</span>
                                <span class="label label-danger">Required</span>
                            </div>
                        </div>
                    </label>
                    <div>
                        <div style="width: 55%; display:inline-block;">
                            <label for="id-location" class="label-secondary">
                                Location
                            </label>
                            <input type="text"
                                    id="id-location"
                                    data-ng-model="$ctrl.form.nhLocation"
                                    data-ng-required="true"
                                    class="form-control"/>
                        </div>
                        <div style="width: 21%; display:inline-block; margin-left:5px;">
                            <label for="id-location" class="label-secondary">
                                Latitude
                            </label>
                            <input type="text"
                                    id="id-latitude"
                                    data-ng-model="$ctrl.form.nhLatitude"
                                    data-ng-required="true"
                                    class="form-control"/>
                        </div>
                        <div style="width: 21%; display:inline-block; margin-left:5px;">
                            <label for="id-location" class="label-secondary">
                                Longitude
                            </label>
                            <input type="text"
                                    id="id-longitude"
                                    data-ng-model="$ctrl.form.nhLongitude"
                                    data-ng-required="true"
                                    class="form-control" />
                        </div>
                    </div>
                </div>
                <!-- Event Type -->
                <div class="form-group" style="width:100%;">
                    <label for="id-nh-event-type">
                        <span class="pull-left">Event Type</span>
                        <span class="label label-danger" style="margin-left: 5px">Required</span>
                        <span style="font-weight:normal; display:inline-block;">
                            The hazards occurring from an event. An event can have multiple hazard types (Hurricanes also have storm surge and floods).
                        </span>
                    </label>
                    <div ng-repeat="nhType in $ctrl.form.nhTypes track by $index">
                        <select id="id-nh-event-type"
                                style="margin-bottom: 5px;"
                                data-ng-options="item for item in $ctrl.rapidEventTypes"
                                data-ng-model="$ctrl.form.nhTypes[$index]"
                                data-ng-required="$first"
                                class="form-control"
                                data-ng-if="$ctrl.showNhTypesDropdown($index)">
                            <option value="">-- Select Event Type --</option>
                        </select>
                        <div class="nh-types-input-wrapper"
                             data-ng-if="$ctrl.showNhTypesInput($index)">
                            <input type="text"
                                   data-ng-model="$ctrl.form.nhTypesOther[$index]"
                                   class="form-control"
                               />
                        </div>
                    </div>
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.addField($ctrl.form.nhTypes); $ctrl.addField($ctrl.form.nhTypesOther)">
                            &#x2b; Add another Event Type
                    </button>
                    |
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.dropEventType()"
                            ng-disabled="$ctrl.checkEmpty($ctrl.form.nhTypes)">
                            &#x2212; Remove Event Type
                    </button>
                </div>
            </div>
            <!-- Project Keywords -->
            <div class="form-group" style="width:100%; display:inline-block;">
                <label for="id-project-keywords">
                    <div class="label-form">
                        <div>
                            <span class="label-form-name">Keywords</span>
                            <span class="label label-danger">Required</span>
                        </div>
                        <span class="label-form-desc">
                            Choose informative words that indicate the content of the project.
                        </span>
                    </div>
                </label>
                <div>
                    <input  class="project-form-input"
                            type="text"
                            style="width:100%;"
                            id="id_keywords"
                            ng-model="$ctrl.form.keywords"
                            ng-required="$ctrl.form.uuid && $ctrl.form.projectType"><br>
                </div>
            </div>
            <!-- Project Description -->
            <div class="form-group" style="width:100%; display:inline-block;">
                <label for="id-project-description">
                    <div class="label-form">
                        <div>
                            <span class="label-form-name">Project Description</span>
                            <span class="label label-danger">Required</span>
                        </div>
                        <span class="label-form-desc">
                            Make sure this is understandable to a wider audience.
                            Answer questions such as what, how, and why. Define all acronyms.
                        </span>
                    </div>
                </label>
                <div>
                    <textarea   type="text"
                                style="width:100%; height:3em; resize: vertical;"
                                id="id_description"
                                ng-model="$ctrl.form.description"
                                ng-required="$ctrl.form.uuid && $ctrl.form.projectType"></textarea>
                </div>
            </div>
        </div>
        <!-- update, save, and help buttons -->
        <div class="form-group">
            <table class="tg" style="table-layout: fixed; width: 100%; margin-top:20px;">
                <colgroup>
                    <col style="width: 48%">
                    <col style="width: 50%">
                </colgroup>
                <tr style="height: 40px;">
                    <td class="tg-0lax" valign="center">
                    </td>
                    <td class="tg-0lax" valign="center" style="text-align: right;">
                        <div ng-if="!$ctrl.ui.busy">
                            <button class="btn btn-add" type="submit" ng-click="projForm.$valid && $ctrl.save($event)" ng-if="!$ctrl.form.uuid">
                                &#x2b; Add Project
                            </button>
                            <button class="btn btn-add" type="submit" ng-click="projForm.$valid && $ctrl.save($event)" ng-if="$ctrl.form.uuid">
                                Update Project
                            </button>
                        </div>
                        <div>
                            <span ng-if="$ctrl.ui.busy">
                                <i class="fa fa-spinner fa-spin"></i>
                                Saving project...
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
