<div class="table-responsive">
    <div class="ds-table-display-wrapper" ds-infinite-scroll data-scroll-bottom="scrollToBottom()()" data-scroll-top="scrollToTop()()" data-bottom-height="0">
      <table class="table table-bordered table-striped" style="background-color: #fff;">
          <thead>
          <th>Project Title</th>
          <th>Project ID</th>
          <th>PI</th>
          <th>Last Modified</th>
          </thead>
  
          <tbody>
          <tr ng-repeat="project in data.projects"
              ng-if="data.projects && ! browser.busyListing"
              ng-click="onSelect($event, project);"
              ng-class="{'ds-data-selected': project.selected}"
          >
              <td>
                  <a ng-href="{{ project.href }}">
                      {{ project.value.title }}
                  </a>
              </td>
              <td>
                {{project.value.projectId}}
              </td>
              <td>
                {{data.names[project.value.pi]}}
              </td>
              <td>
                  {{ project.lastUpdated|date:"short" }}
              </td>
          </tr>
          <tr ng-if="browser.busyListingPage">
              <td>
                  <span class="bg-info text-info">
                      <i class="fa fa-spinner fa-spin"></i> Loading...
                  </span>
              </td>
          </tr>
          </tbody>
          <caption>
            <div ng-if="ui.busy || browser.busy"
                 style="padding:10px; font-size:large; width:100%;"
                 class="bg-info">
              <span>
                <i class="fa fa-spinner fa-spin"></i> Loading...
             </span>
            </div>
          <div ng-if="! browser.busy && browser.error" class="text-center">
              <div class="alert alert-danger">
                  <div ng-if="browser.error.message" ng-bind-html="browser.error.message"></div>
                  <div ng-if="!browser.error.message"> Something went wrong. Please try again, and if this error persists please use Help to file a ticket. </div>
              </div>
          </caption>
      </table>
  </div>
  <div ng-if="! data.projects" class="jumbotron">
      <p class="text-center">
          <i class="fa fa-spinner fa-spin"></i> Loading projects...
      </p>
    </div>
  </div>
  