<div class="modal-header">
        <h3 class="modal-title">View Description | {{$ctrl.resolve.title}}</h3>
    </div>
    <div class="modal-body">
        <div data-ng-if="$ctrl.PublicationService.description.loading"
                     style="padding:10px; font-size:large; width:100%;"
                     class="bg-info">
                    <span> <i role="none" class="fa fa-spinner fa-spin"></i> Loading... </span>
                </div>
        <div data-ng-if="!$ctrl.PublicationService.description.loading" ng-bind-html="$ctrl.PublicationService.description.value"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.dismiss()">Close</button>
    </div>
