a.navLink > div {
  height: 50;
  line-height: 100%;
  white-space: wrap;
  padding-left: 10px;
  padding-right: 15px;
}

.navLink:global(.active) > div {
  background-color: transparent;
  padding-left: 10px;
}

ul.appBrowserSidebar {
  padding-left: 0;
  list-style: none;
}

.appsNavHeader {
  text-align: center;
  font-size: 14px;
  font-family: inherit;
}

.appsBrowserSidebar .navLink {
  min-width: var(--min-width);
  padding-left: var(--horizontal-buffer);
  color: var(--global-color-primary--dark);
  white-space: nowrap;
}

.appsBrowserSidebar .navLink {
  /* RFE: Add `href` on links to: obviate this CSS, provide URL to app state */
  font-weight: 500;
  cursor: pointer;
}

.appsBrowserSidebar .navLink:global(.active),
.appsBrowserSidebar .navLink:hover {
  color: var(--global-color-primary--x-dark);
  background: var(--global-color-accent--weak);
  border: none;
}

.appsBrowserSidebar .navLink:global(.active) {
  font-weight: 700;
}

.appsBrowserSidebar .navLink:global(.active) {
  font-weight: 700;
}
