<div ng-if="!data.app">
    <div class="jumbotron">
        <h1>Select an app</h1>
        <p>Select an application from the tray above.</p>
    </div>
</div>
<div ng-if="data.app" class="app-form-wrapper">
    <h2>Run <em>{{data.app.label}}</em></h2>
    <p>{{data.app.shortDescription}}</p>
    <div class="alert alert-warning" ng-if="data.needsLicense">
        <h4>Software License Required</h4>
        <p>
            The use of this application required that your have a {{data.app.license.type}}
            license enabled for your account. Please visit the
            <a href="/account/licenses/" target="_blank">manage software licenses</a>
            section on the My Account page for details on how to enable this license.
        </p>
    </div>
    <form name="appForm"
          sf-schema="form.schema"
          sf-form="form.form"
          sf-model="form.model"
          sf-options="{ supressPropertyTitles: true }"
          ng-submit="onSubmit(appForm)"></form>
</div>

<div ng-if="data.job" class="alert alert-success">
    <h4>Job Submitted Successfully!</h4>
    <p>
        Your job <em>{{data.job.name}}</em> has been submitted. Monitor its status on
        the right.
    </p>
</div>
