<div class="modal-body">
  <my-data-browser selected="vm.selected" saveas="vm.saveas" picker="file"></my-data-browser>
</div>
<div class="modal-footer">
  <button class="btn btn-primary pull-right"
          ng-if="vm.saveas.filename"
          ng-click="vm.ok()"
          ng-disabled="!vm.selected"> Save </button>
  <button class="btn btn-primary pull-right"
          ng-if="!vm.saveas.filename"
          ng-click="vm.ok()"
          ng-disabled="!vm.selected"> Ok </button>
  <button class="btn btn-warning pull-left" ng-click="vm.cancel()" > Cancel </button>

</div>
