<div class="modal-header">
  <h3 class="modal-title">Data Browser</h3>
</div>
<div class="modal-body">
  <ds-data-browser listing="">
    <div class="ds-data-browser-main">
        <ds-data-browser-toolbar searchbar></ds-data-browser-toolbar>
        <ds-data-list-display></ds-data-list-display>
    </div>
  </ds-data-browser>
</div>
<div class="modal-footer">
  <button class="btn btn-primary pull-right" ng-click="vm.ok()"> Ok </button>
  <button class="btn btn-warning pull-left" ng-click="vm.cancel()"> Cancel </button>

</div>
