<div id="container">
  <div id="geo_sidebar">
    <ul class="list-group">
      <li class="list-group-item" style="background:#eaeaea;margin-top:0px">
        <a href="/">
          <img src="/static/images/ds-logo-horiz.png" width="230"></img>
        </a>
      </li>
    </ul>

    <div class="current-layer-details" ng-show="vm.current_layer">
      <table class="table table-condensed table-bordered">
        <tr>
          <td> Fill </td>
          <td>
            <input type="color"
                    class="form-control"
                   ng-model="vm.current_layer.options.fillColor"
                   ng-change=vm.update_layer_style('fillColor')>
            </input>
          </td>
        </tr>
        <tr>
          <td> Stroke </td>
          <td>
            <input type="color"
                    class="form-control"
                   ng-model="vm.current_layer.options.color"
                   ng-change=vm.update_layer_style('color')>
            </input>
          </td>
        </tr>
        <tr>
          <td> Opacity </td>
          <td>
            <input type="number" min=0 max=1.0 step=0.01
                    class="form-control"
                   ng-model="vm.current_layer.options.fillOpacity"
                   ng-change=vm.update_layer_style('fillOpacity')>
            </input>
          </td>
        </tr>
        <tr>
          <td> Description </td>
          <td>
            <input type="text" class="form-control" ng-model="vm.current_layer.options.description">
          </td>
        </tr>
      </table>
    </div>

  </div> <!-- End of sidebar -->

  <div id="right_panel">
    <div id="top_toolbar">
      <div class="btn-toolbar">
        <div class="btn-group">
          <div class="btn-group" role="group">
            <button class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Save
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Save to Data Depot</a></li>
              <li><a href="#">Save locally</a></li>
            </ul>
          </div>
          <button class="btn btn-default btn-sm"> Data </button>
          <button class="btn btn-default btn-sm"> Layers </button>
          <div class="btn-group" role="group">
            <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Dropdown link</a></li>
              <li><a href="#">Dropdown link</a></li>
            </ul>
          </div>
          <button class="btn btn-info btn-sm pull-right"> Save </button>
        </div>
      </div>
    </div>
    <div id="geo_map"> </div>
</div>
