<div id="map_container">
  <div id="geo_sidebar">
    <ul class="list-group">
      <li class="list-group-item" style="background:#eaeaea;margin-top:0px">
        <a href="/">
          <img src="/static/images/ds-logo-horiz.png" width="230"></img>
        </a>
      </li>
      <li class="list-group-item">
        <i class="fa fa-plus"> </i>  Create a new map
      </li>
      <li class="list-group-item">
        <i class="fa fa-folder-open"> </i>  Open a map
      </li>
      <!-- <li class="list-group-item">
        <i class="fa fa-object-ungroup"> </i>  Draw shapes
      </li> -->
      <li class="list-group-item">
        <i class="fa fa-cloud-upload"> </i> Import from Designsafe
      </li>
      <li class="list-group-item" ng-click="vm.open_file_dialog()">
        <input name"local_file" id="local_file" type="file" ng-hide="true"  custom-on-change="vm.local_file_selected">
        <i class="fa fa-file"> </i>  Import locally
      </li>
      <li class="list-group-item" ng-click="vm.open_image_dialog()">
        <input name"local_image" id="local_image" type="file" ng-hide="true"  custom-on-change="vm.load_image">
        <i class="fa fa-file"> </i>  Add an image
      </li>
      <li class="list-group-item">
        &nbsp
      </li>
      <li class="list-group-item save" ng-click="vm.save_project()">
        <!-- <i class="fa fa-object-ungroup"> </i>  Draw shapes -->
        <i class="fa fa-save">  </i> Save
      </li>
    </ul>

    <div class="current-layer-details" ng-show="vm.current_layer">
      <table class="table table-condensed table-bordered">
        <tr>
          <td> Fill </td>
          <td>
            <input type="color"
                    class="form-control"
                   ng-model="vm.current_layer.options.fillColor"
                   ng-change=vm.update_layer_style('fillColor')>
            </input>
          </td>
        </tr>
        <tr>
          <td> Stroke </td>
          <td>
            <input type="color"
                    class="form-control"
                   ng-model="vm.current_layer.options.color"
                   ng-change=vm.update_layer_style('color')>
            </input>
          </td>
        </tr>
        <tr>
          <td> Opacity </td>
          <td>
            <input type="number" min=0 max=1.0 step=0.01
                    class="form-control"
                   ng-model="vm.current_layer.options.fillOpacity"
                   ng-change=vm.update_layer_style('fillOpacity')>
            </input>
          </td>
        </tr>
        <tr>
          <td> Description </td>
          <td>
            <input type="text" class="form-control" ng-model="vm.current_layer.options.description">
          </td>
        </tr>
      </table>
    </div>

  </div> <!-- End of sidebar -->

  <div id="geo_map"></div>
</div>
