{% extends "base.html" %}
{% load sekizai_tags %}
{% load static %}

{% block head_extra %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <base href="{% url 'designsafe_geo:index' %}">
{% endblock %}




{% block content %}
<div>
    <div ui-view></div>
</div>
{% addtoblock "js" %}
  <script type="text/javascript" src="{% static 'build/geo.bundle.js' %}"></script>
{% endaddtoblock %}

{% addtoblock "css" %}
    <link rel="stylesheet" href="{% static 'build/geo.bundle.css' %}" />
{% endaddtoblock %}

{% endblock %}
