{% extends "uber_base.html" %}
{% load sekizai_tags %}
{% load static %}

{% block head_extra %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <base href="{% url 'designsafe_geo:index' %}">
{% endblock %}




{% block content %}
<div>
    <div ui-view></div>
</div>
{% addtoblock "js" %}
  <script>
    // $('header').hide();
    // $('nav').hide();
    // $('footer').hide();
  </script>
  <script type="text/javascript" src="{% static 'vendor/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/underscore/underscore.js' %}"></script>
  <script type="text/javascript" src="{% static 'djng/js/django-angular.js' %}"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"> </script>
  <!-- <script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ngDraggable/0.1.11/ngDraggable.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-drag-and-drop-lists/2.1.0/angular-drag-and-drop-lists.min.js"></script> -->
  <script type="text/javascript" src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
  <script type="text/javascript" src="https://unpkg.com/togeojson@0.14.2"></script>
  <script type="text/javascript" src="{% static 'vendor/exif-js/exif.js' %}"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" src="{% static 'vendor/angular-native-dragdrop/draganddrop.min.js' %}"></script>
  <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.3.0/gpx.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-geodesy/v0.1.0/leaflet-geodesy.js'></script>
<script src="{% static 'vendor/leaflet-measure/dist/leaflet-measure.min.js' %}"></script>

<script type="text/javascript" src="{% static 'designsafe/apps/geo/build/bundle.js' %}"></script>



{% endaddtoblock %}

{% addtoblock "css" %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <!-- <link href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css' rel='stylesheet' /> -->
    <link rel="stylesheet" href="{% static 'designsafe/apps/geo/styles/geo.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/leaflet-measure/dist/leaflet-measure.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw.css" />
{% endaddtoblock %}

{% endblock %}
