{% extends "base.html" %}
{% load  sekizai_tags staticfiles %}

{% block title %}{{title}}{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="headline headline-research">
          <i class="fa fa-dashboard"></i>
          My Dashboard
        </h1>
      </div>
    </div>

   {% block body_content %}{% endblock %} 
  </div>


{% addtoblock 'js' %}
<script type="text/javascript" src="{% static 'designsafe/apps/dashboard/js/dashboard.js' %}"></script>
<script type="text/javascript" src="{% static 'designsafe/apps/dashboard/js/DS_TSBarChart.js' %}"></script>
{% endaddtoblock %}

{% endblock %}





