{% extends "designsafe/apps/dashboard/base.html" %}


{% block body_content %}
<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5> Quick Links </h5>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href=""> Account Profile </a>
                </li>
                <li class="list-group-item">
                    <a href=""> Data Depot </a>
                </li>
                <li class="list-group-item">
                    <a href=""> Workspace </a>
                </li>
                <li class="list-group-item">
                    <a href=""> Learning Center </a>
                </li>
            </ul>               
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h5> Notifications </h5>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    Notification 1
                </li>
                <li class="list-group-item">
                    Notification 2
                </li>
                <li class="list-group-item">
                    Notification 3
                </li>
            </ul>               
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h5> Announcments </h5>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    Designsafe will be unavailable Dec 25th from 10:00pm untill 10:30pm
                </li>
            </ul>               
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"> <h5> <i class="fa fa-flask"> </i>  My Jobs </h5> </div>
            <div id="ds_jobs_chart"></div>
        </div>
    </div>
</div>

{% endblock %}
