{% extends "base_angular.html" %}

{% load  sekizai_tags staticfiles %}

{% block title %}{{title}}{% endblock %}

{% block head_extra %}
    <base href="{% url 'designsafe_dashboard:index' %}">
{% endblock %}

{% block content %}

  <!-- <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="headline headline-research">
          <i role="none" class="fa fa-dashboard"></i>
          My Dashboard
        </h1>
      </div>
    </div>
  </div> -->

  <div class="container" id="dashboard">
    <div ui-view></div>
  </div>


{% addtoblock "css" %}
<link href="{% static 'scripts/dashboard/styles/dashboard.css' %}" rel="stylesheet">
{% endaddtoblock %}

{% addtoblock 'js' %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script type="text/javascript" src="{% static 'vendor/d3/dist/d3.min.js' %}"></script>

<script src="<%= htmlWebpackPlugin.files.js %>"></script>
{% endaddtoblock %}

{% endblock %}
