{% extends "base_angular.html" %}
{% load cms_tags static sekizai_tags%}
{% block title %}Onboarding{% endblock %}
{% block content %}

<div id="dashboard-root"></div>

{% addtoblock "react_assets" %}
{% if debug and react_flag %}
<script type="module">
    import RefreshRuntime from 'http://localhost:4200/static/react-assets/@react-refresh';
    RefreshRuntime.injectIntoGlobalHook(window);
    window.$RefreshReg$ = () => { };
    window.$RefreshSig$ = () => (type) => type;
    window.__vite_plugin_react_preamble_installed__ = true;
</script>
<script type="module" src="http://localhost:4200/static/react-assets/@vite/client"></script>
<script type="module" src="http://localhost:4200/static/react-assets/src/main.tsx"></script>
{% else %}
{% include "react-assets.html" %}
{% endif %}
{% endaddtoblock %}

{% endblock %}
