<div class="modal-header" style="background: #e6e6e6;">
    <h4 class="modal-title">
        <span ng-if="!$ctrl.readOnly">Relate Data</span>
        <span ng-if="$ctrl.readOnly">Data Diagram</span>
        <span class="pull-right" data-ng-click="$ctrl.close()">
            <i class="fa fa-times">&nbsp;</i>
        </span>
    </h4>
</div>
<div class="modal-body project-tree">
    <div class="loading bg-info" data-ng-if="$ctrl._ui.loading">
        <i class="fa fa-spinner fa-spin">&nbsp;</i> Loading...
    </div>
    <div class="loading bg-danger" data-ng-if="$ctrl._ui.error">
        <p>{{$ctrl._ui.error}}</p>
    </div>
    <div id="relation-tree">
        <div class="button-list" style="position:relative;" data-ng-if="!$ctrl.readOnly">
            <div class="button-item"
                 data-ng-repeat="node in $ctrl.buttonsData"
                 data-ng-style="node.data.btnStyle">
                <button type="button"
                        class="btn btn-link btn-sm"
                        data-ng-click="$ctrl.moveNodeUp(node)"
                        data-ng-disabled="$ctrl._ui.loading"
                        data-ng-if="node.parent">
                    <i class="fa fa-arrow-up">&nbsp;</i><span class="sr-only">Move Up</span>
                </button>
                <button type="button"
                        class="btn btn-link btn-sm"
                        data-ng-click="$ctrl.moveNodeDown(node)"
                        data-ng-disabled="$ctrl._ui.loading"
                        data-ng-if="node.parent">
                    <i class="fa fa-arrow-down">&nbsp;</i><span class="sr-only">Move Down</span>
                </button>
                <button type="button"
                        class="btn btn-link"
                        data-ng-click="$ctrl.removeRelation(node)"
                        data-ng-disabled="$ctrl._ui.loading"
                        data-ng-if="node.parent && !node.data.primary">
                    Remove
                </button>
            </div>
        </div>
        <div class="dropdowns" style="position:relative;" data-ng-if="!$ctrl.readOnly">
            <div class="dropdown"
                 data-ng-repeat="leaf in $ctrl.dropdownsData"
                 data-ng-style="leaf.data.style">
                <select data-ng-model="$ctrl.treeRelation[$index]" style="width: 300px;">
                    <option value="">{{leaf.data.name}}</option>
                    <option data-ng-repeat="option in $ctrl.entitiesList(leaf.data.attr)"
                            value="{{option.uuid}}">{{option.value.title}}
                    </option>
                </select>
                <button type="button"
                        class="btn btn-link"
                        data-ng-if="$ctrl.treeRelation[$index]"
                        data-ng-click="$ctrl.addRelation(leaf, $ctrl.treeRelation[$index])"
                        data-ng-disabled="$ctrl._ui.loading">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer project-tree">
</div>
