<div class="table-responsive" data-ng-class="{'preview-wrapper': $ctrl.browser.showPreviewListing}">
    <div data-ds-infinite-scroll
         data-scroll-bottom="$ctrl.scrollToBottom()"
         data-bottom-height="0"
         data-ng-if="$ctrl.browser.showMainListing ||
                     ($ctrl.browser.showPreviewListing &&
                       $ctrl.browser.project.value.projectType == 'other' &&
                       (!$ctrl.browser.publishPipeline ||
                         $ctrl.browser.publishPipeline == 'select' ||
                         $ctrl.browser.publishPipeline == 'review'))"
    >
        <div>
            <span ng-repeat="path in $ctrl.breadcrumbs">
                <span ng-if="!$last"><a ng-click="$ctrl.breadcrumbBrowse($ecent, path)">{{ path || 'Main' }}</a> / </span>
                <span ng-if="$last">{{ path || 'Main' }}</span>
            </span>
        </div>
        <table class="files-listing-table table table-bordered table-striped"
               style="background-color: #fff;">
            <thead ng-hide="$ctrl.categoryList()">
                <tr>
                    <th>
                        <span ng-if="$ctrl.allowSelect">
                            <i class="fa fa-lg fa-check-square" style="color:#337ab7;" ng-click="$ctrl.selectAll()"></i>
                            <span>Name</span>
                        </span>
                        <span ng-if="!$ctrl.allowSelect">Name</span>
                    </th>
                    <th>Size</th>
                    <th>Last modified</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-if="!$ctrl.browser.busyListing"
                    data-ng-repeat="item in $ctrl.listing().children"
                    ng-class="{highlight: item._ui.selected}"
                >
                    <td class="unselectable">
                        <span ng-if="!$ctrl.categoryList()">
                            <span class="fa-stack fa-lg" style="margin: -8px;" ng-if="item._ui.selected" data-ng-click="$ctrl.onSelect($event, item)">
                                <i class="fa fa-square fa-stack-1x" style="color: white;"></i>
                                <i class="fa fa-check-square fa-stack-1x" style="color:#1CB500;"></i>
                            </span>
                            <span class="fa-stack fa-lg" style="margin: -8px;" ng-if="!item._ui.selected" data-ng-click="$ctrl.onSelect($event, item)">
                                <i class="fa fa-square fa-stack-1x" style="color: white;"></i>
                                <i class="fa fa-square-o fa-stack-1x" style="color:lightgray;"></i>
                            </span>
                        </span>
                        <i class="fa {{ item.icon() }}">&nbsp;</i>
                        <a data-ng-href="{{ item.href }}" data-ng-click="$ctrl.onBrowse($event, item)">
                            {{ item.name }}
                        </a>
                        <div class="project-categories">
                            <div class="file-categories"
                                 data-ng-if="$ctrl.browser.project && !$ctrl.browser.loadingEntities">
                                <file-categories data-project="$ctrl.browser.project"
                                                 data-file="item"
                                >
                                </file-categories>
                            </div>
                            <div class="file-categories-selector"
                                 data-ng-if="$ctrl.browser.project &&
                                 $ctrl.browser.project.value.projectType != 'other' &&
                                 !$ctrl.browser.loadingEntities"
                            >
                                <file-category-selector data-project="$ctrl.browser.project"
                                                        data-file="item"
                                >
                                </file-category-selector>
                            </div>
                            <div data-ng-if="$ctrl.browser.loadingEntities">
                                <i class="fa fa-spinner fa-spin">&nbsp;</i> Loading ...
                            </div>
                        </div>
                    </td>
                    <td data-ng-if="item.format== 'folder'">--</td>
                    <td data-ng-if="item.format== 'raw'">{{ item.length|bytes }}</td>
                    <td ng-hide="$ctrl.categoryList()">{{ item.lastModified|date:"short" }}</td>
                </tr>
                <tr data-ng-if="$ctrl.browser.busyListingPage">
                    <td>
                        <span class="bg-info text-info">
                            <i class="fa fa-spinner fa-spin">&nbsp;</i>
                            Loading...
                        </span>
                    </td>
                </tr>
            </tbody>
            <caption style="padding:0px;">
                <div data-ng-if="$ctrl.browser.busy"
                     style="padding:10px; font-size:large; width:100%;"
                     class="bg-info"
                 >
                    <span>
                        <i class="fa fa-spinner fa-spin">&nbsp;</i>
                        Loading...
                    </span>
                </div>
                <div data-ng-if="! $ctrl.browser.busy && $ctrl.browser.error" class="text-center">
                    <div class="alert alert-danger">
                        <div data-ng-if="$ctrl.browser.error.message"
                             data-ng-bind-html="$ctrl.browser.error.message">
                            {{$ctrl.browser.error}}
                        </div>
                        <div data-ng-if="!$ctrl.browser.error.message">
                            Something went wrong.
                        </div>
                    </div>
                </div>
                <div data-ng-if="! $ctrl.browser.busy &&
                                 ! $ctrl.browser.error &&
                                 ($ctrl.listing().children|length) === 0"
                     style="background-color: #fff;border: 1px solid #ddd;padding:8px;"
                     class="text-center"
                >
                    <p class="lead" style="margin-top:20px" ng-if="!$ctrl.categorySelect() && !$ctrl.categoryList()">
                        This folder is empty! <br />
                        <i class="fa fa-folder-open-o">&nbsp;</i><br/>
                        <a data-ng-if="$ctrl.listing().system.indexOf('project-') == 0"
                           href="https://www.youtube.com/watch?v=ISrPManDVCYi&list=PL2GxvrdFrBlkwHBgQ47pZO-77ZLrJKYHV"
                           target="_blank"
                        >
                            <i class="fa fa-question-circle">&nbsp;</i>
                            Learn how to move files to a project
                        </a>
                    </p>
                    <p class="lead" style="margin-top:20px" ng-if="$ctrl.categorySelect() || $ctrl.categoryList()">
                        This category is empty <br />
                        <i class="fa fa-file-text-o">&nbsp;</i><br/>
                    </p>
                </div>
            </caption>
        </table>
    </div>
</div>
