{% extends "base.html" %}
{% load cms_tags static sekizai_tags%}

{% block title %}
NHERI Facilities Scheduling Dashbaord
{% endblock %}
{% block head_extra %}
    <base href="{% url 'nco:scheduler' %}">
{% endblock %}

{% block content %}

  <div class="container">
    <!-- PAGE INTRO ROW -->
    <div class="top-row">
      <!-- SCHEDULER INTRO -->
      <div class="title-intro-box">
              <h1> Facility Scheduling Dashboard </h1>
              <h3><em>Centralized management for NSF-funded awards using NHERI</em></h3>
              <p>At any given time, dozens of research projects are underway at NHERI's <a href="/facilities/experimental/">eight Experimental Facilities</a>. The Facility Scheduling Dashboard provides researchers with a centralized location for managing project experiments and offers a public view of the work underway at NHERI facilities.</p>
              <p>The NHERI <a href="/facilities/nco/">Network Coordination Office (NCO)</a> oversees NHERI's centralized scheduling and will be rolling out phased updates to the Scheduling Dashboard.</p>
        <p>Questions?  Contact <a href="mailto:zehner2@purdue.edu">Dan Zehner</a>, NCO Facility Scheduling and Operations Coordinator.</p>
      </div>

      <!-- TOP ACTION BOX -->
      <div class="top-action-box">
        <div style="clear: both;">
          <div class="box-topper box-topper-ef text-center top-action-icon"><i class="ds-icon ds-icon-toolbox"></i></div>
          <div style="padding-top: 10px;">
            <p><b><a href="/facilities/scheduling/request/">Request a New Project</a></b></p>
          </div>
        </div>

        <div style="clear: both;">
          <div class="box-topper box-topper-ef text-center top-action-icon"><i class="ds-icon ds-icon-toolbox"></i></div>
          <div style="padding-top: 10px;">
            <p><b><a href="/facilities/scheduling/protocol/">NHERI Scheduling Protocol</a></b></p>
          </div>
        </div>

        <div style="clear: both;">
          <div class="box-topper box-topper-ef text-center top-action-icon"><i class="ds-icon ds-icon-toolbox"></i></div>
          <div style="padding-top: 10px;">
            <p><b><a href="/facilities/">NHERI Experimental Facilities</a></b></p>
          </div>
        </div>

        <div style="clear: both;">
          <div class="box-topper box-topper-ef text-center top-action-icon"><i class="ds-icon ds-icon-toolbox"></i></div>
          <div style="padding-top: 10px;">
            <p><b><a href="/facilities/nco/contact/">Questions? Contact Us</a></b></p>
          </div>
        </div>
      </div>
    </div>

    <hr class="top-line"/>

    <!-- SCHEDULER VIEW -->
    <nco-scheduler>
      <div class="bg-info text-info" data-ng-if="!$ctrl.initialized">
        <i role="none" class="fa fa-spinner fa-spin">&nbsp;</i> Loading...
      </div>
    </nco-scheduler>

    <!-- CLOSING ROW -->
    <hr class="mid-line"/>
    <h3>About the NHERI Network Coordination Office</h3>
    <p>
      The NCO's centralized facility oversight and coordination allows for fair and transparent use of these NSF-funded
      Experimental Facilities following a scheduling protocol developed in cooperation with facilities.
      The <a href="/facilities/nco">NHERI NCO</a> developed and currently maintains the NHERI Facility
      Scheduling Dashboard as part of its administrative and governance roles within the NHERI network.
      The NHERI scheduling protocol is available <a href="/facilities/scheduling/protocol">here</a>.
    </p>
  </div>

  {% addtoblock "css" %}
    <link href="{% static 'scripts/nco/styles/nco_scheduler_styles.css' %}" rel="stylesheet">
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script src="<%= htmlWebpackPlugin.files.js %>"></script>
  {% endaddtoblock %}
{% endblock %}
