{% extends "base.html" %}
{% load cms_tags static sekizai_tags%}

{% block title %}
NHERI Facilities Scheduling Dashbaord
{% endblock %}
{% block head_extra %}
    <base href="{% url 'nco:ttc_grants' %}">
{% endblock %}

{% block content %}

    <div class="container">
	    <!-- PAGE INTRO ROW -->
        <div class="top-row ttc-intro">
	        <!-- TTC INTRO -->
              <h1>NHERI Grant Research</h1>
            Search for NSF-funded research awards that employ one or more NHERI resources.
            <br />
            The NCO Technology Transfer Committee maintains this database as a way for potential users
            of NHERI research and other researchers to discover cognate investigations conducted within the NHERI network.
            <br /><br />
            Questions? Contact the NCO Technology Transfer Committee [ttc-inquiry@designsafe-ci.org].
            <ul>
                <li><a href="https://www.designsafe-ci.org/community/ttc/">TTC Webpage</a></li>
                <li>Contact TTC: ttc-inquiry@designsafe-ci.org</li>
                <li><a href="https://www.designsafe-ci.org/nco/scheduler/">NHERI Scheduler Database</a></li>
                <li><a href="https://www.designsafe-ci.org/news/">NHERI News</a></li>
            </ul>
	    </div>
        <hr class="top-line"/>

        <!-- Grants VIEW -->
        <nco-ttc-grants>
            <div class="bg-info text-info" data-ng-if="!$ctrl.initialized">
                <i role="none" class="fa fa-spinner fa-spin">&nbsp;</i> Loading...
            </div>
        </nco-ttc-grants>
    </div>

	<!-- CLOSING ROW -->
    <hr />
	<div class="mid-line"></div>

    {% addtoblock "css" %}
        <link href="{% static 'scripts/nco/styles/nco_ttc_grants_styles.css' %}" rel="stylesheet">
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="<%= htmlWebpackPlugin.files.js %>"></script>
    {% endaddtoblock %}
{% endblock %}
