{% if listing|length == 1 %}
<section class="
    s-app-version-list
    {{ is_simcenter|yesno:"is-simcenter" }}
" id="app-var-{{listing.0.id}}-v{{listing.0.version}}">
    <h2>Already know everything?</h2>
    {% for variant in listing %}
    {% include 'designsafe/apps/workspace/app_variant_plugin_button.html' %}
    {% endfor %}
</section>
{% else %}
<section class="
    s-app-version-list
    {{ is_simcenter|yesno:"is-simcenter" }}
">
    <h2>Select a Version</h2>
    {% for variant in listing %}
    <article id="app-var-{{variant.id}}-v{{variant.version}}">
        <h3>{{variant.label}}</h3>
        {% include 'designsafe/apps/workspace/app_variant_plugin_button.html' %}
        <p>{{variant.description}}</p>
    </article>
    {% endfor %}
</section>
{% endif %}
