<section style="background-color: #f4f4f4; padding: 25px;">
    <h3>Select a Version</h3>
    {% for variant in listing %}
    <article>
        <div style="display:flex; align-items: center; justify-content: space-between;">
            <h4>{{variant.label}}</h4>
            <a href="#"><button class="btn btn-success">Get Started</button></a>
        </div>
        <p>{{variant.description}}</p>
        {% if listing.count > forloop.counter %}
        <hr />
        {% endif %}
    </article>
    {% endfor %}
</section>