<a class="c-app-card" href="{{app.href}}">
    <h3 class="c-app-card__title"><i class="ds-icon ds-icon-{{app.icon}}"></i> {{app.label}}</h3>

    <p class="c-app-card__desc">{{app.description}}</p>

    {% if app.tags|length > 0 %}
    <ul class="c-app-card__types">
        {% for tag in app.tags %}
        <li>{{tag}}</li>
        {% endfor %}
    </ul>
    {% else %}
    <!-- No tags -->
    {% endif %}

    <ul class="c-app-card__flags">
        {% if app.is_popular %}
        <li><strong>Popular</strong></li>
        {% endif %}

        {% if not app.is_popular and app.is_simcenter %}
        <li>SimCenter</li>
        {% endif %}


        <li class="c-app-card__repo">{{app.license_type}}</li>
    </ul>
</a>
