{% extends "base_angular.html" %}
{% load cms_tags staticfiles sekizai_tags pipeline %}
{% block title %}Workspace{% endblock %}
{% block content %}

<div class="container">
    <h1 class="headline headline-research">
        <span class="hl hl-research">Workspace</span>
    </h1>
</div>

<div class="container" role="main" ng-app="WorkspaceApp">
  <div class="workspace-panel" ng-controller="ApplicationTrayCtrl" ng-include="'{% static 'designsafe/apps/workspace/html/application-tray.html' %}'"></div>
  <div class="row row-flex row-flex-wrap">
    <div class="col-md-9">
      <div class="workspace-panel" ng-controller="ApplicationFormCtrl" ng-include="'{% static 'designsafe/apps/workspace/html/application-form.html' %}'"></div>
    </div>
    <div class="col-md-3">
      <div class="workspace-panel" ng-controller="JobsStatusCtrl" ng-include="'{% static 'designsafe/apps/workspace/html/jobs-status.html' %}'"></div>
    </div>
  </div>
</div>

{% addtoblock "css" %}
  <link href="{% static 'designsafe/apps/workspace/styles/workspace.css' %}" rel="stylesheet">
{% endaddtoblock %}

{% addtoblock "js" %}
  <script type="text/javascript" src="{% static 'vendor/ngstorage/ngStorage.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/angular-translate/angular-translate.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/angular-cookies/angular-cookies.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/angular-sanitize/angular-sanitize.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/tv4/tv4.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/objectpath/lib/ObjectPath.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/angular-schema-form/dist/schema-form.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/angular-schema-form/dist/bootstrap-decorator.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/underscore/underscore.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/filesaver/FileSaver.js' %}"></script>
  <script type="text/javascript" src="{% static 'djangular/js/django-angular.js' %}"></script>
{% endaddtoblock %}

{% addtoblock 'js' %}
  <script src="{% static 'designsafe/apps/workspace/scripts/app.js' %}"></script>
  <script src="{% static 'designsafe/apps/workspace/scripts/controllers/application-tray.js' %}"></script>
  <script src="{% static 'designsafe/apps/workspace/scripts/controllers/application-form.js' %}"></script>
  <script src="{% static 'designsafe/apps/workspace/scripts/controllers/jobs-status.js' %}"></script>
  <script src="{% static 'designsafe/apps/workspace/scripts/services/apps-service.js' %}"></script>
  <script src="{% static 'designsafe/apps/workspace/scripts/services/jobs-service.js' %}"></script>
  <script src="{% static 'designsafe/apps/signals/scripts/module.js' %}"></script>
  <script src="{% static 'designsafe/apps/signals/scripts/provider.js' %}"></script>
{% endaddtoblock %}

{% endblock %}