{% extends "base_angular.html" %}
{% load cms_tags static sekizai_tags%}
{% block title %}Tools & Applications{% endblock %}
{% block content %}

<div id="apps-root"></div>

{% addtoblock "css" %}
<link href="{% static 'scripts/workspace/styles/workspace.css' %}" rel="stylesheet">
{% endaddtoblock %}

{% addtoblock "js" %}
{% if debug %}
<script type="module">
    import RefreshRuntime from 'https://designsafe.dev:4200/static/@react-refresh';
    RefreshRuntime.injectIntoGlobalHook(window);
    window.$RefreshReg$ = () => {};
    window.$RefreshSig$ = () => (type) => type;
    window.__vite_plugin_react_preamble_installed__ = true;
  </script>
  <script type="module" src="https://designsafe.dev:4200/static/@vite/client"></script>
  <script type="module" src="https://designsafe.dev:4200/static/src/main.tsx"></script>
{% else %}
{% include "imports.html" %}
{% endif %}
{% endaddtoblock %}

{% endblock %}
