<uib-accordion>
    <div uib-accordion-group class="panel panel-default" is-open="status.open">
        <uib-accordion-heading>
            <span> File Metadata </span>
            <i class="pull-right fa" ng-class="{'fa-chevron-circle-up': status.open, 'fa-chevron-circle-down': !status.open}"></i>
        </uib-accordion-heading>
        <label>File Details</label>
        <table class="table-preview" style="table-layout: fixed;" id="file_metadata_table">
            <tbody>
                <tr>
                    <th>File name</th>
                    <td>{{ $ctrl.file.name }}</td>
                </tr>
                <tr>
                    <th>File path</th>
                    <td>{{ $ctrl.file.path }}</td>
                </tr>
                <tr>
                    <th>File size</th>
                    <td ng-if='$ctrl.file.length'>{{ $ctrl.file.length|bytes }}</td>
                    <td ng-if='$ctrl.file.size'>{{ $ctrl.file.size|bytes }}</td>
                </tr>
                <tr>
                    <th>Last modified</th>
                    <td>{{ $ctrl.file.lastModified|date:"short" }}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <!-- Static -->
        <div class="form-group">
            <label>File Metadata (no edit)</label>
            <pre class="table-preview" ng-if="$ctrl.data && !$ctrl._ui.loading">{{$ctrl.metaInput}}</pre>
            <div class="table-preview" ng-if="!$ctrl.data && !$ctrl._ui.loading">
                This file does not have associated Metadata.
            </div>
        </div>
        <hr>
        <!-- Modify -->
        <div class="form-group">
            <label>File Metadata (edit)</label>
            <div ng-if="!$ctrl._ui.loading">
                <div ng-if="!$ctrl._ui.edit && !$ctrl.data">
                    <div class="table-preview">This file does not have associated Metadata.</div>
                    <button class="btn btn-sm" ng-click="$ctrl.editMeta()"> Add Metadata </button>
                </div>
                <div ng-if="!$ctrl._ui.edit && $ctrl.data">
                    <pre class="table-preview">{{$ctrl.metaInput}}</pre>
                    <button class="btn btn-sm" ng-click="$ctrl.editMeta()"> Edit </button>
                </div>
                <div ng-if="$ctrl._ui.edit">
                    <div>Your supplied metadata must be in JSON format</div>
                    <textarea type="text"
                            class="table-preview"
                            style="resize: vertical;"
                            rows="4"
                            id="user-meta"
                            ng-value="$ctrl.metaInput"
                            ng-model="$ctrl.metaInput"
                            ng-required="true">
                    </textarea>
                    <button class="btn btn-sm btn-add" ng-click="$ctrl.saveMeta()"> Submit </button>
                    <button class="btn btn-sm btn-danger" ng-click="$ctrl.deleteMeta()"> Delete </button>
                    <button class="btn btn-sm" ng-click="$ctrl.editMeta()"> Cancel </button>
                </div>
            </div>
            <div ng-if="$ctrl._ui.loading">
                <h3 class="text-center">
                    <i class="fa fa-spinner fa-spin"></i> Loading...
                </h3>
            </div>
        </div>
    </div>
</uib-accordion>
<hr>
