<div class="nco-scheduler-filters">
    <h3 class="sort-title">Filters:</h3>
    <div class="filter form-group"
         data-ng-repeat="filter in $ctrl.filterValues">
        <select name="{{filter.name}}"
                id="filter-{{filter.name}}"
                data-ng-model="$ctrl.filterSel[filter.name]"
                data-ng-options="name for name in filter.value"
                data-ng-change="$ctrl.applyFilterAndSort()"
                class="form-control">
            <option value="">-- Filter by {{filter.name}} --</option>
        </select>
    </div>
    <div class="filter form-group">
        <span class="fa-stack fa-lg" style="margin: -8px;" ng-if="$ctrl.historyEnabled" data-ng-click="$ctrl.toggleHistory()">
            <i class="fa fa-square fa-stack-1x" style="color: white;"></i>
            <i class="fa fa-check-square fa-stack-1x" style="color: #1CB500;"></i>
        </span>
        <span class="fa-stack fa-lg" style="margin: -8px;" ng-if="!$ctrl.historyEnabled" data-ng-click="$ctrl.toggleHistory()">
            <i class="fa fa-square fa-stack-1x" style="color: white;"></i>
            <i class="fa fa-square-o fa-stack-1x" style="color: lightgray;"></i>
        </span>
        <label date-ng-click="$ctrl.toggleHistory()">Show Past Events</label>
    </div>
    <span style="width: 75px; display: inline-block;">&nbsp;</span>
    <h3 class="sort-title">Sort by:</h3>
    <div class="sort form-group">
        <select name="sort-by"
                id="sort-by"
                data-ng-model="$ctrl.sortby"
                data-ng-options="name for name in $ctrl._ui.sortBy"
                data-ng-change="$ctrl.applyFilterAndSort()"
                class="form-control">
            <option value="">-- Select a sorting option --</option>
        </select>
    </div>
</div>
