<div class="modal-header" id="modal-header" style="background: #e6e6e6;">
    <h4 class="modal-title" style="border:none;">
        <span>Add Missions</span>
        <span class="pull-right" data-ng-click="$ctrl.close()">
            <i class="fa fa-times">&nbsp;</i>
        </span>
    </h4>
</div>
<div class="modal-body">
    <div class="error" data-ng-if="$ctrl.data.error">
        {{$ctrl.data.error}}
    </div>
    <div class="well">
        <form name="addForm">
            <div class="expTitle form-group">
                <label for="id-title">
                    <div style="display: flex; flex-direction: column">
                        <div>
                            <span class="pull-left" style="margin-right: 5px">Mission Title</span>
                            <span class="label label-danger">Required</span>
                        </div>
                        <span style="display: block; font-weight:normal;">
                            Different from the Project Title. Make it focused on the methods used to obtain the data.
                        </span>
                    </div>
                </label>
                <input type="text"
                       id="id-title"
                       data-ng-model="$ctrl.form.title"
                       data-ng-required="true"
                       class="form-control"/>
            </div>
            <div class="expEvent form-group">
                <label for="id-event">
                    <div style="display: flex; flex-direction: column">
                        <div>
                            <span class="pull-left" style="margin-right: 5px">Event</span>
                        </div>
                        <span style="display: block; font-weight:normal;">
                            The event to which the mission is associated.
                        </span>
                    </div>
                </label>
                <input type="text"
                       id="id-event"
                       data-ng-model="$ctrl.form.event"
                       class="form-control"/>
            </div>
            <div class="form-group">
                <label for="id-date-start">
                    <div style="display: flex; flex-direction: column">
                        <div>
                            <span class="pull-left" style="margin-right: 5px">Date(s) of Mission</span>
                            <span class="label label-danger">Required</span>
                        </div>
                        <span style="display: block; font-weight:normal;">
                            The entire time spent deployed on the mission.
                            If you only want to enter a single date, fill in the first field.
                        </span>
                    </div>
                </label>
                <div style="display:flex; width:50%;">
                    <input  class="form-control"
                            type="date"
                            ng-model="$ctrl.form.dateStart"
                            ng-required="true">
                    <span style="padding:6px;">&#8213;</span>
                    <input  class="form-control"
                            type="date"
                            ng-model="$ctrl.form.dateEnd"
                            ng-required="false">
                </div>
            </div>
            <div class="expAuthors form-group">
                <label for="id-authorship">
                        <div style="display: flex; flex-direction: column">
                            <div>
                                <span class="pull-left" style="margin-right: 5px">Assign Authorship</span>
                                <span class="label label-danger">Required</span>
                            </div>
                            <span style="display: block; font-weight:normal;">
                                You can order the authors during the publication process.
                            </span>
                        </div>
                    </label>
                <div class="form-group">
                    <div ng-repeat="usr in $ctrl.form.authors track by $index"
                        style="width:46%; display:inline-block; white-space: nowrap;">
                        <input type="checkbox"
                                format="lname"
                                ng-checked="usr.authorship"
                                id="{{ 'newAuthor' + $index }}"
                                data-ng-model="usr.authorship"
                                data-ng-required="$ctrl.validAuthors()">
                        <ds-user ng-if="!usr.guest" username="usr.name" format="lname">{{ usr.name }}</ds-user>
                        <span ng-if="usr.guest">{{ usr.lname }}, {{ usr.fname }}</span><br>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="id-location">
                    <div style="display: flex; flex-direction: column">
                        <div>
                            <span class="pull-left" style="margin-right: 5px">Mission Site Location</span>
                            <span class="label label-danger">Required</span>
                        </div>
                    </div>
                </label>
                <div>
                    <div style="width: 55%; display:inline-block;">
                        <label for="id-location" class="label-secondary">
                            Geolocation
                        </label>
                        <input type="text"
                               id="id-location"
                               data-ng-model="$ctrl.form.location"
                               data-ng-required="true"
                               class="form-control"/>
                    </div>
                    <div style="width: 21%; display:inline-block; margin-left:5px;">
                        <label for="id-location" class="label-secondary">
                            Latitude
                        </label>
                        <input type="text"
                               id="id-latitude"
                               data-ng-model="$ctrl.form.latitude"
                               data-ng-required="true"
                               class="form-control"/>
                    </div>
                    <div style="width: 21%; display:inline-block; margin-left:5px;">
                        <label for="id-location" class="label-secondary">
                            Longitude
                        </label>
                        <input type="text"
                               id="id-longitude"
                               data-ng-model="$ctrl.form.longitude"
                               data-ng-required="true"
                               class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="id-description">
                    <div style="display: flex; flex-direction: column">
                        <div>
                            <span class="pull-left" style="margin-right: 5px">Mission Description</span>
                            <span class="label label-danger">Required</span>
                        </div>
                        <span style="display: block; font-weight:normal;">
                            What types of damages and structures/natural features were observed?
                            What methods were used to gather the data?
                        </span>
                    </div>
                </label>
                <textarea style="width:100%; height:3em; resize: vertical;"
                          id="id-description"
                          data-ng-model="$ctrl.form.description"
                          data-ng-required="true">
                    &nbsp;
                </textarea>
            </div>
        <!-- Update Exp Btn -->
            <div class="text-right">
                <button class="btn btn-add"
                        type="submit"
                        data-ng-if="$ctrl.data.editMission"
                        data-ng-click="addForm.$valid && $ctrl.updateMission($event)"
                >
                    Update
                </button>
            </div>
            <div class="text-right">
            <button class="btn btn-add"
                    data-ng-click="addForm.$valid && $ctrl.saveMission($event)"
                    data-ng-if="!$ctrl.data.editMission"
                    type="submit"
            >
                <i class="fa fa-plus">&nbsp;</i>
                Add Mission
            </button>
            </div>
        </form>
    </div>
    <div>
        <div>
            <label>Mission Inventory</label>
        </div>
        <div class="dropdown">
            <div data-ng-repeat="mission in $ctrl.data.missions">
                <div class="dropdown dropdown-spacer-sm">
                    <button class="btn collapsed tab-gray" data-toggle="collapse"
                            data-target="#files-{{mission.uuid}}" style="width: 100%;">
                        <div class="collapse-tab">
                            <span class="collapse-tab-content-left">Mission | <strong>{{mission.value.title}}</strong></span>
                            <span class="collapse-tab-content-right curation-chevron"></span>
                        </div>
                    </button>
                    <div id="files-{{mission.uuid}}" class="collapse dropdown-spacer-lg">
                        <div class="well">
                            <div class="entity-meta-field">
                                <div data-ng-if="mission.value.event">
                                    <div class="entity-meta-label-multi">Event</div>
                                    <div class="entity-meta-data">
                                        <div>
                                            {{mission.value.event}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="entity-meta-field">
                                <div class="entity-meta-label-multi">Author(s)</div>
                                <div class="entity-meta-data">
                                    <div data-ng-repeat="author in mission.value.authors | orderBy: 'order'"
                                         data-ng-if="!author.length && author.authorship">
                                        <span data-ng-if="!author.guest">
                                            <ds-user data-username="author.name" data-format="lname">
                                                {{author}}
                                            </ds-user>
                                        </span>
                                        <span data-ng-if="author.guest">
                                            {{author.lname}}, {{author.fname}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="entity-meta-field">
                                <div class="entity-meta-label">Date of Mission</div>
                                <div class="entity-meta-data">
                                    <span>{{mission.value.dateStart | date:'MM-dd-yyyy'}}</span>
                                    <span ng-if="mission.value.dateEnd && mission.value.dateEnd !== mission.value.dateStart">
                                        &#8213; {{mission.value.dateEnd | date:'MM-dd-yyyy' }}
                                    </span>
                                </div>
                            </div>
                            <div class="entity-meta-field">
                                <div class="entity-meta-label-multi" data-ng-if="mission.value.location">
                                    Site Location
                                </div>
                                <div class="entity-meta-data"
                                     data-ng-if="mission.value.location">
                                    <ul style="list-style:none; padding-left:0;">
                                        <li>
                                            <span data-ng-if="mission.value.location">
                                                {{mission.value.location}} | 
                                            </span>
                                            <span data-ng-if="mission.value.latitude">
                                                Lat {{mission.value.latitude}}
                                            </span>
                                            <span data-ng-if="mission.value.longitude">
                                                Long {{mission.value.longitude}}
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div style="margin-top:10px;">
                                {{ mission.value.description}}
                            </div>
                            <div style="margin-top: 10px;">
                                <button type="button"
                                        class="btn btn-link"
                                        data-ng-click="$ctrl.editMission(mission)">
                                    Edit
                                </button>
                                <span> | </span>
                                <button type="button"
                                        class="btn btn-link"
                                        data-ng-click="$ctrl.deleteMission(mission)">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
