<div class="file-categories-content">
    <!--
    <div class="loading" data-ng-if="$ctrl._ui.busy">
        <i class="fa fa-spinner fa-spin">&nbsp;</i> Loading...
    </div>
    -->
    <div ng-if="!$ctrl._ui.isOther">
        <div ng-if="$ctrl.editTags">
            <div class="tag-item" data-ng-repeat="entityTag in $ctrl.file._entityTags">
                {{entityTag}}
            </div>
            <div style="width:100%;" class="file-tag-list">
                <table class="file-tag-item file-tag-table" data-ng-repeat="parent in $ctrl.file._parent_entities">
                    <tr style="vertical-align: top;">
                        <td style="width:49%">
                            <div class="file-category-label">
                                <span class="label curation" data-ng-class="parent.cssClasses()['tag']">
                                    {{ parent.value.title }}
                                </span>
                            </div>
                        </td>
                        <td style="width:49%">
                            <div class="file-tag-label" style="display: inline-block;" data-ng-repeat="tag in $ctrl.tagsForFile(parent.value.fileTags, $ctrl.file.path)">
                                <span>{{tag.tagName}}</span>
                                <button class="btn-link"
                                        data-ng-click="$ctrl.removeFileTag(parent, tag)"
                                        data-ng-disabled="$ctrl._ui.busy">
                                    Remove
                                </button>
                            </div>
                            <div class="file-tag-selector">
                                <select name="project-file-tags"
                                        data-ng-model="$ctrl.selectedFileTag[parent.uuid]"
                                        class="form-control project-file-tags-select">
                                    <option value="" data-ng-if="$ctrl.fileTagsForEntity(parent).name == 'Analysis'">
                                        -- Select an {{$ctrl.fileTagsForEntity(parent).name}} File Tag --
                                    </option>
                                    <option value="" data-ng-if="$ctrl.fileTagsForEntity(parent).name != 'Analysis'">
                                        -- Select a {{$ctrl.fileTagsForEntity(parent).name}} File Tag --
                                    </option>
                                    <optgroup data-ng-repeat="(tagName, tags) in $ctrl.fileTagsForEntity(parent).tags"
                                            label="{{tagName}}">
                                        <option value="other">
                                            Other
                                        </option>
                                        <option data-ng-repeat="tag in tags"
                                                value="{{tag}}">
                                            {{tag}}
                                        </option>
                                    </optgroup>
                                </select>
                                <input class="input-tag"
                                    ng-if="$ctrl.selectedFileTag[parent.uuid] === 'other' "
                                    ng-model="$ctrl.otherTagName[parent.uuid]"
                                    placeholder="Enter your custom tag..."
                                >
                                <input class="input-tag"
                                    ng-if="$ctrl.selectedFileTag[parent.uuid] === 'Location' "
                                    ng-model="$ctrl.locationTag[parent.uuid]"
                                    placeholder="Enter your location..."
                                >
                                <input class="input-tag"
                                    ng-if="$ctrl.selectedFileTag[parent.uuid] === 'Lat Long' "
                                    ng-model="$ctrl.latLongTag[parent.uuid]"
                                    placeholder="Enter latitude and longitude coordinates..."
                                >
                                <!-- save custom tag -->
                                <button class="btn-link"
                                        ng-if="['other', 'Lat Long', 'Location'].includes($ctrl.selectedFileTag[parent.uuid])"
                                        data-ng-click="$ctrl.addFileTag(parent)"
                                        data-ng-disabled="$ctrl._ui.busy">
                                    Save
                                </button>
                                <!-- save tag -->
                                <button class="btn-link"
                                        ng-if="!['other', 'Lat Long', 'Location'].includes($ctrl.selectedFileTag[parent.uuid])"
                                        data-ng-click="$ctrl.addFileTag(parent)"
                                        data-ng-disabled="$ctrl._ui.busy || !$ctrl.selectedFileTag[parent.uuid]">
                                    Save
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="file-tag-item file-tag-table" data-ng-repeat="entity in $ctrl.file._entities">
                    <tr style="vertical-align: top;">
                        <td style="width:49%;">
                            <div class="file-category-label">
                                <span class="label curation" data-ng-class="entity.cssClasses()['tag']">
                                    {{ entity.value.title }}
                                </span>
                                <button class="btn-link"
                                        style="padding:0px;"
                                        data-ng-click="$ctrl.removeCategory(entity)">
                                    Remove
                                </button>
                            </div>
                        </td>
                        <td style="width:49%">
                            <div class="file-tag-label" data-ng-repeat="tag in $ctrl.tagsForFile(entity.value.fileTags, $ctrl.file.path)">
                                <span>{{tag.tagName}}</span>
                                <button class="btn-link"
                                        data-ng-click="$ctrl.removeFileTag(entity, tag)"
                                        data-ng-disabled="$ctrl._ui.busy">
                                    Remove
                                </button>
                            </div>
                            <div class="file-tag-selector">
                                <select name="project-file-tags"
                                        data-ng-model="$ctrl.selectedFileTag[entity.uuid]"
                                        class="form-control project-file-tags-select">
                                    <option value="" data-ng-if="$ctrl.fileTagsForEntity(entity).name == 'Analysis'">
                                        -- Select an {{$ctrl.fileTagsForEntity(entity).name}} File Tag --
                                    </option>
                                    <option value="" data-ng-if="$ctrl.fileTagsForEntity(entity).name != 'Analysis'">
                                        -- Select a {{$ctrl.fileTagsForEntity(entity).name}} File Tag --
                                    </option>
                                    <optgroup data-ng-repeat="(tagName, tags) in $ctrl.fileTagsForEntity(entity).tags"
                                            label="{{tagName}}">
                                        <option value="other">
                                            Other
                                        </option>
                                        <option data-ng-repeat="tag in tags"
                                                value="{{tag}}">
                                            {{tag}}
                                        </option>
                                    </optgroup>
                                </select>
                                <input class="input-tag"
                                    ng-if="$ctrl.selectedFileTag[entity.uuid] === 'other' "
                                    ng-model="$ctrl.otherTagName[entity.uuid]"
                                    placeholder="Enter your custom tag..."
                                >
                                <input class="input-tag"
                                    ng-if="$ctrl.selectedFileTag[entity.uuid] === 'Location' "
                                    ng-model="$ctrl.locationTag[entity.uuid]"
                                    placeholder="Enter your location..."
                                >
                                <input class="input-tag"
                                    ng-if="$ctrl.selectedFileTag[entity.uuid] === 'Lat Long' "
                                    ng-model="$ctrl.latLongTag[entity.uuid]"
                                    placeholder="Enter latitude and longitude coordinates..."
                                >
                                <!-- save custom tag -->
                                <button class="btn-link"
                                        ng-if="['other', 'Lat Long', 'Location'].includes($ctrl.selectedFileTag[entity.uuid])"
                                        data-ng-click="$ctrl.addFileTag(entity)"
                                        data-ng-disabled="$ctrl._ui.busy">
                                    Save
                                </button>
                                <!-- save tag -->
                                <button class="btn-link"
                                        ng-if="!['other', 'Lat Long', 'Location'].includes($ctrl.selectedFileTag[entity.uuid])"
                                        data-ng-click="$ctrl.addFileTag(entity)"
                                        data-ng-disabled="$ctrl._ui.busy || !$ctrl.selectedFileTag[entity.uuid]">
                                    Save
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- preview/published tags -->
        <span data-ng-repeat="parent in $ctrl.file._parent_entities" ng-if="$ctrl.showTags">
            <span data-ng-repeat="tag in $ctrl.tagsForFile(parent.value.fileTags, $ctrl.parentPath)">
                <div class="tag-preview">
                    <span ng-if="!$last">{{tag.tagName}}, </span>
                    <span ng-if="$last">{{tag.tagName}}</span>
                </div>
            </span>
        </span>
        <span data-ng-repeat="entity in $ctrl.file._entities" ng-if="$ctrl.showTags">
            <span data-ng-repeat="tag in $ctrl.tagsForFile(entity.value.fileTags, $ctrl.file.path)">
                <div class="tag-preview">
                    <span ng-if="!$last">{{tag.tagName}}, </span>
                    <span ng-if="$last">{{tag.tagName}}</span>
                </div>
            </span>
        </span>
    </div>
    <!-- Other Projects -->
    <div ng-if="$ctrl._ui.isOther">
        <div class="file-tag-list" ng-if="$ctrl._ui.editTags">
            <div class="other-tag-item">
                <div class="other-tag-label" data-ng-repeat="tag in $ctrl.tagsForFile($ctrl.project.value.fileTags, $ctrl.file.path)">
                    <span>{{tag.tagName}}</span>
                    <button class="btn-link"
                            style="padding:0px;"
                            data-ng-click="$ctrl.removeProjectTag(tag)"
                            data-ng-disabled="$ctrl._ui.busy">
                        Remove
                    </button>
                </div>
                <div class="other-tag-selector">
                    <select class="form-control project-other-tags-select" data-ng-model="$ctrl.selectedFileTag[$ctrl.project.uuid]">
                        <option value="">-- Select File Tags --</option>
                        <option value="other">Other</option>
                        <option ng-repeat="tag in $ctrl.fileTagsForEntity('designsafe.project').tags">{{tag}}</option>
                    </select>
                    <div ng-if="$ctrl.selectedFileTag[$ctrl.project.uuid] === 'other' ">
                        <input class="input-tag other"
                            ng-model="$ctrl.otherTagName[$ctrl.project.uuid]"
                            placeholder="Enter your custom tag..."
                        >
                        <!-- save custom tag -->
                        <button class="btn-link"
                                style="padding:0px;"
                                data-ng-click="$ctrl.addProjectTag()" 
                                data-ng-disabled="$ctrl._ui.busy || !$ctrl.otherTagName[$ctrl.project.uuid]">
                            Save
                        </button>
                    </div>
                    <!-- save tag -->
                    <button class="btn-link"
                            style="padding:0px;"
                            ng-if="$ctrl.selectedFileTag[$ctrl.project.uuid] != 'other' "
                            data-ng-click="$ctrl.addProjectTag()"
                            data-ng-disabled="$ctrl._ui.busy || !$ctrl.selectedFileTag[$ctrl.project.uuid]">
                        Save
                    </button>
                </div>
            </div>
        </div>
        <span ng-repeat="tag in $ctrl.tagsForFile($ctrl.project.value.fileTags, $ctrl.file.path)" ng-if="$ctrl.showTags">
            <div class="tag-preview">
                <span ng-if="!$last">{{tag.tagName}}, </span>
                <span ng-if="$last">{{tag.tagName}}</span>
            </div>
        </span>
    </div>
    <!-- Other Projects -->
</div>
