<div class="file-categories-content">
    <div class="tag-item" data-ng-repeat="entityTag in $ctrl.file._entityTags">
        {{entityTag}}
    </div>
    <div style="width:100%;" class="file-tag-list">
        <div class="file-tag-item"
             data-ng-repeat="entity in $ctrl.file._entities"
         >
            <span class="label selected"
                  data-ng-class="entity.cssClasses()['tag']"
            >
                {{ entity.value.title }}
            </span>
            <button class="btn btn-link"
                    data-ng-click="$ctrl.removeCategory(entity)">
                Remove <i class="fa fa-times">&nbsp;</i>
            </button>
        </div>
    </div>
</div>
