<div class="modal-header" style="background: #e6e6e6;">
    <h4 class="modal-title" style="border: none;">
        <span>Add Collections</span>
        <span class="pull-right" data-ng-click="$ctrl.close()">
            <i class="fa fa-times">&nbsp;</i>
        </span>
    </h4>
</div>
<div class="modal-body">
    <div class="well">
        <form name="addForm" data-ng-hide="$ctrl.ui.showEditCollectionForm">
            <div class="text-center">
                <span style="color: #D04348; font-size:14px;">&#9679; </span>
                <span>Required for Curation & publication</span>
            </div>
            <div class="collection-title form-group">
                <label for="id-title">Collection Title
                    <span style="color: #D04348; font-size: 14px;">&#9679; </span>
                    <span style="display: block; font-weight: normal;">
                        Make it unique from other collections. Use sequential ordering if necessary.
                    </span>
                </label>
                <input type="text"
                       id="id-title"
                       data-ng-model="$ctrl.form.title"
                       data-ng-required="true"
                       class="form-control" />
            </div>
            <div class="observation-type form-group">
                <label for="id-observation-type">
                    Observation Type
                    <span style="color: #D04348; font-size: 14px;">&#9679; </span>
                    <span style="display: block; font-weight:normal;">
                        The nature or subject of the data collected.
                    </span>
                </label>
                <div data-ng-repeat="observationType in
                                     $ctrl.form.observationTypes">
                    <select id="id-observation-type"
                            style="margin-bottom: 5px"
                            data-ng-options="item for item in $ctrl.data.observationTypes"
                            data-ng-model="$ctrl.form.observationTypes[$index]"
                            data-ng-required="true"
                            class="form-control"
                            data-ng-if="$ctrl.showObservationDropdown($index)">
                    <option value="">-- Select Observation Type --</option>
                    </select>
                    <input type="text"
                           data-ng-model="$ctrl.form.observationTypes[$index]"
                           data-ng-if="$ctrl.showObservationInput($index)"
                           class="form-control"
                        />
                </div>
                <button type="button"
                        class="btn btn-link"
                        data-ng-click="$ctrl.addObservationType()">
                    <i class="fa fa-plus">&nbsp;</i> Add another Observation Type
                </button>
            </div>
            <div class="collection-dates form-group">
                <label for="id-date-start">
                    Date(s) of Collection
                    <span style="color: #D04348; font-size:14px;">&#9679; </span>
                    <span style="display: block; font-weight:normal;">
                        When the data in this collection was gathered.
                        If you only want to enter a single date, fill in the first field.
                    </span>
                </label>
                <div style="display: flex;">
                    <input type="text"
                           id="id-date-start"
                           data-uib-datepicker-popup="MM-dd-yyyy"
                           data-ng-model="$ctrl.form.dateStart"
                           data-is-open="isStartOpen"
                           placeholder="mm-dd-yyyy"
                           data-date-picker-options="dateOptions"
                           data-date-disabled="disabled(date, mode)"
                           data-ng-required="true"
                           data-close-text="Close"
                           class="form-control"
                           style="width: 25%; display:inline-block;" />
                    <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                data-ng-click="isStartOpen = !isStartOpen">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                    <span style="padding:6px; margin-left:30px;">
                        &#8213;
                    </span>
                    <input type="text"
                           id="id-date-end"
                           data-uib-datepicker-popup="MM-dd-yyyy"
                           data-ng-model="$ctrl.form.dateEnd"
                           data-is-open="isEndOpen"
                           placeholder="mm-dd-yyyy"
                           data-date-picker-options="dateOptions"
                           data-date-disabled="disabled(date, mode)"
                           data-ng-required="true"
                           data-close-text="Close"
                           class="form-control"
                           style="width: 25%; display:inline-block;" />
                    <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                data-ng-click="isEndOpen = !isEndOpen">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="data-collectors form-group">
                <label>Data Collectors
                    <span style="color: #D04348; font-size:14px;">&#9679; </span>
                    <span style="display: block; font-weight: normal;">
                        Who, specifically, collected this data?
                        You can order the data collectors later when you publish.
                    </span>
                </label>
                <div data-ng-repeat="usr in $ctrl.form.dataCollectors track by $index"
                     style="width: 45%;
                            display:inline-block;
                            white-space: nowrap;
                            margin-bottom:5px;">
                    <input type="checkbox"
                           data-format="lname"
                           id="{{ 'collector-' + $index }}"
                           data-ng-model="usr.authorship">
                        <ds-user data-ng-if="!usr.guest"
                                 data-username="usr.name"
                                 data-format="lname">
                            {{usr.name}}
                        </ds-user>
                        <span data-ng-if="usr.guest">
                            {{ usr.lname }}, {{ usr.fname }}
                        </span>
                </div>
            </div>
            <div class="site-location form-group">
                <label for="id-location">
                    Collection Site Location
                    <span style="color: #D04348; font-size:14px;">&#9679; </span>
                </label>
                <div>
                    <div style="width: 55%; display:inline-block;">
                        <label for="id-location">
                            Geolocation
                        </label>
                        <input type="text"
                               id="id-location"
                               data-ng-model="$ctrl.form.location"
                               data-ng-required="true"
                               class="form-control"/>
                    </div>
                    <div style="width: 13%; display:inline-block; margin-left:5px;">
                        <label for="id-location">
                            Latitude
                        </label>
                        <input type="text"
                               id="id-latitude"
                               data-ng-model="$ctrl.form.latitude"
                               data-ng-required="true"
                               class="form-control"/>
                    </div>
                    <div style="width: 13%; display:inline-block; margin-left:5px;">
                        <label for="id-location">
                            Longitude
                        </label>
                        <input type="text"
                               id="id-longitude"
                               data-ng-model="$ctrl.form.longitude"
                               data-ng-required="true"
                               class="form-control" />
                    </div>
                    <div style="width: 13%; display:inline-block; margin-left:5px;">
                        <label for="id-elevation">
                            Elevation
                        </label>
                        <input type="text"
                               id="id-elevation"
                               data-ng-model="$ctrl.form.elevation"
                               data-ng-required="true"
                               class="form-control" />
                    </div>
                </div>
            </div>
            <div class="instrument">
                <div style="width: 45%; display:inline-block;">
                    <label for="id-instrument">
                        Instrument
                        <span style="color: #D04348; font-size:14px;">&#9679; </span>
                        <span style="display: block; font-weight: normal;">
                            The equipment used to gather your data.
                        </span>
                    </label>
                </div>
                <div style="width: 45%; display:inline-block;">
                    <label form="id-instrument-model">
                        Instrument Manufacturer and Model
                        <span style="color: #D04348; font-size:14px;">
                            &#9679;
                        </span>
                    </label>
                </div>
                <div style="width: 45%;
                            display:inline-block;"
                     data-ng-repeat-start="instrument
                                           in $ctrl.form.instruments">
                    <select class="form-control"
                            data-ng-model="instrument.name"
                            style="margin-bottom: 5px;"
                            data-ng-if="$ctrl.showInstrumentDropdown($index)">
                        <option value="">-- Select Instrument --</option>
                        <optgroup data-ng-repeat="(group, labels) in $ctrl.data.instruments"
                                  label="{{group}}">
                            <option data-ng-repeat="label in labels"
                                    value="{{label}}">
                                {{label}}
                            </option>
                        </optgroup>
                    </select>
                    <input type="text"
                           data-ng-model="instrument.name"
                           data-ng-if="$ctrl.showInstrumentInput($index)"
                           class="form-control" />
                </div>
                <div style="width: 45%; display:inline-block;"
                     data-ng-repeat-end>
                    <input type="text"
                           data-ng-model="instrument.model"
                           class="form-control" />
                </div>
                <button class="btn btn-link"
                        type="button"
                        data-ng-click="$ctrl.addInstrument()">
                    <i class="fa fa-plus">&nbsp;</i> Add another Instrument
                </button>
            </div>
            <div class="referenced-data form-group">
                <div style="width:45%; display:inline-block;">
                    <label>
                        Referenced Data Title
                        <span style="display:block; font-weight: normal;">
                            Data from published projects or an
                            external repository.
                        </span>
                    </label>
                </div>
                <div style="width:45%; display:inline-block;">
                    <label>
                        Referenced Data DOI or URL
                    </label>
                </div>
                <div style="width:45%; display:inline-block; margin-bottom:5px"
                     data-ng-repeat-start="referenced
                                           in $ctrl.form.referencedDatas">
                    <input type="text"
                           data-ng-model="referenced.title"
                           class="form-control"/>
                </div>
                <div style="width: 45%; display:inline-block;"
                     data-ng-repeat-end>
                    <input type="text"
                           data-ng-model="referenced.url"
                           class="form-control"/>
                </div>
                <button class="btn btn-link"
                        data-ng-click="$ctrl.addReferenced()">
                    <i class="fa fa-plus">&nbsp;</i>
                    Add another Referenced Data
                </button>
            </div>
            <div class="description form-group">
                <label for="id-description">
                    Collection Description
                    <span style="color: #D04348; font-size:14px;">&#9679; </span>
                    <span style="display:block; font-weight:normal;">
                        Summarized the purpose of the collection and its files.
                        What is it about? What are its features?
                    </span>
                </label>
                <textarea style="width:100%; height:3em; resize: vertical;"
                          id="id-description"
                          data-ng-model="$ctrl.form.description"
                          data-ng-required="true">
                    &nbsp;
                </textarea>
            </div>
            <div class="text-right">
              <button class="btn btn-add"
                      type="submit"
                      data-ng-click="addForm.$valid &&
                                     $ctrl.updateCollection($event)"
                      data-ng-if="$ctrl.data.editCollection"
                      style="width:18%;">Update</button>
            </div>
            <div class="text-right">
              <button class="btn btn-add"
                      data-ng-click="addForm.$valid &&
                                     $ctrl.saveCollection($event)"
                      data-ng-if="!$ctrl.data.editCollection"
                      style="width:18%;"
                      type="submit">
                  <i class="fa fa-plus">&nbsp;</i>
                  Add Collection
              </button>
            </div>
        </form>
    </div>
    <div class="collection-list">
        <div class="collection-list-title">
            <label> Collection Inventory <label>
        </div>
        <div ng-repeat="collection in $ctrl.data.collections | orderBy: 'value.title'">
            <div class="dropdown dropdown-spacer-sm" id="details-{{collection.uuid}}">
                <button class="btn collapsed tab-collection-conf" data-toggle="collapse" data-target="#files-{{collection.uuid}}"
                    style="width:100%;">
                    <table style="width:100%">
                        <tr>
                            <td style="text-align: left;">
                                <span>Collection | <strong>{{collection.value.title}}</strong></span>
                            </td>
                            <td style="text-align: right;">
                                <span class="curation-chevron" style="font-size: 18px;"></span>
                            </td>
                        </tr>
                    </table>
                </button>
                <div id="files-{{collection.uuid}}" class="collapse">
                    <div class="well">
                        <div style="display: inline-block; width:20%;">Observation Type</div>
                        <div style="display: inline-block; width: 78%; font-weight:bold;">
                            <ul style="list-style: none; padding-left: 0;">
                                <li data-ng-repeat="ot in collection.value.observationTypes">
                                    {{ot}}
                                </li>
                            </ul>
                        </div>
                        <div style="display: inline-block; width:20%;">Date of Collection</div>
                        <div style="display: inline-block; width: 78%; font-weight:bold;">
                            <span>{{collection.value.dateStart | date:'MM-dd-yyyy'}}</span>
                            <span data-ng-if="mission.value.dateEnd">
                               &#8213; {{collection.value.dateEnd | date:'MM-dd-yyyy' }}
                            </span>
                        </div>
                        <div style="display: inline-block; width:20%; vertical-align: top;"
                             data-ng-if="collection.value.dataCollectors.length">
                            Data Collectors
                        </div>
                        <div style="display: inline-block; width:78%; font-weight: bold;"
                             data-ng-if="collection.value.dataCollectors.length">
                            <div data-ng-repeat="collector in collection.value.dataCollectors | orderBy: 'order'"
                                data-ng-if="!collector.length && collector.authorship">
                                <span data-ng-if="!collector.guest">
                                    <ds-user data-username="collector.name" data-format="lname">
                                        {{collector}}
                                    </ds-user>
                                </span>
                                <span data-ng-if="collector.guest">
                                    {{collector.lname}}, {{collector.fname}}
                                </span>
                            </div>
                        </div>
                        <div style="display: inline-block; width:20%; vertical-align: top;"
                             data-ng-if="collection.value.location">
                            Site Location
                        </div>
                        <div style="display: inline-block; width: 78%; font-weight:bold;"
                             data-ng-if="collection.value.location">
                            <ul style="list-style:none; padding-left:0;">
                                <li data-ng-if="collection.value.location">
                                    Place: {{collection.value.location}}
                                </li>
                                <li data-ng-if="collection.value.latitude">
                                    Lat: {{collection.value.latitude}}
                                </li>
                                <li data-ng-if="collection.value.longitude">
                                    Lon: {{collection.value.longitude}}
                                </li>
                                <li data-ng-if="collection.value.elevation">
                                    Elevation: {{collection.value.elevation}}
                                </li>
                            </ul>
                        </div>
                        <div style="display: inline-block; width:20%; vertical-align: top;"
                             data-ng-if="collection.value.instruments.length">
                            Instrument
                        </div>
                        <div style="display: inline-block; width: 78%; font-weight:bold;"
                             data-ng-if="collection.value.instruments.length">
                            <ul style="list-style:none; padding-left:0;">
                                <li data-ng-repeat="instrument in collection.value.instruments">
                                    {{instrument.name}} | {{instrument.model}}
                                </li>
                            </ul>
                        </div>
                        <div ng-if="collection.value.referencedDatas.length">
                            <div style="display: inline-block; width:20%; vertical-align: top;">
                                Referenced Data
                            </div>
                            <div style="display: inline-block; width: 78%; font-weight:bold;">
                                <ul style="list-style:none; padding-left:0;">
                                    <li data-ng-repeat="data in collection.value.referencedDatas">
                                        {{data.title}} |
                                        <a href="{{ data.url }}" rel="noopener noreferrer" target=”_blank”>{{ data.url }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div ng-if="collection.value.description">
                            <p>{{ collection.value.description }}</p>
                        </div>
                        <div style="margin-top: 10px;">
                            <button type="button"
                                    class="btn btn-link"
                                    data-ng-click="$ctrl.editCollection(collection)">
                                Edit
                            </button>
                            <span> | </span>
                            <button type="button"
                                    class="btn btn-link"
                                    data-ng-click="$ctrl.deleteCollection(collection)">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
