<div class="modal-header" id="modal-header" style="background: #e6e6e6;">
    <h4 class="modal-title" style="border: none;">
        <span>Add Collections</span>
        <span class="pull-right" data-ng-click="$ctrl.close()">
            <i class="fa fa-times">&nbsp;</i>
        </span>
    </h4>
</div>
<div class="modal-body">
    <div class="well">
        <ng-form name="addForm" data-ng-hide="$ctrl.ui.showEditCollectionForm" autocomplete="off">
            <div class="collection-type form-group">
                <div style="padding-bottom: 10px;">
                    <label for="id-type">
                        <div class="label-form">
                            <div>
                                <span class="label-form-name">Collection Type</span>
                                <span class="label label-danger">Required</span>
                            </div>
                        </div>
                    </label>
                    <div>
                        <span class="category-sensor-info">Research Planning Collection</span>
                        Groups files related to planning and logistics, permits, administration,
                        design, gathering, institutional review board (IRB), and processing,
                        of the data obtained in a particular mission.
                        These files help others understand the context of your data.
                    </div>
                    <div>
                        <span class="category-event">Engineering/Geosciences Collection</span>
                        Groups related data from the engineering/geosciences domain.
                    </div>
                    <div>
                        <span class="category-event">Social Sciences Collection</span>
                        Groups related data from the social sciences domain.
                    </div>
                    <div>
                        <span class="category-report">Documents Collection</span>
                        Can include instruments, protocols, and different reports (Virtual Recon, Field Assessment, Preliminary Virtual Assessment, etc).
                        These documents are published separately with their own DOI.
                    </div>
                </div>
                <div>
                    <select class="form-control"
                            id="id-collection-type"
                            style="margin-bottom: 5px"
                            ng-options="type.name as type.label for type in $ctrl.data.collectionTypes"
                            ng-model="$ctrl.form.collectionType"
                            ng-disabled="$ctrl.data.editCollection"
                            ng-change="$ctrl.clearForm($ctrl.form.collectionType)"
                            ng-required="true">
                        <option value="">-- Select Collection Type --</option>
                    </select>
                </div>
            </div>
            <div ng-if="$ctrl.form.collectionType">
                <div class="collection-title form-group">
                    <label for="id-title">
                        <div class="label-form">
                            <div>
                                <span class="label-form-name">Collection Title</span>
                                <span class="label label-danger">Required</span>
                            </div>
                            <span class="label-form-desc">
                                Make it unique from other collections. Use sequential ordering if necessary.
                            </span>
                        </div>
                    </label>
                    <input type="text"
                            id="id-title"
                            data-ng-model="$ctrl.form.title"
                            data-ng-required="true"
                            class="form-control" />
                </div>
                <div class="collection-unitAnalysis form-group" ng-if="$ctrl.formFields('unitAnalysis')">
                    <label for="id-unitAnalysis">Unit of Analysis
                        <span class="label-form-desc">
                            A description of who or what is being studied.
                        </span>
                    </label>
                    <input type="text"
                            id="id-unitAnalysis"
                            data-ng-model="$ctrl.form.unit"
                            data-ng-required="false"
                            class="form-control" />
                </div>
                <div class="collection-modes form-group" ng-if="$ctrl.formFields('modes')">
                    <label for="id-modes">Modes(s) of Collection
                        <span class="label-form-desc">
                            The procedure/technique of the inquiry used to obtain the data.
                        </span>
                    </label>
                    <div ng-repeat="mode in $ctrl.form.modes track by $index">
                        <input type="text"
                                id="id-modes"
                                data-ng-model="$ctrl.form.modes[$index]"
                                data-ng-required="false"
                                class="form-control" />
                    </div>
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.addModes()">
                            &#x2b; Add another Mode of Collection
                    </button>
                    |
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.removeInput($ctrl.form.modes)"
                            ng-disabled="$ctrl.minimumInputs($ctrl.form.modes)">
                            &#x2212; Remove Mode of Collection
                    </button>
                </div>
                <div class="collection-sample form-group" ng-if="$ctrl.formFields('sample')">
                    <label for="id-sample">Sampling Approach(es)
                        <span class="label-form-desc">
                            Methods used to sample the population.
                        </span>
                    </label>
                    <div ng-repeat="sample in $ctrl.form.sampleApproach track by $index">
                        <input type="text"
                                id="id-sample"
                                ng-model="$ctrl.form.sampleApproach[$index]"
                                ng-required="false"
                                class="form-control" />
                    </div>
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.addSampleApproach()">
                            &#x2b; Add another Sampling Approach
                    </button>
                    |
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.removeInput($ctrl.form.sampleApproach)"
                            ng-disabled="$ctrl.minimumInputs($ctrl.form.sampleApproach)">
                            &#x2212; Remove Sampling Approach
                    </button>
                </div>
                <div class="collection-sample-size form-group"  ng-if="$ctrl.formFields('sample')">
                    <label for="id-sampleSize">Sample Size</label>
                    <br>
                    <br>
                    <input type="text"
                            id="id-sampleSize"
                            data-ng-model="$ctrl.form.sampleSize"
                            data-ng-required="false"
                            class="form-control" />
                </div>
                <div class="observation-type form-group"
                        ng-if="$ctrl.formFields('obsType')">
                    <label for="id-type">
                        <div class="label-form">
                            <div>
                                <span class="label-form-name">Observation Type</span>
                                <span class="label label-danger">Required</span>
                            </div>
                            <span style="display: block; font-weight:normal;">
                                The nature or subject of the data collected.
                            </span>
                        </div>
                    </label>
                    <div data-ng-repeat="observationType in $ctrl.form.observationTypes">
                        <select id="id-observation-type"
                                style="margin-bottom: 5px"
                                data-ng-options="item for item in $ctrl.data.observationTypes"
                                data-ng-model="$ctrl.form.observationTypes[$index]"
                                data-ng-required="$first"
                                class="form-control"
                                data-ng-if="$ctrl.showObservationDropdown($index)">
                        <option value="">-- Select Observation Type --</option>
                        </select>
                        <input type="text"
                                data-ng-model="$ctrl.form.observationTypesOther[$index]"
                                data-ng-if="$ctrl.showObservationInput($index)"
                                class="form-control"
                            />
                    </div>
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.addObservationType()">
                            &#x2b; Add another Observation Type
                    </button>
                    |
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.removeInput($ctrl.form.observationTypes); $ctrl.removeInput($ctrl.form.observationTypesOther)"
                            ng-disabled="$ctrl.minimumInputs($ctrl.form.observationTypes)">
                            &#x2212; Remove Observation Type
                    </button>
                </div>
                <div class="collection-dates form-group" ng-if="$ctrl.formFields('colDates')">
                    <label for="id-date-start">
                        <div class="label-form">
                            <div>
                                <span class="label-form-name">Date(s) of Collection</span>
                                <span class="label label-danger">Required</span>
                            </div>
                            <span style="display: block; font-weight:normal;">
                                When the data in this collection was gathered.
                                If you only want to enter a single date, fill in the first field.
                            </span>
                        </div>
                    </label>
                    <div style="display: flex;">
                        <input type="text"
                            id="id-date-start"
                            data-uib-datepicker-popup="MM-dd-yyyy"
                            data-ng-model="$ctrl.form.dateStart"
                            data-is-open="isStartOpen"
                            placeholder="mm-dd-yyyy"
                            autocomplete="chrome-off"
                            data-date-picker-options="dateOptions"
                            data-date-disabled="disabled(date, mode)"
                            data-ng-required="true"
                            data-close-text="Close"
                            class="form-control"
                            style="width: 25%; display:inline-block;" />
                        <span class="input-group-btn">
                            <button type="button"
                                    class="btn btn-default"
                                    data-ng-click="isStartOpen = !isStartOpen">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                        <span style="padding:6px; margin-left:30px;">
                            &#8213;
                        </span>
                        <input type="text"
                            id="id-date-end"
                            data-uib-datepicker-popup="MM-dd-yyyy"
                            data-ng-model="$ctrl.form.dateEnd"
                            data-is-open="isEndOpen"
                            placeholder="mm-dd-yyyy"
                            autocomplete="chrome-off"
                            data-date-picker-options="dateOptions"
                            data-date-disabled="disabled(date, mode)"
                            data-ng-required="false"
                            data-close-text="Close"
                            class="form-control"
                            style="width: 25%; display:inline-block;" />
                        <span class="input-group-btn">
                            <button type="button"
                                    class="btn btn-default"
                                    data-ng-click="isEndOpen = !isEndOpen">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="data-collectors form-group">
                    <label for="id-collectors" ng-if="$ctrl.formFields('collectors')">
                        <div class="label-form">
                            <div>
                                <span class="label-form-name">Data Collector(s)</span>
                                <span class="label label-danger">Required</span>
                            </div>
                            <span class="label-form-desc">
                                Who, specifically, collected this data?
                                You can order the data collectors later when you publish.
                            </span>
                        </div>
                    </label>
                    <label for="id-authors" ng-if="$ctrl.formFields('authors')">
                        <div class="label-form">
                            <div>
                                <span class="label-form-name">Author(s)</span>
                                <span class="label label-danger">Required</span>
                            </div>
                            <span class="label-form-desc">
                                You can order the authors later when you publish.
                            </span>
                        </div>
                    </label>
                    <br>
                    <div data-ng-repeat="usr in $ctrl.form.dataCollectors track by $index"
                        style="width: 45%;
                                display:inline-block;
                                white-space: nowrap;
                                margin-bottom:5px;">
                        <input type="checkbox"
                            data-format="lname"
                            id="{{ 'collector-' + $index }}"
                            data-ng-model="usr.authorship"
                            data-ng-required="$ctrl.validCollector()">
                            <ds-user data-ng-if="!usr.guest"
                                    data-username="usr.name"
                                    data-format="lname">
                                {{usr.name}}
                            </ds-user>
                            <span data-ng-if="usr.guest">
                                {{ usr.lname }}, {{ usr.fname }}
                            </span>
                    </div>
                </div>
                <div class="site-location form-group" ng-if="$ctrl.formFields('colSite')">
                    <label for="id-location">
                        <div class="label-form">
                            <div>
                                <span class="label-form-name">Collection Site Location</span>
                            </div>
                        </div>
                    </label>
                    <div>
                        <div style="width: 55%; display:inline-block;">
                            <label for="id-location" class="label-secondary">
                                Geolocation
                            </label>
                            <input type="text"
                                id="id-location"
                                data-ng-model="$ctrl.form.location"
                                class="form-control"/>
                        </div>
                        <div style="width: 21%; display:inline-block; margin-left:5px;">
                            <label for="id-location" class="label-secondary">
                                Latitude
                            </label>
                            <input type="text"
                                id="id-latitude"
                                data-ng-model="$ctrl.form.latitude"
                                class="form-control"/>
                        </div>
                        <div style="width: 21%; display:inline-block; margin-left:5px;">
                            <label for="id-location" class="label-secondary">
                                Longitude
                            </label>
                            <input type="text"
                                id="id-longitude"
                                data-ng-model="$ctrl.form.longitude"
                                class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="equipment form-group" ng-if="$ctrl.formFields('equipment')">
                    <div>
                        <label for="id-equipment">
                            <div class="label-form">
                                <div>
                                    <span class="label-form-name">Equipment</span>
                                    <span class="label label-danger">Required</span>
                                </div>
                                <span class="label-form-desc">
                                    The equipment used to gather your data.
                                </span>
                            </div>
                        </label>
                        <div data-ng-repeat="eqp in $ctrl.form.equipment track by $index">
                            <select class="form-control"
                                    data-ng-model="$ctrl.form.equipment[$index]"
                                    style="margin-bottom: 5px;"
                                    data-ng-required="$first"
                                    data-ng-if="$ctrl.showEquipmentDropdown($index)">
                                <option selected value="">-- Select Equipment --</option>
                                <optgroup data-ng-repeat="(group, labels) in $ctrl.data.equipment"
                                        label="{{group}}">
                                    <option data-ng-repeat="label in labels"
                                            value="{{label}}">
                                        {{label}}
                                    </option>
                                </optgroup>
                            </select>
                            <input type="text"
                                data-ng-model="$ctrl.form.equipmentOther[$index]"
                                data-ng-if="$ctrl.showEquipmentInput($index)"
                                class="form-control" />
                        </div>
                        <button class="btn-project-add-rm"
                                ng-click="$ctrl.addEquipment()">
                                &#x2b; Add another Equipment
                        </button>
                        |
                        <button class="btn-project-add-rm"
                                ng-click="$ctrl.removeInput($ctrl.form.equipment); $ctrl.removeInput($ctrl.form.equipmentOther)"
                                ng-disabled="$ctrl.minimumInputs($ctrl.form.equipment)">
                                &#x2212; Remove Equipment
                        </button>
                    </div>
                </div>
                <div class="collection-restriction form-group"  ng-if="$ctrl.formFields('restriction')">
                    <label for="id-restriction">Restriction
                        <span class="label-form-desc">
                            Information regarding limitations on use or restrictions on access to the data.
                        </span>
                    </label>
                    <input type="text"
                        id="id-restriction"
                        data-ng-model="$ctrl.form.restriction"
                        data-ng-required="false"
                        class="form-control" />
                </div>
                <div class="referenced-data form-group">
                    <div style="width:45%; display:inline-block;">
                        <label>
                            Referenced Data Title
                            <span style="display:block; font-weight: normal;">
                                Data from published projects or an
                                external repository.
                            </span>
                        </label>
                    </div>
                    <div style="width:45%; display:inline-block;">
                        <label>
                            Referenced Data DOI or URL
                        </label>
                        <span class="label-form-desc">
                            &nbsp;
                        </span>
                    </div>
                    <div style="width:45%; display:inline-block; margin-bottom:5px"
                        data-ng-repeat-start="referenced in $ctrl.form.referencedData">
                        <input type="text"
                            data-ng-model="referenced.title"
                            class="form-control"/>
                    </div>
                    <div style="width: 45%; display:inline-block;" data-ng-repeat-end>
                        <input type="text"
                            data-ng-model="referenced.url"
                            class="form-control"/>
                    </div>
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.addReferenced()">
                            &#x2b; Add another Referenced Data
                    </button>
                    |
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.removeInput($ctrl.form.referencedData)"
                            ng-disabled="$ctrl.minimumInputs($ctrl.form.referencedData)">
                            &#x2212; Remove Referenced Data
                    </button>
                </div>
                <div class="description form-group">
                    <label for="id-description">
                        <div class="label-form">
                            <div>
                                <span class="label-form-name">Collection Description</span>
                                <span class="label label-danger">Required</span>
                            </div>
                            <span style="display:block; font-weight:normal;">
                                Summarized the purpose of the collection and its files.
                                What is it about? What are its features?
                            </span>
                        </div>
                    </label>
                    <textarea style="width:100%; height:3em; resize: vertical;"
                            id="id-description"
                            data-ng-model="$ctrl.form.description"
                            data-ng-required="true">
                        &nbsp;
                    </textarea>
                </div>
            </div>
            <div ng-if="$ctrl.form.collectionType">
                <div class="text-right">
                    <button 
                        class="btn btn-add"
                        type="submit"
                        data-ng-click="addForm.$valid && $ctrl.updateCollection($event)"
                        data-ng-if="$ctrl.data.editCollection"
                    >
                        Update
                    </button>
                </div>
                <div class="text-right">
                    <button
                        class="btn btn-add"
                        data-ng-click="addForm.$valid && $ctrl.saveCollection($event)"
                        data-ng-if="!$ctrl.data.editCollection"
                        type="submit"
                    >
                        <i class="fa fa-plus">&nbsp;</i>
                        Add Collection
                    </button>
                </div>
            </div>
        </ng-form>
    </div>
    <div class="collection-list">
        <div class="collection-list-title">
            <label> Collection Inventory <label>
        </div>
        <!-- Old Collections -->
        <div ng-repeat="collection in $ctrl.data.collections | orderBy: 'value.title'">
            <div class="dropdown dropdown-spacer-sm" id="details-{{collection.uuid}}">
                <button class="btn collapsed tab-old-collection" data-toggle="collapse" data-target="#files-{{collection.uuid}}"
                    style="width:100%;">
                    <div class="collapse-tab">
                        <span class="collapse-tab-content-left">Collection | <strong>{{collection.value.title}} (COLLECTION TYPE NO LONGER SUPPORTED)</strong></span>
                        <span class="collapse-tab-content-right curation-chevron"></span>
                    </div>
                </button>
                <div id="files-{{collection.uuid}}" class="collapse">
                    <div class="well">
                        <div class="entity-meta-label-multi">Observation Type</div>
                        <div class="entity-meta-data">
                            <ul class="collection-list">
                                <li data-ng-repeat="ot in collection.value.observationTypes">
                                    {{ot}}
                                </li>
                            </ul>
                        </div>
                        <div class="entity-meta-label">Date(s) of Collection</div>
                        <div class="entity-meta-data">
                            <span>{{collection.value.dateStart | date:'MM-dd-yyyy'}}</span>
                            <span data-ng-if="collection.value.dateEnd && collection.value.dateEnd !== collection.value.dateStart">
                                &#8213; {{collection.value.dateEnd | date:'MM-dd-yyyy' }}
                            </span>
                        </div>
                        <div class="entity-meta-label-multi"
                             data-ng-if="collection.value.dataCollectors.length">
                            Data Collector(s)
                        </div>
                        <div class="entity-meta-data" data-ng-if="collection.value.dataCollectors.length">
                            <div data-ng-repeat="collector in collection.value.dataCollectors | orderBy: 'order'"
                                data-ng-if="!collector.length && collector.authorship">
                                <span data-ng-if="!collector.guest">
                                    <ds-user data-username="collector.name" data-format="lname">
                                        {{collector}}
                                    </ds-user>
                                </span>
                                <span data-ng-if="collector.guest">
                                    {{collector.lname}}, {{collector.fname}}
                                </span>
                            </div>
                        </div>
                        <div class="entity-meta-label-multi" data-ng-if="collection.value.location">
                            Site Location
                        </div>
                        <div class="entity-meta-data" data-ng-if="collection.value.location">
                            <ul class="collection-list">
                                <li>
                                    <span data-ng-if="collection.value.location">
                                        {{collection.value.location}} | 
                                    </span>
                                    <span data-ng-if="collection.value.latitude">
                                        Lat {{collection.value.latitude}}
                                    </span>
                                    <span data-ng-if="collection.value.longitude">
                                        Long {{collection.value.longitude}}
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="entity-meta-label-multi"
                                data-ng-if="collection.value.equipment.length">
                            Instrument
                        </div>
                        <div class="entity-meta-data"
                                data-ng-if="collection.value.equipment.length">
                            <ul class="collection-list">
                                <li data-ng-repeat="equipment in collection.value.equipment">
                                    {{equipment.name}} | {{equipment.model}}
                                </li>
                            </ul>
                        </div>
                        <div ng-if="collection.value.referencedData.length">
                            <div class="entity-meta-label-multi">
                                Referenced Data
                            </div>
                            <div class="entity-meta-data">
                                <ul class="collection-list">
                                    <li data-ng-repeat="data in collection.value.referencedData">
                                        <a href="{{ data.url }}" rel="noopener noreferrer" target=”_blank”>{{ data.title }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div ng-if="collection.value.description">
                            <p>{{ collection.value.description }}</p>
                        </div>
                        <div style="margin-top: 10px;">
                            <button type="button"
                                    class="btn btn-link"
                                    data-ng-click="$ctrl.editCollection(collection)">
                                Edit
                            </button>
                            <span> | </span>
                            <button type="button"
                                    class="btn btn-link"
                                    data-ng-click="$ctrl.deleteCollection(collection)">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Social Science -->
        <div ng-repeat="collection in $ctrl.data.socialScienceCollections | orderBy: 'value.title'">
            <div class="dropdown dropdown-spacer-sm" id="details-{{collection.uuid}}">
                <button class="btn collapsed tab-collection-conf" data-toggle="collapse" data-target="#files-{{collection.uuid}}"
                    style="width:100%;">
                    <div class="collapse-tab">
                        <span class="collapse-tab-content-left">Social Sciences Collection | <strong>{{collection.value.title}}</strong></span>
                        <span class="collapse-tab-content-right curation-chevron"></span>
                    </div>
                </button>
                <div id="files-{{collection.uuid}}" class="collapse">
                    <div class="well">
                        <div class="entity-meta-field" ng-if="collection.value.unit">
                            <div class="entity-meta-label">Unit of Analysis</div>
                            <div class="entity-meta-data">
                                <span>{{collection.value.unit}}</span>
                            </div>
                        </div>
                        <div class="entity-meta-field" ng-if="collection.value.modes.length">
                            <div class="entity-meta-label-multi">Mode(s) of Collection</div>
                            <div class="entity-meta-data">
                                <ul class="collection-list">
                                    <li data-ng-repeat="mode in collection.value.modes">
                                        {{mode}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="entity-meta-field" ng-if="collection.value.sampleApproach.length">
                            <div class="entity-meta-label-multi">Sampling Approach(es)</div>
                            <div class="entity-meta-data">
                                <ul class="collection-list">
                                    <li data-ng-repeat="sample in collection.value.sampleApproach">
                                        {{sample}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="entity-meta-field" ng-if="collection.value.sampleSize">
                            <div class="entity-meta-label">Sample Size</div>
                            <div class="entity-meta-data">
                                <span>{{collection.value.sampleSize}}</span>
                            </div>
                        </div>
                        <div class="entity-meta-field">
                            <div class="entity-meta-label">Date(s) of Collection</div>
                            <div class="entity-meta-data">
                                <span>{{collection.value.dateStart | date:'MM-dd-yyyy'}}</span>
                                <span data-ng-if="collection.value.dateEnd && collection.value.dateEnd !== collection.value.dateStart">
                                    &#8213; {{collection.value.dateEnd | date:'MM-dd-yyyy' }}
                                </span>
                            </div>
                        </div>
                        <div class="entity-meta-field">
                            <div class="entity-meta-label-multi" data-ng-if="collection.value.dataCollectors.length">
                                Data Collector(s)
                            </div>
                            <div class="entity-meta-data" data-ng-if="collection.value.dataCollectors.length">
                                <div data-ng-repeat="collector in collection.value.dataCollectors | orderBy: 'order'"
                                    data-ng-if="!collector.length && collector.authorship">
                                    <span data-ng-if="!collector.guest">
                                        <ds-user data-username="collector.name" data-format="lname">
                                            {{collector}}
                                        </ds-user>
                                    </span>
                                    <span data-ng-if="collector.guest">
                                        {{collector.lname}}, {{collector.fname}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="entity-meta-field">
                            <div class="entity-meta-label-multi" data-ng-if="collection.value.location">
                                Site Location
                            </div>
                            <div class="entity-meta-data"
                                    data-ng-if="collection.value.location">
                                <ul class="collection-list">
                                    <li>
                                        <span data-ng-if="collection.value.location">
                                            {{collection.value.location}} | 
                                        </span>
                                        <span data-ng-if="collection.value.latitude">
                                            Lat {{collection.value.latitude}}
                                        </span>
                                        <span data-ng-if="collection.value.longitude">
                                            Long {{collection.value.longitude}}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="entity-meta-field">
                            <div class="entity-meta-label-multi">Equipment</div>
                            <div class="entity-meta-data">
                                <ul class="collection-list">
                                    <li data-ng-repeat="eqp in collection.value.equipment">
                                        {{eqp}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="entity-meta-field" ng-if="collection.value.restriction">
                            <div class="entity-meta-label">Restriction</div>
                            <div class="entity-meta-data">
                                <span>{{collection.value.restriction}}</span>
                            </div>
                        </div>
                        <div class="entity-meta-field" ng-if="collection.value.referencedData.length">
                            <div class="entity-meta-label-multi">
                                Referenced Data
                            </div>
                            <div class="entity-meta-data">
                                <ul class="collection-list">
                                    <li data-ng-repeat="data in collection.value.referencedData">
                                        <a href="{{ data.url }}" rel="noopener noreferrer" target=”_blank”>{{ data.title }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="entity-meta-field" ng-if="collection.value.description">
                            <p>{{ collection.value.description }}</p>
                        </div>
                        <div style="margin-top: 10px;">
                            <button type="button"
                                    class="btn btn-link"
                                    data-ng-click="$ctrl.editCollection(collection)">
                                Edit
                            </button>
                            <span> | </span>
                            <button type="button"
                                    class="btn btn-link"
                                    data-ng-click="$ctrl.deleteCollection(collection)">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- GeoscienceEngineering -->
        <div ng-repeat="collection in $ctrl.data.geoscienceCollections | orderBy: 'value.title'">
            <div class="dropdown dropdown-spacer-sm" id="details-{{collection.uuid}}">
                <button class="btn collapsed tab-collection-conf" data-toggle="collapse" data-target="#files-{{collection.uuid}}"
                    style="width:100%;">
                    <div class="collapse-tab">
                        <span class="collapse-tab-content-left">Engineering/Geosciences Collection | <strong>{{collection.value.title}}</strong></span>
                        <span class="collapse-tab-content-right curation-chevron"></span>
                    </div>
                </button>
                <div id="files-{{collection.uuid}}" class="collapse">
                    <div class="well">
                        <div class="entity-meta-field" ng-if="collection.value.observationTypes.length">
                            <div class="entity-meta-label-multi">Observation Type(s)</div>
                            <div class="entity-meta-data">
                                <ul class="collection-list">
                                    <li data-ng-repeat="obs in collection.value.observationTypes">
                                        {{obs}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="entity-meta-field">
                            <div class="entity-meta-label">Date(s) of Collection</div>
                            <div class="entity-meta-data">
                                <span>{{collection.value.dateStart | date:'MM-dd-yyyy'}}</span>
                                <span data-ng-if="collection.value.dateEnd && collection.value.dateEnd !== collection.value.dateStart">
                                    &#8213; {{collection.value.dateEnd | date:'MM-dd-yyyy' }}
                                </span>
                            </div>
                        </div>
                        <div class="entity-meta-field">
                            <div class="entity-meta-label-multi" data-ng-if="collection.value.dataCollectors.length">
                                Data Collector(s)
                            </div>
                            <div class="entity-meta-data" data-ng-if="collection.value.dataCollectors.length">
                                <div data-ng-repeat="collector in collection.value.dataCollectors | orderBy: 'order'"
                                    data-ng-if="!collector.length && collector.authorship">
                                    <span data-ng-if="!collector.guest">
                                        <ds-user data-username="collector.name" data-format="lname">
                                            {{collector}}
                                        </ds-user>
                                    </span>
                                    <span data-ng-if="collector.guest">
                                        {{collector.lname}}, {{collector.fname}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="entity-meta-field">
                            <div class="entity-meta-label-multi" data-ng-if="collection.value.location">
                                Site Location
                            </div>
                            <div class="entity-meta-data" data-ng-if="collection.value.location">
                                <ul class="collection-list">
                                    <li>
                                        <span data-ng-if="collection.value.location">
                                            {{collection.value.location}} | 
                                        </span>
                                        <span data-ng-if="collection.value.latitude">
                                            Lat {{collection.value.latitude}}
                                        </span>
                                        <span data-ng-if="collection.value.longitude">
                                            Long {{collection.value.longitude}}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="entity-meta-field">
                            <div class="entity-meta-label-multi">Equipment</div>
                            <div class="entity-meta-data">
                                <ul class="collection-list">
                                    <li data-ng-repeat="eqp in collection.value.equipment">
                                        {{eqp}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="entity-meta-field" ng-if="collection.value.referencedData.length">
                            <div class="entity-meta-label-multi">
                                Referenced Data
                            </div>
                            <div class="entity-meta-data">
                                <ul class="collection-list">
                                    <li data-ng-repeat="data in collection.value.referencedData">
                                        <a href="{{ data.url }}" rel="noopener noreferrer" target=”_blank”>{{ data.title }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="entity-meta-field" ng-if="collection.value.description">
                            <p>{{ collection.value.description }}</p>
                        </div>
                        <div style="margin-top: 10px;">
                            <button type="button"
                                    class="btn btn-link"
                                    data-ng-click="$ctrl.editCollection(collection)">
                                Edit
                            </button>
                            <span> | </span>
                            <button type="button"
                                    class="btn btn-link"
                                    data-ng-click="$ctrl.deleteCollection(collection)">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Research Planning -->
        <div ng-repeat="collection in $ctrl.data.planningCollections | orderBy: 'value.title'">
            <div class="dropdown dropdown-spacer-sm" id="details-{{collection.uuid}}">
                <button class="btn collapsed tab-sensor-info" data-toggle="collapse" data-target="#files-{{collection.uuid}}"
                    style="width:100%;">
                    <div class="collapse-tab">
                        <span class="collapse-tab-content-left">Research Planning Collection | <strong>{{collection.value.title}}</strong></span>
                        <span class="collapse-tab-content-right curation-chevron"></span>
                    </div>
                </button>
                <div id="files-{{collection.uuid}}" class="collapse">
                    <div class="well">
                        <div class="entity-meta-field">
                            <div class="entity-meta-label-multi" data-ng-if="collection.value.dataCollectors.length">
                                Data Collector(s)
                            </div>
                            <div class="entity-meta-data" data-ng-if="collection.value.dataCollectors.length">
                                <div data-ng-repeat="collector in collection.value.dataCollectors | orderBy: 'order'"
                                    data-ng-if="!collector.length && collector.authorship">
                                    <span data-ng-if="!collector.guest">
                                        <ds-user data-username="collector.name" data-format="lname">
                                            {{collector}}
                                        </ds-user>
                                    </span>
                                    <span data-ng-if="collector.guest">
                                        {{collector.lname}}, {{collector.fname}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="entity-meta-field" ng-if="collection.value.referencedData.length">
                            <div class="entity-meta-label-multi">
                                Referenced Data
                            </div>
                            <div class="entity-meta-data">
                                <ul class="collection-list">
                                    <li data-ng-repeat="data in collection.value.referencedData">
                                        <a href="{{ data.url }}" rel="noopener noreferrer" target=”_blank”>{{ data.title }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="entity-meta-field" ng-if="collection.value.description">
                            <p>{{ collection.value.description }}</p>
                        </div>
                        <div style="margin-top: 10px;">
                            <button type="button"
                                    class="btn btn-link"
                                    data-ng-click="$ctrl.editCollection(collection)">
                                Edit
                            </button>
                            <span> | </span>
                            <button type="button"
                                    class="btn btn-link"
                                    data-ng-click="$ctrl.deleteCollection(collection)">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Reports -->
        <div ng-repeat="collection in $ctrl.data.reportCollections | orderBy: 'value.title'">
            <div class="dropdown dropdown-spacer-sm" id="details-{{collection.uuid}}">
                <button class="btn collapsed tab-report" data-toggle="collapse" data-target="#files-{{collection.uuid}}"
                    style="width:100%;">
                    <div class="collapse-tab">
                        <span class="collapse-tab-content-left">Documents Collection | <strong>{{collection.value.title}}</strong></span>
                        <span class="collapse-tab-content-right curation-chevron"></span>
                    </div>
                </button>
                <div id="files-{{collection.uuid}}" class="collapse">
                    <div class="well">
                        <div class="entity-meta-field">
                            <div class="entity-meta-label-multi" data-ng-if="collection.value.authors.length">
                                Author(s)
                            </div>
                            <div class="entity-meta-data" data-ng-if="collection.value.authors.length">
                                <div data-ng-repeat="author in collection.value.authors | orderBy: 'order'"
                                    data-ng-if="!author.length && author.authorship">
                                    <span data-ng-if="!author.guest">
                                        <ds-user data-username="author.name" data-format="lname">
                                            {{author}}
                                        </ds-user>
                                    </span>
                                    <span data-ng-if="author.guest">
                                        {{author.lname}}, {{author.fname}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="entity-meta-field" ng-if="collection.value.referencedData.length">
                            <div class="entity-meta-label-multi">
                                Referenced Data
                            </div>
                            <div class="entity-meta-data">
                                <ul class="collection-list">
                                    <li data-ng-repeat="data in collection.value.referencedData">
                                        <a href="{{ data.url }}" rel="noopener noreferrer" target=”_blank”>{{ data.title }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="entity-meta-field" ng-if="collection.value.description">
                            <p>{{ collection.value.description }}</p>
                        </div>
                        <div style="margin-top: 10px;">
                            <button type="button"
                                    class="btn btn-link"
                                    data-ng-click="$ctrl.editCollection(collection)">
                                Edit
                            </button>
                            <span> | </span>
                            <button type="button"
                                    class="btn btn-link"
                                    data-ng-click="$ctrl.deleteCollection(collection)">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
