<div class="pipeline-nav">
    <a ng-class="{'btn disabled': $ctrl.ui.loading || $ctrl.ui.submitted}"
       ng-click="$ctrl.goStart()"
    >
        <i class="fa fa-arrow-left"></i> Back
    </a>
    <button class="btn btn-small btn-add"
            ng-click="$ctrl.submitAmend()"
            ng-disabled="$ctrl.ui.loading || $ctrl.ui.submitted || !$ctrl.ui.confirmed"
    >
        Amend Publication
    </button>
</div>
<div class="pipeline-page">
    <div class="pipeline-header">
        <h3>Amend Metadata</h3>
        If you need help, attend <a href="/facilities/virtual-office-hours/" target="_blank" aria-describedby="msg-open-new-window">curation office hours</a>.
        <div ng-if="$ctrl.ui.loading">
            <h3 class="text-center">
                <i class="fa fa-spinner fa-spin"></i> Loading...
            </h3>
        </div>
    </div>
    <!-- Notifications -->
    <div class="pipeline-notification">
        <div class="alert alert-success flex-container" ng-if="$ctrl.ui.success">
            <i class="fa fa-check notification-icon"></i>
            <div>
                Your publication amendment has been submitted.
                <strong>Do not attempt to amend your publication again.</strong>
                Please wait until the publication has reappeared in the publications
                area before changing anything in the project. This process can take
                up to an hour or more for large datasets.
            </div>
        </div>
        <div class="alert alert-success flex-container" ng-if="$ctrl.ui.confirmed && !$ctrl.ui.success">
            <i class="fa fa-check notification-icon"></i>
            <div>
                Your authors have been confirmed. Click the "Amend Publication" button to finalize your changes.
            </div>
        </div>
        <div class="alert alert-danger flex-container" ng-if="$ctrl.ui.error">
            <i class="fa fa-times notification-icon"></i>
            <div>
                There was an issue when attempting to amend your publication.
                <strong>Do not attempt to amend your publication again.</strong> Please
                <a href="/help/new-ticket/?category=DATA_CURATION_PUBLICATION&subject=Requesting+amendments+to+existing+publication:+{{$ctrl.project.value.projectId}}"
                target="_blank" aria-describedby="msg-open-new-window">submit a ticket</a> and we will assist you with this issue.
            </div>
        </div>
        <button class="btn btn-small btn-add"
            ng-click="$ctrl.returnToProject()"
            ng-if="!$ctrl.ui.loading && $ctrl.ui.submitted"
        >
            Return to Project
        </button>
    </div>
    <div ng-if="!$ctrl.ui.loading && !$ctrl.ui.submitted">
        <div class="pipeline-section">
            <ul>
                <li>The following metadata (excluding titles) can be amended.</li>
                <li>Your citation will be updated with the order of authors displayed in the Citation Preview.</li>
                <li>When you are finished and have proofread your changes, click 'Amend Publication' and the published project will be updated.</li>
            </ul>
        </div>
        <!-- Project Header Start -->
        <div class="pipeline-section">
            <prj-metadata></prj-metadata>
            <div>
                <a class="prj-ent-amend" ng-click="$ctrl.amendProject($event)"><strong>Edit Project Metadata</strong></a>
            </div>
        </div>
        <hr>
        <!-- Project Authors Start -->
        <div class="pipeline-header">
            <h3>Confirm Author Order</h3>
            <strong>You must confirm the order of authors.</strong>
            Your citation will be updated to match what is shown in the preview.
        </div>
        <div class="pipeline-section">
            <manage-authors
                title="$ctrl.project.value.title"
                label="'Confirm Authors'"
                authors="$ctrl.authors"
                submit="$ctrl.saveAuthors()">
            </manage-authors>
        </div>
    </div>
    <!-- Project Header End -->
</div>
