<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <th ng-if="state.search">
            Path
        </th>
        <th>
            <button class="flo-select-btn" ng-click="selectAll()" ng-mouseenter="state.hover['all'] = true" ng-mouseleave="state.hover['all'] = false" ng-if="enableSelection">
                <i class="fa fa-fw" ng-class="{'fa-circle-o': (state.selecting || state.hover['all']) && !state.selectAll, 'fa-check-circle': state.selectAll}"></i>
                <span class="sr-only">Select all</span>
            </button>
            Name
        </th>
        <th ng-if="display('size')">Size</th>
        <th ng-if="display('lastModified')">Last modified</th>
        <th ng-if="enablePreview && display('info')">Info</th>
        <th ng-if="display('action')">Action</th>
        </thead>

        <tbody>
        <tr ng-repeat="file in data.listing.children | orderBy:'name'" data-file-id="{{ file.id }}"
            ds-draggable transfer="file" drag-start="dragStart" drag-enter="dragEnter" drag-over="dragOver"
            drag-leave="dragLeave" drag-end="dragEnd" drag-drop="dragDrop" ng-click="selectFile(file)"
            ng-class="{'ds-data-selected': isFileSelected(file)}"
        >
            <td ng-if="state.search">
              <i class="fa fa-fw fa-folder"></i>
              <a href="{{ file._trail[file._trail.length - 1]|dsFileUrl }}" 
                 ng-click = "browseFile($event, file._trail[file._trail.length - 1])">{{ file.path }}</a>
            </td>
            <td>
                <button class="flo-select-btn" ng-mouseenter="state.hover[file.id] = true" ng-mouseleave="state.hover[file.id] = false" ng-if="enableSelection">
                    <i class="fa fa-fw" ng-class="getIconClass(file, state.hover[file.id])"></i>
                </button>
                <i class="fa fa-fw" ng-class="getIconClass(file, state.hover[file.id])" ng-if="!enableSelection"></i>
                <a href="{{ file|dsFileUrl }}" ng-click="browseFile($event, file)">{{ file.name }}</a>
            </td>
            <td ng-if="display('size')">{{ file.size|bytes }}</td>
            <td ng-if="display('lastModified')">
                {{ file.lastModified|date:"medium" }}
            </td>
            <td ng-if="enablePreview && display('info')">
                <button class="btn btn-xs btn-info" ng-click="previewFile($event, file)">
                    <i class="fa fa-info-circle"></i>
                    <span class="sr-only">More info</span>
                </button>
            </td>
            <td ng-if="display('action')">
                <button class="btn btn-xs btn-primary" ng-if="actionCondition({file: file})" ng-click="actionFun({file: file})">
                    <span>{{ actionLabel }}</span>
                </button>
            </td>
        </tr>
        </tbody>
        <caption ng-hide="data.listing.children.length || state.loading"
                 ds-draggable transfer="data.listing" drag-start="dragStart" drag-enter="dragEnter"
                 drag-over="dragOver" drag-leave="dragLeave" drag-end="dragEnd" drag-drop="dragDrop"
        >
            <div class="text-center text-muted" ng-if="! data.listing._error">
                <p class="lead">
                    There is nothing here! Drag and drop files here to upload.
                    <br><i class="fa fa-folder-open-o"></i>
                </p>
            </div>
            <div class="text-center" ng-if="data.listing._error">
                <p class="lead">
                    <span ng-bind-html="data.listing._error.message">Error</span><br>
                    <a ng-if="data.listing._error.action_url" href="{{ data.listing._error.action_url }}"
                       class="btn btn-primary btn-lg"
                    >{{ data.listing._error.action_label }}</a>
                </p>
            </div>
        </caption>
    </table>
</div>
