<div class="ds-data-browser-new">
    <div class="btn-group btn-block">
        <button class="btn btn-primary btn-block dropdown-toggle"
                ng-disabled="! newFileEnabled()" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"
        >New</button>
        <ul class="dropdown-menu">
            <li>
                <a href="#" ng-click="createFolder()">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-folder fa-stack-2x"></i>
                        <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="">Create folder</span>
                </a>
            </li>
            <li>
                <a href="#" ng-click="uploadFiles()">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-file-o fa-stack-2x"></i>
                        <i class="fa fa-upload fa-stack-1x"></i>
                    </span>
                    <span>Upload files</span>
                </a>
            </li>
        </ul>
    </div>
</div>
