<div class="modal-header">
    <h3 class="modal-title">Share Files</h3>
</div>
<div class="modal-body">
    <form>
        <p>The following user(s) have permissions on the file <b>{{ data.file.id }}</b>:</p>
        <div class="alert alert-info" ng-if="form.permissions.length === 0">
            This file is not shared with anyone!
        </div>
        <div class="form-group" ng-repeat="pem in form.permissions">
            <div class="row">
                <div class="col-xs-6">
                    <p class="form-control-static"><b>{{ pem.username }}</b></p>
                </div>
                <div class="col-xs-5">
                    <select id="id_form_permission" class="form-control" ng-model="pem.permission"
                        ng-options="perm.label for perm in data.permissions"></select>
                </div>
            </div>
        </div>

        <div class="well well-sm">
            <p>Share with a new user</p>
            <div class="row">
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="id_form_user" ng-model="form.add_user"
                           placeholder="Lookup user by username or email address"
                           autocomplete="off" uib-typeahead="user for user in searchUsers($viewValue)"
                           typeahead-loading="searching"
                           typeahead-no-results="noResults"
                           typeahead-input-formatter="formatSelection($result)"
                           typeahead-template-url="local/share_user_search_result.html"
                    >
                    <span class="text-muted" ng-show="searching"><i class="fa fa-spinner fa-spin"></i> Searching for users...</span>
                    <div ng-show="noResults">
                        <i class="fa fa-remove"></i> No users found.
                    </div>
                </div>
                <div class="col-xs-5">
                    <select class="form-control" ng-model="form.add_permission"
                            ng-options="perm.label for perm in data.permissions"></select>
                </div>
                <div class="col-xs-1">
                    <button class="btn btn-info btn-sm" ng-click="addNewPermission()">
                        <i class="fa fa-plus"></i> <span class="sr-only">Add User Permission</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="text-right">
        <button class="btn btn-primary" type="button" ng-click="doShareFiles($event)">
            Save Share Settings
        </button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>
<script type="text/ng-template" id="local/share_user_search_result.html">
    <a>{{ match.model.first_name }} {{ match.model.last_name }} ({{ match.model.username }}) &lt;{{ match.model.email }}&gt;</a>
</script>
