<div class="files-listing">
  <div class="btn-group">
    <button class="btn btn-default"
            ng-class="{'btn-primary': data.source === 'mydata'}"
            ng-click="setSource('mydata')"> My Data </button>
    <button class="btn btn-default"
            ng-class="{'btn-primary': data.source === 'myprojects'}"
            ng-click="setSource('myprojects')"> My Projects </button>
  </div>
  <div>
    <div>
      <label ng-if="!saveas.filename">Browsing:</label>
      <label ng-if="saveas.filename"> Save to:</label></br>
      <span ng-if="data.selectedProject"> {{data.selectedProject.value.title}} </span>
      <span
        ng-repeat-start="dirElem in data.dirPath track by $index"
        class="text text-info">
          <a href="#" ng-click="browseTrail($event, $index)">{{dirElem}}</a>
      </span>
      <span ng-repeat-end ng-if="!$last">/</span>
    </div>
    <div ng-if="saveas.filename">
      <label> Filename: </label> </br>
      <input class="form-control" ng-model="saveas.filename" type="text"></input>
    </div>
  </div>
  <div class="table-responsive ds-table-display-wrapper"
       ds-infinite-scroll
       data-scroll-bottom="scrollToBottom()"
       data-scroll-top="scrollToTop()"
       data-bottom-height="0">
      <table class="table table-striped">
        <thead>
        <th>File name</th>
        <th>Size</th>
        </thead>
        <tbody>
          <tr
            ng-repeat="f in data.filesListing.children | orderBy : ['type', 'name']"
            ng-click = "selectRow(f, $index)"
            ng-class="{'success': f.selected}">
            <td>
              <a ng-click="browseFile(f)" class="btn btn-xs btn-link">
                <i class="fa {{getFileIcon(f.type, f.name.split('.').pop())}}"></i>
                <span> {{ renderName(f) }} </span>
              </a>
            </td>
            <td>{{f.length|bytes:0}}</td>
          </tr>
          <tr ng-if="data.loading"><td colspan="3"><p class="lead"><i class="fa fa-spin fa-circle-o-notch"></i> Loading files...</p></td></tr>
          <tr ng-if="data.error"><td colspan="3"><p class="alert alert-danger">{{data.error}}</p></td></tr>
      </tbody>
      <tbody ng-if="data.source === 'myprojects' && data.projectSelected == false">
        <tr
          ng-repeat = 'project in project_list'
          ng-click = 'selectProject(project)'>
          <td> <a href="#"> <i class="fa fa-folder"> </i> {{project.value.title }} </td>
          <td> </td>
        </tr>
        <tr ng-if="data.loading"><td colspan="3"><p class="lead"><i class="fa fa-spin fa-circle-o-notch"></i> Loading files...</p></td></tr>
        <tr ng-if="data.error"><td colspan="3"><p class="alert alert-danger">{{data.error}}</p></td></tr>
      </tbody>
    </table>
  </div>
</div>
