{% extends "base_angular.html" %}
{% load cms_tags staticfiles sekizai_tags pipeline %}
{% block title %}Data Depot Browser{% endblock %}
{% block head_extra %}
    <base href="{% url 'designsafe_data:data_browser' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div>
        <div ng-controller="DataDepotBrowserCtrl">
            <ds-data-browser user="data.user" data="data" data-state="state" on-path-changed="onPathChanged">
                <div class="ds-data-browser-sidebar">
                    <ds-data-browser-new></ds-data-browser-new>
                    <ds-data-browser-source-select></ds-data-browser-source-select>
                </div>
                <div class="ds-data-browser-main">
                    <ds-data-browser-toolbar searchbar></ds-data-browser-toolbar>
                    <ds-data-list-display></ds-data-list-display>
                </div>
            </ds-data-browser>
        </div>
    </div>
</div>

{% addtoblock "css" %}
{% endaddtoblock %}

{% addtoblock "js" %}
    <script src="{% static 'vendor/ngstorage/ngStorage.js' %}"></script>
    <script src="{% static 'vendor/angular-translate/angular-translate.js' %}"></script>
    <script src="{% static 'vendor/angular-cookies/angular-cookies.js' %}"></script>
    <script src="{% static 'vendor/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
    <script src="{% static 'vendor/filesaver/FileSaver.js' %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
    <script type="text/javascript" src="{% static 'designsafe/apps/data/scripts/browser/app.js' %}"></script>
{% endaddtoblock %}
{% endblock %}
