{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags pipeline %}
{% block title %}Data Depot{% endblock %}
{% block head_extra %}
    <base href="{% url 'designsafe_data:data_depot' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div>
            <div ng-controller="MainCtrl" style="position: relative;">
                <div ng-controller="DataDepotToolbarCtrl" ng-include="'{% static "scripts/data-depot/templates/data-depot-toolbar.html" %}'"></div>
                <div class="row">
                    <div class="col-sm-3 col-md-2">
                        <div ng-controller="DataDepotNewCtrl" ng-include="'{% static "scripts/data-depot/templates/data-depot-new.html" %}'"></div>
                        <div ng-controller="DataDepotNavCtrl" ng-include="'{% static "scripts/data-depot/templates/data-depot-nav.html" %}'"></div>
                    </div>
                    <div class="col-sm-9 col-md-10">
                        <ui-view></ui-view>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% addtoblock "css" %}
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{% static 'vendor/ngstorage/ngStorage.js' %}"></script>
        <script src="{% static 'vendor/angular-translate/angular-translate.js' %}"></script>
        <script src="{% static 'vendor/angular-cookies/angular-cookies.js' %}"></script>
        <script src="{% static 'vendor/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
        <script src="{% static 'vendor/underscore/underscore.js' %}"></script>
        <script src="{% static 'vendor/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
        <script src="{% static 'vendor/js-custom-select/js/customSelect.js' %}"></script>
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script type="text/javascript" src="{% static 'scripts/data-depot/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/data-depot/controllers/data-depot-new.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/data-depot/controllers/data-depot-nav.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/data-depot/controllers/data-depot-toolbar.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/data-depot/controllers/external-data.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/data-depot/controllers/main.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/data-depot/controllers/my-data.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/data-depot/controllers/projects.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/data-depot/controllers/publications.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/data-depot/controllers/published.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/data-depot/controllers/community.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/data-depot/controllers/shared-data.js' %}"></script>
    {% endaddtoblock %}
{% endblock %}
