{% extends "base.html" %}
{% load cms_tags static sekizai_tags%}

{% block google_citation_meta %}
    <!--data/data_depot.html-->
    <meta name="keywords" content='{{ scholar_context.keywords }}'> <!-- related experiements, subject; used in search -->

    
    
    
    <meta name="citation_publisher" content="DesignSafe-CI">
    <meta name="citation_language" content="en">
    {% for keyword in scholar_context.citation_keywords %}
    <meta name="citation_keywords" content="{{keyword}}">
    {% endfor %}

    {% for entity in scholar_context.entities %}
        <meta name="citation_title" content="{{entity.title}}">
        <meta name="citation_publication_date" content="{{entity.publication_date}}">
        <meta name="citation_doi" content="{{entity.doi}}">
        <meta name="citation_description" content="{{ entity.description }}">
        {% for author in entity.authors %}
            <meta name="citation_author" content="{{author.fname}} {{author.lname}}">
            <meta name="citation_author_institution" content="{{author.inst}}">
        {% endfor %}

        <meta name="identifier" content="{{entity.doi}}">
        <meta name="DC.identifier" content="{{entity.doi}}">
        <meta name="DC.publisher" content="DesignSafe-CI">
        <meta name="DC.title" content="{{entity.title}}">
        <meta name="DC.date" content="{{entity.publication_date}}">
        <meta name="DC.language" content="en">
        <meta name="DC.creator" content="{% for author in entity.authors %}{{author.fname}} {{ author.lname}}; {% endfor %}">
        <meta name="DC.type" content="dataset">

    {% endfor %}


    <meta name="citation_abstract_html_url" content="">


    {% for dc_json in dc_context %}
    <script type="application/ld+json">
        {{ dc_json | safe }}
    </script>
    {% endfor %}


{% endblock %}
{% block title %}
{% if citation_title %}{{citation_title}}
{% else %}
Data Depot
{% endif %}
{% endblock %}
{% block head_extra %}
    <base href="{% url 'designsafe_data:data_depot' %}">
{% endblock %}
{% block content %}
    {%if react_flag%}
    <div id="datafiles-root" style="display: flex; flex-direction: column; flex: 1;"></div>
    {% endif %}

    {%if not react_flag%}
    <div class="container dd-container">
        <ddmain style="position: relative;">
        </ddmain>
    </div>
    {%endif%}

    {% addtoblock "react_assets" %}
        {% if debug %}
            <script type="module">
                import RefreshRuntime from 'http://localhost:4200/static/react-assets/@react-refresh';
                RefreshRuntime.injectIntoGlobalHook(window);
                window.$RefreshReg$ = () => {};
                window.$RefreshSig$ = () => (type) => type;
                window.__vite_plugin_react_preamble_installed__ = true;
            </script>
            <script type="module" src="http://localhost:4200/static/react-assets/@vite/client"></script>
            <script type="module" src="http://localhost:4200/static/react-assets/src/main.tsx"></script>
        {% else %}
            {% include "react-assets.html" %}
        {% endif %}
    {% endaddtoblock %}
{% endblock %}
