{% extends "base.html" %}
{% load cms_tags static sekizai_tags%}

{% block google_citation_meta %}
    <!--data/data_depot.html-->
    <meta name="keywords" content='{{ keywords|join:", " }}'> <!-- related experiements, subject; used in search -->
    <meta name="authors" content="{% for author in authors %}{{author.full_name}}; {% endfor %}"> <!-- author names -->
    
    <meta name="citation_title" content="{{citation_title}}">
    <meta name="citation_publication_date" content="{{citation_date}}">
    <meta name="citation_doi" content="{{doi}}">
    <meta name="citation_publisher" content="DesignSafe-CI">
    <meta name="citation_language" content="en">
    {% for keyword in keywords %}
    <meta name="citation_keywords" content="{{keyword}}">
    {% endfor %}
    {% for author in authors %}
    <meta name="citation_author" content="{{author.full_name}}">
    <meta name="citation_author_institution" content="{{author.institution}}">
    {% endfor %}
    <meta name="citation_abstract_html_url" content="">

    <script type="application/json">
        {{ dc_json | safe }}
    </script>

    
    {% if experiments %}<!-- Experiment Citation Tags -->{% for experiment in experiments %}
    <meta name="citation_title" content="{{ experiment.value.title }}">
    <meta name="citation_doi" content="{{ experiment.doi }}">
    <meta name="citation_description" content="{{ experiment.description }}">
    {% for author in experiment.authors %}<meta name="citation_author" content="{{ author.lname }}, {{ author.fname }}">
    <meta name="citation_author_institution" content="{{ author.inst }}">{% endfor %}
    {% endfor %}{% endif %}

    {% if missions %}<!-- Mission Citation Tags -->{% for mission in missions %}
    <meta name="citation_title" content="{{ mission.value.title }}">
    <meta name="citation_doi" content="{{ mission.doi }}">
    <meta name="citation_description" content="{{ mission.value.description }}">
    {% for author in mission.authors %}<meta name="citation_author" content="{{ author.lname }}, {{ author.fname }}">
    <meta name="citation_author_institution" content="{{ author.inst }}">{% endfor %}
    {% endfor %}{% endif %}

    {% if reports %}<!-- Report Citation Tags -->{% for report in reports %}
    <meta name="citation_title" content="{{ report.value.title }}">
    <meta name="citation_doi" content="{{ report.doi }}">
    <meta name="citation_description" content="{{ report.value.description }}">
    {% for author in mission.authors %}<meta name="citation_author" content="{{ author.lname }}, {{ author.fname }}">
    <meta name="citation_author_institution" content="{{ author.inst }}">{% endfor %}
    {% endfor %}{% endif %}

    {% if simulations %}<!-- Simulation Citation Tags -->{% for simulation in simulations %}
    <meta name="citation_title" content="{{ simulation.value.title }}">
    <meta name="citation_doi" content="{{ simulation.doi }}">
    <meta name="citation_description" content="{{ simulation.value.description }}">
    {% for author in simulation.authors %}<meta name="citation_author" content="{{ author.lname }}, {{ author.fname }}">
    <meta name="citation_author_institution" content="{{ author.inst }}">{% endfor %}
    {% endfor %}{% endif %}

    {% if hybrid_simulations %}<!-- Hybrid Simulation Citation Tags -->{% for simulation in hybrid_simulations %}
    <meta name="citation_title" content="{{ simulation.value.title }}">
    <meta name="citation_doi" content="{{ simulation.doi }}">
    <meta name="citation_description" content="{{ simulation.value.description }}">
    {% for author in simulation.authors %}<meta name="citation_author" content="{{ author.lname }}, {{ author.fname }}">
    <meta name="citation_author_institution" content="{{ author.inst }}">{% endfor %}
    {% endfor %}{% endif %}

    <script type="application/ld+json">
        {{ dc_json | safe }}
    </script>
    <!--data/data_depot.html-->
    {% if dois %}
        {% for id in dois %}
            <meta name="identifier" content="{{id}}">
        {% endfor %}
    {% else %}
    <meta name="identifier" content="{{doi}}">
    {% endif %}
    <!-- Dublin Core Metatags -->
    <meta name="DC.identifier" content="{{doi}}">
    <meta name="DC.publisher" content="DesignSafe-CI">
    <meta name="DC.title" content="{{citation_title}}">
    <meta name="DC.date" content="{{citation_date}}">
    <meta name="DC.language" content="en">
    <meta name="DC.creator" content="{% for author in authors %}{{author.full_name}}; {% endfor %}">
    <meta name="DC.type" content="dataset">
{% endblock %}
{% block title %}
{% if citation_title %}{{citation_title}} 
{% else %}
Data Depot
{% endif %}
{% endblock %}
{% block head_extra %}
    <base href="{% url 'designsafe_data:data_depot' %}">
{% endblock %}
{% block content %}
    {%if react_flag%}
    <div id="datafiles-root" style="display: flex; flex-direction: column; flex: 1;"></div>
    {% endif %}

    {%if not react_flag%}
    <div class="container dd-container">
        <ddmain style="position: relative;">    
        </ddmain>
    </div>
    {%endif%}

    {% addtoblock "css" %}
    {% endaddtoblock %}

    {% addtoblock "js" %}
        {% if debug and react_flag %}
        <script type="module">
            import RefreshRuntime from 'http://localhost:4200/static/@react-refresh';
            RefreshRuntime.injectIntoGlobalHook(window);
            window.$RefreshReg$ = () => {};
            window.$RefreshSig$ = () => (type) => type;
            window.__vite_plugin_react_preamble_installed__ = true;
        </script>
        <script type="module" src="http://localhost:4200/static/@vite/client"></script>
        <script type="module" src="http://localhost:4200/static/src/main.tsx"></script>
        {% else %}
        <!--setup non-dev static import for React code-->
        {% endif %}
        {% if react_flag and not debug %}
            {% include "react-assets.html" %} 
        {% endif %}
    {% if not react_flag %}
    <script src="<%= htmlWebpackPlugin.files.js %>"></script>
    {% endif %}
    {% endaddtoblock %}
{% endblock %}
