<h3>FileSystem</h3>
<div class="filesystem">
    <div ng-if="!fs.rootFolder" class="parent-folder">
        <a href="#" ng-click="fs.getList(fs.parentPath)">[[fs.parentPath]]</a>
    </div>
    <div ng-if="!fs.loading">
        <span>path: [[fs.path]]</span>
        <ul>
            <li ng-class="{true: 'folder', false: 'file'}[l.format == 'directory']" ng-repeat="l in fs.list">
                <a href="#" ng-click="fs.getList(l.href)">[[l.name]]</a>
            </li>
        </ul>
    </div>
    <div ng-if="fs.loading">
        Loading...
    </div>
</div>
