{% extends "base_angular.html" %}
{% load cms_tags staticfiles sekizai_tags pipeline %}
{% block title %}Data Browser: My Data{% endblock %}
{% block content %}
<div class="container">
    <h1 class="headline headline-research">
        <span class="hl hl-research">Data Browser</span>
    </h1>
    <div class="row-flex row-flex-center">
        <div class="col-flex col-flex-center">
            <a href="{% url 'designsafe_data:public_data' %}" class="col-flex col-flex-v-center giant-button text-center">
                <i class="fa fa-5x fa-globe"></i>
                <h2>Public Data</h2>
            </a>
        </div>
        <div class="col-flex col-flex-center">
            <a href="{% url 'designsafe_data:my_data' %}" class="col-flex col-flex-v-center giant-button text-center">
                <i class="fa fa-5x fa-hdd-o"></i>
                <h2>My Data</h2>
            </a>
        </div>
    </div>
</div>
{% endblock %}
