{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Reply to #{{ ticket_id }}{% endblock %}

{% block breadcrumb %}
<div class="container">
    <ul class="breadcrumb">
        <li><a href="{% url 'djangoRT:index' %}">Help</a></li>
        <li><a href="{% url 'djangoRT:mytickets' %}">My Tickets</a></li>
        <li><a href="{% url 'djangoRT:ticketdetail' ticket_id %}">{{ticket_id}}</a></li>
        <li class="active">
          {% if ticket.Status == 'resolved' or ticket.Status == 'closed' %}Reopen{% else %}Reply to {% endif %}
          Ticket
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <h2>
    {% if ticket.Status == 'resolved' or ticket.Status == 'closed' %}Reopen{% else %}Reply to{% endif %} #{{ ticket_id }}: {{ ticket.Subject }}
  </h2>

  <div class='reply_description'>
  {% if ticket.Status == 'resolved' or ticket.Status == 'closed' %}
    Please provide a message to explain why you are reopening this ticket.
  {% endif %}
  </div>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% bootstrap_form form %}

      <button class="btn btn-success" type="submit">
        {% if ticket.Status == 'resolved' or ticket.Status == 'closed' %}
          Reopen
        {% else %}
          Reply
        {% endif %}
      </button>
      <a href="{% url 'djangoRT:ticketdetail' ticket_id %}" class="btn btn-default">Cancel</a>
  </form>
</div>
{% endblock %}
