{% load i18n %}
<td>
  <span class="label {% if ticket.Status == 'resolved' or ticket.Status == 'closed' %}label-default{% else %}label-info{% endif %}">
    {% trans ticket.Status %}
  </span>
</td>
<td>
  <a href="{% url 'djangoRT:ticketdetail' ticket.id %}"> #{{ ticket.id }} : {{ ticket.Subject }}</a>
</td>
<td>
  {{ticket.LastUpdated|date:"M j Y P"}}
</td>
<td>
  <div class="btn-group">
    <a class="btn btn-info"
       title="{% if ticket.Status == 'resolved' or ticket.Status == 'closed' %}Reopen this ticket{% else %}Reply to this ticket{% endif %}"
       href="{% url 'djangoRT:ticketreply' ticket.id %}">
      <i role="none" class="fa fa-reply"></i>
      <span class="sr-only">
        {% if ticket.Status == 'resolved' or ticket.Status == 'closed' %}Reopen this ticket{% else %}Reply to this ticket{% endif %}
      </span>
    </a>
    {% if ticket.Status != 'resolved' and ticket.Status != 'closed' %}
      <a class="btn btn-danger"
         title="Close this ticket"
         href="{% url 'djangoRT:ticketclose' ticket.id %}">
        <i role="none" class="fa fa-times"></i>
        <span class="sr-only">Close this ticket</span>
      </a>
    {% endif %}
  </div>
</td>
