{% extends "base.html" %}
{% load static sekizai_tags tz %}
{% block title %}My Tickets{% endblock %}

{% block breadcrumb %}
<div class="container">
    <ul class="breadcrumb">
        <li><a href="{% url 'djangoRT:index' %}">Help</a></li>
        <li class="active">My Tickets</li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <h1>My Tickets</h1>

  <a class="btn btn-primary" href="{% url 'djangoRT:ticketcreate' %}">
    <i class="fa fa-plus-circle"></i>
    Create a new ticket
  </a>

  {% if show_resolved %}
    <h3>
      All Tickets
      <small>
        <a class="btn btn-default btn-xs pull-right" href="{% url 'djangoRT:mytickets' %}">
          Show only open tickets
        </a>
      </small>
    </h3>
  {% else %}
    <h3>
      Open Tickets
      <small>
        <a class="btn btn-default btn-xs pull-right" href="{% url 'djangoRT:mytickets' %}?show_resolved">
          Show resolved tickets
        </a>
      </small>
    </h3>
  {% endif %}

  <form action="">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-filter"></i></span>
        <input class="form-control search" type="text" id="search" placeholder="Filter tickets">
      </div>
    </div>
  </form>

  <div class="table-responsive">
    <table class="tickets table table-striped">
      <thead>
      <th>Status</th>
      <th>Ticket ID / Subject</th>
      <th>Last Updated</th>
      <th>Actions</th>
      </thead>
      <tbody>
        {% for ticket in tickets %}
          <tr class="ticket">
            {% include "djangoRT/ticket.html" %}
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">
              <div class="jumbotron">
                <p>No tickets to display!</p>
              </div>
            </td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% addtoblock "js" %}
<script src="{% static 'djangoRT/js/djangoRT.js' %}"></script>
{% endaddtoblock %}
{% endblock %}
