{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Close #{{ ticket_id }}{% endblock %}

{% block breadcrumb %}
<div class="container">
    <ul class="breadcrumb">
        <li><a href="{% url 'djangoRT:index' %}">Help</a></li>
        <li><a href="{% url 'djangoRT:mytickets' %}">My Tickets</a></li>
        <li><a href="{% url 'djangoRT:ticketdetail' ticket_id %}">{{ticket_id}}</a></li>
        <li class="active">Close Ticket</li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h2>
      Close #{{ ticket_id }} : {{ ticket.Subject }}
    </h2>

    <div class='reply_description'>
      Are you sure you want to close this ticket? Please provide a comment.
    </div>

    <form method="POST" enctype="multipart/form-data" action="">
      {% csrf_token %}

      {% bootstrap_form form %}

        <button class="btn btn-success" type="submit">
          Close
        </button>
        <a href="{% url 'djangoRT:ticketdetail' ticket_id %}" class="btn btn-default">Cancel</a>
    </form>
</div>
{% endblock %}
