{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Create a Ticket{% endblock %}

{% block breadcrumb %}
<div class="container">
    <ul class="breadcrumb">
        <li><a href="{% url 'djangoRT:index' %}">Help</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'djangoRT:mytickets' %}">My Tickets</a></li>
        {% endif %}
        <li class="active">Create Ticket</li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Submit a new ticket</h1>
    <p>
        If your question isn't answered by our <a href="{% url 'pages-details-by-slug' slug='faq' %}">FAQ</a> 
        or <a href="{% url 'pages-details-by-slug' slug='rw/user-guides' %}">User Guides</a>,
        please use this form to contact us with your questions.
    </p>
    <p><i>Fields marked with <label class="required"></label> are required.</i></p>
    <form method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
        {% bootstrap_form form %}

        <button type="submit" class="btn btn-success">Create Ticket</button>
        {% if user.is_authenticated %}
        <a href="{% url 'djangoRT:mytickets' %}" class="btn btn-default">Cancel</a>
        {% endif %}
    </form>
</div>
{% endblock %}
