{% extends "base.html" %}
{% load static sekizai_tags tz %}
{% block title %}Ticket #{{ ticket_id }}{% endblock %}

{% block breadcrumb %}
<div class="container">
    <ul class="breadcrumb">
        <li><a href="{% url 'djangoRT:index' %}">Help</a></li>
        <li><a href="{% url 'djangoRT:mytickets' %}">My Tickets</a></li>
        <li class="active">{{ticket_id}}</li>
    </ul>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <h1>{{ ticket.Subject }}<br><small>Ticket #{{ ticket_id }}</small></h1>

    <div>
        <b>Actions:</b>
        <a class="btn btn-info" href="{% url 'djangoRT:ticketreply' ticket.id %}">
            <i class="fa fa-reply"></i>
            {% if ticket.Status == 'resolved' or ticket.Status == 'closed' %}Reopen this ticket{% else %}Reply to this ticket{% endif %}
        </a>
        {% if ticket.Status != 'resolved' and ticket.Status != 'closed' %}
        <a class="btn btn-danger" href="{% url 'djangoRT:ticketclose' ticket.id %}">
            <i class="fa fa-times"></i> Close this ticket
        </a>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-9">
            {% for history in ticket_history %}
            {% if history.Type == "Correspond" or history.Type == "Create" %}
            <div class="history-item history-item-{{history.Type|lower}}">
                <h4>
                    <i class="fa fa-{% if history.Type == "Correspond" %}comment{% elif history.Type == 'Create' %}plus-circle{% endif %}"></i>
                    {% localtime off %}
                        {{history.Created|date:"M j Y P"}}
                    {% endlocaltime %}
                    <small>{{history.Description}}</small>
                </h4>

                <pre>{{history.Content}}</pre>

                {% if history.Attachments %}
                    <h5>Attachments:</h5>
                    {% for attachment_id, title in history.Attachments %}
                        <a href="{% url 'djangoRT:ticketattachment' ticket_id attachment_id %}">{{ title }}</a> <br />
                    {% endfor %}
                {% endif %}
            </div>
            {% elif history.Type == "Status" %}
            <div class="history-item history-item-{{history.Type|lower}}">
                <blockquote>
                    <i class="fa fa-bell"></i>
                    {{history.Description }}<br>
                    {% localtime off %}
                        {{history.Created|date:"M j Y P"}}
                    {% endlocaltime %}
                </blockquote>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div>
        <b>Actions:</b>
        <a class="btn btn-info" href="{% url 'djangoRT:ticketreply' ticket.id %}">
            <i class="fa fa-reply"></i>
            {% if ticket.Status == 'resolved' or ticket.Status == 'closed' %}Reopen this ticket{% else %}Reply to this ticket{% endif %}
        </a>
        {% if ticket.Status != 'resolved' and ticket.Status != 'closed' %}
        <a class="btn btn-danger" href="{% url 'djangoRT:ticketclose' ticket.id %}">
            <i class="fa fa-times"></i> Close this ticket
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}
