<div ng-show="!item.inprocess && item.model.name != 'Shared with me' && item.model.name != '.Trash'">
    <div class="dropdown fm-dropdown">
        <button class="btn btn-sm btn-default main-btn"
                type="button"
                data-toggle="dropdown" class="fm-dropdown-action"
                title="Action Menu">
            <span class="action-label">
                <i class="glyphicon glyphicon-option-horizontal"></i>
            </span>
            <span>Actions</span>
        </button>
        <ul class="dropdown-menu dropdown-action-menu ">
            <li ng-if="config.allowedActions.download && !item.isFolder()">
                <a ng-click="item.download()" class="fm-dropdown-action"
                   title="{{'Download' | translate}}">
                    <span class="action-label">
                        <i class="glyphicon glyphicon-cloud-download"></i>
                    </span>
                    <span>{{'Download' | translate}}</span>
                </a>
            </li>

            <li ng-if="config.allowedActions.preview && item.isPreviewable()">
                <a data-toggle="modal" class="fm-dropdown-action"
                   data-target="#preview"
                   ng-click="preview(item)"
                   title="{{'Preivew' | translate}}">
                    <span class="action-label">
                        <i class="glyphicon glyphicon-eye-open"></i>
                    </span>
                    <span>{{'Preview' | translate}}</span>
                </a>
            </li>

            <li ng-if="config.allowedActions.edit && item.isEditable() && filesystem == 'default' && onPrivateData() && !fileNavigator.agaveFallback">
                <a data-target="#edit"
                   data-toggle="modal" class="fm-dropdown-action"
                   ng-click="item.getContent(); touch(item)"
                   title="{{'Edit' | translate}}">
                    <span class="action-label">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                    <span>{{'Edit' | translate}}</span>
                </a>
            </li>

            <li ng-if="config.allowedActions.metadata && filesystem == 'default' && !fileNavigator.agaveFallback">
                <a data-toggle="modal" class="fm-dropdown-action"
                   data-target="#metadata"
                   ng-click="showMetadata(item)"
                   title="{{'Metadata' | translate}}">
                    <span class="action-label">
                        <i class="glyphicon glyphicon-tags"></i>
                    </span>
                    <span>{{'Show/Edit Metadata' | translate}}</span>
                </a>
            </li>

            <li ng-if="!onPrivateData() && !fileNavigator.agaveFallback">
                <a data-target="#details"
                   data-toggle="modal" class="fm-dropdown-action"
                   ng-click="showPublicMetadata(item)"
                   title="{{'details' | translate}}">
                    <span class="action-label">
                        <i class="glyphicon glyphicon-modal-window"></i>
                    </span>
                    <span>{{'View Metadata' | translate}}</span>

                </a>
            </li>

            <li class="divider" role="separator" ng-if="(config.allowedActions.share || config.allowedActions.changePermissions) && filesystem == 'default' && onPrivateData() && !fileNavigator.agaveFallback"></li>

            <li ng-if="config.allowedActions.share && filesystem == 'default' && onPrivateData() && !fileNavigator.agaveFallback">
                <a data-toggle="modal" class="fm-dropdown-action"
                   data-target="#share"
                   ng-click="touch(item)"
                   title="{{'Share' | translate}}">
                    <span class="action-label">
                        <i class="glyphicon glyphicon-send"></i>
                    </span>
                    <span>{{'Share' | translate}}</span>
                </a>
            </li>

            <li ng-if="config.allowedActions.changePermissions && filesystem == 'default' && onPrivateData() && !fileNavigator.agaveFallback">
                <a data-target="#changepermissions"
                   data-toggle="modal" class="fm-dropdown-action"
                   ng-click="getPermissions(item)"
                   title="{{'Permissions' | translate}}">
                    <span class="action-label">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <span>{{'Permissions' | translate}}</span>
                </a>
            </li>

            <li class="divider" role="separator" ng-if="(config.allowedActions.copy || config.allowedActions.rename) && filesystem == 'default' && onPrivateData()"></li>

            <li ng-if="config.allowedActions.copy && filesystem == 'default' && onPrivateData() && !fileNavigator.agaveFallback">
                <a data-target="#copy"
                   data-toggle="modal" class="fm-dropdown-action"
                   ng-click="touch(item)"
                   title="{{'Copy' | translate}}">
                    <span class="action-label">
                        <i class="glyphicon glyphicon-log-out"></i>
                    </span>
                    <span>{{'Copy' | translate}}</span>
                </a>
            </li>

            <li ng-if="config.allowedActions.rename && filesystem == 'default' && onPrivateData() && !fileNavigator.agaveFallback">
                <a data-target="#move"
                   data-toggle="modal" class="fm-dropdown-action"
                   ng-click="touch(item)"
                   title="{{'Move' | translate}}">
                    <span class="action-label">
                        <i class="glyphicon glyphicon-transfer"></i>
                    </span>
                    <span>{{'Move' | translate}}</span>
                </a>
            </li>

            <li>
                <a data-target="#rename"
                   data-toggle="modal" class="fm-dropdown-action"
                   ng-if="config.allowedActions.rename && filesystem == 'default' && onPrivateData() && !fileNavigator.agaveFallback"
                   ng-click="touch(item)"
                   title="{{'Move' | translate}}">
                    <span class="action-label">
                        <i class="glyphicon glyphicon-edit"></i>
                    </span>
                    <span>{{'Rename' | translate}}</span>
                </a>
            </li>

            <li ng-if="((config.allowedActions.compress && item.isCompressible()) || (config.allowedActions.extract && item.isExtractable())) && filesystem == 'default' && onPrivateData() && !fileNavigator.agaveFallback" class="divider" role="separator"></li>

            <li ng-if="config.allowedActions.compress && item.isCompressible() && filesystem == 'default' && onPrivateData() && !fileNavigator.agaveFallback">
                <a data-target="#compress"
                   data-toggle="modal" class="fm-dropdown-action"
                   ng-click="touch(item)"
                   title="{{'Compress' | translate}}">
                    <span class="action-label">
                        <i class="glyphicon glyphicon-compressed"></i>
                    </span>
                    <span>{{'Compress' | translate}}</span>
                </a>
            </li>

            <li ng-if="config.allowedActions.extract && item.isExtractable() && filesystem == 'default' && onPrivateData() && !fileNavigator.agaveFallback">
                <a data-target="#extract"
                   data-toggle="modal" class="fm-dropdown-action"
                   ng-click="touch(item); item.tempModel.name=''"
                   title="{{'Extract' | translate}}">
                    <span class="action-label">
                        <i class="glyphicon glyphicon-export"></i>
                    </span>
                    <span>{{'Extract' | translate}}</span>
                </a>
            </li>

            <li class="divider" role="separator" ng-if="config.allowedActions.remove && filesystem == 'default' && onPrivateData() && !fileNavigator.agaveFallback"></li>

            <li class="" ng-if="config.allowedActions.remove && filesystem == 'default' && onPrivateData() && !fileNavigator.agaveFallback && (fileNavigator.currentPath.length && fileNavigator.currentPath[0] == '.Trash' )">
                <a data-toggle="modal" class="fm-dropdown-action"
                   data-target="#delete"
                   ng-click="touch(item)" title="{{'Remove' | translate}}">
                    <span class="action-label text-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                    </span>
                    <span class="text-danger">{{'Remove' | translate}}</span>
                </a>
            </li>

            <li class="" ng-if="config.allowedActions.remove && filesystem == 'default' && onPrivateData() && !fileNavigator.agaveFallback && ( (fileNavigator.currentPath.length && fileNavigator.currentPath[0] != '.Trash') || !fileNavigator.currentPath.length )">
                <a data-toggle="modal" class="fm-dropdown-action"
                   data-target="#move-to-trash"
                   ng-click="touch(item)" title="{{'Move To Trash' | translate}}">
                    <span class="action-label text-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                    </span>
                    <span class="text-danger">{{'Move To Trash' | translate}}</span>
                </a>
            </li>

        </ul>
    </div>
</div>
<div ng-show="item.inprocess">
    <button class="btn btn-sm" style="visibility: hidden">&nbsp;</button>
    <span class="label label-warning">{{"wait" | translate}} ...</span>
</div>
