<table class="table mb0 table-files">
    <thead>
        <tr>
            <th ng-if="(filesystem == 'default') || (filesystem != 'default' && (fileNavigator.currentPath.length || fileNavigator.searchResults))">
                <a href="" ng-click="order('model.name')">
                    {{"name" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.name'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th class="">
                <a href="" ng-click="order('model.date')">
                    <span class="sortorder" ng-class="{reverse:reverse}">Action</span>
                </a>
            </th>
            <th class="hidden-xs hidden-sm" ng-if="(filesystem == 'default') || (filesystem != 'default' && fileNavigator.currentPath.length || fileNavigator.searchResults)">
                <a href="" ng-click="order('model.size')">
                    {{"size" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.size'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th class="hidden-sm hidden-xs" ng-class="{'col-md-6': filesystem != 'default'}">
                <a href="" ng-click="order('model.date')" ng-if="filesystem == 'default'">
                    <span>
                        {{"date" | translate}}
                    </span>
                    <span class="sortorder" ng-show="predicate[1] === 'model.date'" ng-class="{reverse:reverse}"></span>
                </a>
                <a href="" ng-click="order('model.projectTitle')" ng-if="filesystem != 'default'">
                    <span>
                        {{"Project Title" | translate}}
                    </span>
                    <span class="sortorder" ng-show="predicate[1] === 'model.projectTitle'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <!-- <th class="hidden-sm hidden-xs">
                <a href="" ng-click="order('model.permissions')">
                    {{"permissions" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.permissions'" ng-class="{reverse:reverse}"></span>
                </a>
            </th> -->
        </tr>
    </thead>
    <tbody class="file-item">
        <tr ng-show="fileNavigator.requesting">
            <td colspan="5">
                <div ng-include="config.tplPath + '/spinner.html'"></div>
            </td>
        </tr>
        <tr ng-show="!fileNavigator.requesting && fileNavigator.fileList.length < 1 && !fileNavigator.error">
            <td colspan="5">
                {{"no_files_in_folder" | translate}}...
            </td>
        </tr>
        <tr ng-show="!fileNavigator.requesting && fileNavigator.error">
            <td colspan="5">
                {{ fileNavigator.error }}
            </td>
        </tr>
        <!-- <tr ng-repeat="item in fileNavigator.fileList | filter: query | orderBy:predicate:reverse" ng-show="!fileNavigator.requesting> -->
        <tr ng-repeat="item in fileNavigator.fileList | orderBy:predicate:reverse" ng-show="!fileNavigator.requesting && item.model.name !== '.'">
            <td ng-if="(filesystem == 'default') || (filesystem != 'default' && fileNavigator.currentPath.length || fileNavigator.searchResults)">
                <a fm-draggable data-agave-href = "{{item.model.agavePath}}" href="{{item.model.fullPath()}}" ng-click="smartClick(item, $event)" title="{{item.model.name}} ({{item.model.sizeKb()}}kb)" class="file-folder">
                    <i class="glyphicon glyphicon-folder-close" ng-show="item.model.type === 'dir'"></i>
                    <i class="glyphicon glyphicon-file" ng-show="item.model.type !== 'dir'"></i>
                    <span ng-if = "!fileNavigator.searchResults">
                    {{item.model.name | strLimit : 120}}
                    </span>
                    <span ng-if = "fileNavigator.searchResults">
                    {{item.model.fullPath() | strLimit : 120}}
                    </span>
                    <span ng-show="item.downloading" class="label label-warning">
                        {{"Downloading" | translate}}...
                    </span>
                </a>
            </td>
            <td class="">
              <div ng-switch="public">
                <div ng-switch-when="true">
                  <div ng-include="config.tplPath + '/item-toolbar-public.html'"></div>
                </div>
                <div ng-switch-default>
                  <div ng-include="config.tplPath + '/item-toolbar.html'"></div>
                </div>
            </td>
            <td class="hidden-sm hidden-xs" ng-if="(filesystem == 'default') || (filesystem != 'default' && fileNavigator.currentPath.length || fileNavigator.searchResults)">
                {{item.model.sizeKb()}}kb
            </td>
             <td class="hidden-sm hidden-xs" ng-class="{'col-md-6': filesystem != 'default'}">
                <!-- {{item.model.date | formatDate }} -->
                <span ng-if="filesystem == 'default'">
                    {{item.model.date}}
                </span>
                <a href = "#" ng-if="filesystem != 'default' && !fileNavigator.currentPath.length" ng-click="smartClick(item, $event)" title="{{item.model.projectTitle}}">
                    {{item.model.projectTitle | translate}}
                </a>
                <span ng-if="filesystem != 'default' && fileNavigator.currentPath.length">
                    {{item.model.projectTitle | translate}}

            </td>
            <!-- <td class="hidden-sm hidden-xs">
                {{item.model.perms.toCode(item.model.type === 'dir'?'d':'-')}}
            </td> -->
        </tr>
    </tbody>
</table>
