<h3>{{publicMetadata.project.title}}</h3>
<uib-tabset active="active">
    <uib-tab index="0" heading="Project">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="publicMetadata.project.title">
                        <td>
                            {{'title' | translate}}
                        </td>
                        <td>
                            {{publicMetadata.project.title}}
                        </td>
                    </tr>
                    <tr ng-if="publicMetadata.project.name">
                        <td>
                            {{'name' | translate}}
                        </td>
                        <td>
                            {{publicMetadata.project.name}}
                        </td>
                    </tr>
                    <tr ng-if="publicMetadata.project.pis">
                        <td>
                            {{'pis' | translate}}
                        </td>
                        <td>
                            <div ng-repeat="pi in publicMetadata.project.pis | orderBy: 'firstName'">
                                {{pi.firstName}} {{pi.lastName}}
                                <br>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="publicMetadata.project.organization">
                        <td>
                            {{'organization' | translate}}
                        </td>
                        <td>

                            <div ng-repeat="organization in publicMetadata.project.organization">
                                {{organization.name}}
                                <br> {{organization.state}}
                                <br> {{organization.country}}
                                <br>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="publicMetadata.project.description">
                        <td>
                            {{'description' | translate}}
                        </td>
                        <td>
                            {{publicMetadata.project.description}}
                        </td>
                    </tr>
                    <tr ng-if="publicMetadata.project.sponsor">
                        <td>
                            {{'sponsor' | translate}}
                        </td>
                        <td>
                            <div ng-repeat="sponsor in publicMetadata.project.sponsor">
                                <a ng-href="{{sponsor.url}}">{{sponsor.name}}</a>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="publicMetadata.project.startDate">
                        <td>
                            {{'startDate' | translate}}
                        </td>
                        <td>
                            {{publicMetadata.project.startDate}}
                        </td>
                    </tr>
                    <tr ng-if="publicMetadata.project.endDate">
                        <td>
                            {{'endDate'| translate}}
                        </td>
                        <td>
                            {{publicMetadata.project.endDate}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
    <uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
        {{tab.content}}
    </uib-tab>
    <uib-tab index="3">
        <uib-tab-heading>Experiments
        </uib-tab-heading>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-lg-2"></th>
                        <th class="col-lg-10"></th>
                    </tr>
                </thead>
                <tbody ng-repeat="experiment in publicMetadata.experiments | orderBy: nameOrder">
                    <tr>
                        <td class="col-lg-2">{{experiment.name | translate}}</td>
                        <td class="col-lg-10">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="experiment.title">
                                        <td>
                                            {{'title' | translate}}
                                        </td>
                                        <td>
                                            {{experiment.title}}
                                        </td>
                                    </tr>
                                    <tr ng-if="experiment.type">
                                        <td>
                                            {{'type' | translate}}
                                        </td>
                                        <td>
                                            {{experiment.type}}
                                        </td>
                                    </tr>
                                    <tr ng-if="experiment.description">
                                        <td>
                                            {{'description' | translate}}
                                        </td>
                                        <td>
                                            {{experiment.description}}
                                        </td>
                                    </tr>
                                    <tr ng-if="experiment.startDate">
                                        <td>
                                            {{'startDate' | translate}}
                                        </td>
                                        <td>
                                            {{experiment.startDate}}
                                        </td>
                                    </tr>
                                    <tr ng-if="experiment.endDate">
                                        <td>
                                            {{'endDate' | translate}}
                                        </td>
                                        <td>
                                            {{experiment.endDate}}
                                        </td>
                                    </tr>
                                    <tr ng-if="experiment.equipment">
                                        <td>
                                            {{'equipment' | translate}}
                                        </td>
                                        <td>
                                            <div class="table-responsive">
                                                <table class="table table-borderless">
                                                    <thead>
                                                        <tr>
                                                            <th>{{'equipment' | translate}}</th>
                                                            <th>{{'component' | translate}}</th>
                                                            <th>{{'equipmentClass' | translate}}</th>
                                                            <th>{{'facility' | translate}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="equipment in experiment.equipment">
                                                            <td>
                                                                {{equipment.equipment}}
                                                            </td>
                                                            <td>
                                                                {{equipment.component}}
                                                            </td>
                                                            <td>
                                                                {{equipment.equipmentClass}}
                                                            </td>
                                                            <td>
                                                                {{equipment.facility}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="experiment.material">
                                        <td>
                                            {{'material' | translate}}
                                        </td>
                                        <td>

                                            <div ng-repeat="materials in experiment.material">
                                                <div>
                                                    {{materials.component}}:
                                                </div>
                                                <div ng-repeat="material in materials.materials">
                                                    {{material}}
                                                    <br>
                                                </div>
                                                <br>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="(experiment.systemId && experiment.path)">
                                        <td>
                                            {{'title' | translate}}
                                        </td>
                                        <td>
                                            {{experiment.title}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
</uib-tabset>
