  <div class="container">
    <div id="db-navbar">
        <div class="search-ph" style="overflow:auto">
            <input type="text" class="form-control input-sm" placeholder="{{'search' | translate}}..." ng-model="query" ng-keydown="search($event, query)" style="width:90%; float:left; margin:0px 0px 5px 0px;">
            <button class="btn btn-info btn-sm" ng-click="toggleAdvSearch()" style="float:right;"> 
            <i class="glyphicon glyphicon-cog"></i> Advanced
            </button>
            <div class="search-adv" ng-show="advSearch.show" style="width:50%; margin:0 auto; margin-bottom:20px;">
                <form name="adv-search">
                    <label for='meta-author'>Author:</label>
                    <input class="form-control" type="text" ng-model="advSearch.form.author" name="meta-author">
                    <label for='meta-project'>Project:</label>
                    <input class="form-control" type="text" ng-model="advSearch.form.project" name="meta-project">
                    <label for='meta-source'>Source:</label>
                    <input class="form-control" type="text" ng-model="advSearch.form.source" name="meta-source">
                    <label for='meta-key'>Key:</label>
                    <input class="form-control" type="text" ng-model="advSearch.form.key" name="meta-key">
                    <button class="pull-right btn btn-default btn-sm" ng-click="searchAdvanced(advSearch)" style="margin: 5px 0;">Search</button> 
                </form>
            </div>
            </div>
        </div>
        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#newfolder" ng-click="touch()">
            <i class="glyphicon glyphicon-plus"></i> {{"create_folder" | translate}}
        </button>
        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#uploadfile" ng-click="touch()" style="margin: 5px 0;">
            <i class="glyphicon glyphicon-upload"></i> {{"upload_file" | translate}}
        </button>

        <!-- <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropDownMenuLang" data-toggle="dropdown" aria-expanded="true">
            <i class="glyphicon glyphicon-globe"></i> {{"language" | translate}} <span class="caret"></span>
        </button> -->
        <!-- <ul class="dropdown-menu" role="menu" aria-labelledby="dropDownMenuLang">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('en')">{{"english" | translate}}</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('es')">{{"spanish" | translate}}</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('pt')">{{"portuguese" | translate}}</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="changeLanguage('fr')">{{"french" | translate}}</a></li>
        </ul> -->

        <button class="btn btn-default btn-sm" ng-click="$parent.setTemplate('main-icons.html')" ng-show="$parent.viewTemplate !== 'main-icons.html'" title="{{'icons' | translate}}" style="margin: 5px 0;">
            <i class="glyphicon glyphicon-th-large"></i>
        </button>
        <button class="btn btn-default btn-sm" ng-click="$parent.setTemplate('main-table.html')" ng-show="$parent.viewTemplate !== 'main-table.html'" title="{{'list' | translate}}" style="margin: 5px 0;">
            <i class="glyphicon glyphicon-th-list"></i>
        </button>

    </div>
  </div>
