<div class="modal-header"  style="background: #e6e6e6;">
    <h4 class="modal-title">
        <span>Version Changes</span>
        <span class="pull-right" ng-click="$ctrl.cancel()">
            <i class="fa fa-times"></i>
        </span>
    </h4>
</div>
<div class="modal-body">
    <div class="pub-info-item">
        <div class="pub-info-modal-label">
            Version
        </div>
        <div class="pub-info-modal-data">
            {{$ctrl.version}}
        </div>
    </div>
    <div class="pub-info-item">
        <div class="pub-info-modal-label">
            Date of Versioning
        </div>
        <div class="pub-info-modal-data">
            {{$ctrl.versionDate}}
        </div>
    </div>
    <div class="pub-info-item" ng-if="$ctrl.entName">
        <div class="pub-info-modal-heading">
            {{$ctrl.entName}}(s) Versioned
        </div>
        <div class="pub-info-modal-body" ng-repeat="title in $ctrl.versionedTitles">
            {{title}}
        </div>
    </div>
    <div class="pub-info-item">
        <div>
            {{$ctrl.versionDescription}}
        </div>
    </div>
</div>