<div class="pipeline-nav">
    <a ng-class="{'btn disabled': $ctrl.ui.loading || $ctrl.ui.submitted}"
       ng-click="$ctrl.goCitation()"
    >
        <i role="none" class="fa fa-arrow-left"></i> Back
    </a>
    <button class="btn btn-small btn-add"
            ng-click="$ctrl.submitVersion()"
            ng-disabled="$ctrl.ui.loading || $ctrl.ui.submitted"
    >
        Publish New Version
    </button>
</div>
<div class="pipeline-page">
    <div class="pipeline-header">
        <h3>Explain Version Changes</h3>
        If you need help, attend <a href="/facilities/virtual-office-hours/" target="_blank" aria-describedby="msg-open-new-window">curation office hours</a>.
        <div ng-if="$ctrl.ui.loading">
            <h3 class="text-center">
                <i role="none" class="fa fa-spinner fa-spin"></i> Loading...
            </h3>
        </div>
    </div>
    <div class="pipeline-notification">
        <div class="alert alert-success flex-container" ng-if="$ctrl.ui.success">
            <i role="none" class="fa fa-check notification-icon"></i>
            <div>
                Your publication revision has been submitted.
                <strong>Do not attempt to update your publication again.</strong>
                Please wait until the publication has reappeared in the publications
                area before changing anything in the project. This process can take
                up to an hour or more for large datasets.
            </div>
        </div>
        <div class="alert alert-warning flex-container" ng-if="$ctrl.ui.warning && $ctrl.prjType === 'other'">
            <i role="none" class="fa fa-exclamation-triangle notification-icon"></i>
            <div>
                You are required to provide a revision description. This
                will be displayed in the publication.
            </div>
        </div>
        <div class="alert alert-warning flex-container" ng-if="$ctrl.ui.warning && $ctrl.prjType != 'other'">
            <i role="none" class="fa fa-exclamation-triangle notification-icon"></i>
            <div>
                You are required to select the procedure that is
                relevant to your versioning changes.
            </div>
        </div>
        <div class="alert alert-danger flex-container" ng-if="$ctrl.ui.error">
            <i role="none" class="fa fa-times notification-icon"></i>
            <div>
                There was an issue when attempting to submit your project
                for revision.
                <strong>Do not attempt to update your publication again.</strong> Please
                <a href="/help/new-ticket/?category=DATA_CURATION_PUBLICATION&subject=Requesting+new+version+of+existing+publication:+{{$ctrl.project.value.projectId}}"
                target="_blank" aria-describedby="msg-open-new-window">submit a ticket</a> and we will assist you with this issue.
            </div>
        </div>
        <button class="btn btn-small btn-add"
            ng-click="$ctrl.goProject()"
            ng-if="!$ctrl.ui.loading && $ctrl.ui.submitted"
        >
            Return to Project
        </button>
    </div>
    <div ng-if="!$ctrl.ui.loading && !$ctrl.ui.submitted">
        <div class="pipeline-section">
            <label>Version Changes</label>&nbsp;<span class="label label-danger">Required</span>
            <div>
                Specify what files you are adding, removing, or replacing, and why these changes are needed.
                This will be displayed to those viewing your publication, so be detailed and formal in your explanation.
            </div>
            <textarea ng-model="$ctrl.revisionText"></textarea>
        </div>
        <div class="pipeline-section" ng-if="$ctrl.prjType != 'other'">
            <label>Where are the changes you are referring to?</label>&nbsp;<span class="label label-danger">Required</span>
            <div ng-repeat="ent in $ctrl.revisionSelections track by $index">
                <input type="checkbox" ng-model="ent.selected">
                {{ent.title}}
            </div>
        </div>
    </div>
</div>
