{% extends "base.html" %}

{% block title %}Box.com Integration{% endblock %}

{% block content %}
<div class="container">
    <h1 class="headline headline-research">Box.com Integration</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="panel {% if box_enabled and box_connection %}panel-success{% elif box_enabled %}panel-warning{% else %}panel-default{% endif %}">
                {% if box_enabled %}
                    <div class="panel-heading">Box.com Enabled</div>
                {% else %}
                    <div class="panel-heading">Box.com NOT Enabled</div>
                {% endif %}
                <div class="panel-body">
                {% if box_enabled %}
                    {% if box_connection %}
                        <p>
                            Box.com integration is enabled. DesignSafe can connect to
                            Box.com as <em>{{box_connection.name}} ({{box_connection.login}})</em>.
                        </p>
                    {% else %}
                        <p class="text-warning">
                            While you have previously authorized DesignSafe to connect
                            to your Box.com account, the connection test failed for some
                            reason. You may have revoked access from your Box.com Account
                            Security page. To fix this, first disconnect Box.com integration
                            and then re-enable.
                        </p>
                    {% endif %}
                    <a href="{% url 'box_integration:disconnect' %}" class="btn btn-default">Disconnect Box.com</a>
                {% else %}
                    <p>
                        Box.com integration is not enabled for your account. Click below
                        to configure DesignSafe/Box.com integration.
                    </p>
                    <a href="{% url 'box_integration:initialize_token' %}" class="btn btn-default">Setup Box.com</a>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <p class="lead">
                <em class="label label-success">New!</em>
                By connecting your Box.com account with DesignSafe, you can access your
                Box.com files in the DesignSafe Data Depot. You can select files and
                folders to copy to DesignSafe where you can operate on those files in
                Tools & Applications. You can also send files from DesignSafe back to Box.com.
            </p>
        </div>
    </div>

</div>
{% endblock %}
