:global(.leaflet-control-layers),
:global(.leaflet-control-zoom) {
  background-color: #707070 !important;
  color: white !important;
  border: none;
}

:global(.leaflet-control-layers label),
:global(.leaflet-control-layers span) {
  color: white !important;
}

:global(.leaflet-control-zoom-in),
:global(.leaflet-control-zoom-out) {
  color: white !important;
  background-color: #707070 !important;
  border: none;
  font-weight: bold;
}

.root {
  width: 100%;
  height: 100%;
}