.popupContainer {
  max-width: 250px;
}

.title {
  margin-bottom: 2px !important;
  font-size: 14px !important;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
}

.compactText {
  font-size: 11px !important;
}

.externalIcon {
  margin-left: 3px;
} 