{% extends "base.html" %}

{% block title %}My Account{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="headline headline-research">My Account</h1>
    <div class="row">
      <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#profile">Profile</a></li>
          <li><a href="#authentication">Authentication</a></li>
          <li><a href="#notifications">Notifications</a></li>
          <li><a href="#identities">Identites</a></li>
          <li><a href="#applications">Applications</a></li>
        </ul>
        <br>
      </div>
      <div class="col-sm-9">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="alert alert-warning">
              <h4>TODO</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}