{% extends "base.html" %}

{% block title %}My Account{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="headline headline-research">My Account</h1>
    <div class="row">
      <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#profile">Profile</a></li>
          <li><a href="#authentication">Authentication</a></li>
          <li><a href="#notifications">Notifications</a></li>
          <li><a href="#identities">Identities</a></li>
          <li><a href="#applications">Applications</a></li>
        </ul>
        <br>
      </div>
      <div class="col-sm-9">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <h3>Personal information</h3>
                <dl>
                  <dt>Full name</dt>
                  <dd>{{profile.firstName}} {{profile.lastName}}</dd>

                  <dt>Email address</dt>
                  <dd>{{profile.email}}</dd>

                  <dt>Phone number</dt>
                  <dd>{{profile.phone}}</dd>

                  <dt>Institution</dt>
                  <dd>{{profile.institution}}{% if profile.department %}, {{profile.department}}{% endif %}</dd>

                  <dt>Title</dt>
                  <dd>{{profile.title}}</dd>

                  <dt>Country of residence</dt>
                  <dd>{{profile.country}}</dd>

                  <dt>Country of citizenship</dt>
                  <dd>{{profile.citizenship}}</dd>

                </dl>
              </div>
              <div class="col-md-6">
                <h3>Demographics <a title="Why do we collect this?"><i class="fa fa-question-circle"></i></a></h3>
                <dl>
                  <dt>Ethnicity</dt>
                  <dd>&nbsp;</dd>

                  <dt>Gender</dt>
                  <dd>&nbsp;</dd>
                </dl>
              </div>
            </div>

            <hr>

            <button disabled class="btn btn-default"><i class="fa fa-edit"></i> Edit profile</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}