{% extends "designsafe/apps/accounts/base.html" %}

{% block panel_content %}
<div class="panel panel-default">
    <div class="panel-body">
        <h2>3rd Party Applications</h2>
        <p class="lead">
            Select the application settings to manage.
        </p>
        {% for app in integrations %}
        <hr>
        <div>
            <h3>{{app.label}}</h3>
            <p>{{app.description}}</p>
            <p>
                {% if app.href %}
                    <a href="{{app.href}}" class="btn btn-default">Manage App Settings</a>
                {% else %}
                    <button disabled class="btn btn-default">Coming Soon</button>
                {% endif %}
            </p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
