{% extends "base.html" %}

{% load bootstrap3 sekizai_tags static %}

{% block title %}Accessing DesignSafe{% endblock %}

{% block content %}
<div class="container">
    <h1 class="headline headline-research">Accessing DesignSafe</h1>

    <p class="lead">
        <a href="https://nees.org/">NEES</a> users can easily gain access to DesignSafe
        using their NEEShub account email address. We will then guide you through the
        steps required to create an account. Welcome to DesignSafe!
    </p>

    <p class="lead">
        To begin, please enter the email address associated with your NEEShub account.
    </p>

    <form method="post" action="{% url 'designsafe_accounts:nees_migration' '1' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary" type="submit">Access DesignSafe Now</button>
        <a class="btn btn-link" href="/">Cancel</a>
        <a class="btn btn-link" href="{% url 'login' %}">Already have an account? Log in.</a>
    </form>

</div>
{% endblock %}
