{% extends "base.html" %}
{% load sekizai_tags %}
{% block title %}Notifications{% endblock %}

{% block content %}
<div class="container">
<h1 class="headline headline-research">Notifications</h1>

{% if notifications %}
  <div class="alert alert-info">
    <h4>Coming soon!</h4>
    <p>
      Notifications will have action links to be able to jump to relevant pages to
      act on the notification.
    </p>
  </div>

  <ul class="list-group">
    {% for x in notifications %}
      <li class="list-group-item {% if x.read %} text-muted {% else %} text-info {% endif %}">
      <form id="delete_{{x.id}}" method="post" action ="{% url 'designsafe_accounts:delete_notification' %}">
        {% csrf_token %}
        <input name="id" type="hidden" value="{{x.id}}">
        <button name="delete" value="delete" type="submit">Delete</button>
      </form>
        <dl class="dl-horizontal">
          <dt>Type</dt>
          <dd>{{ x.event_type }}</dd>
          <dt>Time</dt>
          <dd>{{x.notification_time|date:'Y-m-d H:i'}}</dd>

          {% if x.event_type == 'job' %}
            <dt>Job name</dt>
            <dd>{{x.content.job_name}}</dd>

            <dt>Status</dt>
            <dd>{{x.content.status}}</dd>

            <dt>Archive path</dt>
            <dd>{{x.content.archive_path}}</dd>
          {% endif %}

          <dt>Raw message</dt>
          <dd>
            <p><button type="button" name="toggle-raw-message" class="btn btn-xs btn-default">Click to view</button></p>
            <p class="hide">{{x.body}}</p>
          </dd>
        </dl>
      </li>
    {% endfor %}
  </ul>

{% else %}
  <div class="jumbotron text-center">
    <i class="fa fa-bell fa-2x text-muted"></i>
    <h2>No unread notifications.</h2>
    <p>
      You have no unread notifications.
      <a href="{% url 'designsafe_accounts:manage_notifications' %}">Click here</a>
      to manage you notification settings.
    </p>
  </div>
{% endif %}
</div>

{% addtoblock 'js' %}
<script>
  (function(window, $, undefined) {
    $('button[name="toggle-raw-message"]').on('click', function(e) {
      e.preventDefault();
      $(this).parent().next().toggleClass('show');
    });
  })(window, jQuery);
</script>
{% endaddtoblock %}

{% endblock %}
