{% extends "base.html" %}

{% load bootstrap3 sekizai_tags %}

{% block title %}Account Help{% endblock %}

{% block content %}
<div class="container">
  <h1>Account Help</h1>
  <hr>
  <p class="h4">Having trouble logging in?</p>
  <ul>
    <li>
      <a href="https://accounts.tacc.utexas.edu/login_support"
        target="_blank" rel="noreferrer">
        Account Help
      </a>
    </li>
    <li>
      <a href="https://accounts.tacc.utexas.edu/forgot_password"
      target="_blank" rel="noreferrer">
      Forgot Password
    </a>
    </li>
    <li>
      <a href="https://accounts.tacc.utexas.edu/forgot_username"
      target="_blank" rel="noreferrer">
      Recover Username
      </a>
    </li>
  </ul>
</div>
{% endblock %}

{% block styles %}
{# To mimic inline CSS plus override from "CSS: A11y: Color Contrast" snippet #}
{# https://www.designsafe-ci.org/admin/djangocms_snippet/snippet/11/change #}
<style>
h1 {
  color: var(--ds-accent-color--dark);
}
.h4 {
  font-style: normal;
  line-height: 1.5;
}
</style>
{% endblock %}
