{% extends "designsafe/apps/accounts/base.html" %}

{% block title %}Professional Biography{% endblock %}

{% block panel_content %}
<div class="panel panel-default">
    <div class="panel-body">
        <h2>Professional Profile</h2>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <dt>Professional and Research Interests</dt>
                {% if profile.bio %}
                <dd> {{profile.bio}} </dd>
                {% else %}
                <dd class='text-warning'> Please add a bio </dd>
                {% endif %}

                <dt> My website </dt>
                {% if profile.website %}
                <dd> <a href={{profile.website}}> {{ profile.website }} </a> </dd>
                {% else %}
                <dd class='text-warning'> No website given </dd>
                {% endif %}
               
                <dt> Orcid ID </dt>
                {% if profile.orcid_id %}
                <dd> {{ profile.orcid_id }} </a> </dd>
                {% else %}
                <dd class='text-warning'> Not given </dd>
                {% endif %} 
                
                <dt> Professional Level </dt>
                {% if profile.professional_level %}
                <dd> {{ profile.professional_level }}
                {% else %}
                <dd class='text-warning'> Please provide </dd>
                {% endif %}
            </div>

            <div class="col-md-6">
                <dt> Natural Hazards Interests </dt>
                {% for interest in profile.nh_interests.all %}
                    <dd> {{ interest.description }} </dd>
                {% endfor %}

                <dt> Research Activities </dt>
                {% for ra in profile.research_activities.all %}
                    <dd> {{ ra.description }} </dd>
                {% endfor %}

            </div>
        </div>

        <hr>

        <a href="{% url 'designsafe_accounts:pro_profile_edit' %}" class="btn btn-default"><i class="fa fa-edit"></i> Edit Professional Profile
        </a>

    </div>
</div>
{% endblock %}
