{% extends "designsafe/apps/accounts/base.html" %}

{% block title %}Account Profile{% endblock %}

{% block panel_content %}
<div class="panel panel-default">
    <div class="panel-body">
        <h2>Account Profile</h2>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h3>Personal information</h3>
                <dl>
                    <dt>Full name</dt>
                    <dd>{{profile.firstName}} {{profile.lastName}}</dd>

                    <dt>Email address</dt>
                    <dd>{{profile.email}}</dd>

                    <dt>Phone number</dt>
                    <dd>{{profile.phone}}</dd>

                    <dt>Institution</dt>
                    <dd>{{profile.institution}}{% if profile.department %},<br>
                        {{profile.department}}{% endif %}
                    </dd>

                    <dt>Title</dt>
                    <dd>{{profile.title}}</dd>

                    <dt>Country of residence</dt>
                    <dd>{{profile.country}}</dd>

                    <dt>Country of citizenship</dt>
                    <dd>{{profile.citizenship}}</dd>

                </dl>
            </div>
            <div class="col-md-6">
                <h3>Demographics</h3>
                <dl>
                    <dt>Ethnicity</dt>
                    <dd>{{demographics.ethnicity|default:'<span class="text-warning">Please provide</span>'}}</dd>

                    <dt>Gender</dt>
                    <dd>{{demographics.gender|default:'<span class="text-warning">Please provide</span>'}}</dd>
                </dl>
            </div>
        </div>
        <hr>
        <div class="row">
                
            <div class="col-md-6">
                <h3>Professional information</h3>
                <dt>Professional and Research Interests</dt>
                {% if ds_profile.bio %}
                <dd> {{ds_profile.bio}} </dd>
                {% else %}
                <dd class='text-warning'> Please add a bio </dd>
                {% endif %}

                <dt> My website </dt>
                {% if ds_profile.website %}
                <dd> <a href={{ds_profile.website}}> {{ ds_profile.website }} </a> </dd>
                {% else %}
                <dd class='text-warning'> No website given </dd>
                {% endif %}
               
                <dt> Orcid ID </dt>
                {% if ds_profile.orcid_id %}
                <dd> {{ ds_profile.orcid_id }} </a> </dd>
                {% else %}
                <dd class='text-warning'> Not given </dd>
                {% endif %} 
                
                <dt> Professional Level </dt>
                {% if ds_profile.professional_level %}
                <dd> {{ ds_profile.professional_level }}
                {% else %}
                <dd class='text-warning'> Please provide </dd>
                {% endif %}
            </div>

            <div class="col-md-6">
                    <h3>Research Interests</h3>
                <dt> Natural Hazards Interests </dt>
                {% for interest in ds_profile.nh_interests.all %}
                    <dd> {{ interest.description }} </dd>
                {% endfor %}

                <dt> Technical Domains </dt>
                {% for interest in ds_profile.nh_technical_domains.all %}
                    <dd> {{ interest.description }} </dd>
                {% endfor %}

                <dt> Research Activities </dt>
                {% for ra in ds_profile.research_activities.all %}
                    <dd> {{ ra.description }} </dd>
                {% endfor %}

            </div>
        </div>

        <hr>

        <a href="{% url 'designsafe_accounts:profile_edit' %}" class="btn btn-default"><i class="fa fa-edit"></i> Edit profile
        </a>

    </div>
</div>
{% endblock %}
