{% extends "designsafe/apps/accounts/base.html" %}

{% load bootstrap3 sekizai_tags staticfiles %}

{% block panel_content %}
<div class="panel panel-default">
    <div class="panel-body">
      <h2>Edit Professional Profile</h2>
      <hr>
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="form-group">
          <button type="submit" class="btn btn-success">Save Profile</button>
          <a href="{% url 'designsafe_accounts:manage_pro_profile' %}" class="btn btn-default">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>

{% addtoblock 'js' %}
<!-- <script type="text/javascript" src="{% static 'designsafe/apps/accounts/js/institution_departments.js' %}"></script> -->
{% endaddtoblock %}

{% endblock %}
