{% extends "base.html" %}

{% load bootstrap3 sekizai_tags staticfiles %}

{% block title %}Account Registration Received{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="headline headline-research">Register an Account</h1>

        <p class="lead alert alert-success">Congratulations! Your account registration has been received.</p>
        <div class="jumbotron">
            <p class="lead">
                Before you can log in to DesignSafe-CI you will need to complete your
                account activation. Follow the steps below to activate your account:
            </p>
            <ol class="lead">
                <li>
                    You will receive an email with a link to confirm your email.
                    Check your spam folder if you do not see it.
                    This does NOT give you access to the portal at this stage.
                </li>
                <li>
                    Once your registration has been approved (typically within 1 business day),
                    you will receive an acceptance email at the address you provided.
                </li>
                <li>Follow the link in the email to activate your account.</li>
                <li>Provide the username and password you chose at registration to activate your account.</li>
            </ol>

            <p class="lead">
                That's it! Thank you for registering for DesignSafe-CI. If you have any additional
                questions or if you are unable to complete your account activation, please
                <a href="{% url 'djangoRT:ticketcreate' %}">submit a Help Desk ticket</a>.
            </p>

            <p class="lead alert alert-warning">
                Please do not request a password reset before you have followed all the steps outlined above.
                Doing so can cause problems with making sure your account becomes fully activated.
            </p>

            <div class="text-center">
                <a href="/" class="btn btn-primary btn-lg">Go to DesignSafe-CI Home</a>
            </div>
        </div>
    </div>
{% endblock %}
