.tree-li {
  padding-top: 2px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.tree-ul {
  display: flex;
  flex-direction: column;
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pub-show-button,
.pub-show-button:hover {
  background-color: rgba(0, 0, 0, 0.02);
  border: 1px solid #d9d9d9;
}

.yellow-highlight {
  background-color: yellow;
}
