<div style="background:white;">
    <div ng-if="!$ctrl.loading">
        <!--Project Metadata-->
        <prj-metadata></prj-metadata>
        <!-- Project Nav -->
        <span class="project-nav">
            <button class="btn btn-project-l grayed-out"
                    ng-click="$ctrl.goWork()"
                    ng-disabled="$ctrl.loading"
            >
                Working Directory
            </button>
            <button class="btn btn-project-m"
                    ng-click="$ctrl.goCuration()"
                    ng-disabled="$ctrl.loading"
            >
                Curation Directory
            </button>
            <button class="btn btn-project-r grayed-out"
                    ng-click="$ctrl.goPreview()"
                    ng-disabled="$ctrl.loading"
            >
                Publication Preview
            </button>
            <div ng-if="$ctrl.project.value.projectType != 'other'" style="width: 40px"></div>
            <span ng-if="$ctrl.project.value.projectType != 'other'" style="padding-right: 12px;">1 |</span>
            <span ng-if="$ctrl.project.value.projectType != 'other'" >
                <a  ng-click="$ctrl.manageExperiments()"
                    ng-if="$ctrl.project.value.projectType === 'experimental'"
                    href="#">
                    Add Experiments
                </a>
                <a  ng-click="$ctrl.manageSimulations()"
                    ng-if="$ctrl.project.value.projectType === 'simulation'"
                    href="#">
                    Add Simulations
                </a>
                <a  ng-click="$ctrl.manageHybridSimulations()"
                    ng-if="$ctrl.project.value.projectType === 'hybrid_simulation'"
                    href="#">
                    Add Hybrid Simulations
                </a>
                <div>
                    <div ng-if="$ctrl.project.value.projectType === 'field_recon'">
                        <a ng-click="$ctrl.manageFieldReconMissions()" href="#">
                            Add Missions
                        </a>
                    </div>
                    <div ng-if="$ctrl.project.value.projectType === 'field_recon'">
                        <a ng-click="$ctrl.manageFieldReconDocuments()" href="#">
                            Add Documents
                        </a>
                    </div>
                </div>
            </span>
            <span ng-if="$ctrl.project.value.projectType != 'other'"  style="padding-right: 12px; padding-left: 12px;">2 |</span>
            <span ng-if="$ctrl.project.value.projectType != 'other'" >
                <a ng-click="$ctrl.manageCategories()"
                ng-if="$ctrl.project.value.projectType !== 'field_recon'"
                href="#">
                    Add Categories
                </a>
                <a data-ng-click="$ctrl.manageFieldReconCollections()"
                data-ng-if="$ctrl.project.value.projectType === 'field_recon'"
                href="#">
                    Add Collections
                </a>
            </span>
            <span ng-if="$ctrl.project.value.projectType != 'other'"  style="padding-right: 12px; padding-left: 12px;">3 |</span>
            <span ng-if="$ctrl.project.value.projectType != 'other'" >
                <a ng-click="$ctrl.relateData()"
                href="#">
                Relate Data
            </a>
            </span>
        </span>
    </div>
    <br>
    <div ng-if="$ctrl.loading">
        <h3 class="text-center">
            <i role="none" class="fa fa-spinner fa-spin"></i> Loading...
        </h3>
    </div>
    <div ng-if="!$ctrl.loading">
        <breadcrumb path="$ctrl.FileListingService.listings.main.params.path"
                    system="$ctrl.FileListingService.listings.main.params.path"
                    on-browse="$ctrl.onBrowse(file)"
                    custom-root="{label: $ctrl.project.value.projectId, path: ''}">
        </breadcrumb>
        <div ng-if="!$ctrl.loading">
            <files-listing on-scroll="$ctrl.scrollToBottom()"
                           listing="$ctrl.FileListingService.listings.main"
                           on-browse="$ctrl.onBrowse(file)"
                           show-select="true"
                           show-tags="false"
                           edit-tags="true">
                &nbsp;
            </files-listing>
    </div>
</div>
