<div style="background:white; padding-top: 20px">
    <!-- progression map -->
    <div class="pull-right" style="padding-bottom: 20px;">
        <a ng-click="$ctrl.goWork()">
            <i role="none" class="fa fa-times"></i> Exit Prepare to Publish
        </a>
    </div>
    <table class="tg" style="table-layout: fixed; width: 100%; padding-bottom: 15px;">
        <colgroup>
            <col style="width: 16.5%">
            <col style="width: 16.5%">
            <col style="width: 16.5%">
            <col style="width: 16.5%">
            <col style="width: 16.5%">
            <col style="width: 16.5%">
        </colgroup>
        <tr style="text-align: center">
            <td>
                <strong>Selection</strong>
                <div>
                    <i role="none" class="fa fa-circle" style="color:#1CB500;"></i>
                </div>
            </td>
            <td>
                <strong>Proofread Project</strong>
                <div>
                    <i role="none" class="fa fa-circle-thin"></i>
                </div>
            </td>
            <td>
                <strong>Proofread Hybrid Simulation</strong>
                <div>
                    <i role="none" class="fa fa-circle-thin"></i>
                </div>
            </td>
            <td>
                <strong>Proofread Categories</strong>
                <div>
                    <i role="none" class="fa fa-circle-thin"></i>
                </div>
            </td>
            <td>
                <strong>Order Authors</strong>
                <div>
                    <i role="none" class="fa fa-circle-thin"></i>
                </div>
            </td>
            <td>
                <strong>Licenses</strong>
                <div>
                    <i role="none" class="fa fa-circle-thin"></i>
                </div>
            </td>
        </tr>
    </table>
    <br>
    <div>
        <a class="pull-left" ng-click="$ctrl.goPreview()"><i role="none" class="fa fa-arrow-left"></i> Back to Publication
            Preview</a>
        <button class="btn btn-add pull-right" ng-click="$ctrl.goProject()" ng-disabled="!$ctrl.selectedEnts.length">Continue</button>
    </div>
    <!-- progression map -->
    <div style="padding-top: 40px; padding-bottom: 40px;">
        <!-- Error Messages -->
        <div class="alert alert-danger" ng-if="$ctrl.missing.length">
            <p class="lead" style="text-align:center;">Your Selection is Incomplete!</p>
            <p>
                Your selection has missing data or incomplete requirements.
                Please review the following fields:
            </p>
            <div ng-repeat="entity in $ctrl.missing">
                <div ng-if="entity.missing.length">
                    In the {{entity.type}} <strong>{{entity.title}}</strong>, the following requirements are missing or incomplete:
                    <li ng-if="entity.missing.length" ng-repeat="err in entity.missing">{{ err }}</li>
                </div>
            </div>
        </div>
        <p>
            <h3 style="text-align: center">Select what you want to publish</h3>
            <li>Click "Select this Hybrid Simulation and all of its files" for each Hybrid Simulation you want to publish.</li>
            <li>If you want to deselect individual files, deselect the checkboxes.</li>
            <li>If you need help, attend <a href="/facilities/virtual-office-hours/" target="_blank" aria-describedby="msg-open-new-window">Curation office hours</a> for help with publishing.</li>
        </p>
    </div>
        <!-- Hybrid Simulations -->
        <div ng-show="$ctrl.ui.loading">
            <h3 class="text-center">
                <i role="none" class="fa fa-spinner fa-spin"></i> Loading...
            </h3>
        </div>
        <!-- Hybrid Simulation Reports -->
        <div ng-hide="$ctrl.ui.loading" ng-repeat="report in $ctrl.browser.project.report_set | orderBy: 'value.title'"
             ng-if="$ctrl.matchingGroup(hybsim, report)"
        >
            <div class="dropdown dropdown-spacer-sm" id="details-{{report.uuid}}">
                <button class="btn collapsed tab-gray" data-toggle="collapse"
                        data-target="#files-{{report.uuid}}" style="width:100%;">
                    <div class="collapse-tab">
                        <span class="collapse-tab-content-left">Report | <strong>{{report.value.title}}</strong></span>
                        <span class="collapse-tab-content-right curation-chevron"></span>
                    </div>
                </button>
                <div id="files-{{report.uuid}}" class="collapse">
                    <div class="well" ng-if="report.value.description">
                        <p>{{ report.value.description }}</p>
                    </div>
                    <files-listing
                    on-scroll="$ctrl.scrollToBottom()"
                    listing="$ctrl.FileListingService.listings[report.uuid]"
                    on-browse="$ctrl.onBrowse($event, path)"
                    >&nbsp;</files-listing
                >                </div>
            </div>
        </div>
        <div ng-hide="$ctrl.ui.loading" ng-repeat="hybsim in $ctrl.browser.project.hybridsimulation_set">
            <div class="dropdown dropdown-spacer-lg" id="details-{{hybsim.uuid}}" style="margin-top: 15px">
                <a ng-click="$ctrl.selectEntity(hybsim)">Select this Hybrid Simulation and all of its files</a>
                <span ng-if="$ctrl.selectedEnts.includes(hybsim)"><i role="none" class="fa fa-check" style="color: #1CB500;"></i></span>
                <button class="btn tab-gray collapsed" data-toggle="collapse"
                        data-target="#data-{{hybsim.uuid}}" style="width:100%;">
                    <div class="collapse-tab">
                        <span class="collapse-tab-content-left">Hybrid Simulation | <strong>{{hybsim.value.title}}</strong></span>
                        <span class="collapse-tab-content-right curation-chevron"></span>
                    </div>
                </button>
                <div id="data-{{hybsim.uuid}}" class="collapse">
                    <div class="well">
                        <div class="entity-meta-field">
                            <div class="entity-meta-label">Hybrid Simulation Type</div>
                            <span ng-if="!$ctrl.isValid(hybsim.value.experimentalFacilityOther)" class="entity-meta-data-cap">
                                {{ hybsim.value.simulationType.replace('_', ' ') }}
                            </span>
                            <span ng-if="$ctrl.isValid(hybsim.value.experimentalFacilityOther)" class="entity-meta-data-cap">
                                {{ hybsim.value.simulationTypeOther }}
                            </span>
                        </div>
                        <div class="entity-meta-field">
                            <div class="entity-meta-label-multi">Author(s)</div>
                            <div class="entity-meta-data">
                                <ds-author-list authors="hybsim.value.authors"></ds-author-list>
                            </div>
                        </div>
                        <span ng-if="hybsim.value.facility.length">
                            <div class="entity-meta-field">
                                <div class="entity-meta-label">Facility</div>
                                <span ng-if="!$ctrl.isValid(hybsim.value.facilityOther)" class="entity-meta-data">
                                    {{ $ctrl.getEF(hybsim.value.facility) }}
                                </span>
                                <span ng-if="$ctrl.isValid(hybsim.value.facilityOther)" class="entity-meta-data">
                                    {{ hybsim.value.facilityOther }}
                                </span>
                            </div>
                        </span>
                        <div class="entity-meta-field" ng-if="hybsim.value.relatedWork.length">
                            <div class="entity-meta-label-multi">Related Work</div>
                            <div class="entity-meta-data">
                                <div ng-repeat="work in hybsim.value.relatedWork track by $index">
                                    <related-work></related-work>
                                </div>
                            </div>
                        </div>
                        <div class="entity-meta-field" ng-if="hybsim.value.referencedData.length">
                            <div class="entity-meta-label-multi">Referenced Data and Software</div>
                            <div class="entity-meta-data">
                                <div ng-repeat="reference in hybsim.value.referencedData track by $index">
                                    <referenced-data></referenced-data>
                                </div>
                            </div>
                        </div>
                        <div class="entity-meta-field">
                            <div class="entity-meta-label">Date of Publication</div>
                            <span class="entity-meta-data">
                                (Appears when published)
                            </span>
                        </div>
                        <div class="entity-meta-field">
                            <div class="entity-meta-label">
                                DOI
                                <button class="btn btn-info btn-sm btn-cite">
                                    Citation
                                </button>
                            </div>
                            <span class="entity-meta-data">
                                (Appears when published)
                            </span>
                        </div>
                        <div class="entity-meta-field">
                            <div class="entity-meta-label">License</div>
                            <span class="entity-meta-data">
                                (Appears when published)
                            </span>
                        </div>
                        <p>
                            <br>{{ hybsim.value.description }}
                        </p>
                        <!-- Hybrid Reports -->
                        <div ng-repeat="report in $ctrl.browser.project.report_set | orderBy: 'value.title'"
                             ng-if="$ctrl.matchingGroup(hybsim, report)"
                        >
                            <div class="dropdown dropdown-spacer-sm" id="details-{{report.uuid}}">
                                <button class="btn collapsed tab-gray" data-toggle="collapse"
                                        data-target="#files-{{report.uuid}}" style="width:100%;">
                                    <div class="collapse-tab">
                                        <span class="collapse-tab-content-left">Report | <strong>{{report.value.title}}</strong></span>
                                        <span class="collapse-tab-content-right curation-chevron"></span>
                                    </div>
                                </button>
                                <div id="files-{{report.uuid}}" class="collapse">
                                    <div class="well" ng-if="report.value.description">
                                        <p>{{ report.value.description }}</p>
                                    </div>
                                    <files-listing
                                    on-scroll="$ctrl.scrollToBottom()"
                                    listing="$ctrl.FileListingService.listings[report.uuid]"
                                    on-browse="$ctrl.onBrowse($event, path)"
                                    >&nbsp;</files-listing
                                >                                </div>
                            </div>
                        </div>
                        <!-- Models -->
                        <div ng-repeat="model in $ctrl.browser.project.globalmodel_set | orderBy: 'value.title'"
                             ng-if="$ctrl.matchingGroup(hybsim, model)"
                        >
                            <div class="dropdown dropdown-spacer-sm" id="details-{{model.uuid}}">
                                <button class="btn collapsed tab-blue" data-toggle="collapse"
                                        data-target="#files-{{model.uuid}}" style="width:100%;">
                                    <div class="collapse-tab">
                                        <span class="collapse-tab-content-left">Global Model | <strong>{{model.value.title}}</strong></span>
                                        <span class="collapse-tab-content-right curation-chevron"></span>
                                    </div>
                                </button>
                                <div id="files-{{model.uuid}}" class="collapse">
                                    <div class="well" ng-if="model.value.description">
                                        <p>{{ model.value.description }}</p>
                                    </div>
                                    <files-listing
                                    on-scroll="$ctrl.scrollToBottom()"
                                    listing="$ctrl.FileListingService.listings[model.uuid]"
                                    on-browse="$ctrl.onBrowse($event, path)"
                                    >&nbsp;</files-listing
                                >                                </div>
                            </div>
                            <!-- Coordinator -->
                            <div ng-repeat="coordinator in $ctrl.browser.project.coordinator_set | orderBy: 'value.title'"
                                 ng-if="$ctrl.matchingGroup(hybsim, coordinator) && $ctrl.matchingGroup(model, coordinator)"
                            >
                                <div class="dropdown dropdown-spacer-sm"
                                     id="details-{{coordinator.uuid}}"
                                     style="margin-left: 10px"
                                >
                                    <table>
                                        <tr>
                                            <td style="padding-right: 10px;" valign="top">
                                                <span style="font-size: 20px; color: #1568C9">
                                                    <i role="none" class="fa fa-level-up fa-rotate-90"></i>
                                                </span>
                                            </td>
                                            <td style="width: 100%;">
                                                <button class="btn collapsed tab-teal dropdown-spacer-sm" data-toggle="collapse"
                                                        data-target="#files-{{coordinator.uuid}}{{model.uuid}}" style="width:100%;">
                                                    <div class="collapse-tab">
                                                        <span class="collapse-tab-content-left">Coordinator | <strong>{{coordinator.value.title}}</strong></span>
                                                        <span class="collapse-tab-content-right curation-chevron"></span>
                                                    </div>
                                            </button>
                                            <div id="files-{{coordinator.uuid}}{{model.uuid}}" class="collapse">
                                                <div class="well" ng-if="coordinator.value.description">
                                                    <p>{{ coordinator.value.description }}</p>
                                                </div>
                                                <files-listing
                                                on-scroll="$ctrl.scrollToBottom()"
                                                listing="$ctrl.FileListingService.listings[coordinator.uuid]"
                                                on-browse="$ctrl.onBrowse($event, path)"
                                                >&nbsp;</files-listing
                                            >                                            </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- Coordinator Output -->
                                    <div ng-repeat="cout in $ctrl.browser.project.coordinatoroutput_set | orderBy: 'value.title'"
                                         ng-if="$ctrl.matchingGroup(hybsim, cout) &&
                                                $ctrl.matchingGroup(model, cout) &&
                                                $ctrl.matchingGroup(coordinator, cout)"
                                    >
                                        <div class="dropdown dropdown-spacer-sm"
                                             id="details-{{cout.uuid}}"
                                             style="margin-left: 30px"
                                        >
                                            <table>
                                                <tr>
                                                    <td style="padding-right: 10px" valign="top">
                                                        <span style="font-size: 20px; color: #43A59D">
                                                            <i role="none" class="fa fa-level-up fa-rotate-90"></i>
                                                        </span>
                                                    </td>
                                                    <td style="width: 100%;">
                                                        <button class="btn collapsed tab-yellow" data-toggle="collapse"
                                                                data-target="#files-{{cout.uuid}}{{model.uuid}}" style="width:100%;">
                                                            <div class="collapse-tab">
                                                                <span class="collapse-tab-content-left">Coordinator Output | <strong>{{cout.value.title}}</strong></span>
                                                                <span class="collapse-tab-content-right curation-chevron"></span>
                                                            </div>
                                                        </button>
                                                        <div id="files-{{cout.uuid}}{{model.uuid}}" class="collapse">
                                                            <div class="well" ng-if="cout.value.description">
                                                                <p>{{ cout.value.description }}</p>
                                                            </div>
                                                            <files-listing
                                                            on-scroll="$ctrl.scrollToBottom()"
                                                            listing="$ctrl.FileListingService.listings[cout.uuid]"
                                                            on-browse="$ctrl.onBrowse($event, path)"
                                                            >&nbsp;</files-listing
                                                        >                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- Coordinator Output -->
                                    <!-- Simulation Substructure -->
                                    <div ng-repeat="simsub in $ctrl.browser.project.simsubstructure_set | orderBy: 'value.title'"
                                         ng-if="$ctrl.matchingGroup(hybsim, simsub) && $ctrl.matchingGroup(model, simsub)"
                                    >
                                        <div class="dropdown"
                                             id="details-{{simsub.uuid}}"
                                             style="margin-left: 30px"
                                        >
                                            <table>
                                                <tr>
                                                    <td style="padding-right: 10px;" valign="top">
                                                        <span style="font-size: 20px; color: #43A59D">
                                                            <i role="none" class="fa fa-level-up fa-rotate-90"></i>
                                                        </span>
                                                    </td>
                                                    <td style="width: 100%;">
                                                        <button class="btn collapsed tab-orange dropdown-spacer-sm" data-toggle="collapse"
                                                                data-target="#files-{{simsub.uuid}}{{model.uuid}}" style="width:100%;">
                                                            <div class="collapse-tab">
                                                                <span class="collapse-tab-content-left">Simulation Substructure | <strong>{{simsub.value.title}}</strong></span>
                                                                <span class="collapse-tab-content-right curation-chevron"></span>
                                                            </div>
                                                        </button>
                                                        <div id="files-{{simsub.uuid}}{{model.uuid}}" class="collapse">
                                                            <div class="well" ng-if="simsub.value.description">
                                                                <p>{{ simsub.value.description }}</p>
                                                            </div>
                                                            <files-listing
                                                            on-scroll="$ctrl.scrollToBottom()"
                                                            listing="$ctrl.FileListingService.listings[simsub.uuid]"
                                                            on-browse="$ctrl.onBrowse($event, path)"
                                                            >&nbsp;</files-listing
                                                        >                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- Simulation Output -->
                                            <div ng-repeat="sout in $ctrl.browser.project.simoutput_set | orderBy: 'value.title'"
                                                 ng-if="$ctrl.matchingGroup(hybsim, sout) &&
                                                        $ctrl.matchingGroup(model, sout) &&
                                                        $ctrl.matchingGroup(coordinator, sout) &&
                                                        $ctrl.matchingGroup(simsub, sout)"
                                            >
                                                <div class="dropdown"
                                                     id="details-{{sout.uuid}}"
                                                     style="margin-left: 30px"
                                                >
                                                    <table>
                                                        <tr>
                                                            <td style="padding-right: 10px;" valign="top">
                                                                <span style="font-size: 20px; color: #BD5717">
                                                                    <i role="none" class="fa fa-level-up fa-rotate-90"></i>
                                                                </span>
                                                            </td>
                                                            <td style="width: 100%;">
                                                                <button class="btn collapsed tab-yellow dropdown-spacer-sm" data-toggle="collapse"
                                                                        data-target="#files-{{sout.uuid}}{{model.uuid}}{{simsub.uuid}}" style="width:100%;">
                                                                    <div class="collapse-tab">
                                                                        <span class="collapse-tab-content-left">Simulation Output | <strong>{{sout.value.title}}</strong></span>
                                                                        <span class="collapse-tab-content-right curation-chevron"></span>
                                                                    </div>
                                                                </button>
                                                                <div id="files-{{sout.uuid}}{{model.uuid}}{{simsub.uuid}}" class="collapse">
                                                                    <div class="well" ng-if="sout.value.description">
                                                                        <p>{{ sout.value.description }}</p>
                                                                    </div>
                                                                    <files-listing
                                                                    on-scroll="$ctrl.scrollToBottom()"
                                                                    listing="$ctrl.FileListingService.listings[sout.uuid]"
                                                                    on-browse="$ctrl.onBrowse($event, path)"
                                                                    >&nbsp;</files-listing
                                                                >                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- Simulation Output -->
                                        </div>
                                    </div>
                                    <!-- Simulation Substructure -->
                                    <!-- Experimental Substructure -->
                                    <div ng-repeat="expsub in $ctrl.browser.project.expsubstructure_set | orderBy: 'value.title'"
                                         ng-if="$ctrl.matchingGroup(hybsim, expsub) && $ctrl.matchingGroup(model, expsub)"
                                    >
                                        <div class="dropdown dropdown-spacer-sm"
                                             id="details-{{expsub.uuid}}"
                                             style="margin-left: 30px"
                                        >
                                            <table>
                                                <tr>
                                                    <td style="padding-right: 10px;" valign="top">
                                                        <span style="font-size: 20px; color: #43A59D">
                                                            <i role="none" class="fa fa-level-up fa-rotate-90"></i>
                                                        </span>
                                                    </td>
                                                    <td style="width: 100%;">
                                                        <button class="btn collapsed tab-purple dropdown-spacer-sm" data-toggle="collapse"
                                                                data-target="#files-{{expsub.uuid}}{{model.uuid}}" style="width:100%;">
                                                            <div class="collapse-tab">
                                                                <span class="collapse-tab-content-left">Experimental Substructure | <strong>{{expsub.value.title}}</strong></span>
                                                                <span class="collapse-tab-content-right curation-chevron"></span>
                                                            </div>
                                                        </button>
                                                        <div id="files-{{expsub.uuid}}{{model.uuid}}" class="collapse">
                                                            <div class="well" ng-if="expsub.value.description">
                                                                <p>{{ expsub.value.description }}</p>
                                                            </div>
                                                            <files-listing
                                                            on-scroll="$ctrl.scrollToBottom()"
                                                            listing="$ctrl.FileListingService.listings[expsub.uuid]"
                                                            on-browse="$ctrl.onBrowse($event, path)"
                                                            >&nbsp;</files-listing
                                                        >                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- Experiment Output -->
                                            <div ng-repeat="eout in $ctrl.browser.project.expoutput_set | orderBy: 'value.title'"
                                                 ng-if="$ctrl.matchingGroup(hybsim, eout) &&
                                                        $ctrl.matchingGroup(model, eout) &&
                                                        $ctrl.matchingGroup(coordinator, eout) &&
                                                        $ctrl.matchingGroup(expsub, eout)"
                                            >
                                                <div    class="dropdown dropdown-spacer-sm"
                                                        id="details-{{eout.uuid}}"
                                                        style="margin-left: 30px"
                                                >
                                                    <table>
                                                        <tr>
                                                            <td style="padding-right: 10px;" valign="top">
                                                                <span style="font-size: 20px; color: #4B3181">
                                                                    <i role="none" class="fa fa-level-up fa-rotate-90"></i>
                                                                </span>
                                                            </td>
                                                            <td style="width: 100%;">
                                                                <button class="btn collapsed tab-yellow" data-toggle="collapse"
                                                                        data-target="#files-{{eout.uuid}}{{model.uuid}}{{expsub.uuid}}" style="width:100%;">
                                                                    <div class="collapse-tab">
                                                                        <span class="collapse-tab-content-left">Experimental Output | <strong>{{eout.value.title}}</strong></span>
                                                                        <span class="collapse-tab-content-right curation-chevron"></span>
                                                                    </div>
                                                                </button>
                                                                <div id="files-{{eout.uuid}}{{model.uuid}}{{expsub.uuid}}" class="collapse">
                                                                    <div class="well" ng-if="eout.value.description">
                                                                        <p>{{ eout.value.description }}</p>
                                                                    </div>
                                                                    <files-listing
                                                                    on-scroll="$ctrl.scrollToBottom()"
                                                                    listing="$ctrl.FileListingService.listings[eout.uuid]"
                                                                    on-browse="$ctrl.onBrowse($event, path)"
                                                                    >&nbsp;</files-listing
                                                                >                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Experimental Output -->
                                    </div>
                                    <!-- Experimental Substructure -->
                                </div>
                            </div>
                            <!-- Coordinator -->
                        </div>
                        <!-- Models -->
                        <!-- Analysis -->
                        <div ng-repeat="analysis in $ctrl.browser.project.analysis_set | orderBy: 'value.title'"
                             ng-if="$ctrl.matchingGroup(hybsim, analysis)"
                        >
                            <div class="dropdown dropdown-spacer-sm" id="details-{{analysis.uuid}}">
                                <button class="btn collapsed tab-light-blue" data-toggle="collapse"
                                        data-target="#files-{{analysis.uuid}}" style="width:100%;">
                                    <div class="collapse-tab">
                                        <span class="collapse-tab-content-left">Analysis | <strong>{{analysis.value.title}}</strong></span>
                                        <span class="collapse-tab-content-right curation-chevron"></span>
                                    </div>
                                </button>
                                <div id="files-{{analysis.uuid}}" class="collapse">
                                    <div class="well" ng-if="analysis.value.refs && analysis.value.description">
                                        <table class="tg" style="table-layout: fixed; width: 100%;">
                                            <colgroup>
                                                <col style="width: 15%">
                                                <col style="width: 84%">
                                            </colgroup>
                                            <tr ng-repeat="ref in analysis.value.refs">
                                                <td ng-if="$first">Referenced Work</td>
                                                <td ng-if="!$first"></td>
                                                <td><strong><a href="{{ ref.referencedoi }}" rel="noopener noreferrer" target=”_blank”>{{ ref.reference }}</a></strong></td>
                                            </tr>
                                        </table>
                                        <p ng-if="analysis.value.description">{{ analysis.value.description }}</p>
                                    </div>
                                    <files-listing
                                    on-scroll="$ctrl.scrollToBottom()"
                                    listing="$ctrl.FileListingService.listings[analysis.uuid]"
                                    on-browse="$ctrl.onBrowse($event, path)"
                                    >&nbsp;</files-listing
                                >                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
