<div style="background:white; padding-top: 20px">
    <!-- progression map -->
    <div class="pull-right" style="padding-bottom: 20px;">
        <a ng-click="$ctrl.goWork()">
            <i class="fa fa-times"></i> Exit Prepare to Publish
        </a>
    </div>
    <table class="tg"
           style="table-layout: fixed; width: 100%; padding-bottom: 15px;">
        <colgroup>
            <col style="width: 16.5%">
            <col style="width: 16.5%">
            <col style="width: 16.5%">
            <col style="width: 16.5%">
            <col style="width: 16.5%">
            <col style="width: 16.5%">
        </colgroup>
        <tr style="text-align: center">
            <td>
                <strong>Selection</strong>
                <div>
                    <i class="fa fa-circle" style="color:#1CB500;"></i>
                </div>
            </td>
            <td>
                <strong>Proofread Project</strong>
                <div>
                    <i class="fa fa-circle-thin"></i>
                </div>
            </td>
            <td>
                <strong>Proofread Mission</strong>
                <div>
                    <i class="fa fa-circle-thin"></i>
                </div>
            </td>
            <td>
                <strong>Proofread Collections</strong>
                <div>
                    <i class="fa fa-circle-thin"></i>
                </div>
            </td>
            <td>
                <strong>Order Authors</strong>
                <div>
                    <i class="fa fa-circle-thin"></i>
                </div>
            </td>
            <td>
                <strong>Licenses</strong>
                <div>
                    <i class="fa fa-circle-thin"></i>
                </div>
            </td>
        </tr>
    </table>
    <br>
    <div>
        <a class="pull-left" ng-click="$ctrl.goPreview()"><i class="fa fa-arrow-left"></i> Back to Publication
            Preview</a>
        <button class="btn btn-add pull-right" ng-click="$ctrl.goProject()" ng-disabled="!$ctrl.selectedEnts.length">Continue</button>
    </div>
    <!-- progression map -->
    <div style="padding-top: 40px; padding-bottom: 40px;">
        <!-- Error Messages -->
        <div class="alert alert-danger" ng-if="$ctrl.missing.length">
            <p class="lead" style="text-align:center;">Your Selection is Incomplete!</p>
            <p>
                Your selection has missing data or incomplete requirements.
                Please review the following fields:
            </p>
            <div ng-repeat="entity in $ctrl.missing track by $index">
                <div ng-if="entity.missing.length">
                    In the <span>{{entity.type}}</span> <strong>{{entity.title}}</strong>, the following requirements are missing or incomplete:
                    <li ng-if="entity.missing.length" ng-repeat="err in entity.missing track by $index">{{ err }}</li>
                </div>
            </div>
        </div>
        <p>
            <h3 style="text-align: center">Select what you want to publish</h3>
            <li>Click "Select this Mission and all of its files" for each Mission you want to publish.</li>
            <li>If you want to deselect individual files, deselect the checkboxes.</li>
            <li>If you need help, attend <a href="/learning-center/training/" target="_blank">Curation office hours</a> for help with publishing.</li>
        </p>
    </div>
        <!-- Missions -->
        <div ng-show="$ctrl.ui.loading">
            <h3 class="text-center">
                <i class="fa fa-spinner fa-spin"></i> Loading...
            </h3>
        </div>
        <!-- Reports Collection -->
        <div ng-repeat="mission in $ctrl.ordered($ctrl.browser.project, $ctrl.primaryEnts)"
             ng-hide="$ctrl.ui.loading">
            <div ng-if="mission.name == 'designsafe.project.field_recon.report'">
                <a ng-click="$ctrl.selectEntity(mission)">Select this Report and all of its files</a>
                <span ng-if="$ctrl.selectedEnts.includes(mission)"><i class="fa fa-check" style="color: #1CB500;"></i></span>
                <div class="dropdown dropdown-spacer-lg" id="details-{{mission.uuid}}">
                    <button class="btn collapsed tab-report" data-toggle="collapse" data-target="#files-{{mission.uuid}}"
                        style="width:100%;">
                        <table style="width:100%">
                            <tr>
                                <td style="text-align: left;">
                                    <span>Documents | <strong>{{mission.value.title}}</strong></span>
                                </td>
                                <td style="text-align: right;">
                                    <span class="curation-chevron" style="font-size: 18px;"></span>
                                </td>
                            </tr>
                        </table>
                    </button>
                    <div id="files-{{mission.uuid}}" class="collapse">
                        <div class="well">
                            <div class="entity-meta-field">
                                <div class="entity-meta-label-multi" data-ng-if="mission.value.authors.length">
                                    Author(s)
                                </div>
                                <div class="entity-meta-data" data-ng-if="mission.value.authors.length">
                                    <ds-author-list authors="mission.value.authors"></ds-author-list>
                                </div>
                            </div>
                            <div class="entity-meta-field" ng-if="mission.value.referencedData.length">
                                <div class="entity-meta-label-multi">
                                    Referenced Data
                                </div>
                                <div class="entity-meta-data">
                                    <ul class="collection-list">
                                        <li data-ng-repeat="data in mission.value.referencedData">
                                            <a href="{{ data.url }}" rel="noopener noreferrer" target=”_blank”>{{ data.title }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="entity-meta-field">
                                <div class="entity-meta-label">Date of Publication</div>
                                <div class="entity-meta-data">
                                    <span>(Appears when published)</span>
                                </div>
                            </div>
                            <div class="entity-meta-field">
                                <div class="entity-meta-label">
                                    DOI
                                    <button class="btn btn-info btn-sm btn-cite"
                                            ng-disabled="true"
                                            data-ng-click="$ctrl.showCitation(mission)">
                                        Citation
                                    </button>
                                </div>
                                <div class="entity-meta-data">
                                    <span>(Appears when published)</span>
                                </div>
                            </div>
                            <div class="entity-meta-field">
                                <div class="entity-meta-label">License(s)</div>
                                <div class="entity-meta-data">
                                    <span>(Appears when published)</span>
                                </div>
                            </div>
                            <div class="entity-meta-field" ng-if="mission.value.description">
                                <p>
                                    <br>{{ mission.value.description }}
                                </p>
                            </div>
                        </div>
                        <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[mission.uuid]" category-selection="true"></files-listing>
                    </div>
                </div>
            </div>
            <!-- Missions -->
            <div ng-if="!$ctrl.ui.fileNav && mission.name == 'designsafe.project.field_recon.mission'">
                <div class="dropdown dropdown-spacer-lg" id="details-{{experiment.uuid}}">
                    <a ng-click="$ctrl.selectEntity(mission)">Select this Mission and all of its files</a>
                    <span ng-if="$ctrl.selectedEnts.includes(mission)"><i class="fa fa-check" style="color: #1CB500;"></i></span>
                    <button class="btn tab-experiment collapsed" data-toggle="collapse" data-target="#data-{{mission.uuid}}"
                        style="width:100%;">
                        <table style="width:100%">
                            <tr>
                                <td style="text-align: left;">
                                    <span>Mission | <strong>{{mission.value.title}}</strong></span>
                                </td>
                                <td style="text-align: right;">
                                    <span class="curation-chevron" style="font-size: 18px;"></span>
                                </td>
                            </tr>
                        </table>
                    </button>
                    <div id="data-{{mission.uuid}}" class="collapse dropdown-spacer-lg">
                        <div class="well">
                            <div class="entity-meta-field" ng-if="mission.value.event">
                                <div class="entity-meta-label">Event</div>
                                <div class="entity-meta-data">
                                    <span>{{ mission.value.event }}</span>
                                </div>
                            </div>
                            <div class="entity-meta-field">
                                <div class="entity-meta-label-multi">
                                    Author(s)
                                </div>
                                <div class="entity-meta-data">
                                    <ds-author-list authors="mission.value.authors"></ds-author-list>
                                </div>
                            </div>
                            <div class="entity-meta-field">
                                <div class="entity-meta-label-multi">
                                    Date of Mission
                                </div>
                                <div class="entity-meta-data">
                                    <span>{{mission.value.dateStart | date:'MM-dd-yyyy'}}</span>
                                    <span data-ng-if="mission.value.dateEnd">
                                        &#8213; {{mission.value.dateEnd | date:'MM-dd-yyyy' }}
                                    </span>
                                </div>
                            </div>
                            <div class="entity-meta-field">
                                <div class="entity-meta-label-multi">
                                    Site Location
                                </div>
                                <div class="entity-meta-data">
                                    <span>{{mission.value.location}} | </span>
                                    <a href="http://www.google.com/maps/place/{{ mission.value.latitude }},{{ mission.value.longitude }}"
                                        rel="noopener noreferrer" target=”_blank” ng-if="mission.value.latitude && mission.value.longitude">
                                        Lat {{mission.value.latitude}} Long {{mission.value.longitude}}
                                    </a>
                                </div>
                            </div>
                            <div class="entity-meta-field">
                                <div class="entity-meta-label">Date of Publication</div>
                                <div class="entity-meta-data">
                                    <span>(Appears when published)</span>
                                </div>
                            </div>
                            <div class="entity-meta-field">
                                <div class="entity-meta-label">
                                    DOI
                                    <button class="btn btn-info btn-sm btn-cite"
                                            ng-disabled="true"
                                            data-ng-click="$ctrl.showCitation(mission)">
                                        Citation
                                    </button>
                                </div>
                                <div class="entity-meta-data">
                                    <span>(Appears when published)</span>
                                </div>
                            </div>
                            <div class="entity-meta-field">
                                <div class="entity-meta-label">License(s)</div>
                                <div class="entity-meta-data">
                                    <span>(Appears when published)</span>
                                </div>
                            </div>
                            <p>
                                <br>{{ primEnt.value.description }}
                            </p>
                            <!-- Mission Collections -->
                            <div ng-repeat="collection in $ctrl.ordered(mission, $ctrl.secondaryEnts)" ng-if="$ctrl.matchingGroup(mission, collection)">
                            <!-- Social Science -->
                                <div ng-if="$ctrl.matchingGroup(mission, collection) && collection.name == 'designsafe.project.field_recon.social_science'">
                                    <div class="dropdown dropdown-spacer-sm" id="details-{{collection.uuid}}">
                                        <button class="btn collapsed tab-collection-conf" data-toggle="collapse" data-target="#files-{{collection.uuid}}"
                                            style="width:100%;">
                                            <table style="width:100%">
                                                <tr>
                                                    <td style="text-align: left;">
                                                        <span>Social Sciences Collection | <strong>{{collection.value.title}}</strong></span>
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <span class="curation-chevron" style="font-size: 18px;"></span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </button>
                                        <div id="files-{{collection.uuid}}" class="collapse">
                                            <div class="well">
                                                <div class="entity-meta-field" ng-if="collection.value.unit">
                                                    <div class="entity-meta-label">Unit of Analysis</div>
                                                    <div class="entity-meta-data">
                                                        <span>{{collection.value.unit}}</span>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field" ng-if="collection.value.modes.length">
                                                    <div class="entity-meta-label-multi">Mode(s) of Collection</div>
                                                    <div class="entity-meta-data">
                                                        <ul class="collection-list">
                                                            <li data-ng-repeat="mode in collection.value.modes">
                                                                {{mode}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field" ng-if="collection.value.sampleApproach.length">
                                                    <div class="entity-meta-label-multi">Sampling Approach(es)</div>
                                                    <div class="entity-meta-data">
                                                        <ul class="collection-list">
                                                            <li data-ng-repeat="sample in collection.value.sampleApproach">
                                                                {{sample}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field" ng-if="collection.value.sampleSize">
                                                    <div class="entity-meta-label">Sample Size</div>
                                                    <div class="entity-meta-data">
                                                        <span>{{collection.value.sampleSize}}</span>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field">
                                                    <div class="entity-meta-label">Date of Collection</div>
                                                    <div class="entity-meta-data">
                                                        <span>{{collection.value.dateStart | date:'MM-dd-yyyy'}}</span>
                                                        <span data-ng-if="collection.value.dateEnd">
                                                            &#8213; {{collection.value.dateEnd | date:'MM-dd-yyyy' }}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field">
                                                    <div class="entity-meta-label-multi" data-ng-if="collection.value.dataCollectors.length">
                                                        Data Collector(s)
                                                    </div>
                                                    <div class="entity-meta-data" data-ng-if="collection.value.dataCollectors.length">
                                                        <ds-author-list authors="collection.value.dataCollectors"></ds-author-list>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field">
                                                    <div class="entity-meta-label-multi" data-ng-if="collection.value.location">
                                                        Site Location
                                                    </div>
                                                    <div class="entity-meta-data"
                                                            data-ng-if="collection.value.location">
                                                        <ul class="collection-list">
                                                            <li>
                                                                <span>{{collection.value.location}} | </span>
                                                                <a href="http://www.google.com/maps/place/{{ collection.value.latitude }},{{ collection.value.longitude }}"
                                                                    rel="noopener noreferrer" target=”_blank” ng-if="collection.value.latitude && collection.value.longitude">
                                                                    Lat {{collection.value.latitude}} Long {{collection.value.longitude}}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field">
                                                    <div class="entity-meta-label-multi">Equipment</div>
                                                    <div class="entity-meta-data">
                                                        <ul class="collection-list">
                                                            <li data-ng-repeat="eqp in collection.value.equipment">
                                                                {{eqp}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field" ng-if="collection.value.restriction">
                                                    <div class="entity-meta-label">Restriction</div>
                                                    <div class="entity-meta-data">
                                                        <span>{{collection.value.restriction}}</span>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field" ng-if="collection.value.referencedData.length">
                                                    <div class="entity-meta-label-multi">
                                                        Referenced Data
                                                    </div>
                                                    <div class="entity-meta-data">
                                                        <ul class="collection-list">
                                                            <li data-ng-repeat="data in collection.value.referencedData">
                                                                <a href="{{ data.url }}" rel="noopener noreferrer" target=”_blank”>{{ data.title }}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field" ng-if="collection.value.description">
                                                    <p>{{ collection.value.description }}</p>
                                                </div>
                                            </div>
                                            <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[collection.uuid]" category-selection="true"></files-listing>
                                        </div>
                                    </div>
                                </div>
                                <!-- GeoscienceEngineering -->
                                <div ng-if="$ctrl.matchingGroup(mission, collection) && collection.name == 'designsafe.project.field_recon.geoscience'">
                                    <div class="dropdown dropdown-spacer-sm" id="details-{{collection.uuid}}">
                                        <button class="btn collapsed tab-collection-conf" data-toggle="collapse" data-target="#files-{{collection.uuid}}"
                                            style="width:100%;">
                                            <table style="width:100%">
                                                <tr>
                                                    <td style="text-align: left;">
                                                        <span>Engineering/Geosciences Collection | <strong>{{collection.value.title}}</strong></span>
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <span class="curation-chevron" style="font-size: 18px;"></span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </button>
                                        <div id="files-{{collection.uuid}}" class="collapse">
                                            <div class="well">
                                                <div class="entity-meta-field" ng-if="collection.value.observationTypes.length">
                                                    <div class="entity-meta-label-multi">Observation Type(s)</div>
                                                    <div class="entity-meta-data">
                                                        <ul class="collection-list">
                                                            <li data-ng-repeat="obs in collection.value.observationTypes">
                                                                {{obs}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field">
                                                    <div class="entity-meta-label">Date of Collection</div>
                                                    <div class="entity-meta-data">
                                                        <span>{{collection.value.dateStart | date:'MM-dd-yyyy'}}</span>
                                                        <span data-ng-if="collection.value.dateEnd">
                                                            &#8213; {{collection.value.dateEnd | date:'MM-dd-yyyy' }}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field">
                                                    <div class="entity-meta-label-multi" data-ng-if="collection.value.dataCollectors.length">
                                                        Data Collector(s)
                                                    </div>
                                                    <div class="entity-meta-data" data-ng-if="collection.value.dataCollectors.length">
                                                        <ds-author-list authors="collection.value.dataCollectors"></ds-author-list>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field">
                                                    <div class="entity-meta-label-multi" data-ng-if="collection.value.location">
                                                        Site Location
                                                    </div>
                                                    <div class="entity-meta-data" data-ng-if="collection.value.location">
                                                        <ul class="collection-list">
                                                            <li>
                                                                <span>{{collection.value.location}} | </span>
                                                                <a href="http://www.google.com/maps/place/{{ collection.value.latitude }},{{ collection.value.longitude }}"
                                                                    rel="noopener noreferrer" target=”_blank” ng-if="collection.value.latitude && collection.value.longitude">
                                                                    Lat {{collection.value.latitude}} Long {{collection.value.longitude}}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field">
                                                    <div class="entity-meta-label-multi">Equipment</div>
                                                    <div class="entity-meta-data">
                                                        <ul class="collection-list">
                                                            <li data-ng-repeat="eqp in collection.value.equipment">
                                                                {{eqp}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field" ng-if="collection.value.referencedData.length">
                                                    <div class="entity-meta-label-multi">
                                                        Referenced Data
                                                    </div>
                                                    <div class="entity-meta-data">
                                                        <ul class="collection-list">
                                                            <li data-ng-repeat="data in collection.value.referencedData">
                                                                <a href="{{ data.url }}" rel="noopener noreferrer" target=”_blank”>{{ data.title }}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field" ng-if="collection.value.description">
                                                    <p>{{ collection.value.description }}</p>
                                                </div>
                                            </div>
                                            <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[collection.uuid]" category-selection="true"></files-listing>
                                        </div>
                                    </div>
                                </div>
                                <!-- Research Planning Collection -->
                                <div ng-if="$ctrl.matchingGroup(mission, collection) && collection.name == 'designsafe.project.field_recon.planning'">
                                    <div class="dropdown dropdown-spacer-sm" id="details-{{collection.uuid}}">
                                        <button class="btn collapsed tab-sensor-info" data-toggle="collapse" data-target="#files-{{collection.uuid}}"
                                            style="width:100%;">
                                            <table style="width:100%">
                                                <tr>
                                                    <td style="text-align: left;">
                                                        <span>Research Planning Collection | <strong>{{collection.value.title}}</strong></span>
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <span class="curation-chevron" style="font-size: 18px;"></span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </button>
                                        <div id="files-{{collection.uuid}}" class="collapse">
                                            <div class="well">
                                                <div class="entity-meta-field">
                                                    <div class="entity-meta-label-multi" data-ng-if="collection.value.dataCollectors.length">
                                                        Data Collector(s)
                                                    </div>
                                                    <div class="entity-meta-data" data-ng-if="collection.value.dataCollectors.length">
                                                        <ds-author-list authors="collection.value.dataCollectors"></ds-author-list>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field" ng-if="collection.value.referencedData.length">
                                                    <div class="entity-meta-label-multi">
                                                        Referenced Data
                                                    </div>
                                                    <div class="entity-meta-data">
                                                        <ul class="collection-list">
                                                            <li data-ng-repeat="data in collection.value.referencedData">
                                                                <a href="{{ data.url }}" rel="noopener noreferrer" target=”_blank”>{{ data.title }}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="entity-meta-field" ng-if="collection.value.description">
                                                    <p>{{ collection.value.description }}</p>
                                                </div>
                                            </div>
                                            <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[collection.uuid]" category-selection="true"></files-listing>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
