<div style="background:white; padding-top: 20px">
    <!-- progression map -->
    <div class="pull-right" style="padding-bottom: 20px;">
        <a ng-click="$ctrl.goWork()">
            <i class="fa fa-times"></i> Exit Prepare to Publish
        </a>
    </div>
    <table class="tg" style="table-layout: fixed; width: 100%; padding-bottom: 15px;">
        <colgroup>
            <col style="width: 16.5%">
            <col style="width: 16.5%">
            <col style="width: 16.5%">
            <col style="width: 16.5%">
            <col style="width: 16.5%">
            <col style="width: 16.5%">
        </colgroup>
        <tr style="text-align: center">
            <td class="tg-0lax">
                <strong>Selection</strong>
                <div>
                    <i class="fa fa-circle" style="color:#1CB500;"></i>
                </div>
            </td>
            <td class="tg-0lax">
                <strong>Proofread Project</strong>
                <div>
                    <i class="fa fa-circle-thin"></i>
                </div>
            </td>
            <td class="tg-0lax">
                <strong>Proofread Hybrid Sim</strong>
                <div>
                    <i class="fa fa-circle-thin"></i>
                </div>
            </td>
            <td class="tg-0lax">
                <strong>Proofread Categories</strong>
                <div>
                    <i class="fa fa-circle-thin"></i>
                </div>
            </td>
            <td class="tg-0lax">
                <strong>Order Authors</strong>
                <div>
                    <i class="fa fa-circle-thin"></i>
                </div>
            </td>
            <td class="tg-0lax">
                <strong>Licenses</strong>
                <div>
                    <i class="fa fa-circle-thin"></i>
                </div>
            </td>
        </tr>
    </table>
    <br>
    <div>
        <a class="pull-left" ng-click="$ctrl.goPreview()"><i class="fa fa-arrow-left"></i> Back to Publication
            Preview</a>
        <button class="btn btn-add pull-right" ng-click="$ctrl.goProject()" ng-disabled="!$ctrl.selectedExp">Continue</button>
    </div>
    <!-- progression map -->
    <div style="padding-top: 40px; padding-bottom: 40px;">
        <!-- Error Messages -->
        <div class="alert alert-danger" ng-if="$ctrl.missing.length">
            <p class="lead" style="text-align:center;">Your Selection is Incomplete!</p>
            <p>
                The hybrid simulation you have selected for publication is missing data or has incomplete requirements.
                Please review the following fields:
            </p>
            <li ng-repeat="item in $ctrl.missing">The {{ item }} for this hybrid simulation is missing or has no categorized data.</li>
        </div>
        <p>
            <h3 style="text-align: center">Select what you want to publish</h3>
            <li>You can only publish one hybrid simulation at a time.</li>
            <li>If you want to deselect individual files, deselect the checkboxes.</li>
            <li>If you need help, attend <a>Curation office hours</a> for help with publishing.</li>
        </p>
    </div>
        <!-- Hybrid Simulations -->
        <div ng-show="$ctrl.loading">
            <h3 class="text-center">
                <i class="fa fa-spinner fa-spin"></i> Loading...
            </h3>
        </div>
        <!-- Hybrid Simulation Reports -->
        <div ng-hide="$ctrl.loading" ng-repeat="report in $ctrl.browser.project.report_set | orderBy: 'value.title'">
            <div class="dropdown" id="details-{{report.uuid}}" ng-if="$ctrl.matchingGroup(hybsim, report)">
                <button class="btn collapsed tab-report" data-toggle="collapse" data-target="#files-{{report.uuid}}"
                    style="width:100%;">
                    <table style="width:100%">
                        <tr>
                            <td style="text-align: left;">
                                <span>Report | <strong>{{report.value.title}}</strong></span>
                            </td>
                            <td style="text-align: right;">
                                <span class="curation-chevron" style="font-size: 18px;"></span>
                            </td>
                        </tr>
                    </table>
                </button>
                <div id="files-{{report.uuid}}" class="collapse">
                    <div class="well">
                        <p>{{ report.value.description }}</p>
                    </div>
                    <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[report.uuid]"></files-listing>
                </div>
            </div>
        </div>
        <div ng-hide="$ctrl.loading" ng-repeat="hybsim in $ctrl.browser.project.hybridsimulation_set">
            <div class="dropdown" id="details-{{hybsim.uuid}}">
                <a ng-click="$ctrl.selectExperiment(hybsim)">Select this Hybrid Simulation and all of its files</a>
                <span ng-if="$ctrl.selectedExp.uuid === hybsim.uuid"><i class="fa fa-check" style="color: #1CB500;"></i></span>
                <button class="btn collapsed tab-experiment" data-toggle="collapse" data-target="#data-{{hybsim.uuid}}"
                    style="width:100%;">
                    <table style="width:100%">
                        <tr>
                            <td style="text-align: left;">
                                <span>HYBRID SIMULATION | <strong>{{hybsim.value.title}}</strong></span>
                            </td>
                            <td style="text-align: right;">
                                <span class="curation-chevron" style="font-size: 18px;"></span>
                            </td>
                        </tr>
                    </table>
                </button>
                <div id="data-{{hybsim.uuid}}" class="collapse" ng-class="{'in': $index==0}">
                    <div class="well">
                        <div style="display:inline-block; width:20%;">Hybrid Simulation Type</div>
                        <strong ng-if="!$ctrl.isValid(hybsim.value.experimentalFacilityOther)" style="text-transform:capitalize; display:inline-block; width:78%;">
                            {{ hybsim.value.experimentType.replace('_', ' ') }}
                        </strong>
                        <strong ng-if="$ctrl.isValid(hybsim.value.experimentalFacilityOther)" style="text-transform:capitalize; display:inline-block; width:78%;">
                            {{ hybsim.value.experimentTypeOther }}
                        </strong>
                        <div style="display:inline-block; width:20%; vertical-align: top;">Authors</div>
                        <div style="display:inline-block; width:78%; font-weight: bold;">
                            <span ng-repeat="author in hybsim.value.authors | orderBy: 'order'" ng-if="!author.length">
                                <ds-user username="author.name" format="lname" ng-if="author.authorship">{{ author.name }}
                                </ds-user>
                            </span>
                            <!-- support older author list -->
                            <div ng-repeat="author in hybsim.value.authors" ng-if="author.length">
                                <ds-user username="author" format="lname">{{ author }}</ds-user>
                            </div>
                        </div>
                        <div style="display:inline-block; width:20%;">Date of Publication</div>
                        <strong style="display:inline-block; width:78%;">
                            (Appears when published)
                        </strong>
                        <div style="display:inline-block; width:20%;">DOI <button class="btn btn-info btn-sm">Citation</button></div>
                        <strong style="display:inline-block; width:78%;">
                            (Appears when published)
                        </strong>
                        <div style="display:inline-block; width:20%;">License</div>
                        <strong style="display:inline-block; width:78%;">
                            (Appears when published)
                        </strong>
                        <p>
                            <br>{{ hybsim.value.description }}
                        </p>
                        <!-- Hybrid Reports -->
                        <div ng-repeat="report in $ctrl.browser.project.report_set | orderBy: 'value.title'">
                            <div class="dropdown" id="details-{{report.uuid}}" ng-if="$ctrl.matchingGroup(hybsim, report)">
                                <button class="btn collapsed tab-report" data-toggle="collapse" data-target="#files-{{report.uuid}}"
                                    style="width:100%;">
                                    <table style="width:100%">
                                        <tr>
                                            <td style="text-align: left;">
                                                <span>Report | <strong>{{report.value.title}}</strong></span>
                                            </td>
                                            <td style="text-align: right;">
                                                <span class="curation-chevron" style="font-size: 18px;"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </button>
                                <div id="files-{{report.uuid}}" class="collapse">
                                    <div class="well">
                                        <p>{{ report.value.description }}</p>
                                    </div>
                                    <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[report.uuid]"></files-listing>
                                </div>
                            </div>
                        </div>
                        <!-- Model -->
                        <div ng-repeat="model in $ctrl.browser.project.globalmodel_set | orderBy: 'value.title'">
                            <div class="dropdown" id="details-{{model.uuid}}" ng-if="$ctrl.matchingGroup(hybsim, model)">
                                <button class="btn collapsed tab-model-conf" data-toggle="collapse" data-target="#files-{{model.uuid}}"
                                    style="width:100%;">
                                    <table style="width:100%">
                                        <tr>
                                            <td style="text-align: left;">
                                                <span>Global Model | <strong>{{model.value.title}}</strong></span>
                                            </td>
                                            <td style="text-align: right;">
                                                <span class="curation-chevron" style="font-size: 18px;"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </button>
                                <div id="files-{{model.uuid}}" class="collapse">
                                    <div class="well">
                                        <p>{{ model.value.description }}</p>
                                    </div>
                                    <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[model.uuid]"></files-listing>
                                </div>
                            </div>
                        </div>
                        <!-- Coordinator -->
                        <div ng-repeat="coordinator in $ctrl.browser.project.coordinator_set | orderBy: 'value.title'">
                            <div class="dropdown" id="details-{{coordinator.uuid}}" ng-if="$ctrl.matchingGroup(hybsim, coordinator)">
                                <button class="btn collapsed tab-sensor-info" data-toggle="collapse" data-target="#files-{{coordinator.uuid}}"
                                    style="width:100%;">
                                    <table style="width:100%">
                                        <tr>
                                            <td style="text-align: left;">
                                                <span>Coordinator | <strong>{{coordinator.value.title}}</strong></span>
                                            </td>
                                            <td style="text-align: right;">
                                                <span class="curation-chevron" style="font-size: 18px;"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </button>
                                <div id="files-{{coordinator.uuid}}" class="collapse">
                                    <div class="well">
                                        <p>{{ coordinator.value.description }}</p>
                                    </div>
                                    <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[coordinator.uuid]"></files-listing>
                                </div>
                            </div>
                        </div>
                        <!-- Simulation Substructure -->
                        <div ng-repeat="simsub in $ctrl.browser.project.simsubstructure_set | orderBy: 'value.title'">
                            <div class="dropdown" id="details-{{simsub.uuid}}" ng-if="$ctrl.matchingGroup(hybsim, simsub)">
                                <button class="btn collapsed tab-event" data-toggle="collapse" data-target="#files-{{simsub.uuid}}"
                                    style="width:100%;">
                                    <table style="width:100%">
                                        <tr>
                                            <td style="text-align: left;">
                                                <span>Simulation Substructure | <strong>{{simsub.value.title}}</strong></span>
                                            </td>
                                            <td style="text-align: right;">
                                                <span class="curation-chevron" style="font-size: 18px;"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </button>
                                <div id="files-{{simsub.uuid}}" class="collapse">
                                    <div class="well">
                                        <p>{{ simsub.value.description }}</p>
                                    </div>
                                    <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[simsub.uuid]"></files-listing>
                                </div>
                            </div>
                        </div>
                        <!-- Experimental Substrucutre -->
                        <div ng-repeat="expsub in $ctrl.browser.project.expsubstructure_set | orderBy: 'value.title'">
                            <div class="dropdown" id="details-{{expsub.uuid}}" ng-if="$ctrl.matchingGroup(hybsim, expsub)">
                                <button class="btn collapsed tab-subst" data-toggle="collapse" data-target="#files-{{expsub.uuid}}"
                                    style="width:100%;">
                                    <table style="width:100%">
                                        <tr>
                                            <td style="text-align: left;">
                                                <span>Experimental Substrucutre | <strong>{{expsub.value.title}}</strong></span>
                                            </td>
                                            <td style="text-align: right;">
                                                <span class="curation-chevron" style="font-size: 18px;"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </button>
                                <div id="files-{{expsub.uuid}}" class="collapse">
                                    <div class="well">
                                        <p>{{ expsub.value.description }}</p>
                                    </div>
                                    <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[expsub.uuid]"></files-listing>
                                </div>
                            </div>
                        </div>
                        <!-- Coordinator Output -->
                        <div ng-repeat="cout in $ctrl.browser.project.coordinatoroutput_set | orderBy: 'value.title'">
                            <div class="dropdown" id="details-{{cout.uuid}}" ng-if="$ctrl.matchingGroup(hybsim, cout)">
                                <button class="btn collapsed tab-outpt" data-toggle="collapse" data-target="#files-{{cout.uuid}}"
                                    style="width:100%;">
                                    <table style="width:100%">
                                        <tr>
                                            <td style="text-align: left;">
                                                <span>Coordinator Output | <strong>{{cout.value.title}}</strong></span>
                                            </td>
                                            <td style="text-align: right;">
                                                <span class="curation-chevron" style="font-size: 18px;"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </button>
                                <div id="files-{{cout.uuid}}" class="collapse">
                                    <div class="well">
                                        <p>{{ cout.value.description }}</p>
                                    </div>
                                    <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[cout.uuid]"></files-listing>
                                </div>
                            </div>
                        </div>
                        <!-- Experiment Output -->
                        <div ng-repeat="eout in $ctrl.browser.project.expoutput_set | orderBy: 'value.title'">
                            <div class="dropdown" id="details-{{eout.uuid}}" ng-if="$ctrl.matchingGroup(hybsim, eout)">
                                <button class="btn collapsed tab-outpt" data-toggle="collapse" data-target="#files-{{eout.uuid}}"
                                    style="width:100%;">
                                    <table style="width:100%">
                                        <tr>
                                            <td style="text-align: left;">
                                                <span>Experiment Output | <strong>{{eout.value.title}}</strong></span>
                                            </td>
                                            <td style="text-align: right;">
                                                <span class="curation-chevron" style="font-size: 18px;"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </button>
                                <div id="files-{{eout.uuid}}" class="collapse">
                                    <div class="well">
                                        <p>{{ eout.value.description }}</p>
                                    </div>
                                    <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[eout.uuid]"></files-listing>
                                </div>
                            </div>
                        </div>
                        <!-- Simulation Output -->
                        <div ng-repeat="sout in $ctrl.browser.project.simoutput_set | orderBy: 'value.title'">
                            <div class="dropdown" id="details-{{sout.uuid}}" ng-if="$ctrl.matchingGroup(hybsim, sout)">
                                <button class="btn collapsed tab-outpt" data-toggle="collapse" data-target="#files-{{sout.uuid}}"
                                    style="width:100%;">
                                    <table style="width:100%">
                                        <tr>
                                            <td style="text-align: left;">
                                                <span>Simulation Output | <strong>{{sout.value.title}}</strong></span>
                                            </td>
                                            <td style="text-align: right;">
                                                <span class="curation-chevron" style="font-size: 18px;"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </button>
                                <div id="files-{{sout.uuid}}" class="collapse">
                                    <div class="well">
                                        <p>{{ sout.value.description }}</p>
                                    </div>
                                    <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[sout.uuid]"></files-listing>
                                </div>
                            </div>
                        </div>
                        <!-- Analysis -->
                        <div ng-repeat="analysis in $ctrl.browser.project.analysis_set | orderBy: 'value.title'">
                            <div class="dropdown" id="details-{{analysis.uuid}}" ng-if="$ctrl.matchingGroup(hybsim, analysis)">
                                <button class="btn collapsed tab-analysis" data-toggle="collapse" data-target="#files-{{analysis.uuid}}"
                                    style="width:100%;">
                                    <table style="width:100%">
                                        <tr>
                                            <td style="text-align: left;">
                                                <span>Analysis | <strong>{{analysis.value.title}}</strong></span>
                                            </td>
                                            <td style="text-align: right;">
                                                <span class="curation-chevron" style="font-size: 18px;"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </button>
                                <div id="files-{{analysis.uuid}}" class="collapse">
                                    <div class="well">
                                        <p>{{ analysis.value.description }}</p>
                                    </div>
                                    <files-listing browser="$ctrl.browser" files-list="$ctrl.browser.listings[analysis.uuid]"></files-listing>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>