{% extends "designsafe/apps/rapid/rapid_base.html" %}
{% load ds_filters %}
{% load bootstrap3 sekizai_tags static %}



{% block main %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li> <a href="{% url 'designsafe_rapid:admin'%}" target="_self"> Recon Admin Home </a></li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2> Edit Natural Hazard Event </h2>

        <form method="post" action="" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% if event.main_image_uuid %}
            <div class="form-group">
              <label> Current banner image </label>
              <img ng-src="/uploads/RAPID/images/{{event.main_image_uuid}}" class="img-responsive"></img>
            </div>
          {% endif %}
          <div class="form-group">
            <button type="submit" class="btn btn-success"> <i role="none" class="fa fa-file"></i> Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>


{% addtoblock 'js' %}

<script>
  $(document).ready(function () {
    $('#id_event_date').datepicker({format: 'yyyy-mm-dd'});
  })
</script>

{% endaddtoblock %}

{% endblock main %}
