
{% extends "base.html" %}
{% load ds_filters %}
{% load bootstrap3 sekizai_tags staticfiles %}

{% block content %}

  <div class="container rapid-admin">
    <div class="row">
      <div class="col-md-12">
        <h2> Rapid Admin </h2>
        <a class="btn btn-default" href="{% url 'designsafe_rapid:admin_create_event' %}">
          <i class="fa fa-plus"> Create New Rapid Event </i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
          <tr>
            <th> Title </th>
            <th> Event Date </th>
            <th> Event Type </th>
            <th> Location </th>
            <th> Created </th>
            <th> </th>
            <th> </th>
          </tr>
          {% for event in rapid_events %}
            <tr>
              <td> {{event.title}} </td>
              <td> {{event.event_date}} </td>
              <td> {{event.event_type}} </td>
              <td> {{event.location_description}} </td>
              <td> {{event.created_date}} </td>
              <td> <a href="{% url 'designsafe_rapid:admin_edit_event' event|private:'_id' %}"class="btn btn-sm btn-info"> Edit </a> </td>
              <td> <a href="{% url 'designsafe_rapid:admin_event_add_dataset' event|private:'_id' %}" class="btn btn-sm btn-info"> Add Dataset </a> </td>

            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  {% addtoblock "css" %}
      <link rel="stylesheet" href="{% static 'designsafe/apps/rapid/styles/rapid.css' %}" />
  {% endaddtoblock %}


{% endblock content %}
