
{% extends "designsafe/apps/rapid/rapid_base.html" %}
{% load ds_filters %}

{% block main %}

  <div class="container rapid-admin">
    <div class="row">
      <div class="col-md-12">
        <h1> Recon Admin </h1>
        <a class="btn btn-success" href="{% url 'designsafe_rapid:admin_create_event' %}" target="_self">
          <i class="fa fa-plus"> Create New Recon Event </i>
        </a>
        <a class="btn btn-default pull-right" href="{% url 'designsafe_rapid:admin_users' %}" target="_self"> Recon User Admin </a>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
          <tr>
            <th> Title </th>
            <th> Event Date </th>
            <th> Event Type </th>
            <th> Location </th>
            <th> Created </th>
            <th> </th>
            <th> </th>
            <th> </th>
          </tr>
          {% for event in rapid_events %}
            <tr>
              <td> {{event.title}} </td>
              <td> {{event.event_date}} </td>
              <td> {{event.event_type}} </td>
              <td> {{event.location_description}} </td>
              <td> {{event.created_date}} </td>
              <td>
                <a href="{% url 'designsafe_rapid:admin_edit_event' event.meta|private:'id' %}" class="btn btn-sm btn-info" target="_self">
                  <i class="fa fa-file"> </i> Edit
                </a>
              </td>
              <td>
                <a href="{% url 'designsafe_rapid:admin_event_datasets' event.meta|private:'id' %}" class="btn btn-sm btn-info" target="_self">
                  <i class="fa fa-database"> </i> Datasets
                </a>
              </td>
              <td>
                <form action="{% url 'designsafe_rapid:admin_delete_event' event.meta|private:'id'  %}" method="POST">
                  {% csrf_token %}
                  <button class="btn btn-sm btn-danger"> <i class="fa fa-trash"> </i> Delete Event </button>
              </td>

            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>

{% endblock main %}
