<span class="fa-stack fa-lg" style="margin: -8px;" ng-if="$ctrl.selected" ng-click="$ctrl.onSelect()">
    <i role="none" class="fa fa-square fa-stack-1x" style="color: white;"></i>
    <i role="none" class="fa fa-check-square fa-stack-1x" style="color:#1CB500;"></i>
</span>
<span class="fa-stack fa-lg" style="margin: -8px;" ng-if="!$ctrl.selected" ng-click="$ctrl.onSelect()">
    <i role="none" class="fa fa-square fa-stack-1x" style="color: white;"></i>
    <i role="none" class="fa fa-square-o fa-stack-1x" style="color:lightgray;"></i>
</span>
