{% load i18n cache static %}

<!-- Sponsor Logos -->
<div class="branding-header">
  <a href="https://www.nsf.gov/" target="_blank" aria-describedby="msg-open-ext-site-new-window">
    <img class="branding-logo branding-nsf" src="{% static 'images/org_logos/nsf-white.png' %}" crossorigin="anonymous"
      alt="NSF Logo">
  </a>
  <span class="branding-seperator" role="none"></span>
  <a href="/about/" >
    <img class="branding-logo branding-nheri" src="{% static 'images/org_logos/NHERI-white-stacked.png' %}" crossorigin="anonymous"
      alt="NSF Logo">
  </a>
</div>
