{% load static cms_tags %}
<footer class="c-footer s-footer o-site__footer">
  <ul id="logos" class="list-unstyled">
    <li><img class="img-responsive nsflogo" src="{% static 'images/org_logos/nsf-white.png' %}"></li>
  </ul>
  {% static_placeholder 'site_footer' site or %}
  <p class="text-center">
    DesignSafe-CI is supported by a grant from the National Science Foundation
    (<a target="_blank" aria-describedby="msg-open-ext-site-new-window" href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1520817">#1520817</a>).
  </p>
  {% endstatic_placeholder %}
</footer>
