{% load staticfiles cms_tags %}
<footer class="container">
<hr>
<ul id="logos" class="list-unstyled">
  <li><img class="img-responsive nsflogo" src="{% static 'images/nsf.jpg' %}"></li>
  <li><img class="img-responsive logo" src="{% static 'images/UT-logo.jpg' %}"></li>
  <li><img class="img-responsive logo" src="{% static 'images/TACC-Logo.jpg' %}"></li>
  <li><img class="img-responsive logo" src="{% static 'images/Rice-Logo.jpg' %}"></li>
  <li><img class="img-responsive logo" src="{% static 'images/Florida-logo.png' %}"></li>
</ul>
{% static_placeholder 'site_footer' %}
</footer>