{% if messages %}
  <div class="messages">
    <div class="container">
      {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p>{{ message|safe }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
<div class="messages">
  <div class="container" id="agentMessage">
    {% if AGENT_IS_SUPPORTED is not True %}
    {% endif %}
  </div>
</div>
