{% if messages %}
  <div class="messages">
    <div class="container">
      {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p>{{ message|safe }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
<div class="messages">
  <div class="container" id="agentMessage">
  </div>
</div>
<!-- https://medium.com/@svinkle/why-let-someone-know-when-a-link-opens-a-new-window-8699d20ed3b1#79b2 -->
<div hidden>
  <span id="msg-open-new-window">Opens in a new window</span>
  <span id="msg-open-ext-site">Opens an external site</span>
  <span id="msg-open-ext-site-new-window">Opens an external site in a new window</span>
  <span id="msg-open-new-window-ext-site">Opens an external site in a new window</span>
</div>
