{% if messages %}
  <div class="messages">
    <div class="container">
      {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p>{{ message|safe }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
<div class="messages">
  <div class="container" id="agentMessage">
    {% if AGENT_IS_SUPPORTED is not True %}
      <div class='alert alert-warning'>
        <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
        <p><h4>Unsupported Browser</h4>
          Your browser is not supported by DesignSafe.
          Please switch to <a href='https://www.google.com/chrome'>Chrome</a>
          or <a href='https://www.mozilla.org/en-US/firefox/new/'>Firefox</a>
          if you experience issues.
        </p>
      </div>
    {% endif %}
  </div>
</div>
