<div class="modal-header" style="background: #e6e6e6;">
    <h4 class="modal-title" style="border:none;">
        <span>Agreement</span>
        <span class="pull-right" data-ng-click="$ctrl.close()">
            <i class="fa fa-times">&nbsp;</i>
        </span>
    </h4>
</div>
<div class="modal-body" style="padding: 30px;">
    <p style="padding-bottom: 10px;">
        This submission represents my original work. The submission meets the requirements established
        by DesignSafe-CI available at the <a>Curation and Publication Guidelines</a>. I understand the type
        of license I choose to distribute my data and guarantee that I am entitled to grant the rights
        contained in them. I agree that when this submission is made public with a unique
        digital object identifier (DOI), this will result in a publication that cannot be changed.
        If I have revisions this will result in a new version of the publication including a new DOI.
    </p>
    <div>
        <span style="display:inline-block; width:75%;">
            <input type="checkbox" id="agreement" name="agreement" data-ng-model="$ctrl.agreed">
            <label for="agreement"> I agree </label>
        </span>
        <button class="btn btn-add"
                style="display:inline-block; width:24%;"
                data-ng-click="$ctrl.publish()"
                data-ng-disabled="!$ctrl.agreed || $ctrl.published || $ctrl.busy">
            <i class="fa fa-globe">&nbsp;</i> Request DOI & Publish
        </button>
    </div>
    <div class="alert alert-warning" data-ng-if="$ctrl.published">
        Your project is being published. Please wait until the project has finished publishing to edit or add anything in the project.
    </div>
</div>
