<div class="modal-header" style="background: #e6e6e6;">
    <h4 class="modal-title" style="border:none;">
        <span>Agreement</span>
        <span class="pull-right" ng-click="$ctrl.close()">
            <i class="fa fa-times">&nbsp;</i>
        </span>
    </h4>
</div>
<div class="modal-body" style="padding: 30px;">
    <div ng-if="$ctrl.ui.loading">
        <h3 class="text-center">
            <i class="fa fa-spinner fa-spin"></i> Loading...
        </h3>
    </div>
    <div ng-if="!$ctrl.ui.loading">
        <div class="prj-agree-body">
            <h3>
                Guidelines Regarding the Storage and Publication of Protected Data in DesignSafe-CI
            </h3>
            <hr>
            <p>
                Researchers should always comply with the requirements, norms and procedures approved 
                by the Institutional Review Board (IRB) or equivalent body, regarding human subjects’
                data storage and publication.
            </p>
            <p>
                <i>Protected data</i> includes human subjects data with Personal Identifiable Information (PII),
                data that is protected under
                <a href="https://www.hhs.gov/hipaa/for-professionals/privacy/laws-regulations/index.html" target="_blank">HIPPA</a>,
                <a href="https://studentprivacy.ed.gov/faq/what-ferpa" target="_blank">FERPA</a> and
                <a href="https://csrc.nist.gov/projects/risk-management/detailed-overview" target="_blank">FISMA</a>
                regulations, as well as data that involves vulnerable populations and that contains
                <a href="https://en.wikipedia.org/wiki/Information_sensitivity" target="_blank">sensitive information</a>.
            </p>
            <div class="overview-heading">Storing Protected Data</div>
            <p>
                DesignSafe My Data and My Projects are secure spaces to store raw protected data as
                long as it is not under HIPPA, FERPA or FISMA regulations. If data needs to comply with
                these regulations, researchers must contact DesignSafe through a
                <a href="/help/new-ticket/" target="_blank">help ticket</a>
                to evaluate the case and use
                <a href="https://www.tacc.utexas.edu/protected-data-service" target="_blank">TACC‘s Protected Data Service</a>.
                Researchers with doubts are welcome to send a
                <a href="/help/new-ticket/" target="_blank">ticket</a> or join
                <a href="/learning-center/training/" target="_blank">curation office hours</a>.
            </p>
            <div class="overview-heading">Publishing Protected Data</div>
            <p>
                To publish protected data researchers should adhere to the following procedures:
            </p>
            <p>
                1.  Do not publish HIPPA, FERPA, FISMA, PII data or other sensitive information in DesignSafe.
            </p>
            <p>
                2.  To publish protected data and any related documentation (reports, planning documents,
                field notes, etc.) it must be properly anonymized. No <i>direct identifiers</i> and up to
                three <i>indirect identifiers</i> are allowed. <i>Direct identifiers</i> include items such
                as participant names, participant initials, facial photographs (unless expressly authorized
                by participants), home addresses, social security numbers and dates of birth. <i>Indirect identifiers</i>
                are identifiers that, taken together, could be used to deduce someone’s identity. Examples of
                <i>indirect identifiers</i> include gender, household and family compositions, occupation,
                places of birth, or year of birth/age.
            </p>
            <p>
                3.  If a researcher needs to restrict public access to data because it includes HIPPA, FERPA,
                PII data or other sensitive information, consider publishing metadata and other documentation
                about the data.
            </p>
            <p>
                4.  Users of DesignSafe interested in the data will be directed to contact the project PI or
                designated point of contact through a published email address to request access to the data
                and to discuss the conditions for its reuse.
            </p>
            <p>
                5.  Please contact DesignSafe through a
                <a href="/help/new-ticket/" target="_blank">help ticket</a> or join
                <a href="/learning-center/training/" target="_blank">curation office hours</a>
                prior to preparing this type of data publication.
            </p>
            <span class="prj-agree-select" ng-if="!$ctrl.ui.submitted && !$ctrl.ui.published">
                <span>
                    <input type="checkbox" id="agreement1" name="agreement1" ng-model="$ctrl.agreed1">
                    <label for="agreement1"> The data I am publishing adheres to the procedures listed above </label>
                </span>
            </span>
        </div>
        <!-- <div class="prj-agree-body">
            <h3>
                Privacy Guidelines Regarding the Storage and Publication of Human Subjects Data
            </h3>
            <hr>
            <p>
                To publish protected data researchers should adhere to the following procedures:
            </p>
            <p>
                a)	Do not publish HIPPA, FERPA, PII data or other sensitive information in DesignSafe.
            </p>
            <p>
                b)	To publish protected data and any related documentation (reports, planning documents,
                field notes, etc.) it must be properly anonymized. No direct identifiers are allowed.
                These include items such as participant names, participant initials, facial photographs
                unless expressly authorized by participants), home addresses, social security numbers and
                dates of birth. Up to three indirect identifiers are allowed in a published dataset. These
                are identifiers that, taken together, could be used to deduce someone’s identity. Examples
                include gender, household and family compositions, occupation, places of birth, or year of
                birth/age.
            </p>
            <p>
                c)	If a researcher needs to restrict public access to data because it includes highly
                sensitive personal information, or because removing the indirect identifiers will impair
                the data understandability, you may only publish metadata and other documentation about
                the data in DesignSafe. Users interested in the data will contact the PI (your email address
                will be published) to request access to the data and to discuss the conditions for its reuse.
                Please contact DesignSafe’s curator through a HELP ticket prior to preparing this type of
                data publication.
            </p>
            <span class="prj-agree-select" ng-if="!$ctrl.ui.submitted && !$ctrl.ui.published">
                <span>
                    <input type="checkbox" id="agreement1" name="agreement1" ng-model="$ctrl.agreed1">
                    <label for="agreement1"> The data I am publishing adheres to the procedures listed above </label>
                </span>
            </span>
        </div> -->
        <div class="prj-agree-body">
            <h3>
                Publishing Agreement
            </h3>
            <hr>
            <p>
                This submission represents my original work. The submission meets the requirements
                established by DesignSafe-CI available at the
                <a href="/rw/user-guides/data-publication-guidelines/" target="_blank">
                    Curation and Publication Guidelines.
                </a>
                I understand the type of license I choose to distribute my data and guarantee that
                I am entitled to grant the rights contained in them. I agree that when this submission
                is made public with a unique digital object identifier (DOI), this will result in a
                publication that cannot be changed. If I have revisions this will result in a new
                version of the publication including a new DOI.
            </p>
            <div class="prj-agree-select" ng-if="!$ctrl.ui.submitted && !$ctrl.ui.published">
                <span>
                    <input type="checkbox" id="agreement2" name="agreement2" ng-model="$ctrl.agreed2">
                    <label for="agreement2"> I agree </label>
                </span>
                <button class="btn btn-add"
                        ng-click="$ctrl.publish()"
                        ng-disabled="!$ctrl.agreed1 || !$ctrl.agreed2 || $ctrl.busy">
                    <i class="fa fa-globe">&nbsp;</i> Request DOI & Publish
                </button>
            </div>
        </div>
        <div ng-if="$ctrl.ui.submitted">
            <div class="alert alert-warning">
                Your project is being published. <strong>Do not attempt to publish your project again.</strong>
                Please wait until the project has finished publishing to edit or add anything in the project.
                You will find your published project in the "Published" ared of the Data Depot soon.
            </div>
            <div style="text-align: center">
                    <button class="btn btn-add"
                            style="width:24%;"
                            ng-click="$ctrl.return()"
                    >
                        Complete Submission
                    </button>
            </div>
        </div>
        <div ng-if="$ctrl.ui.published">
            <div class="alert alert-warning">
                This project has already been published.
                If you would like to update your existing publication or
                if you are having trouble viewing your publication please
                <a href="/help/new-ticket/?category=DATA_CURATION_PUBLICATION&subject=Requesting+update+to+existing+publication:+{{$ctrl.project.value.projectId}}"
                target="_blank">submit a ticket</a>.
            </div>
            <div style="text-align: center">
                    <button class="btn btn-add"
                            style="width:24%;"
                            ng-click="$ctrl.return()"
                    >
                        Return to Project
                    </button>
            </div>
        </div>
    </div>
</div>
