<div class="modal-header" style="background: #e6e6e6;">
    <h4 class="modal-title" style="border:none;">
        <span>Agreement</span>
        <span class="pull-right" ng-click="$ctrl.close()">
            <i class="fa fa-times">&nbsp;</i>
        </span>
    </h4>
</div>
<div class="modal-body" style="padding: 30px;">
    <div ng-if="$ctrl.ui.loading">
        <h3 class="text-center">
            <i class="fa fa-spinner fa-spin"></i> Loading...
        </h3>
    </div>
    <div ng-if="!$ctrl.ui.loading">
        <h3>
            Publishing Agreement
        </h3>
        <hr>
        <p class="prj-agree-body">
            This submission represents my original work. The submission meets the requirements
            established by DesignSafe-CI available at the
            <a href="/rw/user-guides/data-publication-guidelines/" target="_blank">
                Curation and Publication Guidelines.
            </a>
            I understand the type of license I choose to distribute my data and guarantee that
            I am entitled to grant the rights contained in them. I agree that when this submission
            is made public with a unique digital object identifier (DOI), this will result in a
            publication that cannot be changed. If I have revisions this will result in a new
            version of the publication including a new DOI.
        </p>
        <div class="prj-agree-select" ng-if="!$ctrl.ui.submitted && !$ctrl.ui.published">
            <span style="display:inline-block; width:75%;">
                <input type="checkbox" id="agreement" name="agreement" ng-model="$ctrl.agreed">
                <label for="agreement"> I agree </label>
            </span>
            <button class="btn btn-add"
                    ng-click="$ctrl.publish()"
                    ng-disabled="!$ctrl.agreed || $ctrl.busy">
                <i class="fa fa-globe">&nbsp;</i> Request DOI & Publish
            </button>
        </div>
        <div class="alert alert-danger" ng-if="$ctrl.ui.error">
            <strong>ERROR:</strong>
            There was an issue when attempting to submit your project
            for revision.
            <strong>Do not attempt to publish your project again.</strong> Please
            <a href="/help/new-ticket/?category=DATA_CURATION_PUBLICATION&subject=Failure+to+publish:+{{$ctrl.project.value.projectId}}"
            target="_blank">submit a ticket</a> and we will assist you with this issue.
        </div>
        <div ng-if="$ctrl.ui.submitted && !$ctrl.ui.error">
            <div class="alert alert-warning">
                Your project is being published. <strong>Do not attempt to publish your project again.</strong>
                Please wait until the project has finished publishing to edit or add anything in the project.
                You will find your published project in the "Published" ared of the Data Depot soon.
            </div>
            <div style="text-align: center">
                    <button class="btn btn-add"
                            ng-click="$ctrl.return()"
                    >
                        Complete Submission
                    </button>
            </div>
        </div>
        <div ng-if="$ctrl.ui.published">
            <div class="alert alert-warning">
                This project has already been published.
                If you would like to update your existing publication or
                if you are having trouble viewing your publication please
                <a href="/help/new-ticket/?category=DATA_CURATION_PUBLICATION&subject=Requesting+update+to+existing+publication:+{{$ctrl.project.value.projectId}}"
                target="_blank">submit a ticket</a>.
            </div>
            <div style="text-align: center">
                    <button class="btn btn-add"
                            style="width:24%;"
                            ng-click="$ctrl.return()"
                    >
                        Return to Project
                    </button>
            </div>
        </div>
    </div>
</div>
