<div ng-if="$ctrl.ui.loading">
Loading... <i role="none" class="fa fa-spinner fa-spin"></i>
</div>

<div 
     data-ng-if="$ctrl.viewToShow() === 'v1'">
     <published publication=$ctrl.publication></published>
</div>

<div
     data-ng-if="$ctrl.viewToShow() === 'experimental'">
<exp-published-view publication=$ctrl.publication></exp-published-view>
</div>
<div
     data-ng-if="$ctrl.viewToShow() === 'simulation'">
<sim-published-view publication=$ctrl.publication></sim-published-view>
</div>
<div 
     data-ng-if="$ctrl.viewToShow() === 'hybrid_simulation'">
<sim-hyb-published-view publication=$ctrl.publication></sim-hyb-published-view>
</div>
<div
     data-ng-if="$ctrl.viewToShow() === 'field_recon'">
<field-recon-published-view publication=$ctrl.publication></field-recon-published-view>
</div>
<div 
     data-ng-if="$ctrl.viewToShow() === 'other'">
<other-published-view publication=$ctrl.publication></other-published-view>
</div> 
