<!-- <dd-breadcrumb listing="$ctrl.browser.listing" skip-root="true" custom-root="$ctrl.data.customRoot" on-browse="$ctrl.onBrowse" item-href="$ctrl.resolveBreadcrumbHref"></dd-breadcrumb>
<breadcrumb data-browser="$ctrl.browser"
            data-skip-root="true"
            data-custom-root="$ctrl.data.customRoot"
></breadcrumb> -->
<!-- Published View -->
<div class="project">
  <div class="project-detail" style="background:white;" ng-if="!$ctrl.ui.loadingProjectMeta">
    <div class="prj-head-container">
      <span class="prj-head-title">
        <strong>{{$ctrl.project.value.projectId}}: {{ $ctrl.project.value.title }}</strong>
      </span>
      <div class="prj-head-buttons">
      <a class="prj-head-download" ng-click="$ctrl.download()">
        <span class="curation-download"></span>
        <strong>&nbsp;Download Project</strong>
      </a>
      <a class="prj-head-download" ng-click="$ctrl.metrics()">
        <img src='/static/images/ds-icons/icon-metrics.svg' style="width: 20px;">
        <strong>&nbsp;View Project Metrics</strong>
    </a>
    <a class="prj-head-download" ng-click="$ctrl.leaveFeedback()">
      <img src='/static/images/ds-icons/icon-feedback.svg' style="width: 20px;">
      <strong>Leave Feedback</strong>
    </a>
  </div>
    </div>
    <div class="table-responsive">
      <table class="table" style="margin-bottom:0;">
        <thead>
          <tr>
            <th style="width:50%; border-top:none; padding:0px;"></th>
            <th style="width:50%; border-top:none; padding:0px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="padding:0px;">
              <table class="table" style="margin-bottom:0;">
                <tbody>
                  <tr>
                    <th style="border-top:none; width:25%">PI</th>
                    <td style="border-top:none; width:75%">
                      <ds-user-list usernames="[$ctrl.browser.publication.project.value.pi]"></ds-user-list>
                      <button class="btn btn-sm btn-default pull-right"
                              ng-click="$ctrl.viewCollabs($event)">View Team Members</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td style="padding:0px;">
              <table class="table" style="margin-bottom:0;">
                <tbody>
                  <tr>
                    <th style="border-top:none; width:25%;">DOI</th>
                    <td style="border-top:none; width:75%;">{{$ctrl.project.doi}}
                      <button class="btn btn-info btn-sm pull-right"
                              ng-click="$ctrl.onCitation($ctrl.browser.publication, $ctrl.project)">Citation
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <tr>
            <td style="padding:0px;">
              <table class="table" style="margin-bottom:0;">
                <tbody>
                  <tr>
                    <th style="border-top:none; width:25%">Date of Publication</th>
                    <td style="border-top:none; width:75%">{{$ctrl.browser.publication.created| date: 'MMM/d/yyyy'}}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td style="padding:0px;">
              <table class="table" style="margin-bottom:0;">
                <tbody>
                  <tr>
                    <th style="border-top:none; width:25%">Award</th>
                    <td style="border-top:none; width:75%">{{$ctrl.project.value.awardNumber}}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <tr>
            <td style="padding:0px;">
              <table class="table" style="margin-bottom:0;">
                <tbody>
                  <tr>
                    <th style="border-top:none; width:25%">Project Type</th>
                    <td style="border-top:none; width:75%"><span style="text-transform:capitalize">{{$ctrl.project.value.projectType}}</span></td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td style="padding:0px;">
              <table class="table" style="margin-bottom:0;">
                <tbody>
                  <tr>
                    <th style="border-top:none; width:25%">Keywords</th>
                    <td style="border-top:none; width:75%">{{$ctrl.project.value.keywords}}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <tr ng-if="$ctrl.project.value.associatedProjects.length">
            <td style="padding:0px;">
              <table class="table" style="margin-botto:0;">
                <tbody>
                  <tr>
                    <th style="border-top:none; width:25%">Associated Projects</th>
                    <td style="border-top:none; width:75%">
                      <div data-ng-repeat="asc in $ctrl.project.value.associatedProjects">
                          <span>{{asc.title}} - <a ng-href="{{asc.href}}">{{asc.href}}</a></span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <div style="width:100%;">
      <p><strong>Description</strong></p>
      <p>
        {{$ctrl.project.value.description}}
      </p>
    </div>
  </div>
  <div ng-if="$ctrl.ui.loadingProjectMeta">
    Loading... <i class="fa fa-spinner fa-spin"></i>
  </div>
  <hr>

  <dd-altmetrics publication="$ctrl.browser.publication"></dd-altmetrics>
  <!-- <a style="cursor: pointer;" ng-click="$ctrl.leaveFeedback()">
    <strong>Leave Feedback</strong>
  </a> -->
  <breadcrumb
            path="$ctrl.breadcrumbParams.path"
            system="$ctrl.FileListingService.listings.main.params.path"
            on-browse="$ctrl.onBrowse(file)"
            custom-root="$ctrl.breadcrumbParams.root"
            skip-root="$ctrl.breadcrumbParams.skipRoot"
        ></breadcrumb>

<div ng-if="$ctrl.project.value.projectType != 'experimental' &&
            $ctrl.project.value.projectType != 'simulation' &&
            $ctrl.project.value.projectType != 'hybrid_simulation'
            || $ctrl.filePathComps.length > 1 || $ctrl.$stateParams.query_string"><!-- File Listing View -->
 <div class="ds-table-display-wrapper" ds-infinite-scroll
        data-scroll-bottom="$ctrl.scrollToBottom()"
        data-scroll-top="$ctrl.scrollToTop()"
        data-bottom-height="0">
    <files-listing show-select="true" on-browse="$ctrl.onBrowse(file)" listing="$ctrl.FileListingService.listings.main"></files-listing>
  </div>


</div><!-- Closing file listing view -->

<div ng-if="$ctrl.project.value.projectType == 'experimental' && $ctrl.filePathComps.length <= 1 && !$ctrl.$stateParams.query_string">
  <div class="project">
    <div class="preview-wrapper">
      <div ng-repeat="experiment in $ctrl.browser.publication.experimentsList | orderBy: 'value.title'"
           style="background:#fff;">
        <div class="dropdown entity-preview-header" id="details-{{experiment.uuid}}">
          <button class="btn btn-default btn-sm " data-toggle="collapse" data-target="#data-{{experiment.uuid}}"
                  style="width:100%;">
            Experiment {{experiment.value.title}}  <i class="fa dropdown-caret"></i>
          </button>
          <div id="data-{{experiment.uuid}}" class="collapse">
            <div style="border:1px solid black; background:white; margin-bottom:15px;">
              <div style= "padding:5px;">
                <h3 style="margin-top:0">{{experiment.value.title}}</h3>
              </div>
              <div class="table-responsive">
                <table style="table-layout: fixed; width:100%">
                  <thead>
                    <tr>
                      <th style="width:50%; border-top:none; padding:0;"></th>
                      <th style="width:50%; border-top:none; padding:0;"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="padding:0; border-top:none;">
                        <table class="table" style="margin-bottom:0px;">
                          <tbody>
                            <tr>
                              <th style="border-top:none; padding-top:0px; padding-bottom:5px;">
                                Author(s)
                              </th>
                              <td style="border-top:none; padding-top:0px; padding-bottom:5px;">
                                <span ng-repeat="user in $ctrl.filterUsers(experiment.value.authors, $ctrl.browser.publication.users) | orderBy: $ctrl.sortUsers(experiment)">
                                {{user.last_name}}, {{user.first_name}};
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td style="padding:0; border-top:none;">
                        <table class="table" style="margin-bottom:0px;">
                          <tbody>
                            <tr>
                              <th style="border-top:none; padding-top:0px; padding-bottom:5px;">
                                DOI
                              </th>
                              <td style="border-top:none; padding-top:0px; padding-bottom:5px;">
                                <span>{{experiment.doi}}</span>
                              </td>
                              <td style="border-top:none; padding-top:0px; padding-bottom:5px;">
                                <button class="btn btn-info btn-sm"
                                        ng-click="$ctrl.onCitation($ctrl.browser.publication, experiment)">Citation
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding:0; border-top:none;">
                        <table class="table" style="margin-bottom:0px;">
                          <tbody>
                            <tr>
                              <th style="border-top:none; padding-top:0px; padding-bottom:5px;">
                                Experimental Facility
                              </th>
                              <td style="border-top:none; padding-top:0px; padding-bottom:5px;">
                                {{experiment.value.experimentalFacility}}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td style="padding:0; border-top:none;">
                      </td>
                    </tr>
                    <tr>
                      <td style="padding:0; border-top:none;">
                        <table class="table" style="margin-bottom:0px;">
                          <tbody>
                            <tr>
                              <th style="border-top:none; padding-top:0px; padding-bottom:5px; padding-right:0px; width:30%;">
                                Experiment Type
                              </th>
                              <td style="border-top:none; padding-top:0px; padding-bottom:5px; width:70%; text-align:left;">
                               <span style="text-transform:capitalize;">{{experiment.value.experimentType}}</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td style="padding:0; border-top:none;">
                      </td>
                    </tr>
                    <tr>
                      <td style="padding:0; border-top:none;">
                        <table class="table" style="margin-bottom:0px;">
                          <tbody>
                            <tr>
                              <th style="border-top:none; padding-top:0px; padding-bottom:5px; padding-right:0px; width:30%">
                                Equipment Type
                              </th>
                              <td style="border-top:none; padding-top:0px; padding-bottom:5px; width:70%; text-align:left;">
                                <span style="text-transform:capitalize;">{{experiment.value.equipmentType}}</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td style="padding:0; border-top:none;">
                      </td>
                    </tr>
                    <tr>
                      <td style="padding:0; border-top:none;">
                        <table class="table" style="margin-bottom:0px;">
                          <tbody>
                            <tr>
                              <th style="border-top:none; padding-top:0px; padding-bottom:5px; padding-right:0px; width:30%">
                                Date of Publication
                              </th>
                              <td style="border-top:none; padding-top:0px; padding-bottom:5px; width:70%; text-align:left;">
                                {{$ctrl.browser.publication.created| date: 'MMM/d/yyyy'}}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td style="padding:0; border-top:none;">
                      </td>
                    </tr>
                    <tr ng-if="$ctrl.getRelated('reportsList', false, experiment.uuid).length">
                      <td style="padding:0; border-top:none;">
                        <table class="table" style="margin-bottom:0px;">
                          <tbody>
                            <tr>
                              <th style="border-top:none; padding-top:0px; padding-bottom:5px; padding-right:0px; width:30%;">
                                Experiment Report
                              </th>
                              <td style="border-top:none; padding-top:0px; padding-bottom:5px; width:70%; text-align:left;">
                                <a href="#details-{{$ctrl.getRelated('reportsList', false, experiment.uuid)[0].uuid}}"
                                   class="btn btn-link">
                                  <span style="font-weight:bold;">
                                    {{$ctrl.getRelated('reportsList', false, experiment.uuid)[0].value.title}}
                                  </span>
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td style="padding:0; border-top:none;">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div style="width:100%; padding-left:10px;" ng-if="experiment.value.description">
                <p style="font-weight:bold;">Description</p>
                <p>{{experiment.value.description}}</p>
              </div>
              <div style="width:100%; padding-left:10px;">
                <div>
                </div>
              </div>
            </div>
            <div ng-if="!$ctrl.getRelated('eventsList', false, experiment.uuid).length"
                 class="bg-info" style="padding:10px; margin-bottom:10px; border-bottom:1px solid black;">
              This Experiment has no Events.
            </div>
            <div ng-repeat="event in all_events = $ctrl.getRelated('eventsList', false, experiment.uuid) | orderBy: ['_ui.order', 'value.title']"
                 style="margin-bottom:10px;">
              <div style="padding:3px;">
                <span class="ds-text-red folder-tick">Event Data: {{event.value.title}} </span>
                <span style="color:light-gray">Link to: </span>
                <a class="ds-text-blue" href="#details-{{$ctrl.getRelated('modelConfigs', event, [experiment.uuid])[0].uuid}}"
                   data-toggle="collapse" data-target="#files-{{$ctrl.getRelated('modelConfigs', event, [experiment.uuid])[0].uuid}}">
                  Model Configuration
                </a>
                <a class="ds-text-green" href="#details-{{$ctrl.getRelated('sensorLists', event, [experiment.uuid,
                                               $ctrl.getRelated('modelConfigs', event, [experiment.uuid])[0].uuid])[0].uuid}}"
                   data-toggle="collapse" data-target="#files-{{$ctrl.getRelated('sensorLists', event, [experiment.uuid,
                                                       $ctrl.getRelated('modelConfigs', event, [experiment.uuid, event.uuid])[0].uuid])[0].uuid}}">
                  Sensor List
                </a>
              </div>
            <div style="position:absolute; left:-110px; margin-top:-20px; width:110px;">
              <div style="border-bottom:1px solid lightgrey;">
                <a class="ds-text-red" ng-click="$ctrl.viewRelations(event.uuid)" href="#">
                  Relations
                </a>
              </div>
              <div>
                <a class="ds-text-blue" href="" ng-click="$ctrl.viewRelations($ctrl.getRelated('modelConfigs', event, [experiment.uuid])[0].uuid)">
                  {{$ctrl.getRelated('modelConfigs', event, [experiment.uuid])[0].value.title}}
                </a>
              </div>
              <div>
                <a class="ds-text-green" href="" ng-click="$ctrl.viewRelations($ctrl.getRelated('sensorLists', event, [experiment.uuid, $ctrl.getRelated('modelConfigs', event, [experiment.uuid])[0].uuid])[0].uuid)">
                  {{$ctrl.getRelated('sensorLists', event, [experiment.uuid,
                  $ctrl.getRelated('modelConfigs', event, [experiment.uuid])[0].uuid])[0].value.title}}
                </a>
              </div>
            </div>
            <div style="margin-left:-5px; padding-left:5px; margin-top:-11px; padding-top:7px; border-left:1px solid #ccc; border-radius:5px 0px 0px 5px; max-height:300px; overflow:scroll;">
              <files-listing show-select="true" on-browse="$ctrl.onBrowse(file)" listing = $ctrl.FileListingService.listings[event.uuid]></files-listing>
            </div>
          </div>

        </div>
      </div> <!-- experiment list -->
    </div>
  </div> <!-- Preview Wrapper -->

  <div class="project-preview-entities-details">
    <div ng-repeat="modelConfig in $ctrl.browser.publication.modelConfigs | orderBy: 'value.title'">
      <div class="dropdown entity-preview-header" id="details-{{modelConfig.uuid}}">
        <button class="btn btn-sm btn-default collapsed ds-text-blue" data-toggle="collapse" data-target="#files-{{modelConfig.uuid}}"
                style="width:100%;">
          Model Config {{modelConfig.value.title}}  <i class="fa dropdown-caret"></i>
        </button>
        <div id="files-{{modelConfig.uuid}}" class="collapse">
          <files-listing show-select="true" on-browse="$ctrl.onBrowse(file)" listing="$ctrl.FileListingService.listings[modelConfig.uuid]"></files-listing>
        </div>
      </div>
    </div> <!-- Model Config list -->
    <div ng-repeat="sensorList in $ctrl.browser.publication.sensorLists | orderBy: 'value.title'">
      <div class="dropdown entity-preview-header" id="details-{{sensorList.uuid}}">
        <button class="btn btn-sm btn-default collapsed ds-text-green" data-toggle="collapse" data-target="#files-{{sensorList.uuid}}"
                style="width:100%;">
          Sensor List {{sensorList.value.title}}  <i class="fa dropdown-caret"></i>
        </button>
        <div id="files-{{sensorList.uuid}}" class="collapse">
          <files-listing show-select="true" on-browse="$ctrl.onBrowse(file)" listing="$ctrl.FileListingService.listings[sensorList.uuid]"></files-listing>
        </div>
      </div>
    </div> <!-- sensor lists -->
    <div ng-repeat="analysis in $ctrl.browser.publication.analysisList | orderBy: 'value.title'">
      <div class="entity-wrapper"
           ng-if="analysis.fileObjs.length">
        <div class="dropdown entity-preview-header" id="details-{{analysis.uuid}}">
          <button class="btn btn-default btn-sm ds-text-light-blue" data-toggle="collapse" data-target="#files-{{analysis.uuid}}"
                  style="width:100%;">
            Analysis {{analysis.value.title}}  <i class="fa dropdown-caret"></i>
          </button>
          <div id="files-{{analysis.uuid}}" class="collapse">
            <div style="border:1px solid black; background:white; padding:5px; margin-bottom:15px;">
              <div style= "width:50%; display:inline-block;">
                <h3 style="margin-top:0;">{{analysis.value.title}}</h3>
                <span style="font-weight:bold;">Description: </span>{{analysis.value.description}}</p>
                <button class="btn btn-link btn-sm"
                        ng-click="$ctrl.showText(analysis.value.description)">
                  <i class="fa fa-external-link"></i> Show
                </button>
              </div>
            </div>
            <div ng-if="analysis.doi" style="padding:5px; margin:5px 0px; height:60px; overflow:hidden; word-wrap:overflow; width:50%; display:inline-block; float:right;">
              <p style="overflow:hidden; display:block; height:20px;">
                <span style="font-weight:bold;">DOI: </span>{{analysis.doi}}
              </p>
              <div>
                <button class="btn btn-info btn-sm"
                        ng-click="$ctrl.onCitation($ctrl.browser.publication, analysis)">Citation
                </button>
              </div>
            </div>
            <files-listing show-select="true" on-browse="$ctrl.onBrowse(file)" listing="$ctrl.FileListingService.listings[analysis.uuid]"></files-listing>
          </div>
        </div>
      </div>
    </div> <!-- Analysis List -->

    <div ng-repeat="report in $ctrl.browser.publication.reportsList | orderBy: 'value.title'">
      <div class="entity-wrapper"
           ng-if="report.fileObjs.length">
        <div class="dropdown entity-preview-header" id="details-{{report.uuid}}">
          <button class="btn btn-default btn-sm" data-toggle="collapse" data-target="#files-{{report.uuid}}"
                  style="width:100%;">
            Report {{report.value.title}}  <i class="fa dropdown-caret"></i>
          </button>
          <div id="files-{{report.uuid}}" class="collapse">
            <div style="border:1px solid black; background:white; padding:5px; margin-bottom:15px;">
              <div style= "display:inline-block; width:100%;">
                <h3 style="margin-top:0;">{{report.value.title}}</h3>
                <div style="padding:5px; margin:5px 0px; height:60px; overflow:hidden; word-wrap:overflow;">
                <p style="overflow:hidden; display:block; height:20px;">
                  <span style="font-weight:bold;">Description: </span>{{report.value.description}}
                </p>
                <button class="btn btn-link btn-sm"
                        ng-click="$ctrl.showText(analysis.value.description)">
                  <i class="fa fa-external-link"></i> Show
                </button>
              </div>
            <div style="padding:5px; margin:5px 0px; height:60px; overflow:hidden; word-wrap:overflow; display:inline-block; float:right;">
              <p style="overflow:hidden; display:block; height:20px;"></p>
            </div>
            <files-listing show-select="true" on-browse="$ctrl.onBrowse(file)" listing="$ctrl.FileListingService.listings[report.uuid]"></files-listing>
          </div>
        </div>
      </div>
    </div> <!-- Reports List -->
  </div> <!-- project -->
</div> <!-- projectType -->
  </div>
  </div>
</div>

<div ng-if="$ctrl.project.value.projectType == 'simulation' && $ctrl.filePathComps.length <= 1 && !$ctrl.$stateParams.query_string">  <!-- simulation publishe dview -->

  <div ng-repeat="simulation in $ctrl.browser.publication.simulations | orderBy: 'value.title'" style="#fff;">
    <div class="dropdown entity-preview-header" id="details-{{simulation.uuid}}">
      <button class="btn btn-default btn-sm" data-toggle="collapse" data-target="#data-{{simulation.uuid}}"
              style="width:100%">
        Simulation {{simulation.value.title}} <i class="fa dropdown-caret"></i>
      </button>
      <div id="data-{{simulation.uuid}}" class="collapse">

        <div style="border:1px solid black; background:white; margin-bottom:15px;">
          <div style="padding:5px;">
            <h3 style="margin-top:0">{{simulation.value.title}}</h3>
            <p style="font-weight:bold;">Description</p>
            <p>{{simulation.value.description}}</p>
          </div>

          <div style="width:49%; vertical-align:top; display:inline-block;">
            <div>
              <span style="font-weight:bold; display:inline-block; width:150px;"> Date of Publication: </span>
              {{$ctrl.browser.publication.created| date: 'MMM/d/yyyy'}}
            </div>
            <div>
              <span style="font-weight:bold; display:inline-block; width:150px;"> DOI: </span>
                {{simulation.doi}}
            </div>
            <div>
              <span style="font-weight:bold; display:inline-block; width:150px;"> Simulation Type: </span>
              <span ng-if="simulation.value.simulationType !== 'Other'">{{simulation.value.simulationType}}</span>
              <span ng-if="simulation.value.simulationType === 'Other'">{{simulation.value.simulationTypeOther}}</span>
            </div>
          </div>
          <div style="width:49%; vertical-align:top; display:inline-block;">
            <div>
              <span style="font-weight:bold; display:inline-block; width:150px;"> Authors: </span>
                <span ng-repeat="user in $ctrl.filterUsers(simulation.value.authors, $ctrl.browser.publication.users) | orderBy: $ctrl.sortUsers(simulation)">
                {{user.last_name}}, {{user.first_name}};
                </span>
            </div>
            <div ng-if="$ctrl.getRelated('analysis', false, simulation.uuid).length">
              <span style="font-weight:bold; display:inline-block; width:150px;"> Simulation Analysis: </span>
              <a ng-href="#data-{{$ctrl.getRelated('analysiss', false, simulation.uuid)[0].uuid}}">
                {{$ctrl.getRelated('analysiss', false, simulation.uuid)[0].value.title}}
              </a>
            </div>
            <div ng-if="$ctrl.getRelated('reports', false, simulation.uuid).length">
              <span style="font-weight:bold; display:inline-block; width:150px;"> Simulation Report: </span>
              <a ng-href="#data-{{$ctrl.getRelated('reports', false, simulation.uuid)[0].uuid}}">
                {{$ctrl.getRelated('reports', false, simulation.uuid)[0].value.title}}
              </a>
            </div>
            <div>
              <button class="btn btn-info btn-sm pull-right"
                      ng-click="$ctrl.onCitation($ctrl.browser.publication, simulation)">Citation
              </button>
            </div>
          </div>
          <div ng-if="!$ctrl.getRelated('models', false, simulation.uuid).length"
               class="bg-info" style="padding:10px; margin-bottom:10px; border-bottom:1px solid black;">
                This Simulation has no Models.
          </div>
          <div ng-repeat="model in $ctrl.getRelated('models', false, simulation.uuid) | orderBy: ['_ui.order', 'value.title']"
               style="margin-bottom:10px;">
            <div style="padding:3px;">
              <span ng-class="ds-text-black"class="older-tick">Simulation Model: {{model.value.title}} </span>
            </div>
            <div style="position:absolute; left:-110px; margin-top:-20px; width:110px;">
              <div style="border-bottom:1px solid lightgrey;">
                <a ng-class="ds-text-black" ng-click="$ctrl.viewSimulationRelations(model.uuid)" href="#">
                  {{model.value.title}}
                </a>
              </div>
              <div>
                <div ng-repeat="simInput in $ctrl.getRelated('inputs', false, model.uuid)"
                     style="border-radius:5px; border-left:1px solid black; border-right:1px solid black;
                            padding:0px 0px 3px 3px; margin: 3px 0px 0px 0px; width:90%;">
                  <a class="ds-text-green"
                     href=""
                     ng-click="$ctrl.viewSimulationRelations(simInput.uuid)">
                    {{simInput.value.title}}
                  </a>
                  <div style="display:inline-block"
                       ng-repeat="simOutput in $ctrl.getRelated('outputs', false, [model.uuid, simInput.uuid])">
                    <a class="ds-text-red" href="" ng-click="$ctrl.viewSimulationRelations(simOutput.uuid)">
                      {{simOutput.value.title}}
                    </a>
                    <div style="display:inline-block"
                         ng-repeat="analysis in $ctrl.getRelated('analysiss', false, [simOutput.uuid])">
                      <a class="ds-text-light-blue" href="" ng-click="$ctrl.viewSimulationRelations(analysis.uuid)">
                        {{analysis.value.title}}
                      </a>
                    </div>
                    <div style="display:inline-block"
                         ng-repeat="report in $ctrl.getRelated('reports', false, [model.uuid, simOutput.uuid])">
                      <a class="" href="" ng-click="$ctrl.viewSimulationRelations(report.uuid)">
                        {{report.value.title}}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-left:-5px; padding-left:5px; margin-top:-11px; padding-top:7px; border-left:1px solid #ccc; border-radius:5px 0px 0px 5px; overflow:scroll;">
              <files-listing show-select="true" on-browse="$ctrl.onBrowse(file)" listing="$ctrl.FileListingService.listings[model.uuid]" nested="true">
                <div
                  class="simulation-input"
                  style="background:#fff; border:none;"
                  ng-repeat="simInput in $ctrl.getRelated('inputs', false, [simulation.uuid, model.uuid])"
                >
                  <div class="entity-preview-header" id="details-{{simInput.uuid}}">
                    <button class="btn btn-default btn-sm ds-text-green" style="width:100%">
                        Simulation Input {{simInput.value.title}}
                    </button>
                  </div>
                  <files-listing show-select="true" on-browse="$ctrl.onBrowse(file)" listing="$ctrl.FileListingService.listings[simInput.uuid]" nested="true">
                    <div
                    class="simulation-output"
                    style="background:#fff; border:none; padding:0; margin:0"
                    ng-repeat="simOutput in $ctrl.getRelated('outputs', false, [model.uuid, simInput.uuid])"
                    >
                    <div class="entity-preview-header" id="details-{{simOutput.uuid}}">
                      <button class="btn btn-default btn-sm ds-text-red" style="width:100%">
                        Simulation Output {{simOutput.value.title}}
                      </button>
                    </div>
                    <files-listing show-select="true" on-browse="$ctrl.onBrowse(file)" listing="$ctrl.FileListingService.listings[simOutput.uuid]" nested="true">
                      <div
                          class="sim-data-analysis"
                          style="background:#fff; border:none; padding:0, margin:0"
                          ng-repeat="analysis in $ctrl.getRelated('analysiss', false, [simOutput.uuid])"
                      >
                        <div class="entity-preview-header" id="details-{{analysis.uuid}}">
                          <button class="btn btn-default btn-sm" class="ds-text-light-green" style="width:100%">
                            Integrated Analysis {{analysis.value.title}}
                          </button>
                        </div>
                        <files-listing show-select="true" on-browse="$ctrl.onBrowse(file)" listing="$ctrl.FileListingService.listings[analysis.uuid]"></files-listing>
                      </div>
                      <div
                        class="sim-int-report"
                        style="background:#fff; border:none; padding:0, margin:0"
                        ng-repeat="report in $ctrl.getRelated('reports', false, [simulation.uuid, model.uuid, simOutput.uuid])"
                      >
                        <div class="entity-preview-header" id="details-{{report.uuid}}">
                          <button class="btn btn-default btn-sm" class="ds-text-black" style="width:100%">
                            Integrated Report {{report.value.title}}
                          </button>
                        </div>
                        <files-listing show-select="true" on-browse="$ctrl.onBrowse(file)" listing="$ctrl.FileListingService.listings[report.uuid]"> </files-listing>
                        </div>
                      </files-listing>
                    </div>
                  </files-listing>
                </div>
              </files-listing>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-repeat="analysis in $ctrl.browser.publication.analysiss | orderBy: ['value.title', 'value.simulations.length']">
    <div class="dropdown entity-preview-header" id="details-{{analysis.uuid}}">
      <button class="btn btn-default btn-sm ds-text-light-blue" data-toggle="collapse" data-target="#data-{{analysis.uuid}}"
              style="width:100%">
        <span ng-if="!analysis.value.simulations.length">Analysis {{analysis.value.title}} </span>
        <span ng-if="analysis.value.simulations.length">Simulation Analysis {{analysis.value.title}} </span>
        <i class="fa dropdown-caret"></i>
      </button>
          <div id="data-{{analysis.uuid}}" class="collapse">
            <div style="border:1px solid black; background:white; padding:5px; margin-bottom:15px;">
              <files-listing show-select="true" on-browse="$ctrl.onBrowse(file)" listing="$ctrl.FileListingService.listing[analysis.uuid"></files-listing>
            </div>
          </div>
      <div id="data-{{analysis.uuid}}" class="collapse">
      </div>
    </div>
  </div>


  <div ng-repeat="report in $ctrl.browser.publication.reports | orderBy: ['value.title', 'value.simulations.length']"
       style="#fff;">
    <div class="dropdown entity-preview-header" id="details-{{report.uuid}}">
      <button class="btn btn-default btn-sm" data-toggle="collapse" data-target="#data-{{report.uuid}}"
              style="width:100%" class="ds-text-black">
        <span ng-if="!report.value.simulations.length">Report {{report.value.title}} </span>
        <span ng-if="report.value.simulations.length">Simulation Report {{report.value.title}} </span>
        <i class="fa dropdown-caret"></i>
      </button>
          <div id="data-{{report.uuid}}" class="collapse">
            <div style="border:1px solid black; background:white; padding:5px; margin-bottom:15px;">
              <files-listing show-select="true" on-browse="$ctrl.onBrowse(file)" listing="$ctrl.FileListingService.listings[report.uuid]"></files-listing>
            </div>
          </div>
    </div>
  </div>

</div> <!-- Simulation published view close -->

<div ng-if="$ctrl.project.value.projectType == 'hybrid_simulation' && $ctrl.filePathComps.length <= 1 && !$ctrl.$stateParams.query_string">  <!-- hybrid simulation published view -->

<div ng-repeat="simulation in $ctrl.browser.publication.hybrid_simulations | orderBy: 'value.title'">

    <div class="dropdown entity-preview-header" id="details-{{simulation.uuid}}">
      <button class="btn btn-default btn-sm" data-toggle="collapse" data-target="#data-{{simulation.uuid}}"
              style="width:100%">
        Hybrid Simulation {{simulation.value.title}} <i class="fa dropdown-caret"></i>
      </button>
      <div id="data-{{simulation.uuid}}" class="collapse">

        <div style="border:1px solid black; background:white; margin-bottom:15px;">
          <div style="padding:5px;">
            <h3 style="margin-top:0">{{simulation.value.title}}</h3>
            <p style="font-weight:bold;">Description</p>
            <p>{{simulation.value.description}}</p>
          </div>

          <div style="width:49%; vertical-align:top; display:inline-block;">
            <div>
              <span style="font-weight:bold; display:inline-block; width:150px;"> Date of Publication: </span> {{browser.publication.created| date: 'MMM/d/yyyy'}}
            </div>
            <div>
              <span style="font-weight:bold; display:inline-block; width:150px;"> DOI: </span> {{simulation.doi}}
            </div>
            <div>
              <span style="font-weight:bold; display:inline-block; width:150px;"> Hybrid Simulation Type: </span>
              <span ng-if="simulation.value.simulationType !== 'Other'">{{simulation.value.simulationType}}</span>
              <span ng-if="simulation.value.simulationType === 'Other'">{{simulation.value.simulationTypeOther}}</span>
            </div>
          </div>
          <div style="width:49%; vertical-align:top; display:inline-block;">
            <div>
              <span style="font-weight:bold; display:inline-block; width:150px;"> Authors: </span>
              <span ng-repeat="user in $ctrl.filterUsers(simulation.value.authors,
                               $ctrl.browser.publication.users) | orderBy: ['_ui.order', 'last_name']" > {{user.last_name}}, {{user.first_name}};
              </span>
            </div>
            <div ng-if="$ctrl.getRelated('analysiss', false, simulation.uuid).length">
              <span style="font-weight:bold; display:inline-block; width:150px;"> Simulation Analysis: </span>
              <a ng-href="#data-{{$ctrl.getRelated('analysiss', false, simulation.uuid)[0].uuid}}">
                {{$ctrl.getRelated('analysiss', false, simulation.uuid)[0].value.title}}
              </a>
            </div>
            <div ng-if="$ctrl.getRelated('reports', false, simulation.uuid).length">
              <span style="font-weight:bold; display:inline-block; width:150px;"> Simulation Report: </span>
              <a ng-href="#data-{{$ctrl.getRelated('reports', false, simulation.uuid)[0].uuid}}">
                {{$ctrl.getRelated('reports', false, simulation.uuid)[0].value.title}}
              </a>
            </div>
            <div>
              <button class="btn btn-info btn-sm pull-right"
                      ng-click="$ctrl.onCitation($ctrl.browser.publication, simulation)">Citation
              </button>
            </div>

          </div>
          <div ng-if="!$ctrl.browser.publication.global_models.length"
               class="bg-info" style="padding:10px; margin-bottom:10px; border-bottom:1px solid black;">
                This Hybrid Simulation has no Global Models.
          </div>
          <div ng-repeat="model in $ctrl.browser.publication.global_models | orderBy: ['_ui.order', 'value.title']"
               ng-if="model.associationIds.includes(simulation.uuid)"
               style="margin-bottom:10px;">
            <div style="padding:3px;">
              <span class="ds-text-blue older-tick">Global Model: {{model.value.title}} </span>
            </div>
            <div style="position:absolute; left:-110px; margin-top:-20px; width:110px;">
              <div style="border-bottom:1px solid lightgrey;">
                <a class="ds-text-blue" ng-click="$ctrl.viewHybridSimulationRelations(model.uuid)" href="#">
                  {{model.value.title}}
                </a>
              </div>
              <div>
                <div ng-repeat="coordinator in $ctrl.getRelated('coordinators', false, [model.uuid])">
                    <div style="border-radius:5px; border-left:1px solid black; border-right:1px solid black;
                    padding:0px 0px 3px 3px; margin: 3px 0px 0px 0px; width:90%;">
                  <a class="ds-text-green"
                     href=""
                     ng-click="$ctrl.viewHybridSimulationRelations(coordinator.uuid)">
                    {{coordinator.value.title}}
                  </a>
                  <div style="display:inline-block" ng-repeat="output in $ctrl.getRelated('coordinator_outputs', false,
                                                               [simulation.uuid, model.uuid, coordinator.uuid])">
                    <a class="ds-text-yellow" href="" ng-click="$ctrl.viewHybridSimulationRelations(output.uuid)">
                      {{output.value.title}}
                    </a>
                  </div>
                    </div>
                  <div ng-repeat="substructure in $ctrl.getRelated('sim_substructures', false,
                                  [simulation.uuid, model.uuid, coordinator.uuid])"
                       style="margin-top:10px;">
                    <div style="border-radius:5px; border-left:1px solid black; border-right:1px solid black;
                    padding:0px 0px 3px 3px; margin: 3px 0px 0px 0px; width:90%;">
                      <a class="ds-text-orange"
                         href=""
                         ng-click="$ctrl.viewHybridSimulationRelations(substructure.uuid)">
                          {{substructure.value.title}}
                      </a>
                      <div style="display:inline-block" ng-repeat="output in $ctrl.getRelated('sim_outputs', false,
                                                                   [simulation.uuid, model.uuid, substructure.uuid])">
                        <a class="ds-text-yellow" href="" ng-click="$ctrl.viewHybridSimulationRelations(output.uuid)">
                        {{output.value.title}}
                        </a>
                      </div>
                    </div>
                  </div>
                  <div ng-repeat="substructure in $ctrl.getRelated('exp_substructures', false,
                                  [simulation.uuid, model.uuid, coordinator.uuid])"
                       style="margin-top:10px;">
                    <div style="border-radius:5px; border-left:1px solid black; border-right:1px solid black;
                    padding:0px 0px 3px 3px; margin: 3px 0px 0px 0px; width:90%;">
                      <a class="ds-text-purple"
                         href=""
                         ng-click="$ctrl.viewHybridSimulationRelations(substructure.uuid)">
                          {{substructure.value.title}}
                      </a>
                      <div style="display:inline-block" ng-repeat="output in $ctrl.getRelated('exp_outputs', false,
                                                                   [simulation.uuid, model.uuid, substructure.uuid])">
                        <a class="ds-text-yellow" href="" ng-click="$ctrl.viewHybridSimulationRelations(output.uuid)">
                        {{output.value.title}}
                        </a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <files-listing show-select="true" on-browse="$ctrl.onBrowse(file)" listing="$ctrl.FileListingService.listings[model.uuid]" nested="true">
              <!--coordinator loop start-->
              <div
                  class="simulation-coordinator"
                  ng-repeat="coordinator in $ctrl.getRelated('coordinators', false, [simulation.uuid, model.uuid]) | orderBy: 'value.title'"
              >
                  <div class="entity-preview-header" id="details-{{coordinator.uuid}}">
                      <button class="btn btn-default btn-sm ds-text-green" style="width:100%">
                          Master Simulation Coordinator {{coordinator.value.title}}
                      </button>
                    </div>
                  <files-listing show-select="true" on-browse="$ctrl.onBrowse(file)" listing="$ctrl.FileListingService.listings[model.uuid]" nested="true">

                      <!--coordinator output loop start-->
                      <div
                          style="background:#fff; border:none;"
                          ng-repeat="output in $ctrl.getRelated('coordinator_outputs', false, [simulation.uuid, model.uuid, coordinator.uuid]) | orderBy: 'value.title'"
                      >
                          <div class="entity-preview-header" id="details-{{output.uuid}}">
                              <button class="btn btn-default btn-sm ds-text-yellow" style="width:100%">
                                  Coordinator Output {{output.value.title}}
                              </button>
                          </div>
                          <files-listing show-select="true" on-browse="$ctrl.onBrowse(file)" listing="$ctrl.FileListingService.listings[output.uuid]"></files-listing>
                      </div>
                      <!--coordinator output loop end-->

                      <!--sim_substructures loop start-->
                      <div
                          class="simulation-simsubstructure"
                          style="background:#fff; border:none;"
                          ng-repeat="substructure in $ctrl.getRelated('sim_substructures', false, [simulation.uuid, model.uuid, coordinator.uuid]) | orderBy: 'value.title'"
                      >

                          <div class="entity-preview-header" id="details-{{substructure.uuid}}">
                              <button class="btn btn-default btn-sm ds-text-orange" style="width:100%">
                                  Numerical (Simulation) Substructure {{substructure.value.title}}
                              </button>
                          </div>
                          <files-listing show-select="true" on-browse="$ctrl.onBrowse(file)"
                              listing="$ctrl.FileListingService.listings[substructure.uuid]"
                              nested="true"
                          ></files-listing>

                          <!--sim_outputs loop start -->
                          <div
                              ng-repeat="output in $ctrl.getRelated('sim_outputs', false, [simulation.uuid, model.uuid, substructure.uuid]) | orderBy: 'value.title'"
                          >

                              <div class="entity-preview-header" id="details-{{output.uuid}}">
                                  <button class="btn btn-default btn-sm ds-text-yellow" style="width:100%">
                                      Simulation Output {{output.value.title}}
                                  </button>
                              </div>
                              <files-listing show-select="true" on-browse="$ctrl.onBrowse(file)"
                                  listing="$ctrl.FileListingService.listings[output.uuid]"
                                  nested="true"
                              ></files-listing>

                          </div>
                          <!--sim_outputs loop end-->
                      </div>
                      <!--sim_substructures loop end-->
                  </files-listing>

                  <!--exp_substructures loop start--><div
                      class="simulation-simsubstructure"
                      style="background:#fff; border:none;"
                      ng-repeat="substructure in $ctrl.getRelated('exp_substructures', false, [simulation.uuid, model.uuid, coordinator.uuid]) | orderBy: 'value.title'"
                  >
                      <div class="entity-preview-header" id="details-{{substructure.uuid}}">
                          <button class="btn btn-default btn-sm ds-text-purple" style="width:100%">
                              Physical (Experimental) Substructure {{substructure.value.title}}
                          </button>
                      </div>
                      <files-listing show-select="true" on-browse="$ctrl.onBrowse(file)" listing="$ctrl.FileListingService.listings[substructure.uuid]" nested="true">
                          <!--exp_outputs loop start--> <div
                              ng-repeat="output in $ctrl.getRelated('exp_outputs', false, [simulation.uuid, model.uuid, substructure.uuid]) | orderBy: 'value.title'"
                          >
                              <div class="entity-preview-header" id="details-{{output.uuid}}">
                                  <button class="btn btn-default btn-sm ds-text-yellow" style="width:100%">
                                      Event Output {{output.value.title}}
                                  </button>
                              </div>
                              <files-listing show-select="true" on-browse="$ctrl.onBrowse(file)" listing="$ctrl.FileListingService.listings[output.uuid]"> </files-listing>
                          </div> <!--exp_outputs loop end-->
                      </files-listing>
                  </div> <!-- exp_substructures loop end-->
              </div>
              <!-- coordinator loop end-->
          </files-listing>
          <!--hyb sim listing table end-->

            </div>
          </div>

        </div>

      </div>
    </div>


  <div ng-repeat="analysis in $ctrl.browser.publication.analysiss | orderBy: ['value.title', 'value.simulations.length']"
       style="#fff;">
    <div class="dropdown entity-preview-header" id="details-{{analysis.uuid}}">
      <button class="btn btn-default btn-sm ds-text-blue" data-toggle="collapse" data-target="#data-{{analysis.uuid}}"
              style="width:100%">
        <span ng-if="!analysis.value.simulations.length">Analysis {{analysis.value.title}} </span>
        <span ng-if="analysis.value.simulations.length">Simulation Analysis {{analysis.value.title}} </span>
        <i class="fa dropdown-caret"></i>
      </button>
          <div id="data-{{analysis.uuid}}" class="collapse">
            <div style="border:1px solid black; background:white; padding:5px; margin-bottom:15px;">
              <files-listing show-select="true" on-browse="$ctrl.onBrowse(file)" listing="$ctrl.FileListingService.listings[analysis.uuid]"></files-listing>
            </div>
          </div>
      <div id="data-{{analysis.uuid}}" class="collapse">
      </div>
    </div>
  </div>

  <div ng-repeat="report in $ctrl.browser.publication.reports | orderBy: ['value.title', 'value.simulations.length']"
       style="#fff;">
    <div class="dropdown entity-preview-header" id="details-{{report.uuid}}">
      <button class="btn btn-default btn-sm ds-text-black" data-toggle="collapse" data-target="#data-{{report.uuid}}"
              style="width:100%">
        <span ng-if="!report.value.simulations.length">Report1 {{report.value.title}} </span>
        <span ng-if="report.value.simulations.length">Simulation Report {{report.value.title}} </span>
        <i class="fa dropdown-caret"></i>
      </button>
          <div id="data-{{report.uuid}}" class="collapse">
            <div style="border:1px solid black; background:white; padding:5px; margin-bottom:15px;">
              <files-listing show-select="true" on-browse="$ctrl.onBrowse(file)" listing="$ctrl.FileListingService.listings[report.uuid]"></files-listing>
            </div>
          </div>
    </div>

</div>

</div> <!-- Hybrid Simulation publish view close-->

</div><!-- Cosing published View -->
