<div class="modal-header" id="modal-header" style="background: #e6e6e6;">
    <h4 class="modal-title" style="border:none;">
        <span>Add Simulations</span>
        <span class="pull-right" ng-click="$ctrl.close()">
            <i role="none" class="fa fa-times">&nbsp;</i>
        </span>
    </h4>
</div>
<div class="modal-body">
    <div class="well">
        <form name="addForm">
            <!-- Title -->
            <div class="form-group">
                <label for="id-title">
                    <div style="display: flex; flex-direction: column">
                        <div>
                            <span class="pull-left" style="margin-right: 5px">Simulation Title</span>
                            <span class="label label-danger">Required</span>
                        </div>
                        <span style="display: block; font-weight:normal;">
                            This is the title of a stand alone publication that will be shown in the citation with a DOI.
                            Make sure to build a unique title, different from project one.
                            Use keyword terms and focus on dataset that is being published.
                        </span>
                    </div>
                </label>
                <input type="text"
                       id="id-title"
                       ng-model="$ctrl.form.title"
                       ng-required="true"
                       class="form-control"/>
            </div>
            <!-- Simulation Type -->
            <div class="form-group">
                <label for="id-sim-type">
                    <div style="display: flex; flex-direction: column">
                        <div>
                            <span class="pull-left" style="margin-right: 5px">Simulation Type</span>
                            <span class="label label-danger">Required</span>
                        </div>
                    </div>
                </label>
                <div>
                    <select class="form-control"
                            id="id-sim-type"
                            ng-options="type.name as type.label for type in $ctrl.ui.simulationTypes"
                            ng-model="$ctrl.form.simulationType"
                            required>
                            <option value="" disabled selected>
                                -- Select Simulation Type --
                            </option>
                    </select>
                    <input  class="form-control"
                            id="id-sim-type-other"
                            type="text"
                            placeholder="Custom Simulation Type"
                            ng-model="$ctrl.form.simulationTypeOther"
                            ng-if="$ctrl.form.simulationType == 'Other'"
                            required/>
                </div>
            </div>
            <!-- Referenced Data -->
            <div class="form-group">
                <table class="manage-prj-table">
                    <colgroup>
                        <col style="width: 60%">
                        <col style="width: 38%">
                        <col style="width: 2%">
                    </colgroup>
                    <tr>
                        <label for="id-project-referenced-data">
                            <div class="label-form">
                                <div>
                                    <span class="label-form-name">Referenced Data</span>
                                </div>
                                <span class="label-form-desc">
                                    Published data used in the creation of this dataset.
                                </span>
                            </div>
                        </label>
                    </tr>
                    <tr>
                        <td>
                            Title
                        </td>
                        <td>
                            URL or DOI for the referenced data, in URL format
                        </td>
                    </tr>
                    <tr ng-repeat="reference in $ctrl.form.referencedData track by $index">
                        <td class="manage-prj-td align-top">
                            <input  class="project-form-input"
                                    type="text"
                                    id="reference-name{{$index}}"
                                    name="reference-name"
                                    ng-model="reference.title"
                                    ng-disabled="!$ctrl.ui.require.referencedData"
                                    ng-required="$ctrl.ui.require.referencedData"
                                    required>
                        </td>
                        <td class="manage-prj-td align-top">
                            <input  class="project-form-input"
                                    type="text"
                                    id="reference-href{{$index}}"
                                    name="reference-href-type"
                                    placeholder="https://"
                                    ng-model="reference.doi"
                                    ng-disabled="!$ctrl.ui.require.referencedData"
                                    ng-required="$ctrl.ui.require.referencedData">
                            <input type="radio"
                                    id="reference-href-type-doi{{$index}}"
                                    name="reference-href-type{{$index}}"
                                    value="DOI"
                                    ng-model="reference.hrefType"
                                    ng-disabled="!$ctrl.ui.require.referencedData"
                                    ng-required="$ctrl.ui.require.referencedData">
                            <label for="DOI">DOI</label>
                            <input type="radio"
                                    id="reference-href-type-url{{$index}}"
                                    name="reference-href-type{{$index}}"
                                    value="URL"
                                    ng-model="reference.hrefType"
                                    ng-disabled="!$ctrl.ui.require.referencedData"
                                    ng-required="$ctrl.ui.require.referencedData">
                            <label for="URL">URL</label>
                        </td>
                        <td class="manage-prj-td-last">
                            <button class="btn btn-danger btn-xs"
                                    ng-if="$ctrl.ui.require.referencedData"
                                    ng-click="$ctrl.dropObjField('referencedData', $index)">
                                <i role="none" class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                </table>
                <div>
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.addObjField('referencedData')">
                            &#x2b; Add <span ng-if="$ctrl.ui.require.referencedData">another</span> Referenced Data
                    </button>
                    |
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.dropObjField('referencedData')"
                            ng-disabled="!$ctrl.ui.require.referencedData">
                            &#x2212; Remove Referenced Data
                    </button>
                </div>
            </div>
            <!-- Related Work -->
            <div class="form-group">
                <table class="manage-prj-table">
                    <colgroup>
                        <col style="width: 20%">
                        <col style="width: 40%">
                        <col style="width: 38%">
                        <col style="width: 2%">
                    </colgroup>
                    <tr>
                        <label for="id-project-works">
                            <div class="label-form">
                                <div>
                                    <span class="label-form-name">Related Work</span>
                                </div>
                                <span class="label-form-desc">
                                    Information giving context, a linked dataset on DesignSafe, or works citing the DOI for this dataset.
                                </span>
                            </div>
                        </label>
                    </tr>
                    <tr>
                        <td>
                            Type
                        </td>
                        <td>
                            Title
                        </td>
                        <td valign="top">
                            URL or DOI for the related work, in URL format
                        </td>
                    </tr>
                    <tr ng-repeat="work in $ctrl.form.relatedWork track by $index">
                        <td class="manage-prj-td align-top">
                            <select class="project-form-input"
                                    id="work-type{{$index}}"
                                    name="related-work"
                                    ng-options="item for item in $ctrl.ui.relatedWorkTypes"
                                    ng-model="work.type"
                                    ng-disabled="!$ctrl.ui.require.relatedWork"
                                    ng-required="$ctrl.ui.require.relatedWork">
                                    <option value="">-- Type --</option>
                            </select>
                        </td>
                        <td class="manage-prj-td align-top">
                            <input  class="project-form-input"
                                    type="text"
                                    id="work-title{{$index}}"
                                    name="related-work"
                                    ng-model="work.title"
                                    ng-disabled="!$ctrl.ui.require.relatedWork"
                                    ng-required="$ctrl.ui.require.relatedWork">
                        </td>
                        <td class="manage-prj-td align-top">
                            <input  class="project-form-input"
                                    type="text"
                                    id="work-href{{$index}}"
                                    name="related-work"
                                    placeholder="https://"
                                    ng-model="work.href"
                                    ng-disabled="!$ctrl.ui.require.relatedWork"
                                    ng-required="$ctrl.ui.require.relatedWork">
                            <input type="radio"
                                    id="work-href-type-doi{{$index}}"
                                    name="related-work{{$index}}"
                                    value="DOI"
                                    ng-model="work.hrefType"
                                    ng-disabled="!$ctrl.ui.require.relatedWork"
                                    ng-required="$ctrl.ui.require.relatedWork">
                            <label for="DOI">DOI</label>
                            <input type="radio"
                                    id="work-href-type-url{{$index}}"
                                    name="related-work{{$index}}"
                                    value="URL"
                                    ng-model="work.hrefType"
                                    ng-disabled="!$ctrl.ui.require.relatedWork"
                                    ng-required="$ctrl.ui.require.relatedWork">
                            <label for="URL">URL</label>
                        </td>
                        <td class="manage-prj-td-last">
                            <button class="btn btn-danger btn-xs"
                                    ng-if="$ctrl.ui.require.relatedWork"
                                    ng-click="$ctrl.dropObjField('relatedWork', $index)">
                                <i role="none" class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                </table>
                <div>
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.addObjField('relatedWork')">
                            &#x2b; Add <span ng-if="$ctrl.ui.require.relatedWork">another</span> Related Work
                    </button>
                    |
                    <button class="btn-project-add-rm"
                            ng-click="$ctrl.dropObjField('relatedWork')"
                            ng-disabled="!$ctrl.ui.require.relatedWork">
                            &#x2212; Remove Related Work
                    </button>
                </div>
            </div>
            <!-- Description -->
            <div class="form-group">
                <label for="id-description">
                    <div style="display: flex; flex-direction: column">
                        <div>
                            <span class="pull-left" style="margin-right: 5px">Simulation Description</span>
                            <span class="label label-danger">Required</span>
                        </div>
                        <span style="display: block; font-weight:normal;">
                            What was under investigation? How was it tested? What was the outcome?
                            How can the data be reused?
                            Description must be between 50 and 5000 characters in length.
                        </span>
                    </div>
                </label>
                <textarea class="form-textbox"
                          id="id-description"
                          ng-model="$ctrl.form.description"
                          ng-required="true"
                          ng-minlength="50"
                          ng-maxlength="5000">
                    &nbsp;
                </textarea>
                <span ng-if="addForm.$error.minlength[0].$invalid || addForm.$error.maxlength[0].$invalid" class="label-form-desc-error">
                    Description length is invalid 
                </span>
            </div>
            <!-- Authors -->
            <div class="form-group">
                <label for="id-authorship">
                        <div style="display: flex; flex-direction: column">
                            <div>
                                <span class="pull-left" style="margin-right: 5px">Assign Authorship</span>
                                <span class="label label-danger">Required</span>
                            </div>
                            <span style="display: block; font-weight:normal;">
                                You can order the authors during the publication process.
                            </span>
                        </div>
                    </label>
                <div class="form-group">
                    <div ng-repeat="usr in $ctrl.form.authors track by $index"
                        style="width:46%; display:inline-block; white-space: nowrap;">
                        <input type="checkbox"
                                format="lname"
                                ng-checked="usr.authorship"
                                id="{{ 'newAuthor' + $index }}"
                                ng-model="usr.authorship"
                                ng-required="$ctrl.validAuthors()">
                        <ds-user ng-if="!usr.guest" username="usr.name" format="lname">{{ usr.name }}</ds-user>
                        <span ng-if="usr.guest">{{ usr.lname }}, {{ usr.fname }}</span><br>
                    </div>
                </div>
            </div>
            <!-- Notifications -->
            <div class="alert alert-danger flex-container" ng-if="$ctrl.ui.error">
                <i role="none" class="fa fa-exclamation notification-icon"></i>
                <div>
                    An error has occurred when attempting to save.
                </div>
            </div>
            <!-- Submit Btns -->
            <div class="text-right">
                <button class="btn btn-default"
                        ng-if="$ctrl.ui.editing"
                        ng-click="$ctrl.resetForm()">
                    Cancel
                </button>
                <button class="btn btn-add"
                        type="submit"
                        ng-if="$ctrl.ui.editing"
                        ng-click="addForm.$valid && $ctrl.updateSimulation($event)"
                >
                    Update
                </button>
            </div>
            <div class="text-right">
                <button class="btn btn-add"
                        ng-click="addForm.$valid && $ctrl.createSimulation($event)"
                        ng-if="!$ctrl.ui.editing"
                        type="submit"
                >
                    <i role="none" class="fa fa-plus">&nbsp;</i>
                    Add Simulation
                </button>
            </div>
        </form>
    </div>
    <div>
        <div>
            <label>Simulation Inventory</label>
        </div>
        <div class="dropdown">
            <div ng-repeat="simulation in $ctrl.simulations">
                <div class="dropdown dropdown-spacer-sm">
                    <button class="btn collapsed tab-gray" data-toggle="collapse"
                            data-target="#files-{{simulation.uuid}}" style="width: 100%;">
                        <div class="collapse-tab">
                            <span class="collapse-tab-content-left">Simulation | <strong>{{simulation.value.title}}</strong></span>
                            <span class="collapse-tab-content-right curation-chevron"></span>
                        </div>
                    </button>
                    <div id="files-{{simulation.uuid}}" class="collapse dropdown-spacer-lg">
                        <div class="well">
                            <div class="entity-meta-field">
                                <div class="entity-meta-label">Simulation Type</div>
                                <span ng-if="!$ctrl.isValid(simulation.value.simulationTypeOther)"
                                      class="entity-meta-data">
                                      {{ simulation.value.simulationType }}
                                </span>
                                <span ng-if="$ctrl.isValid(simulation.value.simulationTypeOther)"
                                      class="entity-meta-data">
                                      {{ simulation.value.simulationTypeOther }}
                                </span>
                            </div>
                            <div class="entity-meta-field">
                                <div class="entity-meta-label-multi">Author(s)</div>
                                <div class="entity-meta-data">
                                    <div ng-repeat="author in simulation.value.authors | orderBy: 'order'"
                                         ng-if="!author.length && author.authorship">
                                        <span ng-if="!author.guest">
                                            <ds-user data-username="author.name" data-format="lname">
                                                {{author}}
                                            </ds-user>
                                        </span>
                                        <span ng-if="author.guest">
                                            {{author.lname}}, {{author.fname}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="entity-meta-field" ng-if="simulation.value.relatedWork.length">
                                <div class="entity-meta-label-multi">Related Work</div>
                                <div class="entity-meta-data">
                                    <div ng-repeat="work in simulation.value.relatedWork track by $index">
                                        <related-work></related-work>
                                    </div>
                                </div>
                            </div>
                            <div class="entity-meta-field" ng-if="simulation.value.referencedData.length">
                                <div class="entity-meta-label-multi">Referenced Data</div>
                                <div class="entity-meta-data">
                                    <div ng-repeat="reference in simulation.value.referencedData track by $index">
                                        <referenced-data></referenced-data>
                                    </div>
                                </div>
                            </div>
                            <div class="entity-meta-field" ng-if="simulation.value.dois[0]">
                                <div class="entity-meta-label">DOI</div>
                                <span class="entity-meta-data-cap">
                                    {{ simulation.value.dois[0] }}
                                </span>
                            </div>
                            <div style="margin-top:10px;">
                                {{ simulation.value.description}}
                            </div>
                            <div style="margin-top: 10px;">
                                <button type="button"
                                        class="btn btn-link"
                                        ng-click="$ctrl.editSimulation(simulation)">
                                    Edit
                                </button>
                                <span> | </span>
                                <button type="button"
                                        class="btn btn-link"
                                        ng-click="$ctrl.deleteSimulation(simulation)">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
