# This compose file is useful for testing https
---
version: "3"
services:
  redis:
    image: redis:7
    volumes:
      - redis_data_v3:/data
    ports:
      - 127.0.0.1:6379:6379
    container_name: des_redis
    hostname: des_redis

  rabbitmq:
    image: rabbitmq:3.6.10-management
    volumes:
      - rabbitmq_data_v3:/var/lib/rabbitmq/mnesia/rabbit@des_rabbitmq
    env_file: ../env_files/rabbitmq.env
    ports:
      - 127.0.0.1:5672:5672
    container_name: des_rabbitmq
    hostname: des_rabbitmq

  memcached:
    image: memcached:latest
    container_name: des_memcached
    hostname: des_memcached

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.4.0
    ulimits:
      memlock: -1
    environment:
      - ES_HEAP_SIZE:2g
    volumes:
      - ../elasticsearch/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      - ../elasticsearch/log4j2.properties:/usr/share/elasticsearch/config/log4j2.properties
      - es_data:/usr/share/elasticsearch/data
    ports:
      - 127.0.0.1:9200:9200
    container_name: des_elasticsearch
    hostname: des_elasticsearch

  postgres:
    image: postgres:14.9
    environment:
      - POSTGRES_PASSWORD=taccforever
      - POSTGRES_USER=ds_user
      - POSTGRES_DB=ds_database
      - PGDATA=/var/lib/postgresql/data/ds_database
    volumes:
      - des_postgres_data_v3:/var/lib/postgresql/data
    hostname: des_postgres
    ports:
      -   127.0.0.1:5432:5432
    container_name: des_postgres

  nginx:
    image: nginx
    volumes:
      - ../nginx/nginx.debug.conf:/etc/nginx/nginx.conf
      - ../nginx/gzip.conf:/etc/nginx/gzip.conf
      - ../nginx/certificates/designsafe.dev.crt:/etc/ssl/designsafe.dev.crt
      - ../nginx/certificates/designsafe.dev.key:/etc/ssl/designsafe.dev.key
      - ../nginx/dhparam.pem:/etc/ssl/dhparam.pem
      - ~/corral-repl/tacc/NHERI:/corral-repl/tacc/NHERI
      - ../../.:/srv/www/designsafe
      - ../../data/media:/srv/www/designsafe/media
    links:
      - django:django
    ports:
      - 127.0.0.1:80:80
      - 127.0.0.1:443:443
    container_name: des_nginx
    hostname: des_nginx

  django:
    image: designsafeci/portal:tapis-v3
    env_file: ../env_files/designsafe.env
    links:
      - memcached:memcached
      - rabbitmq:rabbitmq
      - redis:redis
      - elasticsearch:elasticsearch
    volumes:
      - ../../.:/srv/www/designsafe
      - ../../data/media:/srv/www/designsafe/media
      - ~/corral-repl/tacc/NHERI:/corral-repl/tacc/NHERI
    ports:
      - 127.0.0.1:5678:5678
    dns:
      - 8.8.8.8
      - 8.8.4.4
    command: python manage.py runserver --noasgi 0.0.0.0:8000
    container_name: des_django
    hostname: des_django

  websockets:
    image: designsafeci/portal:tapis-v3
    env_file: ../env_files/designsafe.env
    volumes:
      - ../../.:/srv/www/designsafe
      - ../../data/media:/srv/www/designsafe/media
      - ~/corral-repl/tacc/NHERI:/corral-repl/tacc/NHERI
    container_name: des_websockets
    command: python manage.py runserver 0.0.0.0:9000

  workers:
    image: designsafeci/portal:tapis-v3
    env_file: ../env_files/designsafe.env
    links:
      - memcached:memcached
      - rabbitmq:rabbitmq
      - redis:redis
      - elasticsearch:elasticsearch
    volumes:
      - ../../.:/srv/www/designsafe
      - ../../data/media:/srv/www/designsafe/media
      - ~/corral-repl/tacc/NHERI:/corral-repl/tacc/NHERI
    dns:
      - 8.8.8.8
      - 8.8.4.4
    command: /srv/www/designsafe/bin/run-celery-debug.sh
    container_name: des_workers
    hostname: des_workers

volumes:
  redis_data_v3:
  des_postgres_data_v3:
  es_data:
  rabbitmq_data_v3:
