<div class="modal-header">
    <h3 class="modal-title">Enter a name for the new folder</h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="id-new-folder-name">Folder name</label>
            <input type="text" class="form-control" id="id-new-folder-name" name="new-folder-name" placeholder="Folder name" ng-model="$ctrl.folderName" autofocus select-on-focus>
        </div>
        <div class="text-right">
            <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="$ctrl.mkdir($event)">Create Folder</button>
        </div>
    </form>
</div>
