<div class="modal-header">
    <h3 class="modal-title">Data Transfer Help</h3>
</div>
<div class="modal-body">
    <p>
        The files you are attempting to download are larger than that recommended for this approach. Direct downloads
        are supported for up to 2 gigabytes of data at a time. Alternative approaches for transferring large amounts of
        data are provided in the Large Data Transfer Methods section of the Data Transfer Guide (<a
            href="/rw/user-guides/data-transfer-guide/"
            >https://www.designsafe-ci.org/rw/user-guides/data-transfer-guide/</a
        >).
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.dismiss()">Close</button>
</div>
