<div class="loading" ng-if="$ctrl._ui.busy">
    <i class="fa fa-spinner fa-spin">&nbsp;</i> Loading...
</div>
<form ng-if="$ctrl.selectMultiple() && $ctrl.project.value.projectType !== 'other'" ng-disabled="$ctrl._ui.busy">
    <select name="project-category"
            data-ng-model="$ctrl.selectedUuid"
            class="form-control">
        <option value="" ng-if="$ctrl.project.value.projectType !== 'field_recon'">-- Select a Category --</option>
        <option value="" ng-if="$ctrl.project.value.projectType === 'field_recon'">-- Select a Collection --</option>
        <optgroup label="Model Configuration"
                  data-ng-if="$ctrl.project.modelconfig_set.length">
            <option data-ng-repeat="modelConfig in $ctrl.project.modelconfig_set | orderBy: ['value.title']"
                    value="{{modelConfig.uuid}}">
            {{modelConfig.value.title}}
            </option>
        </optgroup>
        <optgroup label="Sensor Info"
                  data-ng-if="$ctrl.project.sensorlist_set.length">
            <option data-ng-repeat="sensorInfo in $ctrl.project.sensorlist_set | orderBy: ['value.title']"
                    value="{{sensorInfo.uuid}}">
                {{sensorInfo.value.title}}
            </option>
        </optgroup>
        <optgroup label="Event"
                  data-ng-if="$ctrl.project.event_set.length">
            <option data-ng-repeat="event in $ctrl.project.event_set | orderBy: ['value.title']"
                    value="{{event.uuid}}">
                {{event.value.title}}
            </option>
        </optgroup>
        <optgroup label="Simulation Model"
                  data-ng-if="$ctrl.project.model_set.length">
            <option data-ng-repeat="model in $ctrl.project.model_set | orderBy: ['value.title']"
                    value="{{model.uuid}}">
                {{model.value.title}}
            </option>
        </optgroup>
        <optgroup label="Simulation Input"
                  data-ng-if="$ctrl.project.input_set.length">
            <option data-ng-repeat="input in $ctrl.project.input_set | orderBy: ['value.title']"
                    value="{{input.uuid}}">
                {{input.value.title}}
            </option>
        </optgroup>
        <optgroup label="Simulation Output"
                  data-ng-if="$ctrl.project.output_set.length">
            <option data-ng-repeat="output in $ctrl.project.output_set | orderBy: ['value.title']"
                    value="{{output.uuid}}">
                {{output.value.title}}
            </option>
        </optgroup>
        <optgroup label="Global Model"
                  data-ng-if="$ctrl.project.globalmodel_set.length">
            <option data-ng-repeat="globalModel in $ctrl.project.globalmodel_set | orderBy: ['value.title']"
                    value="{{globalModel.uuid}}">
                {{globalModel.value.title}}
            </option>
        </optgroup>
        <optgroup label="Coordinator"
                  data-ng-if="$ctrl.project.coordinator_set.length">
            <option data-ng-repeat="coordinator in $ctrl.project.coordinator_set | orderBy: ['value.title']"
                    value="{{coordinator.uuid}}">
                {{coordinator.value.title}}
            </option>
        </optgroup>
        <optgroup label="Simulation Substructure"
                  data-ng-if="$ctrl.project.simsubstructure_set.length">
            <option data-ng-repeat="simSubstructure in $ctrl.project.simsubstructure_set | orderBy: ['value.title']"
                    value="{{simSubstructure.uuid}}">
                {{simSubstructure.value.title}}
            </option>
        </optgroup>
        <optgroup label="Experimental Substructure"
                  data-ng-if="$ctrl.project.expsubstructure_set.length">
            <option data-ng-repeat="expSubstructure in $ctrl.project.expsubstructure_set | orderBy: ['value.title']"
                    value="{{expSubstructure.uuid}}">
                {{expSubstructure.value.title}}
            </option>
        </optgroup>
        <optgroup label="Coordinator Output"
                  data-ng-if="$ctrl.project.coordinatoroutput_set.length">
            <option data-ng-repeat="coordinatorOutput in $ctrl.project.coordinatoroutput_set | orderBy: ['value.title']"
                    value="{{coordinatorOutput.uuid}}">
                {{coordinatorOutput.value.title}}
            </option>
        </optgroup>
        <optgroup label="Experiment Output"
                  data-ng-if="$ctrl.project.expoutput_set.length">
            <option data-ng-repeat="experimentOutput in $ctrl.project.expoutput_set | orderBy: ['value.title']"
                    value="{{experimentOutput.uuid}}">
                {{experimentOutput.value.title}}
            </option>
        </optgroup>
        <optgroup label="Simulation Output"
                  data-ng-if="$ctrl.project.simoutput_set.length">
            <option data-ng-repeat="simOutput in $ctrl.project.simoutput_set | orderBy: ['value.title']"
                    value="{{simOutput.uuid}}">
                {{simOutput.value.title}}
            </option>
        </optgroup>
        <optgroup label="Social Sciences Collection"
                  data-ng-if="$ctrl.project.socialscience_set.length">
            <option data-ng-repeat="collection in $ctrl.project.socialscience_set | orderBy: ['value.title']"
                    value="{{collection.uuid}}">
                {{collection.value.title}}
            </option>
        </optgroup>
        <optgroup label="Engineering/Geosciences Collection"
                  data-ng-if="$ctrl.project.geoscience_set.length">
            <option data-ng-repeat="collection in $ctrl.project.geoscience_set | orderBy: ['value.title']"
                    value="{{collection.uuid}}">
                {{collection.value.title}}
            </option>
        </optgroup>
        <optgroup label="Research Planning Collection"
                  data-ng-if="$ctrl.project.planning_set.length">
            <option data-ng-repeat="collection in $ctrl.project.planning_set | orderBy: ['value.title']"
                    value="{{collection.uuid}}">
                {{collection.value.title}}
            </option>
        </optgroup>
        <optgroup label="Analysis"
                  data-ng-if="$ctrl.project.analysis_set.length">
            <option data-ng-repeat="analysis in $ctrl.project.analysis_set | orderBy: ['value.title']"
                    value="{{analysis.uuid}}">
                {{analysis.value.title}}
            </option>
        </optgroup>
        <optgroup label="Report"
                  data-ng-if="$ctrl.project.report_set.length">
            <option data-ng-repeat="report in $ctrl.project.report_set | orderBy: ['value.title']"
                    value="{{report.uuid}}">
                {{report.value.title}}
            </option>
        </optgroup>
    </select>
    <button type="button" class="btn btn-link"
            data-ng-click="$ctrl.saveSelection()"
            data-ng-disabled="!$ctrl.selectedUuid"
    >
        Save
    </button>
</form>
