<select name="project-category"
        data-ng-model="$ctrl.projectCategory"
        multiple="true">
    <option value="">-- Select a Category --</option>
    <optgroup label="Model Configuration">
        <option data-ng-repeat="modelConfg in $ctrl.project.modelconfig_set | orderBy: ['value.title']"
                value="{{modelConfig.uuid}}">
            {{modelConfig.value.title}}
        </option>
    </optgroup>
    <optgroup label="Sensor Info">
        <option data-ng-repeat="sensorInfo in $ctrl.project.sensorlist_set | orderBy: ['value.title']"
                value="{{sensorInfo.uuid}}">
            {{sensorInfo.value.title}}
        </option>
    </optgroup>
    <optgroup label="Event">
        <option data-ng-repeat="event in $ctrl.project.event_set | orderBy: ['value.title']"
                value="{{event.uuid}}">
            {{event.value.title}}
        </option>
    </optgroup>
    <optgroup label="Simulation Model">
        <option data-ng-repeat="event in $ctrl.project.model_set | orderBy: ['value.title']"
                value="{{model.uuid}}">
            {{model.value.title}}
        </option>
    </optgroup>
    <optgroup label="Simulation Input">
        <option data-ng-repeat="input in $ctrl.project.input_set | orderBy: ['value.title']"
                value="{{input.uuid}}">
            {{input.value.title}}
        </option>
    </optgroup>
    <optgroup label="Simulation Output">
        <option data-ng-repeat="output in $ctrl.project.output_set | orderBy: ['value.title']"
                value="{{output.uuid}}">
            {{output.value.title}}
        </option>
    </optgroup>
    <optgroup label="Global Model">
        <option data-ng-repeat="globalModel in $ctrl.project.globalmodel_set | orderBy: ['value.title']"
                value="{{globalModel.uuid}}">
            {{globalModel.value.title}}
        </option>
    </optgroup>
    <optgroup label="Coordinator">
        <option data-ng-repeat="coordinator in $ctrl.project.coordinator_set | orderBy: ['value.title']"
                value="{{coordinator.uuid}}">
            {{coordinator.value.title}}
        </option>
    </optgroup>
    <optgroup label="Simulation Substructure">
        <option data-ng-repeat="simSubstructure in $ctrl.project.simsubstructure_set | orderBy: ['value.title']"
                value="{{simSubstructure.uuid}}">
            {{simSubstructure.value.title}}
        </option>
    </optgroup>
    <optgroup label="Experimental Substructure">
        <option data-ng-repeat="expSubstructure in $ctrl.project.expsubstructure_set | orderBy: ['value.title']"
                value="{{expSubstructure.uuid}}">
            {{expSubstructure.value.title}}
        </option>
    </optgroup>
    <optgroup label="Coordinator Output">
        <option data-ng-repeat="coordinatorOutput in $ctrl.project.coordinatoroutput_set | orderBy: ['value.title']"
                value="{{coordinatorOutput.uuid}}">
            {{coordinatorOutput.value.title}}
        </option>
    </optgroup>
    <optgroup label="Experiment Output">
        <option data-ng-repeat="coordinatorOutput in $ctrl.project.coordinatoroutput_set | orderBy: ['value.title']"
                value="{{coordinatorOutput.uuid}}">
            {{coordinatorOutput.value.title}}
        </option>
    </optgroup>
    <optgroup label="Simulation Output">
        <option data-ng-repeat="simOutput in $ctrl.project.simoutput_set | orderBy: ['value.title']"
                value="{{simOutput.uuid}}">
            {{simOutput.value.title}}
        </option>
    </optgroup>
    <optgroup label="Analysis">
        <option data-ng-repeat="analysis in $ctrl.project.analysis_set | orderBy: ['value.title']"
                value="{{analysis.uuid}}">
            {{analysis.value.title}}
        </option>
    </optgroup>
    <optgroup label="Report">
        <option data-ng-repeat="report in $ctrl.project.report_set | orderBy: ['value.title']"
                value="{{report.uuid}}">
            {{report.value.title}}
        </option>
    </optgroup>
</select>
