.workspace-panel-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    align-content: flex-start;
    flex: 0;
}

.workspace-panel {
    position: relative;
    border: 1px solid #ddd;
    background-color: #eee;
    padding: 9px;
    margin-bottom: 30px;
}

.workspace-panel-main {
    flex: 1;
}

.workspace-panel-sidebar {
    flex: 0 0 auto;
    max-width: 310px;
}

.workspace-panel-toggle {
    width: 1.5em;
    position: absolute;
    top: 0;
}

.workspace-panel-sidebar-left .workspace-panel-toggle {
    right: 0;
}

.workspace-panel-sidebar-right .workspace-panel-toggle {
    left: 0;
}

.workspace-panel-collapsed {
    background-color: #999;
    border-color: #777;
    color: white;
}

.workspace-panel-collapsed .workspace-panel-toggle {
    width: 100%;
}

.workspace-panel-collapsed .workspace-panel-content {
    display: none;
}

.workspace-panel-title {
    display: none;
    position: absolute;
    top: 2em;
    transform: rotate(90deg);
    transform-origin: 0;
    white-space: nowrap;
}

.workspace-panel-collapsed .workspace-panel-title {
    display: block;
}

.apps-tray {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-right: 0.5em;
  box-shadow: 1px 1px 2px rgba(192,192,192,0.1);
  white-space: nowrap;
  overflow: visible;
}

.app {
  padding: 5px;
}

.app-version {
  font-size: 0.7em;
}

.app-active {
  background-color: #337AB7;
  color: #fff;
}

.app-form-wrapper {
  border: 1px solid #eee;
  padding: 0.5em;
  background-color: #fff;
}

.jobs-list-wrapper {
  overflow-y: auto;
}

.jobs-list-wrapper li h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.agave-file-picker.wants {
    background-color: #fcf8e3;
}
