.row-flex, .row-flex > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex:1 1 auto;
}

.row-flex-wrap {
  -webkit-flex-flow: row wrap;
  align-content: flex-start;
  flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
   margin:-.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
  width:100%;
}

.flex-col {
  display: flex;
  display: -webkit-flex;
  flex: 1 100%;
  flex-flow: column nowrap;
}

.flex-grow {
  display: flex;
  -webkit-flex: 2;
  flex: 2;
}

.workspace-panel {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 9px;
  margin-bottom: 30px;
}

.apps-tray {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 0.5em;
  margin-right: 0.5em;
  box-shadow: 1px 1px 2px rgba(192,192,192,0.1);
}

.app-active {
  background-color: #337AB7;
  color: #fff;
}

.app-form-wrapper {
  border: 1px solid #eee;
  padding: 0.5em;
  background-color: #fff;
}

.jobs-list-wrapper {
  max-height: 600px;
  overflow-y: auto;
}

.jobs-list-wrapper li h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}