@import url("./app-card.css");
@import url("./app-version-list.css");



/* SETTINGS */
/* TODO: Consider making this a global setting */
:root {
    --accent: #47a59d;
}



/* ELEMENTS */
/* FAQ: Each selector is prefixed with an extra-specific selector,
        because on DesignSafe website <head> is beneath <body>(?!) */
.o-site h1 {
    color: var(--accent, #47a59d);
}
.o-site h2 {
    font-size: 2.0rem;
    text-transform: none;

    margin-bottom: 30px;
}
.o-site h2:not(.s-version-list *) {
    color: var(--accent, #47a59d);

    margin-top: 40px;
    padding-bottom: 16px;
    border-bottom: 2px solid var(--accent, #47a59d);
}
.o-site h3:not(.s-version-list *):not(.c-app-card__title) {
    margin-top: 40px; /* double Bootstrap h3 margin-top */
}
