@import url("./app-card.css");
@import url("./app-version-list.css");

.s-app-page h1 {
    color: var(--ds-accent-color, #47a59d);
}
.s-app-page h2 {
    font-size: 2.0rem;
    text-transform: none;

    margin-bottom: 30px;
}
.s-app-page h2:not(.s-version-list *) {
    color: var(--ds-accent-color, #47a59d);

    margin-top: 40px;
    padding-bottom: 16px;
    border-bottom: 2px solid var(--ds-accent-color, #47a59d);
}
.s-app-page h3:not(.s-version-list *) {
    margin-top: 40px; /* double Bootstrap h3 margin-top */
}
