/* STRUCTURE */

/* To load most structure from Core-Styles */
@import url("https://cdn.jsdelivr.net/gh/TACC/core-styles@v2.26.0/dist/components/c-app-card.css");



/* Title */
.c-app-card__title {
    margin-block: 1em 0;
    padding-inline: 1rem;
}
.c-app-card__title > .ds-icon {
    width: unset; /* overwrite .ds-icon from main.css */
    height: unset; /* overwrite .ds-icon from main.css */

    margin-right: 0.25em;
}

/* Description */
.c-app-card__desc {
    padding-inline: 1.5rem;
    margin-block: 1.5rem;
}

/* Types */
.c-app-card__types {
    padding: 1em;
}

/* Flags */
.c-app-card__flags > * {
    --buffer--horz: 0.75em;
    --buffer--vert: 0.50em;

    padding-block: var(--buffer--vert);
}
.c-app-card__flags > *:not(:has(strong)) {
    padding-inline: var(--buffer--horz);
}
.c-app-card__flags > *:has(strong) {
    padding-inline: calc( var(--buffer--horz) * 2 );
}





/* SKIN */

/* Card */
.c-app-card {
    --border-width: 1px;

    border: var(--border-width) solid #AFAFAF;
    box-shadow: 3px 2px 2px #00000029;
}
.c-app-card:hover {
    outline: 2px solid var(--ds-active-color);
    outline-offset: calc( var(--border-width) * -1 );
    box-shadow: none;
}
.c-app-card:hover,
.c-app-card:focus {
    color: inherit;
    text-decoration: none;
}
a.c-app-card:active {
    outline-width: 1px;
}

/* Title */
.c-app-card:hover .c-app-card__title {
    color: var(--ds-active-color);
}

/* Description */
.c-app-card__desc {
    line-height: 1.8;
    font-size: 1.2rem;
}

/* Types */
.c-app-card__types {
    background-color: #F4F4F4;

    font-weight: 500; /* a.k.a. "medium" */
    font-size: 1.2rem;
}

/* Flags */
.c-app-card__flags {
    font-size: 1.2rem;
}
.c-app-card__flags > *:has(strong) {
    background-color: #ECE4BF;
}

.c-app-card__repo {
    font-style: italic;
}
