body {
  background-image: url(../images/Map-BG.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.site-banner {
  padding-top: 1.5em;
  padding-bottom: 1em;
}

.navbar-ds {
  text-align: center;
  border-bottom: 2px solid #ccc;
}

.navbar-ds a {
  display: inline-block;
  margin: 1.5em;
  border-bottom: 2px solid transparent;
}

@media (min-width: 992px) {
  .navbar-ds a {
    margin-left: 2.0em;
    margin-right: 2.0em;
  }
}

@media (min-width: 1200px) {
  .navbar-ds a {
    margin-left: 3em;
    margin-right: 3em;
  }
}

.navbar-ds a:hover {
  text-decoration: none;
}

#project-nav {
  float: right;
  margin-top: 20px;
}

.navbar-ds a,
#project-nav a {
  color: #4a4e4e;
  font-weight: bold;
  font-size: 1.2em;
}

@media (max-width: 991px) {
  .navbar-ds a,
  #project-nav a {
    font-size: inherit;
  }
}

#project-nav a:hover, #project-nav a:focus {
  background-color: inherit;
  color: #337AB7;
}

#project-nav li.active > a, #project-nav li.active > a:hover, #project-nav li.active > a:focus {
  background-color: inherit;
  color: inherit;
  border-bottom: .2em solid #337AB7;
}

hr {
  border-width: 0.16em 0 0 0;
  border-color: #ccc;
}

h1, h2 {
  text-transform: uppercase
}

h3, h4 {
  color: #4d4e4e;
}

h4 {
  font-style: italic;
}

.headline {
  position: relative;
  margin-bottom: 20px;
}

.headline::after {
  content: "___";
  color: #333;
  position: absolute;
  left: 0;
  bottom: -0.2em;
}

.hl-research, .headline-research::after {
  color: #136ac9;
}

.hl-ef, .headline-ef::after {
  color: #ca463e;
}

.hl-community, .headline-community::after {
  color: #6caa39;
}

.hl-learning, .headline-learning::after {
  color: #a5a4a4;
}

.hover-text {
  color: inherit;
}

.hover-text.hl-research:hover, .hover-text.hl-research:focus {
  color: #136ac9;
  border-color: #136ac9;
}

.hover-text.hl-ef:hover, .hover-text.hl-ef:focus {
  color: #ca463e;
  border-color: #ca463e;
}

.hover-text.hl-community:hover, .hover-text.hl-community:focus {
  color: #6caa39;
  border-color: #6caa39;
}

.hover-text.hl-learning:hover, .hover-text.hl-learning:focus {
  color: #a5a4a4;
  border-color: #a5a4a4;
}

.buttonlinks {
  background: url(../images/button.jpg) 3px 1px no-repeat;
  height: 74px;
  width: auto;
  text-align: center;
  padding: 7px;
  margin: auto;
}

.buttonlinks a:link, .buttonlinks a:visited, .buttonlinks a:active {
  font-size: 1.6em;
  color: #ffffff;
  text-decoration: none;
}

.buttonlinks a:hover {
  font-size: 1.6em;
  color: #cccccc;
  text-decoration: none;
}

#logos {
  text-align: center;
}

#logos li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.required label:after {
  content: "(required)";
  font-weight: 300;
  font-size: .9em;
  color: #A94442;
}

.error {
  color: #A94442;
}

.box {
  background-color: #fff;
  border: 1px solid #4a4e4e;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.box-topper {
  background-size: cover;
  padding: 5px;
}

.box-topper-research {
  background-image: url('../images/Sub-Nav-Blue.jpg')
}

.box-topper-ef {
  background-image: url('../images/Sub-Nav-Red.jpg')
}

.box-topper-community {
  background-image: url('../images/Sub-Nav-Green.jpg')
}

.box-topper-learning {
  background-image: url('../images/Sub-Nav-Grey.jpg')
}

.box-content {
  padding: 10px;
  height: 160px;
  overflow: hidden;
}

.box-content h4 {
  font-style: normal;
  font-weight: bold;
}

.ds-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.ds-icon-sm {
  width: 32px;
  height: 32px;
}

.ds-icon-lg {
  width: 64px;
  height: 64px;
}

.ds-icon-cloud-disk {
  background-image: url('../images/ds-icons/Icon-Data-Depot.png');
}
.ds-icon-desktop-compass {
  background-image: url('../images/ds-icons/Icon-Disc-Workspace.png');
}
.ds-icon-portal-eye {
  background-image: url('../images/ds-icons/Icon-Recon.png');
}
.ds-icon-portal-code {
  background-image: url('../images/ds-icons/Icon-Dev-port.png');
}
.ds-icon-home {
  background-image: url('../images/ds-icons/Icon-Fac-list.png');
}
.ds-icon-desktop-calendar {
  background-image: url('../images/ds-icons/Icon-Schedule.png');
}
.ds-icon-document-bolt {
  background-image: url('../images/ds-icons/Icon-Rapid.png');
}
.ds-icon-group {
  background-image: url('../images/ds-icons/Icon-Exist-Comm.png');
}
.ds-icon-group-add {
  background-image: url('../images/ds-icons/Icon-New-Comm.png');
}
.ds-icon-toolbox {
  background-image: url('../images/ds-icons/Icon-Comm-tools.png');
}
.ds-icon-document-copy {
  background-image: url('../images/ds-icons/Icon-Train-Resources.png');
}
.ds-icon-support {
  background-image: url('../images/ds-icons/Icon-Use-Support.png');
}
.ds-icon-lightbulb {
  background-image: url('../images/ds-icons/Icon-Students.png');
}