.btn-toolbar-ds {
    background-color: #f0f0f0;
    border: 1px solid #dddddd;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 5px 5px 5px 0;
}

.btn-toolbar-right {
    float: right;
}

.btn-toolbar-right .btn-group {
    float: none;
}

.breadcrumb-ds {
    line-height: 26px;
    margin-bottom: 5px;
}

.breadcrumb.breadcrumb-ds .breadcrumb-display {
    line-height:18px;
}

.flo-select-btn {
    border: 0;
    background: none;
    outline: 0;
}

.ds-data-browser-wrapper {
    position: relative;
}

.ds-data-browser-loading {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: 1.5em;
    border: 1px solid #46B8DA;
    background-color: #5bc0de;
    color: #ffffff;
    z-index:9999;
}

.ds-data-browser {
    display: flex;
    flex-direction: row;
}

.ds-data-browser-header {}

.ds-data-browser-footer {}

.ds-data-browser-sidebar {
    flex: 0 0 auto;
}

.ds-data-browser-sidebar {
    border: 1px solid #ddd;
    background-color: #eee;
}

.ds-data-browser-new {
    margin: 10px 10px 20px;
}

.ds-data-browser-main {
    flex: 1 1 auto;
}

.ds-drop-target {
    position: relative;
}

.ds-drop-target.ds-drop-active {
    background-color: #d9edf7 !important;
}

.ds-drag-el {
    position: absolute;
    top: -1000em;
    left: -1000em;
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
}

.ds-drag-el .drag-action {
    padding: .5em;
    background-color: #5bc0de;
    border: 1px solid #46B8DA;
    color: #fff;
}

.ds-drag-el .drag-info {
    padding: .5em .75em;
    border: 1px solid #46B8DA;
    background-color: #fff;
}

.ds-data-browser-processing * {
    color: #eee;
    border-color: #eee;
    background-color: #ccc;
}

.ds-data-browser-processing-success * {
    background-color: #d6e9c6;
    border-color: #d6e9c6;
    color: #3c763d;
}

.ds-data-browser-processing-danger * {
    background-color: #ebccd1;
    border-color: #ebccd1;
    color: #a94442;
}

.ds-data-browser table {
    background-color: #fff;
}

.ds-data-browser caption {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
}

.ds-data-browser-source-select-list .list-group-item {
    padding: 0 0 0 5px;
    background-color: transparent;
    border: none;
    color: inherit;
}

.ds-data-browser-source-select-list .list-group-item:hover,
.ds-data-browser-source-select-list .list-group-item:focus {
    background-color: #ccc;
    color: inherit;
}

.ds-data-browser-source-select-list .list-group-item.active {
    background-color: #337ab7;
    border-color: #ddd;
}

.ds-data-browser-source-select-list .list-group-item:hover a,
.ds-data-browser-source-select-list .list-group-item:focus a {
    background-color: #e1e1e1;
}

.ds-data-browser-source-select-list .list-group-item.active a {
    background-color: #fff;
}

.ds-data-browser-source-select-list a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 10px 15px;
}

.ds-data-browser-source-select .dropdown-menu {
    width: 100%;
}

.ds-data-selected {
    background-color: #a1d2eb !important;
}

/**
*
* SEARCH BAR CSS
*
*/

.search-wrap {
    position:absolute;
    top:.4em;
    right:0em;
}

.searchbar-wrap:hover, .search-wrap:focus {
    width:300px;
}

.searchbar-wrap {
    position:absolute;
    right:1em;
    width:32px;
    height:32px;
    overflow:hidden;
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
}

.searchbar-wrap .searchbar {
    width:300px;
    vertical-align:middle;
    white-space:nowrap;
    position: relative;
}

.searchbar-wrap .search-icon {
    position: absolute;
    left:0;
    top: 50%;
    margin-left: 1em;
    margin-top: .5em;
    z-index: 1;
}

.searchbar-wrap .search-clear-icon {
    position: absolute;
    right:1em;
    margin-top: .5em;
    z-index: 1;
    padding:0;
}

.searchbar-wrap input#db-search:hover,
.searchbar-wrap input#db-search:focus {
    outline: none;
    background: white;
    width: 300px;
}

.searchbar-wrap:hover input#db-search {
    width: 300px;
}

.searchbar-wrap input#db-search {
    width: 32px;
    height: 32px;
    background: white;
    border: none;
    float: left;
    color: black;
    padding-left: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
}

.search-wrap .search-clear-btn {
    display:inline-block;
    float:left;
}

/**
*
* METADATA TAGS CSS
*
*/

.tags-list {
    margin-top:10px;
}

.tag-item input[type="checkbox"]{
    display:none;
}

.tag-item button {
    background:none;
    padding:0px;
}

.tag-item label {
    position:absolute;
    top:-7px;
    left: 1px;
    cursor:pointer;
}

.tag-item {
  background: #ececec;
  border-radius: 3px 0 0 3px;
  color: black;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 10px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag-item.deleted {
  background: #f2dede;
}

.tag-item span.deleted {
    text-decoration: line-through;
}

.tag-item:after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #ececec;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag-item.deleted:after {
  border-left: 10px solid #f2dede;
}


/**
*
* DATA BROWSER TABLE WRAPPER CSS
*
**/

.ds-table-display-wrapper {
    height:500px;
    overflow:scroll;
}

.ds-table-display-wrapper table tfoot tr td {
    font-size: 1.5em;
    border: 1px solid #46B8DA;
    background-color: #5bc0de;
    color: #ffffff;
    z-index:9999;
}

.path-wrap {
    max-width:120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align:text-bottom;
    height:18px;
}

.path-wrap:hover {
    max-width: initial;
}

.share-path {
    color:#999;
}

.share-path:hover {
    max-width:120px;
}
