.btn-toolbar-ds {
    background-color: #f0f0f0;
    border: 1px solid #dddddd;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 5px 5px 5px 0;
}

.btn-toolbar-right {
    float: right;
}

.btn-toolbar-right .btn-group {
    float: none;
}

.breadcrumb-ds {
    line-height: 26px;
    margin-bottom: 5px;
}

.breadcrumb.breadcrumb-ds .breadcrumb-display {
    line-height:18px;
}

.flo-select-btn {
    border: 0;
    background: none;
    outline: 0;
}

.ds-data-browser-wrapper {
    position: relative;
}

.ds-data-browser-loading {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: 1.5em;
    border: 1px solid #46B8DA;
    background-color: #5bc0de;
    color: #ffffff;
    z-index:9999;
}

.ds-data-browser {
    display: flex;
    flex-direction: row;
}

.ds-data-browser-header {}

.ds-data-browser-footer {}

.ds-data-browser-sidebar {
    flex: 0 0 auto;
}

.ds-data-browser-sidebar {
    border: 1px solid #ddd;
    background-color: #eee;
}

.ds-data-browser-new {
    margin: 10px 10px 20px;
}

.ds-data-browser-main {
    flex: 1 1 auto;
}

.ds-drop-target {
    position: relative;
}

.ds-drop-target.ds-drop-active {
    background-color: #d9edf7 !important;
}

.ds-drag-el {
    position: absolute;
    top: -1000em;
    left: -1000em;
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
}

.ds-drag-el .drag-action {
    padding: .5em;
    background-color: #5bc0de;
    border: 1px solid #46B8DA;
    color: #fff;
}

.ds-drag-el .drag-info {
    padding: .5em .75em;
    border: 1px solid #46B8DA;
    background-color: #fff;
}

.ds-data-browser-processing * {
    color: #eee;
    border-color: #eee;
    background-color: #ccc;
}

.ds-data-browser-processing-success * {
    background-color: #d6e9c6;
    border-color: #d6e9c6;
    color: #3c763d;
}

.ds-data-browser-processing-danger * {
    background-color: #ebccd1;
    border-color: #ebccd1;
    color: #a94442;
}

.ds-data-browser table {
    background-color: #fff;
}

.ds-data-browser caption {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
}

.ds-data-browser-source-select-list .list-group-item {
    padding: 0 0 0 5px;
    background-color: transparent;
    border: none;
    color: inherit;
}

.ds-data-browser-source-select-list .list-group-item:hover,
.ds-data-browser-source-select-list .list-group-item:focus {
    background-color: #ccc;
    color: inherit;
}

.ds-data-browser-source-select-list .list-group-item.active {
    background-color: #337ab7;
    border-color: #ddd;
}

.ds-data-browser-source-select-list .list-group-item:hover a,
.ds-data-browser-source-select-list .list-group-item:focus a {
    background-color: #e1e1e1;
}

.ds-data-browser-source-select-list .list-group-item.active a {
    background-color: #fff;
}

.ds-data-browser-source-select-list a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 10px 15px;
}

.ds-data-browser-source-select .dropdown-menu {
    width: 100%;
}

.files-listing-table .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.files-listing-table .highlight {
    background-color: #a1d2eb !important;
}

.files-listing-table tbody tr td div.checkbox {
    vertical-align: middle !important;
    display: inline-block;
    margin: 0;
}

/**
*
* SEARCH BAR CSS
*
*/

.search-wrap {
    position:absolute;
    top:.4em;
    right:0em;
}

.searchbar-wrap:hover, .search-wrap:focus {
    width:300px;
}

.searchbar-wrap {
    position:absolute;
    right:1em;
    width:32px;
    height:32px;
    overflow:hidden;
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
}

.searchbar-wrap .searchbar {
    width:300px;
    vertical-align:middle;
    white-space:nowrap;
    position: relative;
}

.searchbar-wrap .search-icon {
    position: absolute;
    left:0;
    top: 50%;
    margin-left: 1em;
    margin-top: .5em;
    z-index: 1;
}

.searchbar-wrap .search-clear-icon {
    position: absolute;
    right:1em;
    margin-top: .5em;
    z-index: 1;
    padding:0;
}

.searchbar-wrap input#db-search:hover,
.searchbar-wrap input#db-search:focus {
    outline: none;
    background: white;
    width: 300px;
}

.searchbar-wrap:hover input#db-search {
    width: 300px;
}

.searchbar-wrap input#db-search {
    width: 32px;
    height: 32px;
    background: white;
    border: none;
    float: left;
    color: black;
    padding-left: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
}

.search-wrap .search-clear-btn {
    display:inline-block;
    float:left;
}

/**
*
* METADATA TAGS CSS
*
*/

.tags-list {
    margin-top:10px;
}

.tag-item input[type="checkbox"]{
    display:none;
}

.tag-item button {
    background:none;
    padding:0px;
}

.tag-item label {
    position:absolute;
    top:-7px;
    left: 1px;
    cursor:pointer;
}

.tag-item {
  background: #ececec;
  border-radius: 3px 0 0 3px;
  color: black;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 10px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.tag-item.deleted {
  background: #f2dede;
}

.tag-item span.deleted {
    text-decoration: line-through;
}

.tag-item:after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #ececec;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag-item.deleted:after {
  border-left: 10px solid #f2dede;
}


/**
*
* DATA BROWSER TABLE WRAPPER CSS
*
**/

.ds-table-display-wrapper {
    height:500px;
    overflow:scroll;
}

.ds-table-display-wrapper table tfoot tr td {
    font-size: 1.5em;
    border: 1px solid #46B8DA;
    background-color: #5bc0de;
    color: #ffffff;
    z-index:9999;
}

.path-wrap {
    max-width:120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align:text-bottom;
    height:18px;
}

.path-wrap:hover {
    max-width: initial;
}

.shared-path-listing {
    max-width:120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: bottom;
    color: #ccc;
}

.files-listing-table td{
    word-wrap: break-word;
}

.dd-toolbar-fixed-top {
    position: fixed;
    border: 1px black solid;
    z-index: 1050;
    top:55px;
	left:22%;
	right:10%;
}

@media (min-width: 768px) {
    .modal-dialog.modal-md {
        width:800px;
    }
}

tr.experiment-deleted {
    text-decoration: line-through;
}

.ds-text-light-blue {
    color: #5BC0DE;
}

.ds-text-blue {
    color: #0567CC;
}

.ds-text-green {
    color: #2EA89A;
}

.ds-text-red {
    color: #D04348;
}

.ds-text-black {
    color: black;
}

.ds-text-yellow {
    color: #B59300;
}

.ds-text-purple {
    color: #4B3181;
}

.ds-text-orange {
    color: #BD5717;
}

span.label.tag-yellow {
    border: 2px solid #B59300;
    color: black;
}

span.label.tag-yellow.selected {
    border: 2px solid #B59300;
    background: #B59300;
    color: white;
}

span.label.tag-purple {
    border: 2px solid #4B3181;
    color: black;
}

span.label.tag-purple.selected {
    border: 2px solid #4B3181;
    background: #4B3181;
    color: white;
}

span.label.tag-orange {
    border: 2px solid #BD5717;
    color: black;
}

span.label.tag-orange.selected {
    border: 2px solid #BD5717;
    background: #BD5717;
    color: white;
}

span.label.tag-light-blue {
    border: 2px solid #5BC0DE;
    color: black;
}

span.label.tag-light-blue.selected {
    border: 2px solid #5BC0DE;
    background: #5BC0DE;
    color: white;
}

span.label.tag-black {
    border: 2px solid #000;
    color: black;
}

span.label.tag-black.selected {
    border: 2px solid #000;
    background:#000;
    color: white;
}

span.label.tag-blue {
    border: 2px solid #0567CC;
    color: black;
}

span.label.tag-blue.selected {
    border: 2px solid #0567CC;
    background:#0567CC;
    color: white;
}

span.label.tag-green {
    border: 2px solid #2EA89A;
    color: black;
}

span.label.tag-green.selected {
    border: 2px solid #2EA89A;
    background:#2EA89A;
    color: white;
}

span.label.tag-red {
    border: 2px solid #D04348;
    color: black;
}

span.label.tag-red.selected {
    border: 2px solid #D04348;
    background:#D04348;
    color: white;
}

.modal-body span.label {
    float:left;
}

.add-project-labels span.label {
    width: 1em;
    height: 1em;
    margin-top: 5px;
    margin-right: 5px;
}

span.tag-title {
    word-break: break-word;
    white-space: normal;
    text-align: left;
}

.data-model-tree ul ul.hybrid-sim-coord-output li {
    margin-left:30px;
}

.data-model-tree ul, .data-model-tree li {
    list-style: none; margin: 0; padding: 0;
}

.data-model-tree ul {
    padding-left: 1em;
}

.data-model-tree li {
    padding-left: 1em;
    border: 1px solid black;
    border-width: 0 0 1px 1px;
}

.data-model-tree li.tree-container {
    border-bottom: 0px;
}

.data-model-tree li.empty {
    font-style: italic;
    color: silver;
    border-color: silver;
}

.data-model-tree li div.tree-el {
    margin: 0;
    background: white;
    position: relative;
    top: 1em;
    padding:5px 2px;
}

.data-model-tree li ul {
    border-top: 1px solid black;
    margin-left: -1em;
    padding-left: 2em;
}
.data-model-tree ul li ul {
    /*border-left: 1px solid black;*/
    margin-left: -15px;
}

.data-model-tree ul.event-ul {
    border-left: 1px solid white;
}

.data-model-tree.data-model-preview-tree ul.model-config-ul li:last-child ul.sensor-list-ul {
    border-left: 1px solid white;
}

.btn-xsm {
  padding:1px 1.5px;
}

.preview-wrapper {
    overflow:visible;
}

.folder-tick {
	display: inline-block;
    /* border: 1px solid lightgrey; */
    height: 3em;
    text-align: center;
    /* vertical-align: bottom; */
    border-bottom: 30px solid lightgrey;
    border-right: 30px solid white;
    border-left: 30px solid white;
    padding-top: 10px;
}

.existing-experiments-listing {
    margin-bottom:10px;
}

.add-extra-category {
    margin-top:20px;
}

.simple-table tbody tr td,
.simple-table tbody tr th{
    padding:0px 5px;
}

.simple-table tbody tr td:first-child,
.simple-table tbody tr th:first-child {
    padding-left:0px;
}

.simple-table tbody tr td:last-child,
.simple-table tbody tr th:last-child {
    padding-right:0px;
}

.tooltip-inner {
    max-width:350px !important;
    color: black;
    background-color: white;
    border:1px solid black;
}

.grayed-out {
    background-color:lightgray;
    color:#3e3e3e;
}

.wizard-steps .active {
    font-weight:bold;
}

.meta-review {
    width:100%;
    background:white;
    overflow:auto;
}

.meta-review .header {
    width:100%;
    background:white;
    overflow:auto;
    margin: 0px;
    padding: 0px;
}

.meta-review .title {
    text-align:center;
    border-bottom:1px solid black;
    padding:5px;
}

.meta-review .content {
    padding:5px;
}
.meta-review .content-wrapper {
    border-top:1px solid black;
}

.meta-review .content .meta-row {
    width:100%;
    overflow:auto;
    margin:10px 0px;
}

.meta-review .content .meta-row .attr {
    font-weight:bold;
    font-size: 15;
}

.meta-review .content .meta-row .value {
    width:100%;
    font-size: 15;
}

.dropdown button.collapsed .dropdown-caret:before {
    content: "\f078";
}

.dropdown button .dropdown-caret:before {
    content: "\f077";
}

.entity-preview-header > button{
    background: #e6e6e6;
    border:1px solid black;
    white-space:normal;
}

.modal-body .modal-row {
    margin-bottom:10px;
    overflow:auto;
    text-align:center;
}

.modal-body .modal-row .det-label {
    text-align:right;
}

.modal-body .modal-row .det-val {
    text-align:left;
}

a[ng-click]:hover {
    cursor: pointer;
}

.squarebrackets:before {
   content: " ";
   border-left:1px solid black;
   border-top:1px solid black;
   border-bottom:1px solid black;
   padding:0px 5px 5px 5px;
}

.squarebrackets:after
{
  content:" ";
  padding:0px 5px 0px 5px;
  border-right:1px solid black;
  border-top:1px solid black;
  border-bottom:1px solid black;
}

/**
*
* Application Icons Font
*
**/

@font-face {
font-family: 'DesignSafe-Apps';
    src: url('/static/fonts/DesignSafe-App-Icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon-letter {
    font-family: futura-pt, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 6vw;
    line-height: 1.2;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: 'DesignSafe-Apps';
    font-style: normal;
    font-size: 5vw;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.icon-ngl:before {
    content: "\e900";
    font-size: 4vw;
}
.icon-compress:before {
    content: "\e909";
}
.icon-extract:before {
    content: "\e90c";
}
.icon-matlab:before {
    content: "\e90b";
}
.icon-paraview:before {
    content: "\e90a";
}
.icon-hazmapper:before {
    content: "\e904";
}
.icon-jupyter:before {
    content: "\e905";
}
.icon-adcirc:before {
    content: "\e906";
    font-size: 4vw;
}
.icon-qgis:before {
    content: "\e907";
}
i[class^="icon-ls"][class$="dyna"]:before,
i[class^="icon-ls-pre/post"]:before,
.icon-ls-dyna:before {
    content: "\e908";
}
.icon-visit:before {
    content: "\e902";
}
.icon-openfoam:before {
    content: "\e901";
}
.icon-opensees:before {
    content: "\e903";
}

@font-face {
    font-family: 'Curation-Icons';
        src: url('/static/fonts/Curation_Icons.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    [class^="curation-"]:before,
    [class*=" curation-"]:before {
        font-family: 'Curation-Icons';
        font-style: normal;
        /* font-size: 32px; */
        /* speak: none; */
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }

    .curation-hybrid-icon:before {
        content: "\e907";
    }
    .curation-cc-zero:before {
        content: "\e900";
    }
    .dropdown button.collapsed .curation-chevron:before {
        content: "\e901";
    }
    .dropdown button .curation-chevron:before {
        content: "\e902";
    }
    .curation-close-window:before {
        content: "\e903";
    }
    .curation-cc-share:before {
        content: "\e904";
    }
    .curation-experiment:before {
        content: "\e905";
    }
    .curation-simulation:before {
        content: "\e911";
    }
    .curation-gpl:before {
        content: "\e906";
    }
    .curation-odc:before {
        content: "\e90e";
    }
    .curation-other:before {
        content: "\e90f";
    }
    .curation-req-doi:before {
        content: "\e910";
    }