<div class="clearfix btn-toolbar-ds">
    <div class="btn-toolbar btn-toolbar-right" role="toolbar" aria-label="Data Browser Toolbar">
        <div class="btn-group">
            <button class="btn btn-sm btn-default" title="Download" ng-click="ops.download()" ng-if="tests.canDownload">
                <i class="fa fa-cloud-download"></i><span class="sr-only">Download</span>
            </button>
            <button class="btn btn-sm btn-default" title="Preview" ng-click="ops.preview()" ng-if="tests.canPreview">
                <i class="fa fa-binoculars"></i><span class="sr-only">Preview</span>
            </button>
            <button class="btn btn-sm btn-default" title="View / Edit Metadata" ng-click="ops.viewMetadata()" ng-if="tests.canViewMetadata">
                <i class="fa fa-book"></i><span class="sr-only">View / Edit Metadata</span>
            </button>
        </div>
        <div class="btn-group">
            <button class="btn btn-sm btn-default" title="Share" ng-click="ops.share()" ng-if="tests.canShare">
                <i class="fa fa-send"></i><span class="sr-only">Share</span>
            </button>
        </div>
        <div class="btn-group">
            <button class="btn btn-sm btn-default" title="Copy" ng-click="ops.copy()" ng-if="tests.canCopy">
                <i class="fa fa-copy"></i><span class="sr-only">Copy</span>
            </button>
            <button class="btn btn-sm btn-default" title="Move" ng-click="ops.move()" ng-if="tests.canMove">
                <i class="fa fa-arrows"></i><span class="sr-only">Move</span>
            </button>
            <button class="btn btn-sm btn-default" title="Rename" ng-click="ops.rename()" ng-if="tests.canRename">
                <i class="fa fa-pencil"></i><span class="sr-only">Rename</span>
            </button>
        </div>
        <div class="btn-group">
            <button class="btn btn-sm btn-default" title="Move to trash" ng-click="ops.trash()" ng-if="tests.canTrash">
                <i class="fa fa-trash"></i><span class="sr-only">Move to Trash</span>
            </button>
            <button class="btn btn-sm btn-danger" title="Delete selected files" ng-click="ops.rm()" ng-if="tests.canDelete">
                <i class="fa fa-trash"></i><span class="sr-only">Delete selected files</span>
            </button>
        </div>
        <div class="btn-group">
            <button class="btn btn-sm btn-info" title="Details for {{ browser.listing.name }}" ng-click="ops.details()">
                <i class="fa fa-info-circle"></i><span class="sr-only">Details for {{ browser.listing.name }}</span>
            </button>
        </div>
    </div>
</div>
