<div style="margin: 10px 10px 20px">
    <div class="btn-group btn-block">
        <button class="btn btn-block btn-primary dropdown-toggle" data-toggle="dropdown">
            New
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="#" ng-click="createFolder()">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-folder fa-stack-2x"></i>
                            <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                        </span>
                    <span class="">Folder</span>
                </a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="#" ng-click="uploadFiles()">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-file-o fa-stack-2x"></i>
                            <i class="fa fa-cloud-upload fa-stack-1x"></i>
                        </span>
                    <span>File upload</span>
                </a>
            </li>
            <li>
                <a href="#" ng-click="uploadFolders()">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-folder-o fa-stack-2x"></i>
                            <i class="fa fa-cloud-upload fa-stack-1x"></i>
                        </span>
                    <span>Folder upload</span>
                </a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="#" ng-click="createProject()">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-briefcase fa-2x"></i>
                    </span>
                    <span>Project</span>
                </a>
            </li>
        </ul>
    </div>
</div>
