<div class="project">
    <div ng-if="data.project" class="project-detail">
        <h2>{{ data.project.value.title }}</h2>
        <div style="width:50%; display:inline-block;">
        <table class="table">
            <tbody>
            <tr>
              <th>ID</th>
              <td>{{data.project.vlue.id}}</td>
            </tr>
            <tr>
                <th>PI</th>
                <td><ds-user username="data.project.value.pi" format="name-username">{{ data.project.value.pi }}</ds-user></td>
            </tr>
            <tr>
              <th>Created</th>
              <td>{{data.project.created}}</td>
            </tr>
            </tbody>
        </table>
        </div>
        <div style="width:49%; display:inline-block; vertical-align:top;">
        <div class="btn-group" role="group" aria-label="Project Actions">
            <button class="btn btn-sm btn-default" ng-click="editProject($event)">Edit Project</button>
            <button class="btn btn-sm btn-default" ng-click="manageCollabs($event)">Manage Team Members</button>
            <button class="btn btn-sm btn-default" ng-disabled="data.loadingEntities" ng-click="manageExperiments($event)"><img src="/static/images/ds-icons/icon-greek.png" width="32" height="16"/> Manage Experiments</button>
        </div>
        </div>
        <div class="btn-group" role="group" aria-label="Listing views">
          <button class="btn btn-sm btn-default" ng-click="showListing()">Working Directory</button>
          <button class="btn btn-sm btn-default" ng-click="showPreview()">Publication Preview</button>
        </div>
    </div>

    <div ng-if="! data.project">
        <p class="lead text-center">
            <i class="fa fa-spinner fa-spin"></i> Loading Project Details...
        </p>
    </div>
    <hr>
    <ui-view class="project-data"></ui-view>
</div>
