<dd-breadcrumb listing="browser.listing" skip-root="true" custom-root="data.customRoot" on-browse="onBrowse" item-href="resolveBreadcrumbHref"></dd-breadcrumb>
<!-- Published View -->
<div class="project">
  <div class="project-detail">
    <h2>{{ project.value.title }}</h2>
    <p><strong>Description</strong></p>
    <p>
      {{project.value.description}}
    </p>
    <div style="width:50%; display:inline-block;">
      <table class="table" style="margin-bottom:0;">
        <tbody>
          <tr>
            <th>ID</th>
            <td>{{project.value.projectId}}</td>
          </tr>
          <tr>
            <th>Date of Publication</th>
            <td>{{project.lastUpdated}}</td>
          </tr>
          <tr>
            <th>DOI</th>
            <td>{{project.doi}}</td>
          </tr>
          <tr>
            <th>Created</th>
            <td>{{project.created}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="width:49%; display:inline-block; vertical-align:top;">
      <table class="table" style="margin-bottom:0;">
        <tbody>
          <tr>
            <th>PI</th>
            <td>{{project.piLabel}}
            </td>
          </tr>
          <tr>
            <th>
              <button class="btn btn-info btn-sm"
                      ng-click="showCitation(project)">Citation
              </button>
            <th>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>


    <div style="vertical-align:top;">
      <div class="btn-group" role="group" aria-label="Project Actions">
        <button class="btn btn-sm btn-default" ng-click="viewProject($event)">View Project</button>
        <button class="btn btn-sm btn-default" ng-click="viewCollabs($event)">View Team Members</button>
        <button class="btn btn-sm btn-default" ng-disabled="data.loadingEntities"
         ng-click="viewExperiments($event)">
          <img src="/static/images/ds-icons/icon-greek.png" width="32" height="16"/> View Experiments
        </button>
      </div>
      <div style="width:350px; height:100px; overflow:hidden;">
        <img width="350" ng-src="{{ imageHref }}"
             ng-if="imageHref && state.showPreviewListing"/>
        <div ng-if="!imageHref && state.showPreviewListing">
          <i class="fa fa-spin fa-spinner"></i> Loading ...
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>


<div ng-if="project.value.projectType != 'experimental' || filePathComps.length > 1"><!-- File Listing View -->
 <div class="ds-table-display-wrapper" ds-infinite-scroll
        data-scroll-bottom="scrollToBottom()"
        data-scroll-top="scrollToTop()"
        data-bottom-height="0">
    <table class="table table-bordered table-striped" style="background-color: #fff;">
        <thead>
        <th>Name</th>
        <th>Size</th>
        <th>Last modified</th>
        <!--
        <th>Details</th>
        -->
        </thead>

        <tbody>
        <tr ng-if="!browser.busyListing"
            ng-repeat="item in browser.listing.children"
            ng-click="onSelect($event, item)"
            ng-class="{'ds-data-selected': item._ui.selected}"
        >
            <td>
                <i class="fa {{ item.icon() }}"></i>
                <a ng-href="{{ item.href }}" ng-click="onBrowse($event, item)">
                    {{ item.name }}
                </a>

                <span class="tag-item"
                      ng-repeat="entityTag in item._entityTags">
                  {{entityTag}}
                </span>
            <div style="width:100%;">
            <span ng-if="browser.loadingEntities">
            Loading <i class="fa fa-spinner fa-spin"></i>
            </span>
            <span class="label selected"
              ng-repeat-start="entity in item._entities"
              ng-class="{'tag-blue': entity.name === 'designsafe.project.model_config', 'tag-green': entity.name === 'designsafe.project.sensor_list', 'tag-red': entity.name === 'designsafe.project.event', 'tag-light-blue': entity.name === 'designsafe.project.analysis', 'tag-black': entity.name === 'designsafe.project.report'}">{{ entity._displayName }}</span>
            <span ng-repeat-end class="tag-title">{{entity.value.title}}</span>
            </div>
            </td>
            <td>{{ item.length|bytes }}</td>
            <td>{{ item.lastModified|date:"short" }}</td>
            <!--
            <td>
                <a class="btn btn-info btn-xs" ng-click="onDetail()($event, item)">
                    <i class="fa fa-info-circle"></i><span style="display:block;">Details</span>
                </a>
            </td>
            -->
        </tr>
        <tr ng-if="browser.busyListingPage">
          <td>
                <span class="bg-info text-info">
                    <i class="fa fa-spinner fa-spin"></i> Loading...
                </span>
          </td>
        </tr>
        </tbody>
        <caption style="padding:0px;">

            <div ng-if="browser.busy"
                 style="padding:10px; font-size:large; with:100%;"
                 class="bg-info">
                <span>
                    <i class="fa fa-spinner fa-spin"></i> Loading...
                </span>
            </div>

            <div ng-if="! browser.busy && browser.error" class="text-center">
                <p class="alert alert-danger">
                    {{ browser.error.message || browser.error }}
                </p>
            </div>

            <div ng-if="! browser.busy && ! browser.error && (browser.listing.children|length) === 0" style="background-color: #fff;border: 1px solid #ddd;padding:8px;" class="text-center">
                <p class="lead">
                    This folder is empty!
                    <br><i class="fa fa-folder-open-o"></i>
                </p>
            </div>
        </caption>
    </table>
  </div>

</div><!-- Closing file listing view -->

<div ng-if="project.value.projectType == 'experimental' && filePathComps.length <= 1">
  <div class="project">
    <div class="preview-wrapper">
      <div ng-repeat="experiment in browser.publication.experimentsList | orderBy: 'value.title'"
           style="background:#fff;">
        <div class="dropdown entity-preview-header" id="details-{{experiment.uuid}}">
          <button class="btn btn-default btn-sm " data-toggle="collapse" data-target="#data-{{experiment.uuid}}"
                  style="width:100%;">
            Experiment {{experiment.value.title}}  <i class="fa dropdown-caret"></i>
          </button>
          <div id="data-{{experiment.uuid}}" class="collapse"
               ng-class="{'in': $index == 0}">
            <div style="border:1px solid black; background:white; margin-bottom:15px;">
              <div style= "padding:5px;">
                <h3 style="margin-top:0">{{experiment.value.title}}</h3>
                <p style="font-weight:bold;">Description</p>
                <p>{{experiment.value.description}}</p>
              </div>
              <div style="width:49%; vertical-align:top; display:inline-block;">
                <div>
                  <span style="font-weight:bold; display:inline-block; width:150px;"> Date of Publication: </span> {{experiment.lastUpdated}}
                </div>
                <div>
                  <span style="font-weight:bold;"> DOI: </span>
                  <span>{{experiment.doi}}</span>
                </div>
                <div>
                  <span style="font-weight:bold;"> Experimental Facility: </span>{{experiment.value.experimentalFacility}}
                </div>
                <div>
                  <span style="font-weight:bold;"> Experiment Type: </span>
                  <span style="text-transform:capitalize;">{{experiment.value.experimentType}}</span>
                </div>
                <div>
                  <span style="font-weight:bold;"> Equipment Type: </span>
                  <span style="text-transform:capitalize;">{{experiment.value.equipmentType}}</span>
                </div>
              </div>
              <div style="width:49%; vertical-aligh:top; display:inline-block;">
                <div>
                  <span style="font-weight:bold; display:inline-block; width:100px;">Authors : </span>
                  <span ng-repeat="user in filterUsers(experiment.value.authors, browser.publication.users) | orderBy: ['_ui.order']">
                  {{user.last_name}}, {{user.first_name}};
                  </span>
                </div>
                <div>
                  <button class="btn btn-info btn-sm"
                          ng-click="showCitation(experiment)">Citation
                  </button>
                <a href="#details-{{getRelated('reportsList', experiment.uuid)[0].uuid}}"
                   class="btn btn-link">
                  <span style="font-weight:bold;">Report</span>
                </a>
                </div>
            </div>
            <div ng-if="!getRelated('eventsList', experiment.uuid).length"
                 class="bg-info" style="padding:10px; margin-bottom:10px; border-bottom:1px solid black;">
              This Experiment has no Events.
            </div>
            <div ng-repeat="event in all_events = getRelated('eventsList', experiment.uuid) | orderBy: ['_ui.order', 'value.title']"
                 style="margin-bottom:10px;">
              <div style="padding:3px;">
                <span class="ds-text-red folder-tick">Event Data: {{event.value.title}} </span>
                <span style="color:light-gray">Link to: </span>
                <a class="ds-text-blue" href="#details-{{getRelated('modelConfigs', [experiment.uuid])[0].uuid}}"
                   data-toggle="collapse" data-target="#files-{{getRelated('modelConfigs', [experiment.uuid])[0].uuid}}">
                  Model Configuration
                </a>
                <a class="ds-text-green" href="#details-{{getRelated('sensorLists', [experiment.uuid, 
                                               getRelated('modelConfigs', [experiment.uuid])[0].uuid])[0].uuid}}"
                   data-toggle="collapse" data-target="#files-{{getRelated('sensorLists', [experiment.uuid, 
                                                       getRelated('modelConfigs', [experiment.uuid])[0].uuid])[0].uuid}}">
                  Sensor List
                </a>
              </div>
            <div style="position:absolute; left:-110px; margin-top:-20px; width:110px;">
              <div style="border-bottom:1px solid lightgrey;">
                <a class="ds-text-red" ng-click="viewRelations(event.uuid)" href="#">
                  Relations
                </a>
              </div>
              <div>
                <a class="ds-text-blue" href="" ng-click="viewRelations(getRelated('modelConfigs', [experiment.uuid])[0].uuid)">
                  {{getRelated('modelConfigs', [experiment.uuid])[0].value.title}}
                </a>
              </div>
              <div>
                <a class="ds-text-green" href="" ng-click="viewRelations(getRelated('sensorLists', [experiment.uuid, getRelated('modelConfigs', [experiment.uuid])[0].uuid])[0].uuid)">
                  {{getRelated('sensorLists', [experiment.uuid, 
                  getRelated('modelConfigs', [experiment.uuid])[0].uuid])[0].value.title}}
                </a>
              </div>
            </div>
            <div style="margin-left:-5px; padding-left:5px; margin-top:-11px; padding-top:7px; border-left:1px solid #ccc; border-radius:5px 0px 0px 5px; max-height:300px; overflow:scroll;">
              <table  class="table table-bordered table-striped"
                      style="background-color: #fff;">
                <thead>
                  <th>Name</th>
                  <th>Size</th>
                  <th>Last modified</th>
                </thead>
                <tbody>
                  <tr ng-repeat="file in event.files | orderBy: ['type', 'path']">
                    <td>
                      <i class="fa {{file.icon()}}"></i>
                      <a ng-href="{{file.href}}" ng-click="onBrowse($event, file)">
                        {{file.name}}
                      </a>
                    </td>
                    <td>{{file.length|bytes}}</td>
                    <td>{{file.lastModified|date:"short"}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="project-preview-entities-details">
    <div ng-repeat="modelConfig in browser.publication.modelConfigs | orderBy: 'value.title'">
      <div class="dropdown entity-preview-header" id="details-{{modelConfig.uuid}}">
        <button class="btn btn-sm btn-default collapsed ds-text-blue" data-toggle="collapse" data-target="#files-{{modelConfig.uuid}}"
                style="width:100%;">
          Model Config {{modelConfig.value.title}}  <i class="fa dropdown-caret"></i>
        </button>
        <div id="files-{{modelConfig.uuid}}" class="collapse">
          <table  class="table table-bordered table-striped"
                  style="background-color: #fff;">
            <thead>
              <th>Name</th>
              <th>Size</th>
              <th>Last modified</th>
            </thead>
            <tbody>
              <tr ng-repeat="file in modelConfig.files | orderBy: ['type', 'path']">
                <td>
                  <i class="fa {{file.icon()}}"></i>
                  <a ng-href="{{file.href}}" ng-click="onBrowse($event, file)">
                    {{file.name}}
                  </a>
                </td>
                <td>{{file.length}}</td>
                <td>{{file.lastModified|date:"short"}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div ng-repeat="sensorList in browser.publication.sensorLists | orderBy: 'value.title'">
      <div class="dropdown entity-preview-header" id="details-{{sensorList.uuid}}">
        <button class="btn btn-sm btn-default collapsed ds-text-green" data-toggle="collapse" data-target="#files-{{sensorList.uuid}}"
                style="width:100%;">
          Sensor Info {{sensorList.value.title}}  <i class="fa dropdown-caret"></i>
        </button>
        <div id="files-{{sensorList.uuid}}" class="collapse">
          <table  class="table table-bordered table-striped"
                  style="background-color: #fff;">
            <thead>
              <th>Name</th>
              <th>Size</th>
              <th>Last modified</th>
            </thead>
            <tbody>
              <tr ng-repeat="file in sensorList.files | orderBy: ['type', 'path']">
                <td>
                  <i class="fa {{file.icon()}}"></i>
                  <a ng-href="{{file.href}}" ng-click="onBrowse($event, file)">
                    {{file.name}}
                  </a>
                </td>
                <td>{{file.length}}</td>
                <td>{{file.lastModified|date:"short"}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div ng-repeat="analysis in browser.publication.analysisList | orderBy: 'value.title'">
      <div class="entity-wrapper" 
           ng-if="analysis.files.length">
        <div class="dropdown entity-preview-header" id="details-{{analysis.uuid}}">
          <button class="btn btn-default btn-sm ds-text-light-blue" data-toggle="collapse" data-target="#files-{{analysis.uuid}}"
                  style="width:100%;">
            Analysis {{analysis.value.title}}  <i class="fa dropdown-caret"></i>
          </button>
          <div id="files-{{analysis.uuid}}" class="collapse in">
            <div style="border:1px solid black; background:white; padding:5px; margin-bottom:15px;">
              <div style= "width:50%; display:inline-block;">
              <h3 style="margin-top:0;">{{analysis.value.title}}</h3>
              <span style="font-weight:bold;">Description: </span>{{analysis.value.description}}</p>
              <button class="btn btn-link btn-sm"
                      ng-click="showText(analysis.value.description)">
                <i class="fa fa-external-link"></i> Show
              </button>
            </div>
            <div style="padding:5px; margin:5px 0px; height:60px; overflow:hidden; word-wrap:overflow; width:50%; display:inline-block; float:right;">
              <p style="overflow:hidden; display:block; height:20px;">
                <span style="font-weight:bold;">DOI: </span>{{analysis.doi}}
              </p>
              <div>
                <button class="btn btn-info btn-sm"
                        ng-click="showCitation(analysis)">Citation
                </button>
              </div>
            </div>
            <table  class="table table-bordered table-striped"
                    style="background-color: #fff;">
              <thead>
                <th>Name</th>
                <th>Size</th>
                <th>Last modified</th>
              </thead>
              <tbody>
                <tr ng-repeat="file in analysis.files | orderBy: ['type', 'path']">
                  <td>
                    <i class="fa {{file.icon()}}"></i>
                    <a ng-href="{{file.href}}" ng-click="onBrowse($event, file)">
                      {{file.name}}
                    </a>
                  </td>
                  <td>{{file.length}}</td>
                  <td>{{file.lastModified|date:"short"}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div ng-repeat="report in browser.publication.reportsList | orderBy: 'value.title'">
      <div class="entity-wrapper"
           ng-if="report.files.length">
        <div class="dropdown entity-preview-header" id="details-{{report.uuid}}">
          <button class="btn btn-default btn-sm" data-toggle="collapse" data-target="#files-{{report.uuid}}"
                  style="width:100%;">
            Report {{report.value.title}}  <i class="fa dropdown-caret"></i>
          </button>
          <div id="files-{{report.uuid}}" class="collapse in">
            <div style="border:1px solid black; background:white; padding:5px; margin-bottom:15px;">
              <div style= "display:inline-block; width:100%;">
                <h3 style="margin-top:0;">{{report.value.title}}</h3>
                <div style="padding:5px; margin:5px 0px; height:60px; overflow:hidden; word-wrap:overflow;">
                <p style="overflow:hidden; display:block; height:20px;">
                  <span style="font-weight:bold;">Description: </span>{{report.value.description}}
                </p>
                <button class="btn btn-link btn-sm"
                        ng-click="showText(analysis.value.description)">
                  <i class="fa fa-external-link"></i> Show
                </button>
              </div>
            <div style="padding:5px; margin:5px 0px; height:60px; overflow:hidden; word-wrap:overflow; display:inline-block; float:right;">
              <p style="overflow:hidden; display:block; height:20px;">
            </div>
            <table  class="table table-bordered table-striped"
                    style="background-color: #fff;">
              <thead>
                <th>Name</th>
                <th>Size</th>
                <th>Last modified</th>
              </thead>
              <tbody>
                <tr ng-repeat="file in report.files | orderBy: ['type', 'path']">
                  <td>
                    <i class="fa {{file.icon()}}"></i>
                    <a ng-href="{{file.href}}" ng-click="onBrowse($event, file)">
                      {{file.name}}
                    </a>
                  </td>
                  <td>{{file.length}}</td>
                  <td>{{file.lastModified|date:"short"}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

</div><!-- Cosing published View -->
