<div class="modal-header">
  <h3>Simulation Relations Tree</h3>
</div>
<div class="modal-body">
    <div class="data-model-tree data-model-preview-tree">
    <!-- TREE START -->
      <ul class="experiments-ul">
        <li class="tree-container"
            ng-repeat="simulation in $ctrl.data.publication.simulations | orderBy: ['_ui.order', 'value.title']"
            style="border:none;">
          <div class="tree-el">  
          <span class="ul-title"> <strong>{{simulation.value.title}}</strong> </span>
            <div style="display:inline-block;">
              <div>
                <div style="margin-left:5px; display:inline-block;"
                     ng-if="getRelated('report_set', false, simulation.uuid).length">
                    <span class="label tag-black" 
                          ng-class="{'selected': getRelated('reports', false, simulation.uuid)[0].uuid === $ctrl.data.selectedUuid}">
                            Simulation Report
                    </span>
                    <span class="tab-title">
                    {{getRelated('reports', false, simulation.uuid)[0].value.title}}
                    </span>
                </div>
              </div>
              <div>
                <div style="margin-left:5px; display:inline-block;"
                     ng-if="getRelated('analysiss', false, simulation.uuid).length">
                    <span class="label tag-light-blue"
                          ng-class="{'selected': getRelated('analysiss', false, simulation.uuid)[0].uuid === $ctrl.data.selectedUuid}">
                        Simulation Analysis
                    </span>
                    <span class="tab-title">
                    {{getRelated('analysiss', false, simulation.uuid)[0].value.title}}
                    </span>
                </div>
              </div>
            </div>
          </div>
          <ul class="model-config-ul">
            <li class="tree-container"
                ng-repeat="modelConfig in getRelated('models', false, simulation.uuid) | orderBy: 'value.title'">
              <div class="tree-el">
              <span class="label tag-blue"
                    ng-class="{'selected': modelConfig.uuid === $ctrl.data.selectedUuid}">Simulation Model</span>
              <span class="tag-title">{{modelConfig.value.title}}</span>
              </div>
              <ul class="sensor-list-ul">
                <li class="tree-container"
                    ng-repeat="simInput in getRelated('inputs', false, [simulation.uuid, modelConfig.uuid]) | orderBy: 'value.title'">
                  <div class="tree-el">  
                  <span class="label tag-green"
                        ng-class="{'selected': simInput.uuid === $ctrl.data.selectedUuid}">Simulation Input</span>
                  <span class="tag-title">{{simInput.value.title}}</span>
                  </div>
                  <ul>
                    <li 
                        ng-repeat="simOutput in getRelated('outputs', false, [simulation.uuid, modelConfig.uuid, simInput.uuid]) | orderBy: '_ui.order'">
                      <div class="tree-el">
                      <span class="label tag-red tree-el"
                            ng-class="{'selected': simOutput.uuid === data.entityUuid}">Simulation Output</span>
                      <span class="tag-title">{{simOutput.value.title}}</span>
                        <div style="display:inline-block;">
                          <div>
                            <div style="margin-left:5px; display:inline-block;"
                                 ng-if="getRelated('reports', false, simOutput.uuid).length">
                                <span class="label tag-black"
                                      ng-class="{'selected':getRelated('reports', false, simOutput.uuid)[0].uuid === $ctrl.data.selectedUuid}">
                                        Integrated Report
                                </span>
                                <span class="tab-title">
                                {{getRelated('reports', false, simOutput.uuid)[0].value.title}}
                                </span>
                            </div>
                          </div>
                          <div>
                            <div style="margin-left:5px; display:inline-block;"
                                 ng-if="getRelated('analysiss', false, simOutput.uuid).length">
                                <span class="label tag-black"
                                      ng-class="{'selected': getRelated('analysiss', false, simOutput.uuid)[0].uuid === $ctrl.data.selectedUuid}">
                                        Integrated Analysis
                                </span>
                                <span class="tab-title">
                                {{getRelated('analysiss', false, simOutput.uuid)[0].value.title}}
                                </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    <!-- TREE END -->

      <ul class="experiments-ul">
        <li class="tree-container"
            ng-repeat="analysis in $ctrl.data.publication.analysiss | orderBy: 'value.title'"
            style="border:none;">
          <div class="tree-el">  
          <span class="label tag-light-blue"
                ng-class="{'selected': analysis.uuid === data.entityUuid}">Analysis</span>
          <span class="ul-title">{{analysis.value.title}}</span>
          </div>
        </li>
      </ul>

    </div>


</div>
<div class="modal-footer">
  <button class="pull-right btn btn-sm btn-default" ng-click="$ctrl.close()">Close</button>
</div>
