<div class="modal-header" style="background: #e6e6e6">
    <h4 class="modal-title" style="border: none">
        Project Data Metrics
        <span ng-if="!$ctrl.loading">(<span ng-if="$ctrl.lastUpdated">since {{$ctrl.lastUpdated | date:'MMMM dd, yyyy'}}, </span>updated every month)</span>
        <a uib-tooltip="Metrics collected using Make Data Count standards." tooltip-placement="right"
            ><i class="fa fa-info-circle"></i
        ></a>
        <span class="pull-right" ng-click="$ctrl.close()">
            <i class="fa fa-times"></i>
        </span>
    </h4>
</div>
<div class="modal-body">
    <div
        data-ng-if="$ctrl.loading"
        style="padding: 10px; font-size: large; width: 100%"
        class="bg-info"
    >
        <span> <i class="fa fa-spinner fa-spin"></i> Loading... </span>
    </div>
    <div ng-if="!$ctrl.loading">
        These metrics are presented according to the <a target="_blank" href="https://makedatacount.org/">Make Your Data Count</a> standard.
        <p></p>
        <div style="display: flex; flex-direction: row" >
            <div style="flex-grow: 1; margin-right: 100px">
                <table class="table table-borderless">
                    <tr style="border-top: hidden">
                        <td>Data Reuse Breakdown</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            Project Downloads
                            <a
                                uib-tooltip="Total downloads of a compressed entire project to a user’s machine"
                                tooltip-placement="right"
                                ><i class="fa fa-info-circle"></i
                            ></a>
                        </td>
                        <td>{{$ctrl.cumMetrics.projectDownloads}}</td>
                    </tr>
                    <tr style="border-top: hidden">
                        <td>
                            File Requests
                            <a
                                uib-tooltip="Total file downloads + Total File Previews. Counted following the Make your Data Count standard"
                                tooltip-placement="right"
                                ><i class="fa fa-info-circle"></i
                            ></a>
                        </td>
                        <td>{{$ctrl.cumMetrics.fileViews}}</td>
                    </tr>
                    <tr style="border-top: hidden">
                        <td>
                            &nbsp;&nbsp;&nbsp;&nbsp;File Downloads
                            <a
                                uib-tooltip="Total file downloads to a user’s machine or copies to their workspace in DesignSafe"
                                tooltip-placement="right"
                                ><i class="fa fa-info-circle"></i
                            ></a>
                        </td>
                        <td>{{$ctrl.cumMetrics.fileDownloads}}</td>
                    </tr>
                    <tr style="border-top: hidden">
                        <td>
                            &nbsp;&nbsp;&nbsp;&nbsp;File Previews
                            <a
                                uib-tooltip="Total user’s requests for file previews in a browser window"
                                tooltip-placement="right"
                                ><i class="fa fa-info-circle"></i
                            ></a>
                        </td>
                        <td>{{$ctrl.cumMetrics.filePreviews}}</td>
                    </tr>
                </table>
            </div>
            <div style="flex-grow: 1">
                <table class="table table-borderless">
                    <tr style="border-top: hidden">
                        <td>Quarterly Reuse</td>
                        <td>
                            <select
                                data-ng-if="$ctrl.error"
                                disabled
                            >
                                <option>2021</option>
                            </select>
                            <select
                                data-ng-if="!$ctrl.error"
                                ng-model="$ctrl.selectedYear"
                                ng-options="item for item in $ctrl.years"
                                ng-change="$ctrl.onYearSelect()"
                            ></select>
                        </td>
                    </tr>
                    <tr>
                        <td>Jan-Mar</td>
                        <td>{{$ctrl.qMetrics[0]}}</td>
                    </tr>
                    <tr style="border-top: hidden">
                        <td>Apr-Jun</td>
                        <td>{{$ctrl.qMetrics[1]}}</td>
                    </tr>
                    <tr style="border-top: hidden">
                        <td>Jul-Sep</td>
                        <td>{{$ctrl.qMetrics[2]}}</td>
                    </tr>
                    <tr style="border-top: hidden">
                        <td>Oct-Dec</td>
                        <td>{{$ctrl.qMetrics[3]}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
