<div class="modal-header">
    <h4 class="modal-title">DOIs</h4>
</div>
<div class="modal-body">
    <ul>
        <li ng-repeat="doi in $ctrl.experimentDois">
            <div>
                {{ doi.citationString }}
            </div>
            <div>
                <a href="{{doi.doiURL}}" target="_blank">{{doi.doiUrl}}</a>
            </div>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-info btn-sm pull-right" ng-click="$ctrl.close()">
        Close
    </button>
</div>
