<!-- TODO: Add '/user-guide/' to base.j2 version. Delete this snippet. -->
<!--
<script type="module" id="js-open-more-links-in-new-window--debug">
    window.DEBUG = true; // Enable to log which links get changed
</script>
-->
<script type="module" id="js-open-more-links-in-new-window">
    import findLinksAndSetTargets from 'https://cdn.jsdelivr.net/gh/TACC/Core-CMS@v3.11.0-alpha.1/taccsite_cms/static/site_cms/js/modules/setTargetForExternalLinks.js';

    /* To add accessibility attribute as required */
    /* https://github.com/DesignSafe-CI/portal/blob/db25814/designsafe/templates/base.j2#L176-L187 */
    function supportA11y( link ) {
        const hasA11yNote = link.querySelector('span.sr-only');
        const hasA11yDesc = link.hasAttribute('aria-describedby');

        if ( ! hasA11yNote && ! hasA11yDesc ) {
            link.setAttribute('aria-describedby', 'msg-open-new-window');
            if (window.DEBUG) {
                console.debug(`Link ${link} now has "aria-describedby"`);
            }
        }
    }

    /* To make certain links open in new window, and apply a11y attribute */
    findLinksAndSetTargets({
        pathsToForceSetTarget: [
            /user-guide/,
            /use-cases/
        ],
        setTargetCallback: supportA11y,
    });
</script>
