.headerCell {
  border: 1px solid var(--global-color-primary--dark);
  padding: 10px;
  text-align: center;
  background: var(--global-color-primary--normal);
}

.cell {
  border: 1px solid #ccc;
  padding: 8px;
  overflow: hidden;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.tableWrapper {
  width: 100%;
  overflow-x: auto;
}
