<div class="modal-header">
    <h3 class="modal-title">Select the destination to move the following files</h3>
</div>
<div class="modal-body">
    <ul>
        <li ng-repeat="file in $ctrl.data.files">
            {{ file.name }}
        </li>
    </ul>

    <div class="row">
        <div class="col-sm-3">
            <form>
                <label for="id_currentOption" class="sr-only">Jump to</label>
                <select class="form-control" 
                    id="id_currentOption" 
                    name="currentOption" 
                    ng-model="$ctrl.$scope.currentOption" 
                    ng-options="option as option.label 
                                for option in $ctrl.options"></select>
            </form>
        </div>
        <div class="col-sm-9">
          <dd-breadcrumb skip-root="true" custom-root="$ctrl.customRoot" listing="$ctrl.listing" on-browse="$ctrl.onBrowse"></dd-breadcrumb>
        </div>
    </div>
    <div class="table-responsive" ng-if="!$ctrl.state.listingProjects">
        <table class="table table-bordered table-striped" style="background-color: #fff;">
            <thead>
            <th>Name</th>
            <th>Action</th>
            </thead>

            <tbody ng-if="!$ctrl.state.busy">
            <tr ng-repeat="item in $ctrl.listing.children">
                <td>
                    <i class="fa {{ item.icon() }}"></i>
                    <a ng-href="{{ item.href || '#' }}" ng-click="$ctrl.onBrowse($event, item)">
                        {{ item.name }}
                    </a>
                </td>
                <td>
                    <a class="btn btn-primary btn-xs"
                       ng-if="$ctrl.validDestination(item)"
                       ng-click="$ctrl.chooseDestination(item)">
                        Move to {{ item.name }}
                    </a>
                </td>
            </tr>
            </tbody>
            <caption class="text-center" ng-if="$ctrl.state.busy">
                <i class="fa fa-spinner fa-spin"></i> Loading...
            </caption>
      <caption style="padding:0">

          <div ng-if="$ctrl.state.busy" style="margin-bottom:-38px" class="text-right">
              <span style="display:inline-block;padding: 9px;" class="bg-info text-info">
                  <i class="fa fa-spinner fa-spin"></i> Loading...
              </span>
          </div>

          <div ng-if="! $ctrl.state.busy && $ctrl.state.error" class="text-center">
              <p class="alert alert-danger">
                  {{ $ctrl.browser.error.message || $ctrl.browser.error }}
              </p>
          </div>


            <caption class="text-center" ng-if="! state.busy && state.error">
                <p class="alert alert-danger">
                    {{ $ctrl.state.error }}
                </p>
            </caption>
            <caption class="text-center" ng-if="! $ctrl.state.busy && ! $ctrl.state.error && ($ctrl.listing.children|length) === 0">
                <p class="lead">
                    This folder is empty!
                    <br><i class="fa fa-folder-open-o"></i>
                </p>
            </caption>
        </table>
        </div>
    <div class="table-responsive" ng-if="$ctrl.state.listingProjects">
      <table class="table table-bordered tables-striped" style="background-color: #fff;">
        <thead>
         <th>Name</th>
         <th>PI</th>
        </thead>
        <tbody ng-if="!$ctrl.state.busy">
          <tr ng-repeat="item in $ctrl.projects">
            <td>
              <i class="fa fa-briefcase"></i>
              <a ng-href="{{ item.href || '#' }}" ng-click = "$ctrl.onBrowse($event, item)">
                {{item.value.title}}
              </a>
            </td>
            <td>
              <ds-user username="item.value.pi" format = "name-username">
                {{ item.value.pi }}
              </ds-user>
            </td>
          </tr>
        </tbody>
      <caption style="padding:0">

          <div ng-if="$ctrl.state.busy" style="margin-bottom:-38px" class="text-right">
              <span style="display:inline-block;padding: 9px;" class="bg-info text-info">
                  <i class="fa fa-spinner fa-spin"></i> Loading...
              </span>
          </div>

          <div ng-if="! $ctrl.state.busy && state.error" class="text-center">
              <p class="alert alert-danger">
                  {{ $ctrl.browser.error.message || $ctrl.browser.error }}
              </p>
          </div>


            <caption class="text-center" ng-if="! $ctrl.state.busy && state.error">
                <p class="alert alert-danger">
                    {{ $ctrl.state.error }}
                </p>
            </caption>
            <caption class="text-center" ng-if="! $ctrl.state.busy && ! $ctrl.state.error && ($ctrl.listing.children|length) === 0">
                <p class="lead">
                    This folder is empty!
                    <br><i class="fa fa-folder-open-o"></i>
                </p>
            </caption>
        </table>
    </div>

<div class="modal-footer">
    <div class="text-right">
        <button class="btn btn-primary" type="button"
                ng-disabled="! $ctrl.validDestination(listing)"
                ng-click="$ctrl.chooseDestination(listing)"
        >
            Move to {{ $ctrl.listing.name }}
        </button>
        <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</div>
