.ant-btn-link {
  padding-inline: 0px !important;
  height: unset;
  padding: 0px !important;
  color: #337ab7 !important;

  @include link;
}

.ant-btn-link:hover span {
  color: #23527c !important;
  text-decoration: underline !important;
}

.ant-btn-link:active span {
  @include link--active;
}

.success-button {
  background-color: #1cb500 !important;
  border: 1px solid #158600;
}
.success-button:hover {
  background-color: #158600 !important;
}
.success-button:disabled {
  color: #ffffff !important;
  background-color: rgb(140, 187, 132) !important;
}
