<div style="background: #D9EDF7;">
    <div class="entity-meta-data">
        Cite this Data {{entity}}
    </div>
    <div ng-if="$ctrl.selectedVersion === 1"> ===1
        <span ng-repeat="author in $ctrl.publication.authors">
            <span ng-if=$first>
                {{ author.lname }}, {{ author.fname[0] }}. 
            </span>
            <span ng-if=!$first>
                {{ author.fname[0] }}. {{author.lname}},  
            </span>
        </span>
        <span>
            ({{ $ctrl.createdYear }}) "{{ mission.value.title }}", in <i>{{ $ctrl.publication.project.value.title }}</i>. DesignSafe-CI.
            <a>{{ 'https://doi.org/' + $ctrl.publication.project.value.dois }}</a>
        </span>
    </div>
  
    <div ng-if="$ctrl.entity && $ctrl.selectedVersion > 1"> >>>1
        <ds-author-list format="hname" authors="$ctrl.authors"></ds-author-list>
        <span>
            {{ publication.authors.lname }}, {{ authorData.pi.fname[0] }}.
            ({{ $ctrl.createdYear }}) "{{ mission.value.title }}", in <i>{{ $ctrl.publication.project.value.title }}</i>. DesignSafe-CI.
            <a>{{ 'https://doi.org/' + $ctrl.publication.project.value.dois }}</a>
            v{{$ctrl.version}}
            
        </span>
    </div>
    <div ng-if="!$ctrl.entity"> ????
        <!-- <ds-user-list usernames="$ctrl.authors" format="other"></ds-user-list> -->
        <span ng-repeat="author in $ctrl.publication.authors">
            <span ng-if=$first>
                {{ author.lname }}, {{ author.fname[0] }}. 
            </span>
            <span ng-if=!$first>
                {{ author.fname[0] }}. {{author.lname}},  
            </span>
        </span>
        <span>
            ({{ $ctrl.createdYear }}) “{{ $ctrl.publication.project.value.title }}.” DesignSafe-CI.
            <a>{{ 'https://doi.org/' + $ctrl.publication.project.value.dois }}</a>
            v{{$ctrl.selectedVersion}} 
        </span>
    </div>
  
    <div class="entity-meta-data">
        Download Citation: <a href="$ctrl.downloadCitation()">Plain Text</a>
    </div>
  </div> 