<div modal="applicationDeleteModal">
    <div class="modal-header">
      <h3 class="modal-title">Delete App</h3>
    </div>
    <div class="modal-body">
      <p ng-show="error" class="alert alert-danger">{{error}}</p>
      <p class="text-center" ng-show="requesting">
        <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
      </p>
      <p ng-show="!requesting">
        Are you sure you want to delete <strong>{{id}}</strong>?
      </p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-danger" ng-click="deleteApp()">Yes</button>
    </div>
</div>
