<div>
    <div ng-show="error" class="alert alert-danger">
      <p>{{error}}</p>
    </div>

    <div ng-show="!data.apps">
        <div class="text-center" ng-show="requesting">
            <div><i class="fa fa-circle-o-notch fa-spin fa-3x"></i></div>
            <div>Loading...</div>
        </div>
    </div>

    <div class="row top-buffer" ng-show="!requesting">
      <div class="col-lg-12">
        <div class="input-group">
          <span class="input-group-btn">
            <span class="btn btn-default"><i class="fa fa-filter"></i></span>
          </span>
          <input type="text" class="form-control" placeholder="Search" ng-model="query">
        </div>
      </div>
    </div>

    <div class="pull-right" ng-if="!requesting">
      <button class="btn btn-default btn-tab ng-scope" ng-click="syncApps()"><i class="fa fa-refresh fa-lg"></i></button>
    </div>

    <uib-tabset ng-show="!requesting" class="top-buffer">
      <uib-tab ng-repeat="tab in tabs" active="tab.active">
        <uib-tab-heading>
          <div ng-switch="tab.title">
            <div ng-switch-when="Public">
              <span>{{tab.title}} </span>
            </div>
            <div ng-switch-when="Private">
              <span>{{tab.title}} </span>
            </div>
            <div ng-switch-default>
              <span>{{tab.title}} <i class="fa fa-times" aria-hidden="true" ng-click="removeTab($event, $index, tab)"></i></span>
            </div>
          </div>
        </uib-tab-heading>

        <div class="top-buffer">
          <span class="text-left"><i class="fa fa-cube fa-2x enabled"></i> Enabled &nbsp;&nbsp;</span>
          <span class="text-left"><i class="fa fa-cube fa-2x disabled"></i> Disabled</span>
          <button ng-show="tab.title !== 'Public' && tab.title !== 'Private' && !tab.edit" class="btn btn-default pull-right " ng-click="editTab(tab); tab.edit = !tab.edit">Edit</button>
          <a ui-sref="applications-systems" ng-show="tab.title === 'Private' && !tab.edit" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add</a>
        </div>

        <div ng-if="!tab.edit" class=" row top-buffer">
          <div ng-repeat="appMeta in tab.content | filter: query | orderBy: 'id' track by $index">
            <div class="col-md-3 text-center">
              <div class="material-card">
                <i class="fa fa-remove-sign text-right"></i>
                <div class="card-body">
                  <i class="fa fa-cube fa-3x" ng-class="{'enabled': appMeta.value.definition.available, 'disabled': !appMeta.value.definition.available}"></i>
                  <h3>{{appMeta.value.definition.id}}</h3>
                  <p>{{appMeta.value.definition.deploymentSystem}}</p>
                  <p>{{appMeta.value.definition.shortDescription | limitTo: 68}}{{appMeta.value.definition.shortDescription.length > 68 ? '...' : ''}}</p>
                </div>
                <div class="card-bottom">
                    <div class="btn-group dropdown text-center">
                      <span class="btn btn-primary" href="#" data-toggle="dropdown">
                          Actions
                          <i class="fa fa-angle-down"></i>
                      </span>
                      <ul class="dropdown-menu" role="menu">
                          <li ng-show="appMeta.value.type === 'agave' && appMeta.value.definition.available">
                              <a href="/rw/workspace/#/{{appMeta.value.definition.id}}" target="_blank" role="button"> <i class="fa fa-play"></i> Run </a>
                          </li>
                          <hr ng-show="appMeta.value.type === 'agave' && appMeta.value.definition.available">

                          <li ng-if="!appMeta.value.definition.isPublic">
                              <a ng-click="editApp(appMeta)" role="button"> <i class="fa fa-pencil"></i> Edit </a>
                          </li>
                          <hr ng-if="!appMeta.value.definition.isPublic">

                          <li ng-if="!appMeta.value.definition.isPublic || appMeta.value.type === 'html'">
                              <a ng-click="editPermissions(appMeta)" role="button"> <i class="fa fa-share"></i> Share </a>
                          </li>
                          <hr ng-if="!appMeta.value.definition.isPublic || appMeta.value.type === 'html'">

                          <li>
                              <a ng-click="clone(appMeta)" role="button"> <i class="fa fa-clone"></i> Clone </a>
                          </li>
                          <hr>

                          <li ng-if="!appMeta.value.definition.isPublic">
                              <a ng-click="confirmAction(appMeta, 'publish')" role="button"> <i class="fa fa-eye"></i> Publish </a>
                          </li>
                          <hr ng-if="!appMeta.value.definition.isPublic">

                          <li ng-if="!appMeta.value.definition.available && appMeta.value.type === 'agave'">
                              <a ng-click="confirmAction(appMeta, 'enable')" role="button"> <i class="fa fa-check"></i> Enable </a>
                          </li>
                          <hr ng-if="!appMeta.value.definition.available && appMeta.value.type === 'agave'">

                          <li ng-if="appMeta.value.definition.available && appMeta.value.type === 'agave'">
                              <a ng-click="confirmAction(appMeta, 'disable')" role="button"> <i class="fa fa-remove"></i> Disable </a>
                          </li>
                          <hr ng-if="appMeta.value.definition.available && appMeta.value.type === 'agave'">

                          <li>
                             <a ng-click="confirmAction(appMeta, 'delete')" role="button"> <i class="fa fa-trash-o"></i> Delete </a>
                         </li>
                      </ul>
                    </div>
                    <button class="btn btn-default" ng-click="getAppDetails(appMeta)">Details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="tab.edit" class="dnd-list">
          <div class="page-header">
            <h3>Customize your apps tray</h3>
            <p>
              Select any DesignSafe-CI Apps from the Apps tray and drag
              them to your customized tray. Click your tray title to edit it.
              Save your changes.
            </p>
          </div>
          <div class="row top-buffer">
            <div ng-repeat="list in tab.multiple.lists" class="col-md-6">
              <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                      <div ng-switch="list.listName">
                        <div ng-switch-when="Apps">
                          {{list.listName}}
                        </div>
                        <div ng-switch-default>
                          <a href="#" editable-text="list.listName">{{list.listName}}</a>
                        </div>
                      </div>
                    </h3>
                </div>
                <div class="panel-body text-center">
                  <ul dnd-list dnd-drop="onDrop(list, item, index)" class="list-inline">
                    <li ng-repeat="item in list.items"
                        dnd-draggable="getSelectedItemsIncluding(list, item)"
                        dnd-dragstart="onDragstart(list, event)"
                        dnd-moved="onMoved(list)"
                        dnd-dragend="list.dragging = false"
                        dnd-selected="item.selected = !item.selected"
                        ng-class="{'selected': item.selected}"
                        ng-hide="list.dragging && item.selected"
                        class="app-wrapper"
                        >
                          <div class="app text-center">
                            <div class="app-icon"><i class="fa fa-cube fa-3x" ng-class="{'enabled': item.value.definition.available, 'disabled': !item.value.definition.available}"></i></div>
                            <div class="app-title">{{item.value.definition.id}}</div>
                            <div class="app-version">{{item.value.definition.label}}</div>
                            <div class="app-version">{{item.value.definition.version}}</div>
                          </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="button-group pull-right" ng-show="list.listName !== 'Apps'">
                <button class="btn btn-default" ng-click="cancelTab(tab, list)">Cancel</button>
                <button class="btn btn-primary" ng-click="saveTab(tab, list)">Save</button>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="text-center top-buffer">
          <button ng-show="tab.title !== 'Public' && tab.title !== 'Private' && !tab.edit" class="btn btn-default" ng-click="editTab(tab); tab.edit = !tab.edit">Edit</button>
          <a ui-sref="applications-add" ng-show="tab.title === 'Private' && !tab.edit" class="btn btn-primary">Add</a>
        </div> -->
      </uib-tab>
      <!-- <button class="btn btn-default btn-tab" ng-click="addTab()" ><i class="fa fa-plus"></i></button> -->
    </uib-tabset>
</div>
